.cmp-mf-distribution-and-yields {
    @extend %mobile-full-width;
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(0px) !important;
    &__main-container-row {
        margin-left: calcRem(0px);
        margin-right: calcRem(0px);
    }
    &__table-section {
        display: none;
    }
    &__main-row {
        margin-left: calcRem(0px);
        margin-right: calcRem(0px);
        height: 100%;
    }
    &__list-container-styling {
        list-style: none;
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
        li {
            height: calcRem(64px);
            background: $white;
            margin-bottom: calcRem(2px);
            &:hover {
                background: $rain-tint;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
            }
        }
    }
    &__distribution-section {
        margin-top: calcRem(56px);
        padding-left: calcRem(0px);
        padding-bottom: calcRem(98px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
            margin-top: calcRem(40px);
            padding-bottom: calcRem(0px);
        }
    }
    &__rates-and-yields-section {
        margin-top: calcRem(56px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
            margin-top: calcRem(62px);
        }
    }
    &__section-heading {
        color: $white;
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        @include font-size(14px);
        letter-spacing: calcRem(1px);
        @include line-height(17px);
        margin-bottom: calcRem(24px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__sub-section {
        color: $white;
    }
    &__sub-section-text {
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        @include font-size(14px);
        letter-spacing: calcRem(0.5px);
        @include line-height(17px);
        padding-right: calcRem(4px);
        margin-bottom: calcRem(12px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__as-of-date {
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        @include font-size(12px);
        letter-spacing: normal;
        @include line-height(13px);
        margin-bottom: calcRem(13px);
    }
    &__30-day-yield-section {
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(32px);
        }
    }
    &__30-day-yield-sub-section {
        padding-bottom: calcRem(4px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(0px);
        }
    }
    &__labels {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        letter-spacing: normal;
        display: flex;
        align-items: center;
        color: $steel;
        &-text {
            padding-left: calcRem(24px);
            text-align: left;
            @include media-breakpoint-down(sm) {
                padding-left: calcRem(20px);
            }
        }
    }
    &__values {
        text-align: right;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        font-weight: $font-weight-bold;
        letter-spacing: normal;
        @include line-height(19px);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        @include media-breakpoint-down(sm) {
            @include font-size(14px);
            @include line-height(17px);
            padding-right: calcRem(20px);
            padding-left: calcRem(0px);
        }
        &-text {
            padding-right: calcRem(24px);
            @include media-breakpoint-down(sm) {
                padding-right: calcRem(20px);
            }
        }
    }
    &__second-section {
        margin-top: calcRem(40px) !important;
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(32px) !important;
        }
    }
}
.cmp-mf-distribution-and-yields--light-gray {
    li {
        background: $light-steel-3;
    }
}
.cmp-mf-distribution-and-yields--steel-text {
    .cmp-mf-distribution-and-yields {
        &__section-heading {
            color: $steel;
        }
        &__sub-section {
            color: $steel;
        }
    }
}
