.cmp-service-forms-results {
    &__item {
        border-radius: 2px;
        &:nth-of-type(odd) {
            background-color: $light-gray;
            border-top: 1px solid $medium-gray;
        }
        &:nth-of-type(even) {
            border-top: 1px solid $medium-gray;
        }
        a {
            color: $dark-rain;
            text-decoration: none;

            img {
                width: 32px;
                height: 17px;
            }
        }
    }
    &__description {
        margin-bottom: 30px;
    }
    &__td {
        padding-top: 23px;
        padding-bottom: 31px;
        padding-left: 19px;
        p {
            margin: 0;
        }
    }
    &__aof {
    	min-width: 242px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
    }
    &__phone {
        padding-left: 1rem;
    }
    &__button {
        width: 212px;
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
    &__mailing {
        width: 212px;
    }
    &__empty {
        margin-bottom: 36px;
    }
    &__close {
        @include media-breakpoint-down(sm) {
            position: absolute;

            a {
                float: right;
            }
        }
    }
    &__loadmore {
        margin-bottom: 50px;
    }
}