$top-sectors-color-mapping: (
    '0': $steel,
    '1': $medium-gold,
    '2': $medium-palm,
    '3': $medium-rain,
    '4': $dark-twilight,
    '5': $dark-gold,
    '6': $dark-rain,
    '7': $dark-sunset,
    '8': $medium-twilight,
    '9': $dark-palm,
    '10': $dark-dusk,
    '11': $dark-salmon,
    '12': $steel,
    '13': $medium-gold,
    '14': $medium-palm,
    '15': $medium-rain,
    '16': $dark-twilight,
    '17': $dark-gold,
    '18': $dark-rain,
    '19': $dark-sunset,
    '20': $medium-twilight,
    '21': $dark-palm,
    '22': $dark-dusk,
    '23': $dark-salmon
);

.cmp-top-sectors {
    background-color: transparent;
    @extend %mobile-full-width;
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(0px) !important;
    @include media-breakpoint-only(md) {
        padding-left: calcRem(15px);
        padding-right: calcRem(15px);
    }
    &__tooltip {
        &-datum {
            fill: $steel;
        }
        &-category {
            fill: $steel;
        }
    }
    .highcharts {
        &-tooltip {
            &-box {
                fill: $white;
                stroke: none;
            }
            span.cmp-top-sectors__tooltip-datum,
            span.cmp-top-sectors__tooltip-category {
                color: $steel;
                display: block;
                font-family: $font-family-helvetica-neue !important;
            }
        }
    }
    &.pie-variation &__chart {
        display: flex;
        flex-direction: column;
        &-container {
            height: calcRem(220px);
            width: calcRem(220px);
            @include media-breakpoint-down(sm) {
                height: calcRem(270px);
                width: calcRem(270px);
            }
        }
    }
    &.bar-variation {
        .highcharts {
            &-xaxis .highcharts-axis-line {
                stroke: $steel;
            }
            &-tooltip {
                span.cmp-top-sectors__tooltip-datum {
                    padding-bottom: calcRem(8px);
                    line-height: calcRem(15px);
                }
                span.cmp-top-sectors__tooltip-datum,
                span.cmp-top-sectors__tooltip-category {
                    font-size: calcRem(16px);
                    font-weight: $font-weight-medium;
                    letter-spacing: calcRem(-0.5px);
                    padding-left: calcRem(20px);
                    white-space: normal !important;
                }
                span.cmp-top-sectors__tooltip-category {
                    padding-bottom: calcRem(20px);
                    line-height: calcRem(22px);
                }
            }
            &-point {
                @each $num, $color in $top-sectors-color-mapping {
                    &.point-#{$num} {
                        fill: $color;
                        stroke: $color;
                    }
                }
            }
        }
    }
    &.pie-variation {
        .highcharts {
            &-point {
                @each $num, $color in $top-sectors-color-mapping {
                    &.point-#{$num} {
                        fill: $color;
                        stroke: $color;
                    }
                }
            }
            &-tooltip {
                text {
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    stroke: none;
                }
                span.cmp-top-sectors__tooltip-datum {
                    padding-top: calcRem(16px);
                    padding-bottom: calcRem(4px);
                    line-height: calcRem(13px);
                    font-size: calcRem(12px);
                    font-weight: $font-weight-medium;
                }
                span.cmp-top-sectors__tooltip-datum,
                span.cmp-top-sectors__tooltip-category {
                    letter-spacing: 0;
                    padding-left: calcRem(16px);
                    padding-right: calcRem(16px);
                    white-space: normal !important;
                }
                span.cmp-top-sectors__tooltip-category {
                    padding-bottom: calcRem(16px);
                    line-height: calcRem(12px);
                    font-size: calcRem(11px);
                }
            }
            &-credits {
                display: none;
            }
        }
    }
    &__chart-container {
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(24px);
        }
    }
    &__heading-section {
        margin-bottom: calcRem(24px);
        margin-top: calcRem(72px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(40px);
            padding-left: calcRem(20px);
        }
    }
    &__footer-text {
        margin-bottom: calcRem(40px);
        margin-top: calcRem(32px);
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: calcRem(0.1px);
        @include line-height(24px);
        color: $steel;
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(20px);
            padding-left: calcRem(20px);
            padding-right: calcRem(20px);
        }
    }
    &__main-row {
        margin-left: calcRem(0px);
        margin-right: calcRem(0px);
        @each $num, $color in $top-sectors-color-mapping {
            &.list-item-#{$num}:before {
                background-color: $color;
                @include media-breakpoint-down(sm) {
                    height: calcRem(56px);
                }
            }
        }
        &::before {
            content: '';
            height: calcRem(64px);
            position: absolute;
            width: calcRem(8px);
        }
        &:hover {
            @include media-breakpoint-up(md) {
                background: $rain-tint;
            }
        }
        &:hover,
        &.hover {
            &::before {
                @include media-breakpoint-up(md) {
                    width: calcRem(16px);
                }
            }
        }
    }
    &__table {
        @include media-breakpoint-down(sm) {
            padding-right: calcRem(0px);
            padding-left: calcRem(0px);
        }
        &--first {
            @include media-breakpoint-up(md) {
                padding-right: calcRem(5px);
            }
        }
        &--second {
            @include media-breakpoint-up(md) {
                padding-left: calcRem(5px);
            }
        }
    }
    &__table-chart-row {
        margin-bottom: calcRem(32px);
    }
    &__top-sectors-text {
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        @include line-height(17px);
        color: $steel;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        padding: calcRem(0px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(0px);
        }
        li {
            height: calcRem(64px);
            background: $white;
            margin-bottom: calcRem(2px);
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
            }
        }
    }
    &__labels {
        -ms-word-break: break-all;
        word-break: break-word;
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        height: calcRem(64px);
        display: flex;
        align-items: center;
        color: $steel;
        padding-left: calcRem(24px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            display: flex;
            align-items: center;
            padding-left: calcRem(20px);
            padding-right: calcRem(0px);
        }
    }
    &__values {
        text-align: right;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        @include line-height(19px);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: calcRem(64px);
        padding-right: calcRem(24px);
        padding-left: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            @include font-size(14px);
            @include line-height(17px);
            padding-right: calcRem(20px);
            padding-left: calcRem(0px);
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
    }

    &__as-of-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(13px);
    }

    &__section-heading-text {
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: calcRem(1px);
        @include line-height(17px);
    }
    &__second-list-container {
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(40px);
        }
    }
    &__container-div {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }

    &__main-container-row {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
            margin-right: calcRem(0px);
        }
    }
    &__main-section {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
}

.cmp-top-sectors--light-gray {
    .cmp-top-sectors {
        li {
            background: $light-steel-3;
        }
    }
}

.anchor-link-section {
    .cmp-color-container {
        .cmp-top-sectors__table {
            @include media-breakpoint-down(sm) {
                padding-left: calcRem(5px);
            }
        }
    }
}
