<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.title, classAppend='cmp-calculator-container-placeholder'}" />
</sly>

<div class="cmp-calculator-container" data-edit-mode="false">
    <div class="cmp-calculator-container__landing-view">
        <h4 class="cmp-calculator-container__landing-title">Retirement Savings Calculator</h4>
        <h3 class="cmp-calculator-container__landing-subtitle">Are you saving enough for retirement?</h3>
        <p class="cmp-calculator-container__landing-description">We can help you estimate your retirment saving goals.
        </p>
        <button class="cmp-calculator-container__landing-button nyl-button button--primary">Get started</button>
    </div>

    <div class="cmp-calculator-container__main-view">
        <div class="col-12 col-md-4 cmp-calculator-container__table-of-contents">
            <h4 class="cmp-calculator-container__table-of-contents__headline">Saving for Retirement
            </h4>
            <p class="cmp-calculator-container__steps">Step
                <span class="cmp-calculator-container__current-step">1</span>
                <span>of</span>
                <span class="cmp-calculator-container__last-step">3</span>
            </p>
            <ul class="cmp-calculator-container__table-of-contents-list">
                <li class="col-4 col-md-12 active"><span class="cmp-calculator-container_step">1</span><span>Age</span>
                </li>
                <li class="col-4 col-md-12"><span class="cmp-calculator-container_step">2</span><span>Income</span></li>
                <li class="col-4 col-md-12"><span class="cmp-calculator-container_step">3</span><span>Savings</span>
                </li>
                <li class="col-4 col-md-12"><span class="cmp-calculator-container_step">4</span><span>step 4
                        title</span></li>
                <li class="col-4 col-md-12"><span class="cmp-calculator-container_step">5</span><span>step 5
                        title</span></li>
                <li class="col-4 col-md-12"><span class="cmp-calculator-container_step">6</span><span>step 6
                        title</span></li>
            </ul>
        </div>
        <div class=" col-12 col-md-8 cmp-calculator-container__calculator">
            <div class="cmp-calculator-container__calculator-form">
                <form>
                    <section class="cmp-calculator-container__calculator-block active">
                        <h3 class="cmp-calculator-container__section-headline">Tell us a little about you</h3>
                    </section>
                    <section class="cmp-calculator-container__calculator-block">
                        <h3 class="cmp-calculator-container__section-headline">Lets a closer look at your income</h3>
                    </section>
                    <section class="cmp-calculator-container__calculator-block">
                        <h3 class="cmp-calculator-container__section-headline">Lets a closer look at your savings</h3>
                    </section>
                    <section class="cmp-calculator-container__calculator-block">
                        <h3 class="cmp-calculator-container__section-headline">Step 4 Headline</h3>
                    </section>
                    <section class="cmp-calculator-container__calculator-block">
                        <h3 class="cmp-calculator-container__section-headline">Step 5 Headline</h3>
                    </section>
                    <section class="cmp-calculator-container__calculator-block">
                        <h3 class="cmp-calculator-container__section-headline">Step 6 Headline</h3>
                    </section>
                </form>
            </div>
            <div class="d-flex cmp-calculator-container__button-container">
                <button class="cmp-calculator-container__back-button nyl-button button--secondary" type="button">Back
                </button>
                <button class="cmp-calculator-container__next-button nyl-button button--primary" type="button">Next
                </button>
                <button class="cmp-calculator-container__submit-button nyl-button button--primary" type="button"
                    onclick="">Submit
                </button>
            </div>
        </div>
    </div>
    <div class="cmp-calculator-container__success">
        <div class="cmp-calculator-container__success--container">
            <p class="cmp-calculator-container__success--pagetitle"></p>
            <h2 class="cmp-calculator-container__success--title"></h2>
            <p class="cmp-calculator-container__success--description"></p>
            <div
                class="cmp-calculator-container__success--age--more d-flex flex-column flex-md-row flex-wrap justify-content-between">
            </div>
            <div class="cmp-calculator-container__success--chart">
                <img src="" alt="">
            </div>
            <div class="cmp-calculator-container__success--disclaimer"></div>
            <hr class="cmp-calculator-container__success--divider">
            <div class="cmp-calculator-container__success--note"></div>
            <div class="d-flex justify-content-around">
                <div class="text-center cmp-calculator-container__start-over-container">
                    <button class="cmp-calculator-container__start-over-btn" type="button"></button>
                </div>
                <div class="text-center cmp-calculator-container__success--cta-btn-container">
                    <a href="" class="nyl-button button--primary" target="">
                        <span class="cmp-agent-presence-in-page__data-connect"></span>
                        <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
