<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.title, classAppend='cmp-calculator-container-placeholder'}" />
</sly>

<div class="cmp-calculator-container" data-edit-mode="false">
    <div class="cmp-calculator-container__landing-view">
        <h4 class="cmp-calculator-container__landing-title">Retirement Savings Calculator</h4>
        <h3 class="cmp-calculator-container__landing-subtitle">Are you saving enough for retirement?</h3>
        <p class="cmp-calculator-container__landing-description">We can help you estimate your retirment saving goals.
        </p>
        <button class="cmp-calculator-container__landing-button nyl-button button--primary">Get started</button>
    </div>

    <div class="cmp-calculator-container__main-view">
        <div class="col-12 col-md-4 cmp-calculator-container__table-of-contents">
            <h4 class="cmp-calculator-container__table-of-contents__headline">Saving for Retirement
            </h4>
            <p class="cmp-calculator-container__steps">Step
                <span class="cmp-calculator-container__current-step">1</span>
                <span>of</span>
                <span class="cmp-calculator-container__last-step">3</span>
            </p>
            <ul class="cmp-calculator-container__table-of-contents-list">
                <li class="col-4 col-md-12 active"><span class="cmp-calculator-container_step">1</span><span>Age</span>
                </li>
            </ul>
        </div>
        <div class=" col-12 col-md-8 cmp-calculator-container__calculator">
            <div class="cmp-calculator-container__calculator-form">
                <form>
                    <section class="cmp-calculator-container__calculator-block active">
                        <h3 class="cmp-calculator-container__section-headline">
                            section 1 headline</h3>
                        <p class="cmp-calculator-container__section-info">
                            section 1 Description<span class="cmp-calculator-container__section-info--icon"
                                data-toggle="popover" data-content="section 1 tooltip" data-original-title=""
                                title=""></span></p>
                        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                            <div class="form-text-field aem-GridColumn aem-GridColumn--default--12">
                                <div class="cmp-form-text-field">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="row">
                                            <label for="cmp-form-text-field---1446549670_13"
                                                class="cmp-form-text-field__label">clientAge</label>
                                            <span data-toggle="popover" data-content=" Valid values: 1 to 120"
                                                data-original-title="" title="">
                                                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/tool-tip-question-mark-icon.svg"
                                                    class="cmp-form-text-field__icon-tool-tip" alt=""></span>
                                            <input class="cmp-form-text-field__input" type="text"
                                                data-id="cmp-form-text-field---1446549670_13" masking-type="default"
                                                max-length="120" min-length="1" id="cmp-form-text-field---1446549670_13"
                                                name="clientAge" aria-invalid="false" value="25"
                                                aria-describedby="cmp-form-text-field---1446549670_13"
                                                placeholder=" Valid values: 1 to 120" required-type="true">
                                            <div>
                                                <span class="cmp-form-text-field__error-msg"
                                                    data-id="cmp-form-text-field---1446549670_13"
                                                    id="cmp-form-text-field---1446549670_13">clientAge error</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-text-field aem-GridColumn aem-GridColumn--default--12">
                                <div class="cmp-form-text-field">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="row">
                                            <label for="cmp-form-text-field--884285797_14"
                                                class="cmp-form-text-field__label">
                                                clientRetAge
                                            </label>
                                            <span data-toggle="popover" data-content="Valid values: 1 to 120"
                                                data-original-title="" title="">
                                                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/tool-tip-question-mark-icon.svg"
                                                    class="cmp-form-text-field__icon-tool-tip" alt=""></span>
                                            <input class="cmp-form-text-field__input" type="text"
                                                data-id="cmp-form-text-field--884285797_14" masking-type="default"
                                                max-length="120" min-length="1" id="cmp-form-text-field--884285797_14"
                                                name="clientRetAge" aria-invalid="false" value="66"
                                                aria-describedby="cmp-form-text-field--884285797_14"
                                                placeholder="Valid values: 1 to 120" required-type="true">
                                            <div>
                                                <span class="cmp-form-text-field__error-msg"
                                                    data-id="cmp-form-text-field--884285797_14"
                                                    id="cmp-form-text-field--884285797_14">clientRetAge error</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-range-slider aem-GridColumn aem-GridColumn--default--12">
                                <div class="cmp-form-range-slider">
                                    <div class="cmp-form-range-slider__wrapper" data-id="retirementYears--290845291_15"
                                        data-display="default">
                                        <div class="row cmp-form-range-slider__text-field-container">
                                            <div class="col-12 col-md-9">
                                                <label for="range-value-textbox---290845291_15"
                                                    id="form-range-slider---290845291_15"
                                                    class="cmp-form-range-slider__text-field-text">retirementYears<span
                                                        data-toggle="popover" data-content="Valid values: 1 to 40"
                                                        class="tooltipColor cmp-form-range-slider__tooltip"
                                                        data-original-title="" title=""><img
                                                            src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/tool-tip-question-mark-icon.svg"
                                                            class="icon-tool-tip" alt=""></span></label>
                                            </div>
                                            <div class="col-12 col-md-3 cmp-form-range-slider__value-container">
                                                <input type="textbox" class="cmp-form-range-slider__value" tabindex="-1"
                                                    data-id="retirementYears--290845291_15" readonly=""
                                                    id="range-value-textbox---290845291_15" name="retirementYears">
                                            </div>
                                        </div>
                                        <div class="cmp-form-range-slider__container"
                                            data-id="retirementYears--290845291_15">
                                            <span for="range-slider---290845291_15"
                                                class="cmp-form-range-slider__bubble"
                                                data-id="retirementYears--290845291_15"
                                                style="left: calc(0px);">1</span>
                                            <input type="range" class="cmp-form-range-slider__type"
                                                data-id="retirementYears--290845291_15" value="1" min="1" max="40"
                                                step="1" aria-labelledby="form-range-slider---290845291_15"
                                                style="background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(32, 95, 124)), from(rgb(233, 232, 232)));">
                                        </div>
                                        <div class="cmp-form-range-slider__values-container d-flex">
                                            <span> 1 </span>
                                            <span> 40</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
            <div class="d-flex cmp-calculator-container__button-container">
                <button class="cmp-calculator-container__back-button nyl-button button--secondary" type="button">Back
                </button>
                <button class="cmp-calculator-container__next-button nyl-button button--primary" type="button">Next
                </button>
                <button class="cmp-calculator-container__submit-button nyl-button button--primary" type="button">
                    <span>
                        <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                            alt="">${'calculator.general.resultsButton' @ i18n}
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="cmp-calculator-container__success">
        <div class="cmp-calculator-container__success--container">
            <p class="cmp-calculator-container__success--pagetitle"></p>
            <h2 class="cmp-calculator-container__success--title"></h2>
            <p class="cmp-calculator-container__success--description"></p>
            <div
                class="cmp-calculator-container__success--age--more d-flex flex-column flex-md-row flex-wrap justify-content-between">
            </div>
            <div class="cmp-calculator-container__success--chart">
                <img src="" alt="">
            </div>
            <div class="cmp-calculator-container__success--disclaimer"></div>
            <hr class="cmp-calculator-container__success--divider">
            <div class="cmp-calculator-container__success--note"></div>
            <div class="d-flex justify-content-around">
                <div class="text-center cmp-calculator-container__start-over-container">
                    <button class="cmp-calculator-container__start-over-btn" type="button"></button>
                </div>
                <div class="text-center cmp-calculator-container__success--cta-btn-container">
                    <a href="" class="nyl-button button--primary" target="">
                        <span class="cmp-agent-presence-in-page__data-connect"></span>
                        <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
