// DEFAULT STYLE
.cmp-color-container {
    background: $light-gray;
}
//BACKGROUND COLORS
@each $color-container-bg, $medium-color in $medium-colors {
    .cmp-color-container--#{$color-container-bg} .full-width {
        background: $medium-color;
    }
}

//DARK BACKGROUND COLORS
@each $dark-color-container-bg, $dark-color in $dark-colors {
    .cmp-color-container--#{$dark-color-container-bg} .full-width {
        background: $dark-color;
    }
}

.cmp-color-container--light-gray .full-width {
    background: $light-gray;
}
