<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.sectionTitle, classAppend='cmp-related-content-placeholder'}" />
<div class="cmp-related-content d-flex ${!properties.sectionTitle ? 'pt-0' : '' }"
    data-sly-use.sectionCta="${'com.nyl.foundation.models.LinkModel' @ prefix='sectionCta'}">
    <div class="cmp-related-content--lightCTA col" data-sly-test="${(properties.sectionTitle || sectionCta.text)}">
        <p class="title" data-sly-test="${properties.sectionTitle}">${properties.sectionTitle}</p>
        <a data-sly-unwrap="${!(sectionCta.url && sectionCta.title )}" href="${sectionCta.url}"
            target="${sectionCta.behavior}" title="${sectionCta.title}">
            <span data-sly-test="${sectionCta.text}" class="nyl-button button--secondary">${sectionCta.text} <img
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--dark-quartz.svg"
                    class="icon-cta-arrow" alt="">
            </span>
        </a>
    </div>
    <div class="col">
        <div data-sly-test="${properties.sectionTitle}" class="cmp-related-content__title d-flex">
            <h4>${properties.sectionTitle}</h4>
            <a data-sly-unwrap="${!(sectionCta.url && sectionCta.title)}" href="${sectionCta.url}"
                target="${sectionCta.behavior}" title="${sectionCta.title}"><span
                    class="nyl-button button--transparent"> ${sectionCta.text} <img data-sly-test=" ${sectionCta.text}"
                        src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg"
                        class="icon-cta-arrow" alt="">
                </span>
            </a>
        </div>
        <sly data-sly-use.linkList="${'com.nyl.foundation.models.LinkListModel' @ child='multiRelatedContent'}"
            data-sly-list.link="${linkList.links}">
            <sly data-sly-use.imageResource="${'com.nyl.foundation.models.ResourceModel' @resourcePath=link.url, appendPath='jcr:content'}"
                data-sly-test.targetProperties="${imageResource.getProperties}">
                <div data-sly-test="${targetProperties.thumbnailImage}" class="cmp-related-content__section d-flex row">
                    <div class="col">
                        <h3>
                            <a data-sly-unwrap="${!(link.url && link.title)}" href="${link.url}" title="${link.title}"
                                target="${link.behavior}">${link.text}</a>
                        </h3>
                        <p>${link.description}</p>
                    </div>
                    <div class="col"
                        data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='related-content', imagePath=targetProperties.thumbnailImage}">
                        <a href="${link.url}"
                            onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                            title="${imageModel.altText @ i18n}" target="${link.behavior}">
                            <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                                data-sly-call="${image.pictureTemplate @ imageModel=imageModel, imgClass='mw-100'}">
                            </sly>
                        </a>
                    </div>
                </div>
                <div data-sly-test="${!targetProperties.thumbnailImage}"
                    class="cmp-related-content__section cmp-related-content__section--noimage d-flex row">
                    <div class="col">
                        <h3>
                            <a data-sly-unwrap="${!(link.url && link.title)}" href="${link.url}" title="${link.title}"
                                target="${link.behavior}">${link.text}</a>
                        </h3>
                        <p>${link.description}</p>
                    </div>
                </div>
            </sly>
        </sly>
    </div>
    <div class="cmp-related-content--lightCTAButton" data-sly-test="${sectionCta.text}">
        <a href="${sectionCta.url}" title="${sectionCta.title}"> <span
                class="nyl-button button--secondary">${sectionCta.text} <img
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--dark-quartz.svg"
                    class="icon-cta-arrow" alt="">
            </span>
        </a>
    </div>
</div>
