<div class="cmp-header">
    <div id="header"></div>
</div>
<div class="cmp-anchor-link-container__style-top-anchor-link__header">
    <div class="cmp-anchor-link-container__section-list container">
        <div id="cmpAnchorLinkScroll--1139138517_10" class="cmp-anchor-link-container__section-list-inner">
            <a class="cmp-anchor-link-container__section-list-inner--item active" href="">
                Anchor Link section 1
            </a>
        </div>
    </div>
</div>
<div class="product-container">
    <div class="cmp-product-container">
        <div class="cmp-product-container__content-section">
            <div class="col-md-2">
                <ul class="cmp-product-container__list-group">
                    <li><a>Left Nav 1</a></li>
                    <li><a>Left Nav 2</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="cmp-product-container__product-section">
                    <div class="product">
                        <div class="cmp-product">
                            <div class="cmp-product__accordion-item open">
                                <h2 class="cmp-product__accordion-item--heading"
                                    data-leftnav="<p>Annuities Left Nav 1</p>">
                                </h2>
                                <em class="icon-caret"></em>
                                <p>Annuities 1</p>
                                </h2>
                                <div class="cmp-product__accordion-item--content">
                                    <div class="i18-label">Investments and insurance products are: Not FDIC/NCUA Insured
                                        | Not Insured by Any Federal
                                        Government Agency | Not a Deposit or Other Obligation of, or Guaranteed by, the
                                        Bank or Any of its Affiliates | May
                                        Lose Value</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="cmp-product">
                            <div class="cmp-product__accordion-item">
                                <h2 class="cmp-product__accordion-item--heading"
                                    data-leftnav="<p>Annuities Left Nav 2</p>">
                                </h2>
                                <em class="icon-caret"></em>
                                <p>Annuities 2</p>
                                </h2>
                                <div class="cmp-product__accordion-item--content">
                                    <div class="i18-label">Investments and insurance products are: Not FDIC/NCUA Insured
                                        | Not Insured by Any Federal
                                        Government Agency | Not a Deposit or Other Obligation of, or Guaranteed by, the
                                        Bank or Any of its Affiliates | May
                                        Lose Value</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
