.cmp-maturity-breakdown {
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(0px) !important;
    @extend %mobile-full-width;
    &__main-section {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__heading-section {
        padding-top: calcRem(72px);
        padding-bottom: calcRem(24px);
        color: $steel;
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
            padding-left: calcRem(20px);
        }
    }
    &__container-div {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__main-row {
        margin-left: calcRem(0px);
        margin-right: calcRem(0px);
    }
    &__main-container-row {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
            margin-right: calcRem(0px);
        }
    }
    &__maturity-breakdown-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        @include line-height(17px);
        text-transform: uppercase;
    }
    &__list-container {
        list-style: none;
        padding: calcRem(0px);
        margin-bottom: calcRem(72px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(32px);
        }
        li {
            height: calcRem(64px);
            background: $white;
            margin-bottom: calcRem(2px);
            &:hover {
                background: $rain-tint;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
                margin-bottom: calcRem(2px);
            }
        }
    }
    &__as-of-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(13px);
    }
    &__labels {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        height: calcRem(64px);
        display: flex;
        align-items: center;
        color: $steel;
        padding-left: calcRem(24px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            display: flex;
            align-items: center;
            padding-left: calcRem(20px);
            padding-right: calcRem(0px);
        }
    }
    &__values {
        text-align: right;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        @include line-height(19px);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: calcRem(64px);
        padding-right: calcRem(24px);
        padding-left: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            @include font-size(14px);
            @include line-height(17px);
            padding-right: calcRem(20px);
            padding-left: calcRem(0px);
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
    }
}

.cmp-maturity-breakdown--light-gray {
    li {
        background: $light-steel-3;
    }
}
