<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.elementName, classAppend='cmp-form-text-field-placeholder'}" />
<div class="cmp-form-text-field" data-sly-test=${properties.elementName}
    data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
    <label for="cmp-form-text-field--${identifier.id}" class="cmp-form-text-field__label">
        ${properties.question}<span data-toggle="popover" data-sly-test=${properties.toolTip} 
            data-content="${properties.toolTip}"><img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/tool-tip-question-mark-icon.svg"
                class="cmp-form-text-field__icon-tool-tip" alt="">
        </span>
    </label>
    <input class="cmp-form-text-field__input" type="text" data-id="cmp-form-text-field--${identifier.id}"
        masking-type="${properties.inputMaskingType}" max-length="${properties.maxValue}"
        min-length="${properties.minValue}" id="cmp-form-text-field--${identifier.id}"
        name="${properties.elementName}" aria-invalid="false"
        aria-describedBy="cmp-form-text-field--${identifier.id}" placeholder="${properties.placeholderValue}"
        required-type="${properties.required}" />
    <span class="cmp-form-text-field__error-msg" data-id="cmp-form-text-field--${identifier.id}"
        id="cmp-form-text-field--${identifier.id}">${properties.errorMessage}</span>
</div>
