.cmp-pull-quote {
    margin: 24px 0 0;
    position: relative;
    padding-left: 22px;
    padding-bottom: 10px;
    &:before {
        content: '';
        background: $grey-medium;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 4px;
    }
    &__quote {
        font-family: $font-family-alda-pro;
        font-size: 30px;
        line-height: 40px;
        font-weight: normal;
        text-align: left;
        margin: 0;
        color: $cool-black;
        @include media-breakpoint-up(lg) {
            font-size: 36px;
            line-height: 48px;
        }
    }
    &__userimg,
    .card-body,
    > svg {
        display: none;
    }
    &--highlighted {
        .cmp-pull-quote {
            padding: 0;
            &:before {
                display: none;
            }
            > svg {
                width: 38px;
                height: 28px;
                display: block;
                @include media-breakpoint-up(lg) {
                    width: 43px;
                    height: 32px;
                }
                path {
                    fill: $grey-medium;
                }
            }
            .card-body {
                display: block;
                padding-left: 15px;
                position: relative;
            }
            &__quote {
                margin: 24px 0;
                color: $cool-black;
                @include media-breakpoint-up(lg) {
                    margin: 32px 0;
                }
            }
            &__attribution {
                font-family: $font-family-effra-pro;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 2px;
                color: $grey-dark;
                margin: 0;
                &:before {
                    content: '-';
                    position: absolute;
                    left: 0;
                    color: $grey-medium;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: 2px;
                }
            }
            &__title {
                font-family: $font-family-effra-pro;
                font-size: 14px;
                font-weight: normal;
                line-height: 24px;
                color: $grey-dark;
                margin: 0;
            }
        }
    }
}
