<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = (!properties.headline && !properties.description && !properties.imagePath) , classAppend='cmp-card-placeholder'}" />

<div class="cmp-card d-flex" id="${properties.htmlId}"
    data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ prefix='cardCta'}"
    data-sly-use.pageInfoModel="${'com.nyl.foundation.models.PageInfoModel' @linkUrl=properties.cardCtaLinkUrl, title=properties.title, description=properties.description, titleFromPage=properties.titleFromPage, descriptionFromPage=properties.descriptionFromPage}"
    data-sly-use.styleLookupModel="${'com.nyl.foundation.models.StyleLookupModel'}"
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='card', imagePath= properties.imagePath, imageAltText=properties.imageAltText, aspectRatio=styleLookupModel.aspectRatio, isResponsive=true}"
    data-sly-set.showAnchor="${linkModel.url && linkModel.title}">
    <a data-sly-unwrap="${!showAnchor}"
        onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
        href="${linkModel.url}" title="${linkModel.title}" target="${linkModel.behavior}"
        class="cmp-card__content-wrapper d-flex w-100">
        <div class="cmp-card__feature-card-column" data-sly-test="${properties.imagePath}">
            <div class="cmp-card__image-wrapper">
                <sly data-sly-test="${!imageModel.svg}"
                    data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                    data-sly-call="${image.pictureTemplate @ imageModel=imageModel, pictureClass='cmp-card__image',imgClass='mw-100 polyfill-object-fit-ie'}">
                </sly>
                <sly data-sly-test="${imageModel.svg}">
                    ${imageModel.svgSource @ context='unsafe'}
                </sly>
            </div>
        </div>
        <div class="cmp-card__content">
            <div>
                <div data-sly-test="${properties.pretitle}" class="cmp-card__pretitle">${properties.pretitle}</div>
                <p data-sly-element="${properties.type @ context='elementName'}" class="text__medium"
                    data-sly-test="${pageInfoModel.title}">
                    <span> ${pageInfoModel.title} </span>
                </p>
                <div class="text__body" data-sly-test="${pageInfoModel.description}">${pageInfoModel.description @
                    context='html'}</div>
            </div>
            <span data-sly-test="${linkModel.text}" class="cmp-card__link">
                <span class="button--transparent">
                    <span>${linkModel.text}</span>
                    <div class="arrow-icon">
                        <div class="arrow"></div>
                    </div>
                </span>
            </span>
        </div>
    </a>
</div>
