<div id='header'></div>
<div class="cmp-compare-products">
    <div class="cmp-compare-products__graph compare-products-container">
        <div id='ec-investment-compare-container-investment-compare-group-section-panel-header-row'>
            <section class='ec-section__section ec-section__section--action-table ec-section--no-header'></section>
        </div>
    </div>
    <div class="cmp-compare-products__rotate">
        <p class="cmp-compare-products__rotate-title">
            This is Mobile Title
        </p>
        <p class="cmp-compare-products__rotate-description">
            This is Mobile Description
        </p>
    </div>
</div>
