@import (once) "/libs/wcm/foundation/clientlibs/grid/grid_base.less";
 
/* maximum amount of grid cells to be provided */
@max_col: 12;
 
/* default breakpoint */
.aem-Grid {
    .generate-grid(default, @max_col);
    width: auto;
}

/* Mobile breakpoint */
@media (max-width: 575px) {
    .aem-Grid {
        .generate-grid(mobile, @max_col);
    }
}

/* Tablet breakpoint */
@media (min-width: 576px) and (max-width: 1023px) {
    .aem-Grid {
        .generate-grid(tablet, @max_col);
    }
}
