//Search input scss
.cmp-search-input {
    @extend %full-width;
    background-color: $light-steel-3;
    > .row {
        max-width: $max-grid-width;
    }
    #cmp-search-input--search-form {
        width: 40%;
        margin: 0px auto;
        padding: 60px 0 50px 0;
        @include media-breakpoint-down(md) {
            width: 60%;
        }
        @include media-breakpoint-down(sm) {
            width: 90%;
            margin: 0 20px;
        }
    }
    .input-group {
        background-color: $white;
        flex-wrap: nowrap;
        margin-bottom: calcRem(0px) !important;
    }
    h1 {
        @extend .base-font;
        font-family: $font-family-alda;
        @include font-size(22px);
        @include line-height(30px);
        color: $steel;
        margin-bottom: 16px;
    }

    legend {
        display: none;
    }
    &__search-input {
        @include search-input;
    }
    &__search-btn {
        @include search-button;
    }
    // hide default close icon on chrome
    input[type='search' i]:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
        display: none;
    }
    // hide default close icon on safari
    input[type='search']::-webkit-search-cancel-button {
        display: none;
    }
    &__autocomplete-container-div {
        max-height: calcRem(132px);
        background: $white;
        @include media-breakpoint-down(sm) {
            max-height: calcRem(164px);
        }
    }
    &__autocomplete-list-container {
        list-style: none;
        padding-left: calcRem(0px);
        max-height: calcRem(130px);
        padding-top: calcRem(0.5px);
        padding-bottom: calcRem(0.5px);
        overflow-y: auto;
        border: solid calcRem(1px) $light-palm-2;
        @include media-breakpoint-down(sm) {
            max-height: calcRem(162px);
        }
    }
    &__autocomplete-list-item {
        background: $white;
        padding-left: calcRem(16.5px);
        height: calcRem(32px);
        display: flex;
        align-items: center;
        @include font-size(14px);
        @include line-height(24px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        color: $steel;
        &:hover {
            background: $light-steel-3;
        }
        @include media-breakpoint-down(sm) {
            height: calcRem(40px);
        }
    }
    &__autocomplete-list-item.active-li {
        background: $light-steel-3;
    }

    @include search-component-icons;
}
