<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-agent-web-container-placeholder'}" />
<div class="cmp-agent-web-container"
    data-sly-use.agentWebContainerModel="${'com.nyl.nylcom.models.agentweb.AgentWebContainerModel'}">
    <sly data-sly-resource="${'agent-web-container-parsys' @resourceType='wcm/foundation/components/responsivegrid'}"
        data-sly-test="${agentWebContainerModel.showContainer}" />
</div>
