<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.headline, classAppend='cmp-banner-placeholder'}" />
<div class="cmp-banner">
    <div class="cmp-banner__image-container">
        <sly data-sly-test="${properties.imagePath}"
            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.imageTemplate @ componentName='banner', imagePath=properties.imagePath,imgClass='parallax'}">
        </sly>

        <div data-sly-use.mediaPlayerModel="${'com.nyl.foundation.models.MediaPlayerModel' @videoAudioCfPath= properties.videoOrAudioContentFragment}"
            data-sly-test.mediaDetails="${mediaPlayerModel.mediaPlayer}"
            data-sly-use.identifierModel="com.nyl.foundation.models.IdGeneratorModel"
            data-sly-test="${properties.videoOrAudioContentFragment && mediaDetails.mediaType=='video'}"
            class="cmp-banner__video-player d-none">
            <video-js
                data-sly-use.requestAttributeModel="${'com.nyl.foundation.models.RequestAttributeModel' @setComponentName='video'}"
                id="video-${identifierModel.id}" data-account="${mediaDetails.accountId}"
                data-player="${mediaDetails.singlePlayerId}" data-video-id="${mediaDetails.mediaId}" data-playlist-id=""
                data-embed="default" data-application-id="" controls>
            </video-js>
            <button type="button" aria-label="${'foundation.buttons.close' @ i18n}" class="close">
                <i class="cmp-banner__video-player--close" aria-hidden="true"></i>
            </button>
        </div>
        <div class="cmp-banner__gradient"></div>
        <div class="cmp-banner__color-overlay" data-color-overlay-opacity="${properties.colorOverlayOpacity}"></div>
        <div class="cmp-banner__rule">
            <div class="cmp-banner__thick-rule"></div>
            <div class="cmp-banner__thin-rule"></div>
        </div>
    </div>
    <div class="cmp-banner__wrapper row">
        <div class="col-12 col-lg-9">
            <img data-sly-test="${properties.logoImagePath}"
                data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.logoImagePath,imageAltText= properties.logoImageAltText}"
                class="cmp-banner__logo-image" src="${properties.logoImagePath}" alt="${imageModel.altText}" />
            <div class="cmp-banner__eyebrow" data-sly-test="${properties.eyebrow}">${properties.eyebrow}</div>
            <h2 data-sly-element="${properties.headingElement @ context='elementName'}" class="cmp-banner__headline" data-sly-test="${properties.headline}"
                data-sly-use.headline="${'com.nyl.foundation.models.FormatterModel' @ input=properties.headline}">
                ${headline.replaceNewlineWithBrTag @context='html'}</h2>
            <div class="cmp-banner__subhead" data-sly-test="${properties.subhead}">${properties.subhead}</div>
            <div class="cmp-banner__description" data-sly-test="${properties.description}">${properties.description
                @context= 'html'}</div>
            <div class="cmp-banner__button" data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel'}"
                data-sly-test="${(linkModel.text && linkModel.url) || properties.enableSocialShareComponent}">
                <a href="${linkModel.url}" title="${linkModel.title}" target="${linkModel.behavior}"
                    data-sly-test="${linkModel.text && linkModel.url}">
                    <span class="nyl-button">
                        <i class="nyl-button--icon-prepend"
                            data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @ imagePath=properties.buttonIconPath}"
                            data-sly-test="${imageModel.svg}" aria-hidden="true">
                            ${imageModel.svgSource @ context='unsafe'}</i>
                        ${linkModel.text}
                        <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                    </span>
                </a>
                <div class="cmp-banner__social-share" data-sly-test="${properties.enableSocialShareComponent}"
                    data-sly-resource="${'socialshare' @ resourceType='nyl-foundation/components/content/social-share',decorationTagName='div'}">
                </div>
            </div>
            <div data-sly-test="${properties.videoOrAudioContentFragment && mediaDetails.mediaType=='video'}"
                class="cmp-banner__video">
                <a href="#" title="${'foundation.buttons.playVideo' @ i18n}">
                    <span class="cmp-banner__video--icon"></span>
                    <span data-sly-test="${mediaDetails.title}"
                        class="cmp-banner__video--title">${mediaDetails.title}</span>
                    <span data-sly-test="${mediaDetails.mediaMinutes && mediaDetails.mediaMinutes}"
                        class="cmp-banner__video--duration">(${'{0}:{1}'@ format=[mediaDetails.mediaMinutes,
                        mediaDetails.mediaSeconds]})</span>
                </a>
            </div>
        </div>
        <div data-sly-test="${properties.enableEmailSubscribeComponent || properties.featuredText || properties.logoImagePath}"
            class="col">
            <div data-sly-test="${properties.enableEmailSubscribeComponent}" class="cmp-banner__email-subscribe"
                data-sly-resource="${'emailsubscribe' @ resourceType='nylim/components/content/email-subscribe',decorationTagName='div'}">
            </div>
            <div data-sly-test="${properties.featuredText && !properties.enableEmailSubscribeComponent}"
                class="cmp-banner__featured-text cmp-rte">
                ${properties.featuredText @context= 'html'}
            </div>
            <sly data-sly-test="${!properties.enableEmailSubscribeComponent && !properties.featuredText}">
                <img data-sly-test="${properties.logoImagePath}"
                    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.logoImagePath,imageAltText= properties.logoImageAltText}"
                    class="cmp-banner__logo-image" src="${properties.logoImagePath}" alt="${imageModel.altText}" />
            </sly>
        </div>
    </div>
    <div data-sly-test="${properties.featuredText}" class="cmp-banner__secondary row">
        <div class="cmp-banner__featured-text cmp-rte col">
            ${properties.featuredText @context= 'html'}
        </div>
    </div>
</div>
