.cmp-product {
    margin-bottom: 4px;
    @extend %mobile-full-width;
    &__description-text.description p {
        @include font-size(14px);
        @include line-height(20px);
    }
    &__accordion-item {
        @media print {
            display: none;
            &.open {
                display: block;
                [class$='--content'] {
                    display: block;
                    position: relative;
                    top: initial;
                    left: initial;
                }
            }
        }
        &--heading.heading-text {
            cursor: pointer;
            margin: 0;
            padding: 24px 24px 24px 20px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            p {
                font-family: $font-family-alda;
                @include font-size(26px);
                @include line-height(32px);
                @include media-breakpoint-down(sm) {
                    @include font-size(16px);
                    @include line-height(22px);
                }
            }
            p,
            .icon-caret {
                color: $white;
                position: relative;
                z-index: 1;
                margin: 0;
            }
            img {
                position: absolute;
                top: 0;
                width: 100%;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                height: 100%;
            }
            .icon-caret {
                background-image: url('../resources/images/icon-arrow-3--white.svg');
                width: calcRem(17px);
                height: calcRem(8px);
                margin-right: calcRem(17px);
                display: inline-block;
                background-size: 17px 7px;
                background-position: center;
                vertical-align: middle;
                background-repeat: no-repeat;
                @include media-breakpoint-down(sm) {
                    width: calcRem(15px);
                    height: calcRem(7px);
                    background-size: 15px 7px;
                    margin-right: calcRem(15px);
                }
            }
        }
        &--content {
            position: absolute;
            top: -99999px;
            left: -99999px;
            &-link {
                margin: 6px 0 10px;
                .anchor-link {
                    @include font-size(14px);
                    font-weight: bold;
                    @include line-height(24px);
                    color: $steel;
                    .icon-pdf {
                        background-image: url('../resources/images/icon-pdf.png');
                        background-size: 37px 41px;
                        background-repeat: no-repeat;
                        width: calcRem(37px);
                        height: calcRem(41px);
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
            .product-disclosures p {
                @include font-size(11px);
                @include line-height(14px);
                letter-spacing: 0.22px;
            }
            .i18-label {
                font-weight: bold;
                @include font-size(11px);
                @include line-height(14px);
            }
            .cmp-product-intro {
                margin: 13px 0 15px;
                & p {
                    @include font-size(14px);
                    @include line-height(20px);
                }
            }
            .aem-Grid > .responsivegrid:nth-child(odd) {
                padding-right: 7.5px;
                @include media-breakpoint-down(md) {
                    padding-right: 0;
                }
            }
            .aem-Grid > .responsivegrid:nth-child(even) {
                padding-left: 7.5px;
                @include media-breakpoint-down(md) {
                    padding-left: 0;
                }
            }
        }
        &.open {
            .cmp-product__accordion-item {
                &--heading {
                    .icon-caret {
                        transform: rotate(-180deg);
                    }
                }
                &--content {
                    display: block;
                    margin-bottom: 47px;
                    padding-top: 2px;
                    position: relative;
                    top: initial;
                    left: initial;
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 27px;
                        padding: 2px 20px 0;
                    }
                }
            }
        }
    }
}
