<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-rte-table-row-placeholder'}" />
<div class="cmp-rte-table-row">
    <div class="row"
        data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @resourcePath=resource.path, appendPath='columnText'}"
        data-sly-list.cell="${resourceModel.children}">
        <div data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @linkUrl=cell.ctaLinkUrl }"
            class="cmp-rte-table-row__cell">
            <a data-sly-test="${cell.ctaLinkUrl}" href="${linkModel.linkUrl}${cell.fundId ? '?' : ''}"
                class="cmp-rte-table-row__cell__description" target="${cell.ctaLinkBehavior}"
                title="${cell.ctaLinkTitle}" data-fund-id="${cell.fundId}"> ${cell.description @ context='html'}
                <span data-sly-unwrap="${cell.description}" class="show-icon"></span>
            </a>
            <span class="cmp-rte-table-row__cell__description" data-sly-test="${!cell.ctaLinkUrl}">${cell.description @
                context='html'}</span>
            <span class="cmp-rte-table-row__cell--value">${cell.columnSpan ? cell.columnSpan : '1'}</span>
        </div>
    </div>
</div>
