<div class="cmp-cost-of-ltc__card--category-heading">
    <div class="row">
        <div class="cmp-cost-of-ltc__card--table-unit col-8">Unit</div>
        <div class="cmp-cost-of-ltc__card--table-month col-4">daily</div>
    </div>
</div>

<div class="row">
    <div class="cmp-cost-of-ltc__card--table-room col-8">
        <span>Studio Rate<sup>2</sup></span>
        <p class="cmp-cost-of-ltc__card--table-room-avg">UsNational</p>
    </div>
    <div class="cmp-cost-of-ltc__card--table-rate col-4">
        <span>$114.39</span>
        <p class="cmp-cost-of-ltc__card--table-rate-avg">$132.17</p>
    </div>
</div>

<div class="row">
    <div class="cmp-cost-of-ltc__card--table-room col-8">
        <span>Monthly Rate 2 Bedroom<sup>2</sup></span>
        <p class="cmp-cost-of-ltc__card--table-room-avg">UsNational</p>
    </div>
    <div class="cmp-cost-of-ltc__card--table-rate col-4">
        <span>$146.94</span>
        <p class="cmp-cost-of-ltc__card--table-rate-avg">$138.22</p>
    </div>
</div>
