<div class="row">
    <div class="cmp-cost-of-ltc__card--table-room col-8">
        <span>Studio Rate<sup>2</sup></span>
        <p class="cmp-cost-of-ltc__card--table-room-avg">UsNational</p>
    </div>
    <div class="cmp-cost-of-ltc__card--table-rate col-4">
        <span>$0</span>
        <p class="cmp-cost-of-ltc__card--table-rate-avg">$0</p>
    </div>
</div>

<div class="row">
    <div class="cmp-cost-of-ltc__card--table-room col-8">
        <span>Monthly Rate 2 Bedroom<sup>2</sup></span>
        <p class="cmp-cost-of-ltc__card--table-room-avg">UsNational</p>
    </div>
    <div class="cmp-cost-of-ltc__card--table-rate col-4">
        <span>$0</span>
        <p class="cmp-cost-of-ltc__card--table-rate-avg">$0</p>
    </div>
</div>
