<div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
    <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration hourly active" value="hourly">Hourly</button>
</div>
<div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
    <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration daily" value="daily">Daily</button>
</div>
<div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
    <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration monthly" value="monthly">Monthly</button>
</div>
<div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
    <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration yearly" value="yearly">Yearly</button>
</div>
