<div class="cmp-cost-of-ltc__card--category-heading">
    <div class="row">
        <div class="cmp-cost-of-ltc__card--table-unit col-8">Type</div>
        <div class="cmp-cost-of-ltc__card--table-month col-4">daily</div>
    </div>
</div>

<div class="row">
    <div class="cmp-cost-of-ltc__card--table-room col-8">
        <span>Semi-Private Room Annual<sup>3</sup></span>
        <p class="cmp-cost-of-ltc__card--table-room-avg">UsNational</p>
    </div>
    <div class="cmp-cost-of-ltc__card--table-rate col-4">
        <span>$327.79</span>
        <p class="cmp-cost-of-ltc__card--table-rate-avg">$265.87</p>
    </div>
</div>

<div class="row">
    <div class="cmp-cost-of-ltc__card--table-room col-8">
        <span>Private Room Annual Rate<sup>3</sup></span>
        <p class="cmp-cost-of-ltc__card--table-room-avg">UsNational</p>
    </div>
    <div class="cmp-cost-of-ltc__card--table-rate col-4">
        <span>$410.62</span>
        <p class="cmp-cost-of-ltc__card--table-rate-avg">$303.42</p>
    </div>
</div>
