<option value="" selected="" disabled="">Select a region</option>
<option value="NON-METRO">NON-METRO</option>
<option value="PHOENIX-MESA">PHOENIX-MESA</option>
<option value="TUCSON">TUCSON</option>
