<div class="cmp-cost-of-ltc__card--category-heading">
    <div class="row">
        <div class="cmp-cost-of-ltc__card--table-unit col-8">Type</div>
        <div class="cmp-cost-of-ltc__card--table-month col-4">yearly</div>
    </div>
</div>

<div class="row">
    <div class="cmp-cost-of-ltc__card--table-room col-8">
        <span>Semi-Private Room Annual<sup>3</sup></span>
        <p class="cmp-cost-of-ltc__card--table-room-avg">UsNational</p>
    </div>
    <div class="cmp-cost-of-ltc__card--table-rate col-4">
        <span>$119,722.8</span>
        <p class="cmp-cost-of-ltc__card--table-rate-avg">$97,107</p>
    </div>
</div>

<div class="row">
    <div class="cmp-cost-of-ltc__card--table-room col-8">
        <span>Private Room Annual Rate<sup>3</sup></span>
        <p class="cmp-cost-of-ltc__card--table-room-avg">UsNational</p>
    </div>
    <div class="cmp-cost-of-ltc__card--table-rate col-4">
        <span>$149,975.88</span>
        <p class="cmp-cost-of-ltc__card--table-rate-avg">$110,821.92</p>
    </div>
</div>
