.cmp-email-subscribe {
    margin: $component-margin 0;
    .cmp-email-subscribe__success-panel {
        display: none;
    }
    .section-background {
        padding-left: calcRem(80px);
        padding-right: calcRem(80px);
        border-radius: 4px;
        background-color: $medium-quartz;

        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
            padding-right: calcRem(20px);
        }
    }

    &__title {
        padding-top: calcRem(58px);

        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
        }
    }

    &__subtitle {
        padding-top: calcRem(20px);

        p {
            margin-bottom: 0;
        }
    }

    &__button {
        padding-bottom: calcRem(60px);
        margin: 0 auto;

        @include media-breakpoint-down(sm) {
            padding-top: calcRem(20px);
            padding-bottom: calcRem(135px);
            width: 100%;

            button {
                min-width: 100%;
            }
        }

        &--checkbox {
            display: inline-block;
            text-align: left;

            @include media-breakpoint-down(sm) {
                display: block;
            }

            label {
                color: $black;
                font-size: calcRem(18px);
                margin-right: 10px;
            }
        }

        &--input {
            width: 74.3%;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }

    &__image {
        padding-left: 0;
        padding-right: 0;
    }

    &__image-container {
        position: relative;
        left: -87px;
        top: 50%;
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
        max-width: 247px;
        width: 100%;

        .st0 {
            fill: #3f3f3f;
        }

        @include media-breakpoint-down(sm) {
            top: -95px;
            margin-bottom: -110px;
            text-align: center;
            left: 0;
            transform: none;
        }
    }

    &__intro-text {
        display: none;

        &--secondary {
            padding-top: calcRem(40px);

            p {
                margin-bottom: 0;
            }

            @include media-breakpoint-down(sm) {
                padding-top: calcRem(20px);
                padding-bottom: 0;
            }
        }
    }

    &__intro-text--secondary,
    &__secondary-button {
        padding-top: calcRem(40px);
        padding-bottom: calcRem(40px);
    }

    &__secondary-button {
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(20px);

            button {
                min-width: 100%;
            }
        }
    }

    .btn-outline-secondary {
        &:hover {
            background-color: $dark-grey-blue;
        }
    }

    &--success-panel {
        .cmp-email-subscribe__success-panel {
            display: flex;
        }

        .cmp-email-subscribe__wrapper {
            display: none;
        }

        padding-top: calcRem(60px);

        @include media-breakpoint-down(sm) {
            padding-top: calcRem(60px);
        }

        .section-background {
            padding-left: calcRem(80px);
            padding-right: calcRem(80px);
            min-height: 400px;

            p {
                @extend h2;
            }

            @include media-breakpoint-down(sm) {
                padding-left: calcRem(40px);
                padding-right: calcRem(40px);
            }
        }

        .cmp-email-subscribe {
            &__title {
                display: none;
            }

            &__subtitle {
                display: none;
            }

            &__title--success {
                display: block;
                padding-top: calcRem(58px);

                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(40px);
                }
            }

            &__subtitle--success {
                display: block;
                padding-top: calcRem(20px);

                p {
                    margin-bottom: 0;
                }
            }

            &__button {
                display: none;
                padding-bottom: calcRem(60px);
                margin: 0 auto;

                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(20px);
                    padding-bottom: calcRem(135px);
                    width: 100%;

                    button {
                        min-width: 100%;
                    }
                }

                &--checkbox {
                    display: inline-block;

                    @include media-breakpoint-down(sm) {
                        display: block;
                    }
                }

                &--input {
                    width: 74.3%;

                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
                }
            }

            &__image-container {
                position: relative;
                left: -87px;
                top: 50%;
                transform: translateY(-50%);

                .st0 {
                    fill: #3f3f3f;
                }

                @include media-breakpoint-down(sm) {
                    top: -150px;
                    margin-bottom: -110px;
                    text-align: center;
                    left: 0;
                    transform: none;
                }
            }

            &__intro-text {
                display: none;

                &--secondary {
                    padding-top: calcRem(40px);

                    p {
                        margin-bottom: 0;
                    }

                    @include media-breakpoint-down(sm) {
                        padding-top: calcRem(20px);
                        padding-bottom: 0;
                    }
                }
            }

            &__intro-text--secondary,
            &__secondary-button {
                padding-top: calcRem(40px);
                padding-bottom: calcRem(40px);
            }

            &__secondary-button {
                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(20px);

                    button {
                        min-width: 100%;
                    }
                }
            }
        }
    }

    &--side-panel {
        .cmp-email-subscribe__success-panel {
            // todo: see if we need any code here
        }
        border-radius: 4px;
        margin-bottom: calcRem(20px);

        .cmp-email-subscribe__title h2 {
            @extend .h3;
        }

        .cmp-email-subscribe {
            border: 4px solid $light-gray;
            &__wrapper {
                padding: calcRem(40px) calcRem(40px) 0;
                @include media-breakpoint-down(md) {
                    padding: calcRem(40px) calcRem(15px) 0;
                }
            }

            .section-background {
                padding: 0;
                background: transparent;
            }

            &__title {
                padding-top: calcRem(20px);
                padding-bottom: calcRem(20px);
            }

            &__subtitle {
                padding-top: 0;
            }

            &__image {
                order: -1;
                max-width: 100%;
                flex-basis: auto;
                text-align: center;

                &-container {
                    position: static;
                    left: unset;
                    top: unset;
                    transform: none;

                    @include media-breakpoint-down(sm) {
                        margin-bottom: unset;
                    }
                }

                &--not-loading {
                    border: 0;
                }
            }

            &__intro-text {
                display: block;
                padding-top: calcRem(40px);

                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(20px);
                }

                p {
                    margin-bottom: 0;
                    @include font-size(18px);
                }
            }

            &__button {
                padding-top: calcRem(20px);
                padding-bottom: calcRem(40px);

                button {
                    @extend .button--secondary;
                    min-width: 100%;
                }

                &--input {
                    width: 100%;
                }

                &--checkbox {
                    text-align: left;
                    display: block;
                }
            }

            .cmp-breaker {
                display: none;
            }

            &__intro-text--secondary,
            &__secondary-button {
                display: none;
            }

            &__intro-text--secondary {
                @extend .font-weight-medium;
                padding-bottom: 0;
            }

            &__secondary-button {
                max-width: 100%;
                flex-basis: auto;
                margin-left: 0;
                text-align: center;

                button {
                    min-width: 100%;
                }
            }
        }
    }

    &__submit {
        color: $white;
        background-color: $dark-quartz;
    }

    &--loading {
        .cmp-email-subscribe__submit-icon {
            display: none;
        }

        .cmp-email-subscribe__loading-icon {
            width: 20px;

            img,
            .icon-spinner {
                width: 100%;
            }
        }
    }

    &--not-loading {
        .cmp-email-subscribe__loading-icon {
            display: none;
        }
    }

    &--no-svg {
        .cmp-email-subscribe__image {
            display: none;
        }
    }

    &--footer-panel {
        .section-background {
            padding: 0;
            width: 100% !important;
            background-color: transparent;
        }

        h2 {
            @extend .h5;
            font-family: $font-family-effra-pro;
        }

        .cmp-email-subscribe__title {
            padding-top: 0;
            text-align: left;

            @include media-breakpoint-down(sm) {
                padding-top: calcRem(40px);
            }
        }

        .cmp-email-subscribe__subtitle {
            padding-top: 0;
            text-align: left;

            p {
                margin-bottom: 0;
                font-size: calcRem(16px);
                line-height: 20px;
            }
        }

        .cmp-email-subscribe__footer-col1 {
            padding: 0;
        }

        .cmp-email-subscribe {
            border: 0 !important;
            margin: 0 !important;

            &__image {
                display: none;
            }

            &__intro-text {
                display: none;
            }

            &__button {
                &--input {
                    width: 100%;
                }

                button {
                    @extend .button--secondary;
                    min-width: 100%;
                }

                &--checkbox {
                    display: none;
                }
            }

            .cmp-breaker {
                display: none;
            }

            &__intro-text--secondary,
            &__secondary-button {
                display: none;
            }

            &__intro-text--secondary {
                @extend .font-weight-medium;
                padding-bottom: 0;
            }

            &__secondary-button {
                max-width: 100%;
                flex-basis: auto;
                margin-left: 0;
                text-align: center;

                button {
                    min-width: 100%;
                }
            }
        }
    }
}

@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-email-subscribe--#{$medium-color-name} {
        .section-background {
            background-color: $medium-color;
        }
    }
}

@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-email-subscribe--#{$medium-color-name}.cmp-email-subscribe--side-panel .cmp-email-subscribe {
        border: 4px solid $medium-color;

        .section-background {
            background: transparent;
        }
    }
}

@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-email-subscribe--#{$medium-color-name} .cmp-email-subscribe--footer-panel {
        .section-background {
            background: transparent;
        }
    }
}

//DARK BACKGROUND COLORS

@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-email-subscribe--#{$dark-color-name} {
        .section-background {
            background-color: $dark-color;
        }
        .cmp-email-subscribe__title h2 {
            color: $white;
        }

        .cmp-email-subscribe__subtitle .--large {
            color: $white;
        }
    }
}

@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-email-subscribe--#{$dark-color-name}.cmp-email-subscribe--side-panel .cmp-email-subscribe {
        border: 4px solid $dark-color;

        .section-background {
            background: transparent;
        }

        .cmp-email-subscribe__title h2 {
            color: $black;
        }

        .cmp-email-subscribe__subtitle .--large {
            color: $black;
        }
    }
}

@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-email-subscribe--#{$dark-color-name} .cmp-email-subscribe--footer-panel {
        .section-background {
            background: transparent;
        }
    }
}
