.cmp-rte {
    h1 {
        line-height: 65px;
        font-size: 54px;

        @include media-breakpoint-down(md) {
            line-height: 54px;
            font-size: 44px;
        }
        @include media-breakpoint-down(sm) {
            line-height: 44px;
            font-size: 36px;
        }
    }

    h2 {
        line-height: 58px;
        font-size: 46px;

        @include media-breakpoint-down(md) {
            line-height: 48px;
            font-size: 36px;
        }
        @include media-breakpoint-down(sm) {
            line-height: 38px;
            font-size: 28px;
        }
    }

    h3 {
        line-height: 44px;
        font-size: 34px;

        @include media-breakpoint-down(md) {
            line-height: 38px;
            font-size: 28px;
        }
        @include media-breakpoint-down(sm) {
            line-height: 32px;
            font-size: 24px;
        }
    }

    h4 {
        line-height: 32px;
        font-size: 24px;

        @include media-breakpoint-down(sm) {
            line-height: 32px;
            font-size: 22px;
        }
    }
    table {
        border-collapse: collapse;
        font-weight: normal;
        font-size: 18px;
        display: block;
        width: 100%;
        overflow-x: auto;
        @include media-breakpoint-up(lg) {
            display: table;
        }

        th {
            vertical-align: bottom;
            background-color: $brand_blue;
            color: $white;
            line-height: 24px;
            padding: 2% 1%;
            border: none;
            text-align: center;
            border-top: 1px solid $medium-gray;
            border-bottom: 1px solid $medium-gray;
            &:first-child {
                text-align: left;
            }
            @include media-breakpoint-down(sm) {
                padding: 2% 5%;
            }
        }
        th,
        td {
            padding: 0.75rem;
            vertical-align: top;
        }
        tbody {
            tr,
            td {
                border: none;
                text-align: center;
                line-height: 24px;
            }
            tr {
                border-bottom: 1px solid $medium-gray;
                &:nth-of-type(odd) {
                    background-color: rgba(0, 0, 0, 0.05);
                }
                td {
                    table-layout: fixed;
                    overflow: hidden;
                    &:first-child {
                        text-align: left;
                    }
                }
            }
        }
    }
    .text__xxSmall--header {
        @include font-size($font-size-xx-small); // 14px
        > a {
            letter-spacing: 0.1875rem;
        }
    }
    li a,
    .text__xSmall--CTA {
        @include font-size(16px);
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-rte a span.text__#{$dark-color-name},
    .cmp-rte a span.text__white {
        text-decoration: underline;
        &:hover {
            color: $brand-blue;
            text-decoration: none;
        }
    }

    .cmp-rte span.text__#{$dark-color-name} a,
    .cmp-rte span.text__white a {
        color: $dark-color;
        text-decoration: underline;
        &:hover {
            color: $brand-blue;
            text-decoration: none;
        }
    }
}
