.cmp-map {
    overflow: hidden;
    position: relative;
    min-height: calcRem(520px);
    margin-top: calcRem(30px);
    margin-bottom: calcRem(30px);
    padding-left: calcRem(15px);
    padding-right: calcRem(15px);
    @include media-breakpoint-down(md) {
        min-height: calcRem(415px);
    }
    @include media-breakpoint-down(sm) {
        min-height: unset;
        margin-top: calcRem(15px);
        margin-bottom: calcRem(15px);
    }

    .col {
        padding: 0;
    }

    h3 {
        font-family: $font-family-effra-pro;
        font-size: $font-size-medium;
        font-weight: $font-weight-medium;
        @include line-height($font-size-medium, 1.33);
        color: $black;
        margin-top: calcRem(48px);
        margin-bottom: calcRem(12px);
        width: 20%;
        @include media-breakpoint-down(md) {
            width: 25%;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__map {
        display: block;

        &--container {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            height: 100%;
            margin-left: calcRem(10px);
            width: 75%;

            @include media-breakpoint-only(md) {
                width: 70%;
            }

            @include media-breakpoint-down(sm) {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                margin-left: 0;
                width: 100%;
            }

            #google-map {
                width: 100%;
                height: 100%;

                @include media-breakpoint-down(sm) {
                    height: 100vh;
                    max-height: calcRem(190px);
                }
            }
        }
    }

    &__details {
        width: 20%;
        @include media-breakpoint-down(md) {
            width: 25%;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 10px;
            width: 100%;
        }
        .large {
            font-family: $font-family-effra-pro;
            font-size: $font-size-large;
            font-weight: $font-weight-regular;
            @include line-height($font-size-large, 1.8);
            color: $black;
            margin-bottom: 0;
            @include media-breakpoint-down(md) {
                @include line-height($font-size-large, 1.5);
            }
            @include media-breakpoint-down(sm) {
                @include line-height($font-size-large, 1.8);
            }
        }

        &--contact {
            font-family: $font-family-effra-pro;
            font-size: $font-size-x-small;
            font-weight: $font-weight-regular;
            @include line-height($font-size-x-small, 1.5);
            color: $black;
            margin-bottom: calcRem(34px);

            &--medium {
                font-size: $font-size-x-small;
                @include line-height($font-size-x-small, 1.5);
                font-weight: $font-weight-regular;
                strong {
                    font-weight: $font-weight-medium;
                }
            }

            a {
                font-family: $font-family-effra-pro;
                font-size: $font-size-x-small;
                font-weight: $font-weight-regular;
                @include line-height($font-size-x-small, 1.5);
                color: $black;
                text-decoration: underline !important;
            }
        }

        .nyl-button {
            width: 100%;
            margin-bottom: calcRem(56px);
        }
    }
}

.gm-style-iw-d {
    max-width: 220px !important;
}
.cmp-map__marker {
    display: none;
    &--info {
        font-family: $font-family-effra-pro;
        font-size: $font-size-xx-small;
        font-weight: $font-weight-regular;
        line-height: normal;
        color: $black;
    }
    &--agent {
        &--address {
            overflow-wrap: break-word;
        }
    }
}
