.cmp-strategies-list {
    padding-top: calcRem(18px);
    margin-bottom: calcRem(72px) !important;
    display: block;
    color: $white;
    font-family: $font-family-alda;
    @include media-breakpoint-down(sm) {
        margin-bottom: calcRem(9px) !important;
        padding-top: calcRem(45px) !important;
    }
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
    &__image {
        height: calcRem(180px);
        width: calcRem(95px);
        @include media-breakpoint-down(sm) {
            height: calcRem(148px);
            width: calcRem(48px);
        }
    }
    &__container {
        padding-left: 0px;
        padding-right: 0px;
    }
    &__product-info {
        margin-left: calcRem(25px);
        margin-right: calcRem(25px);
        @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-right: 0;
            padding-left: calcRem(4px);
            padding-top: 0px;
        }
    }
    &__row {
        height: calcRem(180px);
        margin-top: calcRem(24px);
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            height: calcRem(140px);
            margin-top: calcRem(12px);
        }
    }
    &__type {
        float: left;
        margin-top: calcRem(12px);
        @include media-breakpoint-down(sm) {
            margin-top: 0px;
        }
    }
    &__title {
        @include media-breakpoint-down(sm) {
            width: calcRem(256px);
            height: calcRem(22px);
            font-size: calcRem(20px);
            line-height: calcRem(22px);
        }
        width: 100%;
        font-size: calcRem(36px);
        line-height: calcRem(39px);
        padding-top: 0px;
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__description {
        overflow: hidden;
        height: 100%;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(sm) {
            height: 100%;
        }
        p {
            width: 60%;
            margin-left: calcRem(70px);
            margin-right: calcRem(147px);
            margin-bottom: 0px;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(16px);
            line-height: calcRem(24px);
            text-align: left;
            word-break: normal;
            @include media-breakpoint-down(sm) {
                width: 80%;
                margin-left: calcRem(19px);
                margin-right: calcRem(61px);
                font-size: calcRem(12px);
                line-height: calcRem(17px);
            }
        }
    }
    &__blockSecond {
        display: inline-flex;
        padding-left: 0px;
        padding-right: 0px;
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
    &__blockFirst {
        display: inline-flex;
        padding-left: 0px;
        padding-right: 0px;
        height: 100%;
    }
    &__next {
        position: absolute;
        top: calcRem(74px);
        right: calcRem(40px);
        content: '';
        float: right;
        flex-shrink: 0;
        svg {
            height: calcRem(32px);
            width: calcRem(32px);
        }
        use {
            transform: translate(-10px, 0px);
        }
        @include transform(rotate(180deg));
        @include media-breakpoint-down(sm) {
            height: 20px;
            width: 20px;
            top: calcRem(25px);
            right: calcRem(10px);
            svg {
                width: calcRem(20px);
                height: calcRem(23px);
                vertical-align: unset;
            }
        }
    }
    &__db {
        font-style: italic;
        margin-right: calcRem(20px);
        font-size: 14px;
        line-height: 23px;
        a {
            color: $white;
            text-decoration: underline;
            &:hover {
                text-decoration: underline !important;
            }
        }
        @include media-breakpoint-down(sm) {
            margin-right: calcRem(15px);
            font-size: calcRem(12px);
        }
    }
    &__title-block {
        padding: 0px;
        align-items: baseline;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include media-breakpoint-down(sm) {
            padding-left: 15px;
            padding-right: 15px;
            height: calcRem(70px);
        }
    }
    &__description-block {
        @include media-breakpoint-down(sm) {
            height: calcRem(70px);
            overflow: hidden;
            padding: 0;
        }
    }
    &__image-block {
        padding: 0px;
        overflow: hidden;
        max-width: 95px;
        @include media-breakpoint-down(sm) {
            max-width: 48px;
        }
    }
    .dark-dusk {
        .cmp-strategies-list__description-block {
            color: $dark-dusk;
            background-color: $light-dusk-2;
        }
        .cmp-strategies-list__image-block {
            background-color: $dark-dusk;
        }
        .cmp-strategies-list__title-block {
            background-color: $dark-dusk;
        }
        .cmp-strategies-list__next use {
            fill: $dark-dusk;
        }
    }
    .steel {
        .cmp-strategies-list__description-block {
            color: $steel;
            background-color: $light-steel-3;
        }
        .cmp-strategies-list__image-block {
            background-color: $steel;
        }
        .cmp-strategies-list__title-block {
            background-color: $steel;
        }
        .cmp-strategies-list__next use {
            fill: $steel;
        }
    }
    .dark-gold {
        .cmp-strategies-list__description-block {
            color: $dark-gold;
            background-color: $light-gold-5;
        }
        .cmp-strategies-list__image-block {
            background-color: $dark-gold;
        }
        .cmp-strategies-list__title-block {
            background-color: $dark-gold;
        }
        .cmp-strategies-list__next use {
            fill: $dark-gold;
        }
    }
    .dark-rain {
        .cmp-strategies-list__description-block {
            color: $dark-rain;
            background-color: $light-rain-5;
        }
        .cmp-strategies-list__image-block {
            background-color: $dark-rain;
        }
        .cmp-strategies-list__title-block {
            background-color: $dark-rain;
        }
        .cmp-strategies-list__next use {
            fill: $dark-rain;
        }
    }
    .dark-sunset {
        .cmp-strategies-list__description-block {
            color: $dark-sunset;
            background-color: $light-sunset-5;
        }
        .cmp-strategies-list__image-block {
            background-color: $dark-sunset;
        }
        .cmp-strategies-list__title-block {
            background-color: $dark-sunset;
        }
        .cmp-strategies-list__next use {
            fill: $dark-sunset;
        }
    }
    .dark-twilight {
        .cmp-strategies-list__description-block {
            color: $dark-twilight;
            background-color: $light-twilight-5;
        }
        .cmp-strategies-list__image-block {
            background-color: $dark-twilight;
        }
        .cmp-strategies-list__title-block {
            background-color: $dark-twilight;
        }
        .cmp-strategies-list__next use {
            fill: $dark-twilight;
        }
    }
    .dark-palm {
        .cmp-strategies-list__description-block {
            color: $dark-palm;
            background-color: $light-palm-5;
        }
        .cmp-strategies-list__image-block {
            background-color: $dark-palm;
        }
        .cmp-strategies-list__title-block {
            background-color: $dark-palm;
        }
        .cmp-strategies-list__next use {
            fill: $dark-palm;
        }
    }
    .dark-salmon {
        .cmp-strategies-list__description-block {
            color: $dark-salmon;
            background-color: $light-salmon-5;
        }
        .cmp-strategies-list__image-block {
            background-color: $dark-salmon;
        }
        .cmp-strategies-list__title-block {
            background-color: $dark-salmon;
        }
        .cmp-strategies-list__next use {
            fill: $dark-salmon;
        }
    }
}
