.cmp-email-unsubscribe {
    &__container {
        width: 74.3%;
        padding-bottom: 55px;

        &--title {
            font-weight: bold;
            margin-bottom: 39px;
        }
        .valid-feedback,
        .invalid-feedback {
            width: 230px;
            @include font-size(16px);
            line-height: 20px;
            margin-top: 1rem;
            margin-bottom: 52px;
            p {
                @include font-size(16px);
            }
        }

        .valid-feedback {
            color: #218739;
        }

        .invalid-feedback {
            color: $error-red;
        }

        label {
            @include font-size(18px);
            color: $black;
            width: calc(100% - 38px);
        }

        .nyl-button {
            width: 230px;
        }

        .nyl-button[disabled='disabled'] {
            background-color: $dark-gray;
            border: $dark-gray;
        }

        .XfaCheckBox {
            margin-bottom: 54px;
            padding-left: 0;
        }
    }
}

/* af_guideContainer:af_radiobuttonwidget*/
.XfaCheckBox input[type='radio']:checked {
    /* CSS Override */
    background-color: $brand-blue;
}

/* ::after Pseudo Element Selector */
.XfaCheckBox input[type='radio']:checked::after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: $white;
    border: none;
}

.XfaCheckBox input[type='radio'] {
    float: left;
    border-radius: 15px;
    padding: 0;
    /* CSS Override */
    width: 28px;
    height: 28px;
    border: 1px solid $medium-gray;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin-right: 10px;
}

/* ::after Pseudo Element Selector */
.XfaCheckBox input[type='radio']::after {
    background: $white;
}

[data-disabled='true'] .XfaCheckBox input[type='radio'] {
    /* CSS Override */
    background-color: $medium-quartz;
}
