<div class="cmp-calculator-container-gbs">
    <div class="cmp-calculator-container-gbs__core-content">
        <div class="cmp-calculator-container-gbs__insert-container">
            <div class="question-card">
                <h1 class="cmp-question-card__title">Question #1</h1>
                <div class="cmp-question-card__answer-cards row">
                    <div class="cmp-question-card__answer-card">Question #1 | Answer Option #1</div>
                    <div class="cmp-question-card__answer-card">Question #1 | Answer Option #2</div>
                    <div class="cmp-question-card__answer-card">Question #1 | Answer Option #3</div>
                    <div class="cmp-question-card__answer-card">Question #1 | Answer Option #4</div>
                </div>
            </div>
            <div class="question-card">
                <h1 class="cmp-question-card__title">Question #2</h1>
                <div class="cmp-question-card__answer-cards row">
                    <div class="cmp-question-card__answer-card">Question #2 | Answer Option #1</div>
                    <div class="cmp-question-card__answer-card">Question #2 | Answer Option #2</div>
                </div>
            </div>
            <div class="question-card">
                <h1 class="cmp-question-card__title">Question #3</h1>
                <div class="cmp-question-card__answer-cards row">
                    <div class="cmp-question-card__answer-card">Question #3 | Answer Option #1</div>
                    <div class="cmp-question-card__answer-card">Question #3 | Answer Option #2</div>
                    <div class="cmp-question-card__answer-card">Question #3 | Answer Option #3</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cmp-calculator-container-gbs__button-container">
        <button
            class="nyl-button cmp-calculator-container-gbs__button-container__button cmp-calculator-container-gbs__button-container__next-button">Next</button>
        <button
            class="nyl-button cmp-calculator-container-gbs__button-container__button cmp-calculator-container-gbs__button-container__submit-button">Submit</button>
    </div>
    <div class="cmp-calculator-container-gbs__results-button-container">
        <a class="cmp-calculator-container-gbs__results-button cmp-calculator-container-gbs__results-startover-button">
            Start Over
            <i class="cmp-calculator-container-gbs__results-icon-arrow" aria-hidden="true"></i>
        </a>
    </div>
</div>
