<body class="page basicpage">
	<div id="page-analytics" data-page-analytics="{&#34;path&#34;:&#34;about:privacy:terms-of-use&#34;}"></div>
	<header>
		<div class="top-par parsys page">
			<div class="header cmp-header--gold">
				<nav class="cmp-header navbar navbar-expand-lg" role="navigation" id="header">
					<div class="container">
						<a href="/" class="navbar-brand" target="_self" title="Go to New York Life Insurance Home Page">
							<img src="/assets/icons/New_York_Life_Logo.svg" alt="New York Life Insurance | Home" class="brand-logo"/>
						</a>
						<div class="main-nav collapse navbar-collapse justify-content-lg-between multi-collapse" id="main-nav">
							<nav class="mega-nav navbar-nav" id="mega-nav">
								<div class="nav-item d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#megamenu-0">
									<a href="#megamenu-0" class="h4">Who We Are</a>
									<div class="-icon d-lg-none">
										<i class="cmp-header__icon--plus" aria-hidden="true"></i>
									</div>
									<div class="-icon d-none d-lg-none">
										<i class="cmp-header__icon--minus" aria-hidden="true"></i>
									</div>
								</div>
								<nav class="mega-nav__items collapse" id="megamenu-0" data-parent="#mega-nav">
									<div class="container">
										<div class="xfpage page basicpage">
											<div class="xf-content-height">
												<div class="two-col-control">
													<div class="cmp-parsys2 row">
														<div class="col d-flex">
															<div class="rte">
																<div class="cmp-rte">
																	<p>For 175 years, people have worked with New York Life to protect their families and futures. We believe in the importance of human guidance and in trusted relationships built on being there when our customers need us most.</p>
																</div>
															</div>
														</div>
														<div class="col d-flex">
															<div class="link-list">
																<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																	<h6>
																		<span class="navbar-notoggle js-analytics-title">
																			<a href="/who-we-are/our-story" title="Our Story" target="_self">OUR STORY</a>
																		</span>
																		<span class="navbar-toggler">
																			<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--1440645455_1" aria-expanded="true" href="/who-we-are/our-story" title="Our Story" target="_self">OUR STORY 
																				<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																			</a>
																		</span>
																	</h6>
																	<ul class="collapsed" id="cmp-linkList--1440645455_1">
																		<li>
																			<a href="/careers" title="Learn more about our Corporate Careers" target="_self">Corporate Careers</a>
																		</li>
																		<li>
																			<a href="/careers/agents" title="Learn more about becoming an agent" target="_self">Agent Careers</a>
																		</li>
																		<li>
																			<a href="/newsroom" title="Read more stories on New York Life&#39;s Newsroom" target="_self">Newsroom</a>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="link-list">
																<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																	<h6>
																		<span class="navbar-notoggle js-analytics-title">
																			<a href="/who-we-are/our-social-impact" title="Our Social Impact" target="_self">OUR SOCIAL IMPACT</a>
																		</span>
																		<span class="navbar-toggler">
																			<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-497939852_2" aria-expanded="true" href="/who-we-are/our-social-impact" title="Our Social Impact" target="_self">OUR SOCIAL IMPACT 
																				<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																			</a>
																		</span>
																	</h6>
																	<ul class="collapsed" id="cmp-linkList-497939852_2">
																		<li>
																			<a href="/foundation" title="The New York Life Foundation" target="_self">The New York Life Foundation</a>
																		</li>
																		<li>
																			<a href="/who-we-are/agape" title="What is agápē?" target="_self"> What is agápē?</a>
																		</li>
																		<li>
																			<a href="/who-we-are/love-takes-action" title="Love Takes Action Series" target="_self">Love Takes Action Series</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</nav>
								<div class="nav-item d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#megamenu-1">
									<a href="#megamenu-1" class="h4">Prepare For Life</a>
									<div class="-icon d-lg-none">
										<i class="cmp-header__icon--plus" aria-hidden="true"></i>
									</div>
									<div class="-icon d-none d-lg-none">
										<i class="cmp-header__icon--minus" aria-hidden="true"></i>
									</div>
								</div>
								<nav class="mega-nav__items collapse" id="megamenu-1" data-parent="#mega-nav">
									<div class="container">
										<div class="xfpage page basicpage">
											<div class="xf-content-height">
												<div class="two-col-control">
													<div class="cmp-parsys2 row">
														<div class="col d-flex">
															<div class="rte">
																<div class="cmp-rte">
																	<p>Being prepared looks different across all phases of life.  Understand what people like you typically consider when making their plans.</p>
																</div>
															</div>
														</div>
														<div class="col d-flex">
															<div class="link-list">
																<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																	<ul class="show collapsed" id="cmp-linkList-594325616_3">
																		<li>
																			<a href="/prepare-for-life/getting-married" title="Getting Married" target="_self">Getting Married</a>
																		</li>
																		<li>
																			<a href="/prepare-for-life/growing-your-family" title="Growing Your Family" target="_self">Growing Your Family</a>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="link-list">
																<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																	<ul class="show collapsed" id="cmp-linkList-901023341_4">
																		<li>
																			<a href="/prepare-for-life/planning-for-retirement" title="Planning for Retirement" target="_self">Planning for Retirement</a>
																		</li>
																		<li>
																			<a href="/prepare-for-life/buying-a-home" title="Buying a Home" target="_self">Buying a Home</a>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</nav>
								<div class="nav-item d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#megamenu-2">
									<a href="#megamenu-2" class="h4">What We Offer</a>
									<div class="-icon d-lg-none">
										<i class="cmp-header__icon--plus" aria-hidden="true"></i>
									</div>
									<div class="-icon d-none d-lg-none">
										<i class="cmp-header__icon--minus" aria-hidden="true"></i>
									</div>
								</div>
								<nav class="mega-nav__items collapse" id="megamenu-2" data-parent="#mega-nav">
									<div class="container">
										<div class="xfpage page basicpage">
											<div class="xf-content-height">
												<div class="one-col-control">
													<div class="cmp-parsys1 d-flex justify-content-between">
														<div class="link-list">
															<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																<h6>
																	<span class="navbar-notoggle js-analytics-title">
																		<a href="/products/life-insurance" title="Learn about our Life Insurance products" target="_self">LIFE INSURANCE</a>
																	</span>
																	<span class="navbar-toggler">
																		<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-1736953803_5" aria-expanded="true" href="/products/life-insurance" title="Learn about our Life Insurance products" target="_self">LIFE INSURANCE 
																			<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																		</a>
																	</span>
																</h6>
																<ul class="collapsed" id="cmp-linkList-1736953803_5">
																	<li>
																		<a href="/products/life-insurance/term-life" title="Learn about our Term Life Insurance products" target="_self">Term Life</a>
																	</li>
																	<li>
																		<a href="/products/life-insurance/whole-life" title="Learn more about our Whole Life Insurance products" target="_self">Whole Life</a>
																	</li>
																	<li>
																		<a href="/products/life-insurance/universal-life" title="Learn more about our Universal Life Insurance products" target="_self">Universal Life</a>
																	</li>
																	<li>
																		<a href="/products/life-insurance/variable-universal-life" title="Learn more about our Variable Universal Life Insurance products" target="_self">Variable Universal Life</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="link-list">
															<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																<h6>
																	<span class="navbar-notoggle js-analytics-title">
																		<a href="/products/annuities" title="Learn how to invest for retirement with our annuities products." target="_self">RETIREMENT INCOME</a>
																	</span>
																	<span class="navbar-toggler">
																		<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-746572252_6" aria-expanded="true" href="/products/annuities" title="Learn how to invest for retirement with our annuities products." target="_self">RETIREMENT INCOME 
																			<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																		</a>
																	</span>
																</h6>
																<ul class="collapsed" id="cmp-linkList-746572252_6">
																	<li>
																		<a href="/products/annuities/income-now" title="Learn about our immediate income annuities" target="_self">Income Now</a>
																	</li>
																	<li>
																		<a href="/products/annuities/income-later" title="Learn about our deferred income annuities" target="_self">Income Later</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="link-list">
															<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																<h6>
																	<span class="navbar-notoggle js-analytics-title">
																		<a href="/products/long-term-care-insurance" title="Learn more about our Long-Term Care Insurance" target="_self">LONG-TERM CARE</a>
																	</span>
																	<span class="navbar-toggler">
																		<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--686065215_7" aria-expanded="true" href="/products/long-term-care-insurance" title="Learn more about our Long-Term Care Insurance" target="_self">LONG-TERM CARE 
																			<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																		</a>
																	</span>
																</h6>
																<ul class="collapsed" id="cmp-linkList--686065215_7">
																	<li>
																		<a href="/products/long-term-care-insurance/traditional" title="Learn more about our traditional Long-Term Care solutions" target="_self">Traditional Solutions</a>
																	</li>
																	<li>
																		<a href="/products/long-term-care-insurance/combination" title="Learn more about our combination Long-Term Care solutions" target="_self">Combination Solutions</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="link-list">
															<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																<h6>
																	<span class="navbar-notoggle js-analytics-title">
																		<a href="/products/investments" title="Learn about our investment products" target="_self">INVESTMENTS</a>
																	</span>
																	<span class="navbar-toggler">
																		<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-525773717_8" aria-expanded="true" href="/products/investments" title="Learn about our investment products" target="_self">INVESTMENTS 
																			<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																		</a>
																	</span>
																</h6>
																<ul class="collapsed" id="cmp-linkList-525773717_8">
																	<li>
																		<a href="/products/investments/annuities" title="Learn more about our investment annuity products." target="_self">Annuities</a>
																	</li>
																	<li>
																		<a href="/products/investments/mutual-funds" title="Learn more about our mutual funds." target="_self">Mutual Funds</a>
																	</li>
																	<li>
																		<a href="/products/investments/exchange-traded-funds" title="Learn more about our ETFs" target="_self">ETFs</a>
																	</li>
																	<li>
																		<a href="/products/investments/college-savings-529-plans" title="Learn more about our 529 Plans" target="_self">529 Plans</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="link-list">
															<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																<h6>
																	<span class="navbar-notoggle js-analytics-title">
																		<a href="/products/premier-services" title="Learn more about our premier services" target="_self">PREMIER SERVICES</a>
																	</span>
																	<span class="navbar-toggler">
																		<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-40286907_9" aria-expanded="true" href="/products/premier-services" title="Learn more about our premier services" target="_self">PREMIER SERVICES 
																			<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																		</a>
																	</span>
																</h6>
																<ul class="collapsed" id="cmp-linkList-40286907_9">
																	<li>
																		<a href="/products/premier-services/small-business" title="Learn more about our small business services" target="_self">Small Business</a>
																	</li>
																	<li>
																		<a href="/products/premier-services/estate-planning" title="Learn more about our estate planning services" target="_self">Estate Planning</a>
																	</li>
																	<li>
																		<a href="/products/premier-services/wealth-management" title="Learn more about our services for wealth management" target="_self">Wealth Management</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</nav>
								<div class="nav-item d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#megamenu-3">
									<a href="#megamenu-3" class="h4">Learn &amp; Compare</a>
									<div class="-icon d-lg-none">
										<i class="cmp-header__icon--plus" aria-hidden="true"></i>
									</div>
									<div class="-icon d-none d-lg-none">
										<i class="cmp-header__icon--minus" aria-hidden="true"></i>
									</div>
								</div>
								<nav class="mega-nav__items collapse" id="megamenu-3" data-parent="#mega-nav">
									<div class="container">
										<div class="xfpage page basicpage">
											<div class="xf-content-height">
												<div class="one-col-control">
													<div class="cmp-parsys1 d-flex justify-content-between">
														<div class="link-list">
															<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																<h6>
																	<span class="navbar-notoggle js-analytics-title">
																		<a href="/resources" title="Financial Resources and Solutions - We&#39;re Here to Help" target="_self">RESOURCES &amp; SOLUTIONS</a>
																	</span>
																	<span class="navbar-toggler">
																		<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-367518354_10" aria-expanded="true" href="/resources" title="Financial Resources and Solutions - We&#39;re Here to Help" target="_self">RESOURCES &amp; SOLUTIONS 
																			<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																		</a>
																	</span>
																</h6>
																<ul class="collapsed" id="cmp-linkList-367518354_10">
																	<li>
																		<a href="/resources/life-insurance" title="Protection" target="_self">Protection</a>
																	</li>
																	<li>
																		<a href="/resources/retirement-planning" title="Retirement Planning" target="_self">Retirement Planning</a>
																	</li>
																	<li>
																		<a href="/resources/personal-finance" title="Wealth Accumulation" target="_self">Wealth Accumulation</a>
																	</li>
																	<li>
																		<a href="/resources/estate-planning" title="Estate Planning" target="_self">Estate Planning</a>
																	</li>
																	<li>
																		<a href="/resources/business-planning" title="Small Business Guidance" target="_self">Small Business Guidance</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="link-list">
															<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																<h6>
																	<span class="navbar-notoggle js-analytics-title">
																		<a href="/learn-and-compare/compare-products" title="Compare New York Life insurance, retirement, and investment products" target="_self">COMPARE PRODUCTS</a>
																	</span>
																	<span class="navbar-toggler">
																		<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-1718040989_11" aria-expanded="true" href="/learn-and-compare/compare-products" title="Compare New York Life insurance, retirement, and investment products" target="_self">COMPARE PRODUCTS 
																			<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																		</a>
																	</span>
																</h6>
																<ul class="collapsed" id="cmp-linkList-1718040989_11">
																	<li>
																		<a href="/learn-and-compare/compare-products/term-whole-life-insurance" title="Term vs. Whole Life" target="_self">Whole Life &amp; Term Life</a>
																	</li>
																	<li>
																		<a href="/learn-and-compare/compare-products/insurance" title="All Life Insurance Products" target="_self">All Life Insurance Products</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="link-list">
															<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
																<h6>
																	<span class="navbar-notoggle js-analytics-title">
																		<a href="/resources/financial-calculators" title="Online Tools - Financial Calculators" target="_self">ONLINE TOOLS</a>
																	</span>
																	<span class="navbar-toggler">
																		<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--535105124_12" aria-expanded="true" href="/resources/financial-calculators" title="Online Tools - Financial Calculators" target="_self">ONLINE TOOLS 
																			<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
																		</a>
																	</span>
																</h6>
																<ul class="collapsed" id="cmp-linkList--535105124_12">
																	<li>
																		<a href="/learn-and-compare/learn-the-basics/life-insurance-calculator" title="Life Insurance Needs Calculator" target="_self">Life Insurance Needs Calculator</a>
																	</li>
																	<li>
																		<a href="https://www.newyorklife.com/learn-and-plan/retirement-savings-calculator" title="Retirement Savings Calculator" target="_self" rel="noopener">Retirement Savings Calculator</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</nav>
							</nav>
							<nav class="secondary-nav navbar-nav justify-content-end">
								<div class="nav-item collapsed">
									<a href="/claims" title="File a claim with New York Life" target="_self" class="p">Claims</a>
								</div>
								<div class="nav-item collapsed">
									<a href="/contact-us" title="Contact New York Life" target="_self" class="p">Contact Us</a>
								</div>
								<div class="nav-item d-none d-lg-block collapsed" data-toggle="collapse" data-target="#secondary-xf">
									<a href="#" class="p">My Account</a>
								</div>
							</nav>
						</div>
						<div class="d-flex order-lg-3" id="nav-icons">
							<div class="d-flex toggler__search">
								<button class="navbar-toggler collapsed -search" type="button" title="Open" data-toggle="collapse" data-target="#search" aria-controls="search" aria-expanded="false" aria-label="Open">
									<i class="cmp-header__icon--search" aria-hidden="true"></i>
								</button>
								<button class="navbar-toggler collapsed -close" type="button" title="Close" data-toggle="collapse" data-target="#search" aria-controls="search" aria-expanded="false" aria-label="Close">
									<i class="cmp-header__icon--close" aria-hidden="true"></i>
								</button>
							</div>
							<div class="d-flex toggler__menu">
								<button class="navbar-toggler collapsed -menu" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-controls="main-nav" aria-expanded="false" aria-label="Open">
									<i class="cmp-header__icon--hamburger" aria-hidden="true"></i>
								</button>
								<button class="navbar-toggler collapsed -close" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-controls="main-nav" aria-expanded="false" aria-label="Close">
									<i class="cmp-header__icon--close" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</div>
				</nav>
				<div class="cmp-search search collapse" id="search">
					<div class="mx-auto col-md-12 col-lg-6 my-5 pb-5">
						<div class="cmp-search__container">
							<div class="cmp-search__input--layout">
								<form id="nylsearch" name="nylsearch" action="/search" method="get">
									<fieldset>
										<legend>
											<p class="col-12 text-left mx-0 pl-0">
												<label for="search-input">Search</label>
											</p>
										</legend>
										<div class="row mx-0">
											<div class="col-10 col-md-11 px-0">
												<input type="text" name="q" autofocus placeholder="Type to search " aria-label="Type to search " id="search-input" class="cmp-search__input"/>
											</div>
											<div class="col-2 col-md-1 px-0 text-center" title="Submit">
												<button type="submit" form="nylsearch" aria-label="Search Input Button" class="cmp-search__button nyl-button">
													<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-search--white.svg" class="icon-search" alt=""/>
												</button>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div id="secondary-xf" class="cmp-secondary-xf collapse multi-collapse">
					<div class="container">
						<div class="xfpage page basicpage">
							<div class="xf-content-height">
								<div class="two-col-control">
									<div class="cmp-parsys2 row">
										<div class="col d-flex">
											<div class="login">
												<div class="cmp-login">
													<h3>Log In</h3>
       Not signed up? 
													<a href="https://www.mynyl.newyorklife.com/VSCRegWebApp/registration/full" title="Register for online access." rel="noopener">Register now.</a>
													<form name="nyllogin" class="cmp-login-form__wrapper" action="https://www.mynyl.newyorklife.com/VSCRegWebApp/securelogin" method="post" rel="noopener">
														<fieldset>
															<legend>Login</legend>
															<label class="cmp-login-form__label" for="myNylUserName">Username</label>
															<input id="myNylUserName" class="mr-4 cmp-login-form__input" type="text" name="myNylUserName" placeholder="Username" aria-label="Username" maxlength="50"/>
															<label class="cmp-login-form__label" for="myNylPassword">Password</label>
															<input id="myNylPassword" class="cmp-login-form__input" type="password" name="myNylPassword" placeholder="Password" aria-label="Password" maxlength="100"/>
															<input id="RememberUserName" class="mr-2 remember-me cmp-login-form__input" aria-label="Remember me" type="checkbox" name="RememberUserName"/>
															<label for="RememberUserName">Remember me</label>
															<a href="https://www.mynyl.newyorklife.com/VSCRegWebApp/passwordReset" title="Forgot account information?" rel="noopener">Forgot account information?</a>
															<div>
																<button type="submit" value="Log In" name="Login" aria-label="Log In" class="cmp-login-form__button nyl-button">
                       Log In
                   </button>
															</div>
														</fieldset>
													</form>
												</div>
											</div>
										</div>
										<div class="col d-flex">
											<div class="rte">
												<div class="cmp-rte">
													<p>
														<b>Other Products</b>
														<br />
													</p>
													<p>
														<a href="https://investor.wealthscape.com/NYLIFEsecurities/investor-index.html?login" rel="noopener">NYLIFE Securities</a>
														<br />
														<a href="https://www3.financialtrans.com/tf/FANWeb?tx=Disclaim&amp;cz=81200081318190024" title="Access MainStay." rel="noopener">MainStay Mutual Funds</a>
														<br />
														<a href="https://www.nylinvestments.com/mainstay/accounts" title="Access Retirement Plan Services" rel="noopener">Retirement Plan Services</a>
													</p>
												</div>
											</div>
											<div class="rte">
												<div class="cmp-rte">
													<p>
														<span class="text__black">
															<b>Quick Links</b>
														</span>
													</p>
													<p>
														<a title="Make a one-time payment - it's quick and easy." href="https://www.guestpay.newyorklife.com/mynyl-guest-payments/" target="_blank" rel="noopener">Make a payment</a>
														<br />
														<a title="Here you can request certain changes or transactions on your New York Life products." href="/my-account/service-forms-selection">Service forms</a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="root responsivegrid page">
		<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
			<div class="banner-story aem-GridColumn aem-GridColumn--default--12">
				<div class="full-width cmp-banner-story">
					<div class="cmp-banner-story__container">
						<div class="row m-0">
							<div class="col">
								<h1>New York Life terms of use.</h1>
							</div>
						</div>
						<div class="row col m-0 d-lg-none d-md-block"></div>
					</div>
				</div>
			</div>
			<div class="rte aem-GridColumn aem-GridColumn--default--12">
				<div class="cmp-rte">
					<p>
						<b>Last Updated: November 28, 2017</b>
					</p>
					<p>This website (the “Site”) and mobile application (the “Mobile App” and, together with the Site, the “Platform”) are created, controlled and published by New York Life Insurance Company and its affiliates (collectively, “New York Life”). New York Life provides the Platform and related programs and services (collectively, the “Services”) for your personal non-commercial use only and subject to your compliance with this Terms of Use Agreement (the “Agreement”). This Agreement sets forth New York Life’s policies with respect to its operation of the Services. 
						<b>BY USING THE SERVICES, YOU ARE REPRESENTING AND WARRANTING THAT: (A) YOU ARE A LEGAL RESIDENT OF THE UNITED STATES; (B) YOU ARE EITHER (I) AT OR ABOVE THE LEGAL AGE OF MAJORITY IN YOUR JURISDICTION OF RESIDENCE; (C) YOU OWN OR HAVE SUFFICIENT AUTHORIZATION TO USE THE COMPUTER, MOBILE DEVICE, TECHNOLOGY OR OTHER DEVICE YOU USE TO ACCESS THE SERVICES (COLLECTIVELY, “DEVICE”); AND (D) YOU WILL ACCESS AND USE THE SERVICES IN ACCORDANCE WITH THIS AGREEMENT.</b>
					</p>
					<p>
						<b>PLEASE READ THIS AGREEMENT CAREFULLY BEFORE USING THE SERVICES. YOUR USE OF ANY PART OF THE SERVICES CONSTITUTES YOUR ACCEPTANCE TO BE BOUND BY THIS AGREEMENT. IF AT ANY TIME YOU DO NOT ACCEPT ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU MUST IMMEDIATELY DISCONTINUE USE OF THE SERVICES.</b>
					</p>
					<p>Certain programs or features offered by the Services, and certain areas within this and/or other Services may be governed by additional terms (“Additional Terms”) presented in conjunction with those products or services. You must agree to those Additional Terms before using those programs, services or areas. The Additional Terms and this Agreement, taken together, shall apply to your use of those areas or the Services. If there is an inconsistency between the Additional Terms and this Agreement, the Additional Terms shall control.</p>
					<h4>Quick guide to contents</h4>
					<ol>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#privacy" id="privacy_protection" rel="noopener">PRIVACY AND PROTECTION OF PERSONAL INFORMATION</a>
								<br />
							</b>
						</li>
						<li>
							
								<a href="http://localhost#privacy" id="localLink" rel="noopener"><b id="account_cancel">ACCOUNTS, CANCELLATION</b></a>
								<br />
							
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#warranties" rel="noopener">DISCLAIMER OF WARRANTIES</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#limitations" rel="noopener">LIMITATIONS ON LIABILITY</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#indem" rel="noopener">INDEMNIFICATION</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#termination" rel="noopener">MODIFICATION/TERMINATION OF THE SERVICES</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#software" rel="noopener">SOFTWARE AND DOWNLOADS AVAILABLE THROUGH THE SERVICES</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#code" rel="noopener">USER CODE OF CONDUCT</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#user" rel="noopener">INTERACTIVE SERVICES AND USER MATERIALS</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#refer" rel="noopener">REFERRAL PROGRAMS</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#voting" rel="noopener">VOTING/RATING FEATURES</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#mobile" rel="noopener">MOBILE DEVICES</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#premium" rel="noopener">PREMIUM SERVICES</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#international" rel="noopener">INTERNATIONAL USE/U.S. EXPORT CONTROLS</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#general" rel="noopener">GENERAL</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#copyright" rel="noopener">INTELLECTUAL PROPERTY NOTICES</a>
								<br />
							</b>
						</li>
						<li>
							<b>
								<a href="https://www.newyorklife.com/about/privacy/terms-of-use#changes" rel="noopener">CHANGES TO THIS AGREEMENT</a>
							</b>
						</li>
						<b></b>
					</ol>
					<p>--------------------------------------------------------------------------------------------------
						<br />
					</p>
					<ol>
						<li>
							<h6>
								<a name="privacy" id="privacy"></a>PRIVACY AND PROTECTION OF PERSONAL INFORMATION
							</h6>
							<p>Please review the 
								<a href="/about/privacy/nyl-online-privacy-policy" title="New York Life Privacy Policy">New York Life Privacy Policy</a> to learn about our practices regarding the collection, use, disclosure and protection of personal information. By using any part of the Services you agree to the terms of the 
								<a href="/about/privacy/nyl-online-privacy-policy" title="New York Life Privacy Policy">New York Life Privacy Policy</a>.
							</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" id="top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="accounts" id="accounts"></a>ACCOUNTS, CANCELLATION
							</h6>
							<p>If you register for an account to use the Services, you must complete the registration process specified on the Site or through the Mobile App by providing us with complete and accurate information as requested by such process. You must keep your registration data complete, accurate and up-to-date, and any loss caused by your failure to do so is your responsibility. After completing the registration process, you may be asked to choose a user name and password and a user name. It is your responsibility to maintain the confidentiality of your password and account. You are also responsible for all activities that occur under your account. You agree to notify New York Life immediately of any unauthorized use of your account. New York Life is not liable for any loss that you may incur as a result of someone else using your password or account. We may suspend or terminate your account if we have a reasonable belief that it is being used in connection with fraudulent activity, or you breach the Agreement or for any other reason we determine in our sole discretion, and also suspend or terminate your access to the Services, in whole or in part.</p>
							<p>You may cancel your account or subscription to the Services at any time by clicking 
								<a href="/contact-us" title="Contact us">here</a> to e-mail us.
							</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="warranties" id="warranties"></a>DISCLAIMER OF WARRANTIES
							</h6>
							<p>YOUR USE OF, AND RELIANCE ON, ANY ADVICE OR INFORMATION OBTAINED FROM OR THROUGH THE SERVICES IS AT YOUR OWN RISK. ALL CONTENT, INCLUDING SOFTWARE, PRODUCTS AND SERVICES, CONTAINED WITHIN OR AVAILABLE THROUGH THE SERVICES ARE PROVIDED TO YOU ON AN “AS IS,” “AS AVAILABLE” BASIS. NEW YORK LIFE AFFILIATES, DISTRIBUTORS, SUPPLIERS, LICENSORS, AGENTS OR OTHERS INVOLVED IN CREATING, SPONSORING, PROMOTING, OR OTHERWISE MAKING AVAILABLE THE SERVICES, INCLUDING THE SITE AND ITS CONTENTS (THE “NEW YORK LIFE PARTIES”) MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SERVICES OR THE INFORMATION, CONTENT OR MATERIALS PROVIDED IN CONNECTION WITH THE SERVICES. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, THE NEW YORK LIFE PARTIES DISCLAIM ALL REPRESENTATIONS AND WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE EFFORT, INFORMATIONAL CONTENT, TITLE, OR NON-INFRINGEMENT OF THE RIGHTS OF THIRD PARTIES. NEW YORK LIFE DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS THAT THE SERVICES WILL OPERATE ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SERVICES AND/OR ITS SERVER WILL BE FREE OF VIRUSES AND/OR OTHER HARMFUL COMPONENTS. THE NEW YORK LIFE PARTIES DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING SUITABILITY, AVAILABILITY, ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF ANY CONTENT OR MATERIAL OF ANY KIND CONTAINED WITHIN THE SERVICES FOR ANY PURPOSE.</p>
							<p>NEW YORK LIFE IS NOT RESPONSIBLE FOR ANY FAILURE TO ACCESS OR USE THE SERVICES OR FOR FAILURES CAUSED BY SERVER ERRORS, MISDIRECTED OR REDIRECTED TRANSMISSIONS, FAILED INTERNET CONNECTIONS, LOST, INTERRUPTED, OR UNAVAILABLE CONNECTIONS OF ANY KIND, MISCOMMUNICATIONS OR FAILED TRANSMISSIONS OF DATA, OR ANY COMPUTER VIRUS OR OTHER TECHNICAL DEFECT OR ERROR RELATING TO THE SERVICES.</p>
							<p>
								<b>Exceptions</b>
								<br />
   SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER, EXCLUSION OR LIMITATION OF CERTAIN WARRANTIES, LIABILITIES AND DAMAGES, SO SOME OF THE ABOVE DISCLAIMERS, EXCLUSIONS AND LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH JURISDICTIONS, NEW YORK LIFE’S LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.
							</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="limitations" id="limitations"></a>LIMITATIONS ON LIABILITY
							</h6>
							<p>In no event shall the New York Life Parties be liable to any person or entity whatsoever for any direct, indirect, incidental, special, compensatory, consequential, or punitive damages or any damages whatsoever, including but not limited to: (i) loss of goodwill, profits, business interruption, data or other intangible losses; (ii) your inability to use, unauthorized use of, performance or non-performance of the Services; (iii) unauthorized access to or tampering with your personal information or transmissions; (iv) the provision or failure to provide any service; (v) errors or inaccuracies contained in the Services or any materials or content obtained through the Services; (vi) any transactions entered into through the Services, (vii) any property damage including damage to your Device or computer system caused by viruses or other harmful components during or on account of access to or use of the Services, including any site to which the Services provide hyperlinks; or (viii) damages otherwise arising out of your use of or access to the Services, or the content of any site or sites linked to from the Services. These limitations of liability shall apply regardless of the form of action, whether based on contract, tort, negligence, strict liability or otherwise, even if New York Life has been advised of the possibility of damages. In no event shall New York Life’s liability exceed the total amount paid by you to New York Life, if any, for accessing the Services.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="indem" id="indem"></a>INDEMNIFICATION
							</h6>
							<p>You agree to defend, indemnify and hold harmless the New York Life Parties from and against all claims, actions, demands, liabilities, costs and expenses, including, without limitation, reasonable attorneys’ fees, resulting from your breach of any provision of this Agreement, the Additional Terms, or any warranty you provide herein, or otherwise arising in any way out of your use of the Services and/or any software. You agree to cooperate fully with New York Life in asserting any available defenses in connection with a claim subject to indemnification by you under this Agreement.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="termination" id="termination"></a>MODIFICATION/TERMINATION OF THE SERVICES
							</h6>
							<p>New York Life may, in its sole discretion, modify, suspend, or terminate the Services and/or any portion thereof at any time for any reason with or without notice to you.</p>
							<p>If your account is cancelled or terminated, you will no longer be authorized to use the Services, but you will still be bound by your obligations under this Agreement and any Additional Terms, including the warranties made by you, and by the disclaimers and limitations of liability. New York Life shall not be liable to you or any third party for any modification, suspension or termination of the Services or your access to the Services.</p>
							<p>Except where otherwise provided, the Services are currently available without charge. New York Life reserves the right to charge a fee for access to or use of the Services, including the Site, the Mobile App and any other services available through the Services, at any time in the future, and New York Life will notify you before it does so. Your access to or use of the Services before such time does not entitle you to access or use without charge in the future.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="software" id="software"></a>SOFTWARE AND DOWNLOADS AVAILABLE THROUGH THE SERVICES
							</h6>
							<p>Any software that is made available in connection with the Services, including applications (such as the Mobile App), podcasts, audio or video streaming (“Software”) is owned or controlled by, or licensed to, New York Life and is protected by copyright laws and international treaty provisions. Your use of the Software is limited to private, non-commercial use and is governed by the terms of the end user license agreement, if any, which accompanies the Software. New York Life has no liability with respect to any Software owned or controlled by third parties.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="code" id="code"></a>USER CODE OF CONDUCT
							</h6>
							<p>The Services are for your personal and non-commercial use only. In accessing and using the Services, you agree that you will not:</p>
							<ul>
								<li>Deliver any unsolicited advertisement, promotional materials, junk email, bulk email (also known as “spam”), chain letters, surveys or contests, or solicit participation in any pyramid schemes (unless it is on a page that explicitly states that such postings are allowed on that page).</li>
								<li>Deliver any unlawful postings to or through the Services, or any postings which advocate unlawful activity.</li>
								<li>Deliver, or provide links to, any postings containing material that
									<ul>
										<li>could be considered harmful, obscene, pornographic, indecent, lewd, violent, abusive, profane, insulting, threatening, harassing, hateful or objectionable</li>
										<li>harasses, victimizes, degrades, or intimidates an individual or group of individuals on the basis of religion, race, ethnicity, sexual orientation, gender, age, or disability</li>
										<li>is defamatory, false or libelous</li>
										<li>infringes or violates any intellectual property or other right of any entity or person.</li>
									</ul>
								</li>
								<li>Deliver any posting that you do not have a right to make available under law or contractual or fiduciary relationships.</li>
								<li>Impersonate another person or entity or misrepresent your affiliation with a person or entity, or adopt a false identity if the purpose of doing so is to deceive or defraud another.</li>
								<li>Manipulate identifiers, including by forging headers, in order to disguise the origin of any posting that you deliver.</li>
								<li>Deliver any posting containing personal information, such as phone numbers, social security numbers, account numbers, addresses or employer references.</li>
								<li>Use this service in any manner which could damage, overburden or interfere with the use of the Services or other users’ Devices, or damage, disrupt or limit the functioning of any software, hardware, or telecommunications equipment.</li>
								<li>Attempt to gain unauthorized access to the Services, any related website, or other accounts, computer systems, or networks connected to the Services, through hacking, password mining, or any other means.</li>
								<li>Obtain or attempt to obtain any materials or information through any means not intentionally made available through this the Services, including by collecting information about others such as email addresses.</li>
							</ul>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="user" id="user"></a>INTERACTIVE SERVICES AND USER MATERIALS
							</h6>
							<p>
								<i>
									<b>Interactive Services</b>
								</i>
							</p>
							<p>The Services may offer certain services having interactive components such as bulletin boards, chat rooms, blogs, and forums (collectively, “Interactive Services”). The Interactive Services may be covered by Additional Terms, which appear on the pages where these services are available, in addition to the general terms provided below. The selection of available Interactive Services may change from time to time in New York Life’s sole discretion.</p>
							<p>
								<i>
									<b>User Materials</b>
								</i>
							</p>
							<p>New York Life does not control and is not responsible for any information or other materials delivered through the Services by you or other users, including any personal information and feedback data such as questions, comments and suggestions regarding the Services or any portion of the Services (collectively, “User Materials”). New York Life is not obligated to and does not regularly review, prescreen, monitor, delete, or edit User Materials. However, New York Life reserves the right to do so at any time in its sole discretion, and to refuse, delete, move or edit any User Materials, in whole or in part, with or without notice. New York Life is not liable for damages of any kind arising from or related to any User Materials, including its refusal, alteration or deletion of any User Materials, even when it is advised of the possibility of such damages.</p>
							<p>You are solely liable for all User Materials delivered to the Services using your account. Any violation of these provisions may subject your account to immediate termination and further legal action. You represent and warrant that you own or control all rights to the User Materials and that public posting and use of the User Materials by New York Life will not violate the rights of any third party.</p>
							<p>By providing or modifying any User Material, you are granting New York Life and its designees a royalty-free, fully paid, non-exclusive, irrevocable, perpetual, unrestricted, worldwide license to reproduce, publish, transmit, perform, display, sublicense, create derivative works from and use such User Material (including any ideas, concepts, know-how or techniques contained in such User Material) for any purpose whatsoever, including, without limitation, developing, manufacturing and marketing products incorporating such User Material, alone or as a part of other works in any form, media or technology now or hereafter known. No credit, approval or compensation is due to you for any such use of User Materials you may provide. New York Life also has the right, but not the obligation, to use your username (and real name, image, likeness or other identifying information, if provided in connection with User Materials), city and state in connection with broadcast, print, online or other use or publication of your User Materials. Please note that any User Material you submit is and will be treated as non-confidential and non-proprietary as to you, unless specifically stated otherwise in our Privacy Policy.</p>
							<p>The information and opinions expressed in User Materials are not necessarily those of New York Life or its content providers, advertisers, sponsors, affiliated or related entities, and New York Life makes no representations or warranties regarding that information or those opinions, and expressly disclaims any liability for User Materials. New York Life does not represent or guarantee the accuracy, completeness or reliability of any User Materials and has no obligation to determine whether the User Materials violate the rights of others. New York Life has no control over whether the User Materials are of a nature that you or other users might find offensive, distasteful or unacceptable. You acknowledge that any reliance on any User Materials submitted by other users will be at your own risk. You acknowledge that the Site is “public,” and in addition to the license granted to New York Life, other users will have access to your User Materials and might copy, modify or distribute them. If you are aware of any User Materials which violate this Agreement, please contact us by clicking here. Please provide as much detail as possible, including a copy of the underlying material, the location where New York Life may find it, and the reason such User Materials should be removed. Please note that filing a complaint will not guarantee its removal, and New York Life will only remove User Materials if it believes that removal is necessary. If any notice is based on an alleged copyright violation, please follow in the instructions set forth in the section entitled “Copyright Infringement.”</p>
							<p>Other than those we specifically request, we do not accept unsolicited content or suggestions. This is to avoid any misunderstandings if your ideas are similar to those we have developed or obtained independently. However, if you submit any unsolicited content or suggestions to us, you will be deemed to have granted to us the same rights as are set out in this section with respect to User Materials. Without limiting those rights, you agree that New York Life, our affiliates and our licensees are free to use any information contained in any communication you send to us for any purpose whatsoever without your approval and without any credit, notice or compensation to you.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="refer" id="refer"></a>REFERRAL PROGRAMS
							</h6>
							<p>The Services may allow you to spread the message about the Services, including referral programs that permit you to submit information from the Services about other persons (each, a “Referred Person”), including, without limitation, U.S.-based email addresses, wireless telephone numbers, names, street addresses and other contact information, so they may receive information and/or promotional offers concerning the Services. You should obtain the consent of the Referred Person prior to providing us with his or her contact information.</p>
							<p>We reserve the right to limit the number of Referred Persons you can submit. We reserve the right to limit the number of communications with any particular Referred Person from time to time. A Referred Person must be of legal age of majority in his/her jurisdiction of residence, and be able to register for, or use, the Services. The contact information for a Referred Person must be valid and functioning in order for us to contact him or her about the Services. We will not be responsible for validating the contact information you provide. We may elect NOT to communicate with any Referred Person and/or e-mail address if he/she/it appears to be on any of our “do not contact” or “do not e-mail” lists. We may also reject the participation of any Referred Person if (a) the contact information provided by you is incorrect or not valid, (b) such individual has violated any provision of this Agreement, or (c) we determine in our sole discretion that the participation of such individual may be harmful to us, the Services, or any third party. We specifically disclaim any liability for such rejection.</p>
							<p>We may send you a confirmation to inform you that the Referred Person has registered for an account. If you engage in improper behavior with respect to a referral program, as we determine in our sole discretion, we may discontinue providing the Services to you. We may also offer incentives or rewards in connection with a referral program, and any such incentives or rewards shall be subject to any Additional Terms which are deemed incorporated into, and subject to, this Agreement. We may suspend or terminate any and all referral programs without notice, reason or liability.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="voting" id="voting"></a>VOTING/RATING FEATURES
							</h6>
							<p>For any voting/rating features that are available through the Services, you must follow all instructions and limitations provided via the Services to submit your votes/ratings. Votes/ratings received from you in excess of any stated limitation will be disqualified. Payment or other consideration in exchange for votes/ratings is prohibited. Votes/ratings generated by script, macro or other automated means or any other means intended to impact the integrity of the voting/rating process as determined by us may be void. New York Life is not liable for incorrect/inaccurate voting/rating information or for any error, omission, interruption, deletion or delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, votes/ratings. We may modify, terminate, or suspend the voting/rating or void any vote/rating should a virus, bug, non-authorized human intervention, action of voter/rater, or other cause impair the administration, security, or fairness of the voting/rating. We may disqualify any individual we find to be violating these terms, tampering with the voting/rating process, or acting in an unsportsmanlike or improper manner and void all associated votes/ratings. Our decisions with respect to all aspects of any voting/rating element are final and binding.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="mobile" id="mobile"></a>MOBILE DEVICES
							</h6>
							<p>Through use of the Services, you may be able to: (a) upload content to the Site via your mobile Device, (b) receive and reply to messages, or to access or make posts using text messaging, (c) browse the Site from your mobile Device and/or (d) access certain features you have downloaded and installed on your mobile Device (collectively the “Mobile Services”). In order to do so, you must have a mobile communications subscription with a participating carrier (or have the consent of the applicable subscriber) or have access to a mobile communications network. You are solely responsible for paying any service fees associated with any such access (including text messaging and data charges for each text message and any data you send and receive on your mobile Device, as applicable). You must provide all equipment and software necessary to connect to the Services, including, but not limited to, a mobile Device that is in working order and suitable for use in connection with the Services. You must ensure that your Device and/or software does not disturb or interfere with the Services, including the Site’s operations. Any equipment or software causing interference will be immediately disconnected from the Services, and New York Life may immediately suspend or terminate your further use of the Services. If any upgrade to the Services requires changes in your equipment or software, you must make these changes at your own expense. Unless explicitly stated otherwise, any additional features that augment or enhance the current Services will be subject to the terms and conditions of this Agreement. You agree to comply with any applicable laws in your use of the Services.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="premium" id="premium"></a>PREMIUM SERVICES
							</h6>
							<p>Some Services on this Site may be offered to you conditioned on your payment of a fee (each, a “New York Life Premium Service”). By using the New York Life Premium Service, you will be subject to any charges and rules set forth in the Additional Terms for that service, in addition to the general terms provided below. You may register for the New York Life Premium Service by completing the applicable registration form.</p>
							<p>
								<i>Member Account and Password</i>
								<br />
   You are responsible for any membership name and password that is associated with your account during registration. If a New York Life Premium Service does not recognize your device from a previous sign-in, you will be asked for information that will help us to identify your registration. It is your responsibility to maintain the confidentiality of your password, if one is established. You are entirely responsible for any and all activities that occur under your account, and agree to notify us immediately of any unauthorized use of your account.
							</p>
							<p>
								<i>Charges for Premium Service</i>
								<br />
							</p>
							<p>New York Life will provide notice of any charges, or extra charges, before you register for or enter a premium area. You are responsible for any charges for premium content incurred by your account. We are not liable for any loss that you may incur as a result of someone else using your password or account, whether with or without your knowledge.</p>
							<p>In the event that you pay for a New York Life Premium Service by credit card, you authorize us to charge your credit card account by registering for the service and providing us with your credit card information. You warrant to us that the credit card information that you provide us is correct and is your account.</p>
							<p>
								<i>Limited to Personal and Non-Commercial Use</i>
							</p>
							<p>Any New York Life Premium Service is for your personal and non-commercial use only. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products obtained from any New York Life Premium Service without our prior written consent.</p>
							<p>
								<i>Cancellation</i>
								<br />
   You may cancel your membership in this premium service at any time by contacting us using the contact information provided on this premium service.
							</p>
							<p>We reserve the right to terminate your access to this premium service or any portion thereof at any time, without notice.</p>
							<p>
								<i>Service Contact</i>
								<br />
   You may email your requests for customer service through the contact information provided on the home page of the applicable New York Life Premium Service.
							</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="international" id="international"></a>INTERNATIONAL USE/U.S. EXPORT CONTROLS
							</h6>
							<p>Accessing materials through the Services by certain persons in certain countries may not be lawful, and New York Life makes no representation that materials provided through the Services are appropriate or available for use in locations outside the United States. If you choose to access the Services from outside the United States, you do so at your own risk.</p>
							<p>The United States controls the export of any software downloadable from the Services. No software or any other materials associated with the Services may be downloaded, exported or re-exported to countries or persons prohibited under export control laws, or to anyone on the U.S. Treasury Department list of Specially Designated Nationals and Blocked Persons or the U.S. Commerce Department’s Table of Deny Orders. You are responsible for compliance with the laws of your local jurisdiction regarding the import, export, or re-export of any such materials. By using and/or downloading any such materials from the Services, you represent and warrant that you are not located in, under the control of, or a national or resident of any such country to which such import, export, or re-export is prohibited or are not a person or entity to which such export is prohibited.</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="general" id="general"></a>GENERAL
							</h6>
							<p>This Agreement and any Additional Terms shall be governed by, construed and enforced in accordance with the laws of the State of New York, as it is applied to agreements entered into and to be performed entirely within such state, without regard to conflict of law principles. You agree that any all disputes, claims and causes of action relating to this Agreement, the Additional Terms, the Services, and/or the Privacy Policy, shall be resolved individually, without resort to any form of class action, exclusively by confidential arbitration in New York, New York, before a single arbitrator pursuant to the then-current arbitration rules of the American Arbitration Association. Any award rendered shall be final and conclusive upon the parties and a judgment thereon may be entered in the highest court of any forum, state or federal, having jurisdiction, provided, however, that the party that commences an action to enforce, vacate or otherwise modify an arbitration award shall not include any confidential information in such filing unless required to do so by applicable court rules and, if so required, shall take all reasonable actions to prevent the disclosure of such confidential information, including but not limited to moving for permission to make its initial filing under seal or filing a redacted version of its filing that omits such information. The parties to the arbitration will share equally the administrative costs of such arbitration proceedings. You agree to commence any arbitration proceeding with respect to this Agreement within one year after the claim arises. You agree that a proceeding commenced after this date is barred.</p>
							<p>If any provision of this Agreement, or the application thereof to any person, entity or circumstances, is held invalid or unenforceable, then such provision shall be deemed superseded by a valid, enforceable provision that matches, as closely as possible, the original provision, and the other provisions of this Agreement shall remain unaffected and in full force and effect. The failure of either party to insist upon strict performance of any provision of, or to exercise any right available under, this Agreement shall not be construed as a waiver of any provision or right. Unless expressly provided otherwise, this Agreement is the entire agreement between you and New York Life with respect to the use of the Services and shall not be modified except in writing, signed by an authorized representative of New York Life. All representations, warranties and indemnification obligations made or undertaken by you will survive any cancellation or termination of your account.</p>
							<p>If you have any questions concerning this Agreement or the Services, please contact us by clicking 
								<a href="/contact-us" title="Contact us">here</a>.
							</p>
						</li>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="copyright" id="copyright"></a>INTELLECTUAL PROPERTY NOTICES
							</h6>
							<p>
								<i>
									<b>Ownership and Use of Intellectual Property</b>
								</i>
							</p>
							<p>New York Life or its affiliates own or license all aspects of the Services, including but not limited to text, photographs, graphics, video and audio material, software, logos, titles, characters, names, and button icons (collectively “Intellectual Property”). The Intellectual Property is protected by copyright, trademark and other laws of the United States, as well as international conventions and the laws of other countries. </p>
							<p>You may view, store, print, reproduce, and distribute pages within the Services solely for your personal, non-commercial purposes, provided that (a) no pages are modified, and (b) this page and any notice regarding content use or ownership are included with all stored, reproduced, or distributed pages. </p>
							<p>Except as noted in the previous sentence, you may not reproduce, download, license, publish, enter into a database, display, modify, create derivative works from, transmit, post, distribute, perform publicly, decompile, reverse engineer, disassemble, use on another computer-related environment, transfer, or sell any Intellectual Property, or any other information, software or products obtained from or through the Services, in whole or in part, without the express written permission of New York Life. </p>
							<p>Additionally, you may not create or promote a website with hyperlinks to any page beyond the homepage of the Site (a/k/a “deep linking”), frame the Site or any web page or material contained within the Services, or include hyperlinks to any aspect of the Services in an email for commercial purposes, without the express written permission of New York Life.</p>
							<p>
								<i>
									<b>Copyright Infringement</b>
								</i>
							</p>
							<p>New York Life respects the intellectual property rights of third parties and complies with the terms of the Digital Millennium Copyright Act (DMCA) regarding such rights. By submitting any User Materials through the Services you (a) grant permission to have the User Materials posted on the Site or via any other of the media channels used for the Services, and (b) represent that you are the rightful owner of the submitted material, and that no one else may claim rights to this material. </p>
							<p>New York Life may independently remove material that it reasonably believes to be infringing the rights of a third party, but has no obligation to do so. New York Life’s actions do not affect any other rights New York Life may have under law or contract.</p>
							<p>
								<i>
									<b>Procedure for Making Claim of Copyright Infringement</b>
								</i>
							</p>
							<p>If you believe that any portion of the Intellectual Property infringes copyrights in your independent work of authorship, you may send written notification to our Designated Agent in accordance with the provisions of the Digital Millennium Copyright Act (the “Notification”):</p>
							<p>DMCA Designated Agent
								<br />
   c/o Office of the General Counsel, Head of Technology, IP, and Strategic Sourcing
								<br />
   51 Madison Avenue
								<br />
   New York, NY 10010
								<br />
   By Email: 
								<a href="mailto:DMCA_Agent@newyorklife.com">DMCA_Agent@newyorklife.com</a>
							</p>
							<p>To be effective under U.S. copyright law (17 U.S.C. § 512(c)), the Notification must include: </p>
							<ul>
								<li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
								<li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
								<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit New York Life to locate the material;</li>
								<li>Information reasonably sufficient to permit New York Life to contact the complaining party, such as an address, telephone number, and, if available, an email address; and</li>
								<li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
							</ul>
						</li>
						<p>Please note that the Notification process is valid only with respect to a claim of copyright infringement. Messages related to other matters will not receive a response through this process. 
							<br />
						</p>
						<p>
							<a href="https://www.newyorklife.com/about/privacy/terms-of-use#top" rel="noopener">Back to top</a>
						</p>
						<li>
							<h6>
								<a name="changes" id="changes"></a>CHANGES TO THIS AGREEMENT
							</h6>
							<p>New York Life reserves the right, in its sole discretion, to change this Agreement and/or the Additional Terms at any time. New York Life will endeavor to provide notice of any material change to this Agreement on the Site or through the Mobile App but whether or not it provides such notice, your continued use of this the Services constitutes your agreement to be bound by any changes to the Agreement. Please review this Agreement and/or the Additional Terms periodically for changes.</p>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="bottom-par parsys page">
			<div class="footer">
				<div class="cmp-footer cmp-footer--secondary-on">
					<div class="cmp-footer__primary pb-5">
						<div class="xfpage page basicpage">
							<div class="xf-content-height">
								<div class="two-col-control">
									<div class="cmp-parsys2 row">
										<div class="col d-flex">
											<div class="rte">
												<div class="cmp-rte">
													<p>
														<span class="text__xxSmall--header">Contact Us</span>
													</p>
													<p>
														<span class="text__large">
															<span class="text__xSmall">We're here to listen: </span>
														</span>
													</p>
													<p>
														<span class="text__large">
															<span class="text__xSmall">1 (800) CALL-NYL
																<br />
    1 (800) 225-5695
															</span>
														</span>
													</p>
													<p>
														<span class="text__large">
															<span class="text__xSmall">9a.m. – 7p.m. EST
																<br />
    Monday –  Friday
															</span>
														</span>
													</p>
												</div>
											</div>
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> Accounts
               </span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--1071570561_13" aria-expanded="true" target="_self">Accounts 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList--1071570561_13">
														<li>
															<a href="https://www.mynyl.newyorklife.com/" title="Log in" target="_blank" rel="noopener">My Account</a>
														</li>
														<li>
															<a href="https://www.guestpay.newyorklife.com/mynyl-guest-payments/" title="Make a Payment" target="_blank" rel="noopener">Make a Payment</a>
														</li>
														<li>
															<a href="/my-account/service-forms-selection" title="Access services forms" target="_self">Service Forms</a>
														</li>
														<li>
															<a href="/claims" title="Access claims" target="_self">Start a Claim</a>
														</li>
														<li>
															<a href="/about/nyl-first-bank-credit-card" title="New York Life Visa Credit Card" target="_self">New York Life Visa Credit Card</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> New York Life
               </span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--300299898_14" aria-expanded="true" target="_self">New York Life 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList--300299898_14">
														<li>
															<a href="/careers" title="Access corporate careers" target="_self">Corporate Careers</a>
														</li>
														<li>
															<a href="/careers/agents" title="Learn how to become a financial professional" target="_self">Become a Financial Professional</a>
														</li>
														<li>
															<a href="/careers/find-a-recruiter" title="Find a Recruiter in Your State" target="_self">Find a Recruiter in Your State</a>
														</li>
														<li>
															<a href="/careers/go-directory" title="Locate a General Office by State" target="_self">Locate a General Office by State</a>
														</li>
														<li>
															<a href="/foundation" title="Learn more about the New York Life Foundation" target="_self">New York Life Foundation</a>
														</li>
														<li>
															<a href="https://www.nylventures.com/" title="Learn more about Ventures" target="_self" rel="noopener">New York Life Ventures</a>
														</li>
														<li>
															<a href="/about/financial-information/2019-financial-information" title="Access more about our financial information." target="_self">Financial Information</a>
														</li>
														<li>
															<a href="/about/corporate-governance" title="Access corporate governance" target="_self">Corporate Governance</a>
														</li>
														<li>
															<a href="https://nylintranet.newyorklife.com/" title="Access employee login" target="_blank" rel="noopener">Employee Login</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> Expert Guidance</span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-1786640373_15" aria-expanded="true" target="_self">Expert Guidance 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList-1786640373_15">
														<li>
															<a href="https://www.newyorklife.com/contact-us/locators" title="Find a financial professional" target="_self" rel="noopener">Find a Financial Professional</a>
														</li>
														<li>
															<a href="/locator/find-an-agent" title="Search for a Financial Professional by State" target="_self">Search for a Financial Professional by State</a>
														</li>
														<li>
															<a href="/leads-agents/contact-a-financial-specialist" title="Get connected with a financial professional" target="_self">Get Connected with a Financial Professional</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col d-flex">
											<div class="social-follow">
												<div class="cmp-social-follow">
													<h6>Connect with us</h6>
													<a class="cmp-social-follow__social-icon" href="https://www.facebook.com/newyorklife/" target="_blank" title="Visit New York Life on Facebook." rel="noopener">
														<img src="/assets/icons/Facebook_Footer_Icon.svg" alt="Facebook" height="50" width="50"/>
													</a>
													<a class="cmp-social-follow__social-icon" href="https://twitter.com/NewYorkLife" target="_blank" title="Visit New York Life on Twitter." rel="noopener">
														<img src="/assets/icons/Twitter_Footer_Icon.svg" alt="Twitter" height="50" width="50"/>
													</a>
													<a class="cmp-social-follow__social-icon" href="https://www.linkedin.com/company/newyorklife" target="_blank" title="Visit New York Life on LinkedIn" rel="noopener">
														<img src="/assets/icons/LinkedIn_Footer_Icon.svg" alt="LinkedIn" height="50" width="50"/>
													</a>
													<a class="cmp-social-follow__social-icon" href="https://www.instagram.com/newyorklife/" target="_blank" title="Visit New York Life on Instagram" rel="noopener">
														<img src="/assets/icons/Instagram_Footer_Icon.svg" alt="Instagram" height="50" width="50"/>
													</a>
												</div>
											</div>
											<div class="email-subscribe cmp-email-subscribe--footer-panel">
												<div class="cmp-email-subscribe cmp-email-subscribe--not-loading cmp-email-subscribe--no-svg">
													<div class="cmp-email-subscribe__wrapper">
														<div class="row justify-content-around">
															<div class="cmp-email-subscribe__footer-col1 col text-center">
																<div class="section-background">
																	<div class="cmp-email-subscribe__title">
																		<h2>Sign up for New York Life emails</h2>
																	</div>
																	<div class="cmp-email-subscribe__subtitle">
																		<p class="--large">Receive resources &amp; tools that can help you prepare for the future. You can cancel anytime.</p>
																	</div>
																	<div class="cmp-email-subscribe__button">
																		<form class="email-subscribe-1 pt-4" data-subscribe-checkboxes="[]" novalidate>
																			<div class="cmp-email-subscribe__button--input mx-auto mt-4">
																				<div class="input-group mb-3">
																					<label for="email-subscribe-input--983241310_16" class="d-none">Email address</label>
																					<input id="email-subscribe-input--983241310_16" type="email" class="form-control" data-subscribe-preferenceCode="NYLIAGPROMO" placeholder="Email address" aria-label="Email subcription" required/>
																					<div class="input-group-append">
																						<button class="cmp-email-subscribe__submit btn btn-outline-secondary" type="submit" aria-label="Email subcription">
																							<div class="cmp-email-subscribe__submit-icon">
																								<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--white.svg" class="icon-cta-arrow" alt=""/>
																							</div>
																							<div class="cmp-email-subscribe__loading-icon">
																								<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif" class="icon-spinner" alt="Loading icon"/>
																							</div>
																						</button>
																					</div>
																				</div>
																				<div class="valid-feedback">Success!</div>
																				<div class="cmp-email-subscribe__client-invalid invalid-feedback">
                                       Please enter valid email.</div>
																				<div class="cmp-email-subscribe__server-invalid invalid-feedback -server">
                                       Please try again later.</div>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
															<div class="col-md-3 cmp-email-subscribe__image">
																<div class="cmp-email-subscribe__image-container"></div>
															</div>
														</div>
														<div class="cmp-breaker--light-gray">
															<hr class="cmp-breaker d-none"/>
														</div>
													</div>
													<div class="cmp-email-subscribe__success-panel row">
														<div class="col text-center">
															<div class="section-background">
																<div class="cmp-email-subscribe__title">
																	<h2>Sign up for New York Life emails</h2>
																</div>
																<div class="cmp-email-subscribe__title--success">
																	<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-email-subscribe.svg" class="icon-email-subscribe" alt=""/>
																</div>
																<div class="cmp-email-subscribe__title--success"></div>
															</div>
														</div>
														<div class="col-md-3 cmp-email-subscribe__image">
															<div class="cmp-email-subscribe__image-container"></div>
														</div>
														<div class="cmp-breaker--light-gray">
															<hr class="cmp-breaker d-none"/>
														</div>
													</div>
													<div class="row d-flex align-items-center text-center text-md-left">
														<div class="col-lg-4 col-md-6 offset-lg-1 cmp-email-subscribe__intro-text--secondary"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cmp-footer__secondary">
						<div class="xfpage page basicpage">
							<div class="xf-content-height">
								<div class="two-col-control">
									<div class="cmp-parsys2 row">
										<div class="col d-flex">
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> WHO WE ARE </span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--1633170102_17" aria-expanded="true" target="_self">WHO WE ARE 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList--1633170102_17">
														<li>
															<a href="/who-we-are/our-story" title="Learn more about our story" target="_self">Our Story</a>
														</li>
														<li>
															<a href="/who-we-are/agape" title="What is agápē?" target="_self">What is agápē?</a>
														</li>
														<li>
															<a href="/who-we-are/our-social-impact" title="Learn more about our social impact" target="_self">Our Social Impact</a>
														</li>
														<li>
															<a href="/careers" title="Learn more about careers" target="_self">Careers</a>
														</li>
														<li>
															<a href="/newsroom" title="Visit the New York Life newsroom" target="_self">Newsroom</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> PREPARE FOR LIFE</span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--958375606_18" aria-expanded="true" target="_self">PREPARE FOR LIFE 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList--958375606_18">
														<li>
															<a href="/prepare-for-life/getting-married" title="Learn more about getting married" target="_self">Getting Married</a>
														</li>
														<li>
															<a href="/prepare-for-life/growing-your-family" title="Learn more about growing your family" target="_self">Growing Your Family</a>
														</li>
														<li>
															<a href="/prepare-for-life/planning-for-retirement" title="Learn more about planning for retirement" target="_self">Planning for Retirement</a>
														</li>
														<li>
															<a href="/prepare-for-life/buying-a-home" title="Buying a Home" target="_self">Buying a Home</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> WHAT WE OFFER</span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--400601782_19" aria-expanded="true" target="_self">WHAT WE OFFER 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList--400601782_19">
														<li>
															<a href="/products/life-insurance" title="Learn more about our life insurance offerings" target="_self">Life Insurance</a>
														</li>
														<li>
															<a href="/products/annuities" title="Learn more about income in retirement" target="_self">Retirement Income</a>
														</li>
														<li>
															<a href="/products/long-term-care-insurance" title="Learn more about long-term care" target="_self">Long-Term Care</a>
														</li>
														<li>
															<a href="/products/investments" title="Learn more about our investment offerings" target="_self">Investments</a>
														</li>
														<li>
															<a href="/products/premier-services" title="Learn more about our premier services" target="_self">Premier Services</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> LEARN &amp; COMPARE</span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-466246741_20" aria-expanded="true" target="_self">LEARN &amp; COMPARE 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList-466246741_20">
														<li>
															<a href="/learn-and-compare/compare-products" title="Compare products" target="_self">Compare Products</a>
														</li>
														<li>
															<a href="/learn-and-compare/learn-the-basics" title="Learn the basics" target="_self">Learn the Basics</a>
														</li>
														<li>
															<a href="/resources" title="Financial Resources &amp; Solutions" target="_self">Financial Resources &amp; Solutions</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col d-flex">
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> FOR INSTITUTIONS </span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--716465226_21" aria-expanded="true" target="_self">FOR INSTITUTIONS 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList--716465226_21">
														<li>
															<a href="https://www.nylinvestments.com/investmentsgroup" title="New York Life Investment Management" target="_blank" rel="noopener">New York Life Investment Management</a>
														</li>
														<li>
															<a href="https://www.newyorklife.com/amn/amn-product-overview" title="Bank &amp; Corporate Owned Life Insurance" target="_blank" rel="noopener">Bank &amp; Corporate Owned Life Insurance</a>
														</li>
														<li>
															<a href="https://www.nylinvestments.com/investmentsgroup/products/stable-value/" title="Institutional Annuities" target="_blank" rel="noopener">Institutional Annuities</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> FOR DISTRIBUTORS </span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList--2070937770_22" aria-expanded="true" target="_self">FOR DISTRIBUTORS 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList--2070937770_22">
														<li>
															<a href="https://www.nylinvestments.com/annuities" title="Annuities" target="_blank" rel="noopener">Annuities</a>
														</li>
														<li>
															<a href="https://www.newyorklife.com/amn" title="Advanced Market Networks" target="_blank" rel="noopener">Advanced Market Networks</a>
														</li>
														<li>
															<a href="https://www.newyorklife.com/groupmembership" title="Group Membership Division" target="_blank" rel="noopener">Group Membership Division</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="link-list">
												<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
													<h6>
														<span class="navbar-notoggle js-analytics-title"> INTERNATIONAL</span>
														<span class="navbar-toggler">
															<a class="navbar-toggler collapsed" data-toggle="collapse" data-target="#cmp-linkList-1213489289_23" aria-expanded="true" target="_self">INTERNATIONAL 
																<img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg" class="icon-caret d-inline-block" alt=""/>
															</a>
														</span>
													</h6>
													<ul class="collapsed" id="cmp-linkList-1213489289_23">
														<li>
															<a href="https://www.mnyl.com.mx/" title="New York Life Seguros Monterrey" target="_blank" rel="noopener">New York Life Seguros Monterrey</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cmp-footer__copyright justify-content-center pt-5 pb-5">
						<ul class="cmp-link-list">
							<li>© 2020 New York Life Insurance Company, New York, NY. All Rights Reserved.</li>
							<li>
								<a href="/about/privacy/terms-of-use" title="Read about our terms of use." target="_self">Terms of Use</a>
							</li>
							<li>
								<a href="/about/privacy-policy" title="Read about our online privacy policy." target="_self">Privacy &amp; Other Policies</a>
							</li>
							<li>
								<a href="/sitemap" title="New York Life Sitemap" target="_self">Sitemap</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>