.cmp-image {
    .cmp-image--medium-subscribe {
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(-15px) !important;
        }
        img {
            @include media-breakpoint-up(md) {
                height: calcRem(231px);
                width: 100%;
            }
        }
    }
}
.cmp-image--color-bar {
    .cmp-image {
        &--extra-small {
            .color-bar {
                padding-right: 5px;
                background-color: $image-colorbar;
                display: inline-flex;
            }
            @include media-breakpoint-up(md) {
                .color-bar {
                    padding-right: 14px;
                }
            }
        }
    }
}
