.cmp-subscription-center-form {
    max-width: $max-grid-width;
    margin-left: auto;
    margin-right: auto;
    position: static;
    width: 100%;
    &__title {
        height: calcRem(44px);
        color: $steel;
        display: inline-block;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(36px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: calcRem(44px);
        @include media-breakpoint-down(sm) {
            height: calcRem(28px);
            width: calcRem(229px);
            font-size: calcRem(24px);
            line-height: calcRem(29px);
        }
    }

    &__description {
        display: block;
        height: calcRem(64px);
        width: calcRem(635px);
        color: $steel;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(22px);
        letter-spacing: 0;
        line-height: calcRem(32px);
        margin-top: calcRem(25px);
        @include media-breakpoint-down(sm) {
            width: calcRem(334px);
            font-size: calcRem(16px);
            line-height: calcRem(24px);
            letter-spacing: 0;
            margin-top: calcRem(13px);
        }
    }

    hr {
        box-sizing: border-box;
        height: calcRem(1px);
        margin-top: calcRem(80px);
        border-top: 1px solid $steel;
        @include media-breakpoint-only(md) {
            margin-top: calcRem(80px);
        }
        @include media-breakpoint-down(sm) {
            height: calcRem(1px);
            margin-top: calcRem(67px);
        }
    }
}

.eloqua-subscription-center {
    .container-fluid {
        background-color: $light-steel-3;
        @include media-breakpoint-only(md) {
            padding-left: calcRem(15px);
        }
        @include media-breakpoint-down(sm) {
            margin-left: -5px;
            width: 104%;
        }

        & > .row {
            &:nth-of-type(1) {
                background-color: $white;
            }

            &:nth-of-type(2) {
                background-color: $white;
            }

            &:nth-of-type(3) {
                .elq-heading {
                    margin-top: calcRem(47px);
                }
            }

            &:nth-of-type(4) {
                .elq-heading {
                    margin-top: calcRem(33px);
                    font-weight: bold;
                    font-family: $font-family-helvetica-neue;
                    font-size: calcRem(20px);
                    line-height: calcRem(25px);
                }
            }

            &:nth-of-type(5) {
                display: block;
                margin-bottom: calcRem(38px);
                @include media-breakpoint-down(sm) {
                    width: 90vw;
                }
            }
        }

        div.insight-list + div.row {
            margin-top: calcRem(32px);
            .single-checkbox-row {
                margin-left: inherit;
                @include media-breakpoint-down(sm) {
                    margin-left: calcRem(3px);
                }
            }
        }

        input[type='checkbox'] {
            position: absolute;
            opacity: 0;
            margin-right: calcRem(16px);
            margin-top: calcRem(4px);
            height: calcRem(16px);
            width: calcRem(16px);

            & + label {
                position: relative;
                cursor: pointer;
                padding: 0;
            }

            & + label:before {
                content: '';
                margin-right: calcRem(10px);
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top: calcRem(-2px);
                width: calcRem(16px);
                height: calcRem(16px);
                border: 1px solid $steel;
            }

            &:checked + label:before {
                background: $steel;
            }
            &:checked + label:after {
                content: '';
                position: absolute;
                left: calcRem(2.5px);
                top: calcRem(9px);
                background: white;
                width: calcRem(2px);
                height: calcRem(2px);
                box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white,
                    4px -8px 0 white;
                transform: rotate(45deg);
            }
        }

        .elq-heading {
            height: calcRem(39px);
            width: calcRem(323px);
            color: $steel;
            font-family: $font-family-alda;
            font-size: calcRem(28px);
            font-weight: 400;
            letter-spacing: 0;
            line-height: calcRem(45px);
            @include media-breakpoint-down(sm) {
                height: calcRem(27px);
                width: calcRem(323px);
                font-size: calcRem(20px);
                line-height: calcRem(32px);
            }
        }

        .elq-label {
            display: none;
        }

        .form-element-instruction {
            height: calcRem(24px);
            width: calcRem(730px);
            color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(16px);
            letter-spacing: 0;
            line-height: calcRem(24px);
            margin-top: calcRem(30px);
            margin-bottom: calcRem(10px);
            @include media-breakpoint-down(sm) {
                display: initial;
                width: calcRem(334px);
                font-size: calcRem(16px);
                line-height: calcRem(24px);
                letter-spacing: 0;
                margin-top: calcRem(32px);
            }
        }

        .elq-item-input {
            height: calcRem(56px);
            background-color: $light-steel-3;
            color: $steel;
            line-height: calcRem(15px);
            padding-left: calcRem(24px);
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(12px);
            }
        }

        .field-control-wrapper {
            width: calcRem(540px);
            margin-bottom: calcRem(93px);
            @include media-breakpoint-down(sm) {
                width: calcRem(334px);
                margin-bottom: calcRem(40px);
            }
        }

        .submit-button-style {
            background-color: $steel;
            color: $white;
            font-family: $font-family-helvetica-neue;
            font-weight: 500;
            letter-spacing: 0;
            line-height: calcRem(19px);
            border: 0;
            padding: calcRem(14px) calcRem(40px);
            margin-top: calcRem(59px);
            margin-bottom: calcRem(95px);
            height: calcRem(48px);
            width: calcRem(182px);
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(56px);
                width: 90vw;
            }

            &[disabled] {
                background-color: $light-steel-1;
                pointer-events: none;
            }

            &:disabled {
                background-color: $light-steel-1;
                pointer-events: none;
            }

            &:hover {
                background-color: $dark-steel-2;
            }
        }

        .insight-list {
            background-color: $white;
            display: inline-block;
            height: calcRem(202px);
            width: calcRem(919px);
            padding-top: calcRem(29px);
            padding-bottom: calcRem(29px);
            margin-bottom: calcRem(32px);
            @include media-breakpoint-only(md) {
                width: calcRem(658px);
                height: auto;
            }
            @include media-breakpoint-down(sm) {
                width: 97%;
                height: auto;
            }
            & > .row {
                display: inline-block;
                height: 42px;
                margin-left: 25px;
                margin-right: calcRem(67px);
                min-width: calcRem(165px);
                @include media-breakpoint-down(sm) {
                    display: block;
                }

                &:nth-of-type(1) {
                    display: block;
                    margin-left: 0px;
                    & .elq-item-label {
                        line-height: calcRem(20px);
                    }
                    @include media-breakpoint-only(md) {
                        margin-left: calcRem(25px);
                    }
                    @include media-breakpoint-down(sm) {
                        margin-left: calcRem(25px);
                    }
                }

                &:nth-of-type(2) {
                    @include media-breakpoint-only(md) {
                        margin-left: calcRem(49px);
                    }
                }

                &:nth-of-type(3) {
                    width: calcRem(380px);
                    @include media-breakpoint-only(md) {
                        width: max-content;
                    }
                }

                &:nth-of-type(4) {
                    @include media-breakpoint-only(md) {
                        margin-left: calcRem(49px);
                    }
                }

                &:nth-of-type(5) {
                    width: calcRem(380px);
                    @include media-breakpoint-only(md) {
                        width: max-content;
                    }
                }

                &:nth-of-type(6) {
                    display: block;
                    @include media-breakpoint-only(md) {
                        padding-left: calcRem(24px);
                    }
                }
            }

            & .single-checkbox-row {
                padding-left: calcRem(24px);
                @include media-breakpoint-only(md) {
                    padding-left: 0;
                }
                @include media-breakpoint-down(xs) {
                    padding-left: 0;
                }
            }
        }
    }
    .LV_validation_message {
        @include font-size(12px);
        @include line-height(24px);
        display: block;
        text-align: left;
        &.LV_invalid {
            color: $error;
            margin-bottom: calcRem(93px);
            margin-top: calcRem(-93px);
            @include media-breakpoint-down(sm) {
                margin-bottom: calcRem(40px);
                margin-top: calcRem(-40px);
            }
        }
        &.LV_valid {
            display: none;
        }
    }

    input[type='text'].LV_invalid_field {
        border: $error 1px solid;
    }

    input[type='text'].LV_valid_field {
        background: url('../resources/images/icon-check-filled.svg') no-repeat 96.5% 50%;
    }
}
