<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.title}" />
<div class="cmp-rates" data-id="${identifier.id}" data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel"
    data-product-code="${properties.productCode}" data-years-label="${'annuities.rates.years' @i18n}"
    data-interest-rate-label="${'annuities.rates.interestRate' @i18n}"
    data-loading-label="${'annuities.rates.loading' @i18n}" data-error-message-label="${'annuities.rates.error' @i18n}">
    <div>
        <div data-sly-test="${properties.tableName}" class="cmp-rates__table-name name cmp-rte">${properties.tableName
            @context='html'}</div>
        <div class="cmp-rates__left id-${identifier.id}"></div>
        <div class="cmp-rates__right cmp-rates__right-gradient id-${identifier.id}"></div>
        <div class="cmp-rates__rates-table-parent-div id-${identifier.id}">
            <div class="col-12 cmp-rates__rates-table-wrapper id-${identifier.id} ">
                <table class="cmp-rates__rates-table id-${identifier.id}">
                    <caption class="cmp-rates__table-caption"></caption>
                    <tr class="tableHeader id-${identifier.id}">
                        <th data-sly-test="${properties.colHeader1}" class="cmp-rte" scope="col">${properties.colHeader1
                            @context='html'}</th>
                        <th data-sly-test="${properties.colHeader2}" scope="col" class="cmp-rte">${properties.colHeader2
                            @context='html'}</th>
                        <th data-sly-test="${properties.colHeader3}" scope="col" class="cmp-rte">${properties.colHeader3
                            @context='html'}</th>
                        <th data-sly-test="${properties.colHeader4}" scope="col" class="cmp-rte">${properties.colHeader4
                            @context='html'}</th>
                        <th data-sly-test="${properties.colHeader5}" scope="col" class="cmp-rte">${properties.colHeader5
                            @context='html'}</th>
                        <th data-sly-test="${properties.colHeader6}" scope="col" class="cmp-rte">${properties.colHeader6
                            @context='html'}</th>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="cmp-rates__loading-text id-${identifier.id}">
        <span>${'annuities.rates.loading' @i18n}</span>
    </div>
    <div class="cmp-rates__error-message id-${identifier.id}">
        <span>${'annuities.rates.error' @i18n}</span>
    </div>
</div>
