//Search input scss
.cmp-search {
    @extend %full-width;
    position: fixed;
    top: 86px;
    background-color: $light-steel-3;
    z-index: 1002;
    @include media-breakpoint-down(md) {
        top: 80px;
    }
    &__container {
        margin: 0px auto;
        padding: 50px 0 50px 0;
        @include media-breakpoint-down(md) {
            width: 60%;
        }
        @include media-breakpoint-down(sm) {
            height: 91.9vh;
            width: 100%;
        }
    }
    .row {
        background-color: $white;
    }
    legend {
        padding: 0;
        margin: 0;
        p {
            padding: 0;
            margin: 0;
            label {
                @extend .base-font;
                font-family: $font-family-alda;
                @include font-size(22px);
                @include line-height(30px);
                color: $steel;
                margin-bottom: 16px;
                display: block;
            }
        }
    }
    &__input {
        @include search-input;
    }
    &__button {
        @include search-button;
    }
    &__autocomplete-list-container {
        list-style: none;
        padding-left: calcRem(0px);
        max-height: calcRem(130px);
        padding-top: calcRem(0.5px);
        padding-bottom: calcRem(0.5px);
        overflow-y: auto;
        border: solid calcRem(1px) $light-palm-2;
        @include media-breakpoint-down(sm) {
            max-height: calcRem(162px);
        }
    }
    &__autocomplete-list-item {
        background: $white;
        padding-left: calcRem(16.5px);
        height: calcRem(32px);
        display: flex;
        align-items: center;
        @include font-size(14px);
        @include line-height(24px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        color: $steel;
        &:hover {
            background: $light-steel-3;
        }
        @include media-breakpoint-down(sm) {
            height: calcRem(40px);
        }
    }
    &__autocomplete-list-item.active-li {
        background: $light-steel-3;
    }
    &__autocomplete-container-div {
        max-height: calcRem(132px);
        background: $white;
        margin-top: calcRem(0.5px);
        @include media-breakpoint-down(sm) {
            max-height: calcRem(164px);
        }
    }

    @include search-component-icons;
}
