.cmp-separator {
    margin-top: 24px;
    hr {
        height: 4px;
        background-color: $grey-medium;
        border-style: none;
    }
}

.separator.cmp-display--thin {
    .cmp-separator {
        hr {
            height: 1px;
        }
    }
}
