.cmp-banner-directory {
    background: $medium-quartz;
    h1, p {
        margin-bottom: 0;
    }
    h1 {
        @extend .h2;
        @extend %font-weight-regular;
        padding-top: calcRem(20px);
        color: $dark-quartz;
        @include media-breakpoint-down(sm) {
            @include font-size(48px);
            @include line-height(48px, 1.25);
        }
    }

    p {
        padding-top: calcRem(30px);
        @extend .text__xSmall;
    }
}

//HEADER COLORS
@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-banner-directory--#{$dark-color-name} .cmp-banner-directory {
        h1 {
            color: $dark-color;
        }
    }
}

//BACKGROUND COLORS
.cmp-banner-directory--dark-salmon .cmp-banner-directory {
    background: $medium-salmon;
}

.cmp-banner-directory--dark-twilight .cmp-banner-directory {
    background: $medium-twilight;
}

.cmp-banner-directory--dark-dusk .cmp-banner-directory {
    background: $medium-dusk;
}

.cmp-banner-directory--dark-rain .cmp-banner-directory {
    background: $medium-rain;
}

.cmp-banner-directory--dark-palm .cmp-banner-directory {
    background: $medium-palm;
}

.cmp-banner-directory--dark-gold .cmp-banner-directory {
    background: $medium-gold;
}

.cmp-banner-directory--dark-sunset .cmp-banner-directory {
    background: $medium-sunset;
}
