<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-premium-discount-placeholder'}" />
<div class="cmp-premium-discount">
    <div class="cmp-premium-discount__container-div">
        <div class="row cmp-premium-discount__main-container-row">
            <div class=" col-12 cmp-premium-discount__heading-section">
                <span class="cmp-premium-discount__premium-discount-text"></span>
                <span class="cmp-premium-discount__as-of-text"></span>
                <span class="cmp-premium-discount__as-of-text as-of-date"></span>
            </div>
            <div class="col-12 col-md-6 cmp-premium-discount__chart-wrapper ">
                <div class="cmp-premium-discount__left"></div>
                <div class="cmp-premium-discount__right cmp-premium-discount__right-gradient"></div>
                <div class="col-12 cmp-premium-discount__chart-title"></div>
                <div class="cmp-premium-discount__wrapper">
                    <div class="col-12 cmp-premium-discount__chart-container"></div>
                </div>
            </div>
            <div class="col-12 col-md-6  cmp-premium-discount__table">
                <div class="offset-6 col-6 cmp-premium-discount__header-columns">
                    <div class="col-6 cmp-premium-discount__header-columns-text premium"></div>
                    <div class="col-6 cmp-premium-discount__header-columns-text discount"></div>
                </div>
                <ul class="cmp-premium-discount__list-container"></ul>
            </div>
        </div>
    </div>
</div>
