<div id="contact-us-background" class="cmp-contact-us-form full-width">
    <picture id="bgPicture" class="cmp-contact-us-form--image">
        <source media="(max-width: 576px)" srcset="xsmall" />
        <source media="(max-width: 767px)" srcset="small" />
        <source media="(max-width: 991px)" srcset="medium" />
        <source media="(max-width: 1199px)" srcset="large" />
        <img id="bgImage" src="/content/dam/ventures/photos/Sean_Madgett_1440x1920.png" alt="background image" class="mw-100" />
    </picture>
    <div id="form-wrapper" class="cmp-contact-us-form__wrapper col-12">
        <div class="cmp-contact-us-form__wrapper--background cmp-contact-us-form__wrapper--form-wrapper col-10 offset-1">
            <h2 data-sly-test="${properties.title}" class="cmp-contact-us-form__heading">title</h2>

            <form method="post" class="cmp-contact-us-form" name="Contact_Us_Form_MAR2020"
                action="https://s2108552627.t.eloqua.com/e/f2" onsubmit="return handleFormSubmit(this)" id="form22"
                class="elq-form">
                <input type="hidden" name="cmpid" id="fe198" value="">
            </form>

            <div class="subscription-center-form">
                <div class="row">
                    <div class="subscription-center-form__description cmp-contact-us-form__wrapper--rm-l-gut 
                        col-xs-12 col-sm-12  col-md-7 col-lg-7">
                        <h2 class="subscription-center-form__heading">Headline</h2>
                        <div class="subscription-center-form__description">description</div>
                    </div>
                    <div class="subscription-center-form__button col-xs-12 col-sm-12  col-md-5 col-lg-5 
                        cmp-contact-us-form__wrapper--rm-r-gut">
                        <a href="url" class="nyl-button" title="title"
                            target="_blank">
                            Subscribe
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
