.cmp-state-directory {
    margin-top: calcRem(30px);
    margin-bottom: calcRem(30px);
    @include media-breakpoint-down(sm) {
        margin-top: calcRem(15px);
        margin-bottom: calcRem(15px);
    }

    &__container {
        height: 288px;
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            height: 544px;
        }
        @include media-breakpoint-down(sm) {
            height: auto;
        }
    }

    &__state {
        list-style-type: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 14%;
        a,
        p {
            font-size: calcRem(16px);
            line-height: calcRem(24px);
        }
        a {
            text-decoration: underline;
        }
        p {
            margin-bottom: 0;
            color: $dark-gray;
        }
        @include media-breakpoint-down(md) {
            width: 30%;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}
