<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.buttonText, classAppend='cmp-login-placeholder'}" />
<div data-sly-use.config="com.nyl.foundation.services.ConfigurationService" class="cmp-login">
    <h3 data-sly-test="${properties.loginTitle}">${properties.loginTitle}</h3>
    ${properties.loginDescription} <a data-sly-test="${properties.descriptionCtaLabel}" href="${config.loginSignupUrl}"
        title="${properties.descriptionCtaTitle}">${properties.descriptionCtaLabel}</a>
    <form name="nyllogin" class="cmp-login-form__wrapper" action="${config.loginPostUrl}" method="post">
        <fieldset>
            <legend>${'foundation.loginText' @ i18n}</legend>
            <sly data-sly-test="${properties.userNamePlaceholder}"> <label class="cmp-login-form__label"
                for="myNylUserName">${properties.userNamePlaceholder}</label> <input id="myNylUserName"
                class="mr-4 cmp-login-form__input" type="text" name="myNylUserName"
                placeholder="${properties.userNamePlaceholder}" aria-label="${properties.userNamePlaceholder}"
                maxlength="50"></sly>
            <sly data-sly-test="${properties.passwordPlaceholder}"> <label class="cmp-login-form__label"
                for="myNylPassword">${properties.passwordPlaceholder}</label> <input id="myNylPassword"
                class="cmp-login-form__input" type="password" name="myNylPassword"
                placeholder="${properties.passwordPlaceholder}" aria-label="${properties.passwordPlaceholder}"
                maxlength="100"></sly>
            <sly data-sly-test="${properties.rememberMe}"> <input id="RememberUserName"
                class="mr-2 remember-me cmp-login-form__input" aria-label="${properties.rememberMe}" type="checkbox"
                name="RememberUserName"> <label for="RememberUserName">${properties.rememberMe}</label> <a
                data-sly-test="${properties.linkTitle}" href="${config.loginAccessIssueUrl}"
                title="${properties.linkTitle}">${properties.linkText}</a></sly>
            <div>
                <button data-sly-test="${properties.buttonText}" type="submit" value="${properties.buttonText}"
                    name="Login" aria-label="${properties.buttonText}" class="cmp-login-form__button nyl-button">
                    ${properties.buttonText}
                </button>
            </div>
        </fieldset>
    </form>
</div>
