<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.imageReference, classAppend='cmp-image-placeholder'}" />
<div class="cmp-image" data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel'}"
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' 
    @componentName='image', imagePath=properties.imageReference, aspectRatio=properties.aspectRatio, imageAltText=properties.imageAltText,isResponsive=true}">
    <a data-sly-unwrap="${!properties.ctaLinkUrl}"
        onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
        href="${linkModel.url}" title="${properties.ctaLinkTitle}" target="${properties.ctaLinkBehavior}">
        <sly data-sly-test="${properties.imageReference}"
            data-sly-use.image="nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.pictureTemplate @ imageModel=imageModel,imgClass='mw-100'}">
        </sly>
    </a>
</div>
