<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-etf-cef-distribution-yields-placeholder'}" />

<div class="cmp-etf-cef-distribution-yields">
    <div class="cmp-etf-cef-distribution-yields__container-div">
        <div class="row cmp-etf-cef-distribution-yields__main-container-row">
            <div class=" col-12 cmp-etf-cef-distribution-yields__heading-section">
                <span class="cmp-etf-cef-distribution-yields__distributions-text heading-text"></span>
            </div>
        </div>
        <div class="col-12 cmp-etf-cef-distribution-yields__wrapper">
            <div class="cmp-etf-cef-distribution-yields__left"></div>
            <div class="cmp-etf-cef-distribution-yields__right cmp-etf-cef-distribution-yields__right-gradient"></div>
            <div class="col-12  cmp-etf-cef-distribution-yields__table">

                <ul class="cmp-etf-cef-distribution-yields__distributions-list-container">

                </ul>
            </div>
            <ul class="pagination justify-content-end cmp-etf-cef-distribution-yields__pagination">
                <li class="cmp-etf-cef-distribution-yields__page-item">
                    <span class="cmp-etf-cef-distribution-yields__pagination-current-index"></span>
                    <span class="cmp-etf-cef-distribution-yields__of-label"></span>
                    <span class="cmp-etf-cef-distribution-yields__pagination-total-length"></span>
                </li>
                <li class="cmp-etf-cef-distribution-yields__page-item cmp-etf-cef-distribution-yields__previous"
                    title="${'nylim.previous' @ i18n}" aria-label="${'nylim.previous' @ i18n}">
                </li>
                <li class="cmp-etf-cef-distribution-yields__page-item cmp-etf-cef-distribution-yields__next"
                    title="${'nylim.next' @ i18n}" aria-label="${'nylim.next' @ i18n}">
                </li>
            </ul>
        </div>

        <div class="row cmp-etf-cef-distribution-yields__main-container-row">
            <div class=" col-12 cmp-etf-cef-distribution-yields__heading-section sub-heading">
                <span class="cmp-etf-cef-distribution-yields__rates-yields-text heading-text"></span>
            </div>
        </div>
        <div class="row cmp-etf-cef-distribution-yields__main-container-row sub-table-section">
            <sly
                data-sly-call="${etfIncludeTemplate @ headingClass='distribution-rate-text',textClass='as-of-date-distribution',class1='at-nav',class2='at-nav-distribution-value',class3='at-market-price',class4='at-market-price-distribution-value'}">
            </sly>

            <sly
                data-sly-call="${etfIncludeTemplate @ headingClass='month-rate-text',textClass='as-of-date-month',class1='at-nav',class2='at-nav-month-value',class3='at-market-price',class4='at-market-price-month-value'}">
            </sly>

            <sly
                data-sly-call="${etfIncludeTemplate @ headingClass='days-rate-text',textClass='as-of-date-yield',class1='subsidized-field',class2='subsidized-field-value',class3='unsubsidized-yield',class4='unsubsidized-yield-value'}">
            </sly>
        </div>
    </div>
</div>
<template data-sly-template.etfIncludeTemplate="${@ headingClass,textClass,class1, class2, class3, class4}">
    <div class="col-12 col-md-4  cmp-etf-cef-distribution-yields__table-sub">
        <div class="cmp-etf-cef-distribution-yields__sub-heading">
            <span class="cmp-etf-cef-distribution-yields__sub-heading-text ${headingClass}"></span>
            <span class="cmp-etf-cef-distribution-yields__as-of as-of-text"></span>
            <span class="cmp-etf-cef-distribution-yields__as-of-text ${textClass}"></span>
        </div>
        <ul class="cmp-etf-cef-distribution-yields__list-container">
            <li>
                <div class="row cmp-etf-cef-distribution-yields__main-row">
                    <div class="col-6 cmp-etf-cef-distribution-yields__labels">
                        <span class="cmp-etf-cef-distribution-yields__labels-text ${class1}"></span>
                    </div>
                    <div class="col-6 cmp-etf-cef-distribution-yields__values">
                        <span class="cmp-etf-cef-distribution-yields__values-text ${class2}"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="row cmp-etf-cef-distribution-yields__main-row">
                    <div class="col-6 cmp-etf-cef-distribution-yields__labels">
                        <span class="cmp-etf-cef-distribution-yields__labels-text ${class3}"></span>
                    </div>
                    <div class="col-6 cmp-etf-cef-distribution-yields__values">
                        <span class="cmp-etf-cef-distribution-yields__values-text ${class4}"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>
