<div class="cmp-unclaimed-funds">
    <form class="unclaimed-funds-form" id="unclaimed-funds-form" novalidate="">
        <h3 class="unclaimed-funds-form--unsuccessful-error">There was an error submitting your request.Please try
            again.</h3>
        <div class="mb-3">
            <label for="unclaimed-last-name">Last Name</label> <input type="text" name="lastName"
                id="unclaimed-last-name" class="form-control form-control-lg">
            <div class="invalid-feedback">Last name or a combination of city, state and/or zip is required.</div>
        </div>
        <div class="mb-3">
            <label for="unclaimed-city">City</label> <input type="text" name="city" id="unclaimed-city"
                class="form-control form-control-lg">
            <div class="invalid-feedback">Last name or a combination of city, state and/or zip is required.</div>
        </div>
        <div class="mb-3">
            <label for="unclaimed-zip">Zip</label> <input type="tel" name="zip" id="unclaimed-zip"
                class="form-control form-control-lg" maxlength="5">
            <div class="invalid-feedback">Last name or a combination of city, state and/or zip is required.</div>
        </div>
        <div class="mb-3">
            <label for="unclaimed-state">State</label> <select id="unclaimed-state" name="state"
                class="form-control form-control-lg">
                <option selected="" value="">Select state</option>
                <option value="AL">Alabama</option>
            </select>
            <div class="invalid-feedback">Last name or a combination of city, state and/or zip is required.</div>
        </div>
        <button type="submit" name="submit" value="search" class="nyl-button mt-4 mb-2">
            Submit <i class="icon-cta-arrow--white" aria-hidden="true">
            </i>
        </button>
    </form>
    <div class="my-3 unclaimed-funds-result ">
        <h3>Unclaimed Funds Finder Success</h3>
        <div class="unclaimed-funds-result-data --loading-indicator py-3">
            <div class="unclaimed-funds-result-nodatafound">No results found.</div>
        </div>
    </div>
    <div class="my-3">
        <label for="unclaimed-state-link"></label> <select id="unclaimed-state-link"
            class="form-control form-control-lg">
        </select>
    </div>
    <div class="cmp-unclaimed-funds__state-link-wrapper my-3">
        <p></p>
        <a target="_blank"> <span class="nyl-button"> <i class="icon-cta-arrow--black"
                    aria-hidden="true">
                </i>
            </span>
        </a>
    </div>
</div>