<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.sectionTitle, classAppend='cmp-accordion-placeholder'}" />
<div class="cmp-accordion" data-sly-use.accordionModel="com.nyl.foundation.models.AccordionModel"
    data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
    <div class="cmp-accordion__header cmp-accordion__header--nonexpand collapsed" data-toggle="collapse"
        data-target="#cmp-accordion-${identifier.id}" aria-expanded="true"
        aria-controls="cmp-accordion-${identifier.id}" href="cmp-accordion-${identifier.id}"
        id="cmp-accordion--${identifier.id}">
        <button class="card-title">
            ${properties.sectionTitle}
        </button>
    </div>
    <div id="cmp-accordion-${identifier.id}"
        class="${properties.sectionDefaultState || wcmmode.edit ? 'collapse show' : 'collapse'} cmp-accordion__content--wrapper"
        aria-labelledby="cmp-accordion-${identifier.id}" data-parent="${accordionModel.accordionContainerId}">
        <div class="cmp-accordion__content">
            <sly data-sly-resource="${'section' @resourceType='wcm/foundation/components/responsivegrid'}"></sly>
        </div>
    </div>

    <div class="cmp-accordion__header--expanded collapsed" data-toggle="collapse"
        data-target="#cmp-accordion-${identifier.id}" aria-expanded="true"
        aria-controls="cmp-accordion-${identifier.id}" href="cmp-accordion-${identifier.id}"
        id="cmp-accordion--${identifier.id}">
        <button class="card-title">
            <span class="show-more">${properties.sectionTitle}</span><span
                class="show-less">${properties.sectionTitleExpanded ? properties.sectionTitleExpanded :
                properties.sectionTitle}</span>
        </button>
    </div>

</div>
