.cmp-pull-quote {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: $component-margin 0;
    position: relative;
    &__quote {
        font-size: 30px;
        line-height: 40px;
        font-family: $font-family-alda-pro;
        @include media-breakpoint-up(md) {
            font-size: 36px;
            line-height: 52px;
        }
    }

    > svg {
        display: none;
        width: 32px;
        height: 23.47px;
        @include media-breakpoint-up(md) {
            width: 50px;
            height: 37px;
        }
    }

    &:after {
        content: '';
        background: $medium-quartz;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 4px;
    }

    &--banner {
        .cmp-pull-quote {
            background-color: $medium-quartz;
            border-radius: 4px;
            align-items: center;

            > svg {
                margin-bottom: 1rem;
                display: block;
            }

            &:after {
                display: none;
            }
            &__quote,
            &__attribution {
                text-align: center;
                width: 100%;
            }
            &__quote {
                margin-bottom: calcRem(20px);
            }
            &__attribution {
                margin-bottom: calcRem(40px);
            }

            &__title {
                display: none;
            }
            &__userimg {
                display: none;
            }
        }
    }
    &--image {
        .cmp-pull-quote {
            &__attribution {
                font-size: 20px;
                font-weight: 500;
                color: #171717;
                margin-bottom: 0px;
            }
            &__title {
                color: #666666;
                font-size: 18px;
            }
            > svg {
                display: block;

                path {
                    fill: $medium-quartz;
                }
            }
            &:after {
                display: none;
            }
            .card-body {
                padding-left: 0px;
            }
        }
    }
    &--highlighted {
        margin: $component-margin 0;
        .cmp-pull-quote {
            margin: 0;
            > svg {
                margin-bottom: 1rem;
                display: block;

                path {
                    fill: $medium-quartz;
                }
            }
            &__title {
                display: none;
            }
            &__userimg {
                display: none;
            }

            &:after {
                display: none;
            }
            .card-body {
                padding-left: 0px;
            }
        }
    }
    .icon-quote {
        @include media-breakpoint-down(sm) {
            svg {
                width: 32px;
                height: 24px;
            }
        }
    }
}

@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-pull-quote--banner.cmp-pull-quote--#{$medium-color-name} .cmp-pull-quote {
        background-color: $medium-color;
    }
}

@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-pull-quote--highlighted.cmp-pull-quote--#{$medium-color-name} {
        .cmp-pull-quote > svg path {
            fill: $medium-color;
        }
    }
}

@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-pull-quote--#{$medium-color-name} {
        .cmp-pull-quote:after {
            background: $medium-color;
        }
    }
}
