.cmp-cta-banner {
    margin: $component-margin 0;

    .section-background {
        padding-left: calcRem(20px);
        padding-right: calcRem(20px);
        background-color: $medium-quartz;
    }

    &__title {
        padding-top: calcRem(58px);

        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
        }
    }

    &__description {
        padding-top: calcRem(20px);

        p {
            margin-bottom: 0;
        }
    }

    &__button {
        padding-top: calcRem(30px);
        padding-bottom: calcRem(60px);

        @include media-breakpoint-down(sm) {
            padding-top: calcRem(20px);
            padding-bottom: calcRem(135px);

            button {
                min-width: 100%;
            }
        }
    }

    &__image-container {
        position: relative;
        left: -70px;
        top: 50%;
        transform: translateY(-50%);

        @include media-breakpoint-down(sm) {
            top: -110px;
            margin-bottom: -110px;
            text-align: center;
            left: 0;
            transform: none;
        }

        img[src$='.svg'] {
            max-height: calcRem(310px);
        }
    }

    &__intro-text {
        display: none;

        &--secondary {
            padding-top: calcRem(40px);

            p {
                margin-bottom: 0;
            }

            @include media-breakpoint-down(sm) {
                padding-top: calcRem(20px);
                padding-bottom: 0;
            }
        }
    }

    &__intro-text--secondary,
    &__secondary-button {
        padding-top: calcRem(40px);
        padding-bottom: calcRem(40px);
    }

    &__secondary-button {
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(20px);

            span {
                min-width: 100%;
            }
        }
    }

    &--side-panel {
        .cmp-cta-banner {
            padding: calcRem(20px) calcRem(20px) 0;
            border: 4px solid $medium-quartz;
            border-radius: 4px;
            margin-bottom: calcRem(20px);

            .section-background {
                padding: 0;
                background-color: transparent;
            }

            h2 {
                @extend .h3;
            }

            &__title {
                padding-top: calcRem(20px);
            }

            &__description {
                padding-top: 0;
            }

            &__image {
                order: -1;
                max-width: 100%;
                flex-basis: auto;
                text-align: center;

                &-container {
                    position: static;
                    left: unset;
                    top: unset;
                    transform: none;

                    @include media-breakpoint-down(sm) {
                        margin-bottom: unset;
                    }
                }
            }

            &__intro-text {
                display: block;
                padding-top: calcRem(40px);

                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(20px);
                }

                p {
                    margin-bottom: 0;
                    @include font-size(18px);
                    font-weight: 500;
                }
            }

            &__button {
                padding-top: calcRem(20px);
                padding-bottom: calcRem(40px);
            }

            .cmp-breaker {
                display: block !important;
                margin: 0;
            }

            &__intro-text--secondary,
            &__secondary-button {
                max-width: 100%;
                flex-basis: auto;
                margin-left: 0;
                text-align: center;
                padding-top: calcRem(20px);
            }

            &__intro-text--secondary {
                @extend .font-weight-medium;
                padding-bottom: 0;
            }

            &__secondary-button {
                max-width: 100%;
                flex-basis: auto;
                margin-left: 0;
                text-align: center;

                button {
                    min-width: 100%;
                }

                :hover {
                    color: $black;
                }
            }
        }
    }
}

@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-cta-banner--#{$medium-color-name} {
        .section-background {
            background-color: $medium-color;
            border-radius: 4px;
        }
    }
}

@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-cta-banner--#{$medium-color-name}.cmp-cta-banner--side-panel {
        .cmp-cta-banner {
            border: 4px solid $medium-color;
        }

        .section-background {
            background: transparent;
            border-radius: 4px;
        }
    }
}

//DARK BACKGROUND COLORS

@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-cta-banner--#{$dark-color-name} {
        .section-background {
            background-color: $dark-color;
            border-radius: 4px;
        }
        h2 {
            color: $white;
        }
    }
}

@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-cta-banner--#{$dark-color-name}.cmp-cta-banner--side-panel {
        .cmp-cta-banner {
            border: 4px solid $dark-color;
        }

        .section-background {
            background: transparent;
            border-radius: 4px;
        }
        h2 {
            color: $black;
        }
    }
}
