<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @resourcePath=resource.path, appendPath='ctaLinks'}"
    data-sly-call="${templates.placeholder @ isEmpty= !properties.headline,
    classAppend='cmp-cta-content-link-placeholder'}" />
<div class="cmp-cta-content-link full-width">
    <div class="cmp-cta-content-link__image-container">
        <sly data-sly-test="${properties.imagePath}"
            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.imageTemplate @ componentName='cta-content-link', imagePath=properties.imagePath,imgClass='cmp-cta-content-link__image-container__background-image'}">
        </sly>
    </div>
    <div class="cmp-cta-content-link__container">

        <div class="cmp-cta-content-link__textWraper">
            <div class="cmp-cta-content-link__textWraperInner">
                <div class="cmp-cta-content-link__leftContent">
                    <h2 data-sly-test="${properties.headline}" class="cmp-cta-content-link__headline">
                        ${properties.headline}
                    </h2>
                    <div data-sly-test="${properties.description}"
                        class="cmp-cta-content-link__description cmp-rte col-md-8 offset-md-2">
                        ${properties.description
                        @ context='html'}</div>
                </div>
                <div data-sly-test="${resourceModel.children}" class="cmp-cta-content-link__rightContent">
                    <ul class="cmp-cta-content-link__button-group" data-sly-list.link="${resourceModel.children}">
                        <li class="cmp-cta-content-link__button"
                            data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ linkUrl=link.ctaLinkUrl}">
                            <a data-sly-test="${linkModel.linkUrl && link.ctaLinkText}" href="${linkModel.linkUrl}"
                                title="${link.ctaLinkTitle}" target="${link.ctaLinkBehavior}">
                                <span class="nyl-button"> <i class="nyl-button--icon-prepend"
                                        data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @ imagePath=link.ctaLinkIconPath}"
                                        data-sly-test="${imageModel.svg}" aria-hidden="true"> ${imageModel.svgSource
                                        @
                                        context='unsafe'}</i>
                                    ${link.ctaLinkText} <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
