<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true,classAppend='cmp-separator-placeholder'}" />

<sly data-sly-test.salmon="${properties.colorScheme == 'salmon'}">
    <sly data-sly-set.backGroundColor="#F6E8EC" />
</sly>

<sly data-sly-test.twilight="${properties.colorScheme == 'twilight'}">
    <sly data-sly-set.backGroundColor="#EBE7F2" />
</sly>

<sly data-sly-test.dusk="${properties.colorScheme == 'dusk'}">
    <sly data-sly-set.backGroundColor="#E6E9F0" />
</sly>

<sly data-sly-test.rain="${properties.colorScheme == 'rain'}">
    <sly data-sly-set.backGroundColor="#E0EDF3" />
</sly>

<sly data-sly-test.palm="${properties.colorScheme == 'palm'}">
    <sly data-sly-set.backGroundColor="#EBF0EA" />
</sly>

<sly data-sly-test.gold="${properties.colorScheme == 'gold'}">
    <sly data-sly-set.backGroundColor="#FBF0E7" />
</sly>

<sly data-sly-test.sunset="${properties.colorScheme == 'sunset'}">
    <sly data-sly-set.backGroundColor="#F8E8E2" />
</sly>

<sly data-sly-test.quartz="${properties.colorScheme == 'quartz'}">
    <sly data-sly-set.backGroundColor="#E9E8E8" />
</sly>

<div
    style="background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};">

    <!-- separator Component Start -->
    <table align="center" width="100%" class="separator" border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="background:#ffffff;background-color:#ffffff;width:100% !important;">
        <tbody>
            <tr>
                <td>


                    <!--[if mso | IE]>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="separator-outlook" style="width:600px; background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};" width="600">
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->


                    <div style="margin:0px auto;max-width:600px;">

                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0"
                            role="presentation" style="width:100% !important;">
                            <tbody>
                                <tr>
                                    <td
                                        style="border-left:30px solid ${backGroundColor @context='styleToken'};border-right: 30px solid ${backGroundColor @context='styleToken'};direction:ltr;font-size: 0px; padding: 30px 20px;text-align:center;  background:#ffffff; background-color:#ffffff;">
                                        <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="" style="vertical-align:top;width:500px;" >
                                     <![endif]-->

                                        <div class="mj-column-per-100 mj-outlook-group-fix"
                                            style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                style="vertical-align:top; width:100% !important;" width="100%">

                                                <tr>
                                                    <td class="separator__divider"
                                                        style="font-size:0px;padding:0px 0px;word-break:break-word;">

                                                        <p
                                                            style="border-top:solid 4px ${backGroundColor @context='styleToken'};font-size:1;margin:0px auto;width:100%;">
                                                        </p>

                                                        <!--[if mso | IE]>
        <table
           align="center" border="0" cellpadding="0" cellspacing="0" style="border-top:solid 4px ${backGroundColor @context='styleToken'};font-size:1;margin:0px auto;width:500px;" role="presentation" width="500px"
        >
          <tr>
            <td style="height:0;line-height:0;">
              &nbsp;
            </td>
          </tr>
        </table>
      <![endif]-->


                                                    </td>
                                                </tr>

                                            </table>

                                        </div>

                                        <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                    <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->


                </td>
            </tr>
        </tbody>
    </table>
    <!-- separator Component Ends -->
</div>
