<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-agent-product-placeholder'}" />
<sly data-sly-use.agentProductModel="${'com.nyl.nylcom.models.agentweb.AgentProductModel'}" />
<sly data-sly-test="${agentProductModel.agentProductCardPath}"
    data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
    data-sly-call="${xfIncludeTemplate.include @ path=agentProductModel.agentProductCardPath}">
</sly>
