<div class="cmp-dropdown-targeting">
    <form id="ltc-form-1" data-id="1" data-ltc="some-url-for-ajax-call" data-target-token="geo.state">
        <div class="form-group dropDownList mb-3">
            <label for="ltc-option-1">State</label>
            <select id="ltc-option-1" class="cmp-dropdown-targeting__select" data-ltc-dropdown="">
                <option value="alabama" selected>AL</option>
                <option value="alaska">AK</option>
                <option value="arizona">AZ</option>
                <option value="arkansas">AR</option>
                <option value="california">CA</option>
                <option value="colorado">CO</option>
                <option value="connecticut">CT</option>
                <option value="delaware">DE</option>
                <option value="district of columbia">DC</option>
                <option value="florida">FL</option>
                <option value="georgia">GA</option>
                <option value="hawaii">HI</option>
                <option value="idaho">ID</option>
                <option value="illinois">IL</option>
                <option value="indiana">IN</option>
                <option value="iowa">IA</option>
                <option value="kansas">KS</option>
                <option value="kentucky">KY</option>
                <option value="louisiana">LA</option>
                <option value="maine">ME</option>
                <option value="maryland">MD</option>
                <option value="massachusetts">MA</option>
                <option value="michigan">MI</option>
                <option value="minnesota">MN</option>
                <option value="mississippi">MS</option>
                <option value="missouri">MO</option>
                <option value="montana">MT</option>
                <option value="nebraska">NE</option>
                <option value="nevada">NV</option>
                <option value="new hampshire">NH</option>
                <option value="new jersey">NJ</option>
                <option value="new mexico">NM</option>
                <option value="new york">NY</option>
                <option value="north carolina">NC</option>
                <option value="north dakota">ND</option>
                <option value="ohio">OH</option>
                <option value="oklahoma">OK</option>
                <option value="oregon">OR</option>
                <option value="pennsylvania">PA</option>
                <option value="rhode island">RI</option>
                <option value="south carolina">SC</option>
                <option value="south dakota">SD</option>
                <option value="tennessee">TN</option>
                <option value="texas">TX</option>
                <option value="utah">UT</option>
                <option value="vermont">VT</option>
                <option value="virginia">VA</option>
                <option value="washington">WA</option>
                <option value="west virginia">WV</option>
                <option value="wisconsin">WI</option>
                <option value="wyoming">WY</option>
            </select>
        </div>
    </form>
    <div id="ltc-main-xf-1"></div>
</div>
