<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='annuities.dependencies'}" />
    <sly data-sly-call="${clientlib.css @ categories='annuities.global'}" />
</sly>