<div data-fundid="F_MTF" data-audience-selector="individual" data-audience-title="Individual Investor"
    class="fund-id global-data-attribute"></div>
<div class="cmp-money-market-yields full-width">
    <div class="cmp-money-market-yields__title sevenDayYieldsLabel"></div>
    <span class="cmp-money-market-yields__title--asOfDate"></span>
    <span class="cmp-money-market-yields__title--asOfDate-value"></span>
    <div class="cmp-money-market-yields__left cmp-money-market-yields__left-gradient"></div>
    <div class="cmp-money-market-yields__right cmp-money-market-yields__right-gradient"></div>
    <div class="cmp-money-market-yields__wrapper">
        <table class="col-lg-12 col-md-12 cmp-money-market-yields__table">
            <caption class="cmp-money-market-yields__table--caption"></caption>
            <thead class="cmp-money-market-yields__table-thead">
                <tr class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <th class="cmp-money-market-yields__header current7DayYield"></th>
                    <th class="cmp-money-market-yields__header unsubsidizedYield"></th>
                    <th class="cmp-money-market-yields__header navAmortizedCost"></th>
                    <th class="cmp-money-market-yields__header marketBasedNav"></th>
                </tr>
            </thead>
            <tbody class="cmp-money-market-yields__table--tbody">
            </tbody>
        </table>
    </div>
</div>
