<app-product-finder-search *ngIf="!isManualMode" [searchFundNmData]="searchFundNmData"
    [searchFundIdData]="searchFundIdData" [searchCusipData]="searchCusipData" [searchMessages]="searchMessages"
    (textSelected)="updateTable($event)" (onSearchClear)="clearSearchedData()" [searchClearText]="searchClearText">
</app-product-finder-search>
<app-product-finder-filter *ngIf="!isManualMode" (filterEvent)="onFilterEvent($event)" [filter-labels]="filters"
    [other-labels]="columns.labels" [filtered-products]="searchedData" [filtered-classes]=" filteredData"
    [clear-filters]="clearFilterOnSearch" [openCloseHoverText]="openCloseHoverText"
    [selectedStrategies]="selectedStrategies" [fundsStrategies]="fundsStrategies"
    [disableDeepLink]="prefilterAssetClass || preFilterAuthoredStrategy || preFilterProductType"
    [multiAssetClassValues]="multiAssetClassValues" [selectedRole]="selectedRole"
    [isPrefilterOnMutualFund]="applyShareClassPrefilter">
</app-product-finder-filter>
<div class="cmp-product-finder__table" (scroll)="onScroll();setSymbolHeadingPosition()">
    <div class="gradient-display" [ngClass]="{'left-gradient': leftGradient }"></div>
    <div class="gradient-display" [ngClass]="{'right-gradient': rightGradient }"></div>
    <div class="cmp-product-finder__table--container row no-gutters">
        <div class="cmp-product-finder__table--count col-lg-3 col-md-2 col-sm-12" *ngIf="allRows && allRows.length">
            <span class="cmp-product-finder__table--count-number">{{allRows.length}}</span>
            <span class="cmp-product-finder__table--count-results"> {{columns.labels["nylim.results"]}} </span>
        </div>
        <div class="cmp-product-finder__table--nav-aatr  col-lg-9 col-md-10 col-sm-12"
            *ngIf="allRows && allRows.length">
            <div class="cmp-product-finder__table--returns">
                <span class="cmp-product-finder__table--returns-text" *ngIf="!isNavAndYields">
                    {{ columns.labels["nylim.viewReturns"]}}
                </span>
                <span class="cmp-product-finder__table--returns-text" *ngIf="isNavAndYields">
                    {{columns.labels["nylim.viewYields"] }}
                </span>
                <div class="wrapper-div">
                    <div class="btn-group selectDiv">
                        <div class="toggle-select btn" [ngClass]="{'dropdown-open':showToggleDropdown}"
                            (click)="showToggle()" (keyPress)="showToggle()">
                            <div>{{selectedAATRToggle}}</div>
                            <div class="icon-container"><i class="cmp-product-finder__table--returns-icon"
                                    aria-hidden="true"></i></div>
                        </div>
                        <ul class="cmp-product-finder__table--returns-dropdown" *ngIf="showToggleDropdown">
                            <li role="button" (click)="updateReturnsToTable(true)"
                                (keyPress)="updateReturnsToTable(true)">
                                {{columns.labels["nylim.atNav"]}}</li>
                            <li role="button" (click)="updateReturnsToTable(false)"
                                (keyPress)="updateReturnsToTable(false)">
                                {{columns.labels["nylim.wSalesCharge"]}}</li>
                        </ul>
                    </div>
                    <div class="cmp-product-finder__table--toggle" *ngIf="!isNavAndYields">
                        <div>
                            <span class="toggle monthly active" (click)="toggleClass(true)"
                                (keypress)="toggleClass(true)">{{columns.labels["nylim.monthly"]}}</span>
                            <span class="divider"></span>
                            <span class="toggle quarterly" (click)="toggleClass(false)"
                                (keypress)="toggleClass(false)">{{columns.labels["nylim.quarterly"]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-datatable [reorderable]="false" [count]="rows" [rows]="rows" [scrollbarH]="true" [scrollbarV]="false"
        [headerHeight]="90" [rowHeight]="94" (scroll)="onChange($event);setSymbolHeadingPosition()"
        [messages]="messages" (sort)="onSort($event)" [columns]="columnsDetails"
        [ngClass]="{'manual-mode': isManualMode}">

        <ngx-datatable-column *ngFor="let col of columnsDetails;" [prop]="col.prop" [name]="col.name"
            [resizeable]="false" [sortable]=true [width]="col.width" [minWidth]="50" [cellClass]="getCellClass"
            [headerClass]="dataTableService.kebab('cmp-product-finder__table--'+col.prop)">

            <ng-template ngx-datatable-header-template>
                <span class="cmp-product-finder__table--avg-annual" *ngIf="col.prop === 'ret1Y'">
                    <span class="cmp-product-finder__table--avg-annual-total"
                        [innerText]="columns.labels['nylim.avgAnnualTotalReturn']"></span>
                    <span class="cmp-product-finder__table--avg-annual-asof"
                        [innerText]="columns.labels['nylim.asOf'] + ' ' + avgArrivalEffectiveDate"></span>
                </span>
                <span class="cmp-product-finder__table--avg-annual" *ngIf="col.prop === ratingsOverAll">
                    <span class="cmp-product-finder__table--avg-annual-total"
                        [innerText]="columns.labels['nylim.morningstarRating']"></span>
                    <span class="cmp-product-finder__table--avg-annual-asof"
                        [innerText]="columns.labels['nylim.riskReturn'] + ' '+ columns.labels['nylim.asOf'] + ' ' + morningstarEffectiveDate"></span>
                </span>
                <span class="cmp-product-finder__table--avg-annual" *ngIf="col.prop === 'atNav'">
                    <span class="cmp-product-finder__table--avg-annual-total"
                        [innerText]="columns.labels['nylim.prices']"></span>
                    <span class="cmp-product-finder__table--avg-annual-asof"
                        [innerText]="columns.labels['nylim.asOf']"></span>
                </span>
                <span class="cmp-product-finder__table--avg-annual" *ngIf="col.prop === 'distributionRates'">
                    <span class="cmp-product-finder__table--avg-annual-total"
                        [innerText]="columns.labels['nylim.yields']"></span>
                    <span class="cmp-product-finder__table--yields-left-sub-heading"
                        [innerText]="columns.labels['nylim.atNav']"></span>
                </span>
                <span class="cmp-product-finder__table--dummy-background" *ngIf="col.prop === 'subsidizedYield'"></span>
                <span *ngIf="col.prop === 'unsubsidizedYield'">
                    <span class="cmp-product-finder__table--dummy-background"></span>
                    <span class="cmp-product-finder__table--yields-right-sub-heading"
                        [innerText]="columns.labels['nylim.30daySECYield']"></span>
                </span>
                <span class="cmp-product-finder__table--dummy-background" *ngIf="col.prop === 'asOf'"></span>
                <span [class]="dataTableService.kebab('heading-'+col.prop)" [innerText]="col.name"></span>
                {{setSymbolHeadingPosition()}}
            </ng-template>
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span
                    *ngIf="isNavAndYields === false && value !== nullData && col.prop !== 'classInceptionDate' && col.prop !== 'ratingsOverAll'"
                    [innerHTML]="value"></span>
                <span *ngIf="col.prop === ratingsOverAll" [innerHTML]="value"></span>
                <span *ngIf="col.prop === classInceptionDate && value !== nullData"
                    [innerHTML]="value | date: 'MM/dd/yyyy'"></span>
                <span
                    *ngIf="value !== nullData && (isNavAndYields === true && (col.prop === 'ticker' || col.prop === 'fundNm' || col.prop === 'asOf' || col.prop === 'shareClass'))"
                    [innerHTML]="value"></span>
                <span *ngIf="value !== nullData && (col.prop === 'atNav'|| col.prop === 'wSalesCharge')"
                    class="nav-dollar" [innerHTML]="value"></span>
                <span *ngIf="col.prop === 'Day1Change'">
                    <span *ngIf="value.objChangeNav !== nullData" [innerHTML]="value.objChangeNav"></span>
                    <span class="nav-per-change" *ngIf="value.objPerChangeNav !== nullData" class="nav-per-change"
                        [innerHTML]="value.objPerChangeNav"></span>
                    <span *ngIf="(value.objPerChangeNav === nullData) || (value.objChangeNav === nullData)"
                        [innerHTML]="COLUMNS.labels['nylim.null.rowLabel']"></span>
                </span>
                <span
                    *ngIf="value !== nullData && (col.prop === 'distributionRates' || col.prop === 'Month12Rate' || col.prop === 'subsidizedYield' || col.prop === 'unsubsidizedYield')"
                    class="nav-percent" [innerHTML]="value"></span>
                <span *ngIf="value === nullData" [innerHTML]="COLUMNS.labels['nylim.null.rowLabel']"></span>
            </ng-template>

        </ngx-datatable-column>
    </ngx-datatable>
    <div class="cmp-product-finder__table--symbol-header" ng-init="setSymbolHeadingPosition()"></div>
</div>
