.cmp-card {
    flex-direction: column;
    width: 100%;
    border: 1px solid $grey-medium;
    box-sizing: border-box;
    background-color: $white;
    margin-top: 24px;
    &:hover {
        .text__medium {
            span {
                text-decoration: underline;
                color: $brand-blue;
            }
        }
        .arrow,
        .cmp-button--arrow-icon {
            width: 40px;
        }
    }
    &__feature-card-column {
        img,
        svg {
            width: 100%;
            object-fit: cover;
        }
    }
    &__content {
        flex: auto;
        font-weight: 500;
        padding: calcRem(24px);
    }
    &__link {
        @include font-size-line-height(18px, 24px);
        color: $brand-blue;
        display: inline-block;
        margin-top: calcRem(24px);
        span {
            &:hover {
                color: $brand-blue;
            }
            &:active {
                color: $blue-dark;
            }
            i {
                display: inline-block;
                width: calcRem(18px);
                height: calcRem(14px);
                margin-left: calcRem(8px);
                background-image: url('../resources/images/icon-cta-arrow--brand-blue.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    &__content-wrapper {
        flex: auto;
        flex-direction: column;
        height: 100%;
        &:visited {
            .text__medium {
                span {
                    color: $purple-visited;
                }
            }
            .arrow-icon .arrow {
                background-color: $purple-visited;
                &:before,
                &:after {
                    background-color: $purple-visited;
                }
            }
            .cmp-card__link,
            .cmp-card__link span:hover {
                color: $purple-visited;
            }
        }
    }
    &__image-wrapper {
        line-height: 0;
        a {
            line-height: 0;
        }
    }
    &__pretitle {
        @include font-size-line-height(14px, 16px);
        margin-bottom: calcRem(8px);
        &:empty {
            margin-bottom: 0;
        }
        letter-spacing: 2px;
        color: $grey-dark;
    }
    .text__medium {
        @include font-size-line-height(24px, 28px);
        font-weight: unset;
        text-transform: unset;
        letter-spacing: unset;
        color: $cool-black;
        margin-top: 0;
        margin-bottom: 0;
        span {
            font-family: $font-family-effra-pro;
            @include font-size-line-height(24px, 28px);
            color: inherit;
            overflow-wrap: break-word;
            @include media-breakpoint-up(sm) {
                @include font-size-line-height(20px, 24px);
            }
            &:active {
                color: $blue-dark;
            }
        }
    }
    .text__body {
        color: $grey-dark;
        margin-top: calcRem(16px);
        margin-bottom: 0;
        font-weight: 400;
        p {
            @include font-size-line-height(18px, 24px);
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            color: $grey-dark;
            margin-top: calcRem(16px);
            margin-bottom: 0;
            font-weight: 400;
        }
    }

    &--compact {
        .cmp-card {
            > a {
                @include media-breakpoint-up(sm) {
                    display: flex;
                    flex-direction: row;
                }
            }
            &__feature-card-column {
                @include media-breakpoint-up(sm) {
                    @include col-width(4);
                    order: 2;
                }
            }
            &__content {
                @include media-breakpoint-up(sm) {
                    @include col-width(8);
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
                .text__body {
                    display: none;
                }
            }
        }
    }
    &--featured {
        .cmp-card {
            @include media-breakpoint-up(lg) {
                display: flex;
                flex-direction: row;
                > a {
                    display: flex;
                    flex-direction: row;
                }
            }
            &__feature-card-column {
                @include media-breakpoint-up(lg) {
                    @include col-width(6);
                }
            }
            &__content {
                @include media-breakpoint-up(lg) {
                    @include col-width(6);
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
                .text__medium {
                    min-height: 55px;
                    @include media-breakpoint-up(lg) {
                        min-height: auto;
                    }
                }
            }
            &__pretitle,
            .text__body {
                display: none;
            }
            &__link {
                margin-top: 16px;
                @include media-breakpoint-up(sm) {
                    margin-top: 24px;
                }
            }
        }
    }
    &--icon {
        .cmp-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            &__content .text__body,
            &__link span,
            &__pretitle {
                display: none;
            }
            &__feature-card-column {
                padding: 20px 0 20px 16px;
                @include media-breakpoint-up(lg) {
                    padding: 16px 0 16px 32px;
                }
            }
            &__content-wrapper {
                flex-direction: row;
                display: flex;
                align-items: center;
            }
            &__image-wrapper img,
            &__image-wrapper svg {
                height: 40px;
                width: 40px;
                @include media-breakpoint-up(lg) {
                    height: 56px;
                    width: 56px;
                }
            }
            &__content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                @include media-breakpoint-up(lg) {
                    padding: 16px 32px;
                }
            }
            &__link {
                margin: 0;
                line-height: 0;
                .arrow-icon {
                    margin-left: 0;
                }
            }
            .text__medium {
                padding-right: 16px;
            }
        }
    }
    &--hero {
        .cmp-card {
            > a {
                @include media-breakpoint-up(sm) {
                    display: flex;
                    flex-direction: row;
                }
            }
            &__feature-card-column {
                @include media-breakpoint-up(sm) {
                    @include col-width(6);
                }
            }
            &__content {
                @include media-breakpoint-up(sm) {
                    @include col-width(6);
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
                @include media-breakpoint-up(lg) {
                    padding: calcRem(24px) calcRem(32px);
                }
                .text__medium {
                    @include media-breakpoint-up(sm) {
                        min-height: auto;
                    }
                    span {
                        @include font-size-line-height(24px, 28px);
                        @include media-breakpoint-up(lg) {
                            @include font-size-line-height(28px, 32px);
                        }
                    }
                }
                .text__body {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    p {
                        @include media-breakpoint-up(lg) {
                            margin-top: calcRem(24px);
                            @include font-size-line-height(18px, 24px);
                        }
                        @include media-breakpoint-down(lg) {
                            margin-top: calcRem(16px);
                            @include font-size-line-height(16px, 24px);
                        }
                        @include media-breakpoint-down(xs) {
                            margin-top: calcRem(8px);
                        }
                    }
                }
            }

            &__link {
                @include media-breakpoint-down(xs) {
                    margin-top: calcRem(21px);
                }
                @include media-breakpoint-up(lg) {
                    @include font-size-line-height(22px, 28px);
                }
            }
        }
    }
    &--list {
        .cmp-card {
            background-color: transparent;
            border: none;
            padding: 24px;
            &__image-wrapper img,
            &__image-wrapper svg {
                height: 40px;
                width: 40px;
                margin-bottom: 8px;
                @include media-breakpoint-up(lg) {
                    height: 48px;
                    width: 48px;
                    margin-bottom: 24px;
                }
            }
            &__content {
                padding: 0;
                .text__body {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    p {
                        margin-top: calcRem(8px);
                    }
                }
            }
            &__pretitle,
            &__link {
                display: none;
            }
        }
    }
    &--title {
        .cmp-card {
            background-color: transparent;
            border: none;
            &__feature-card-column,
            &__pretitle,
            &__link {
                display: none;
            }
            &__content {
                .text__medium {
                    span {
                        @include font-size-line-height(58px, 64px);
                        font-family: $font-family-effra-pro;
                    }
                }
                .text__body {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    p {
                        margin-top: 0;
                        color: $cool-black;
                    }
                }
            }
        }
    }
    &--list,
    &--title {
        .cmp-card {
            pointer-events: none;
        }
    }
    &--hero,
    &--compact {
        .cmp-card {
            @include media-breakpoint-up(sm) {
                display: flex;
                flex-direction: row;
            }
        }
    }
    &--compact,
    &--featured,
    &--hero {
        .cmp-card {
            &__image-wrapper {
                height: 100%;
            }
            &__image-wrapper img,
            &__image-wrapper svg {
                min-height: 100%;
                object-position: center;
            }
        }
    }
    &--list.card-color--grey,
    &--title.card-color--grey {
        .cmp-card {
            background-color: $grey;
        }
    }
    &--list.card-color--greylight,
    &--title.card-color--greylight {
        .cmp-card {
            background-color: $grey-light;
        }
    }
}
.image-focus--left {
    .cmp-card {
        &__image-wrapper img,
        &__image-wrapper svg {
            object-position: left;
        }
    }
}
.image-focus--right {
    .cmp-card {
        &__image-wrapper img,
        &__image-wrapper svg {
            object-position: right;
        }
    }
}

.arrow-icon {
    @include button-arrow();
    .arrow {
        @include button-arrow-icon();
    }
}
