<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.imageReference, classAppend='cmp-hero-placeholder'}" />
<div class="full-width cmp-hero">
    <section class="${properties.text ? 'cmp-hero__image cmp-hero__peakover' : 'cmp-hero__image'}"
        data-sly-test="${properties.imageReference}">
        <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.imageTemplate 
            @ componentName='hero', imagePath=properties.imageReference, imageAltText=properties.imageAltText, imgClass='mw-100 w-100'}">
        </sly>
    </section>
    <section class="cmp-hero__main">
        <h1 class="cmp-hero__title mb-sm-1 mb-lg-4" data-sly-test="${properties.headline}"
            data-sly-use.headline="${'com.nyl.foundation.models.FormatterModel' @ input=properties.headline}">
            <span class="cmp-hero__eyebrow" data-sly-test="${properties.eyebrow}">${properties.eyebrow}</span>
            <sly data-sly-list.headlineHtml="${headline.lineBreakHtml}"> ${headlineHtml} <br
                    data-sly-test="${!headlineHtmlList.last}">
            </sly>
        </h1>
        <h2 class="cmp-hero__subtitle pt-1" data-sly-test="${properties.subhead}"
            data-sly-use.subhead="${'com.nyl.foundation.models.FormatterModel' @ input=properties.subhead}">
            <sly data-sly-list.subheadHtml="${subhead.lineBreakHtml}"> ${subheadHtml} <br
                    data-sly-test="${!subheadHtmlList.last}">
            </sly>
        </h2>
        <p class="cmp-hero__sub-cta mb-lg-4 mb-sm-3 pt-2 pt-sm-0"
            data-sly-test="${properties.primaryCtaLinkUrl && properties.primaryCtaLinkText}"
            data-sly-use.primaryCta="${'com.nyl.foundation.models.LinkModel' @ prefix='primaryCta'}">
            <a href="${primaryCta.url}" title="${primaryCta.title}"
                target="${primaryCta.behavior}">${primaryCta.text}</a>
        </p>
        <div class="cmp-hero__cta d-flex flex-column flex-md-row mt-4"
            data-sly-test="${properties.secondaryCtaIntro || properties.secondaryCtaLinkUrl}">
            <div class="pr-sm-2 mb-3 mb-sm-0" data-sly-test="${properties.secondaryCtaIntro}">
                ${properties.secondaryCtaIntro}</div>
            <a data-sly-test="${properties.secondaryCtaLinkUrl && properties.secondaryCtaLinkText}"
                data-sly-use.secondaryCta="${'com.nyl.foundation.models.LinkModel' @ prefix='secondaryCta'}"
                href="${secondaryCta.url}" title="${secondaryCta.title}" target="${secondaryCta.behavior}">
                <span class="nyl-button btn btn-block d-inline-block d-md-none">
                    <span class="nyl-button--link-text">${secondaryCta.text} </span>
                    <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                </span>
                <span class="nyl-button btn btn-block d-none d-md-inline-block">
                    <span class="nyl-button--link-text">${secondaryCta.text} </span>
                    <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </section>
    <section class="cmp-hero__secondary" data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text"
        data-sly-test.text="${textModel.text}">
        <p data-sly-unwrap="${textModel.isRichText}">${text @ context = textModel.isRichText ? 'html' : 'text'}</p>
    </section>
</div>
