<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-color-container-placeholder'}" />
<div class="full-width cmp-color-container">
    <div class="cmp-color-container__container">
        <sly data-sly-resource="${'color-container-parsys' @resourceType='wcm/foundation/components/responsivegrid'}" />
    </div>
</div>
