<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.linkText, classAppend='cmp-body-content-placeholder'}" />
<sly data-sly-test="${properties.colorScheme == 'salmon'}">
    <sly data-sly-set.backgroundColor="#F6E8EC" />
    <sly data-sly-set.headlineColor="#985570" />
</sly>
<sly data-sly-test="${properties.colorScheme == 'twilight'}">
    <sly data-sly-set.backgroundColor="#EBE7F2" />
    <sly data-sly-set.headlineColor="#5C4C79" />
</sly>
<sly data-sly-test="${properties.colorScheme == 'dusk'}">
    <sly data-sly-set.backgroundColor="#E6E9F0" />
    <sly data-sly-set.headlineColor="#424B6C" />
</sly>
<sly data-sly-test="${properties.colorScheme == 'rain'}">
    <sly data-sly-set.backgroundColor="#E0EDF3" />
    <sly data-sly-set.headlineColor="#205F7C" />
</sly>
<sly data-sly-test="${properties.colorScheme == 'palm'}">
    <sly data-sly-set.backgroundColor="#EBF0EA" />
    <sly data-sly-set.headlineColor="#466E5A" />
</sly>
<sly data-sly-test="${properties.colorScheme == 'gold'}">
    <sly data-sly-set.backgroundColor="#FBF0E7" />
    <sly data-sly-set.headlineColor="#A76936" />
</sly>
<sly data-sly-test="${properties.colorScheme == 'sunset'}">
    <sly data-sly-set.backgroundColor="#F8E8E2" />
    <sly data-sly-set.headlineColor="#745342" />
</sly>
<sly data-sly-test="${properties.colorScheme == 'quartz'}">
    <sly data-sly-set.backgroundColor="#E9E8E8" />
    <sly data-sly-set.headlineColor="#0A3C53" />
</sly>
<sly data-sly-test="${properties.imageAlign == 'right'}">
    <sly data-sly-set.textPadding="${properties.imageUrl ? '10px 30px 10px 15px' : '10px 15px 10px 15px'}" />
</sly>
<sly data-sly-test="${properties.imageAlign == 'left'}">
    <sly data-sly-set.textPadding="${properties.imageUrl ? '10px 15px 10px 30px' : '10px 15px 10px 15px'}" />
</sly>

<div
    style="background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};margin:0px auto;max-width:600px;">
    <table align="center" border="0" width="600" cellpadding="0" cellspacing="0" role="presentation"
        style="background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};width:100%;max-width:600px">
        <tbody>
            <tr>
                <td>
                    <!--[if mso | IE]>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
                            <tr>
                                <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
                    <div style="margin: 0px auto; max-width: 600px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td
                                        style="border-left:30px solid ${backgroundColor ? backgroundColor : '#E0EDF3'  @context='styleToken'};border-right:30px solid ${backgroundColor ? backgroundColor : '#E0EDF3'  @context='styleToken'};direction:${properties.imageAlign == 'left' ? 'ltr' : 'rtl'  @context='styleToken'};font-size:0px;padding:20px 0;text-align:center;background:#ffffff;">
                                        <sly data-sly-test="${properties.imageUrl}">
                                            <!--[if mso | IE]>
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="" style="vertical-align:top;width:178.2px;">
                                            <![endif]-->
                                            <div class="mj-column-per-33 mj-outlook-group-fix"
                                                style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="vertical-align: top;" width="100%">
                                                    <tr>
                                                        <td align="center" class="body__image"
                                                            style="font-size:0px;padding:${properties.imageAlign == 'right' ? '10px 15px 10px 0px' : '10px 0px 10px 15px' @ context='text'};word-break:break-word;">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                role="presentation"
                                                                style="border-collapse: collapse; border-spacing: 0px;"
                                                                data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='email-body-content', imagePath=properties.imageUrl, imageAltText=properties.imageAltText, aspectRatio='1:1'}">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width: 25%"><img height="auto"
                                                                                src="${imageModel.renditions['xsmall'].imageUrl}"
                                                                                alt="${imageModel.altText}"
                                                                                style="border: 0; display: block; outline: none; text-decoration: none; height: auto; width: 100%; font-size: 13px;"
                                                                                width="163"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--[if mso | IE]>
                                                </td>
                                            
                                                <td
                                                class="" style="vertical-align:top;width:361.8px;"
                                                >
                                            <![endif]-->
                                        </sly>
                                        <div class="${properties.imageUrl ? 'mj-column-per-67' : 'mj-column-per-100'}  mj-outlook-group-fix"
                                            style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                style="vertical-align: top;" width="100%">
                                                <tr data-sly-test="${properties.headline}">
                                                    <td align="left" class="body__headline"
                                                        style="font-size:0px;padding:${textPadding @ context='text'};word-break:break-word;">
                                                        <div
                                                            style="font-family:'effra',sans-serif;font-size:24px;font-style:normal;font-weight:500;letter-spacing:normal;line-height:1.33;text-align:left;color:${headlineColor @context='styleToken'};">
                                                            <span>${properties.headline}</span></div>
                                                    </td>
                                                </tr>
                                                <tr data-sly-test="${properties.description}">
                                                    <td align="left" class="body__content"
                                                        style="font-size:0px;padding:${textPadding @ context='text'};word-break:break-word;">

                                                        <div
                                                            style="font-family: 'effra', sans-serif; font-size: 18px; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: 1.5; text-align: left; color: #171717;">
                                                            ${properties.description @ context='html'}</div>
                                                    </td>
                                                </tr>
                                                <sly data-sly-use.buttonStyle="/apps/nyl-foundation/components/common/templates/button-style.html"
                                                            data-sly-call="${buttonStyle.styleAttribute @ color = '#ffffff', backGroundColor='#0a3c53',border='none',styleType='primary', textPadding=textPadding}">
                                                        </sly>

                                                        <sly data-sly-use.buttonStyle="/apps/nyl-foundation/components/common/templates/button-style.html"
                                                            data-sly-call="${buttonStyle.styleAttribute  @ color = '#0a3c53', backGroundColor='#ffffff',border='4px solid #0a3c53',styleType='secondary', textPadding=textPadding}">
                                                        </sly>
                                               
                                               
                                                <tr
                                                    data-sly-test="${properties.linkText && properties.buttonStyle == 'text'}">

                                                    <td align="left" vertical-align="middle"
                                                    class="body__cta-btn body__cta-btn--secondary"
                                                    style="font-size:0px;padding:${textPadding @ context='text'};word-break:break-word;">
                                                     <table border="0" cellpadding="0" cellspacing="0"
                                                            role="presentation"
                                                            style="border-collapse: separate; line-height: 100%;">
                                                            <tr>
                                                                <td align="center" role="presentation"
                                                                    style="border: none; border-radius: 3px; cursor: auto; font-style: normal; mso-padding-alt: 0;"
                                                                    valign="middle"><a href="${properties.linkUrl}"
                                                                        title="${properties.linkTitle}"
                                                                        style="display: inline-block; color: #171717; font-family: 'effra', sans-serif; font-size: 18px; font-style: normal; font-weight: bold; line-height: 1.5; margin: 0; text-decoration: none; text-transform: none; mso-padding-alt: 0px; border-radius: 3px;"
                                                                        target="_blank"> <span class="body__cta-btn__text"
                                                                            style="font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.44; letter-spacing: normal; text-align: center; color: #171717;">${properties.linkText}
                                                                            &rarr;</span>
                                                                    </a></td>
                                                            </tr>
                                                        </table>
                                                </td>

                                                </tr>
                                            </table>
                                        </div>
                                        <sly data-sly-test="${properties.imageUrl}">
                                            <!--[if mso | IE]>
                                                        </td>
                                                    </tr>
                                                </table>
                                            <![endif]-->
                                        </sly>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                                </td>
                            </tr>
                        </table>
                    <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
