.cmp-hero {
    position: relative;
    &__peakover {
        &::after {
            content: '';
            background-color: $white;
            border-radius: 5px 5px 0 0;
            position: absolute;
            bottom: -1px;
            width: 76.5%;
            left: 11.5%;
            height: 13.5%;
            @include media-breakpoint-down(sm) {
                width: 95%;
                left: 2.5%;
                height: 40px;
            }
        }
    }
    &__image {
        background: $white;
        margin: auto;
        position: relative;
        text-align: center;
        max-width: 1440px;
    }
    &__main {
        position: absolute;
        max-width: 1100px;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        text-align: left;
        @include media-breakpoint-down(sm) {
            position: relative;
            margin: auto 10%;
        }

        @include media-breakpoint-up(md) {
            top: 9%;
            width: 100%;
            color: $white;
            a {
                color: $white;
                &:hover {
                    color: $white;
                }
            }
        }
        @include media-breakpoint-down(lg) {
            padding-left: 2%;
            padding-right: 2%;
        }
    }
    &__eyebrow {
        @include font-size($font-size-large);
        @include line-height($font-size-large, 1.8);
        @extend .base-font;
        display: block;
        @include media-breakpoint-down(sm) {
            @include line-height($font-size-x-large, 1.5);
            line-height: calcRem(36px);
            margin-top: calcRem(15px);
        }
    }
    &__title {
        @include font-size($font-size-x-large);
        @include line-height($font-size-x-large, 1.25);
        font-weight: 400;
        @include media-breakpoint-up(lg) {
            width: 60%;
        }
        @include media-breakpoint-only(md) {
            width: 80%;
        }
    }
    &__sub-cta a,
    &__cta,
    &__cta a,
    &__subtitle {
        @include font-size(20px);
        font-weight: 400;
        font-family: $font-family-effra-pro;
    }
    &__subtitle {
        @include media-breakpoint-up(lg) {
            width: 60%;
            margin-bottom: calcRem(40px);
        }
        @include media-breakpoint-only(md) {
            width: 65%;
        }
    }
    &__sub-cta {
        @include media-breakpoint-up(lg) {
            width: 60%;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    &__cta {
        @include media-breakpoint-up(lg) {
            width: 60%;
        }
        @include media-breakpoint-down(sm) {
            text-align: left;
        }
        a {
            margin-top: -15px;
            @include media-breakpoint-down(sm) {
                margin-top: 20px;
            }
        }
        div {
            margin-right: 30px;
            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
        }
        .btn:hover{            
            background: #2f596d;
            border: 4px solid #2f596d;
            color:#ffffff;      
        }
    }
    &__secondary {
        max-width: 1100px;
        margin: auto;
        color: $black;
        position: relative;
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
            padding-top: 75px;
            padding-right: 15px;
            padding-left: 15px;
        }
        p {
            color: $black;
            @include font-size(20px);
            margin: 0 auto;
            text-align: center;
            @include media-breakpoint-up(md) {
                width: 75%;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
            display: block;
            margin: 0 auto;
            padding-bottom: 1rem;
        }
    }
    &--dark-text {
        .cmp-hero__main {
            color: $black;
            a {
                color: $black;
            }
        }
    }
}
