<div class="cmp-bio">
    <div class="card expanded">
        <div class="row">
            <div class="row cmp-bio__see-link see-link collapse-card">
                <a>See Less<i class="icon-arrow" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="row">
            <div class="row cmp-bio__see-link see-link collapse-card">
                <a>See Less<i class="icon-arrow" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <hr>
</div>
