<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.headLineText, classAppend='cmp-dropdown-targeting-placeholder'}" />
<div class="cmp-dropdown-targeting" data-sly-use.identifier="${'com.nyl.foundation.models.IdGeneratorModel'}">
    <div id="ltc-upper-xf-${identifier.id}"></div>
    <h2 data-sly-test="${properties.headLineText}">${properties.headLineText}</h2>
    <p data-sly-test="${properties.introductoryText}" class="mb-4">${properties.introductoryText}</p>
    <sly data-sly-use.resourcePath="${'com.nyl.foundation.models.LinkRewriteModel' @ path=resource.path}" />
    <form id="ltc-form-${identifier.id}" data-id="${identifier.id}"
        data-ltc="${resourcePath.rewriteUrlWithoutExtension}.targeting"
        data-target-token="${properties.targetResponseToken}" data-sly-list.children="${resource.listChildren}"
        novalidate>
        <div class="form-group dropDownList mb-3">
            <label data-sly-test="${properties.dropDownLabel}"
                for="ltc-option-${identifier.id}">${properties.dropDownLabel}</label> <select
                data-sly-list="${children.listChildren}" id="ltc-option-${identifier.id}"
                class="col form-control form-control-lg" data-ltc-dropdown="${properties.dropDownSelectKey}">
                <option data-sly-test.first="${itemList.first}" value="${item.value}" selected>${item.label}</option>
                <option data-sly-test="${!first}" value="${item.value}">${item.label}</option>
            </select>
        </div>
        <button data-sly-test="${properties.selectButtonText}" type="submit"
            class="nyl-button">${properties.selectButtonText}</button>
    </form>
    <div id="ltc-lower-xf-${identifier.id}"></div>
</div>
