.cmp-contributor {
    margin-top: 76px;
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
        margin-top: 69px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 59px;
    }
    h2 {
        line-height: calcRem(60px);
        @include media-breakpoint-down(sm) {
            font-size: calcRem(32px);
            text-align: center;
        }
    }
    &__container {
        margin-top: 60px;
        @include media-breakpoint-down(md) {
            margin-top: 72px;
        }

        @include media-breakpoint-down(sm) {
            text-align: center;
            margin-top: 30px;
        }

        picture {
            @include media-breakpoint-down(sm) {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &--image {
            width: 165px;
            height: 165px;
            float: left;
            margin-right: 43px;
            border-radius: 85px;
            @include media-breakpoint-down(sm) {
                width: 125px;
                height: 125px;
                margin-right: 20px;
            }
        }
        &--info {
            text-align: left;
            @include media-breakpoint-down(sm) {
                text-align: left;
                display: inline-block;
                vertical-align: middle;
            }
            .name {
                font-family: $font-family-effra-pro;
                font-size: calcRem(24px);
                font-weight: $font-weight-medium;
                font-stretch: normal;
                font-style: normal;
                line-height: calcRem(36px);
                letter-spacing: normal;
                color: $black;
                display: block;
            }
            .proffession {
                font-family: $font-family-effra-pro;
                font-size: calcRem(18px);
                font-weight: $font-weight-regular;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: $dark-gray;
                display: inline-block;
            }
        }
        &--description {
            display: table-cell;
            .bio {
                font-family: $font-family-effra-pro;
                font-size: calcRem(18px);
                font-weight: $font-weight-regular;
                font-stretch: normal;
                font-style: normal;
                line-height: calcRem(27px);
                letter-spacing: normal;
                color: $black;
                display: block;
                padding-top: 10px;
            }
            .contact {
                font-family: $font-family-effra-pro;
                font-size: calcRem(18px);
                font-weight: $font-weight-bold;
                font-stretch: normal;
                font-style: normal;
                line-height: calcRem(27px);
                letter-spacing: normal;
                color: $black;
                display: inline-block;
                margin-top: 20px;
                background: url('../resources/images/nyl_email_rgb.svg') no-repeat;
                background-size: 30px 18px;
                padding-left: 40px;
                label {
                    font-family: $font-family-effra-pro;
                    font-size: 18px;
                    font-weight: $font-weight-bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: calcRem(27px);
                    letter-spacing: normal;
                    color: $black;
                    vertical-align: middle;
                }

                a {
                    font-weight: $font-weight-regular;
                    text-decoration: underline;
                    vertical-align: top;
                    @include media-breakpoint-down(sm) {
                        display: block;
                        text-align: left;
                    }
                }
                @include media-breakpoint-down(sm) {
                    text-align: left;
                }
            }

            @include media-breakpoint-down(sm) {
                clear: both;
                display: block;
                text-align: center;
                padding-top: 10px;
            }
        }
    }
}
