<script
    data-sly-use.finanicalSchemaModel="${'com.nyl.nylcom.models.agentweb.FinancialServiceSchemaModel' @componentName='basepage', imagePath=pageProperties.ogImage }"
    data-sly-test="${finanicalSchemaModel.financialServiceData}" type="application/ld+json">
      ${finanicalSchemaModel.financialServiceData @ context='unsafe'}
</script>

<script
    data-sly-use.goFinanicalSchemaModel="${'com.nyl.nylcom.models.agentweb.GoFinancialServiceSchemaModel' @componentName='basepage', imagePath=pageProperties.ogImage }"
    data-sly-test="${goFinanicalSchemaModel.financialServiceData}" type="application/ld+json">
      ${goFinanicalSchemaModel.financialServiceData @ context='unsafe'}
</script>

<script data-sly-test="${pageProperties.goOfficeCode}"
    data-sly-use.breadcrumbDataModel="${'com.nyl.foundation.models.BreadcrumbStructuredDataModel' }"
    type="application/ld+json">
          ${breadcrumbDataModel.breadcrumbListStructureData @ context='unsafe'}
</script>

<script
    data-sly-use.directoryBreadcrumbDataModel="${'com.nyl.nylcom.models.agentweb.DirectoryBreadcrumbStructuredDataModel' }"
    data-sly-test="${directoryBreadcrumbDataModel.breadcrumbListStructureData}" type="application/ld+json">
         ${directoryBreadcrumbDataModel.breadcrumbListStructureData @ context='unsafe'}
</script>

<script
    data-sly-use.profileBreadcrumbModel="${'com.nyl.nylcom.models.agentweb.AgentProfileBreadcrumbStrucuturedDataModel' }"
    data-sly-test="${profileBreadcrumbModel.breadcrumbListStructureData}" type="application/ld+json">
          ${profileBreadcrumbModel.breadcrumbListStructureData @ context='unsafe'}
</script>

<sly data-sly-use.marketerNumberModel="com.nyl.nylcom.models.agentweb.MarketerNumberModel">
    <div data-marketer-number="${marketerNumberModel.marketerNumber}"></div>
</sly>