<template data-sly-template.head="${ @ page }" data-sly-use.headlibRenderer="headlibs.html"
    data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8">
    <sly data-sly-use.agentProfile="com.nyl.nylcom.models.agentweb.AgentProfileMetadataModel"
        data-sly-use.directoryPage="com.nyl.nylcom.models.agentweb.DirectoryPageMetaDataModel">
        <title data-sly-test.profileData="${agentProfile.producerProfile}">${agentProfile.agent}
            ${agentProfile.name} ${'nyl.agent.servingTitleLabel' @ i18n} ${agentProfile.address} |
            ${'nyl.agent.nylTitleLabel' @ i18n}.</title>
        <meta name="description"
            content="${agentProfile.agent} ${agentProfile.name} ${'nyl.agent.servesTitleLabel' @ i18n} ${agentProfile.address}. ${'nyl.agent.protectTitleLabel' @ i18n}"
            data-sly-test.profileData="${agentProfile.producerProfile}" />
        <title data-sly-test="${!profileData && !directoryPage.directoryPage}">${page.title}</title>
        <meta name="description" content="${description}"
            data-sly-test.description="${!profileData && !directoryPage.directoryPage && properties['jcr:description'] }" />
        <title data-sly-test="${directoryPage.directoryPage}">${directoryPage.title}</title>
        <meta name="description" content="${directoryPage.description}"
            data-sly-test="${directoryPage.directoryPage}" />
    </sly>
    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}" />
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}" />
    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath}
        data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
</template>
