<sly data-sly-use.agentProfile="com.nyl.nylcom.models.agentweb.AgentProfileMetadataModel"
    data-sly-use.directoryPage="com.nyl.nylcom.models.agentweb.DirectoryPageMetaDataModel"
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='basepage', imagePath=pageProperties.ogImage}">
    <meta property="og:title"
        content="${agentProfile.agent} ${agentProfile.name} ${'nyl.agent.servingTitleLabel' @ i18n} ${agentProfile.address} | ${'nyl.agent.nylTitleLabel' @ i18n}."
        data-sly-test.profileData="${agentProfile.producerProfile}" />
    <meta property="og:title" content="${pageProperties.ogTitle}"
        data-sly-test="${!profileData && !directoryPage.directoryPage && pageProperties.ogTitle}" />
    <meta property="og:title" content=${directoryPage.ogTitle} data-sly-test="${directoryPage.directoryPage}" />
    <meta property="og:description"
        content="${agentProfile.agent} ${agentProfile.name} ${'nyl.agent.servesTitleLabel' @ i18n} ${agentProfile.address}. ${'nyl.agent.protectTitleLabel' @ i18n}"
        data-sly-test.profileData="${agentProfile.producerProfile}" />
    <meta property="og:description" content="${pageProperties.ogDescription}"
        data-sly-test="${!profileData && !directoryPage.directoryPage && pageProperties.ogDescription}" />
    <meta property="og:description" content=${directoryPage.ogDescription}
        data-sly-test="${directoryPage.directoryPage}" />
    <meta property="og:image" content="${imageModel.renditions['large'].imageUrl}"
        data-sly-test="${agentProfile.producerProfile && !agentProfile.producerProfile.profileImage && imageModel.renditions['large'].imageUrl} " />
    <meta property="og:image" content="${agentProfile.producerProfile.profileImage}"
        data-sly-test="${agentProfile.producerProfile && agentProfile.producerProfile.profileImage}" />
</sly>
<sly data-sly-include="twitter-metadata.html"></sly>
