<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.title, classAppend='cmp-contact-us-form-placeholder'}" />
<div id="contact-us-background" class="cmp-contact-us-form full-width" data-sly-set.imageSize="${properties.headline && properties.description &&
    properties.ctaLinkUrl? 'primary':'secondary'}">

    <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
        data-sly-call="${image.imageTemplate @ componentName='contact-us-form',imagePath=properties.backgroundImagePath, aspectRatio=imageSize, pictureId='bgPicture', pictureClass='cmp-contact-us-form--image', imgId='bgImage', imgClass='mw-100'}">
    </sly>

    <div id="form-wrapper" class="cmp-contact-us-form__wrapper col-12">
        <div class="cmp-contact-us-form__wrapper--background cmp-contact-us-form__wrapper--form-wrapper">
            <h2 data-sly-test="${properties.title}" class="cmp-contact-us-form__heading">${properties.title}</h2>
            <sly data-sly-include="contact-us-form.eloqua.html"></sly>
        </div>
        <div class="subscription-center-form cmp-contact-us-form__wrapper--background 
            cmp-contact-us-form__wrapper--subscription-wrapper"
            data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ prefix='cta'}"
            data-sly-test="${properties.headline && properties.description && properties.ctaLinkUrl}">
            <div class="row">
                <div class="subscription-center-form__description cmp-contact-us-form__wrapper--rm-l-gut 
                    col-xs-12 col-sm-12  col-md-7 col-lg-7">
                    <h2 class="subscription-center-form__heading">${properties.headline}</h2>
                    <div class="subscription-center-form__description cmp-rte">${properties.description @
                        context='html'}</div>
                </div>
                <div class="subscription-center-form__button col-xs-12 col-sm-12  col-md-5 col-lg-5 
                    cmp-contact-us-form__wrapper--rm-r-gut">
                    <a href="${linkModel.url}" class="nyl-button" title="${linkModel.title}"
                        target="${linkModel.behavior}">
                        ${linkModel.text}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
