<sly data-sly-use.roleContainerModel="com.nyl.nylim.models.RoleContainerModel"
    data-sly-use.canonicalUrlModel="com.nyl.foundation.models.CanonicalUrlModel"
    data-sly-use.requestAttribute="${'com.nyl.foundation.models.RequestAttributeModel' @ setComponentName = 'eloqua'}"
    data-sly-use.redirectPageModel="${'com.nyl.foundation.models.LinkRewriteModel' @ path=properties.redirectUrl}">

    <!--/*Eloqua Markup*/-->
    <form method="post" name="Contact_Us_Form_MAR2020" action="https://s2108552627.t.eloqua.com/e/f2"
        onsubmit="return handleFormSubmit(this)" id="form22" class="elq-form">
        <input value="Contact_Us_Form_MAR2020" type="hidden" name="elqFormName">
        <input value="2108552627" type="hidden" name="elqSiteId">
        <input name="elqCampaignId" type="hidden">
        <div class="layout container-fluid">
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement0" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label " for="fe196">Email
                                    <span class="elq-required">*
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" name="C_EmailAddress" id="fe196"
                                                value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement1" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label " for="fe200">Name
                                    <span class="elq-required">*
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" name="C_FirstName" id="fe200"
                                                value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement2" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label " for="fe211">Message
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="field-control-wrapper">
                                            <textarea class="elq-item-textarea" style="width:100%;" name="message"
                                                id="fe211"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement3" class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div>
                                            <input type="Submit" class="submit-button-style " value="Submit" id="fe199">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="elqCampaignID" id="fe197" value="">
            <input type="hidden" name="cmpid" id="fe198" value="">
            <input type="hidden" name="pageURL" id="fe204" value="${canonicalUrlModel.canonicalUrl}">
            <input type="hidden" name="C_UserRole" id="fe205" value="${roleContainerModel.activeUser}">
            <input type="hidden" name="redirectURL" id="fe206" value="${redirectPageModel.publishUrl}">
            <input type="hidden" name="elqCustomerGUID" value="">
            <input type="hidden" name="elqCookieWrite" value="0">
        </div>
    </form>
    <!--/*Eloqua Markup Ends*/-->
</sly>
