.cmp-form-radio-button {
    margin: 0px 4px;
    @include media-breakpoint-up(md) {
        margin: 0px 8px;
    }
    @include media-breakpoint-up(lg) {
        margin: 0px 15px;
    }
    &__question {
        font-size: 16px;
        font-family: $font-family-effra-pro;
        font-weight: bold;
        line-height: 27px;
        letter-spacing: normal;
        color: $black;
        margin-bottom: 0;
        .icon-tool-tip {
            width: calcRem(12px);
            height: calcRem(12px);
            margin: calcRem(1px) calcRem(2px) calcRem(2px) calcRem(10px);
        }
    }
    &__container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__circle {
        display: none;
    }
    input[type='radio'] + label span {
        display: inline-table;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
        background-color: $white;
        border: 1px solid $medium-gray;
    }
    input[type='radio']:checked + label span {
        background: $dark-rain;
    }
    &__label {
        font-size: 18px;
        font-family: $font-family-effra-pro;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $black;
        margin-bottom: 0;
        display: flex;
    }
    &__wrapper {
        &.error {
            .cmp-form-radio-button__label span {
                border: 1px solid $error-red;
            }
        }
    }
}
