.cmp-top-countries-or-states {
    &__heading {
        font-family: $font-family-helvetica-neue;
        color: $steel;
        &-part-one {
            @include font-size(14px);
            @include line-height(17px);
            letter-spacing: calcRem(1px);
            font-weight: bold;
            text-transform: uppercase;
        }
        &-part-two {
            @include font-size(12px);
            @include line-height(13px);
            font-weight: normal;
        }
        &-part-three {
            @include font-size(12px);
            @include line-height(13px);
            font-weight: normal;
        }
    }
    .highcharts-title,
    .highcharts-credits,
    .highcharts-text-outline {
        display: none;
    }
    .highcharts-container {
        left: -10px;
    }

    .highcharts-label .data-label {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        color: $white;
    }
    .ratio-percent {
        @include font-size(22px);
        @include line-height(32px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        color: $white;
        @include media-breakpoint-down(sm) {
            @include font-size(16px);
            @include line-height(19px);
        }
    }
    .highcharts-tooltip {
        span {
            font-family: $font-family-helvetica-neue !important;
        }
    }
}
