.cmp-model-hypotheticals {
    @include morningstar-mobile-rotate-styles;
    @include morningstar-section-title-styles;
    @include morningstar-holdings-panel-styles;
    @include morningstar-input-styles;
    @include morningstar-checkbox-styles;
    @include morningstar-report-button-styles;
    @include morningstar-mds-button-overrides;

    // morningstar overrides
    .ec-hypothetical-growth .ec-report-builder {
        * {
            @extend %base-font;
            color: $steel;
        }
        .ec-section__section--all {
            border-color: $medium-gray;
        }
    }
    .mds-popover {
        *,
        .ec-hypothetical-growth__button-switch .mds-button__text {
            @extend %base-font;
            color: $steel;
            fill: $steel;
        }
    }
    .ec-hypothetical-growth__hypothetical-settings--holdings-comparison .mbc-time-series-line-chart,
    .mbc-mds-button,
    .mbc-mds-button--secondary,
    .mbc-mds-button--flat,
    .mds-button,
    .mds-button--secondary,
    .mds-button--flat,
    .mds-container--light-gray .mds-button--flat,
    .mds-container--white .mds-button--flat,
    .mds-search-field__input,
    .mds-combo-box,
    .mds-form__radio-button,
    .mds-form__input,
    .mds-form__checkbox,
    .mds-combo-box__dropdown .select2-search--dropdown .select2-search__field,
    .ec-combo-box .mds-combo-box__dropdown .select2-search--dropdown .select2-search__field,
    #ec-hypothetical-growth-performance-graph-line-chart .mbc-chart-legend .legend-item text,
    #ec-hypothetical-growth-performance-graph-line-chart .mbc-chart-inner .tick text {
        @extend %base-font;
        @extend %font-weight-regular;
        color: $steel;
        fill: $steel;
    }
    .mds-form__label {
        @extend .h6;
        @include line-height(19px);
        letter-spacing: 1.14px;
        color: $steel;
    }
    #ec-hypothetical-growth-performance-graph-line-chart {
        .mbc-chart-legend .legend-item text {
            font-size: calcRem(11px);
        }
    }
    #ec-hypothetical-growth-performance-graph-line-chart.mbc-time-series-line-chart {
        .grid__bars {
            &:nth-child(odd) {
                fill: $light-steel-4;
            }
        }

        .mbc-back-group .mbc-grid-line,
        .mbc-axis-y1 .tick line {
            stroke: $gray;
        }

        .mbc-axis-y1,
        .mbc-axis-y2 {
            fill: $dark-gray;
            letter-spacing: 0.44px;
        }
        .mbc-axis-x {
            @include font-size(13px);
            @include line-height(15px);
            letter-spacing: 0.41px;
            fill: $dark-gray;
        }
        .mbc-tick-abbreviation {
            fill: #9fa19e;
        }
    }
    .mds-button,
    .mds-button--secondary {
        @include line-height(16px);
    }

    .mstar-hypo-frequency-tab .mds-button-group {
        .mds-button {
            @include font-size(14px);
            border-radius: 0;
            box-shadow: none;
            letter-spacing: calcRem(1.75px);

            &--active {
                @include line-height(17px);
                color: $steel;
                font-weight: $font-weight-bold;

                &:after {
                    border-bottom: 4px solid $medium-dusk;
                    content: '';
                    display: block;
                    margin: 3px auto 0;
                    width: 100%;
                }
            }

            &:hover {
                color: $dark-steel-2;
            }

            &--active,
            &:hover {
                background: none;
            }
        }
    }

    .mbc-chart-legend .mbc-mds-button {
        @include font-size(16px);
        background: $medium-rain;
        border-radius: 0;
        box-shadow: none;
        color: $white;
        display: flex;
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-medium;
        height: calcRem(48px);
        padding: 0 calcRem(12px);
        top: calcRem(-29px) !important;

        &:hover {
            background: $dark-steel-2;
        }

        @include media-breakpoint-up(x) {
            height: calcRem(30px);
            top: calcRem(-9px) !important;
        }
    }

    .mstar-hypo-settings-apply-button .mds-button {
        background: $medium-rain;
    }
}
