<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.headline, classAppend='cmp-cta-banner-placeholder'}" />
<div class="cmp-cta-banner">
    <div class="row justify-content-around"
        data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @ imagePath=properties.imagePath}">
        <sly data-sly-use.primaryBannerCta="${'com.nyl.foundation.models.LinkModel' @ prefix='primaryBannerCta'}"
            data-sly-use.secondaryBannerCta="${'com.nyl.foundation.models.LinkModel' @ prefix='secondaryBannerCta'}">
            <div data-sly-test="${properties.headline || (primaryBannerCta.url&& primaryBannerCta.text)}"
                class="col text-center">
                <div class="section-background">
                    <div class="cmp-cta-banner__title" data-sly-test="${properties.headline}">
                        <h2>${properties.headline}</h2>
                    </div>
                    <div data-sly-test="${properties.description}" class="cmp-cta-banner__description">
                        <p class="--large">${properties.description @ context='html'}</p>
                    </div>
                    <div class="cmp-cta-banner__intro-text">
                        <p>${properties.primaryIntroText}</p>
                    </div>
                    <div class="cmp-cta-banner__button"
                        data-sly-test="${primaryBannerCta.url && primaryBannerCta.text}">
                        <a href="${primaryBannerCta.url}" target="${primaryBannerCta.behavior}"
                            title="${primaryBannerCta.title}"> <span class="nyl-button">
                                ${primaryBannerCta.text} <img
                                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--white.svg"
                                    class="icon-cta-arrow" alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </sly>
        <div data-sly-test="${imageModel.svg}" class="col-lg-2 col-md-3 cmp-cta-banner__image">
            <div class="cmp-cta-banner__image-container"><img src="${properties.imagePath}"
                    data-aem-asset-id="${imageModel.imageId}" data-trackable="${imageModel.imageId? 'true' : ''}" alt="" /></div>
        </div>
    </div>
    <sly data-sly-test="${properties.secondaryIntroText || (secondaryBannerCta.url && secondaryBannerCta.title)}">
        <div class="cmp-breaker--light-gray">
            <hr class="cmp-breaker d-none" />
        </div>
        <div class="row d-flex align-items-center text-center text-md-left">
            <div class="col-lg-4 col-md-6 offset-lg-1 cmp-cta-banner__intro-text--secondary">
                <p>${properties.secondaryIntroText}</p>
            </div>
            <div class="col-lg-5 col-md-6 cmp-cta-banner__secondary-button">
                <a data-sly-test="${secondaryBannerCta.url && secondaryBannerCta.title}"
                    href="${secondaryBannerCta.url}" target="${secondaryBannerCta.behavior}"
                    title="${secondaryBannerCta.title}"> <span class="nyl-button button--secondary">
                        ${secondaryBannerCta.text} <img
                            src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--dark-quartz.svg"
                            class="icon-cta-arrow" alt="">
                    </span>
                </a>
            </div>
        </div>
    </sly>
</div>
