<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.sectionTitle, classAppend='cmp-anchor-link-section-placeholder'}" />

<div class="cmp-anchor-link-section container-md" id="${properties.anchorId}">
    <div class="cmp-anchor-link-section__accordion">
        <h2 data-sly-test="${properties.sectionTitle}" class="cmp-anchor-link-section__title-accordion">
            ${properties.sectionTitle}</h2>
        <div class="cmp-anchor-link-section__accordion-content">
            <h2 data-sly-test="${properties.sectionTitle}" class="cmp-anchor-link-section__title">
                ${properties.sectionTitle}</h2>
            <div class="${wcmmode.edit ? 'cmp-anchor-link-section__outerWrapper': ''}">
                <sly
                    data-sly-resource="${'anchor-section-parsys' @resourceType='wcm/foundation/components/responsivegrid'}" />
            </div>
        </div>
    </div>
</div>
<div class="cmp-anchor-link-section__colorbar"></div>
