<div class="fund-id" data-fundId="F_MTF"></div>
<div class="cmp-top-holdings">
    <div class="cmp-top-holdings__header">
        <div class="cmp-top-holdings__title-date">
            <span data-alternate-label=false class="cmp-top-holdings__title"></span>
            <span class="cmp-top-holdings__date"></span>
        </div>
        <div class="cmp-top-holdings__delay-unaudited-date">
            <span class="cmp-top-holdings__date"></span>
        </div>
        <div class="cmp-top-holdings__link">
            <i class="cmp-top-holdings__link-icon" aria-hidden="true"></i>
            <a title="This is hover text" href='http://www.example.com' target="_blank"
                class="cmp-top-holdings__link-text">
                Download All Holdings
            </a>
        </div>
    </div>
    <div class="cmp-top-holdings__table">
        <div class="cmp-top-holdings__left-holding-column"></div>
        <div class="cmp-top-holdings__right-holding-column"></div>
    </div>
</div>
