.cmp-cta-content-link {
    padding-top: calcRem(50px);
    padding-bottom: calcRem(70px);
    letter-spacing: 0;
    text-align: center;
    background: $steel;
    color: $white;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    @include media-breakpoint-down(sm) {
        padding-top: calcRem(48px);
        padding-bottom: calcRem(45px);
    }
    &__image-container {
        display: none;
    }
    &__headline {
        font-family: $font-family-alda;
        @include font-size(36px);
        @include line-height(60px);
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
            @include font-size(28px);
            @include line-height(32px);
        }
    }
    &__description {
        @include font-size(18px);
        @include line-height(28px);
        margin-top: calcRem(24px);
        p {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(16px);
            @include font-size(14px);
            @include line-height(20px);
        }
    }
    &__button-group {
        text-align: center;
        margin-top: calcRem(40px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            margin-top: calcRem(32px);
            flex-direction: column;
        }
    }
    &__button {
        list-style-type: none;

        a {
            text-decoration: none;
            padding-left: calcRem(11px);
            padding-right: calcRem(11px);
            @include media-breakpoint-down(sm) {
                span {
                    position: relative;
                    i {
                        top: calc(50% - 8px);
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {
            &:not(:first-child) {
                padding-top: calcRem(16px);
            }
        }

        // three button use
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ .cmp-cta-content-link__button {
            max-width: 33%;
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }

        // four button use case
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ .cmp-cta-content-link__button {
            width: 50%;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        @include media-breakpoint-up(md) {
            &:first-child:nth-last-child(4) ~ .cmp-cta-content-link__button:nth-last-child(-n + 2) {
                padding-top: calcRem(16px);
            }
            &:first-child:nth-last-child(4),
            &:first-child:nth-last-child(4) ~ .cmp-cta-content-link__button:nth-child(odd) {
                text-align: right;
            }
            &:first-child:nth-last-child(4) ~ .cmp-cta-content-link__button:nth-child(even) {
                text-align: left;
            }
        }
    }

    &--tout {
        .cmp-cta-content-link {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            position: relative;
            justify-content: center;
            background-color: $white;
            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
                margin-top: 0;
                padding-top: 0;
                padding-bottom: 0;
                text-align: center;
            }

            &__image-container {
                max-width: 1440px !important;
                position: relative;
                margin-left: calc(-50vw + 6px);
                margin-right: calc(-50vw + 6px);
                height: calcRem(384px);
                display: block;
                align-content: center;
                overflow: hidden;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                @include media-breakpoint-down(sm) {
                    height: calcRem(324px);
                    position: relative;
                }
            }
            &__container {
                @include media-breakpoint-down(sm) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &__headline {
                @include line-height(48px);
                font-weight: normal;
                @include media-breakpoint-down(sm) {
                    @include font-size(26px);
                    @include line-height(41px);
                    font-weight: normal;
                }
            }
            &__description {
                margin: 0;
                padding: 0;
                max-width: 100%;
                font-weight: normal;
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(11px);
                    margin-bottom: calcRem(26px);
                    text-align: center;
                }
                p {
                    @include font-size(18px);
                    @include line-height(30px);
                    @include media-breakpoint-down(sm) {
                        @include font-size(16px);
                        @include line-height(26px);
                    }
                }
            }
            &__textWraper {
                height: calcRem(241px);
                padding: calcRem(49px) calcRem(39px) calcRem(71px) calcRem(39px);
                text-align: left;
                background: $light-steel-3;
                color: $steel;
                position: absolute;
                z-index: 1;
                top: calcRem(71px);
                left: 0;
                right: 0;
                margin: 0 auto;
                @include media-breakpoint-up(lg) {
                    max-width: calcRem(980px);
                    width: 95%;
                }
                @include media-breakpoint-only(md) {
                    margin: 0 calcRem(20px);
                }
                @include media-breakpoint-down(sm) {
                    height: calcRem(244px);
                    padding-top: calcRem(30px);
                    padding-bottom: calcRem(39px);
                    padding-left: calcRem(39px);
                    padding-right: calcRem(39px);
                    display: block;
                    top: calcRem(40px);
                    margin: 0 calcRem(20px);
                }
            }
            &__textWraperInner {
                width: 75%;
                margin: 0 auto;
                display: flex;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
            &__leftContent {
                flex: 1;
                @include media-breakpoint-down(sm) {
                    flex: none;
                }
            }
            &__rightContent {
                flex: 1;
                position: relative;
                @include media-breakpoint-down(sm) {
                    flex: none;
                    ul {
                        padding: 0;
                    }
                }
            }
            &__button {
                @include media-breakpoint-up(md) {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    } // Tout style end

    &--tout-wide {
        .cmp-cta-content-link {
            position: relative;
            display: block;
            justify-content: center;
            background-color: $white;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            @include media-breakpoint-down(sm) {
                text-align: center;
                display: block;
            }

            &__image-container {
                max-width: 1440px !important;
                position: relative;
                margin-left: calc(-50vw + 6px);
                margin-right: calc(-50vw + 6px);
                height: calcRem(225px);
                display: block;
                align-content: center;
                overflow: hidden;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            &__container {
                padding-left: calcRem(15px);
                padding-right: calcRem(15px);
                display: block;
                justify-content: space-around;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: calc(46px);
                @include media-breakpoint-down(sm) {
                    padding-left: 0;
                    padding-right: 0;
                    position: initial;
                }
            }

            &__headline {
                @include line-height(48px);
                font-weight: normal;
                @include media-breakpoint-down(sm) {
                    @include font-size(26px);
                    @include line-height(41px);
                    font-weight: normal;
                }
            }
            &__description {
                @include line-height(24px);
                margin: 0;
                padding: 0;
                max-width: 100%;
                font-weight: normal;
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(11px);
                    margin-bottom: calcRem(24px);
                    text-align: left;
                }
                p {
                    @include line-height(24px);
                    @include media-breakpoint-down(sm) {
                        @include font-size(14px);
                        @include line-height(20px);
                    }
                }
            }
            &__textWraper {
                min-height: calcRem(115px);
                padding: calcRem(34px) calcRem(34px) calcRem(33px) calcRem(36px);
                text-align: left;
                background: $light-steel-3;
                color: $steel;
                width: 100%;
                display: flex;
                align-items: center;
                @include media-breakpoint-down(sm) {
                    height: auto;
                    padding-top: calcRem(30px);
                    padding-bottom: calcRem(39px);
                    padding-left: calcRem(20px);
                    padding-right: calcRem(21px);
                    display: block;
                    width: 100%;
                    top: calcRem(40px);
                    margin: 0;
                }
            }
            &__textWraperInner {
                width: 100%;
                margin: 0 auto;
                display: flex;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    display: block;
                }
            }
            &__leftContent {
                flex: 2;
                @include media-breakpoint-down(sm) {
                    flex: none;
                    display: block;
                }
            }
            &__rightContent {
                flex: 1;
                position: relative;
                @include media-breakpoint-down(sm) {
                    flex: none;
                    display: block;
                }
            }
            &__button-group {
                padding: 0;
                margin: 0;
                justify-content: flex-end;
                a {
                    padding: 0;
                }
            }
            &__button {
                @include media-breakpoint-up(md) {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -ms-transform: translate(-100%, -50%);
                }
                .nyl-button {
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
                }
                .nyl-button--icon-arrow {
                    @include media-breakpoint-down(sm) {
                        position: absolute;
                        right: calcRem(19px);
                    }
                }
            }
        }
    } // Tout-wide style end
}

@each $cta-background-color-name, $cta-font-color in $background-text-color-mapping {
    .cmp-cta-content-link--#{$cta-background-color-name} {
        .cmp-cta-content-link {
            color: $cta-font-color;
            background-color: map-get($all-backgrounds, #{$cta-background-color-name});
        }
    }
}
