$table-height-without-title: 566px;
$table-height-without-title-mobile: 416px;

.cmp-auv {
    margin-top: 24px;
    .cmp-auv__table {
        border: 1px solid $grey-medium;
        &--heading {
            @extend .cmp-table__heading;
        }
        &--container {
            overflow: auto;
            max-height: $table-height-without-title;
            @include media-breakpoint-down(xs) {
                max-height: $table-height-without-title-mobile;
            }
        }
        &--container__table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0px;
            thead {
                tr > th {
                    @include font-size-line-height(16px, 24px);
                    box-shadow: inset 1px 1px 0 $blue-extra-dark;
                    background: $blue-dark;
                    color: $grey-medium;
                    position: sticky;
                    padding: 12px 16px;
                    z-index: 2;
                    top: 0;
                    min-height: 45px;
                    text-align: left;
                    vertical-align: bottom;
                    &.active {
                        background: $blue-extra-dark;
                        color: $white;
                        svg path {
                            fill: $white;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: $blue-medium;
                        color: $white;
                        svg path {
                            fill: $white;
                        }
                    }
                    div, .icon-wrapper{
                        line-height: 0;
                    }
                }
                tr > :first-child {
                    z-index: 3;
                    left: 0;
                    top: 0;
                    box-shadow: inset -1px 0px 0px $blue-extra-dark;
                }
                .icon-wrapper {
                    line-height: 0;
                }
            }
            td,
            th {
                min-width: 128px;
                width: 128px;
                vertical-align: top;
            }
            td {
                background-color: $white;
                text-align: left;
                @include font-size-line-height(16px, 24px);
                color: $grey-dark;
                min-height: 45px;
                padding: 12px 16px;
                box-shadow: inset 1px 1px 0 $grey-medium;
                &.negative {
                    color: $red-error;
                }
            }
            tbody tr {
                &:first-of-type {
                    display: none;
                }
                & > th {
                    position: sticky;
                    z-index: 1;
                    left: 0;
                    text-align: left;
                    @include font-size-line-height(16px, 24px);
                    background-color: $white;
                    min-height: 45px;
                    padding: 12px 16px;
                    box-shadow: inset 0px 1px 0 $grey-medium;
                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 9999;
                        width: 1px;
                        background-color: white;
                        box-shadow: 2px 0px 4px $grey-dark;
                    }
                    .cmp-text {
                        p {
                            @include font-size-line-height(18px, 24px);
                        }
                        a {
                            color: $brand-blue;
                        }
                    }
                }
                & > td:last-of-type {
                    position: relative;
                    overflow: hidden;
                    &:after {
                        content: '';
                        position: absolute;
                        right: -1px;
                        top: 0;
                        bottom: 0;
                        z-index: 9999;
                        width: 1px;
                        background-color: white;
                        box-shadow: -2px 0px 4px $grey-dark;
                    }
                }
                &:nth-of-type(odd) td {
                    background-color: $grey-light;
                }
            }
            .cmp-text {
                margin: 0 !important;
                p {
                    margin: 0 !important;
                    @include font-size-line-height(16px, 24px);
                }
            }
        }
        
        &--thead {
            th {
                font-weight: 500;
                span {
                    display: inline-block;
                    line-height: 0;
                    &.icon {
                        &-asc {
                            transform: rotate(0deg);
                        }
                        &-desc {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        &--tbody th {
            font-weight: 400;
        }
    }
    &__error {
        display: none;
        align-items: center;
        margin: 18px 0;
        &--icon-wrapper {
            margin-right: 36px;
        }
        &--text-wrapper {
            h4 {
                margin: 0;
            }
            p {
                @include font-size-line-height(18px, 24px);
                color: $grey-dark;
                margin: 8px 0 0;
            }
        }
    }
}
