.cmp-card {
    flex-direction: column;
    width: 100%;
   	border-color: $medium-quartz;
	.text__medium {
        color: $dark-quartz;
        font-weight: 500;
        padding-top: 1rem;
        padding-bottom: 1rem;
        a {
            color: inherit;
        }
    }
    &__feature-card-column + .cmp-card__content {
        .cmp-card__link {
            display: none;
        }
    }

    &__image--non-feature {
        svg {
            height: 100%;
            max-width: 100%;
        }
    }
    &__content {
        flex: auto;
        padding: 0;
    }


    &__content-wrapper {
        flex: auto;
        flex-direction: column;
        height: 100%;
    }

    &__link {
        margin: auto auto 0;
        font-weight: 500;
        font-size: 18px;
        span {
            padding: 0;
            i {
                display: inline-block;
                width: 18px;
                height: 14px;
                background-image: url(/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &__feature-link {
        margin: auto 0 0;
        font-weight: 500;
        a {
            text-decoration: none;
            position: relative;
            &:hover { color: $black; }
            &:after {
                content: '';
                width: 18px;
                height: 14px;
                background-image: url(/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: calc(100% + 10px);
                top: 50%;
                transform: translate3d(0, -50%,0);
            }
        }
    }

    &__social-links {
        display: none;
    }

    &__eyebrow {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: .9rem;
        display: none; // default setting
    }

    &--salmon {
        .cmp-card {
            border-color: $medium-salmon;
            p.text__medium {
                color: $dark-salmon;
            }
        }
    }
    &--twilight {
        .cmp-card {
            border-color: $medium-twilight;
            p.text__medium {
                color: $dark-twilight;
            }
        }
    }
    &--dusk {
        .cmp-card {
            border-color: $medium-dusk;
            p.text__medium {
                color: $dark-dusk;
            }
        }
    }
    &--rain {
        .cmp-card {
            border-color: $medium-rain;
            p.text__medium {
                color: $dark-rain;
            }
        }
    }
    &--palm {
        .cmp-card {
            border-color: $medium-palm;
            p.text__medium {
                color: $dark-palm;
            }
        }
    }
    &--gold {
        .cmp-card {
            border-color: $medium-gold;
            p.text__medium {
                color: $dark-gold;
            }
        }
    }
    &--sunset {
        .cmp-card {
            border-color: $medium-sunset;
            p.text__medium {
                color: $dark-sunset;
            }
        }
    }
    &--quartz {
        .cmp-card {
            border-color: $medium-quartz;
            p.text__medium {
                color: $dark-quartz;
            }
        }
    }
}
	
    
 @include edgeonly {
    .cmp-card__image--non-feature svg {
        width: 100px;
        margin: auto;
    }
}
