.root.container > .cmp-container > .aem-Grid {
    padding-left: $content-padding-xs;
    padding-right: $content-padding-xs;
    @include media-breakpoint-up(sm) {
        padding-left: $content-padding-sm;
        padding-right: $content-padding-sm;
    }
    @include media-breakpoint-up(lg) {
        padding-left: $content-padding-lg;
        padding-right: $content-padding-lg;
    }
    & > .container > .cmp-container {
        & > .aem-Grid > .container.aem-GridColumn--default--12,
        & > .container {
            & > .cmp-container {
                margin-left: -$content-padding-sm;
                margin-right: -$content-padding-sm;
                & > .aem-Grid--default--12 {
                    margin-left: $content-padding-sm;
                    margin-right: $content-padding-sm;
                }
                @include media-breakpoint-up(lg) {
                    margin-left: -$content-padding-lg;
                    margin-right: -$content-padding-lg;
                    & > .aem-Grid--default--12 {
                        margin-left: $content-padding-lg;
                        margin-right: $content-padding-lg;
                    }
                }
            }
        }
        .cmp-container {
            margin-top: 24px;
            padding-bottom: 24px;
            &--border > div > div {
                padding: $content-padding-sm;
                border-top: 1px solid $grey-medium;
                border-bottom: 1px solid $grey-medium;
                @include media-breakpoint-up(sm) {
                    border: 1px solid $grey-medium;
                }
            }
        }
    }
}
