<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.title, classAppend='cmp-timeline-placeholder'}" />
<div class="cmp-timeline" data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel'
    @resourcePath=resource.path, appendPath='timelineEntry'}">
    <h2 class="cmp-timeline__heading" data-sly-test="${properties.title}">${properties.title}</h2>
    <ul class="cmp-timeline__container" data-sly-list.timeline="${resourceModel.children}">
        <li class="row">
            <div class="cmp-timeline__thumbnail col-4">
                <a class="${timeline.modalImageReference ? 'cmp-timeline__icon--expand' : ''}"
                    data-sly-use.thumbnailImageModel="${'com.nyl.foundation.models.ImageModel' 
                    @componentName='timeline', imagePath=timeline.thumbnailImageReference,
                    imageAltText=timeline.thumbnailImageAltText}" data-sly-test="${timeline.thumbnailImageReference}"
                    href="#">
                    <img src="${thumbnailImageModel.svg ?timeline.thumbnailImageReference : 
                    thumbnailImageModel.renditions['medium'].imageUrl}" alt="${thumbnailImageModel.altText}"
                        class="mw-100" />
                </a>
            </div>
            <div class="cmp-timeline__history col-md-5 col">
                <p class="cmp-timeline__year" data-sly-test="${timeline.year}">${timeline.year}</p>
                <p class="cmp-timeline__description" data-sly-test="${timeline.description}">${timeline.description}</p>
            </div>
            <div data-sly-use.modalImageModel="${'com.nyl.foundation.models.ImageModel' @componentName='timeline', 
            imagePath=timeline.modalImageReference,aspectRatio=timeline.modalImageSize, 
            imageAltText=timeline.modalImageAltText}" class="cmp-timeline__modal-items d-none" aria-hidden="true"
                data-sly-test="${timeline.modalImageReference && timeline.thumbnailImageReference}"
                data-sly-set.hasModal="${hasModal || timeline.thumbnailImageReference}">
                <p class=" cmp-timeline__modal-description">${timeline.modalDescription}</p>
                <img src="${timeline.modalImageReference}" alt="${modalImageModel.altText}"
                    data-sly-test.isSvg="${modalImageModel.svg}" />

                <sly data-sly-test="${!isSvg}"
                    data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                    data-sly-call="${image.pictureTemplate @ imageModel=modalImageModel, pictureClass='cmp-timeline__modal-image',imgClass='mw-100'}">
                </sly>

            </div>
        </li>
    </ul>
</div>

<div data-sly-test="${hasModal}" class="modal fade cmp-timeline__modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <i class="cmp-timeline__modal-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
