<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-policy-number-check-placeholder'}" />
<form class="cmp-policy-number-check" id="policy-number-check" novalidate
    data-sly-use.policyModel="com.nyl.foundation.models.PolicyCheckModel">
    <sly data-sly-list.policy="${policyModel.policyList}">
        <div class="mb-3">
            <label for="policy${policy}">${properties.fieldLabel} #${policy}</label>
            <input type="text" id="policy${policy}" class="form-control form-control-lg" maxlength="15">
            <div class="invalid-feedback"></div>
            <div class="valid-feedback"></div>
        </div>
    </sly>
    <button data-sly-test=${properties.buttonLabel} type="submit" class="nyl-button">
        ${properties.buttonLabel}
        <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--white.svg"
            class="icon-cta-arrow" alt="">
    </button>
</form>
<div class="cmp-policy-number-check__message" data-length-error="${'foundation.policyNumberCheck.LengthError' @ i18n}"
    data-specialchar-error="${'foundation.policyNumberCheck.SpecialCharacterError' @ i18n}"
    data-serviceable="${'foundation.policyNumberCheck.ServiceableMessage' @ i18n}">
</div>
<div class="d-none" id="policyNumberCheckAARP">${'foundation.policyNumberCheck.AARP' @ i18n,context='html'}</div>
<div class="d-none" id="policyNumberCheckCIAAccount">${'foundation.policyNumberCheck.CIAAccount' @ i18n,context='html'}
</div>
<div class="d-none" id="policyNumberCheckMainstayAnnuity">${'foundation.policyNumberCheck.MainstayAnnuity' @
    i18n,context='html'}
</div>
<div class="d-none" id="policyNumberCheckGroupAnnuity">${'foundation.policyNumberCheck.GroupAnnuity' @
    i18n,context='html'}
</div>
<div class="d-none" id="policyNumberCheckNYLIFESecurities">${'foundation.policyNumberCheck.NYLIFESecurities' @
    i18n,context='html'}
</div>
<div class="d-none" id="policyNumberCheckStructuredSettlements">${'foundation.policyNumberCheck.StructuredSettlements' @
    i18n,context='html'}
</div>
<div class="d-none" id="policyNumberPinacle">${'foundation.policyNumberCheck.Pinacle' @ i18n,context='html'}</div>
<div class="d-none" id="policyNumberPrivatePlacement">${'foundation.policyNumberCheck.PrivatePlacement' @
    i18n,context='html'}
</div>
