<button class="btn cmp-product-container__as-of-date-value dropdown-toggle" type="button"
    data-toggle="dropdown">2/8/2021</button>
<div class="cmp-rates" data-id="1" data-product-code="SecureTermChoiceII" data-years-label="years"
    data-interest-rate-label="Interest Rates" data-loading-label="Loading.." data-error-message-label="Error">
    <div>
        <div data-sly-test="${properties.tableName}" class="cmp-rates__table-name">My Table</div>
        <div class="cmp-rates__left id-1"></div>
        <div class="cmp-rates__right cmp-rates__right-gradient id-1"></div>
        <div class="cmp-rates__rates-table-parent-div id-1">
            <div class="col-12 cmp-rates__rates-table-wrapper id-1">
                <table class="cmp-rates__rates-table id-1">
                    <caption class="cmp-rates__table-caption"></caption>
                    <tr class="tableHeader id-1">
                        <th scope="col">Header name</th>
                        <th scope="col">Header name</th>
                        <th scope="col">Header name</th>
                        <th scope="col">Header name</th>
                        <th scope="col">Header name</th>
                        <th scope="col">Header name</th>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="cmp-rates__loading-text id-1">
        <span>Loading..</span>
    </div>
    <div class="cmp-rates__error-message id-1">
        <span>Error</span>
    </div>
</div>
