.cmp-premium-discount {
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(0px) !important;
    @extend %mobile-full-width;
    &__main-section {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }

    &__header-columns {
        text-align: right;
        display: inline-flex;
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
        font-style: $font-style-italic;
        @include font-size(16px);
        @include line-height(18px);
        font-family: $font-family-alda;
        color: $steel;
        padding-bottom: calcRem(17px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(13px);
        }
    }

    &__header-columns-text {
        padding-left: calcRem(0px);
        &.premium {
            padding-right: calcRem(23px);
        }
        &.discount {
            padding-right: calcRem(24px);
            @include media-breakpoint-down(sm) {
                padding-right: calcRem(20px);
            }
        }
    }
    &__heading-section {
        padding-top: calcRem(72px);
        padding-bottom: calcRem(24px);
        color: $steel;
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
            padding-left: calcRem(20px);
        }
    }
    &__container-div {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__main-row {
        margin-left: calcRem(0px);
        margin-right: calcRem(0px);
    }
    &__main-container-row {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
            margin-right: calcRem(0px);
        }
    }
    &__premium-discount-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        @include line-height(17px);
        text-transform: uppercase;
    }
    &__list-container {
        list-style: none;
        padding: calcRem(0px);
        margin-bottom: calcRem(72px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(40px);
        }
        li {
            height: calcRem(64px);
            background: $white;
            margin-bottom: calcRem(2px);
            &:hover {
                background: $rain-tint;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
                margin-bottom: calcRem(2px);
            }
        }
    }
    .highcharts {
        &-tooltip {
            &-box {
                fill: $white;
                stroke: none;
            }
            span.cmp-premium-discount__tooltip-datum,
            span.cmp-premium-discount__tooltip-category {
                color: $steel;
                display: block;
                font-family: $font-family-helvetica-neue !important;
            }
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(xs) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: calcRem(0px);
            top: calcRem(30px);
        }
    }
    &__wrapper {
        overflow-x: auto;
    }
    &__chart-wrapper {
        padding-bottom: calcRem(72px);
        display: none;
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
            padding-bottom: calcRem(24px);
        }
    }
    &__table {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(xs) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
            top: calcRem(30px);
        }
    }
    &__chart-title {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(16px);
        padding-bottom: calcRem(24px);
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__chart-container {
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(xs) {
            min-width: 576px;
        }
    }
    &.line-chart {
        span.cmp-premium-discount__tooltip-datum {
            padding-bottom: calcRem(8px);
            padding-top: calcRem(20px);
            line-height: calcRem(15px);
        }
        span.cmp-premium-discount__tooltip-datum,
        span.cmp-premium-discount__tooltip-category {
            font-size: calcRem(16px);
            letter-spacing: calcRem(-0.5px);
            padding-left: calcRem(20px);
            white-space: normal !important;
            padding-right: calcRem(20px);
        }
        span.cmp-premium-discount__tooltip-category {
            padding-bottom: calcRem(20px);
            line-height: calcRem(22px);
            font-weight: $font-weight-medium;
        }
    }
    &__as-of-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(13px);
    }
    &__labels {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        height: calcRem(64px);
        display: flex;
        align-items: center;
        color: $steel;
        padding-left: calcRem(24px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            display: flex;
            align-items: center;
            padding-left: calcRem(20px);
            padding-right: calcRem(0px);
        }
    }
    &__values {
        text-align: right;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        @include line-height(19px);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: calcRem(64px);
        padding-left: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            @include font-size(14px);
            @include line-height(17px);
            padding-left: calcRem(0px);
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
        &--first-col {
            padding-right: calcRem(23px);
        }
        &--second-col {
            padding-right: calcRem(24px);
            @include media-breakpoint-down(sm) {
                padding-right: calcRem(20px);
            }
        }
    }
}

.cmp-premium-discount--light-gray {
    li {
        background: $light-steel-3;
    }
}
