<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-maturity-breakdown-placeholder'}" />
<div class="cmp-maturity-breakdown">
    <div class="cmp-maturity-breakdown__container-div">
        <div class="row cmp-maturity-breakdown__main-container-row">
            <div class="col-12  cmp-maturity-breakdown__main-section">
                <div class="cmp-maturity-breakdown__heading-section">
                    <span class="cmp-maturity-breakdown__maturity-breakdown-text"></span>
                    <span class="cmp-maturity-breakdown__as-of-text"></span>
                    <span class="cmp-maturity-breakdown__as-of-text as-of-date"></span>
                </div>
                <ul class="cmp-maturity-breakdown__list-container"></ul>
            </div>
        </div>
    </div>
</div>
