.cmp-go-partner-profile {
    margin-top: calcRem(30px);
    margin-bottom: calcRem(30px);
    @include media-breakpoint-down(sm) {
        margin-top: calcRem(15px);
        margin-bottom: calcRem(15px);
    }
    &__card {
        @include media-breakpoint-down(sm) {
            flex-direction: column;

            .cmp-go-partner-profile__card--container {
                display: flex;
                flex-direction: column;
            }
        }
    }

    $imageLGWidth: calcRem(255px);
    $imageMDWidth: calcRem(88px);
    $imageSMWidth: 100%;

    &__image {
        float: left;
        margin-right: calcRem(25px);

        img {
            width: $imageLGWidth;
            height: calcRem(340px);
            object-fit: cover;
            object-position: top;
        }

        @include media-breakpoint-down(md) {
            margin-right: calcRem(34px);
            img {
                width: $imageMDWidth;
                height: calcRem(110px);
            }
        }

        @include media-breakpoint-down(sm) {
            order: 1;
            margin-top: calcRem(35px);
            img {
                width: 100%;
                height: calcRem(237px);
            }
        }
    }

    &__description,
    &__social {
        $marginLGRight: calcRem(25px);
        $marginMDRight: calcRem(34px);
        margin-right: $marginLGRight;
        width: calc(100% - #{$imageLGWidth} - #{$marginLGRight} * 2);
        float: right;

        @include media-breakpoint-only(md) {
            margin-right: $marginMDRight;
            width: calc(100% - #{$imageMDWidth} - #{$marginMDRight} * 2);
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__description {
        margin-top: calcRem(15px);

        p {
            @include line-height($font-size-x-small, 1.5);
            letter-spacing: normal;
            font-weight: normal;
            font-size: calcRem(16px);
            margin-bottom: 0;
        }

        @include media-breakpoint-only(md) {
            margin-top: 0;
        }

        @include media-breakpoint-down(sm) {
            margin: 0;
            order: 0;
        }
    }

    &__social {
        margin-top: calcRem(30px);
        h5 {
            display: inline-block;
            font-weight: 500;
        }
        a {
            margin: 0 calcRem(10px) calcRem(10px);
        }

        @include media-breakpoint-down(sm) {
            margin-top: calcRem(40px);
            display: flex;
            align-items: center;
            order: 2;
            a {
                margin-bottom: 0;
            }
        }
    }

    &__border {
        &--container {
            border-radius: calcRem(4px);
            border: solid calcRem(4px) $light-gray;
            width: 100%;
            padding: calcRem(15px) calcRem(30px);

            @include media-breakpoint-only(md) {
                padding: calcRem(15px);
            }

            @include media-breakpoint-down(sm) {
                padding: calcRem(15px) calcRem(30px);
                margin-top: calcRem(40px);
                order: 4;
            }
        }
    }

    &__contact {
    	span {
        	font-size: $font-size-x-small;
        	@include line-height($font-size-x-small, 1.5);
        }

        &--break-all {
            word-break: break-all;
            display: block;
        }

        @include media-breakpoint-only(md) {
            overflow-wrap: break-word;
        }

        &--medium {
            font-weight: $font-weight-medium;
        }

        &--bold {
            font-weight: $font-weight-bold;
        }
    }

    .nyl-button {
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__container--2col {
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
        .cmp-go-partner-profile {
            &__card {
                flex: 1;
                margin-top: calcRem(34px);
                margin-left: calcRem(15px);
                margin-right: calcRem(15px);
                &:nth-of-type(2) {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                @include media-breakpoint-only(md) {
                    max-width: calc(50% - 15px);
                }
                @include media-breakpoint-down(sm) {
                    margin: 0;
                }
            }
            &__image {
                float: none;
                img {
                    width: calcRem(160px);
                    height: calcRem(210px);
                    margin-right: calcRem(30px);
                    object-fit: cover;
                    object-position: top;
                }

                @include media-breakpoint-down(md) {
                    img {
                        width: calcRem(87px);
                        height: calcRem(109px);
                    }
                }

                @include media-breakpoint-down(sm) {
                    order: 1;
                    margin-top: calcRem(40px);
                    img {
                        width: 100%;
                        height: calcRem(237px);
                        margin-top: 0;
                        margin-right: 0;
                    }
                }
            }
            &__description,
            &__social {
                margin-right: 0;

                img {
                    margin: calcRem(10px);
                    display: inline-block;
                }
            }
            &__description {
                margin-top: 0;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    order: 0;
                }
            }
            &__social {
                margin-top: calcRem(7px);
                float: none;
                width: auto;
                h5 {
                    width: 100%;
                    margin-bottom: 0;
                }
                img {
                    &:first-child {
                        margin-left: 0;
                    }
                }

                @include media-breakpoint-down(md) {
                    margin-top: calcRem(14px);
                    margin-right: 0;
                    width: 100%;

                    img {
                        margin-left: 0;
                        display: block;
                    }
                }

                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(40px);
                    margin-bottom: calcRem(40px);
                    order: 2;
                    display: flex;
                    align-items: center;

                    h5 {
                        width: auto;
                    }

                    img {
                        margin: 0 calcRem(10px);
                        &:first-child {
                            margin-left: calcRem(10px);
                        }
                    }
                }
            }
            &__border {
                &--container {
                    border-radius: calcRem(4px);
            		border: solid calcRem(4px) $light-gray;
                }

            }
        }
        .nyl-button {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}
