.cmp-auv {
    background-color: transparent;
    @extend %mobile-full-width;
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(30px);
    @include media-breakpoint-up(md) {
        width: 100%;
    }
    &__error-message {
        display: none;
    }
    &__header-date {
        display: block;
    }
    &__table {
        width: 100%;
        border-spacing: 0px 2px;
        border-collapse: separate;
        padding-bottom: calcRem(32px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(20px);
        }
        @include media-breakpoint-down(md) {
            min-width: calcRem(943px);
        }
    }
    &__table tr:first-child {
        height: calcRem(60px);
        background: $steel;
    }
    &__table tr th:first-child {
        padding-left: calcRem(20px);
        text-align: left;
    }
    &__table tr:not(:first-child) td {
        text-align: right;
    }
    &__table-caption {
        padding-bottom: calcRem(0px);
        padding-top: calcRem(0px);
    }
    &__table th {
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        font-weight: normal;
        @include line-height(18px);
        text-align: right;
        & p {
            margin-bottom: calcRem(0px);
        }
    }
    &__table tr:not(:first-child) {
        background: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        height: calcRem(40px);
        margin-bottom: calcRem(2px);
    }
    &__table tr:not(.tableHeader):nth-child(even) {
        background: $light-steel-3;
    }
    &__table tr:not(:first-child) td:last-child {
        padding-right: calcRem(20px);
    }
    &__table tr:not(:first-child) td:first-child {
        padding-left: calcRem(20px);
        text-align: left;
    }
    &__table tr th:last-child {
        padding-right: calcRem(20px);
    }
    &__table-wrapper {
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
    }
    &__left {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    &__right {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: 0;
        }
        @media print {
            display: none !important;
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
        }
        @media print {
            display: none !important;
        }
    }
    &__table-parent-div {
        overflow-x: auto;
    }
}

.cmp-product {
    &--dark-salmon {
        & .cmp-auv {
            &__table tr:first-child {
                background: $dark-salmon;
            }
        }
    }
    &--medium-salmon {
        & .cmp-auv {
            &__table tr:first-child {
                background: $medium-salmon;
            }
        }
    }
    &--dark-twilight {
        & .cmp-auv {
            &__table tr:first-child {
                background: $dark-twilight;
            }
        }
    }
    &--medium-twilight {
        & .cmp-auv {
            &__table tr:first-child {
                background: $medium-twilight;
            }
        }
    }
    &--dark-dusk {
        & .cmp-auv {
            &__table tr:first-child {
                background: $dark-dusk;
            }
        }
    }
    &--medium-dusk {
        & .cmp-auv {
            &__table tr:first-child {
                background: $medium-dusk;
            }
        }
    }
    &--dark-rain {
        & .cmp-auv {
            &__table tr:first-child {
                background: $dark-rain;
            }
        }
    }
    &--medium-rain {
        & .cmp-auv {
            &__table tr:first-child {
                background: $medium-rain;
            }
        }
    }
    &--dark-palm {
        & .cmp-auv {
            &__table tr:first-child {
                background: $dark-palm;
            }
        }
    }
    &--medium-palm {
        & .cmp-auv {
            &__table tr:first-child {
                background: $medium-palm;
            }
        }
    }
    &--dark-gold {
        & .cmp-auv {
            &__table tr:first-child {
                background: $dark-gold;
            }
        }
    }
    &--medium-gold {
        & .cmp-auv {
            &__table tr:first-child {
                background: $medium-gold;
            }
        }
    }
    &--dark-sunset {
        & .cmp-auv {
            &__table tr:first-child {
                background: $dark-sunset;
            }
        }
    }
    &--medium-sunset {
        & .cmp-auv {
            &__table tr:first-child {
                background: $medium-sunset;
            }
        }
    }
    &--dark-steel {
        & .cmp-auv {
            &__table tr:first-child {
                background: $dark-steel;
            }
        }
    }
}
