<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.elementName , classAppend='cmp-range-slider-placeholder'}" />

<div data-sly-test="${properties.elementName}" class="cmp-form-range-slider"
    data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
    <div class="cmp-form-range-slider__wrapper" data-id="${properties.elementName}-${identifier.id}"
        data-display="${properties.inputMaskingType}" data-authored-values='{
            "defaultValue": "${properties.placeholderValue}",
            "minValue": "${properties.minValue}",
            "maxValue": "${properties.maxValue}"
        }' required-type="${properties.required}">
        <div class="row cmp-form-range-slider__text-field-container">
            <div class="col-12 col-md-9">
                <label for="range-value-textbox--${identifier.id}" id="form-range-slider--${identifier.id}"
                    class="cmp-form-range-slider__text-field-text">${properties.question}<span data-toggle="popover"
                        data-sly-test=${properties.toolTip} data-content="${properties.toolTip}"
                        class="tooltipColor cmp-form-range-slider__tooltip"><img
                            src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/tool-tip-question-mark-icon.svg"
                            class="icon-tool-tip" alt=""></span></label>
            </div>
            <div class="col-12 col-md-3 cmp-form-range-slider__value-container">
                <input type="textbox" class="cmp-form-range-slider__value"
                    data-id="${properties.elementName}-${identifier.id}" id="range-value-textbox--${identifier.id}"
                    name="${properties.elementName}" />
            </div>
        </div>
        <div class="cmp-form-range-slider__container" data-id="${properties.elementName}-${identifier.id}">
            <span for="range-slider--${identifier.id}" class="cmp-form-range-slider__bubble"
                data-id="${properties.elementName}-${identifier.id}"></span>
            <span class="cmp-form-range-slider__error">${properties.errorMessage}</span>
            <input type="range" class="cmp-form-range-slider__type" data-id="${properties.elementName}-${identifier.id}"
                value="" min="${properties.minValue}" max="${properties.maxValue}" step="${properties.slideInterval}"
                aria-labelledby="form-range-slider--${identifier.id}" />
        </div>
        <div class="cmp-form-range-slider__values-container d-flex">
            <span> ${properties.minValue} </span>
            <span> ${properties.maxValue}</span>
        </div>
    </div>
</div>
