.cmp-back-to-top {
    display: none;

    @include media-breakpoint-down(sm) {
        z-index: 99;
        position: fixed;
        margin: 0 !important;
        width: calcRem(42px);
        height: calcRem(42px);
        background-color: #0a3c53;
        opacity: 0.5;
        border-radius: 50%;
        right: calcRem(21px);
        bottom: calcRem(21px);
        display: block;

        &__icon {
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(16px);
                height: calcRem(16px);
                margin: calcRem(13px);
                background: url('../resources/images/icon-up-arrow--white.svg') no-repeat center/contain;
            }
        }
    }
}
