/* primary colors */
$white: #ffffff;
$steel: #0a3c53;
$medium-gray: #cdcdcd;
$dark-gray: #666666;
$gray: #aeaeae;
$black: #000000;

/* highlight palette */
$dark-salmon: #985570;
$medium-salmon: #c4687e;
$dark-twilight: #5c4c79;
$medium-twilight: #7c61a7;
$dark-dusk: #424b6c;
$medium-dusk: #586f9b;
$dark-rain: #205f7c;
$medium-rain: #2e87b0;
$dark-palm: #466e5a;
$medium-palm: #769870;
$dark-gold: #a76936;
$medium-gold: #e29d5c;
$dark-sunset: #745342;
$medium-sunset: #d2653d;

/* NYLIM Backgrounds */
$light-salmon-2: #f0e6ea;
$light-twilight-2: #e7e4eb;
$light-dusk-2: #e3e4e9;
$light-rain-2: #dee7eb;
$light-palm-2: #e3e9e6;
$light-gold-2: #f2e9e1;
$light-sunset-2: #eae5e3;

$light-salmon-5: #f7f2f4;
$light-twilight-5: #f3f1f5;
$light-dusk-5: #f2f4f7;
$light-rain-5: #eef3f5;
$light-palm-5: #edf5f1;
$light-gold-5: #f4f2f1;
$light-sunset-5: #f2f2f2;

/* Steel */
$light-steel-1: #dbe2e6;
$light-steel-2: #e8eff2;
$light-steel-3: #f1f6f8;
$light-steel-4: #f4f6f7;
$light-steel-5: #f6f8f9;
$dark-steel: #063045;

/* System Colors */
$error: #d82313;
$confirmation: #51c141;

/* Table Row Indicator */
$rain-tint: #e0edf3;

/* Color Maps */
$basic-text: (
    'steel': #0a3c53,
    'white': #ffffff
);
$basic-backgrounds: (
    'white': #ffffff,
    'light-steel-3': #f1f6f8
);
$dark-colors: (
    'dark-salmon': #985570,
    'dark-twilight': #5c4c79,
    'dark-dusk': #424b6c,
    'dark-rain': #205f7c,
    'dark-palm': #466e5a,
    'dark-gold': #a76936,
    'dark-sunset': #745342
);
$medium-colors: (
    'medium-salmon': #c4687e,
    'medium-twilight': #7c61a7,
    'medium-dusk': #586f9b,
    'medium-rain': #2e87b0,
    'medium-palm': #769870,
    'medium-gold': #e29d5c,
    'medium-sunset': #d2653d
);

$light-colors-2: (
    'light-salmon-2': #f0e6ea,
    'light-twilight-2': #e7e4eb,
    'light-dusk-2': #e3e4e9,
    'light-rain-2': #dee7eb,
    'light-palm-2': #e3e9e6,
    'light-gold-2': #f2e9e1,
    'light-sunset-2': #eae5e3
);

$additional-backgrounds: (
    'light-salmon-2': #f0e6ea,
    'light-twilight-2': #e7e4eb,
    'light-dusk-2': #e3e4e9,
    'light-rain-2': #dee7eb,
    'light-palm-2': #e3e9e6,
    'light-gold-2': #f2e9e1,
    'light-sunset-2': #eae5e3,
    'light-salmon-5': #f7f2f4,
    'light-twilight-5': #f3f1f5,
    'light-dusk-5': #f2f4f7,
    'light-rain-5': #eef3f5,
    'light-palm-5': #edf5f1,
    'light-gold-5': #f4f2f1,
    'light-sunset-5': #f2f2f2,
    'white':#ffffff
);
$steel-colors: (
    'light-steel-1': #dbe2e6,
    'light-steel-2': #e8eff2,
    'light-steel-3': #f1f6f8,
    'light-steel-4': #f4f6f7,
    'light-steel-5': #f6f8f9,
    'dark-steel': #063045,
    'steel': #0a3c53
);
$highlight-palette: map-merge($dark-colors, $medium-colors);
$all-backgrounds: map-merge($highlight-palette, map-merge($additional-backgrounds, $steel-colors));

/*Image colorbar */
$image-colorbar: #98b4e3;

/* Button Hover Colors */
$medium-rain-2: #4da3ca;
$dark-steel-2: #1a536d;
$light-steel-6: #e5ecef;

/* Meida Player Colors */
$dark-blue--08: rgba(46, 135, 176, 0.8);

/* Background To Text Color Mapping */
$background-text-color-mapping: (
    'light-steel-1': $steel,
    'light-steel-2': $steel,
    'light-steel-3': $steel,
    'light-steel-4': $steel,
    'light-steel-5': $steel,
    'dark-steel': $white,
    'steel': $white,
    'dark-salmon': $white,
    'medium-salmon': $white,
    'light-salmon-2': $dark-salmon,
    'light-salmon-5': $dark-salmon,
    'dark-twilight': $white,
    'medium-twilight': $white,
    'light-twilight-2': $dark-twilight,
    'light-twilight-5': $dark-twilight,
    'dark-dusk': $white,
    'medium-dusk': $white,
    'light-dusk-2': $dark-dusk,
    'light-dusk-5': $dark-dusk,
    'dark-rain': $white,
    'medium-rain': $white,
    'light-rain-2': $dark-rain,
    'light-rain-5': $dark-rain,
    'dark-palm': $white,
    'medium-palm': $white,
    'light-palm-2': $dark-palm,
    'light-palm-5': $dark-palm,
    'dark-gold': $white,
    'medium-gold': $white,
    'light-gold-2': $dark-gold,
    'light-gold-5': $dark-gold,
    'dark-sunset': $white,
    'medium-sunset': $white,
    'light-sunset-2': $dark-sunset,
    'light-sunset-5': $dark-sunset
);

/* Product Finder */
$even-row: #e1ecf3;
$header-color: #0a3c53;
$mobile-row: #f1f6f8;
