@include font('helvetica-neue', '../resources/fonts/HelveticaNeue');
@import 'alda';

$font-family-helvetica-neue: 'helvetica-neue', Helvetica, Arial, sans-serif;
$font-family-alda: 'alda', Georgia, serif;

$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
$font-style-italic: italic;
