// global margin override for components within components
// i.e. rte within footer
@mixin marginOverride(
    $class-name,
    $desktop-margin: 30px,
    $mobile-margin: 30px,
    $desktop-padding: 15px,
    $mobile-padding: 15px
) {
    .responsivegrid {
        &.page {
            .#{$class-name} {
                .aem-GridColumn {
                    > div[class^='cmp-']:not(.cmp-accordion):not(.cmp-banner):not(.cmp-link-list):not(.cmp-rte):not(.cmp-card-container):not(.cmp-top-holdings):not(.cmp-disclosures):not(.cmp-card):not(.cmp-button):not(.cmp-email-subscribe) {
                        margin-top: calcRem($desktop-margin) !important;
                        margin-bottom: calcRem($desktop-margin) !important;
                        padding-right: calcRem($desktop-padding) !important;
                        padding-left: calcRem($desktop-padding) !important;
                        @include media-breakpoint-down(sm) {
                            margin-top: calcRem($mobile-margin) !important;
                            margin-bottom: calcRem($mobile-margin) !important;
                            padding-right: calcRem($mobile-padding) !important;
                            padding-left: calcRem($mobile-padding) !important;
                        }
                    }
                }
            }
        }
    }
}

// global margin override for top level component
@mixin marginOverrideSelf(
    $class-name,
    $desktop-margin: 30px,
    $mobile-margin: 30px,
    $desktop-padding: 15px,
    $mobile-padding: 15px
) {
    .responsivegrid {
        &.page {
            .#{$class-name} {
                margin-top: calcRem($desktop-margin) !important;
                margin-bottom: calcRem($desktop-margin) !important;
                padding-right: calcRem($desktop-padding) !important;
                padding-left: calcRem($desktop-padding) !important;
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem($mobile-margin) !important;
                    margin-bottom: calcRem($mobile-margin) !important;
                    padding-right: calcRem($mobile-padding) !important;
                    padding-left: calcRem($mobile-padding) !important;
                }
            }
        }
    }
}
@mixin sticky-position {
    @include media-breakpoint-up(lg) {
        transition: top 0.25s ease, margin-top 0.25s ease;
        &.header-shown {
            top: 86px;
        }
    }
}
