<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.headline, classAppend='cmp-key-takeaways-placeholder'}" />
<div class="cmp-key-takeaways">
    <div class="cmp-key-takeaways__image">
        <img data-sly-test="${properties.imagePath}"
            data-sly-use.model="${'com.nyl.foundation.models.ImageModel' @ imagePath=properties.imagePath, imageAltText=properties.imageAltText}"
            src="${properties.imagePath}" data-aem-asset-id="${model.imageId}"
            data-trackable="${model.imageId? 'true' : ''}" alt="${model.altText}" />
    </div>
    <h3 data-sly-test="${properties.headline}">${properties.headline}</h3>
    <div class="cmp-key-takeaways__flex-container d-flex flex-wrap align-items-top">
        <sly data-sly-use.model="${'com.nyl.foundation.models.LinkListModel' @ child='keyTakeaways'}"
            data-sly-list.keyTakeaway="${model.links}">
            <div class="cmp-key-takeaways__card-container">
                <div class="h4" data-sly-test.belowTen="${keyTakeawayList.count < 10}">0${keyTakeawayList.count}
                </div>
                <div class="h4" data-sly-test="${!belowTen}">${keyTakeawayList.count}</div>
                <sly data-sly-test="${keyTakeaway.description}">${keyTakeaway.description @ context='html'}</sly>
                <a data-sly-test="${keyTakeaway.text}" data-sly-unwrap="${!keyTakeaway.url}" href="${keyTakeaway.url}"
                    title="${keyTakeaway.title}" target="${keyTakeaway.behavior}"> <span
                        class="nyl-button button--transparent"> ${keyTakeaway.text} <img
                            src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg"
                            class="icon-cta-arrow" alt="">
                    </span>
                </a>
            </div>
        </sly>
    </div>
</div>
