<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.buttonLinkText, classAppend='cmp-button-placeholder'}" />
<div class="cmp-button" data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ prefix='button'}">
    <a data-sly-unwrap="${!(linkModel.url && linkModel.title)}" href="${linkModel.url}" title="${linkModel.title}"
        target="${linkModel.behavior}">
        <span data-sly-test="${linkModel.text}" class="cmp-button--wrapper">
            <span class="cmp-button--link-text">${linkModel.text}</span>
            <span class="cmp-button--arrow">
                <span class="cmp-button--arrow-icon"></span>
            </span>
        </span>
    </a>
</div>
