<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.title}" />
<div class="cmp-product-container" data-error-message="${properties.text @context='html'}">
    <div class="row no-gutters">
        <div class="col-md-11 cmp-product-container__title" data-sly-test="${properties.title}">
            ${properties.title}
        </div>
        <div class="col-md-1 cmp-product-container__print"
            data-sly-test="${properties.showPrintIcon && properties.product == 'rates-table'}">
            <a onclick="window.print();">
                <em class="cmp-product-container__print-icon"></em>
                <span class="cmp-product-container__print-text">${'annuities.rates.print' @i18n}</span>
            </a>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-9 cmp-product-container__date" data-sly-test="${properties.product == 'rates-table'}">
            <span class="cmp-product-container__as-of-date">${'annuities.rates.effectivedate' @i18n} <span
                    class="cmp-product-container__as-of-date-value"></span> </span>
        </div>
        <sly data-sly-test="${properties.product == 'rates-table'}">
            <div class="col-md-3 cmp-product-container__cmp-past-rate"
                data-sly-test="${properties.hidePastRates  ? 'false' : 'true'}">
                <span class="cmp-product-container__past-rates">${'annuities.rates.pastRates' @i18n}
                </span>
                <span class="dropdown">
                    <button class="btn cmp-product-container__past-rates-dropdown dropdown-toggle" type="button"
                        data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu cmp-product-container__past-rates-dropdown-menu">
                    </ul>
                </span>
            </div>
        </sly>
    </div>
    <div class="row no-gutters cmp-product-container__content-section">
        <div class="col-md-2">
            <ul class="cmp-product-container__list-group cmp-rte"></ul>
        </div>
        <div class="col-md-10">
            <div class="cmp-product-container__product-section">
                <sly
                    data-sly-resource="${'product-container-parsys' @resourceType='wcm/foundation/components/responsivegrid'}">
                </sly>
            </div>
        </div>
    </div>
</div>
