.cmp-custom-dropdown-container select {
    border: 0;
    display: none;
}

.cmp-custom-dropdown-container {
    position: relative;
}

.cmp-custom-dropdown-container:hover {
    cursor: pointer;
}

.cmp-custom-dropdown {
    height: 100%;
}

.cmp-custom-options div {
    height: calcRem(36px);
}

.cmp-custom-options {
    left: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 1px);
    z-index: 99;
}

.cmp-custom-options div,
.cmp-custom-dropdown {
    background-color: $white;
    color: $steel;
    font-family: $font-family-helvetica-neue;
    font-size: calcRem(14px);
    line-height: calcRem(18px);
    padding: calcRem(10px) calcRem(16px);
}

.cmp-custom-options--hidden {
    display: none;
}

.cmp-custom-options div:hover {
    background-color: $light-steel-3;
}

.cmp-custom-dropdown:after,
.cmp-custom-dropdown.cmp-custom-dropdown--active:after {
    content: '';
    height: calcRem(12px);
    position: absolute;
    right: calcRem(16px);
    top: 50%;
    transform: translate(0, -50%);
    width: calcRem(12px);
}

.cmp-custom-dropdown:after {
    background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
}

.cmp-custom-dropdown.cmp-custom-dropdown--active:after {
    background: url('../resources/images/icon-arrow-4--steel.svg') no-repeat center/contain;
}
