<div class="cmp-custom-dropdown-container">
    <select class="cmp-insights__assets-dropdown cmp-insights__dropdown">
        <option value="selected"></option>
        <option value="All Assets Classes" selected>All Assets Classes</option>
        <option value="A">A</option>
    </select>
    <div class="cmp-custom-dropdown cmp-custom-dropdown--active">All Assets Classes</div>
    <div class="cmp-custom-options">
        <div>All Assets Classes</div>
        <div>A</div>
    </div>
</div>
<div class="cmp-custom-dropdown-container">
    <select class="cmp-insights__strategies-dropdown cmp-insights__dropdown">
        <option value="selected"></option>
        <option value="All Strategies" selected>All Strategies</option>
        <option value="B">B</option>
    </select>
    <div class="cmp-custom-dropdown">All Strategies</div>
    <div class="cmp-custom-options cmp-custom-options--hidden">
        <div>All Strategies</div>
        <div>B</div>
    </div>
</div>
