<div class="cmp-literature-filters">
    <div class="cmp-literature-filters--title">{{otherLabels['core.literature.filter']}}</div>
    <div *ngIf="showFilters" class="cmp-literature-filters--list">
        <div class="btn-group list-group-root cmp-literature-filters--list-item"
            *ngFor="let value of filters; let i=index;" [ngClass]="{'list-group': !isOnMobile()}">
            <div *ngIf="!isOnMobile()" [attr.data-target]="'#collapse-' + i" aria-expanded="true"
                (click)="applyStickyFooter()" (keypress)="applyStickyFooter()"
                [ngClass]="{'disabled-item': showCount(value.name)}"
                class="list-group-item cmp-literature-filters--list-item-title collapsed"
                [attr.data-toggle]="'collapse'">
                {{ value.label }}
                <span class="cmp-literature-filters--list-item-title-icon">
                    <img alt="{{otherLabels['nylim.openClose']}}"
                        src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg" />
                </span>
            </div>
            <button *ngIf="isOnMobile()" [attr.data-target]="'#cmp-literature-filters-modal'+i" data-toggle="modal"
                type="button"
                [ngClass]="{'selected-filter': showCount(value.name),'right-btn': i%2 !== 0,'left-btn':  i%2 === 0}"
                class="btn cmp-literature-filters--list-item-title">{{ value.label }}
                <span class="count-display" *ngIf="showCount(value.name)">
                    {{ getFilterCount(value.name) }}
                </span>
            </button>
            <div class="list-group collapse" [ngClass]="{'show': showCount(value.name)}" [id]="'collapse-'+i"
                *ngIf="!isOnMobile()">
                <div *ngFor="let filterVal of value.values;" role="button" class="list-group-item filter-item"
                    [ngClass]="{'selected-filter': highlightAppliedFilter(filterVal), 'disabled-item': disableFilters}"
                    (click)="applyFilter(value.name, filterVal)" (keypress)="applyFilter(value.name, filterVal)">
                    {{ filterVal }}
                </div>
            </div>
            <div class="modal fade show" [id]="'cmp-literature-filters-modal'+i" tabindex="-1" role="dialog"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>{{ otherLabels['core.literature.filter'] }}: {{ value.label }}</div>
                        </div>
                        <div class="modal-body">
                            <div class="list-group">
                                <div *ngFor="let filterVal of mobileFilters[i].values;" class="list-group-item"
                                    [ngClass]="{'selected-filter': highlightAppliedFilter(filterVal), 'disabled-item': disableFilters}"
                                    (click)="applyFilter(value.name, filterVal)"
                                    (keypress)="applyFilter(value.name, filterVal)">
                                    {{ filterVal }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row footer-btn">
                                <div class="col-12 footer-btn--cancel">
                                    <button type="button" data-dismiss="modal"
                                        title="{{otherLabels['foundation.buttons.close']}}"
                                        class="btn btn-cancel">{{otherLabels['foundation.buttons.close']}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cmp-literature-applied-filters" [ngClass]="{'no-data-filter': appliedFilters.length === 0}"
    *ngIf="appliedFilters.length">
    <div class="cmp-literature-applied-filters__title">{{otherLabels['core.literature.appliedFilters']}}</div>
    <div class="btn-group cmp-literature-applied-filters--btn-group" role="group"
        *ngFor="let item of appliedFilters; let i=index">

        <div class="btn cmp-literature-applied-filters--btn-group-title">{{ item.value }}
            <span class="cmp-literature-applied-filters--btn-group-title-icon" (keypress)="removeFilter(item.value)"
                (click)="removeFilter(item.value)">
                <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon.svg"
                    alt="{{otherLabels['core.literature.clear']}}" />
            </span>
        </div>
    </div>
    <button type="button" *ngIf="appliedFilters.length > 0" class="btn btn-clear" (keypress)="clearFilter()"
        (click)="clearFilter()"
        title="{{otherLabels['core.literature.clearAll']}}">{{otherLabels['core.literature.clearAll']}}</button>
</div>
