<div data-sly-use.tabs="com.adobe.cq.wcm.core.components.models.Tabs"
    data-sly-use.roleContainer="com.nyl.nylim.models.RoleContainerModel" class="cmp-role-container cmp-tabs full-width"
    data-panelcontainer="${wcmmode.edit && 'tabs'}" data-cmp-is="tabs">
    <div data-sly-test="${tabs.items && tabs.items.size > 0}" role="tablist" class="cmp-tabs__tablist"
        aria-multiselectable="false">
        <sly data-sly-repeat.item="${tabs.items}">
            <div data-sly-test="${roleContainer.activeUser==item.name || wcmmode.edit}" role="tab"
                class="cmp-tabs__tab${item.name == roleContainer.activeUser ? ' cmp-tabs__tab--active' : ''}"
                data-cmp-hook-tabs="tab"></div>
        </sly>
    </div>
    <sly data-sly-repeat.item="${tabs.items}">
        <div data-sly-resource="${item.name @ decorationTagName='div'}" role="tabpanel"
            class="cmp-tabs__tabpanel${item.name == roleContainer.activeUser ? ' cmp-tabs__tabpanel--active' : ''}"
            data-cmp-hook-tabs="tabpanel" data-sly-test="${item.name == roleContainer.activeUser || wcmmode.edit}">
        </div>
    </sly>
</div>
