.cmp-dropdown-targeting {
    margin-top: 32px;
    @include media-breakpoint-up(lg) {
        margin-top: 40px;
    }
    form {
        label {
            display: block;
            color: $grey-dark;
            margin-bottom: 4px;
            @include font-size-line-height(16px, 24px);
        }
        select {
            width: 208px;
            padding: 12px;
            border-radius: 4px;
            border: 1px solid $interactive-light-grey;
            color: $interactive-dark-grey;
            @include font-size-line-height(18px, 24px);
            font-family: $font-family-effra-pro;
            background: url('../resources/images/icon-caret--ltc--blue.svg') calc(100% - 12px) 50% /
            16px auto no-repeat;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            &::-ms-expand {
                display: none;
            }
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }
    }
}
