<div class="banner">
    <div class="cmp-banner cmp-banner--section-header">
        <div class="cmp-banner__image-container">
            <picture>
                <source media="(max-width: 575px)"
                    srcset="/content/dam/nylim/us/en/qa/qa-automation/contact-us/ContactUs6-5.png">
                <source media="(max-width: 767px)"
                    srcset="/content/dam/nylim/us/en/qa/qa-automation/contact-us/ContactUs6-5.png">
                <source media="(max-width: 991px)"
                    srcset="/content/dam/nylim/us/en/qa/qa-automation/contact-us/ContactUs6-5.png">
                <source media="(max-width: 1199px)"
                    srcset="/content/dam/nylim/us/en/qa/qa-automation/contact-us/ContactUs6-5.png">
                <img src="/content/dam/nylim/us/en/qa/qa-automation/contact-us/ContactUs6-5.png" class="mw-100 parallax"
                    alt="">
            </picture>
            <div class="cmp-banner__video-player d-none" style="height: 595px;">
                <video-js id="4841158458001" data-account="70943156001" data-player="HGO4GsYLns"
                    data-video-id="6044437952001" data-playlist-id="" data-embed="default" data-application-id=""
                    preload="metadata" controls class="vjs-fluid"
                    style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                    <video tabindex="-1" role="application"
                        style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"
                        class="vjs-tech" preload="metadata" data-application-id="" data-embed="default"
                        data-playlist-id="" data-video-id="6044437952001" data-player="HGO4GsYLns"
                        data-account="70943156001" id="HGO4GsYLns_html5_api" aria-labelledby="vjs-dock-title-1"
                        aria-describedby="vjs-dock-description-2"
                        poster="https://cf-images.us-east-1.prod.boltdns.net/v1/static/70943156001/2d44ec7e-03d2-48af-9c13-e57ca9ce5ee1/763c39b1-387b-4f29-bea8-3496f4bc5c3a/1280x720/match/image.jpg"
                        src="blob:http://localhost:8080/ed720caf-0fe0-4bc5-b58b-9b29fd76ee35"></video>
                </video-js>
                <button type="button" aria-label="Close" class="close">
                    <i class="cmp-banner__video-player--close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="cmp-banner__gradient"></div>
            <div class="cmp-banner__color-overlay" data-color-overlay-opacity="90"></div>
        </div>

        <div class="cmp-banner__rule">
            <div class="cmp-banner__thick-rule"></div>
            <div class="cmp-banner__thin-rule"></div>
        </div>
        <div class="cmp-banner__wrapper row">
            <div class="col-xs-12 col-lg-8">
                <div class="cmp-banner__eyebrow">i am eyebrow</div>
                <h1 class="cmp-banner__headline">I am Banner Headline</h1>
                <div class="cmp-banner__subhead">I am the subheadline for banner</div>
                <div class="cmp-banner__description">
                    <p>i am the description&nbsp;i am the description&nbsp;i am the
                        description&nbsp;i am the
                        descript
                        description&nbsp;</p>
                </div>
                <div class="cmp-banner__button">
                    <a href="#" title="title" target="_self">
                        <span class="nyl-button">
                            <i class="nyl-button--icon-prepend" aria-hidden="true"></i>
                            I am CTA button
                            <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                        </span>
                    </a>
                    <div class="cmp-banner__social-share">
                        <div class="cmp-social-share">
                            <p class="h4">Share</p>
                            <div class="cmp-social-share__button-drawer">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank" class="cmp-social-share__button --facebook"
                                            title="Facebook">
                                            <i class="cmp-social-share__icon--facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="cmp-social-share__button --linkedin"
                                            title="LinkedIn">
                                            <i class="cmp-social-share__icon--linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="cmp-social-share__button --twitter"
                                            title="Twitter">
                                            <i class="cmp-social-share__icon--twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="cmp-social-share__button --email"
                                            title="Email">
                                            <i class="cmp-social-share__icon--email" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="cmp-social-share__button --copy" title="Copy to clipboard">
                                            <i class="cmp-social-share__icon--copy" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmp-banner__video">
                    <a href="#" title="Play Video">
                        <span class="cmp-banner__video--icon"></span>
                        <span class="cmp-banner__video--title">Video title</span>
                        <span class="cmp-banner__video--duration"> (3:18)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
