<div data-audience-selector="individual" data-audience-title="Individual Investor"
    class="fund-id global-data-attribute"></div>
<div class="cmp-search-result">
    <div class="cmp-search-result__empty">
        <div class="cmp-search-result__empty-results">
            <p data-sly-test="" class="cmp-search-result__empty-results__no-result-text">
                <span class="font-weight-bold">
                    No results found for "$searchTerm"
                </span>
            </p>
        </div>
        <h2 class="base-font font-weight-regular">Most Popular Pages</h2>
        <div class="col-lg-12 col-sm-12 cmp-search-result__empty--wrap">
            <div class="card cmp-search-result__empty--card"></div>
            <div class="card cmp-search-result__empty--card"></div>
            <div class="card cmp-search-result__empty--card"></div>
        </div>
    </div>
    <div class="cmp-search-result__facets"
        data-facets="%5B%7B%22values%22%3A%5B%22Who%20We%20Are%22%2C%22Our%20Difference%22%2C%22Our%20Global%20Boutiques%22%2C%22Our%20Leaders%22%2C%22Careers%22%2C%22News%22%5D%2C%22name%22%3A%22facet_about-new-york-life-investment_mvs%22%2C%22label%22%3A%22About%20New%20York%20Life%20Investment%22%7D%2C%20%7B%22values%22%3A%5B%22Mutual%20Funds%22%2C%22Exchange%20Traded%20Funds%20%28ETFs%29%22%2C%22IndexIQ%20Indexes%22%2C%22Closed-End%20Funds%22%2C%22Separately%20Managed%20Accounts%20%28SMAs%29%22%2C%22Variable%20Portfolio%22%2C%22Institutional%22%5D%2C%22name%22%3A%22facet_product-types_mvs%22%2C%22label%22%3A%22Product%20Types%22%7D%2C%20%7B%22values%22%3A%5B%22Alternatives%22%2C%22Equities%22%2C%22Fixed%20Income%22%2C%22Money%20Market%22%2C%22Multi-Asset%22%5D%2C%22name%22%3A%22facet_asset-class_mvs%22%2C%22label%22%3A%22Asset%20Class%22%7D%2C%20%7B%22values%22%3A%5B%22Longevity%20and%20Growth%22%2C%22Generating%20Income%22%2C%22Managing%20Volatility%22%2C%22Combating%20Inflation%22%2C%22Tax-Efficient%20Investing%22%2C%22Workplace%20and%20Retirement%22%2C%22Sustainable%20%26%20Responsible%20Investing%22%5D%2C%22name%22%3A%22facet_strategy_mvs%22%2C%22label%22%3A%22Strategy%22%7D%2C%20%7B%22values%22%3A%5B%22Ausbil%22%2C%22Candriam%22%2C%22Credit%20Value%20Partners%22%2C%22Cushing%20Asset%20Management%22%2C%22Epoch%20Investment%20Partners%22%2C%22GoldPoint%20Partners%22%2C%22IndexIQ%22%2C%22MacKay%20Shields%22%2C%22Madison%20Capital%20Funding%22%2C%22Multi-Asset%20Solutions%20Group%22%2C%22New%20York%20Life%20Investment%20Management%20Asia%22%2C%22NYL%20Investors%22%2C%22NYL%20Investors%20-%20Fixed%20Income%22%2C%22NYL%20Investors%20-%20Private%20Capital%22%2C%22NYL%20Investors%20-%20Real%20Estate%22%2C%22Private%20Advisors%22%2C%22Tristan%20Capital%20Partners%22%2C%22Winslow%20Capital%20Management%22%5D%2C%22name%22%3A%22facet_boutiques_mvs%22%2C%22label%22%3A%22Boutiques%22%7D%2C%20%7B%22values%22%3A%5B%22Fact%20Sheets%22%2C%22Forms%20and%20Applications%22%2C%22Literature%20%28Non-Product%29%22%2C%22Product%20Commentary%22%2C%22Product%20Literature%22%2C%22Regulatory%20Documents%22%2C%22Thought%20Leadership%22%5D%2C%22name%22%3A%22facet_publication-type_mvs%22%2C%22label%22%3A%22Publication%20Type%22%7D%2C%20%7B%22values%22%3A%5B%22U.S.%22%2C%22Global%22%2C%22International%22%2C%22Emerging%20Markets%22%2C%22Europe%22%2C%22Europe%20Middle%20East%20%28EMEA%29%22%2C%22Asia-Pacific%22%5D%2C%22name%22%3A%22facet_exposure_mvs%22%2C%22label%22%3A%22Exposure%22%7D%5D"
        data-facets-enabled="1">
        <div class="row d-xl-none d-lg-none">
            <button type="button" class="cmp-search-result__facets--med-vw-btn">
                <span class="cmp-search-result__facets__label--filters">Filters Applied</span>
            </button>
        </div>
        <div class="d-xl-block d-lg-block d-md-none d-sm-none d-none cmp-search-result__facets--applied">
            <div class="col-lg-12 ">
                <span class="cmp-search-result__facets__label--filters d-none">Filters Applied</span>
            </div>
            <div class="col-lg-12 cmp-search-result__facets__desktop-applied-filters d-none">
                <button class="cmp-search-result__facets--clear-facets">Clear All Filters</button>
            </div>
        </div>
        <div class="col-xl-4 d-xl-block col-lg-4 d-lg-block d-md-none d-sm-none d-none cmp-search-result__facets--wrap">
            <div class="row d-xl-none d-lg-none">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button class="cmp-search-result__facets--back-btn">Back</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6">
                    <h2
                        class="cmp-search-result__facets--sm-heading cmp-search-result__facets__refine-results-heading d-none">
                        Refine your results</h2>
                </div>
                <div
                    class="d-xl-none d-lg-none col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6 text-left text-md-right text-sm-right">
                    <button class="cmp-search-result__facets--clear-facets">Clear All Filters</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion cmp-search-result__facets--accordion"
                        id="cmp-search-result__facets--accordion">
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-search-result__facets__search-results">
            <div class="cmp-search-result__promoted">
                <h2 class="cmp-search-result__facets--sm-heading cmp-search-result--heading d-none">
                    Recommended Results</h2>
                <div class="col-lg-12 col-sm-12 cmp-search-result__promoted--wrap"></div>
            </div>
            <h1 class="cmp-search-result__facets--sm-heading cmp-search-result--heading d-none">
                Searhc Results</h1>
            <div class="cmp-search-result--results-wrapper"></div>
            <div class="cmp-search-result--load-more">
                <button class="cmp-search-result__load-more" data-hits="5">
                    <div class="cmp-search-result__not-loading">Load More</div>
                    <div class="cmp-search-result__loading-icon"></div>
                </button>
            </div>
        </div>
    </div>
</div>
<span id="btnLabel" data-attribute="Learn more"></span>
