<sly data-sly-use.roleContainerModel="com.nyl.nylim.models.RoleContainerModel"
    data-sly-use.canonicalUrlModel="com.nyl.foundation.models.CanonicalUrlModel"
    data-sly-use.requestAttribute="${'com.nyl.foundation.models.RequestAttributeModel' @ setComponentName = 'eloqua'}">

    <!--/*Eloqua Markup*/-->
    <form method="post" name="HVT_Form_JUN2020" action="https://s2108552627.t.eloqua.com/e/f2"
        class="elq-form eloqua-high-value-task" target="_blank">
        <input value="HVT_Form_JUN2020" type="hidden" name="elqFormName">
        <input value="2108552627" type="hidden" name="elqSiteId">
        <div class="layout container-fluid">
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement0" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label" for="fe279">Email
                                    <span class="elq-required">
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" placeholder="email@example.com"
                                                name="C_EmailAddress" id="fe279" value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement1" class="elq-field-style field-button form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div>
                                            <input type="Submit" class="submit-button-style"
                                                value="${'nylim.download' @ i18n}" title="${'nylim.download' @ i18n}"
                                                id="fe281">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="C_UserRole" id="fe285" value="${roleContainerModel.activeUser}">
            <input type="hidden" name="elqCampaignId" id="fe280" value="">
            <input type="hidden" name="redirectURL" id="fe283" value="">
            <input type="hidden" name="cmpid" id="fe282" value="">
            <input type="hidden" name="pageURL" id="fe284" value="${canonicalUrlModel.canonicalUrl}">
            <input type="hidden" name="elqCustomerGUID" value=""> <input type="hidden" name="elqCookieWrite" value="0">
        </div>
    </form>


    <form method="post" name="HVT_FACheckbox_Form_JUN2020" action="https://s2108552627.t.eloqua.com/e/f2"
        class="elq-form eloqua-high-value-task-fa">
        <input value="HVT_FACheckbox_Form_JUN2020" type="hidden" name="elqFormName">
        <input value="2108552627" type="hidden" name="elqSiteId">
        <div class="layout container-fluid">
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement0" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label" for="fe271">Email
                                    <span class="elq-required">
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" placeholder="email@example.com"
                                                name="C_EmailAddress" id="fe271" value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement1" class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div>
                                            <div class="single-checkbox-row row">
                                                <input type="checkbox" name="C_CertifiedFA1" id="fe287">
                                                <label class="checkbox-aligned elq-item-label"
                                                    for="fe287">${properties.certificationLanguage}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-element-instruction" data-sly-test="${properties.disclaimer}">
                                    ${properties.disclaimer}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement2" class="elq-field-style field-button form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div>
                                            <input type="Submit" class="submit-button-style"
                                                value="${'nylim.submit' @ i18n}" title="${'nylim.submit' @ i18n}"
                                                id="fe273">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="C_UserRole" id="fe277" value="${roleContainerModel.activeUser}">
            <input type="hidden" name="elqCampaignId" id="fe272" value="">
            <input type="hidden" name="redirectURL" id="fe275" value="">
            <input type="hidden" name="cmpid" id="fe274" value="">
            <input type="hidden" name="pageURL" id="fe276" value="${canonicalUrlModel.canonicalUrl}">
            <input type="hidden" name="elqCustomerGUID" value=""> <input type="hidden" name="elqCookieWrite" value="0">
        </div>
    </form>
    <!--/*Eloqua Markup Ends*/-->
    <iframe style="display:none" title="eloqua-form-submission" name="eloqua-submission"></iframe>
</sly>
