<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-high-vlaue-task-form-placeholder'}" />
    
<div class="col-12 col-sm-12 col-md-12 cmp-high-value-task-form-modal modal fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog col-sm-12 col-12 col-md-11 offset-1" role="document">
        <div class="modal-content col-md-12">
            <div class="modal-header">
                <h5 data-sly-test="${properties.title}" class="modal-title cmp-high-value-task-form-modal__heading">
                    ${properties.title}</h5>
                <button type="button" class="close cmp-high-value-task-form-modal__close" data-dismiss="modal"
                    aria-label="${'foundation.buttons.close' @ i18n}" title="${'foundation.buttons.close' @ i18n}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cmp-high-value-task-form-modal__content">
                <p data-sly-test="${properties.description}">${properties.description}</p>
                <sly data-sly-include="high-value-task-form.eloqua.html"></sly>
            </div>
        </div>
    </div>
</div>
