<div class="col-12 col-sm-12 col-md-12 cmp-high-value-task-form-modal modal fade show" tabindex="-1" role="dialog"
    aria-modal="true" style="padding-right: 21px; display: block;">
    <div class="modal-dialog col-sm-12 col-12 col-md-11 offset-1" role="document">
        <div class="modal-content col-md-12">
            <div class="modal-header">
                <h5 class="modal-title cmp-high-value-task-form-modal__heading">
                    Almost There !</h5>
                <button type="button" class="close cmp-high-value-task-form-modal__close" data-dismiss="modal"
                    aria-label="Close" title="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body cmp-high-value-task-form-modal__content">
                <p>Please enter your email to download:</p>
                <form method="post" name="HVT_Form_JUN2020" action="https://s2108552627.t.eloqua.com/e/f2"
                    class="elq-form eloqua-high-value-task" target="_blank" rel="noopener"
                    id="formId_0218077500729649241597906122568" style="display: none;">
                    <input value="HVT_Form_JUN2020" type="hidden" name="elqFormName">
                    <input value="2108552627" type="hidden" name="elqSiteId">
                    <div class="layout container-fluid">
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement0" class="elq-field-style form-element-layout row">
                                        <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                            <label class="elq-label" for="fe279">Email
                                                <span class="elq-required">
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="field-control-wrapper">
                                                        <input type="text" class="elq-item-input"
                                                            placeholder="email@example.com" name="C_EmailAddress"
                                                            id="fe279" value="" style="width:100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement1" class="elq-field-style field-button form-element-layout row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div>
                                                        <input type="Submit" class="submit-button-style"
                                                            value="Download" title="Download" id="fe281">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="C_UserRole" id="fe285" value="individual">
                        <input type="hidden" name="elqCampaignId" id="fe280" value="">
                        <input type="hidden" name="redirectURL" id="fe283" value="">
                        <input type="hidden" name="cmpid" id="fe282" value="">
                        <input type="hidden" name="pageURL" id="fe284"
                            value="https://dev.newyorklifeinvestments.com/qa/sprint-16/hvt">
                        <input type="hidden" name="elqCustomerGUID" value=""> <input type="hidden" name="elqCookieWrite"
                            value="0">
                    </div>
                </form>
                <form method="post" name="HVT_FACheckbox_Form_JUN2020" action="https://s2108552627.t.eloqua.com/e/f2"
                    class="elq-form eloqua-high-value-task-fa" target="_blank" rel="noopener"
                    id="formId_049282392215224671597906122568" style="display: block;">
                    <input value="HVT_FACheckbox_Form_JUN2020" type="hidden" name="elqFormName">
                    <input value="2108552627" type="hidden" name="elqSiteId">
                    <div class="layout container-fluid">
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement0" class="elq-field-style form-element-layout row">
                                        <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                            <label class="elq-label" for="fe271">Email
                                                <span class="elq-required">
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="field-control-wrapper">
                                                        <input type="text" class="elq-item-input"
                                                            placeholder="email@example.com" name="C_EmailAddress"
                                                            id="fe271" value="" style="width:100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement1" class="elq-field-style form-element-layout row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div>
                                                        <div class="single-checkbox-row row">
                                                            <input type="checkbox" name="C_CertifiedFA1" id="fe287">
                                                            <label class="checkbox-aligned elq-item-label" for="fe287">I
                                                                certify
                                                                that I am a FINRA Series 7 Registered Representative.
                                                                <span class="elq-required">*
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-element-instruction">NOT FOR RETAIL DISTRIBUTION: This
                                                communication
                                                has been prepared exclusively for institutional/wholesale/professional
                                                clients and
                                                qualified investors only as defined by local laws and regulations.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement2" class="elq-field-style field-button form-element-layout row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div>
                                                        <input type="Submit" class="submit-button-style"
                                                            value="Download" title="Download" id="fe273" disabled=""
                                                            href="https://dev.newyorklifeinvestments.com/assets/noindex/PDF_File_withoutTag1.pdf"
                                                            target="_blank">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="C_UserRole" id="fe277" value="individual">
                        <input type="hidden" name="elqCampaignId" id="fe272" value="">
                        <input type="hidden" name="redirectURL" id="fe275"
                            value="https://dev.newyorklifeinvestments.com/assets/noindex/PDF_File_withoutTag1.pdf">
                        <input type="hidden" name="cmpid" id="fe274" value="">
                        <input type="hidden" name="pageURL" id="fe276"
                            value="https://dev.newyorklifeinvestments.com/qa/sprint-16/hvt">
                        <input type="hidden" name="elqCustomerGUID" value=""> <input type="hidden" name="elqCookieWrite"
                            value="0">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
