<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='nyl-foundation.dependencies'}" />
    <sly data-sly-call="${clientlib.css @ categories='nyl-foundation.global'}" />
</sly>