<div id="download-5d683f2c50" class="cmp-download">
    <p class="cmp-download__title">
        <a class="cmp-download__title-link" href="/content/dam/agency/us/en/qa/DAST.pdf.coredownload.pdf">Title here</a>
    </p>
    <div class="cmp-download__description">
        <p>Description here</p>
    </div>
    <dl class="cmp-download__properties">
        <div class="cmp-download__property cmp-download__property--format">
            <dt class="cmp-download__property-label">Format</dt>
            <dd class="cmp-download__property-content">application/pdf</dd>
        </div>
    </dl>
    <a class="cmp-download__action" href="/content/dam/agency/us/en/qa/DAST.pdf.coredownload.pdf">
        <span class="cmp-download__action-text">action text here</span>
    </a>
</div>
