.cmp-teams {
    .card {
        border-radius: 0px;
        width: 100%;
    }
    &__image {
        margin-bottom: calcRem(16px);
        width: 100%;
        @include media-breakpoint-up(lg) {
            max-height: calcRem(255px);
        }
        @include media-breakpoint-down(md) {
            max-height: calcRem(218px);
        }
        @include media-breakpoint-down(sm) {
            max-height: calcRem(349px);
        }
        @include media-breakpoint-down(xs) {
            max-height: calcRem(253px);
        }
    }
    &__name {
        font-family: $font-family-alda;
    }
    &__title,
    &__fund-manager,
    &__industry-experience {
        font-family: $font-family-helvetica-neue;
    }
    @include media-breakpoint-up(md) {
        &__container {
            .card {
                margin-bottom: calcRem(60px);
                .clickable-bio:hover {
                    text-decoration: underline;
                }
            }
        }
        &__name {
            @include font-size(22px);
            @include line-height(22px);
            margin-bottom: calcRem(10px);
        }
        &__title {
            @include font-size(14px);
            @include line-height(19px);
            margin-bottom: calcRem(14px);
        }
        &__fund-manager {
            @include font-size(14px);
            @include line-height(18px);
            margin-bottom: calcRem(14px);
        }
        &__industry-experience {
            @include font-size(14px);
            @include line-height(18px);
            margin-bottom: calcRem(0px);
        }
        p {
            padding: calcRem(0px) calcRem(1px);
        }
    }
    @include media-breakpoint-down(sm) {
        .card {
            margin-bottom: calcRem(40px);
        }
        &__name {
            @include font-size(18px);
            @include line-height(32px);
            margin-bottom: calcRem(8px);
        }
        &__title {
            @include font-size(14px);
            @include line-height(18px);
            margin-bottom: calcRem(12px);
        }
        &__fund-manager {
            @include font-size(12px);
            @include line-height(14px);
            letter-spacing: 0.17px;
            margin-bottom: calcRem(12px);
        }
        &__industry-experience {
            @include font-size(12px);
            @include line-height(14px);
            letter-spacing: 0.17px;
            margin-bottom: calcRem(0px);
        }
        &__container {
            .card {
                .clickable-bio {
                    text-decoration: underline;
                }
            }
        }
    }
    &-style-hide {
        .cmp-teams {
            &__fund-manager,
            &__industry-experience {
                display: none;
            }
        }
    }
}
.aem-GridColumn--default--6 {
    .cmp-teams {
        .col-xl-3,
        .col-md-3 .col-xl-3 {
            @include make-col(6);
        }
        @include media-breakpoint-down(sm) {
            &__name {
                @include font-size(16px);
                @include line-height(18px);
            }
            &__title {
                @include font-size(16px);
                @include line-height(24px);
            }
        }
    }
}
