<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-portfolio-composition-placeholder'}" />
<figure class="cmp-portfolio-composition">
    <figcaption class="cmp-portfolio-composition__heading">
        <span class="cmp-portfolio-composition__heading-composition">
        </span>
        <span class="cmp-portfolio-composition__heading-as-of">
        </span>
        <span class="cmp-portfolio-composition__heading-date">
        </span>
    </figcaption>
    <div class="cmp-portfolio-composition__chart-container">
    </div>
    <div class="cmp-portfolio-composition__data-points">
    </div>
</figure>
