<div class="global-data-attribute" data-fundId="F_MDT">
</div>
<div class="cmp-etf-cef-distribution-yields">
    <div class="cmp-etf-cef-distribution-yields__container-div">
        <div class="row cmp-etf-cef-distribution-yields__main-container-row">
            <div class=" col-12 cmp-etf-cef-distribution-yields__heading-section">
                <span class="cmp-etf-cef-distribution-yields__distributions-text heading-text"></span>
            </div>
        </div>
        <div class="col-12 cmp-etf-cef-distribution-yields__wrapper">
            <div class="cmp-etf-cef-distribution-yields__left"></div>
            <div class="cmp-etf-cef-distribution-yields__right cmp-etf-cef-distribution-yields__right-gradient"></div>
            <div class="col-12  cmp-etf-cef-distribution-yields__table">

                <ul class="cmp-etf-cef-distribution-yields__distributions-list-container">

                </ul>
                <ul class="pagination justify-content-end cmp-etf-cef-distribution-yields__pagination">
                    <li class="cmp-etf-cef-distribution-yields__page-item">
                        <span class="cmp-etf-cef-distribution-yields__pagination-current-index"></span>
                        <span class="cmp-etf-cef-distribution-yields__of-label"></span>
                        <span class="cmp-etf-cef-distribution-yields__pagination-total-length"></span>
                    </li>
                    <li class="cmp-etf-cef-distribution-yields__page-item cmp-etf-cef-distribution-yields__previous"
                        title="Previous" aria-label="Previous">
                    </li>
                    <li class="cmp-etf-cef-distribution-yields__page-item cmp-etf-cef-distribution-yields__next"
                        title="Next" aria-label="Next">
                    </li>
                </ul>
            </div>
        </div>

        <div class="row cmp-etf-cef-distribution-yields__main-container-row">
            <div class=" col-12 cmp-etf-cef-distribution-yields__heading-section">
                <span class="cmp-etf-cef-distribution-yields__rates-yields-text heading-text"></span>
            </div>
        </div>
        <div class="row cmp-etf-cef-distribution-yields__main-container-row sub-table-section">
            <div class="col-12 col-md-4  cmp-etf-cef-distribution-yields__table-sub">
                <div class="cmp-etf-cef-distribution-yields__sub-heading">
                    <span class="cmp-etf-cef-distribution-yields__sub-heading-text distribution-rate-text"></span>
                    <span class="cmp-etf-cef-distribution-yields__as-of as-of-text"></span>
                    <span class="cmp-etf-cef-distribution-yields__as-of-text as-of-date-distribution"></span>
                </div>
                <ul class="cmp-etf-cef-distribution-yields__list-container">
                    <li>
                        <div class="row cmp-etf-cef-distribution-yields__main-row">
                            <div class="col-6 cmp-etf-cef-distribution-yields__labels">
                                <span class="cmp-etf-cef-distribution-yields__labels-text at-nav"></span>
                            </div>
                            <div class="col-6 cmp-etf-cef-distribution-yields__values">
                                <span
                                    class="cmp-etf-cef-distribution-yields__values-text at-nav-distribution-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-etf-cef-distribution-yields__main-row">
                            <div class="col-6 cmp-etf-cef-distribution-yields__labels">
                                <span class="cmp-etf-cef-distribution-yields__labels-text at-market-price"></span>
                            </div>
                            <div class="col-6 cmp-etf-cef-distribution-yields__values">
                                <span
                                    class="cmp-etf-cef-distribution-yields__values-text at-market-price-distribution-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-12 col-md-4  cmp-etf-cef-distribution-yields__table-sub">
                <div class="cmp-etf-cef-distribution-yields__sub-heading">
                    <span class="cmp-etf-cef-distribution-yields__sub-heading-text month-rate-text"></span>
                    <span class="cmp-etf-cef-distribution-yields__as-of as-of-text"></span>
                    <span class="cmp-etf-cef-distribution-yields__as-of-text as-of-date-month"></span>
                </div>
                <ul class="cmp-etf-cef-distribution-yields__list-container">
                    <li>
                        <div class="row cmp-etf-cef-distribution-yields__main-row">
                            <div class="col-6 cmp-etf-cef-distribution-yields__labels">
                                <span class="cmp-etf-cef-distribution-yields__labels-text at-nav"></span>
                            </div>
                            <div class="col-6 cmp-etf-cef-distribution-yields__values">
                                <span class="cmp-etf-cef-distribution-yields__values-text at-nav-month-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-etf-cef-distribution-yields__main-row">
                            <div class="col-6 cmp-etf-cef-distribution-yields__labels">
                                <span class="cmp-etf-cef-distribution-yields__labels-text at-market-price"></span>
                            </div>
                            <div class="col-6 cmp-etf-cef-distribution-yields__values">
                                <span
                                    class="cmp-etf-cef-distribution-yields__values-text at-market-price-month-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-12 col-md-4  cmp-etf-cef-distribution-yields__table-sub">
                <div class="cmp-etf-cef-distribution-yields__sub-heading">
                    <span class="cmp-etf-cef-distribution-yields__sub-heading-text days-rate-text"></span>
                    <span class="cmp-etf-cef-distribution-yields__as-of as-of-text"></span>
                    <span class="cmp-etf-cef-distribution-yields__as-of as-of-date-yield"></span>
                </div>
                <ul class="cmp-etf-cef-distribution-yields__list-container">
                    <li>
                        <div class="row cmp-etf-cef-distribution-yields__main-row">
                            <div class="col-6 cmp-etf-cef-distribution-yields__labels">
                                <span class="cmp-etf-cef-distribution-yields__labels-text subsidized-field"></span>
                            </div>
                            <div class="col-6 cmp-etf-cef-distribution-yields__values">
                                <span
                                    class="cmp-etf-cef-distribution-yields__values-text subsidized-field-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-etf-cef-distribution-yields__main-row">
                            <div class="col-6 cmp-etf-cef-distribution-yields__labels">
                                <span class="cmp-etf-cef-distribution-yields__labels-text unsubsidized-yield"></span>
                            </div>
                            <div class="col-6 cmp-etf-cef-distribution-yields__values">
                                <span
                                    class="cmp-etf-cef-distribution-yields__values-text unsubsidized-yield-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
