.cmp-banner-editorial {
    position: relative;
    &__container {
        text-align: center;
        max-width: 1440px;
        max-height: 650px;
        margin: auto;
    }
    &--peakover {
        @include media-breakpoint-up(md) {
            .cmp-banner-editorial::after {
                content: '';
                position: absolute;
                height: 80px;
                width: 64%;
                bottom: 0;
                left: 0;
                background: $white;
            }
        }
    }
}