@mixin morningstar-mobile-rotate-styles {
    @extend %mobile-full-width;
    &__graph {
        display: block;
        > .ec-component {
            margin: 0 calcRem(-15px);
        }
    }

    &__rotate {
        @extend %mobile-full-width;
        display: none;

        &-title,
        &-description {
            background: $light-steel-3;
            font-family: $font-family-helvetica-neue;
            margin: 0 calcRem(20px);
        }

        &-title {
            @extend %font-weight-bold;
            @include font-size(16px);
            @include line-height(19px);
            padding: calcRem(40px) calcRem(20px) calcRem(8px);
        }

        &-description {
            @include font-size(14px);
            @include line-height(20px);
            padding: 0 calcRem(20px) calcRem(40px);
        }
    }

    @include media-breakpoint-down(xs) {
        @media (orientation: portrait) {
            &__graph {
                display: none;
            }

            &__rotate {
                display: block;
            }
        }
    }
}
@mixin morningstar-section-title-styles {
    // titles
    .mds-header__title,
    h2 span {
        @extend %font-weight-bold;
        text-transform: uppercase;
        @include font-size(16px);
        @include line-height(19px);
        letter-spacing: 1.14px;
        margin-right: calcRem(20px);
    }
}
@mixin morningstar-holdings-panel-styles {
    .ec-section {
        &.ec-section--edit-portfolio,
        &.ec-section--comparison-investments {
            .ec-section {
                &.ec-section__group {
                    padding: 0;
                }
                .ec-section__content--toolbar {
                    border-top: 1px solid $medium-gray;
                    margin-top: calcRem(20px);
                    padding-top: calcRem(20px);
                    padding-bottom: calcRem(30px);
                }
            }
            .mds-data-table {
                &__row {
                    th,
                    td {
                        &:first-child {
                            display: none;
                        }
                    }
                }
                &__header-cell,
                &__cell {
                    padding-left: 0;
                    &:nth-of-type(3) {
                        width: 25%;
                    }
                    svg {
                        width: calcRem(16px);
                        height: calcRem(16px);
                    }
                }
            }
        }
    }
    .ec-xray__edit-holdings {
        border-color: $medium-gray;
        padding-top: calcRem(20px);
    }
}
@mixin morningstar-input-styles {
    // input boxes in holdings flyout and report settings screen
    .mds-search-field--secondary .mds-search-field__input,
    .mds-form__input,
    .mds-combo-box,
    .mds-combo-box .mds-combo-box__container,
    .mds-combo-box__dropdown .select2-search--dropdown .select2-search__field {
        background: $light-steel-3;
        box-shadow: none;
        border-radius: 0;
        border: transparent;
        height: calcRem(42px);
        padding-top: calcRem(5px);
        &:hover,
        &:hover:enabled,
        &:focus {
            box-shadow: none;
            border: transparent;
            border-radius: 0;
        }
        &::placeholder {
            color: $steel;
            opacity: 0.6;
        }
    }
    .ec-edit-holdings__total-amount-input input {
        background: transparent;
    }
    .mds-search-field__search-icon,
    .mds-button--icon-only .mds-button__icon {
        fill: $steel;
    }
    .ec-combo-box .mds-combo-box .mds-combo-box__container {
        .select2-selection {
            &__arrow {
                height: calcRem(42px);
            }
            &__rendered {
                @include line-height(42px);
                color: $steel;
            }
        }
        &.select2-selection {
            padding-top: 0;
        }
    }
}

@mixin morningstar-checkbox-styles {
    // checkbox
    .mds-form__checkbox-visible-wrap {
        align-items: center;
    }
    .mds-form__checkbox-visual {
        background: $white;
        border-color: $steel;
        border-radius: 0;
        width: calcRem(24px);
        height: calcRem(24px);
        &:hover {
            background: $light-steel-1;
            border-color: $steel;
        }
    }
    //checkbox: checked
    .ec-report-builder__empty--contents .mds-form__checkbox-visual,
    .mds-form__checkbox-input:checked + .mds-form__checkbox-visible-wrap .mds-form__checkbox-visual,
    .mds-form__checkbox-input:indeterminate + .mds-form__checkbox-visible-wrap .mds-form__checkbox-visual,
    .mds-form__checkbox:hover
        .mds-form__checkbox-input:checked
        + .mds-form__checkbox-visible-wrap
        .mds-form__checkbox-visual,
    .mds-form__checkbox:hover
        .mds-form__checkbox-input:indeterminate
        + .mds-form__checkbox-visible-wrap
        .mds-form__checkbox-visual {
        background: $steel;
        border-color: $steel;
        &:hover {
            border-color: $steel;
        }
    }
    .mds-form__checkbox--hover .mds-form__checkbox-visual,
    .mds-form__checkbox:hover .mds-form__checkbox-visual {
        &:hover {
            border-color: $steel;
        }
    }
}

@mixin morningstar-report-button-styles {
    // generate report button
    .mstar-report-builder-button,
    .ec-section__section--report-button,
    .ec-section__content--report-name,
    .mstar-hypo-settings-apply-button {
        .mds-button {
            @extend .nyl-button;
            border-radius: 0;
            .mds-button__icon {
                fill: $white;
                margin-right: calcRem(14px);
            }
            &:hover,
            &:focus:hover,
            &:focus,
            &:active {
                background: $medium-rain-2;

                .mds-button__icon {
                    fill: $white;
                }
            }
            span {
                padding-top: calcRem(4px);
                color: $white;
            }
        }
    }
    // report generate button
    .ec-section__content--report-name,
    .ec-section__section--report-button {
        .mds-button {
            background: $steel;
            &:hover,
            &:focus:hover,
            &:focus,
            &:active {
                background: $dark-steel-2;
                span {
                    color: $white;
                }
            }
            span {
                padding-top: calcRem(4px);
                color: $white;
            }
        }
    }
    // report cancel button
    .mstar-report-cancel-button {
        .mds-button {
            background: $light-steel-1;
            .mds-button__icon {
                fill: $steel;
                margin-right: calcRem(14px);
            }
            &:hover,
            &:focus:hover,
            &:focus,
            &:active {
                background: $light-steel-6;
                .mds-button__icon {
                    fill: $steel;
                }
                span {
                    color: $steel;
                }
            }
            span {
                padding-top: calcRem(4px);
                color: $steel;
            }
        }
    }
}

@mixin morningstar-mds-button-overrides {
    // mds button overrides for focus/hover outlines, backgrounds, etc.
    .mds-button,
    .mds-button--secondary {
        border-radius: 0;
        box-shadow: none;
        border: 0;
        font-weight: $font-weight-normal;
        &:hover,
        &:hover:focus,
        &:focus,
        &:active,
        &:disabled,
        &[disabled] {
            box-shadow: none;
            background: transparent;
            .mds-button__icon {
                fill: $steel;
            }
            &.mds-button--active {
                box-shadow: none;
            }
        }
        &.mds-button--small {
            @include font-size(16px);
            @include line-height(19px);
        }
        &.mds-button--flat {
            text-align: left;
        }
    }
    .mds-button--flat .mds-button__icon,
    .mds-button__icon {
        fill: $steel;
    }
}

@mixin morningstar-pagination-styles {
    .mds-pagination {
        border-radius: 0;
        box-shadow: none;
        &__link {
            cursor: pointer;
            @include font-size(16px);
            @include line-height(19px);
            &:focus {
                box-shadow: none;
            }
            &.mds-pagination__link--selected,
            &.mds-pagination__link--selected:hover {
                border-bottom: 4px solid $medium-dusk;
                font-weight: $font-weight-bold;
            }
        }
    }
}

body {
    .mds-combo-box {
        &__dropdown {
            @extend %base-font;
            color: $steel;
            .select2-search--dropdown .select2-search__field {
                @extend %base-font;
                color: $steel;
                background: $light-steel-3;
                box-shadow: none;
                min-height: calcRem(35px);
                &:focus {
                    box-shadow: none;
                }
            }
            .select2-results__option--highlighted[aria-selected],
            .select2-results__option[aria-selected='true'] {
                color: $steel;
                background: $light-steel-3;
            }
        }
    }
    .mbc-chart-tooltip-container {
        &.tooltip .tooltip-inner {
            padding: calcRem(14px) calcRem(17px);
        }
        &.mbc-time-series-line-chart-tooltip,
        &.mbc-donut-chart-tooltip,
        &.mbc-horizontal-bar-chart-tooltip,
        &.mbc-geographical-map-tooltip,
        &.mbc-correlation-matrix-tooltip {
            .tooltip-title {
                border-bottom: 1px solid #9fa19e;
                margin-bottom: calcRem(5px);
            }

            .tooltip-title,
            .tip-cell-name,
            .tip-cell-data {
                @extend %base-font;
                @extend %font-weight-regular;
                @include font-size(11px);
                @include line-height(15px);
                color: $steel;
            }
            .tooltip-title,
            .tip-cell-data {
                @extend %font-weight-bold;
            }
            .tooltip-body {
                margin-bottom: 0;
            }
        }
    }
    .mbc-mds-popover {
        .mbc-mds-popover__header {
            border-bottom: 1px solid $light-steel-1;
        }

        .mbc-mds-popover__content .mbc-chart-legend-item__key ~ p {
            @extend %base-font;
            @extend %font-weight-regular;
            @include font-size(11px);
            @include line-height(15px);
            color: $steel;
        }
    }
    .mstar-tip {
        background: $white;
        box-shadow: 0px 0px 8px 4px rgba(51, 51, 51, 0.35);
        &.mstar-arrow-top:before {
            border-bottom-color: white;
        }
        &.mstar-arrow-bottom:before {
            border-top-color: white;
        }
        &.mstar-arrow-left:before {
            border-right-color: white;
        }
        &.mstar-arrow-right:before {
            border-left-color: white;
        }
        .mstar-tooltip__content {
            @extend %base-font;
            @extend %font-weight-regular;
            @include font-size(11px);
            @include line-height(15px);
            color: $steel;
            padding: calcRem(14px) calcRem(17px);
        }
    }
}
