&.hidden {
    display: none;
}
@include media-breakpoint-up(md) {
    border-right: solid 1px $light-steel-1;
    margin-right: 8%;
    padding-right: 8%;
}
@include media-breakpoint-up(lg) {
    margin-right: 15%;
    padding-right: 15%;
}
&__heading {
    color: $steel;
    font-family: $font-family-helvetica-neue;
    margin-bottom: calcRem(10px);
    &-composition {
        font-size: calcRem(14px);
        font-weight: bold;
        letter-spacing: calcRem(1px);
        line-height: calcRem(17px);
        text-transform: uppercase;
    }
    &-as-of,
    &-date {
        display: none;
        font-size: calcRem(12px);
        letter-spacing: 0;
        line-height: calcRem(13px);
    }
    &-as-of.shown,
    &-date.shown {
        display: inline-block;
    }
}
&__chart-container {
    align-self: flex-start;
    height: calcRem(220px);
    margin-bottom: calcRem(22px);
    width: calcRem(220px);
    @include media-breakpoint-down(sm) {
        align-self: center;
    }
}
@include media-breakpoint-down(sm) {
    &[data-greater-than-nine] &__chart-container {
        display: none;
    }
}
@include media-breakpoint-up(md) {
    &[data-greater-than-three] &__chart-container,
    &[data-greater-than-nine] &__chart-container {
        display: none;
    }
}
&__data-point-color-bar-wrapper:hover,
&__data-point-color-bar-wrapper.hover {
    padding: 0;
}
&__tooltip {
    &-datum,
    &-category {
        color: $steel;
        display: block;
        font-family: $font-family-helvetica-neue;
    }
    &-datum {
        font-size: calcRem(12px);
        font-weight: $font-weight-medium;
        letter-spacing: 0;
        line-height: calcRem(13px);
        margin-bottom: 4px;
    }
    &-category {
        font-size: calcRem(11px);
        letter-spacing: 0;
        line-height: calcRem(12px);
    }
}
&__data-points {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calcRem(-10px);
    width: calc(100% + 21px);
}
&__data-point {
    margin: 0 calcRem(10px);
    width: 100px;
    @include media-breakpoint-down(xs) {
        min-width: calcRem(90px);
        width: calc(50% - 20px);
    }
    @include media-breakpoint-down(sm) {
        min-width: calcRem(90px);
        width: calc(33% - 20px);
    }
    &-color-bar-wrapper {
        height: calcRem(16px);
        padding-top: calcRem(4px);
        margin-bottom: calcRem(12px);
        @include media-breakpoint-down(sm) {
            height: calcRem(12px);
            padding-top: 0;
        }
    }
    &-color-bar {
        height: 100%;
        &.steel {
            background-color: $steel;
        }
        &.dark-twilight {
            background-color: $dark-twilight;
        }
        &.medium-twilight {
            background-color: $medium-twilight;
        }
        &.dark-dusk {
            background-color: $dark-dusk;
        }
        &.medium-dusk {
            background-color: $medium-dusk;
        }
        &.dark-gold {
            background-color: $dark-gold;
        }
        &.medium-gold {
            background-color: $medium-gold;
        }
        &.dark-salmon {
            background-color: $dark-salmon;
        }
        &.medium-salmon {
            background-color: $medium-salmon;
        }
        &.dark-palm {
            background-color: $dark-palm;
        }
        &.medium-palm {
            background-color: $medium-palm;
        }
        &.dark-sunset {
            background-color: $dark-sunset;
        }
        &.medium-rain {
            background-color: $medium-rain;
        }
        &.dark-rain {
            background-color: $dark-rain;
        }
    }
    &-label {
        overflow-x: hidden;
    }
    &-percentage,
    &-category {
        color: $steel;
        font-family: $font-family-helvetica-neue;
    }
    &-percentage {
        font-size: calcRem(24px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: calcRem(29px);
    }
    &-category {
        font-size: calcRem(16px);
        letter-spacing: 0;
        line-height: calcRem(18px);
    }
}
