<app-literature-search *ngIf="!literatureManualMode" [searchMessages]="messages" (textSelected)="updateTable($event)"
    (onSearchClear)="clearSearchedData()"></app-literature-search>
<app-literature-filter *ngIf="!literatureManualMode && facets.length" (filterEvent)="onFilterEvent($event)"
    [filter-labels]="columnHeaders?.facets" [other-labels]="columnHeaders?.labels" [filtered-facets]="facets">
</app-literature-filter>
<div class="cmp-literature__table" (scroll)="onScroll()">
    <div class="cmp-literature__table--count" *ngIf="totalCount >= 0">
        <span class="cmp-literature__table--count-number">{{totalCount}}</span>
        <span class="cmp-literature__table--count-results"> {{resultsLabel}}</span>
    </div>

    <ngx-datatable [reorderable]="false" [count]="rows" [rows]="rows" [scrollbarH]="true" [scrollbarV]="false"
        [headerHeight]="57" [rowHeight]="72" [messages]="messages" [columns]="columnsDetails" [externalSorting]="true"
        (sort)="onSort($event)">

        <ngx-datatable-column *ngFor="let col of columnsDetails;" [prop]="col.prop" [name]="col.name"
            [resizeable]="false" [sortable]=true [width]="col.width" [minWidth]="50" [cellClass]="getCellClass"
            [headerClass]="dataTableService.kebab('cmp-literature__table--'+col.prop)">

            <ng-template ngx-datatable-header-template>
                <span class="cmp-literature__table--document-names" *ngIf="col.prop === 'documentName'"
                    [innerText]="columnHeaders.labels['core.literature.documentName']">
                </span>
                <span class="cmp-literature__table--date" *ngIf="col.prop === 'date'"
                    [innerText]="columnHeaders.labels['core.literature.date']">
                </span>
                <span class="cmp-literature__table--download" *ngIf="col.prop === 'download'">
                </span>
                <span class="cmp-literature__table--email" *ngIf="col.prop === 'email'">
                </span>
                <span class="cmp-literature__table--itemsSelected" *ngIf="col.prop === 'itemsSelected'">
                </span>
            </ng-template>
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span class="cmp-literature__table--document-rows" *ngIf="col.prop === 'documentName'">
                    <span class="cmp-literature__table--document-title" [title]="value"
                        (keypress)="openDocument(row.documentUrl)"
                        (click)="openDocument(row.documentUrl)">{{value}}</span>
                    <br><span
                        class="cmp-literature__table--document-info cmp-literature__table--document-info-date">{{row.date}}</span>
                    <span
                        class="cmp-literature__table--document-info cmp-literature__table--document-info-publication">{{row.publicationType}}</span>
                    <span class="cmp-literature__table--document-info cmp-literature__table--document-info-dot">.</span>
                    <span class="cmp-literature__table--document-info">{{row.doctype}}</span>
                    <span class="cmp-literature__table--document-info">{{row.mB}}</span>
                    <img *ngIf="row.strategy !== '-' || row.productType !== '-' || row.assetClass !== '-' ||
                    row.productCategory !== '-' || row.products !== '-' || row.publicationType !== '-'|| row.state !== '-' "
                        (mouseenter)="openTooltip($event)" (mouseleave)="closeTooltip($event)" class="image"
                        alt="info-icon" src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/info-icon.svg"
                        aria-describedby="tooltip" />
                    <div class="tooltip" role="tooltip">
                        <div class="tooltip__header">{{ columnHeaders.labels['core.literature.additionalInformation'] }}</div>
                        <br *ngIf="row.strategy !== '-'">
                        <div *ngIf="row.strategy !== '-'" class="tooltip__labels">
                            {{ columnHeaders.labels['nylim.strategies'] | uppercase }}</div>
                        <div *ngIf="row.strategy !== '-'">{{ row.strategy }}</div>
                        <br *ngIf="row.productType !== '-'">
                        <div *ngIf="row.productType !== '-'" class="tooltip__labels">
                            {{ columnHeaders.labels['nylim.productType'] | uppercase }}</div>
                        <div *ngIf="row.productType !== '-'">{{ row.productType }}</div>
                        <br *ngIf="row.assetClass !== '-'">
                        <div *ngIf="row.assetClass !== '-'" class="tooltip__labels">
                            {{ columnHeaders.labels['nylim.assetClass'] | uppercase }}</div>
                        <div *ngIf="row.assetClass !== '-'">{{ row.assetClass }}</div>
                        <br *ngIf="row.productCategory !== '-'">
                        <div *ngIf="row.productCategory !== '-'" class="tooltip__labels">
                            {{ columnHeaders.labels['annuities.literature.productCategory'] | uppercase }}</div>
                        <div *ngIf="row.productCategory !== '-'">{{ row.productCategory }}</div>
                        <br *ngIf="row.products !== '-'">
                        <div *ngIf="row.products !== '-'" class="tooltip__labels">
                            {{ columnHeaders.labels['annuities.literature.product'] | uppercase }}</div>
                        <div *ngIf="row.products !== '-'">{{ row.products }}</div>
                        <br *ngIf="row.publicationType !== '-'">
                        <div *ngIf="row.publicationType !== '-'" class="tooltip__labels">
                            {{ columnHeaders.labels['annuities.literature.publicationType'] | uppercase }}</div>
                        <div *ngIf="row.publicationType !== '-'">{{ row.publicationType }}</div>
                        <br *ngIf="row.state !== '-'">
                        <div *ngIf="row.state !== '-'" class="tooltip__labels">
                            {{ columnHeaders.labels['annuities.literature.state'] | uppercase }}</div>
                        <div *ngIf="row.state !== '-'">{{ row.state }}</div>
                    </div>
                </span>
                <span class="cmp-literature__table--date-rows" *ngIf="col.prop === 'date'">{{value}}</span>
                <span *ngIf="col.prop === 'download'" class="cmp-literature__table--document-download"
                    [title]="downloadLabel" (keypress)="openDocument(row.documentUrl)"
                    (click)="openDocument(row.documentUrl)">
                    <img alt="download"
                        src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/download-icon.svg" />
                </span>
                <span *ngIf="col.prop === 'email' && row.showEmail === 'false' && columnHeaders.tenant=='nylim'"
                    class="cmp-literature__table--document-email" [title]="emailLabel"
                    data-target="#cmp-literature-email-modal" data-toggle="modal"
                    (keypress)="openIndividualEmailModal(rowIndex)" (click)="openIndividualEmailModal(rowIndex)">
                    <img alt="email" src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/email-icon.svg" />
                </span>
                <span *ngIf="col.prop === 'email' && row.showEmail === 'false' && columnHeaders.tenant=='annuities'"
                    class="cmp-literature__table--document-email" data-target="" data-toggle="modal" [title]="emailLabel"
                    (keypress)="openIndividualEmailModal(rowIndex)" (click)="openIndividualEmailModal(rowIndex)">
                    <img alt="email" src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/email-icon.svg" />
                </span>
                <span *ngIf="col.prop === 'itemsSelected'">
                    <input id="{{row.documentName}}" type="checkbox" (change)="checkItemSelected($event, rowIndex)"
                        [name]="row.documentName" [disabled]="disableSelection && (checkboxArray[rowIndex]===false)" />
                    <label for="{{row.documentName}}"></label>
                </span>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    <span *ngIf="totalCount && (pageLimit < totalCount)" (keypress)="loadMoreRecords()"
        class="cmp-literature__table-btn cmp-literature__table-btn--load"
        (click)="loadMoreRecords()">{{loadMoreLabel}}</span>
    <div class="cmp-literature__table--btngroup full-width">
        <span class="cmp-literature__table--info">{{countSelection}} {{itemsSelectedLabel}}
            {{maxSelectionLabel}}</span>
        <span class="cmp-literature__table-btn" *ngIf="countSelection > 0" data-target="#cmp-literature-download-modal"
            data-toggle="modal" (click)="trackDocumentDownload()"
            (keypress)="trackDocumentDownload()">{{downloadLabel}}</span>
        <span *ngIf="columnHeaders.tenant=='nylim'  && countSelection > 0" class="cmp-literature__table-btn cmp-literature__table-btn--email"
            data-target="#cmp-literature-email-modal" data-toggle="modal"
            (keypress)="updateEmailFormHiddenAttributes()" (click)="updateEmailFormHiddenAttributes()">{{emailLabel}}
        </span>
        <span id="emailBtn" *ngIf="columnHeaders.tenant=='annuities' && countSelection > 0" class="cmp-literature__table-btn cmp-literature__table-btn--email"
            (keypress)="mailToPopUp()" (click)="mailToPopUp()">{{emailLabel}}
        </span>
    </div>
    <div class="modal fade show" id="cmp-literature-download-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        title="{{columnHeaders.labels['foundation.buttons.close']}}">
                        <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon--steel.svg"
                            alt="{{columnHeaders.labels['foundation.buttons.close']}}" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="cmp-literature__documents--heading">
                        {{columnHeaders.modalAttributes['downloadTitle']}}</div>
                    <div class="cmp-literature__documents--description">
                        {{columnHeaders.modalAttributes['downloadDescription']}}</div>
                    <div *ngFor="let pdf of downloadPdfList;" class="cmp-literature__documents--rows">
                        <span class="cmp-literature__documents--rows-title">{{pdf.documentName}}</span>
                        <span class="cmp-literature__documents--rows-title-space">&nbsp;</span>
                        <span class="cmp-literature__documents--rows-info">{{pdf.doctype}}</span>&nbsp;
                        <span class="cmp-literature__documents--rows-info">{{pdf.mB}}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row footer-btn">
                        <div class="col-12 footer-btn--apply">
                            <button type="button" data-dismiss="modal"
                                title="{{columnHeaders.labels['nylim.downloadZip']}}" class="btn btn-apply"
                                (keypress)="downloadZip()"
                                (click)="downloadZip()">{{getDownloadModalButtonLabel()}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade show" id="cmp-literature-email-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        title="{{columnHeaders.labels['foundation.buttons.close']}}">
                        <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon--steel.svg"
                            alt="{{columnHeaders.labels['foundation.buttons.close']}}" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="cmp-literature__documents--heading">
                        {{columnHeaders.modalAttributes['emailTitle']}}</div>
                    <div class="cmp-literature__documents--description">
                        {{columnHeaders.modalAttributes['emailDescription']}}</div>
                    <div *ngFor="let pdf of downloadPdfList;" class="cmp-literature__documents--rows">
                        <span class="cmp-literature__documents--rows-title">{{pdf.documentName}}</span>
                        <span class="cmp-literature__documents--rows-title-space">&nbsp;</span>
                        <span class="cmp-literature__documents--rows-info">{{pdf.doctype}}</span>&nbsp;
                        <span class="cmp-literature__documents--rows-info">{{pdf.mB}}</span>
                    </div>
                    <div class="cmp-literature__documents--required">
                        {{columnHeaders.labels['nylim.required']}}</div>
                    <div class="cmp-literature-email-form"></div>
                </div>
            </div>
        </div>
    </div>
</div>
