.cmp-tabs {
    @extend %full-width;
    @include media-breakpoint-down(sm) {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    &__parent-tabList {
        @include media-breakpoint-down(sm) {
            overflow-y: hidden;
            overflow: scroll;
        }
    }
    &__tablist {
        height: calcRem(65px);
        background-color: $white;
        flex-direction: row;
        @include media-breakpoint-down(sm) {
            width: max-content;
        }
    }

    &__right-gradient:after {
        @include media-breakpoint-down(sm) {
            content: '';
            width: calcRem(30px);
            height: calcRem(67px);
            position: sticky;
            background: linear-gradient(to right, rgba(129, 199, 255, 0) 0%, rgba(6, 58, 82, 0.31) 100%);
            right: calcRem(0px);
        }
    }
    &__left-gradient:before {
        @include media-breakpoint-down(sm) {
            content: '';
            width: calcRem(30px);
            height: calcRem(67px);
            position: sticky;
            background: linear-gradient(to left, rgba(129, 199, 255, 0) 0%, rgba(6, 58, 82, 0.31) 100%);
            left: calcRem(0px);
        }
    }
    &__tab {
        font-size: calcRem(18px);
        line-height: calcRem(24px);
        margin-left: calcRem(20px);
        margin-right: calcRem(20px);
        padding-top: calcRem(20px);
        padding-bottom: calcRem(20px);
        padding-left: 0;
        padding-right: 0;
        cursor: default;
        letter-spacing: 0.56px;
        @include media-breakpoint-down(sm) {
            max-width: max-content !important;
            margin-left: calcRem(22px);
            margin-right: calcRem(22px);
        }
        white-space: nowrap;
        @extend %font-weight-regular;
        &--active {
            border-bottom: calcRem(8px) solid $medium-dusk !important;
            @extend %font-weight-bold;
            padding-bottom: calcRem(12px) !important;
            @include media-breakpoint-down(sm) {
                border-bottom: calcRem(4px) solid $medium-dusk !important;
                padding-left: calcRem(22px);
                padding-right: calcRem(22px);
                margin-left: 0;
                margin-right: 0;
            }
            &:first-child {
                @include media-breakpoint-down(sm) {
                    margin-left: 20px;
                }
            }
        }
    }
    &__tab:hover {
        border-bottom: calcRem(8px) solid $light-steel-1;
        padding-bottom: calcRem(12px) !important;
        @include media-breakpoint-down(sm) {
            border-bottom: none;
        }
    }
    &__tab:focus {
        outline: none;
    }
    &__tabpanel:focus {
        outline: none;
    }
    &--light-steel-3 {
        .cmp-tabs__tablist {
            background-color: $light-steel-3 !important;
        }
    }
    .cmp-anchor-link-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cmp-accordion {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px) !important;
            margin-right: calcRem(0px) !important;
        }
    }
}
.cmp-role-container {
    .cmp-tabs__tablist {
        display: none !important;
    }
}