.fd-row {
  margin-left: 0px;
  margin-right: 0px;
}
.fd-row:before,
.fd-row:after {
  content: " ";
  display: table;
}

.fd-row:after {
  clear: both;
}

.fd-col-xs-1, .fd-col-sm-1, .fd-col-md-1, .fd-col-lg-1, .fd-col-xs-2, .fd-col-sm-2, .fd-col-md-2, .fd-col-lg-2, .fd-col-xs-3, .fd-col-sm-3, .fd-col-md-3, .fd-col-lg-3, .fd-col-xs-4, .fd-col-sm-4, .fd-col-md-4, .fd-col-lg-4, .fd-col-xs-5, .fd-col-sm-5, .fd-col-md-5, .fd-col-lg-5, .fd-col-xs-6, .fd-col-sm-6, .fd-col-md-6, .fd-col-lg-6, .fd-col-xs-7, .fd-col-sm-7, .fd-col-md-7, .fd-col-lg-7, .fd-col-xs-8, .fd-col-sm-8, .fd-col-md-8, .fd-col-lg-8, .fd-col-xs-9, .fd-col-sm-9, .fd-col-md-9, .fd-col-lg-9, .fd-col-xs-10, .fd-col-sm-10, .fd-col-md-10, .fd-col-lg-10, .fd-col-xs-11, .fd-col-sm-11, .fd-col-md-11, .fd-col-lg-11, .fd-col-xs-12, .fd-col-sm-12, .fd-col-md-12, .fd-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

// To keep width, offset consistent with newline we have defined the media ranges
@media (max-width: 479px) {
  .fd-xs-newline {
    clear: left;
  }
  .fd-col-xs-1, .fd-col-xs-2, .fd-col-xs-3, .fd-col-xs-4, .fd-col-xs-5, .fd-col-xs-6, .fd-col-xs-7, .fd-col-xs-8, .fd-col-xs-9, .fd-col-xs-10, .fd-col-xs-11, .fd-col-xs-12 {
    float: left;
  }
  .fd-col-xs-12 {
    width: 100%;
  }
  .fd-col-xs-11 {
    width: 91.66666667%;
  }
  .fd-col-xs-10 {
    width: 83.33333333%;
  }
  .fd-col-xs-9 {
    width: 75%;
  }
  .fd-col-xs-8 {
    width: 66.66666667%;
  }
  .fd-col-xs-7 {
    width: 58.33333333%;
  }
  .fd-col-xs-6 {
    width: 50%;
  }
  .fd-col-xs-5 {
    width: 41.66666667%;
  }
  .fd-col-xs-4 {
    width: 33.33333333%;
  }
  .fd-col-xs-3 {
    width: 25%;
  }
  .fd-col-xs-2 {
    width: 16.66666667%;
  }
  .fd-col-xs-1 {
    width: 8.33333333%;
  }
  .fd-col-xs-offset-12 {
    margin-left: 100%;
  }
  .fd-col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .fd-col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .fd-col-xs-offset-9 {
    margin-left: 75%;
  }
  .fd-col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .fd-col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .fd-col-xs-offset-6 {
    margin-left: 50%;
  }
  .fd-col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .fd-col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .fd-col-xs-offset-3 {
    margin-left: 25%;
  }
  .fd-col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .fd-col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .fd-col-xs-offset-0 {
    margin-left: 0%;
  }
}
// To keep width, offset consistent with newline we have defined the media ranges
@media (min-width: 480px) and (max-width: 767px) {
  .fd-sm-newline {
    clear: left;
  }
  .fd-col-sm-1, .fd-col-sm-2, .fd-col-sm-3, .fd-col-sm-4, .fd-col-sm-5, .fd-col-sm-6, .fd-col-sm-7, .fd-col-sm-8, .fd-col-sm-9, .fd-col-sm-10, .fd-col-sm-11, .fd-col-sm-12 {
    float: left;
  }
  .fd-col-sm-12 {
    width: 100%;
  }
  .fd-col-sm-11 {
    width: 91.66666667%;
  }
  .fd-col-sm-10 {
    width: 83.33333333%;
  }
  .fd-col-sm-9 {
    width: 75%;
  }
  .fd-col-sm-8 {
    width: 66.66666667%;
  }
  .fd-col-sm-7 {
    width: 58.33333333%;
  }
  .fd-col-sm-6 {
    width: 50%;
  }
  .fd-col-sm-5 {
    width: 41.66666667%;
  }
  .fd-col-sm-4 {
    width: 33.33333333%;
  }
  .fd-col-sm-3 {
    width: 25%;
  }
  .fd-col-sm-2 {
    width: 16.66666667%;
  }
  .fd-col-sm-1 {
    width: 8.33333333%;
  }
  .fd-col-sm-offset-12 {
    margin-left: 100%;
  }
  .fd-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .fd-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .fd-col-sm-offset-9 {
    margin-left: 75%;
  }
  .fd-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .fd-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .fd-col-sm-offset-6 {
    margin-left: 50%;
  }
  .fd-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .fd-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .fd-col-sm-offset-3 {
    margin-left: 25%;
  }
  .fd-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .fd-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .fd-col-sm-offset-0 {
    margin-left: 0%;
  }
}
// To keep width, offset consistent with newline we have defined the media ranges
@media (min-width: 768px) and (max-width: 991px) {
  .fd-md-newline {
    clear: left;
  }
  .fd-col-md-1, .fd-col-md-2, .fd-col-md-3, .fd-col-md-4, .fd-col-md-5, .fd-col-md-6, .fd-col-md-7, .fd-col-md-8, .fd-col-md-9, .fd-col-md-10, .fd-col-md-11, .fd-col-md-12 {
    float: left;
  }
  .fd-col-md-12 {
    width: 100%;
  }
  .fd-col-md-11 {
    width: 91.66666667%;
  }
  .fd-col-md-10 {
    width: 83.33333333%;
  }
  .fd-col-md-9 {
    width: 75%;
  }
  .fd-col-md-8 {
    width: 66.66666667%;
  }
  .fd-col-md-7 {
    width: 58.33333333%;
  }
  .fd-col-md-6 {
    width: 50%;
  }
  .fd-col-md-5 {
    width: 41.66666667%;
  }
  .fd-col-md-4 {
    width: 33.33333333%;
  }
  .fd-col-md-3 {
    width: 25%;
  }
  .fd-col-md-2 {
    width: 16.66666667%;
  }
  .fd-col-md-1 {
    width: 8.33333333%;
  }
  .fd-col-md-offset-12 {
    margin-left: 100%;
  }
  .fd-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .fd-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .fd-col-md-offset-9 {
    margin-left: 75%;
  }
  .fd-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .fd-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .fd-col-md-offset-6 {
    margin-left: 50%;
  }
  .fd-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .fd-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .fd-col-md-offset-3 {
    margin-left: 25%;
  }
  .fd-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .fd-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .fd-col-md-offset-0 {
    margin-left: 0%;
  }
}
// To keep width, offset consistent with newline we have defined the media ranges
@media (min-width: 992px) {
  .fd-lg-newline {
    clear: left;
  }
  .fd-col-lg-1, .fd-col-lg-2, .fd-col-lg-3, .fd-col-lg-4, .fd-col-lg-5, .fd-col-lg-6, .fd-col-lg-7, .fd-col-lg-8, .fd-col-lg-9, .fd-col-lg-10, .fd-col-lg-11, .fd-col-lg-12 {
    float: left;
  }
  .fd-col-lg-12 {
    width: 100%;
  }
  .fd-col-lg-11 {
    width: 91.66666667%;
  }
  .fd-col-lg-10 {
    width: 83.33333333%;
  }
  .fd-col-lg-9 {
    width: 75%;
  }
  .fd-col-lg-8 {
    width: 66.66666667%;
  }
  .fd-col-lg-7 {
    width: 58.33333333%;
  }
  .fd-col-lg-6 {
    width: 50%;
  }
  .fd-col-lg-5 {
    width: 41.66666667%;
  }
  .fd-col-lg-4 {
    width: 33.33333333%;
  }
  .fd-col-lg-3 {
    width: 25%;
  }
  .fd-col-lg-2 {
    width: 16.66666667%;
  }
  .fd-col-lg-1 {
    width: 8.33333333%;
  }
  .fd-col-lg-offset-12 {
    margin-left: 100%;
  }
  .fd-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .fd-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .fd-col-lg-offset-9 {
    margin-left: 75%;
  }
  .fd-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .fd-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .fd-col-lg-offset-6 {
    margin-left: 50%;
  }
  .fd-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .fd-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .fd-col-lg-offset-3 {
    margin-left: 25%;
  }
  .fd-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .fd-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .fd-col-lg-offset-0 {
    margin-left: 0%;
  }
}