<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.title, classAppend='cmp-email-subscribe-placeholder'}" />
<div class="cmp-email-subscribe">
    <div class="cmp-email-subscribe__eyebrow">${'foundation.emailEyebrow' @ i18n}</div>
    <div class="cmp-email-subscribe__container">
        <div class="cmp-email-subscribe__content">
            <p data-sly-test="${properties.title}" class="cmp-email-subscribe__title">
                ${properties.title}
            </p>
            <div data-sly-test="${properties.description}" class="cmp-email-subscribe__description">
                <p>${properties.description}</p>
            </div>
            <div data-sly-use.emailPreferenceModel="${'com.nyl.foundation.models.EmailPreferenceModel'}"
                class="cmp-email-subscribe__button">
                <form class="email-subscribe__form" data-subscribe-checkboxes="${emailPreferenceModel.preferenceJson}"
                    novalidate>
                    <div class="cmp-email-subscribe__checkbox-area">
                        <div class="cmp-email-subscribe__button--checkbox">
                            <input class="cmp-email-subscribe__button--checkbox-input" id="placeholder-input"
                                type="checkbox">
                            <label for="placeholder-input"></label>
                        </div>
                    </div>
                    <label for="email-subscribe-input-${identifier.id}"
                        class="cmp-email-subscribe__input--label d-none">${'foundation.emailLabel' @ i18n}</label>
                    <div data-sly-use.identifier="${'com.nyl.foundation.models.IdGeneratorModel'}"
                        class="cmp-email-subscribe__button--input-area">
                        <input class="cmp-email-subscribe__button--input" type="email"
                            id="email-subscribe-input-${identifier.id}"
                            data-subscribe-templateId="${properties.templateId}"
                            placeholder="${'foundation.emailPlaceholder' @ i18n}"
                            data-subscribe-preferenceCode="${emailPreferenceModel.code}" name="email-subscribe"
                            required>
                        <button class="cmp-email-subscribe__button--arrow" type="submit">
                            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-rightarrow--white.svg"
                                class="cmp-email-subscribe__button-icon-arrow" alt="">
                            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                                class="cmp-email-subscribe__button-icon-spinner"
                                alt="${'foundation.loadingAltText' @ i18n}">
                        </button>
                    </div>
                    <div class="cmp-email-subscribe__error-area">
                        <div class="cmp-email-subscribe__client-invalid cmp-email-subscribe__invalid">
                            ${'foundation.emailSubscribeClientError' @ i18n}
                        </div>
                        <div class="cmp-email-subscribe__server-invalid cmp-email-subscribe__invalid">
                            ${'foundation.emailSubscribeServerError' @ i18n}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="cmp-email-subscribe__success">
            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-check-filled-green.svg"
                class="cmp-email-subscribe__success--icon" alt="">
            <p>${'foundation.emailSubscribeThanks' @ i18n}</p>
        </div>
        <div data-sly-test="${properties.imagePath}" class="cmp-email-subscribe__image" data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel'
            @componentName='email-subscribe', imagePath=properties.imagePath, imageAltText=properties.imageAltText}">
            <sly data-sly-use.image="nyl-foundation/components/common/templates/image.html"
                data-sly-call="${image.pictureTemplate @ imageModel=imageModel,imgClass='mw-100'}"></sly>
        </div>
    </div>
</div>
