<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.linkText, classAppend='cmp-cta-banner-placeholder'}" />

<!--[if mso | IE]>
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
<![endif]-->

<sly data-sly-test="${properties.colorScheme == 'salmon'}">
    <sly data-sly-set.backgroundColor="#F6E8EC" />
    <sly data-sly-set.fontColor="#985570" />
</sly>

<sly data-sly-test="${properties.colorScheme == 'twilight'}">
    <sly data-sly-set.backgroundColor="#EBE7F2" />
    <sly data-sly-set.fontColor="#5C4C79" />
</sly>

<sly data-sly-test="${properties.colorScheme == 'dusk'}">
    <sly data-sly-set.backgroundColor="#E6E9F0" />
    <sly data-sly-set.fontColor="#424B6C" />
</sly>

<sly data-sly-test="${properties.colorScheme == 'rain'}">
    <sly data-sly-set.backgroundColor="#E0EDF3" />
    <sly data-sly-set.fontColor="#205F7C" />
</sly>

<sly data-sly-test="${properties.colorScheme == 'palm'}">
    <sly data-sly-set.backgroundColor="#EBF0EA" />
    <sly data-sly-set.fontColor="#466E5A" />
</sly>

<sly data-sly-test="${properties.colorScheme == 'gold'}">
    <sly data-sly-set.backgroundColor="#FBF0E7" />
    <sly data-sly-set.fontColor="#A76936" />
</sly>

<sly data-sly-test="${properties.colorScheme == 'sunset'}">
    <sly data-sly-set.backgroundColor="#F8E8E2" />
    <sly data-sly-set.fontColor="#745342" />
</sly>

<sly data-sly-test="${properties.colorScheme == 'quartz'}">
    <sly data-sly-set.backgroundColor="#E9E8E8" />
    <sly data-sly-set.fontColor="#0A3C53" />
</sly>

<div
    style="background:${backgroundColor @context='styleToken'};background-color:${backgroundColor @context='styleToken'};margin:0px auto;max-width:600px;">

    <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="background:${backgroundColor @context='styleToken'};background-color:${backgroundColor @context='styleToken'};width:100%;max-width:600px;">
        <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0px;text-align:center;">
                    <!--[if mso | IE]>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="" style="vertical-align:top;width:600px;">
                    <![endif]-->
                    <div class="mj-column-per-100 mj-outlook-group-fix"
                        style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="vertical-align:top;" width="100%">
                            <tr data-sly-test="${properties.description}">
                                <td align="center" style="font-size:0px;padding:10px 15px;word-break:break-word;">
                                    <div
                                        style="font-family:'effra', Tahoma, sans-serif;font-size:24px;font-style:normal;font-weight:500;letter-spacing:normal;line-height:1.33;text-align:center;color:${fontColor @ context='styleToken'};">
                                        ${properties.description}</div>
                                </td>
                            </tr>
                            <tr data-sly-test="${properties.linkText}">
                                <td align="center" vertical-align="middle"
                                    style="font-size:0px;padding:10px 15px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                        style="border-collapse:separate;line-height:100%;">

                                        <sly data-sly-use.buttonStyle="/apps/nyl-foundation/components/common/templates/button-style.html"
                                        data-sly-call="${buttonStyle.styleAttribute @ color = '#ffffff', backGroundColor='#0a3c53',border='none',styleType='primary',textPadding=textPadding}">
                                    </sly>
                                      
                                    <sly data-sly-use.buttonStyle="/apps/nyl-foundation/components/common/templates/button-style.html"
                                        data-sly-call="${buttonStyle.styleAttribute @ color = '#0a3c53', backGroundColor='#ffffff',border='4px solid #0a3c53',styleType='secondary',textPadding=textPadding}">
                                    </sly>
                                       
                                        <tr data-sly-test="${properties.linkText && properties.buttonStyle == 'text'}">
                                            <td align="left" vertical-align="middle"
                                                class="body__cta-btn body__cta-btn--secondary"
                                                style="font-size:0px;padding:${textPadding @ context='text'};word-break:break-word;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="border-collapse: separate; line-height: 100%;">
                                                    <tr>
                                                        <td align="center" role="presentation"
                                                            style="border: none; border-radius: 3px; cursor: auto; font-style: normal; mso-padding-alt: 0;"
                                                            valign="middle"><a href="${properties.linkUrl}"
                                                                title="${properties.linkTitle}"
                                                                style="display: inline-block;color: #171717; font-family: 'effra', sans-serif; font-size: 18px; font-style: normal; font-weight: bold; line-height: 1.5; margin: 0; text-decoration: none; text-transform: none; mso-padding-alt: 0px; border-radius: 3px;"
                                                                target="_blank"> <span class="body__cta-btn__text"
                                                                    style="font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.44; letter-spacing: normal; text-align: center; color: #171717;">${properties.linkText}
                                                                    &rarr;</span>
                                                            </a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                                </td>
                            </tr>
                        </table>
                    <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--[if mso | IE]>
            </td>
        </tr>
    </table>
<![endif]-->
