<div class="subscription-center-form aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-subscription-center-form">
        <form method="post" id="form24" name="SubscriptionCenter_Form_MAR2020"
            action="https://s2108552627.t.eloqua.com/e/f2" class="elq-form eloqua-subscription-center">
            <div class="layout container-fluid">
                <div class="row">
                    <input type="text" class="elq-item-input" name="C_EmailAddress" id="fe214" value="">
                </div>
                <div class="row">
                    <input type="Submit" class="submit-button-style " value="Subscribe" id="fe221" disabled="">
                </div>
            </div>
        </form>
    </div>
</div>
