<div class="cmp-go-partner-list">
    <ul class="d-flex flex-row row">
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image"
                    src="https://s.hdnux.com/photos/01/00/06/67/16805365/3/920x920.jpg"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Dennis Fitzgerald</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Amanda Murphy</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Jeremy Fields</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Gerald Fitzgerald</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Gerald Murphy</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Amanda Jack</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Jeremy John</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Gerald Jason</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>Jeremy Fitzgerald</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left">
                <a><img width="" height="" alt="image" src="https://via.placeholder.com/65x65?text=USER"></a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a>John Fields</a>
                </div>
                <p class="cmp-go-partner-list__partner--title">Associate Partner</p>
            </div>
        </li>
    </ul>
    <div class="cmp-go-partner-list__view-more text-center">
        <button type="button" class="nyl-button button--secondary" aria-label="View More">View More</button>
    </div>
</div>
