@mixin search-component-icons {
    .btn-open-search,
    .btn-close-search {
        display: block;
        width: 17px;
        height: 17px;
        margin: 0 auto;
        cursor: pointer;
    }
    .btn-open-search {
        background: url('../resources/images/icon-search--steel.svg') no-repeat center/contain;
    }
    .btn-close-search {
        background: url('../resources/images/icon-close--steel.svg') no-repeat center/contain;
    }
}

@mixin search-button {
    border-radius: 0;
    height: 100%;
    min-height: 100%;
    padding: 0;
    width: calcRem(60px);
    border: 0px;
    background: $white;
    margin: 0;

    &:hover,
    &:focus {
        background-color: $white;
    }
    .icon-search {
        margin-left: 0;
        display: none;
    }
}
@mixin search-placeholder-style {
    @include line-height(18px);
    @include font-size(14px);
    font-family: $font-family-alda;
    opacity: 0.65;
    font-style: italic;
}

@mixin search-input {
    border: 0px;
    border-right: none;
    border-radius: 0;
    padding: 10px 16px;
    width: 100%;
    height: calcRem(50px);
    color: $steel;
    font-family: $font-family-helvetica-neue;
    @include font-size(14px);
    @include line-height(18px);
    &:focus::-webkit-input-placeholder {
        color: transparent;
    }
    &:focus::-moz-placeholder {
        color: transparent;
    }
    &::placeholder {
        @include search-placeholder-style();
    }
    &::-ms-input-placeholder {
        @include search-placeholder-style();
    }
    &::-ms-clear {
        display: none;
    }
    @include media-breakpoint-down(sm) {
        @include font-size(16px);
    }
}
