.cmp-holdings-table {
    background: transparent;

    @include media-breakpoint-down(sm) {
        margin: 0 calcRem(-20px);
        padding: 0 calcRem(20px);
        overflow-x: auto;
    }

    &__product-name,
    &__as-of-date,
    &__holding-header th,
    &__holding td {
        color: $steel;
        font-family: $font-family-helvetica-neue;
    }

    &__product-name,
    &__holding td:first-child {
        font-weight: $font-weight-bold;
    }

    &__product-name {
        font-size: calcRem(14px);
        min-height: calcRem(20px);
        line-height: calcRem(20px);
        width: auto;
    }

    &__as-of-date {
        display: block;
        font-size: calcRem(14px);
        min-height: calcRem(18px);
        line-height: calcRem(18px);
        margin: calcRem(21px) 0 calcRem(12px);
        width: auto;

        @include media-breakpoint-down(sm) {
            margin-top: calcRem(15px);
            margin-bottom: calcRem(0px);
        }
    }

    &__dropdown-container {
        display: none;
    }
    @include media-breakpoint-up(md) {
        &__dropdown-container {
            padding: 0;
        }
        &__filter {
            width: 148px;
            margin-right: calcRem(4px);
            padding-left: 0;
            padding-right: 0;
        }
    }
    @include media-breakpoint-down(sm) {
        &__filter {
            display: inline-block;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__weighted {
        padding-left: calcRem(15px);
        margin-bottom: calcRem(-5px);
        @include font-size(14px);
        @include line-height(24px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(26px);
        }
    }
    &__as-of-label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        @include font-size(14px);
        @include line-height(24px);
        @include media-breakpoint-down(sm) {
            display: inline-block;
        }
    }
    &__filter {
        &:hover {
            cursor: pointer;
        }
    }

    &__wrapper {
        display: flex;
        margin-bottom: calcRem(32px);
        align-items: flex-end;
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(18px);
            margin-bottom: calcRem(9px);
        }
    }
    &__dropdown-text::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: calcRem(25px);
        right: calcRem(13px);
        margin-top: -2px;
        border-color: $steel transparent;
        border-style: solid;
        border-width: 5.83px 5.25px 0;
    }
    &__dropdown-text.active::after {
        border-color: $steel transparent;
        border-width: 0 6px 6px;
        margin-top: -2px;
    }
    &__list-dropdown {
        list-style: none;
        padding-left: 0;
        border: 1px solid $light-rain-2;
        display: none;
        position: absolute;
        width: calcRem(148px);
        z-index: 4;
        background: $white;
    }
    &__dropdown-item {
        background: $white;
        padding-left: calcRem(24px);
        height: calcRem(48px);
        display: flex;
        align-items: center;
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: normal;
        color: $steel;
        &:hover {
            background: $rain-tint;
            cursor: pointer;
        }
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(28px);
        }
    }
    &__dropdown {
        background: $white;
        width: calcRem(148px);
        height: 50px;
        margin-left: 7px;
    }
    &__dropdown-text {
        height: calcRem(50px);
        position: relative;
        display: flex;
        align-items: center;
        max-width: 100%;
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        color: $steel;
        padding-left: calcRem(16px);
    }

    &__holdings {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(25px);
        }
    }
    &__table-parent-div {
        overflow-x: auto;
    }

    &__left-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            opacity: 0.33;
            position: absolute;
            display: block;
            width: calcRem(11px);
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            height: 100vh;
            right: 0px;
            top: 0;

            &:first-child {
                height: 86px;
            }
        }
    }

    &__right-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            opacity: 0.33;
            position: absolute;
            display: block;
            width: calcRem(30px);
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(20px);
            margin-top: calcRem(25px);
        }
    }
    th:first-child,
    td:first-child {
        @include media-breakpoint-down(md) {
            position: sticky !important;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    &--ETFIndex {
        .cmp-holdings-table__product-name {
            font-size: calcRem(16px);
            line-height: calcRem(24px);
        }
        .cmp-holdings-table__as-of-date {
            font-size: calcRem(14px);
            line-height: calcRem(24px);
            @include media-breakpoint-down(sm) {
                font-size: calcRem(12px);
                line-height: calcRem(18px);
            }
        }
    }
    &__removeTop {
        top: 0 !important;
    }
    &__holding-header {
        th {
            height: calcRem(86px);
            top: 0;
            background: $steel;
            color: $white;
            font-size: calcRem(14px);
            font-weight: $font-weight-regular;
            line-height: calcRem(15px);
            padding: 0;
            position: sticky;
            z-index: 2;
            @include sticky-position;

            &:first-child {
                padding-left: calcRem(22px);
                z-index: 3;
            }

            @include media-breakpoint-down(sm) {
                font-size: calcRem(13px);
                position: relative;
            }
        }
    }

    &__holding {
        td {
            font-size: calcRem(14px);
            height: calcRem(78px);
            line-height: calcRem(16px);
            padding: calcRem(26px) 0 calcRem(22px);
            -ms-overflow-style: none;
            overflow-y: auto;

            &:first-child {
                font-size: calcRem(12px);
                line-height: calcRem(15px);
                padding-left: calcRem(22px);
                position: relative;
                z-index: 1;
            }
        }

        &:nth-child(odd) {
            td {
                background: $white;
            }
        }

        &:nth-child(even) {
            background: $light-steel-3;

            td {
                background: $light-steel-3;
            }
        }

        &-name {
            display: inline-block;
        }

        @media (hover: hover), (-ms-high-contrast: none) {
            &:hover td {
                background: $rain-tint;
            }
        }
    }

    &__MFVpCEF {
        @include media-breakpoint-down(sm) {
            colgroup {
                col:first-child {
                    width: 33.3333% !important;
                }

                col:not(:first-child) {
                    width: 16.6667%;
                }
            }
        }

        .cmp-holdings-table__holdings--col-5 {
            col:first-child {
                width: 41.6667%;
            }

            col:not(:first-child) {
                width: 14.5833%;
            }

            ~ tbody .cmp-holdings-table__holding-name {
                max-width: 90%;
            }
        }

        .cmp-holdings-table__holdings--col-4 {
            col:first-child {
                width: 58.3333%;
            }

            col:not(:first-child) {
                width: 13.8889%;
            }

            ~ tbody .cmp-holdings-table__holding-name {
                max-width: 85.7143%;
            }
        }

        .cmp-holdings-table__holdings--col-3 {
            col:first-child {
                width: 66.6667%;
            }

            col:not(:first-child) {
                width: 16.6667%;
            }

            ~ tbody .cmp-holdings-table__holding-name {
                max-width: 75%;
            }
        }
        .cmp-holdings-table__holdings--col-2 {
            col:first-child {
                width: 66.6667%;
            }

            col:not(:first-child) {
                width: 33.3333%;
            }

            ~ tbody .cmp-holdings-table__holding-name {
                max-width: 75%;
            }
        }

        .cmp-holdings-table {
            &__issuer {
                min-width: 286px;
                max-width: 286px;
                &--cell {
                    min-width: 286px;
                    max-width: 286px;
                }
            }
            &__investmentCategory {
                min-width: 195px;
                max-width: 195px;
                &--cell {
                    min-width: 195px;
                    max-width: 195px;
                }
            }
            &__cusip {
                min-width: 106px;
                max-width: 106px;
                padding-left: 30px !important;
                &--cell {
                    min-width: 106px;
                    max-width: 106px;
                    padding-left: 30px !important;
                }
            }
            &__principalAmount {
                max-width: 114px;
                min-width: 114px;
                &--cell {
                    min-width: 114px;
                    max-width: 114px;
                }
            }
            &__effectiveMaturityDate {
                max-width: 81px;
                min-width: 81px;
                &--cell {
                    min-width: 81px;
                    max-width: 81px;
                }
            }
            &__finalMaturityDate {
                min-width: 81px;
                max-width: 81px;
                &--cell {
                    min-width: 81px;
                    max-width: 81px;
                }
            }
            &__couponRateYield {
                max-width: 104px;
                min-width: 104px;
                padding-right: 5px;
                &--cell {
                    max-width: 104px;
                    min-width: 104px;
                }
            }
            &__marketValue {
                min-width: 143px;
                max-width: 143px;
                padding-left: 12px !important;
                padding-right: 13px;
                &--cell {
                    min-width: 143px;
                    max-width: 143px;
                    padding-left: 12px !important;
                    padding-right: 13px;
                }
            }
        }
        .cmp-holdings-table__holding-header:not(:first-child),
        .cmp-holdings-table__holding:not(:first-child) {
            padding-left: 28px;
        }
    }

    .money-market-fund-table {
        td,
        th {
            @include font-size(13px);
            &:not(:first-child) {
                padding-left: calcRem(28px);
            }
        }
        td:not(:first-child) {
            line-height: 18px;
        }
        .cmp-holdings-table {
            &__holding-name {
                @include font-size(13px);
                font-weight: normal;
                line-height: normal;
            }
        }
    }
    tbody {
        td:first-child {
            @include media-breakpoint-down(sm) {
                overflow-y: hidden;
            }
        }
    }

    &__ETFIndex {
        th {
            font-size: calcRem(13px);
            word-spacing: 9999999px;
        }
        .cmp-holdings-table__holding {
            td {
                line-height: calcRem(18px);
                font-size: calcRem(13px);
                &:first-child {
                    line-height: calcRem(15px);
                    font-size: calcRem(12px);
                }
            }
        }
        @include media-breakpoint-down(md) {
            th {
                font-size: calcRem(13px);
                line-height: calcRem(14px);
                word-spacing: 9999999px;
            }
            th:first-child {
                padding-left: calcRem(15px);
                min-width: calcRem(80px);
            }
            tbody {
                td {
                    font-size: calcRem(13px);
                }
                td:first-child {
                    padding-left: calcRem(15px);
                    min-width: calcRem(80px);
                }
            }
        }
        .cmp-holdings-table {
            &__ticker {
                min-width: 77px;
                padding-left: 12px;
                &--cell {
                    min-width: 77px;
                    padding-left: 12px;
                    padding-right: 4px;
                    @include media-breakpoint-down(sm) {
                        padding-right: 10px;
                    }
                }
            }
            &__isin {
                min-width: 99px;
                &--cell {
                    min-width: 99px;
                }
            }
            &__sedol {
                min-width: 70px;
                padding-left: 6px;
                &--cell {
                    min-width: 70px;
                    padding-left: 6px;
                }
            }
            &__cusip {
                width: 84px;
                padding-left: 10px;
                &--cell {
                    width: 84px;
                    padding-left: 10px;
                }
            }
            &__securityDescription {
                width: 133px;
                padding-left: 3px;
                &--cell {
                    min-width: 133px;
                    padding-left: 3px;
                }
            }
            &__assetGroup {
                width: 94px;
                padding-left: 6px;
                &--cell {
                    min-width: 94px;
                    padding-left: 6px;
                }
            }
            &__tradingCurrency {
                min-width: 71px;
                padding-right: 10px;
                &--cell {
                    min-width: 71px;
                    padding-right: 10px;
                }
            }
            &__sharesPar {
                max-width: 58px;
                padding-left: 5px;
                padding-right: 2px;
                overflow-wrap: break-word;
                @include ie11only {
                    word-wrap: break-word;
                }
                &--cell {
                    max-width: 58px;
                    padding-left: 5px;
                }
            }
            &__maturityDate {
                width: 91px;
                padding-left: 11px;
                &--cell {
                    width: 91px;
                    padding-left: 11px;
                }
            }
            &__couponRate {
                width: 58px;
                &--cell {
                    width: 58px;
                }
            }
            &__issueDate {
                width: 77px;
                padding-left: 1px;
                &--cell {
                    width: 77px;
                    padding-left: 1px;
                }
            }
            &__marketValue {
                width: 73px;
                padding-left: 3px;
                &--cell {
                    width: 73px;
                    padding-left: 3px;
                }
            }
            &__notionalValue {
                width: 72px;
                padding-right: 3px;
                &--cell {
                    width: 72px;
                    padding-right: 3px;
                }
            }
            &__percentOfNetAssets {
                width: 54px;
                padding-left: 3px;
                padding-right: 3px;
                word-spacing: unset;
                @include ie11only {
                    word-spacing: 0px;
                }
                &--cell {
                    width: 54px;
                    padding-left: 3px;
                    padding-right: 3px;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        &__ETFIndex {
            .cmp-holdings-table {
                &__isin {
                    min-width: 109px;
                    &--cell {
                        min-width: 109px;
                    }
                }
                &__sedol {
                    min-width: 80px;
                    &--cell {
                        min-width: 80px;
                    }
                }
                &__cusip {
                    min-width: 94px;
                    &--cell {
                        min-width: 94px;
                    }
                }
                &__securityDescription {
                    width: 143px;
                    &--cell {
                        min-width: 143px;
                    }
                }
                &__assetGroup {
                    width: 104px;
                    &--cell {
                        min-width: 104px;
                    }
                }
                &__tradingCurrency {
                    min-width: 81px;
                    &--cell {
                        min-width: 81px;
                    }
                }
                &__sharesPar {
                    max-width: 68px;
                    padding-right: 12px;
                    &--cell {
                        max-width: 68px;
                    }
                }
                &__maturityDate {
                    min-width: 101px;
                    &--cell {
                        min-width: 101px;
                    }
                }
                &__couponRate {
                    min-width: 68px;
                    &--cell {
                        min-width: 68px;
                    }
                }
                &__issueDate {
                    min-width: 87px;
                    &--cell {
                        min-width: 87px;
                    }
                }
                &__marketValue {
                    min-width: 83px;
                    &--cell {
                        min-width: 83px;
                    }
                }
                &__notionalValue {
                    min-width: 82px;
                    &--cell {
                        min-width: 82px;
                    }
                }
                &__percentOfNetAssets {
                    min-width: 64px;
                    padding-right: 10px;
                    &--cell {
                        min-width: 64px;
                    }
                }
            }
        }
    }

    &--money-market {
        .cmp-holdings-table {
            &__dropdown-container {
                padding-right: calcRem(15px);
                justify-content: flex-end;
                @include media-breakpoint-down(sm) {
                    display: block !important;
                }
            }
            &__product-name {
                margin-top: calcRem(58px);
                @include font-size(16px);
                @include line-height(24px);
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(13px);
                }
            }
            &__as-of-date {
                @include font-size(14px);
                @include line-height(24px);
                margin: calcRem(18px) 0 calcRem(16px);
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(21px);
                    @include font-size(12px);
                    margin-bottom: calcRem(18px);
                    @include line-height(18px);
                }
            }
            th:first-child,
            td:first-child {
                padding-left: calcRem(18px);
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .cmp-color-container__container {
        .cmp-holdings-table {
            &--money-market,
            &--ETFIndex {
                .cmp-holdings-table__product-name {
                    padding-left: calcRem(20px);
                }
                .cmp-holdings-table__as-of-date {
                    padding-left: calcRem(20px);
                }
                .cmp-holdings-table__wrapper {
                    padding-left: calcRem(20px);
                }
            }
            &__right-gradient {
                right: calcRem(0px);
            }
        }
    }
}

.holdings-table {
    @include media-breakpoint-down(sm) {
        overflow-x: hidden;
    }
}

.cmp-holdings-table--hidden {
    display: none;
}
