.cmp-average-returns {
    background-color: transparent;
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(0px) !important;
    @extend %full-width;
    &__avg-annual-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        @include line-height(17px);
        text-transform: uppercase;
    }
    &__as-of-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(13px);
    }
    &__toggle-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        text-align: right;
        @include media-breakpoint-down(sm) {
            padding-right: calcRem(0px);
        }
        .monthly {
            cursor: pointer;
        }
        .quarterly {
            cursor: pointer;
        }
        &--qtr-text {
            padding-right: calcRem(20px);
        }
        &--separator {
            padding-right: calcRem(20px);
        }
    }
    &__selected {
        font-weight: $font-weight-bold;
    }
    &__avg-returns-table {
        min-width: calcRem(1110px);
        border-spacing: 0px 2px;
        border-collapse: separate;
        padding-bottom: calcRem(32px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(20px);
        }
    }
    &__avg-returns-table tr:first-child {
        height: calcRem(48px);
        background: $medium-palm;
    }
    &__avg-returns-table tr th:first-child {
        width: 25%;
        padding-left: calcRem(23px);
        text-align: left;
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__table-caption {
        padding-bottom: calcRem(0px);
        padding-top: calcRem(0px);
    }
    &__avg-returns-table tr th:last-child {
        padding-right: calcRem(24px);
    }
    &__avg-returns-table th {
        width: 10.71%;
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        text-align: right;
    }
    &__avg-returns-table tr:not(:first-child) {
        background: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        height: calcRem(74px);
        margin-bottom: calcRem(2px);
        &:hover {
            background: $rain-tint;
        }
    }
    &__avg-returns-table tr:not(:first-child) td:first-child {
        padding-left: calcRem(23px);
        text-align: left;
    }
    &__avg-returns-table tr:not(:first-child) td:last-child {
        padding-right: calcRem(24px);
    }
    &__avg-returns-table tr:not(:first-child) td {
        text-align: right;
    }

    &__avg-returns-table-wrapper {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__left {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    &__right {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: calcRem(0px);
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
        }
    }
    .container {
        @include media-breakpoint-down(md) {
            max-width: none;
        }
    }
    &__main-heading {
        padding-top: calcRem(72px);
        padding-bottom: calcRem(24px);
        display: flex;
        align-items: center;
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
            padding-bottom: calcRem(12px);
            padding-top: calcRem(40px);
            padding-right: calcRem(20px) !important;
        }
    }
    &__first-heading {
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(24px);
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__avg-returns-table-parent-div {
        overflow-x: auto;
    }
}

.cmp-average-returns--light-gray {
    .cmp-average-returns {
        background: $white;
    }
    tr:not(:first-child) {
        background: $light-steel-3;
    }
}
