<div class="social-share">
    <div class="cmp-social-share">
        <p class="h4">Share</p>
        <ul>
            <li><a href="/sharer/sharer.php?u=" target="_blank" class="cmp-social-share__button --facebook"> <img
                        src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/facebook-light.png"
                        alt="Facebook" height="50" width="50">
                </a></li>
            <li><a href="/shareArticle?mini=true&amp;url=" target="_blank" class="cmp-social-share__button --linkedin">
                    <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/linkedin-light.png"
                        alt="LinkedIn" height="50" width="50">
                </a></li>
            <li><a href="/intent/tweet?&amp;url=&amp;text=" target="_blank" class="cmp-social-share__button --twitter">
                    <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/twitter-light.png"
                        alt="Twitter" height="50" width="50">
                </a></li>
            <li><a href="
                    mailto:" target="_blank" class="cmp-social-share__button --email"> <img
                        src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/email-light.png" alt="Email"
                        height="50" width="50">
                </a></li>
            <li><a href="
                    /" class="cmp-social-share__button --copy"> <img
                        src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/share-light.png"
                        alt="Copy to clipboard" height="50" width="50">
                </a></li>
        </ul>
        <div class="cmp-social-share__clipboard-message">Copied to clipboard</div>
    </div>
</div>