<div class="cmp-social-share" data-twitter-handle="Annuities" data-email-body="Annuities">
    <p class="h4">Share</p>
    <a href="#" class="cmp-social-share__button--share" title="Click to share the page">
        <i class="cmp-social-share__icon--share" aria-hidden="true"></i>
    </a>
    <div class="cmp-=cmp-social-share__button-drawer">
        <ul>
            <li>
                <a href="#" target="_blank" class="cmp-social-share__button --facebook" title="Facebook">
                    <i class="cmp-social-share__icon--facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="cmp-social-share__button --linkedin" title="LinkedIn">
                    <i class="cmp-social-share__icon--linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="cmp-social-share__button --twitter" title="Twitter">
                    <i class="cmp-social-share__icon--twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="cmp-social-share__button --email" title="Email">
                    <i class="cmp-social-share__icon--email" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
