<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty =!(properties.allAssetClassesText && properties.allStrategiesText), classAppend='cmp-insights-placeholder'}"
    data-sly-use.requestAttributeModel="${'com.nyl.foundation.models.RequestAttributeModel' @setComponentName='video'}"
    data-sly-use.tagsModel="${'com.nyl.foundation.models.TagsModel' @tags=properties.topicTags}" />

<div class="cmp-insights" data-sly-test="${properties.allAssetClassesText && properties.allStrategiesText}"
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='data-feed',
     imagePath=properties.defaultThumbnailImagePath,  imageAltText=properties.defaultThumbnailImageAltText}"
    data-default-image-xs="${imageModel.renditions['xsmall'].imageUrl}" data-default-image-s="${imageModel.renditions['small'].imageUrl}"
    data-default-image-m="${imageModel.renditions['medium'].imageUrl}" data-default-image-l="${imageModel.renditions['large'].imageUrl}"
    data-default-image-xl="${imageModel.renditions['xlarge'].imageUrl}" data-default-image-alt-text="${imageModel.altText}"
    data-sly-use.mediaPlayerModel="${'com.nyl.foundation.models.MediaPlayerModel'}"
    data-default-accountId="${mediaPlayerModel.mediaPlayer.accountId}"
    data-default-playerId="${mediaPlayerModel.mediaPlayer.singlePlayerId}">
    <div class="cmp-insights__header">
        <span class="cmp-insights__title" data-sly-test="${properties.title}">${properties.title}</span>
        <div class="cmp-insights__dropdowns">
            <div class="cmp-custom-dropdown-container">
                <select class="cmp-insights__assets-dropdown cmp-insights__dropdown"
                    aria-label="${'nylim.assetClass' @i18n}">
                    <option value="selected"></option>
                    <option value="${properties.allAssetClassesText}" selected>${properties.allAssetClassesText}
                    </option>
                </select>
            </div>
            <div class="cmp-custom-dropdown-container">
                <select class="cmp-insights__strategies-dropdown cmp-insights__dropdown"
                    aria-label="${'nylim.strategies' @i18n}">
                    <option value="selected"></option>
                    <option value="${properties.allStrategiesText}" selected>${properties.allStrategiesText}</option>
                </select>
            </div>
        </div>
        <div class="cmp-insights__tabs-container">
            <ul class="cmp-insights__tabs">
                <li class="cmp-insights__tab cmp-insights__tab--default cmp-insights__tab--active">
                    ${properties.latestText}
                </li>
                <sly data-sly-test="${tagsModel.tagTitles}" data-sly-list.topicTag="${tagsModel.tagTitles}">
                    <li class="cmp-insights__tab">${topicTag}</li>
                </sly>
            </ul>
            <div class="cmp-insights__tabs-shade--left"></div>
            <div class="cmp-insights__tabs-shade--right"></div>
        </div>
    </div>
    <div class="cmp-insights__contents"></div>
    <div class="cmp-insights__loading-state">${'nylim.finderLoadingMessage' @i18n}</div>
    <div class="cmp-insights__no-result-state">${'nylim.noResultsFoundMessage' @i18n}</div>
    <div class="cmp-insights__error-state">${'nylim.dataNotAvailableMessage' @i18n}</div>
    <a class="cmp-insights__load-more">
        <span class="nyl-button">${'nylim.loadMore' @i18n}</span>
    </a>
</div>
