<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.linkList="com.nyl.foundation.models.LinkListModel"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-footer-placeholder'}" />

<div style>
    <!--[if mso | IE]>
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
            <tr>
                <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->

    <div style="background:#f5f5f5;background-color:#f5f5f5;margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
            style="background:#f5f5f5;background-color:#f5f5f5;width:100%;">
            <tbody>
                <tr>
                    <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                        <!--[if mso | IE]>
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="" style="vertical-align:top;width:600px;">
                        <![endif]-->

                        <div class="mj-column-per-100 mj-outlook-group-fix"
                            style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

                            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="vertical-align:top;" width="100%">

                                <tr>
                                    <td align="center" style="font-size:0px;padding:0 15px;word-break:break-word;">
                                        <div
                                            style="font-family:'effra', Tahoma, sans-serif;font-size:16px;line-height:1.25;text-align:center;color:#666666;">
                                            <h1 class="footer-title"
                                                style="font-size: 16px; line-height: 1.5; font-weight: bold; color: #171717; margin: 0; padding: 10px 0;"
                                                data-sly-test="${properties.title}">${properties.title}</h1>
                                            <sly data-sly-test="${properties.description}">
                                                ${properties.description @ context='html'}</sly>
                                            <sly data-sly-list.link="${linkList.links}">
                                                <p data-sly-test="${link.text}">
                                                    <a class="hyperlink" title="${link.title}" href="${link.url}"
                                                        style="color: #666666; text-decoration: underline">${link.text}</a>
                                                </p>
                                            </sly>
                                            <p>
                                                <a class="hyperlink" title=${properties.viewInBrowserLinkTitle}
                                                    href="<%@ include view='${properties.viewInBrowserEmailType}' %>"
                                                    style="color: #666666; text-decoration: underline"
                                                    data-sly-test="${properties.viewInBrowserLinkText}">${properties.viewInBrowserLinkText}</a>
                                                <span class="dot-spacer"
                                                    style="display: block; visibility: hidden; height: 20px;"
                                                    data-sly-test="${properties.viewInBrowserLinkText && properties.unsubscribeLinkText}">&nbsp;
                                                    &bull; &nbsp;</span>
                                                <a class="hyperlink" title="${properties.unsubscribeLinkTitle}"
                                                    href="<%@ include view='${properties.unsubscribeEmailType}' %>"
                                                    style="color: #666666; text-decoration: underline"
                                                    data-sly-test="${properties.unsubscribeLinkText}">${properties.unsubscribeLinkText}</a>
                                            </p>
                                            <sly data-sly-test="${properties.copyright}">
                                                ${properties.copyright @ context='html'}
                                            </sly>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!--[if mso | IE]>
                                    </td>
                                </tr>
                            </table>
                        <![endif]-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]>
                </td>
            </tr>
        </table>
    <![endif]-->
</div>
