.cmp-card-container {
    // AEM might insert decorator div with classname=card
    // use this block to override any css leaks from bootstrap card class
    .card {
        border: none;
        flex-direction: row;
        background: white;
    }
    &__flex-container {
        > div {
            margin-bottom: calcRem(15px);
            margin-top: calcRem(15px);
            width: 100%;
        }
    }
    @include media-breakpoint-up(md) {
        .cmp-card-container__flex-container {
            > div {
                display: flex;
                &:first-child:nth-last-child(n + 2),
                &:first-child:nth-last-child(n + 2) ~ div {
                    max-width: 32%;
                    min-width: 32%;
                }
            }
        }
    }
    .cmp-card {
        border-style: solid;
        border-radius: 4px;
        padding: 2.2rem;

        > * {
            text-align: center;
            align-self: center;
        }

        &__feature-link {
            display: none;
        }

        &__image--non-feature {
            width: 100%;
            height: 100px;
            max-height: 100px;
        }

        &__image-wrapper {
            display: none;
        }

        &__eyebrow,
        &__feature-card-column {
            display: none;
        }
    }

    &--utility-left {
        .cmp-card-container {
            .cmp-card {
                &__link {
                    margin: auto 0 0;
                }
                &__image--non-feature svg {
                    width: unset;
                    @include ie11only {
                        width: auto;
                        max-height: 100px;
                    }
                }
            }
            .cmp-card > * {
                text-align: left;
                align-self: left;
            }
        }
    }

    &--product {
        .cmp-card {
            border: none;
            padding: calcRem(40px) calcRem(15px);
            @include media-breakpoint-up(sm) {
                padding: calcRem(40px);
            }

            > * {
                text-align: left;
                align-self: start;
            }

            &__link {
                margin: auto 0 0;
            }
            &__feature-link {
                display: none;
            }

            &__image--non-feature {
                width: 50%;
                height: 100px;
            }

            &__image-wrapper {
                display: none;
            }

            &__eyebrow,
            &__feature-card-column {
                display: none;
            }

            &--salmon {
                .cmp-card__image--non-feature svg g path {
                    fill: $dark-salmon;
                }
            }

            &--twilight {
                .cmp-card__image--non-feature svg g path {
                    fill: $dark-twilight;
                }
            }

            &--dusk {
                .cmp-card__image--non-feature svg g path {
                    fill: $dark-dusk;
                }
            }

            &--rain {
                .cmp-card__image--non-feature svg g path {
                    fill: $dark-rain;
                }
            }

            &--palm {
                .cmp-card__image--non-feature svg g path {
                    fill: $dark-palm;
                }
            }

            &--gold {
                .cmp-card__image--non-feature svg g path {
                    fill: $dark-gold;
                }
            }

            &--sunset {
                .cmp-card__image--non-feature svg g path {
                    fill: $dark-sunset;
                }
            }

            &--quartz {
                .cmp-card__image--non-feature svg g path {
                    fill: $dark-quartz;
                }
            }
        }
    }

    &--feature {
        .card {
            background: transparent;
        }
        .cmp-card {
            border: none;
            padding: 0;

            > * {
                text-align: left;
                align-self: start;
            }
            &__image {
                display: block;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                &--non-feature {
                    display: none;
                }
            }

            &__image-wrapper {
                display: block;
                height: 100%;
                overflow: hidden;
                background: white;
                position: relative;
                width: 100%;
                a { display: block; }
            }

            p:first-of-type {
                color: black;
            }

            &__link {
                display: none;
            }

            &__feature-link {
                display: block;
            }

            &__feature-card-column {
                display: block;
                flex: none;
                padding: 0;
                @include media-breakpoint-down(sm) {
                    order: 1;
                    max-width: 100%;
                }
            }
        }
    }

    &--eyebrow-on {
        .cmp-card__eyebrow {
            display: block;
        }
    }

    &--image-off {
        .cmp-card__feature-card-column,
        .cmp-card__image--non-feature {
            display: none;
        }
    }

    @include media-breakpoint-up(md) {
        // 1 col, 2 col & 4 col overrides
        &--1col {
            .cmp-card-container__flex-container {
                > div {
                    display: flex;
                    &:first-child:nth-last-child(n + 2),
                    &:first-child:nth-last-child(n + 2) ~ div {
                        max-width: 100%;
                        min-width: 100%;
                    }
                }
            }
        }
        &--2col {
            .cmp-card-container__flex-container {
                > div {
                    display: flex;
                    &:first-child:nth-last-child(n + 2),
                    &:first-child:nth-last-child(n + 2) ~ div {
                        max-width: 48.685%;
                        min-width: 48.685%;
                    }
                }
            }
        }

        &--4col {
            .cmp-card-container__flex-container {
                > div {
                    display: flex;
                    &:first-child:nth-last-child(n + 2),
                    &:first-child:nth-last-child(n + 2) ~ div {
                        max-width: 24%;
                        min-width: 24%;
                    }
                }
            }
            .cmp-card {
                padding: calcRem(40px) calcRem(15px);
            }
        }
    }
}
