.cmp-teams-filter {
    .card {
        border-radius: 0px;
        width: 100%;
    }
    &__dropdown::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: calcRem(25px);
        right: calcRem(13px);
        margin-top: -2px;
        border-color: $steel transparent;
        border-style: solid;
        border-width: 5.83px 5.25px 0;
    }
    &__dropdown.active::after {
        border-color: $steel transparent;
        border-width: 0 6px 6px;
        margin-top: -2px;
    }
    &__list-dropdown {
        list-style: none;
        padding-left: 0;
        border: 1px solid $light-rain-2;
        display: none;
        position: absolute;
        width: 100%;
        z-index: 1;
        background: $white;
    }
    &__dropdown-item {
        background: $white;
        padding-left: calcRem(24px);
        height: calcRem(48px);
        display: flex;
        align-items: center;
        font-size: calcRem(16px);
        line-height: calcRem(24px);
        font-family: $font-family-helvetica-neue;
        font-weight: 400;
        color: $steel;
        &:hover {
            background: $rain-tint;
            cursor: pointer;
        }
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(28px);
        }
    }
    &__dropdown {
        background: $light-steel-3;
    }
    &__dropdown-text {
        height: calcRem(50px);
        display: flex;
        align-items: center;
        max-width: 90%;
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        color: $steel;
        padding-left: calcRem(16px);
    }
    &__boutique-text {
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        color: $steel;
    }
    &__boutiques-dd,
    &__strategies-dd {
        &:hover {
            cursor: pointer;
        }
    }
    &__image {
        margin-bottom: calcRem(20px);
        width: 100%;
        @include media-breakpoint-up(lg) {
            max-height: calcRem(255px);
        }
        @include media-breakpoint-down(md) {
            max-height: calcRem(218px);
        }
        @include media-breakpoint-down(sm) {
            max-height: calcRem(349px);
            margin-bottom: calcRem(12px);
        }
        @include media-breakpoint-down(xs) {
            max-height: calcRem(253px);
        }
    }
    &__name {
        font-family: $font-family-alda;
    }
    &__fund-manager,
    &__industry-experience {
        font-family: $font-family-helvetica-neue;
    }
    &__title {
        font-family: $font-family-helvetica-neue;
        & span:not(:first-child)::before {
            content: ', ';
        }
    }
    @include media-breakpoint-up(md) {
        &__container {
            .card {
                margin-bottom: calcRem(48px);
                .clickable-bio:hover {
                    text-decoration: underline;
                }
            }
        }
        &__boutique-text {
            @include font-size(13px);
            @include line-height(16px);
        }
        &__name {
            @include font-size(22px);
            @include line-height(22px);
            margin-bottom: calcRem(17px);
        }
        &__title {
            @include font-size(14px);
            @include line-height(18px);
            margin-bottom: calcRem(17px);
        }
        &__fund-manager {
            @include font-size(14px);
            @include line-height(18px);
            margin-bottom: calcRem(14px);
        }
        &__industry-experience {
            @include font-size(14px);
            @include line-height(18px);
            margin-bottom: calcRem(0px);
        }
        &__dropdown-container {
            display: inline-flex;
            margin-bottom: calcRem(40px);
            padding-right: calcRem(7px);
        }
        &__strategies-dd {
            padding-right: calcRem(0px);
            margin-left: calcRem(4px);
            padding-left: calcRem(0px);
        }
        &__boutiques-dd {
            margin-right: calcRem(4px);
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    @include media-breakpoint-down(sm) {
        &__open-icon {
            top: calcRem(2px);
        }
        .card {
            margin-bottom: calcRem(29px);
        }
        &__dropdown-container {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
        &__strategies-dd {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
            margin-bottom: calcRem(40px);
        }
        &__boutiques-dd {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
            margin-bottom: calcRem(10px);
        }
        &__boutique-text {
            @include font-size(14px);
            @include line-height(19px);
        }
        &__name {
            @include font-size(16px);
            @include line-height(19px);
            margin-bottom: calcRem(11px);
        }
        &__title {
            @include font-size(14px);
            @include line-height(19px);
            margin-bottom: calcRem(19px);
        }
        &__fund-manager {
            @include font-size(12px);
            @include line-height(14px);
            letter-spacing: 0.17px;
            margin-bottom: calcRem(12px);
        }
        &__industry-experience {
            @include font-size(12px);
            @include line-height(14px);
            letter-spacing: 0.17px;
            margin-bottom: calcRem(0px);
        }
        &__container {
            .card {
                .clickable-bio {
                    text-decoration: underline;
                }
            }
        }
    }
    &-style-hide {
        .cmp-teams-filter {
            &__fund-manager,
            &__industry-experience {
                display: none;
            }
        }
    }
    .card-none {
        display: none !important;
    }
    .disable {
        pointer-events: none;
        opacity: 0.2;
    }
    .selected {
        background: $light-steel-3;
    }
    &__boutique-anchor-text {
        display: block;
    }
    &__open-icon {
        content: '';
        width: calcRem(15px);
        height: calcRem(15px);
        margin-left: calcRem(4px);
        position: relative;
        display: inline-flex;
        top: calcRem(1px);
        background: url('../resources/images/icon-open-in--steel.svg') no-repeat center/contain;
    }
}
.aem-GridColumn--default--6 {
    .cmp-teams-filter {
        .col-xl-3,
        .col-md-3 .col-xl-3 {
            @include make-col(6);
        }
        @include media-breakpoint-down(sm) {
            &__name {
                @include font-size(16px);
                @include line-height(18px);
            }
            &__title {
                @include font-size(14px);
                @include line-height(18px);
            }
        }
    }
}
