.cmp-aem-form-confirmation__label-wrap {
    padding-left: 30px;
    margin-bottom: 50px;
    width: 100%;
    h3 {
        text-transform: uppercase;
        font-weight: $font-weight-medium;
        font-size: 24px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $darker-black;
    }
    .row:first-of-type > h3 {
        margin-top: 0px;
    }
    .row {
        h3 {
            margin-top: 20px;
        }
    }
    label {
        margin-left: -15px;
        color: $dark-black;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
    }
    label:after {
        content: ':';
    }
    div {
        div {
            font-weight: bold;
            color: $black;
            font-size: 18px;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.56;
            letter-spacing: normal;
            white-space: pre-line;
            word-break: break-all;
        }
    }
    @media (max-width: 991px) {
        div {
            margin-bottom: 10px;
        }
        .col-md-6 {
            width: 50%;
            white-space: pre-line;
            word-break: break-all;
        }
    }
    @media (max-width: 767px) {
        div {
            margin-bottom: 10px;
        }
        .col-md-6 {
            width: 100%;
            white-space: pre-line;
            word-break: break-all;
        }
        .col-md-6:nth-child(2) {
            padding-left: 0px !important;
        }
    }
}
