<div class="col-12 col-sm-12 col-md-12 cmp-high-value-task-form-modal modal fade" id="HVTModal" tabindex="-1"
    role="dialog" aria-labelledby="HVTModalLabel" aria-hidden="true">
    <div class="modal-dialog col-sm-12 col-12 col-md-11 offset-1" role="document">
        <div class="modal-content col-md-12">
            <div class="modal-header">
                <h5 class="modal-title cmp-high-value-task-form-modal__heading" id="HVTModalLabel">title</h5>
                <button type="button" class="close cmp-high-value-task-form-modal__close" data-dismiss="modal"
                    aria-label="${'foundation.buttons.close' @ i18n}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cmp-high-value-task-form-modal__content">
                <p>description</p>
                <!--Eloqua Markup starts-->
                <form method="post" name="HVT_Form_JUN2020" action="https://s2108552627.t.eloqua.com/e/f2"
                    class="elq-form eloqua-high-value-task">
                    <input value="HVT_Form_JUN2020" type="hidden" name="elqFormName">
                    <input value="2108552627" type="hidden" name="elqSiteId">
                    <input name="elqCampaignId" type="hidden">
                    <div class="layout container-fluid">
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement0" class="elq-field-style form-element-layout row">
                                        <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                            <label class="elq-label " for="fe279">
                                                <span class="elq-required">
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="field-control-wrapper">
                                                        <input type="text" class="elq-item-input" placeholder="Email"
                                                            name="C_EmailAddress" id="fe279" value="abc@xyz.com"
                                                            style="width:100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement1" class="elq-field-style form-element-layout row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div>
                                                        <input type="Submit" class="submit-button-style "
                                                            value="Download" id="fe281">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="C_UserRole" id="fe285" value="${roleContainerModel.activeUser}">
                        <input type="hidden" name="componentId" id="fe286" value="">
                        <input type="hidden" name="elqCampaignId" id="fe280" value="">
                        <input type="hidden" name="redirectURL" id="fe283" value="">
                        <input type="hidden" name="cmpid" id="fe282" value="">
                        <input type="hidden" name="pageURL" id="fe284" value="${canonicalUrlModel.canonicalUrl}">
                    </div>
                </form>
                <form method="post" name="HVT_FACheckbox_Form_JUN2020" action="https://s2108552627.t.eloqua.com/e/f2"
                    class="elq-form eloqua-high-value-task-fa">
                    <input value="HVT_FACheckbox_Form_JUN2020" type="hidden" name="elqFormName">
                    <input value="2108552627" type="hidden" name="elqSiteId">
                    <input name="elqCampaignId" type="hidden">
                    <div class="layout container-fluid">
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement0" class="elq-field-style form-element-layout row">
                                        <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                            <label class="elq-label " for="fe271">
                                                <span class="elq-required">
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="field-control-wrapper">
                                                        <input type="text" class="elq-item-input" placeholder="Email"
                                                            name="C_EmailAddress" id="fe271" value="abc@xyz.com"
                                                            style="width:100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement1" class="elq-field-style form-element-layout row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div>
                                                        <div class="single-checkbox-row row">
                                                            <input type="checkbox" name="C_CertifiedFA1" id="fe287"
                                                                checked>
                                                            <label class="checkbox-aligned elq-item-label" for="fe287">I
                                                                certify
                                                                that I am a FINRA Series 7 Registered Representative.
                                                                <span class="elq-required">*
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-element-instruction">NOT FOR RETAIL DISTRIBUTION: This
                                                communication
                                                has been prepared exclusively for institutional/wholesale/professional
                                                clients and
                                                qualified investors only as defined by local laws and regulations.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="grid-layout-col">
                                <div class="layout-col col-sm-12 col-xs-12">
                                    <div id="formElement2" class="elq-field-style form-element-layout row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div>
                                                        <input type="Submit" class="submit-button-style "
                                                            value="Download" id="fe273">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="C_UserRole" id="fe277" value="${roleContainerModel.activeUser}">
                        <input type="hidden" name="componentId" id="fe278" value="">
                        <input type="hidden" name="elqCampaignId" id="fe272" value="">
                        <input type="hidden" name="redirectURL" id="fe275" value="">
                        <input type="hidden" name="cmpid" id="fe274" value="">
                        <input type="hidden" name="pageURL" id="fe276" value="${canonicalUrlModel.canonicalUrl}">
                    </div>
                </form>
                <!--Eloqua Markup ends-->
            </div>
        </div>
    </div>
</div>

<a href="/assets/documents/test.pdf" target="_self" data-target-flags="dc:highvaluetask,dc:requiresfinancialadvisor">

    <picture>
        <source media="(max-width: 576px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$575x326-xsmall$">
        <source media="(max-width: 768px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$767x434-small$">
        <source media="(max-width: 992px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$546x382-medium$">
        <source media="(max-width: 1200px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$630x440-large$">
        <img src="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$630x440-xlarge$"
            alt="DAM METADATA FB ALT TEXT" class="mw-100" rel="noopener">
    </picture>

</a>

<a href="/assets/documents/test.pdf" target="_self" data-target-flags="dc:highvaluetask">

    <picture>
        <source media="(max-width: 576px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$575x326-xsmall$">
        <source media="(max-width: 768px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$767x434-small$">
        <source media="(max-width: 992px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$546x382-medium$">
        <source media="(max-width: 1200px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$630x440-large$">
        <img src="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$630x440-xlarge$"
            alt="DAM METADATA FB ALT TEXT" class="mw-100" rel="noopener">
    </picture>

</a>

<a href="/assets/documents/test.pdf" target="_self">

    <picture>
        <source media="(max-width: 576px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$575x326-xsmall$">
        <source media="(max-width: 768px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$767x434-small$">
        <source media="(max-width: 992px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$546x382-medium$">
        <source media="(max-width: 1200px)"
            srcset="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$630x440-large$">
        <img src="https://assets.newyorklifeinvestments.com/is/image/newyorklifeDev/facebook-light?$630x440-xlarge$"
            alt="DAM METADATA FB ALT TEXT" class="mw-100" rel="noopener">
    </picture>

</a>
<div class="reportGenerationSection">
    <button class="reportButton">Generate Report</button>
</div>
<div class='cmp-input-fields'>
    <input class='mds-search-field__input' />
    <input class='mds-search-field__input' />
    <input class='mds-search-field__input' />
    <input class='mds-search-field__input' />
    <input class='mds-search-field__input' />
</div>
