<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.headline, classAppend='cmp-banner-article-placeholder'}" />

<div class="cmp-banner-article">
    <div class="cmp-banner-article__image-container">
        <sly data-sly-test="${properties.backgroundImagePath}"
            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.imageTemplate @ componentName='banner-article', imagePath=properties.backgroundImagePath, imgClass='parallax'}">
        </sly>
        <div class="cmp-banner-article__color-overlay" data-color-overlay-opacity="${properties.colorOverlayOpacity}">
            <div class="cmp-banner-article__rule"></div>
        </div>
    </div>
    <div data-sly-use.bannerArticleModel="com.nyl.nylim.models.BannerArticleModel"
        class="cmp-banner-article__wrapper row">
        <div class="col-lg-1 col-md-1 display-fullwidth"></div>
        <div class="col-12 col-lg-10 col-md-10 dialog-box">
            <ul data-sly-test="${bannerArticleModel.bannerArticleTags}"
                data-sly-list.bannerArticleTag="${bannerArticleModel.bannerArticleTags}"
                class="cmp-banner-article__tags display-fullwidth">
                <li data-sly-test="${bannerArticleTag.tagUrl && bannerArticleTag.tagColor && bannerArticleTag.tagTitle}"
                    class="cmp-banner-article__tags-tag ">
                    <div class="cmp-banner-article__tags-tag--style cmp-banner-article--${bannerArticleTag.tagColor} ">
                        <a href="${bannerArticleTag.tagUrl}"
                            title="${bannerArticleTag.tagTitle}">${bannerArticleTag.tagTitle}</a>
                    </div>
                </li>
            </ul>
            <ul data-sly-test="${bannerArticleModel.TopicTitle || pageProperties.additionalLabel || pageProperties.label}"
                class="cmp-banner-article__eyebrow">
                <li data-sly-unwrap="${!bannerArticleModel.TopicTitle}" class="cmp-banner-article__eyebrow-value">
                    ${bannerArticleModel.TopicTitle}</li>
                <li data-sly-unwrap="${!pageProperties.additionalLabel}" class="cmp-banner-article__eyebrow-value">
                    ${pageProperties.additionalLabel}</li>
                <li data-sly-unwrap="${!pageProperties.label}" class="cmp-banner-article__eyebrow-value">
                    ${pageProperties.label}</li>
            </ul>
            <h1 data-sly-test="${properties.headline}" class="cmp-banner-article__headline">${properties.headline}</h1>
            <div data-sly-test="${properties.description}" class="cmp-banner-article__description cmp-rte">
                ${properties.description @context= 'html'}</div>
            <div data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel'}" class="cmp-banner-article__button">
                <sly data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @resourcePath=properties.authorContentFragment, 
                appendPath='jcr:content/data/master'}" data-sly-test.authorDetails="${resourceModel.properties}"
                    data-sly-set.authorName="${authorDetails.firstName} ${authorDetails.lastName}"
                    data-sly-use.formatterModel="${'com.nyl.foundation.models.FormatterModel' @ input=authorName}"
                    data-sly-set.authorId="${formatterModel.nonAlphaNumericString}"
                    data-sly-set.bioUrl="${linkModel.url}#${authorId}" />
                <a data-sly-test="${authorName || linkModel.text}" data-sly-unwrap="${!linkModel.url}"
                    href="${authorId ? bioUrl : linkModel.url}" title="${linkModel.title}"
                    target="${linkModel.behavior}">
                    ${'nylim.by' @ i18n} ${authorId ? authorName : linkModel.text}
                </a>
            </div>
            <div data-sly-test="${properties.enableSocialShareComponent}" class="cmp-banner-article__social-share"
                data-sly-resource="${'socialshare' @ resourceType='nyl-foundation/components/content/social-share',decorationTagName='div'}">
            </div>
        </div>
        <div class="col-lg-1 col-md-1 display-fullwidth"></div>
        <ul data-sly-test="${bannerArticleModel.bannerArticleTags}"
            data-sly-list.bannerArticleTag="${bannerArticleModel.bannerArticleTags}"
            class="cmp-banner-article__tags display-mobile">
            <li data-sly-test="${bannerArticleTag.tagUrl && bannerArticleTag.tagColor && bannerArticleTag.tagTitle}"
                class="cmp-banner-article__tags-tag ">
                <div class="cmp-banner-article__tags-tag--style cmp-banner-article--${bannerArticleTag.tagColor} ">
                    <a href="${bannerArticleTag.tagUrl}"
                        title="${bannerArticleTag.tagTitle}">${bannerArticleTag.tagTitle}</a>
                </div>
            </li>
        </ul>
    </div>
</div>
