.cmp-rte {
    .text__xxlHeader,
    h1 {
        font-family: $font-family-alda;
        @include font-size(50px);
        @include line-height(54px);
    }
    .text__xlHeader,
    h2 {
        font-family: $font-family-alda;
        @include font-size(36px);
        @include line-height(46px);
    }
    .text__lHeader,
    h3 {
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        @include font-size(36px);
        @include line-height(44px);
    }
    .text__mTitleAndSubText,
    h4 {
        font-family: $font-family-alda;
        @include font-size(26px);
        @include line-height(38px);
    }
    .text__sTitle,
    h5 {
        font-family: $font-family-alda;
        @include font-size(22px);
        @include line-height(30px);
    }
    .text__xsContentLabel,
    h6 {
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        @include font-size(16px);
        @include line-height(20px);
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .text__contactPhone {
        font-family: $font-family-helvetica-neue;
        @include font-size(20px);
        @include line-height(28px);
        letter-spacing: 0.22px;
        color: $steel;
    }
    .text__xlBody {
        font-family: $font-family-helvetica-neue;
        @include font-size(22px);
        @include line-height(32px);
    }
    .text__lBody {
        font-family: $font-family-helvetica-neue;
        @include font-size(18px);
        @include line-height(28px);
    }
    .text__body,
    p {
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        @include line-height(24px);
    }
    .text__xxsDisclosure {
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        @include line-height(24px);
    }
    .text__xxxsDisclosure {
        font-family: $font-family-helvetica-neue;
        @include font-size(11px);
        @include line-height(14px);
    }

    @include media-breakpoint-down(sm) {
        padding-left: calcRem(20px);
        padding-right: calcRem(20px);
        .text__xxlHeader,
        h1 {
            font-family: $font-family-alda;
            @include font-size(28px);
            @include line-height(32px);
        }
        .text__xlHeader,
        h2,
        h3 {
            font-family: $font-family-alda;
            font-weight: $font-weight-regular;
            @include font-size(20px);
            @include line-height(26px);
        }
        .text__mTitleAndSubText,
        h4 {
            font-family: $font-family-alda;
            font-weight: $font-weight-regular;
            @include font-size(22px);
            @include line-height(26px);
        }
        .text__lHeader {
            font-family: $font-family-helvetica-neue;
            font-weight: $font-weight-bold;
            @include font-size(24px);
            @include line-height(28px);
        }
        .text__sTitle,
        h5 {
            font-family: $font-family-alda;
            @include font-size(16px);
            @include line-height(19px);
        }
        .text__xsContentLabel,
        h6 {
            font-family: $font-family-helvetica-neue;
            @include font-size(14px);
            @include line-height(18px);
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .text__contactPhone {
            font-family: $font-family-helvetica-neue;
            @include font-size(18px);
            letter-spacing: 0px;
            color: #0079c2;
        }
        .text__xxsDisclosure {
            font-family: $font-family-helvetica-neue;
            @include font-size(12px);
            @include line-height(18px);
        }
        .text__xxxsDisclosure {
            font-family: $font-family-helvetica-neue;
            @include font-size(12px);
            @include line-height(18px);
        }
        .text__xlBody,
        .text__lBody,
        .text__body,
        p {
            font-family: $font-family-helvetica-neue;
            @include font-size(16px);
            @include line-height(24px);
        }
    }
    .text__steel {
        color: $steel;
    }
    .text__white {
        color: $white;
    }
    .text__dark-salmon {
        color: $dark-salmon;
    }
    .text__medium-salmon {
        color: $medium-salmon;
    }
    .text__dark-twilight {
        color: $dark-twilight;
    }
    .text__medium-twilight {
        color: $medium-twilight;
    }
    .text__dark-dusk {
        color: $dark-dusk;
    }
    .text__medium-dusk {
        color: $medium-dusk;
    }
    .text__dark-rain {
        color: $dark-rain;
    }
    .text__medium-rain {
        color: $medium-rain;
    }
    .text__dark-palm {
        color: $dark-palm;
    }
    .text__medium-palm {
        color: $medium-palm;
    }
    .text__dark-gold {
        color: $dark-gold;
    }
    .text__medium-gold {
        color: $medium-gold;
    }
    .text__dark-sunset {
        color: $dark-sunset;
    }
    .text__medium-sunset {
        color: $medium-sunset;
    }

    &--dark-salmon {
        .cmp-rte {
            background-color: $dark-salmon;
            padding: calcRem(25px);
        }
    }
    &--medium-salmon {
        .cmp-rte {
            background-color: $medium-salmon;
            padding: calcRem(25px);
        }
    }
    &--light-salmon-2 {
        .cmp-rte {
            background-color: $light-salmon-2;
            padding: calcRem(25px);
        }
    }

    &--light-salmon-5 {
        .cmp-rte {
            background-color: $light-salmon-5;
            padding: calcRem(25px);
        }
    }

    &--dark-twilight {
        .cmp-rte {
            background-color: $dark-twilight;
            padding: calcRem(25px);
        }
    }
    &--medium-twilight {
        .cmp-rte {
            background-color: $medium-twilight;
            padding: calcRem(25px);
        }
    }
    &--light-twilight-2 {
        .cmp-rte {
            background-color: $light-twilight-2;
            padding: calcRem(25px);
        }
    }
    &--light-twilight-5 {
        .cmp-rte {
            background-color: $light-twilight-5;
            padding: calcRem(25px);
        }
    }

    &--dark-dusk {
        .cmp-rte {
            background-color: $dark-dusk;
            padding: calcRem(25px);
        }
    }
    &--medium-dusk {
        .cmp-rte {
            background-color: $medium-dusk;
            padding: calcRem(25px);
        }
    }
    &--light-dusk-2 {
        .cmp-rte {
            background-color: $light-dusk-2;
            padding: calcRem(25px);
        }
    }
    &--light-dusk-5 {
        .cmp-rte {
            background-color: $light-dusk-5;
            padding: calcRem(25px);
        }
    }

    &--dark-rain {
        .cmp-rte {
            background-color: $dark-rain;
            padding: calcRem(25px);
        }
    }
    &--medium-rain {
        .cmp-rte {
            background-color: $medium-rain;
            padding: calcRem(25px);
        }
    }
    &--light-rain-2 {
        .cmp-rte {
            background-color: $light-rain-2;
            padding: calcRem(25px);
        }
    }
    &--light-rain-5 {
        .cmp-rte {
            background-color: $light-rain-5;
            padding: calcRem(25px);
        }
    }

    &--dark-palm {
        .cmp-rte {
            background-color: $dark-palm;
            padding: calcRem(25px);
        }
    }
    &--medium-palm {
        .cmp-rte {
            background-color: $medium-palm;
            padding: calcRem(25px);
        }
    }
    &--light-palm-2 {
        .cmp-rte {
            background-color: $light-palm-2;
            padding: calcRem(25px);
        }
    }
    &--light-palm-5 {
        .cmp-rte {
            background-color: $light-palm-5;
            padding: calcRem(25px);
        }
    }

    &--dark-gold {
        .cmp-rte {
            background-color: $dark-gold;
            padding: calcRem(25px);
        }
    }
    &--medium-gold {
        .cmp-rte {
            background-color: $medium-gold;
            padding: calcRem(25px);
        }
    }
    &--light-gold-2 {
        .cmp-rte {
            background-color: $light-gold-2;
            padding: calcRem(25px);
        }
    }
    &--light-gold-5 {
        .cmp-rte {
            background-color: $light-gold-5;
            padding: calcRem(25px);
        }
    }

    &--dark-sunset {
        .cmp-rte {
            background-color: $dark-sunset;
            padding: calcRem(25px);
        }
    }
    &--medium-sunset {
        .cmp-rte {
            background-color: $medium-sunset;
            padding: calcRem(25px);
        }
    }
    &--light-sunset-2 {
        .cmp-rte {
            background-color: $light-sunset-2;
            padding: calcRem(25px);
        }
    }
    &--light-sunset-5 {
        .cmp-rte {
            background-color: $light-sunset-5;
            padding: calcRem(25px);
        }
    }

    &--light-steel-1 {
        .cmp-rte {
            background-color: $light-steel-1;
            padding: calcRem(25px);
        }
    }
    &--light-steel-2 {
        .cmp-rte {
            background-color: $light-steel-2;
            padding: calcRem(25px);
        }
    }
    &--light-steel-3 {
        .cmp-rte {
            background-color: $light-steel-3;
            padding: calcRem(25px);
        }
    }
    &--light-steel-4 {
        .cmp-rte {
            background-color: $light-steel-4;
            padding: calcRem(25px);
        }
    }
    &--light-steel-5 {
        .cmp-rte {
            background-color: $light-steel-5;
            padding: calcRem(25px);
        }
    }

    &--dark-steel {
        .cmp-rte {
            background-color: $dark-steel;
            padding: calcRem(25px);
        }
    }
    &--steel {
        .cmp-rte {
            background-color: $steel;
            padding: calcRem(25px);
        }
    }
    &--white {
        .cmp-rte {
            background-color: $white;
            padding: calcRem(25px);
        }
    }
    &--error {
        .cmp-rte {
            background-color: $error;
            padding: calcRem(25px);
        }
    }
    &--top-margin {
        &-none {
            .cmp-rte {
                margin-top: 0 !important;
            }
        }
        &-small {
            .cmp-rte {
                margin-top: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-rte {
                margin-top: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-rte {
                margin-top: calcRem(30px) !important;
            }
        }
    }
    &--bottom-margin {
        &-none {
            .cmp-rte {
                margin-bottom: 0 !important;
            }
        }
        &-small {
            .cmp-rte {
                margin-bottom: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-rte {
                margin-bottom: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-rte {
                margin-bottom: calcRem(30px) !important;
            }
        }
    }
    @extend %mobile-full-width;
}
.responsivegrid {
    .cmp-anchor-link-container {
        .rte > div[class='cmp-rte'] {
            padding-left: calcRem(15px) !important;
            padding-right: calcRem(15px) !important;
        }
    }
}
