<div class="cmp-product-finder-filters">
    <div class="cmp-product-finder-filters--title">{{otherLabels['nylim.filter']}}</div>
    <div class="cmp-product-finder-filters--list">

        <div class="btn-group list-group-root cmp-product-finder-filters--list-item"
            *ngFor="let value of filterLabels; let i=index;" [ngClass]="{'list-group': !isOnMobile()}">
            <div *ngIf="!isOnMobile()" [attr.data-target]="'#collapse-' + i" aria-expanded="true"
                class="list-group-item cmp-product-finder-filters--list-item-title collapsed"
                [attr.data-toggle]="'collapse'">
                {{value.labelKey}}
                <span class="cmp-product-finder-filters--list-item-title-icon">
                    <img [alt]="openCloseHoverText" [title]="openCloseHoverText"
                        src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg" />
                </span>
            </div>
            <button *ngIf="isOnMobile()" [attr.data-target]="'#cmp-product-finder-filter-modal'+i" data-toggle="modal"
                type="button"
                [ngClass]="{'selected-filter': showCount(value.labelKey),'right-btn': i%2 !== 0,'left-btn':  i%2 === 0}"
                (keypress)="showModal(value.labelKey)" (click)="showModal(value.labelKey)"
                class="btn cmp-product-finder-filters--list-item-title">{{value.labelKey}}
                <span class="count-display" *ngIf="showCount(value.labelKey)">
                    {{ this.appliedFilterList[this.keyReplace[value.labelKey]].length}}
                </span>
            </button>
            <div class="list-group filter-list collapse" [id]="'collapse-'+i" *ngIf="!isOnMobile()">
                <div *ngFor="let filterVal of value.labelValues;" role="button" class="list-group-item filter-item"
                    [ngClass]="{'selected-filter': setClasses(filterVal?.valueFilters?.filterLabel, value.labelKey), 'disabled': !filterNotPresent(value.labelKey, filterVal?.valueFilters?.value, filterVal?.valueFilters?.filterLabel)}"
                    (click)="applyFilter(value.labelKey, filterVal?.valueFilters?.filterLabel, filterVal?.valueFilters?.value, false,filterNotPresent(value?.labelKey, filterVal?.valueFilters?.value, filterVal?.valueFilters?.filterLabel))"
                    (keypress)="applyFilter(value.labelKey, filterVal?.valueFilters?.filterLabel, filterVal?.valueFilters?.value, false,filterNotPresent(value.labelKey, filterVal?.valueFilters?.value, filterVal?.valueFilters?.filterLabel))">
                    {{filterVal?.valueFilters?.filterLabel}}
                </div>
            </div>
            <div class="modal fade show" [id]="'cmp-product-finder-filter-modal'+i" tabindex="-1" role="dialog"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>Filter: {{value.labelKey}}</div>
                        </div>
                        <div class="modal-body">
                            <div class="list-group">
                                <div *ngFor="let filterVal of value.labelValues;" class="list-group-item"
                                    [ngClass]="{'selected-filter': setClasses(filterVal?.valueFilters?.filterLabel, value.labelKey), 'disabled': !filterNotPresent(value.labelKey, filterVal?.valueFilters?.value, filterVal?.valueFilters?.filterLabel)}"
                                    (click)="applyFilter(value.labelKey, filterVal?.valueFilters?.filterLabel, filterVal?.valueFilters?.value, false,filterNotPresent(value.labelKey, filterVal?.valueFilters?.value, filterVal?.valueFilters?.filterLabel))"
                                    (keypress)="applyFilter(value.labelKey, filterVal?.valueFilters?.filterLabel, filterVal?.valueFilters?.value, false,filterNotPresent(value.labelKey, filterVal?.valueFilters?.value, filterVal.valueFilters.filterLabel))">
                                    {{filterVal?.valueFilters?.filterLabel}}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row footer-btn">
                                <div class="col-6 footer-btn--cancel">
                                    <button type="button" data-dismiss="modal" class="btn btn-cancel"
                                        (click)="cancel(value.labelKey)"
                                        (keypress)="cancel(value.labelKey)">{{otherLabels['foundation.button.cancel']}}</button>
                                </div>
                                <div class="col-6 footer-btn--apply">
                                    <button type="button" data-dismiss="modal" class="btn btn-apply"
                                        (keypress)="apply()"
                                        (click)="apply()">{{otherLabels['foundation.button.apply']}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cmp-product-finder-applied-filters" [ngClass]="{'no-data-filter': filteredData.length === 0}"
    *ngIf="appliedFilters.length">
    <div class="cmp-product-finder-applied-filters--title">{{otherLabels['nylim.appliedFilters']}}</div>
    <div class="btn-group cmp-product-finder-applied-filters--btn-group" role="group" aria-label="Basic example"
        *ngFor="let val of appliedFilters; let i=index">
        <div class="btn cmp-product-finder-applied-filters--btn-group-title">
            <span class="cmp-product-finder-applied-filters--btn-group-title-text">{{val}}</span>
            <span class="cmp-product-finder-applied-filters--btn-group-title-icon" (keypress)="removeFilter(val)"
                (click)="removeFilter(val)">
                <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon.svg" alt="toggle" />
            </span>
        </div>
        <button type="button" *ngIf="appliedFilters.length-1 == i" class="btn btn-clear" (keypress)="clearFilter()"
            (click)="clearFilter()">{{otherLabels['foundation.button.clearAll']}}</button>
    </div>
</div>
