<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.compareTabLabel, classAppend='cmp-morningstar-tools-placeholder'}" />
<div class="cmp-morningstar-tools" data-edit-mode="${wcmmode.edit?'true':'false'}">
    <div class="cmp-morningstar-tools__tabs-container">
        <ul class="cmp-morningstar-tools__tabs">
            <li data-sly-test="${properties.compareTabLabel}" class="cmp-morningstar-tools__tab--active"
                name="compare-products">${properties.compareTabLabel}</li>
            <li data-sly-test="${properties.modelHypoTabLabel}" class="cmp-morningstar-tools__tab"
                name="model-hypotheticals">${properties.modelHypoTabLabel}</li>
            <li data-sly-test="${properties.analyzeTabLabel}" class="cmp-morningstar-tools__tab"
                name="analyze-portfolios">${properties.analyzeTabLabel}</li>
        </ul>
        <div class="cmp-morningstar-tools__tabs-shade--left"></div>
        <div class="cmp-morningstar-tools__tabs-shade--right"></div>
    </div>
    <div data-sly-test="${properties.compareTabLabel}" class="cmp-morningstar-tools__compare-products"
        name="compare-products">
        <sly data-sly-resource="${'compareproducts' @ resourceType='nylim/components/content/compare-products'}" />
    </div>
    <div data-sly-test="${properties.modelHypoTabLabel}" class="cmp-morningstar-tools__model-hypotheticals"
        name="model-hypotheticals">
        <sly
            data-sly-resource="${'modelhypotheticals' @ resourceType='nylim/components/content/model-hypotheticals'}" />
    </div>
    <div data-sly-test="${properties.analyzeTabLabel}" class="cmp-morningstar-tools__analyze-portfolios"
        name="analyze-portfolios">
        <sly data-sly-resource="${'analyzeportfolio' @ resourceType='nylim/components/content/analyze-portfolio'}" />
    </div>
</div>
