<app-product-finder-table *ngIf="showProductFinderTable" [columns]="labels" [rows]="rows"></app-product-finder-table>
<app-indexes-table *ngIf="showIndexesTable" [columns]="indexes" [rows]="indexesRows"></app-indexes-table>
