.cmp-calculator-container-gbs {
    $calculator-container: &;
    font-family: $font-family-effra-pro;

    &__header-wrapper {
        background-color: $medium-rain;
        margin: 0 calc(50% - 50vw);
    }

    &__header {
        width: 700px;
        padding: 60px 0;
        margin: auto;

        @include media-breakpoint-down(sm) {
            width: 100%;
            padding: 60px 15px;
        }
    }

    &__core-content {
        width: 700px;
        margin: auto;
        position: relative;
        &::before {
            content: '';
            background-color: $medium-rain;
            position: absolute;
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
            height: 254px;
            width: 1000%;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__insert-container,
    &__results {
        position: relative;
        @include media-breakpoint-down(sm) {
            padding: 0 15px;
            margin-top: -1px;
        }
    }

    &__landing-title {
        margin: 0 0 10px;
        font-family: $font-family-effra-pro;
        font-size: $font-size-xxs-large;
        font-weight: $font-weight-bold;
        line-height: 54px;
        letter-spacing: normal;
        color: $black;
        @include media-breakpoint-down(sm) {
            font-size: $font-size-xs-large;
            line-height: 48px;
        }
    }

    &__landing-subtitle {
        margin: 10px 0 20px;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        line-height: 1.35;
        letter-spacing: normal;
        color: $medium-black;
    }

    &__landing-description {
        margin: 20px 0 60px;
        font-size: $font-size-large;
        font-weight: $font-weight-regular;
        line-height: 1.35;
        letter-spacing: normal;
        color: $black;
        @include media-breakpoint-down(sm) {
            margin: 20px 0 50px;
        }
    }

    &__banner-mid-line {
        width: 100%;
        height: 1px;
        margin: 60px 0 0;
        border-top: 0.25rem solid $white;
        box-sizing: content-box;
    }

    &__common-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__results {
        display: none;
        font-size: $font-size-xxs-medium;

        &--show {
            display: block;
        }

        &-title {
            margin: 0 0 30px;
            font-family: $font-family-effra-pro;
            font-size: $font-size-xs-large;
            font-weight: $font-weight-bold;
            line-height: 1.41;
            letter-spacing: normal;
            color: $black;
            @include media-breakpoint-down(sm) {
                font-size: $font-size-x-medium;
            }
        }

        &-view {
            margin: 30px 0 0;
            padding: 33px 60px 50px;
            border-radius: 5px;
            box-shadow: 0 6px 11px 5px rgba(0, 0, 0, 0.1);
            background-color: $white;
            @include media-breakpoint-down(sm) {
                padding: 30px 15px;
            }
        }

        &-button-container {
            margin-top: 50px;
            margin-bottom: 210px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include media-breakpoint-down(sm) {
                text-align: center;
                display: flex;
                flex-direction: column-reverse;
            }
        }

        &-startover-button {
            cursor: pointer;
            font-family: $font-family-effra-pro;
            color: $black;
            font-size: $font-size-xxs-medium;

            @include media-breakpoint-down(sm) {
                margin-top: 20px;
            }

            &:focus {
                outline: 2px solid black;
            }
        }

        &-learn-more-button {
            font-family: $font-family-effra-pro;
            color: $white !important;
            font-size: $font-size-xxs-medium;
            background-color: $twilight-blue;
            padding: 13px;
            border-radius: 3px;
            min-width: 283px;
            height: 49px;
            text-align: center;
            @include media-breakpoint-down(sm) {
                min-width: 100%;
            }
        }

        &-icon-arrow {
            background-image: url('../resources/images/icon-cta-arrow--dark-grey.svg');
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: sub;
            margin-right: auto;
            width: 19px;
            height: 17px;
        }
    }

    &__button-container {
        display: flex;
        justify-content: flex-end;

        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
            display: block !important;
        }

        &__button {
            width: 230px;
            height: 49px;
            margin-left: 10px;
            border-radius: 3px;
            text-align: center;
            line-height: 18px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 5px;
                width: 100%;
                margin-left: 0px;
            }

            &--disable,
            &--disable:focus,
            &--disable:hover {
                color: $white;
                background-color: $medium-gray;
                border-color: $medium-gray;
                cursor: not-allowed;
                pointer-events: none;
            }

            &--hide {
                display: none;
            }
        }
    }

    &__edit-mode {
        #{$calculator-container}__results {
            display: block;
        }
    }
}
.cmp-calculator-container-gbs-premium {
    .cmp-calculator-container-gbs {
        &__landing-title {
            color: $black;
        }
        &__landing-description {
            color: $black;
        }
        &__insert-container {
            padding: 33px 60px 23px;
            border-radius: 5px;
            box-shadow: 0 6px 11px 5px rgba(0, 0, 0, 0.1);
            background-color: $white;
            @include media-breakpoint-down(sm) {
                padding: 30px 15px;
            }
        }
        &__button-container,
        &__results-view,
        &__results-startover-button {
            display: none !important;
        }
        &__results {
            display: block;
        }
        &__results-learn-more-button {
            margin-left: 67%;
            min-width: 230px;
            @include media-breakpoint-down(sm) {
                min-width: 100%;
                margin: 0;
            }
            &__enable {
                background-color: $twilight-blue;
                pointer-events: inherit;
            }
            &__disable {
                background-color: $medium-gray;
                pointer-events: none;
            }
        }
    }

    .cmp-form-text-field {
        margin: 30px 0px !important;
        &__label {
            font-size: $font-size-xx-medium !important;
        }
        &__input {
            font-size: $font-size-xx-medium;
            line-height: 1.6875rem;
            color: $black;
            background-color: $white;
            clear: both;
            display: block;
            width: 290px;
            height: 68px;
            margin: 0 0 1px;
            padding: 23px 60px 23px 30px;
            border-radius: 5px;
            border: solid 1px $medium-quartz;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
            &:focus {
                border-color: $brand-blue !important;
                box-shadow: 0 0 0 0.1875rem $brand-blue;
                outline: none;
            }
        }

        &__error-msg {
            display: none !important;
            &--show {
                display: block !important;
            }
        }
    }

    .question-card {
        display: none;
    }
}
