.cmp-monthly-strategy {
    $monthly-strategy-color-mapping: (
        '0': $steel,
        '1': $medium-gold,
        '2': $medium-palm,
        '3': $medium-rain,
        '4': $dark-twilight,
        '5': $dark-gold,
    );

    background-color: $light-steel-3;
    @extend %full-width;
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(101px);

    &.column-variation {
        .highcharts {
            @each $num, $color in $monthly-strategy-color-mapping {
                &-color-#{$num} {
                    fill: $color;
                    stroke: $color;
                    rect {
                        fill: $color;
                        stroke: $color;
                    }
                    text,
                    tspan {
                        fill: $steel;
                        text-align-last: left !important;
                    }
                }
            }
            .highcharts-axis-title {
                text-align-last: left !important;
            }
        }
    }
    &__chart-container {
        padding: 0;
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(24px);
        }
        @include media-breakpoint-down(md) {
            min-width: calcRem(1110px);
        }
    }
    &__wrapper {
        overflow-x: auto;
    }
    &__chart-wrapper {
        margin-bottom: calcRem(101px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
            margin-bottom: calcRem(66px);
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(sm) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: calcRem(0px);
            top: calcRem(30px);
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(sm) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
            top: calcRem(30px);
        }
    }
    &__chart-title {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(16px);
        padding-bottom: calcRem(24px);
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__heading-section {
        margin-bottom: 0;
        margin-top: calcRem(72px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(40px);
            padding-left: calcRem(0px);
        }
    }
    &__monthly-strategy-text {
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        @include line-height(17px);
        color: $steel;
        text-transform: uppercase;
        @include media-breakpoint-down(sm) {
            display: block;
            margin-bottom: calcRem(9px);
        }
    }
    &__as-of-text {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(13px);
    }
    .as-of-label {
        visibility: hidden;
    }
    &__column-chart-mobile-legend {
        display: none;
        margin-top: calcRem(24px);
        @each $num, $color in $monthly-strategy-color-mapping {
            &-item-#{$num} .cmp-monthly-strategy__column-chart-mobile-legend-item-dot {
                background-color: $color;
            }
        }
        @include media-breakpoint-down(sm) {
            display: flex;
        }
        &-item {
            align-items: center;
            display: flex;
            &:not(:last-of-type) {
                margin-bottom: calcRem(8px);
            }
            &-dot {
                border-radius: 50%;
                height: calcRem(16px);
                margin-right: calcRem(12px);
                width: calcRem(16px);
            }
            &-date {
                color: $steel;
                font-size: calcRem(12px);
                letter-spacing: 0;
                line-height: calcRem(18px);
            }
        }
        &-left-column {
            margin-right: calcRem(21px);
        }
    }
    &__chart {
        @include media-breakpoint-down(sm) {
            .highcharts-legend,
            .highcharts-subtitle {
                display: none;
            }
        }
    }
    &__section-heading-text {
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: calcRem(1px);
        @include line-height(17px);
    }
    &__container-div {
        padding-left: calcRem(15px);
        padding-right: calcRem(15px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__main-container-row {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
            margin-right: calcRem(0px);
        }
    }
    &__main-section {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
}
.cmp-monthly-strategy--light-gray {
    .cmp-monthly-strategy {
        background: $white;
        li {
            background: $light-steel-3;
        }
    }
}
