<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.mapModel="${'com.nyl.nylcom.models.agentweb.MapModel'}"
    data-sly-call="${templates.placeholder @ isEmpty = !mapModel.latitude || !mapModel.longitude, classAppend='cmp-map-placeholder'}" />

<div class="cmp-map" data-sly-test="${mapModel.latitude && mapModel.longitude}">
    <h3 class="col col-sm-12" data-sly-test="${properties.title}">${properties.title}</h3>
    <div class="cmp-map__map--container col col-sm-12">
        <div id="google-map" data-latitude="${mapModel.latitude}" data-longitude="${mapModel.longitude}"></div>
    </div>
    <div class="cmp-map__details col col-sm-12">
        <p class="large" data-sly-test="${mapModel.address}">
            ${mapModel.address}</p>
        <p class="cmp-map__details--contact">
            <span class="cmp-map__details--contact--medium" data-sly-test="${mapModel.businessPhone}"
                data-sly-use.businessPhone="${'com.nyl.foundation.models.FormatterModel' @ input=mapModel.businessPhone}"><strong>${'foundation.businessPhoneLabel'
                    @ i18n}:</strong>
                ${businessPhone.phoneNumber}<br>
            </span>
            <span class="cmp-map__details--contact--medium" data-sly-test="${mapModel.preferredPhone}"
                data-sly-use.preferredPhone="${'com.nyl.foundation.models.FormatterModel' @ input=mapModel.preferredPhone}"><strong>${'foundation.preferredPhoneLabel'
                    @ i18n}:</strong>
                ${preferredPhone.phoneNumber}<br>
            </span>
            <span class="cmp-map__details--contact--medium" data-sly-test="${mapModel.faxPhone}"
                data-sly-use.faxPhone="${'com.nyl.foundation.models.FormatterModel' @ input=mapModel.faxPhone}"><strong>${'foundation.faxPhoneLabel'
                    @ i18n}:</strong>
                ${faxPhone.phoneNumber}<br>
            </span>
            <span class="cmp-map__details--contact--medium" data-sly-test="${mapModel.email}"> <a
                    href="mailto:${mapModel.email}" target="_blank">${mapModel.email}</a>
            </span>
        </p>
        <a data-sly-test="${properties.linkText}" title="${properties.linkTitle}"
            href="${mapModel.googleMapDirectionUrl}${mapModel.latitude},${mapModel.longitude}"
            target="${properties.linkBehavior}"> <span class="nyl-button button--secondary">
                ${properties.linkText}
                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg"
                    class="icon-cta-arrow" alt="">
            </span>
        </a>
        <div class="cmp-map__marker">
            <span class="cmp-map__marker--info" data-sly-test="${mapModel.name}">${mapModel.name} <br></span>
            <span class="cmp-map__marker--info cmp-map__marker--agent--address" data-sly-test="${mapModel.address}">
                ${mapModel.address}
            </span>
        </div>
    </div>
</div>
