<sly data-sly-use.bannerDirectoryModel="${'com.nyl.nylcom.models.agentweb.BannerDirectoryModel'}" />
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !bannerDirectoryModel.headline , classAppend='cmp-banner-directory-placeholder'}" />

<div class="full-width cmp-banner-directory" data-sly-test="${bannerDirectoryModel.headline}">
    <div class="cmp-banner-directory__container">
        <div class="row m-0">
            <div class="col">
                <h1>${bannerDirectoryModel.headline}</h1>
                <span class="text__large" data-sly-test="${properties.description}"> ${properties.description @
                    context='html'} </span>
            </div>
            <div class="col col-5 d-none d-md-flex align-items-center" data-sly-test="${properties.icon}"
                data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='banner-directory', imagePath=properties.icon, imageAltText=properties.iconAltText}">
                <img src="${properties.icon}" data-aem-asset-id="${imageModel.imageId}" data-trackable="${imageModel.imageId? 'true' : ''}" alt="${imageModel.altText}" width="100%" height="auto" />
            </div>
        </div>
    </div>
</div>
