<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-literature-placeholder'}"
    data-sly-use.literatureModel="${'com.nyl.foundation.models.LiteratureModel'}"
    data-sly-use.requestAttribute="${'com.nyl.foundation.models.RequestAttributeModel' @ setComponentName = 'literature'}" />

<div class="cmp-literature" data-manual-documents="${literatureModel.literatureManual}">
    <app-datatable documents="${literatureModel.literatureLabels}"></app-datatable>
    <sly data-sly-include="literature.eloqua.html"></sly>
</div>
