<sly data-sly-use.roleContainerModel="com.nyl.nylim.models.RoleContainerModel"
    data-sly-use.canonicalUrlModel="com.nyl.foundation.models.CanonicalUrlModel"
    data-sly-use.requestAttribute="${'com.nyl.foundation.models.RequestAttributeModel' @ setComponentName = 'eloqua'}"
    data-sly-use.redirectPageModel="${'com.nyl.foundation.models.LinkRewriteModel' @ path=properties.redirectUrl}">

    <!--/*Eloqua Markup*/-->

    <form method="post" name="LitCenterForm_MAY2020" action="https://s2108552627.t.eloqua.com/e/f2" id="form26"
        class="elq-form eloqua-literature">
        <input value="LitCenterForm_MAY2020" type="hidden" name="elqFormName">
        <input value="2108552627" type="hidden" name="elqSiteId">
        <div class="layout container-fluid">
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement0" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label " for="fe238">Recipient Email
                                    <span class="elq-required">*
                                    </span>
                                </label>
                            </div>
                            <div class="field-control-parent col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input"
                                                placeholder="Please enter one email address." name="RecipientEmail"
                                                id="fe238" value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-element-instruction">Please enter one email address.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-md-6 col-sm-12 col-xs-12">
                        <div id="formElement1" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label " for="fe269">Sender Name
                                    <span class="elq-required">*
                                    </span>
                                </label>
                            </div>
                            <div class="field-control-parent col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" name="senderName1" id="fe269"
                                                value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-md-6 col-xs-12">
                        <div id="formElement2" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label " for="fe270">Sender Email
                                    <span class="elq-required">*
                                    </span>
                                </label>
                            </div>
                            <div class="field-control-parent col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" name="senderEmail1" id="fe270"
                                                value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement3" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label " for="fe268">Subject
                                    <span class="elq-required">*
                                    </span>
                                </label>
                            </div>
                            <div class="field-control-parent col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" name="subject" id="fe268"
                                                placeholder="Literature from New York Life Investment Management."
                                                value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement4" class="elq-field-style form-element-layout row">
                            <div class="field-control-parent col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div style="text-align:left;">Your email address is used only to identify you to
                                            the recipient and in case of transmission errors. Neither your address nor
                                            the recipient's address will be sold or used for any purpose other than
                                            transmission of this message.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement5" class="elq-field-style form-element-layout row">
                            <div class="field-control-parent col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div>
                                            <input type="Submit" class="submit-button-style " value="Email" id="fe241">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="elqCampaignID" id="fe239" value="">
            <input type="hidden" name="cmpid" id="fe240" value="">
            <input type="hidden" name="pageURL" id="fe243" value="${canonicalUrlModel.canonicalUrl}">
            <input type="hidden" name="C_UserRole" id="fe244" value="${roleContainerModel.activeUser}">
            <input type="hidden" name="redirectURL" id="fe245" value="${redirectPageModel.publishUrl}">
            <input type="hidden" name="docTitle1" id="fe247" value="">
            <input type="hidden" name="docURL1" id="fe248" value="">
            <input type="hidden" name="docTitle2" id="fe249" value="">
            <input type="hidden" name="docURL2" id="fe250" value="">
            <input type="hidden" name="docTitle3" id="fe251" value="">
            <input type="hidden" name="docURL3" id="fe252" value="">
            <input type="hidden" name="docTitle4" id="fe253" value="">
            <input type="hidden" name="docURL4" id="fe254" value="">
            <input type="hidden" name="docTitle5" id="fe255" value="">
            <input type="hidden" name="docURL5" id="fe256" value="">
            <input type="hidden" name="docTitle6" id="fe257" value="">
            <input type="hidden" name="docURL6" id="fe258" value="">
            <input type="hidden" name="docTitle7" id="fe259" value="">
            <input type="hidden" name="docURL7" id="fe260" value="">
            <input type="hidden" name="docTitle8" id="fe261" value="">
            <input type="hidden" name="docURL8" id="fe262" value="">
            <input type="hidden" name="docTitle9" id="fe263" value="">
            <input type="hidden" name="docURL9" id="fe264" value="">
            <input type="hidden" name="docTitle10" id="fe265" value="">
            <input type="hidden" name="docURL10" id="fe266" value="">
        </div>
    </form>
    <!--/*Eloqua Markup Ends*/-->
</sly>
