<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.title, classAppend='cmp-subscription-center-form-placeholder'}" />
<div class="cmp-subscription-center-form">
    <div data-sly-test="${properties.title}" class="cmp-subscription-center-form__title">${properties.title}</div>
    <div data-sly-test="${properties.description}" class="cmp-subscription-center-form__description">
        ${properties.description}</div>
    <hr>
    <sly data-sly-include="subscription-center-form.eloqua.html"></sly>
</div>
