<sly data-sly-use.roleContainerModel="com.nyl.nylim.models.RoleContainerModel"
    data-sly-use.canonicalUrlModel="com.nyl.foundation.models.CanonicalUrlModel"
    data-sly-use.requestAttribute="${'com.nyl.foundation.models.RequestAttributeModel' @ setComponentName = 'eloqua'}"
    data-sly-use.redirectPageModel="${'com.nyl.foundation.models.LinkRewriteModel' @ path=properties.redirectUrl}">

    <!--/*Eloqua Markup*/-->
    <form method="post" id="form24" name="SubscriptionCenter_Form_MAR2020"
        action="https://s2108552627.t.eloqua.com/e/f2" class="elq-form eloqua-subscription-center">
        <input value="SubscriptionCenter_Form_MAR2020" type="hidden" name="elqFormName">
        <input value="2108552627" type="hidden" name="elqSiteId">
        <input name="elqCampaignId" type="hidden">
        <div class="layout container-fluid">
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement0" class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div style="text-align:left;">
                                            <h4 class="elq-heading form-element-form-text">1. Enter Email
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-element-instruction">Enter your email to select or manage your
                                    subscriptions.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement1" class="elq-field-style form-element-layout row">
                            <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label " for="fe214">Email Address
                                    <span class="elq-required">*
                                    </span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" name="C_EmailAddress" id="fe214"
                                                value="" style="width:100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement2" class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div style="text-align:left;">
                                            <h4 class="elq-heading form-element-form-text">2. Manage Subscriptions
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement3" class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div style="text-align:left;">
                                            <h4 class="elq-heading form-element-form-text">Insights
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement4" class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div style="text-align:left;">Select the insights you would like to receive from
                                            us—or choose to hear from all our deep domain experts.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="insight-list">
                <div class="row">
                    <div class="grid-layout-col">
                        <div class="layout-col col-sm-12 col-xs-12">
                            <div id="formElement5" class="elq-field-style form-element-layout row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div>
                                                <div class="single-checkbox-row row">
                                                    <input type="checkbox" name="Select_All_Insights" id="fe223">
                                                    <label class="checkbox-aligned elq-item-label" for="fe223">Select
                                                        All Insights
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-layout-col">
                        <div class="layout-col col-sm-12 col-xs-12">
                            <div id="formElement6" class="elq-field-style form-element-layout row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div>
                                                <div class="single-checkbox-row row">
                                                    <input type="checkbox" name="marketInsights" id="fe224">
                                                    <label class="checkbox-aligned elq-item-label" for="fe224">Market
                                                        Insights
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-layout-col">
                        <div class="layout-col col-sm-12 col-xs-12">
                            <div id="formElement7" class="elq-field-style form-element-layout row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div>
                                                <div class="single-checkbox-row row">
                                                    <input type="checkbox" name="alternatives" id="fe225">
                                                    <label class="checkbox-aligned elq-item-label"
                                                        for="fe225">Alternatives
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-layout-col">
                        <div class="layout-col col-sm-12 col-xs-12">
                            <div id="formElement8" class="elq-field-style form-element-layout row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div>
                                                <div class="single-checkbox-row row">
                                                    <input type="checkbox" name="equities" id="fe226">
                                                    <label class="checkbox-aligned elq-item-label" for="fe226">Equities
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-layout-col">
                        <div class="layout-col col-sm-12 col-xs-12">
                            <div id="formElement9" class="elq-field-style form-element-layout row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div>
                                                <div class="single-checkbox-row row">
                                                    <input type="checkbox" name="fixedIncome" id="fe227">
                                                    <label class="checkbox-aligned elq-item-label" for="fe227">Fixed
                                                        Income
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-layout-col">
                        <div class="layout-col col-sm-12 col-xs-12">
                            <div id="formElement10" class="elq-field-style form-element-layout row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div>
                                                <div class="single-checkbox-row row">
                                                    <input type="checkbox" name="multiAsset" id="fe228">
                                                    <label class="checkbox-aligned elq-item-label"
                                                        for="fe228">Multi-Asset
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement11" class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div>
                                            <div class="single-checkbox-row row">
                                                <input type="checkbox" name="unsubscribe" id="fe222">
                                                <label class="checkbox-aligned elq-item-label" for="fe222">Unsubscribe
                                                    from all emails
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div id="formElement12" class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div>
                                            <input type="Submit" class="submit-button-style " value="Subscribe"
                                                id="fe221">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="C_UserRole" id="fe215" value="${roleContainerModel.activeUser}">
            <input type="hidden" name="elqCampaignId" id="fe217" value="">
            <input type="hidden" name="redirectURL" id="fe218" value="${redirectPageModel.publishUrl}">
            <input type="hidden" name="cmpid" id="fe219" value="">
            <input type="hidden" name="pageURL" id="fe220" value="${canonicalUrlModel.canonicalUrl}">
            <input type="hidden" name="elqCustomerGUID" value="">
            <input type="hidden" name="elqCookieWrite" value="0">
        </div>
    </form>
    <!--/*Eloqua Markup Ends*/-->
</sly>
