<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.teaserHeadline, classAppend='cmp-cost-of-ltc-placeholder'}" />
<div class="cmp-cost-of-ltc" data-i18-values='{
    "service": "${"foundation.category.service" @i18n}",
    "unit": "${"foundation.category.unit" @i18n}",
    "type": "${"foundation.category.type" @i18n}",
    "usNationalAvg": "${"foundation.category.usNationalAvg" @i18n}",
    "numberOne": "${"foundation.number.one" @i18n}",
    "numberTwo": "${"foundation.number.two" @i18n}",
    "numberThree": "${"foundation.number.three" @i18n}"
    }' data-authored-values='{
        "errorMessage": "${properties.errorMessage}",
        "homeHealthCareMonthlyAlert": "${properties.homeHealthCareMonthlyAlert}",
        "assistedLivingFacilitiesHourlyAlert": "${properties.assistedLivingHourlyAlert}",
        "assistedLivingFacilitiesDailyAlert": "${properties.assistedLivingDailyAlert}",
        "skilledNursingHomeMonthlyAlert": "${properties.skilledNursingMonthlyAlert}",
        "skilledNursingHomeHourlyAlert": "${properties.skilledNursingHourlyAlert}",
        "baseStateMessage": "${properties.defaultStateMessage}"
    }'>
    <div class="cmp-cost-of-ltc__heading" data-sly-test="${properties.teaserHeadline}">
        ${properties.costOfLtcHeadline}
    </div>
    <form class="cmp-cost-of-ltc__form" data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel"
        id="cmp-cost-of-ltc-form">
        <a class="cmp-cost-of-ltc__listcontainer--modifyinfo accordion-button collapsed" data-toggle="collapse"
            href="#cmp-cost-of-ltc__modifyinfo-${identifier.id}" role="button" aria-expanded="false"
            aria-controls="cmp-cost-of-ltc__modifyinfo-${identifier.id}" onKeyDown="">
            ${'foundation.modify' @ i18n}<span class="cmp-cost-of-ltc__caret-icon"></span>
        </a>
        <div id="cmp-cost-of-ltc__modifyinfo-${identifier.id}"
            class="cmp-cost-of-ltc__listcontainer--modifyinfo--body collapse show"
            aria-labelledby="cmp-cost-of-ltc__modifyinfo-${identifier.id}">
            <div class="form-group dropDownList cmp-cost-of-ltc__listcontainer row">
                <div class="col-12 col-lg-6" data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
                    <p class="cmp-cost-of-ltc__listcontainer--label-top">${properties.teaserHeadline}</p>
                    <label class="cmp-cost-of-ltc__listcontainer--label-state"
                        for="state-${identifier.id}">${'ltc.general.locationText' @
                        i18n}</label>
                    <div class="row">
                        <div class="col-12 col-md-6 cmp-cost-of-ltc__state-select-wrapper">
                            <select id="state-${identifier.id}" name="state" required
                                class="col form-control form-control-lg cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__state-selector"
                                data-select-value="${'ltc.general.selectRegion' @ i18n}">
                                <option value="" selected disabled>${'ltc.general.selectState' @ i18n}</option>
                                <sly data-sly-use.model="${'com.nyl.foundation.models.CommonValuesModel' @ property='usStatesLtc'}"
                                    data-sly-list.states="${model.keyValues}">
                                    <option value="${states.key}">${states.value}</option>
                                </sly>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 cmp-cost-of-ltc__region-select-wrapper">
                            <label data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel"
                                for="region-${identifier.id}" class="d-none">${'ltc.general.selectRegion' @
                                i18n}</label>
                            <select id="region-${identifier.id}" name="region" disabled
                                class="col form-control form-control-lg  cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__region-selector">
                                <option value="" selected disabled>${'ltc.general.selectRegion' @ i18n}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 cmp-cost-of-ltc__listcontainer--filters" id="ltcFilters">
                    <label class="cmp-cost-of-ltc__listcontainer--label-rate">${'foundation.rate' @ i18n}</label>
                    <div class="row">
                        <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                            <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration hourly"
                                value="hourly">${'foundation.rate.hourly'
                                @i18n}</button>
                        </div>
                        <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                            <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration daily"
                                value="daily">${'foundation.rate.daily'
                                @i18n}</button>
                        </div>
                        <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                            <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration monthly"
                                value="monthly">${'foundation.rate.monthly'
                                @i18n}</button>
                        </div>
                        <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                            <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration yearly"
                                value="yearly">${'foundation.rate.yearly'
                                @ i18n}</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="nyl-button cmp-cost-of-ltc__ltcsubmit" disabled>${'foundation.buttons.apply'
                @i18n}</button>
            <button type="submit" class="nyl-button cmp-cost-of-ltc__ltcapply">${'foundation.buttons.apply'
                @i18n}</button>
        </div>
    </form>
    <div class="cmp-cost-of-ltc__card--container row">
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card home">
                <div class="cmp-cost-of-ltc__card--heading">${properties.homeHealthCareHeadline}</div>
                <div class="cmp-cost-of-ltc__card--description">${properties.homeHealthCareDescription}</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table"></div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card assist">
                <div class="cmp-cost-of-ltc__card--heading">${properties.assistedLivingHeadline}</div>
                <div class="cmp-cost-of-ltc__card--description">${properties.assistedLivingDescription}</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table"></div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card skilled">
                <div class="cmp-cost-of-ltc__card--heading">${properties.skilledNursingHeadline}</div>
                <div class="cmp-cost-of-ltc__card--description">${properties.skilledNursingDescription}</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table"></div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
    </div>
    <h6 class="cmp-cost-of-ltc__disclaimer">${properties.disclaimer @ context="html"}</h6>
    <h6 class="cmp-cost-of-ltc__footnote">${properties.footnote @ context="html"}</h6>

    <div class="cmp-cost-of-ltc__no-data-card-template d-none">
        <em class="cmp-cost-of-ltc__card--info-icon"></em>
        <div class="cmp-cost-of-ltc__card--info-desc"></div>
    </div>
    <div class="cmp-cost-of-ltc__data-row-item-template d-none">
        <div class="row">
            <div class="cmp-cost-of-ltc__card--table-room col-8">
                <span></span>
                <p class="cmp-cost-of-ltc__card--table-room-avg"></p>
            </div>
            <div class="cmp-cost-of-ltc__card--table-rate col-4">
                <span></span>
                <p class="cmp-cost-of-ltc__card--table-rate-avg"></p>
            </div>
        </div>
    </div>
    <div class="cmp-cost-of-ltc__card--category-heading-template d-none">
        <div class="cmp-cost-of-ltc__card--category-heading">
            <div class="row">
                <div class="cmp-cost-of-ltc__card--table-unit col-8">${categoryTitle}</div>
                <div class="cmp-cost-of-ltc__card--table-month col-4">${rate}</div>
            </div>
        </div>
    </div>

    <div class="cmp-cost-of-ltc__error">${properties.errorMessage}</div>
</div>
