<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-indexes-table-placeholder'}"
    data-sly-use.requestAttribute="${'com.nyl.foundation.models.RequestAttributeModel' @ setComponentName = 'datatable'}"
    data-sly-use.indexesModel="${'com.nyl.nylim.models.IndexesTableModel'}" />
<div class="cmp-indexes-table">
    <app-datatable indexes="${indexesModel.indexesObject}"></app-datatable>
</div>
