.cmp-compare-products {
    .ec-section__section .ec-section__header {
        align-items: center;
        display: flex;

        .ec-section__toggle,
        .ec-section__toggle.ec-section__toggle--expanded {
            border-radius: 0;
            box-shadow: none;
            height: calcRem(10px);
            margin-left: auto;
            padding: 0;
            width: calcRem(18px);

            &:hover {
                background-color: initial;
            }

            .ec-section__toggle-caption {
                display: none;
            }
        }

        .ec-section__toggle {
            background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
        }

        .ec-section__toggle.ec-section__toggle--expanded {
            background: url('../resources/images/icon-arrow-1--steel.svg') no-repeat center/contain;
        }
    }

    .ec-section--actions #ec-investment-compare-container-investment-compare-group-section-panel-actions {
        margin: calcRem(38px) 0 calcRem(6px);

        .ec-action-container__list.mds-button-group {
            padding: 0;

            .ec-button__link--print {
                &::before {
                    content: none;
                }

                background: $medium-rain;
                border-radius: 0;
                box-shadow: none;
                height: calcRem(48px);
                padding: calcRem(15px) calcRem(20px);
                position: relative;
                width: calcRem(234px);

                .mds-button__text {
                    @include font-size(16px);
                    @include line-height(22px);
                    font-family: $font-family-helvetica-neue;
                }

                .mds-button__icon {
                    height: calcRem(18px);
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(-60px, -50%);
                    width: calcRem(18px);
                }

                &:hover,
                &:focus:hover,
                &:focus,
                &:active {
                    background: $medium-rain-2;

                    .mds-button__icon {
                        fill: $white;
                    }
                }
            }
        }
    }

    .ec-section--header-row #ec-investment-compare-container-investment-compare-group-section-panel-header-row {
        margin: calcRem(40px) 0 calcRem(33px);

        section.ec-section__section.ec-section__section--action-table.ec-section--no-header {
            z-index: 1;
        }

        .ec-pagination {
            align-items: center;
            border-radius: 0;
            box-shadow: none;
            display: flex;

            .ec-pagination__link {
                @include font-size(14px);
                @include line-height(16px);
                align-items: center;
                color: $steel;
                display: flex;
                font-family: $font-family-helvetica-neue;
                letter-spacing: calcRem(1.75px);

                &:focus {
                    font-weight: $font-weight-bold;
                }

                &:first-child {
                    margin-right: calcRem(30px);
                }
            }

            .mds-pagination__icon {
                fill: $steel;
                margin: 0 0 0 calcRem(16px);
                top: 0;
            }

            .ec-pagination__item:first-child .mds-pagination__icon {
                margin: 0 calcRem(16px) 0 0;
            }
        }

        .ec-autocomplete-search {
            .mds-search-field__input,
            .mds-list-group__item--header span,
            .mds-list-group__item-text span {
                @include font-size(16px);
                color: $steel;
                font-family: $font-family-helvetica-neue;
            }

            .mds-search-field__input {
                background-color: $light-steel-3;
                border: 1px solid $light-steel-3;
            }

            .mds-list-group__item--header span {
                font-weight: $font-weight-bold;
            }

            .ec-autocomplete-container__item:not(:first-child) {
                border-top: 1px solid $light-steel-3;
            }
        }

        .mds-data-table {
            margin: 0;
        }

        .ms-neat-row {
            padding: 0;
        }

        .ec-button__btn--add {
            background-color: $light-steel-3;
            box-shadow: none;

            .mds-button__icon {
                fill: $steel;
                height: calcRem(20px);
                margin-bottom: calcRem(13px);
                width: calcRem(20px);
            }

            .mds-button__text {
                @include font-size(16px);
                @include line-height(18px);
                color: $steel;
                font-family: $font-family-helvetica-neue;
                font-weight: $font-weight-regular;
                letter-spacing: calcRem(0.5px);
            }
        }

        .ec-table__investment-color-palette--0 {
            background-color: $medium-rain;
        }

        .ec-table__investment-color-palette--1 {
            background-color: $dark-gold;
        }

        .ec-table__investment-color-palette--2 {
            background-color: $dark-palm;
        }

        .ec-table__investment-color-palette--3 {
            background-color: $dark-salmon;
        }

        .ec-table__investment-color-palette--4 {
            background-color: $dark-twilight;
        }

        .ec-button__btn--add,
        .ec-table__investment-color-palette--0,
        .ec-table__investment-color-palette--1,
        .ec-table__investment-color-palette--2,
        .ec-table__investment-color-palette--3,
        .ec-table__investment-color-palette--4 {
            border-radius: 0;
            border: none;
            padding: 0 calcRem(4px);
        }

        .ec-key-value-pair__field-value--name {
            font-family: $font-family-alda;
        }

        .ec-key-value-pair__field-value--ticker {
            @include line-height(16px);
            font-family: $font-family-helvetica-neue;
            letter-spacing: calcRem(0.44px);
            opacity: 0.8;
        }

        .ec-key-value-pair__field-value--name,
        .ec-key-value-pair__field-value--ticker {
            color: $white;
            font-weight: $font-weight-regular;
        }

        .ec-button__btn--remove .mds-button__icon {
            fill: $white;
            height: calcRem(18px);
            width: calcRem(18px);
        }
    }

    .ec-section--key-statistics {
        border-top: 8px solid $medium-rain;

        .ec-section__section--key-statistics {
            border: none;
            margin: calcRem(32px) 0 calcRem(35px);
        }

        .ec-section__header {
            margin: 0 0 calcRem(24px);
            padding: 0;

            .ec-section__title span {
                @include font-size(36px);
                @include line-height(44px);
                color: $steel;
                font-family: $font-family-helvetica-neue;
                font-weight: $font-weight-bold;
            }
        }

        #ec-investment-compare-container-investment-compare-group-section-panel-key-statistics {
            margin: 0 0 calcRem(65px);

            .ec-table__row {
                align-items: center;
                background: $light-steel-3;
                display: flex;
                margin: 0 0 calcRem(2px);
                min-height: calcRem(56px);
                padding: 0 calcRem(23px);

                &:last-child {
                    margin: 0;
                }

                .ec-table__cell {
                    border: none;
                }

                th.ec-table__cell > div.ec-table__cell-content span,
                td.ec-table__cell > div.ec-table__cell-content,
                td.ec-table__cell > div.ec-table__cell-content span {
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                }

                th.ec-table__cell > div.ec-table__cell-content span {
                    @include font-size(16px);
                    @include line-height(18px);
                    font-weight: $font-weight-regular;
                }

                td.ec-table__cell > div.ec-table__cell-content,
                td.ec-table__cell > div.ec-table__cell-content span {
                    @include font-size(14px);
                    @include line-height(17px);
                    font-weight: $font-weight-medium;
                }
            }
        }
    }

    .ec-section--growth-chart {
        border-top: 8px solid $dark-gold;

        .ec-section__section--growth-chart {
            border: none;
            margin: calcRem(82px) 0 calcRem(110px);
        }

        .ec-section__header {
            padding: 0;

            .ec-section__title {
                margin: 0;

                span {
                    @include font-size(16px);
                    @include line-height(19px);
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    font-weight: $font-weight-bold;
                    letter-spacing: calcRem(1.14px);
                    text-transform: uppercase;
                }
            }
        }

        #ec-investment-compare-container-investment-compare-group-section-panel-growth-chart {
            .mkts-cmpt-svgcht-chart-container {
                margin: calcRem(40px) 0 0;
                padding: 0;
            }

            .mkts-cmpt-svgcht-menubar .mkts-cmpt-svgcht-menubar-bottom {
                margin: 0 0 calcRem(37px);

                .mkts-cmpt-svgcht-segment-control {
                    display: flex;
                    height: auto;
                    justify-content: center;
                    margin: 0 auto;
                    max-width: calcRem(742px);

                    .mkts-cmpt-svgcht-segment-option {
                        @include font-size(14px);
                        @include line-height(16px);
                        border-radius: 0;
                        border: 0;
                        color: $steel;
                        display: inline-block;
                        font-family: $font-family-helvetica-neue;
                        height: 100%;
                        letter-spacing: calcRem(1.75px);
                        margin: 0 calcRem(32px);
                        max-width: calcRem(33px);

                        &.active {
                            @include line-height(17px);
                            background: $white;
                            border-bottom: 4px solid $medium-dusk;
                            font-weight: $font-weight-bold;
                        }

                        &:hover {
                            color: $dark-steel-2;
                        }
                    }
                }
            }

            .chart-body .chart-mainchart {
                .mainChart-header {
                    margin: 0 0 calcRem(17px) calcRem(1px);

                    .mainChart-tickerCurrency {
                        @include font-size(14px);
                        @include line-height(16px);
                        color: $steel;
                        font-family: $font-family-helvetica-neue;
                        letter-spacing: calcRem(0.44px);
                    }

                    .mainChart-tickerCon,
                    .compare-legend-con {
                        margin-right: calcRem(29px);

                        .mainChart-tickerName,
                        .mainChart-tickerName-price-change,
                        .compare-legend-text,
                        .compare-price-change {
                            @include font-size(16px);
                            font-family: $font-family-helvetica-neue;
                        }

                        .mainChart-tickerName,
                        .compare-legend-text {
                            @include line-height(19px);
                            font-weight: $font-weight-bold;
                            margin-right: calcRem(10px);
                        }

                        .mainChart-tickerName-price-change,
                        .compare-price-change {
                            @include line-height(18px);
                            letter-spacing: calcRem(0.29px);
                        }
                    }
                }

                .mainChart-body {
                    .mainChart-mainSVG {
                        .gridlines {
                            .grid-y:last-child {
                                stroke: $light-steel-1;
                            }
                        }

                        .mainChart-yAxis {
                            .tick {
                                text {
                                    @include font-size(14px);
                                    @include line-height(16px);
                                    fill: $dark-gray;
                                    font-family: $font-family-helvetica-neue;
                                    letter-spacing: calcRem(0.44px);
                                }

                                line {
                                    stroke-width: 2px !important;
                                    stroke: $medium-gray !important;
                                }
                            }
                        }
                    }

                    .mainChart-xAxisSvg {
                        margin: calcRem(9px) 0 0;

                        text {
                            @include font-size(13px);
                            @include line-height(15px);
                            fill: $dark-gray;
                            font-family: $font-family-helvetica-neue;
                            letter-spacing: calcRem(0.41px);
                        }
                    }
                }
            }

            .crosshairs.popover-tip {
                .mkts-cmpt-svgcht-crosshair-label,
                .mkts-cmpt-svgcht-crosshair--ticker,
                .mkts-cmpt-svgcht-crosshair-name,
                .mkts-cmpt-svgcht-crosshair-value {
                    @include font-size(14px);
                    @include line-height(16px);
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    letter-spacing: calcRem(0.44px);
                }

                .main .growth .mkts-cmpt-svgcht-crosshair-label {
                    border: 0;
                }

                .main .growth,
                .compare {
                    border-top: 1px solid #d3d3d3;
                }
            }
        }
    }

    .ec-section--performance {
        border-top: 8px solid $medium-palm;

        .ec-section__section--performance {
            border: none;
            margin: calcRem(32px) 0 calcRem(35px);
        }

        .ec-section__header {
            padding: 0;

            .ec-section__title.ec-section__title--performance {
                margin: 0;

                span {
                    @include font-size(36px);
                    @include line-height(44px);
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    font-weight: $font-weight-bold;
                }
            }
        }

        #ec-investment-compare-container-investment-compare-group-section-panel-performance {
            margin: 0 0 calcRem(106px);

            .ec-table__table--horizontal {
                margin: 0;
            }

            .ec-section__content--performance-as-of-date {
                margin: calcRem(44px) 0 calcRem(60px);

                .ec-table__row {
                    align-items: center;
                    display: flex;

                    th.ec-table__cell > div.ec-table__cell-content span,
                    td.ec-table__cell > div.ec-table__cell-content {
                        @include font-size(16px);
                        color: $steel;
                        font-family: $font-family-helvetica-neue;
                    }

                    th.ec-table__cell > div.ec-table__cell-content span {
                        @include line-height(19px);
                        font-weight: $font-weight-medium;
                    }

                    td.ec-table__cell > div.ec-table__cell-content {
                        @include line-height(18px);
                        font-weight: $font-weight-regular;
                    }
                }
            }

            .ec-section__header--trailing-performance {
                margin: 0 0 calcRem(28px);

                .ec-section__title--trailing-performance span {
                    @include font-size(16px);
                    @include line-height(19px);
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    font-weight: $font-weight-bold;
                    letter-spacing: calcRem(1.14px);
                    text-transform: uppercase;
                }
            }

            .ec-section__content--trailing-performance .ec-table__row {
                align-items: center;
                background: $light-steel-3;
                display: flex;
                height: calcRem(74px);
                margin: 0 0 calcRem(2px);
                padding: 0 calcRem(26px);

                &:last-child {
                    margin: 0;
                }

                .ec-table__cell {
                    border: none;
                }

                th.ec-table__cell > div.ec-table__cell-content span,
                td.ec-table__cell > div.ec-table__cell-content {
                    @include font-size(16px);
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                }

                th.ec-table__cell > div.ec-table__cell-content span {
                    @include line-height(19px);
                    font-weight: $font-weight-bold;
                }

                td.ec-table__cell > div.ec-table__cell-content {
                    @include line-height(18px);
                    font-weight: $font-weight-regular;
                }
            }

            .ec-table__cell,
            .ec-table__cell-content {
                padding: 0;
            }
        }
    }

    .ec-section--portfolio {
        border-top: 8px solid $medium-dusk;

        .ec-section__section--portfolio {
            border: none;
            padding: 0;
            margin: calcRem(32px) 0 calcRem(35px);
        }

        .ec-section__header {
            padding: 0;

            .ec-section__title.ec-section__title--portfolio {
                margin: 0;

                span {
                    @include font-size(36px);
                    @include line-height(44px);
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    font-weight: $font-weight-bold;
                }
            }
        }

        #ec-investment-compare-container-investment-compare-group-section-panel-portfolio {
            margin: 0 0 calcRem(106px);

            .ec-section--asset-allocation-table table {
                .ec-table__row {
                    padding: 0 calcRem(26px);

                    .ec-table__cell {
                        border: 0;
                    }
                }

                .ec-table__row--0 {
                    align-items: center;
                    display: flex;
                    margin: calcRem(44px) calcRem(-17px) calcRem(60px);
                    padding: 0 calcRem(16px);

                    th.ec-table__cell {
                        padding: 0;

                        > div.ec-table__cell-content {
                            padding: 0;

                            span {
                                @include font-size(16px);
                                @include line-height(19px);
                                color: $steel;
                                font-family: $font-family-helvetica-neue;
                                font-weight: $font-weight-medium;
                            }
                        }
                    }

                    td.ec-table__cell > div.ec-table__cell-content {
                        @include font-size(16px);
                        @include line-height(18px);
                        color: $steel;
                        font-family: $font-family-helvetica-neue;
                        font-weight: $font-weight-regular;
                    }
                }

                .ec-table__row--1 {
                    .ec-asset-allocation__pie-chart svg.mbc-canvas {
                        background: $light-steel-3;
                    }

                    .ec-table__cell {
                        padding: calcRem(28px) calcRem(4px);
                    }

                    .ec-table__cell:first-child {
                        padding: calcRem(28px) 0 calcRem(28px) calcRem(26px);
                    }

                    .ec-table__cell:last-child {
                        padding: calcRem(28px) calcRem(26px) calcRem(28px) 0;
                    }
                }

                .ec-table__row:not(:first-child) {
                    background: $light-steel-3;

                    &:not(:nth-child(2)) {
                        align-items: center;
                        display: flex;
                        height: calcRem(74px);
                        margin: calcRem(2px) 0 0;

                        .ec-table__cell {
                            align-items: center;
                            display: flex;
                            height: 100%;
                        }
                    }

                    th.ec-table__cell > div.ec-table__cell-content span,
                    td.ec-table__cell > div.ec-table__cell-content {
                        @include font-size(16px);
                        color: $steel;
                        font-family: $font-family-helvetica-neue;
                    }

                    th.ec-table__cell > div.ec-table__cell-content span {
                        @include line-height(19px);
                        font-weight: $font-weight-bold;
                    }

                    td.ec-table__cell > div.ec-table__cell-content {
                        @include line-height(18px);
                        font-weight: $font-weight-regular;
                    }
                }

                @media print {
                    .ec-table__row--0 {
                        min-width: 1000px;
                    }

                    .ec-table__row--1 .ec-table__cell {
                        display: inline-block;
                    }
                }
            }

            .ec-section--equity-sectors {
                &[section-id] {
                    padding: calcRem(44px) calcRem(16px) calcRem(25px);
                }

                .ec-section__header {
                    padding: 0 0 calcRem(28px);

                    .ec-section__title span {
                        @include font-size(16px);
                        @include line-height(19px);
                        color: $steel;
                        font-family: $font-family-helvetica-neue;
                        font-weight: $font-weight-bold;
                        letter-spacing: calcRem(1.14px);
                        text-transform: uppercase;
                    }
                }

                .ec-section__content--equity-sectors {
                    .ec-table__table--horizontal {
                        margin: 0;
                    }

                    .ec-table__tbody {
                        .ec-table__row {
                            align-items: center;
                            background: $light-steel-3;
                            display: flex;
                            height: calcRem(74px);
                            margin: 0 0 calcRem(2px);
                            padding: 0 calcRem(26px);

                            th.ec-table__cell > div.ec-table__cell-content span:last-child,
                            td.ec-table__cell > div.ec-table__cell-content {
                                @include font-size(16px);
                                color: $steel;
                                font-family: $font-family-helvetica-neue;
                            }

                            th.ec-table__cell > div.ec-table__cell-content span:last-child {
                                @include line-height(19px);
                                font-weight: $font-weight-bold;
                            }

                            td.ec-table__cell > div.ec-table__cell-content {
                                @include line-height(18px);
                                font-weight: $font-weight-regular;
                            }
                        }

                        .ec-table__row:not(:first-child) .ec-table__cell {
                            align-items: center;
                            border: 0;
                            display: flex;
                            height: 100%;
                        }

                        .ec-table__row:last-child {
                            margin: 0;
                        }
                    }
                }
            }

            .ec-section--geographical-breakdown {
                &[section-id] {
                    padding: calcRem(44px) calcRem(16px) 0;
                }

                .ec-section__header {
                    padding: 0 0 calcRem(28px);

                    .ec-section__title span {
                        @include font-size(16px);
                        @include line-height(19px);
                        color: $steel;
                        font-family: $font-family-helvetica-neue;
                        font-weight: $font-weight-bold;
                        letter-spacing: calcRem(1.14px);
                        text-transform: uppercase;
                    }
                }

                .ec-section__content--geographical-breakdown {
                    .ec-table__table--horizontal {
                        margin: 0;
                    }

                    .ec-table__tbody {
                        .ec-table__row {
                            align-items: center;
                            background: $light-steel-3;
                            display: flex;
                            height: calcRem(74px);
                            margin: 0 0 calcRem(2px);
                            padding: 0 calcRem(26px);

                            th.ec-table__cell > div.ec-table__cell-content span,
                            td.ec-table__cell > div.ec-table__cell-content {
                                @include font-size(16px);
                                color: $steel;
                                font-family: $font-family-helvetica-neue;
                            }

                            th.ec-table__cell > div.ec-table__cell-content span {
                                @include line-height(19px);
                                font-weight: $font-weight-bold;
                            }

                            td.ec-table__cell > div.ec-table__cell-content {
                                @include line-height(18px);
                                font-weight: $font-weight-regular;
                            }
                        }

                        .ec-table__row:not(:first-child) {
                            .ec-table__cell {
                                align-items: center;
                                border: 0;
                                display: flex;
                                height: 100%;
                            }
                        }

                        .ec-table__row:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .ec-section--risk-and-rating {
        border-top: 8px solid $medium-sunset;

        .ec-section__section--risk-and-rating {
            border: none;
            padding: 0;
            margin: calcRem(32px) 0 calcRem(35px);
        }

        .ec-section__header {
            padding: 0;

            .ec-section__title.ec-section__title--risk-and-rating {
                margin: 0;

                span {
                    @include font-size(36px);
                    @include line-height(44px);
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    font-weight: $font-weight-bold;
                }
            }
        }

        #ec-investment-compare-container-investment-compare-group-section-panel-risk-and-rating {
            margin: 0 0 calcRem(106px);

            .ec-section--risk-mpt-stats {
                &[section-id] {
                    padding: 0 calcRem(16px);
                    margin: calcRem(44px) 0 0;
                }
            }

            .ec-table__table--horizontal {
                margin: 0;

                .ec-table__row {
                    align-items: center;
                    background: $light-steel-3;
                    display: flex;
                    height: calcRem(74px);
                    margin: 0 0 calcRem(2px);
                    padding: 0 calcRem(26px);

                    .ec-table__cell {
                        border: 0;
                    }

                    th.ec-table__cell > div.ec-table__cell-content span,
                    td.ec-table__cell > div.ec-table__cell-content {
                        @include font-size(16px);
                        color: $steel;
                        font-family: $font-family-helvetica-neue;
                    }

                    th.ec-table__cell > div.ec-table__cell-content span {
                        @include line-height(19px);
                        font-weight: $font-weight-bold;
                    }

                    td.ec-table__cell > div.ec-table__cell-content {
                        @include line-height(18px);
                        font-weight: $font-weight-regular;
                    }
                }

                .ec-table__row:last-child {
                    margin: 0;
                }
            }
        }
    }

    @extend %mobile-full-width;

    &__graph {
        display: block;
    }

    &__rotate {
        @extend %mobile-full-width;
        display: none;

        &-title,
        &-description {
            background: $light-steel-3;
            font-family: $font-family-helvetica-neue;
            margin: 0 calcRem(20px);
        }

        &-title {
            @extend %font-weight-bold;
            @include font-size(16px);
            @include line-height(19px);
            padding: calcRem(40px) calcRem(20px) calcRem(8px);
        }

        &-description {
            @include font-size(14px);
            @include line-height(20px);
            padding: 0 calcRem(20px) calcRem(40px);
        }
    }

    @include media-breakpoint-down(xs) {
        @media (orientation: portrait) {
            &__graph {
                display: none;
            }

            &__rotate {
                display: block;
            }
        }
    }
}
