.cmp-key-takeaways {
    text-align: center;
    border-radius: 4px;
    padding: calcRem(40px) 0 calcRem(20px);
    border: 4px solid $medium-quartz;

    >svg {
        width: 200px;
    }
    h3 {
        padding-left: calcRem(20px);
        padding-right: calcRem(20px);
        margin-bottom: calcRem(20px);
    }

    &__card-container {
        padding: calcRem(20px);
        @include media-breakpoint-down(sm) {
            .nyl-button {
                padding-left : 0;
                padding-right : 0;
            }
        }
    }

    .h4 {
        position: relative;
        padding: 0 calcRem(8px) calcRem(2px) calcRem(8px);

        &:after {
            content: '';
            position: absolute;
            width: 35px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 4px;
            height: 4px;
            background-color: $medium-quartz;
        }
    }

    p {
        padding-top: 0;
    }

    &__flex-container {
        flex-direction: column;

        >div {
            width: 100%;
        }
    }

    &--image-bottom {
        .cmp-key-takeaways {
            display: flex;
            flex-direction: column;

            &__image {
                order: 5;
                padding-bottom: calcRem(20px);
            }
        }
    }

    &--in-page {
        padding: calcRem(40px) calcRem(12px);
        @include media-breakpoint-up(sm) {
            .cmp-key-takeaways__flex-container {
                >div {

                    &:first-child:nth-last-child(n + 2),
                    &:first-child:nth-last-child(n + 2)~div {
                        max-width: 25%;
                        min-width: 25%;
                    }
                }
            }
        }

        .cmp-key-takeaways__flex-container {
            width: 100%;
            flex-direction: row;
        }

        .cmp-key-takeaways__image {
            display: none;
        }

        h4,
        a {
            display: none;
        }
        p {
            margin-bottom: 0;
        }
    }
}

// BORDER COLORS
@each $medium-color-name,
$medium-color in $medium-colors {
    .cmp-key-takeaways--#{$medium-color-name} {
        .cmp-key-takeaways {
            border: 4px solid $medium-color;
        }

        .cmp-key-takeaways .h4 {
            &:after {
                background-color: $medium-color;
            }
        }
    }
}

