<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-calendar-year-returns-placeholder'}" />

<div class="cmp-calendar-year-returns">
    <div class="container">
        <div class="cmp-calendar-year-returns__heading"></div>
        <div class="cmp-calendar-year-returns__left"></div>
        <div class="cmp-calendar-year-returns__right cmp-calendar-year-returns__right-gradient"></div>
        <div class="cmp-calendar-year-returns__loading-state"></div>
        <div class="cmp-calendar-year-returns__table">
        </div>
    </div>
</div>
