<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.elementName, classAppend='cmp-form-radio-button-placeholder'}" />
<div class="cmp-form-radio-button" data-sly-test=${properties.elementName}>
    <div class="cmp-form-radio-button__wrapper" data-input-type="radio-group" required-type="${properties.required}">
        <p class="cmp-form-radio-button__question">
            ${properties.question}<span data-toggle="popover" data-sly-test=${properties.toolTip}
                data-content=${properties.toolTip}><img
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/tool-tip-question-mark-icon.svg"
                    class="icon-tool-tip" alt=""></span>
        </p>
        <div class="cmp-form-radio-button__container"
            data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @appendPath='itemList'}"
            data-sly-repeat.radioList="${resourceModel.children}">
            <input type="radio" class="cmp-form-radio-button__circle"
                id="cmp-form-radio-button__id-${properties.elementName}-${radioList.value}"
                name=${properties.elementName} value=${radioList.value}
                required="${properties.required?'required':''}" />
            <label class="cmp-form-radio-button__label"
                for="cmp-form-radio-button__id-${properties.elementName}-${radioList.value}"><span></span>${radioList.text}</label>
        </div>
    </div>
</div>
