<!-- START SEARCH INPUT/BTN -->
<div class="cmp-search-input">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <form id="cmp-search-input--search-form">
                <fieldset>
                    <legend>Search</legend>
                    <h1>Search</h1>
                    <!-- AEM AUTHORABLE -->
                    <div class="input-group mb-3">
                        <label for="cmp-search-input__search-input"></label>
                        <input type="search" class="form-control cmp-search-input__search-input"
                            placeholder="Type to search" aria-label="Type to search"
                            aria-describedby="cmp-search-input__search-btn" id="cmp-search-input__search-input"
                            data-searchResultsPageURL="/pages/components/search.html" />
                        <!-- Placeholder is AEM authorable -->
                        <div class="input-group-app">
                            <button class="nyl-button cmp-search-input__search-btn" type="button"
                                id="cmp-search-input__search-btn">
                                <i class="icon-search--white" aria-hidden="true"><svg width="32" height="32"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path class="icon-search"
                                            d="M24.992 12.951c0 6.534-5.296 11.83-11.83 11.83-6.532 0-11.828-5.296-11.828-11.83 0-6.533 5.296-11.83 11.829-11.83s11.83 5.297 11.83 11.83zm-3.384 8.28l9.059 9.059"
                                            stroke-width="2" stroke="#FFF" fill="none" fill-rule="evenodd"
                                            stroke-linecap="round" stroke-linejoin="round" /></svg></i>
                            </button>

                            <!-- Button is AEM authorable -->
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="nyl-button cmp-search-input__search-btn"></div>
</div>
<!-- /END SEARCH INPUT/BTN -->
