.cmp-pm-profile {
    .card {
        background-color: $light-steel-3;
        @extend %full-width;
        margin-bottom: calcRem(32px);
    }
    &__image {
        width: 100%;
        @include media-breakpoint-up(lg) {
            max-height: calcRem(350px);
            &--section {
                min-height: calcRem(350px);
                max-width: calcRem(350px);
            }
        }
        @include media-breakpoint-down(md) {
            max-height: calcRem(300px);
            &--section {
                min-height: calcRem(300px);
                max-width: calcRem(300px);
            }
        }
        @include media-breakpoint-down(sm) {
            max-height: calcRem(388px);
            &--section {
                min-height: calcRem(388px);
                max-width: calcRem(388px);
            }
        }
        @include media-breakpoint-down(xs) {
            max-height: calcRem(291px);
            &--section {
                min-height: calcRem(291px);
                max-width: calcRem(291px);
            }
        }
    }
    &__icon {
        &--boutique {
            &:after {
                content: '';
                width: calcRem(15px);
                height: calcRem(15px);
                display: inline-block;
                background: url('../resources/images/icon-boutique.svg') no-repeat center/contain;
            }
        }
    }
    &__social-share {
        ul {
            padding-left: 0px;
            list-style-type: none;
            li {
                margin-right: calcRem(14px);
                display: inline;
                div {
                    align-items: center;
                    display: inline-flex;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
        &--icon {
            &--twitter {
                &:after {
                    content: '';
                    display: inline-block;
                    background: url('../resources/images/icon-twitter--steel.svg') no-repeat center/contain;
                }
            }
            &--linkedin {
                &:after {
                    content: '';
                    display: inline-block;
                    background: url('../resources/images/icon-linkedin--steel.svg') no-repeat center/contain;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        &__headings {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &--name {
                font-family: $font-family-alda;
                @include font-size(50px);
                @include line-height(54px);
                margin-bottom: calcRem(25px);
            }
            &--title {
                font-family: $font-family-helvetica-neue;
                @include font-size(18px);
                @include line-height(24px);
                margin-bottom: calcRem(14px);
            }
            &--boutique a {
                font-family: $font-family-helvetica-neue;
                font-weight: $font-weight-bold;
                @include font-size(13px);
                @include line-height(16px);
            }
        }
        &__detail {
            &--text p {
                font-family: $font-family-helvetica-neue;
                @include font-size(16px);
                @include line-height(24px);
            }
            &--achievements {
                margin-top: calcRem(30px);
                &--name {
                    font-family: $font-family-alda;
                    @include font-size(22px);
                    @include line-height(30px);
                    margin-bottom: calcRem(24px);
                }
                &--info {
                    font-family: $font-family-helvetica-neue;
                    @include font-size(16px);
                    @include line-height(24px);
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .hide-for-large {
            display: none;
        }
        &__social-share {
            ul {
                min-height: calcRem(40px);
                li {
                    display: inline-block;
                    min-width: calcRem(36px);
                    div {
                        width: calcRem(36px);
                        height: calcRem(36px);
                        padding: calcRem(8.4px);
                        background-color: $light-steel-3;
                        border-radius: calcRem(17px);
                    }
                }
            }
            &--icon {
                &--twitter {
                    &:after {
                        width: calcRem(16px);
                        height: calcRem(14.4px);
                    }
                }
                &--linkedin {
                    &:after {
                        width: calcRem(16px);
                        height: calcRem(14.4px);
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(lg) {
        &__container {
            margin: 0 auto;
            max-width: calcRem(1140px);
            padding-right: calcRem(20px);
            padding-left: calcRem(20px);
        }
    }
    @include media-breakpoint-down(sm) {
        &__image--section {
            order: 1;
            margin-top: calcRem(40px);
            min-height: calcRem(157px);
        }
        &__headings {
            order: 2;
            &--name {
                font-family: $font-family-alda;
                @include font-size(28px);
                @include line-height(32px);
                margin-top: calcRem(24px);
                margin-bottom: calcRem(12px);
            }
            &--title {
                @include font-size(16px);
                margin-bottom: calcRem(15px);
            }
            &--boutique {
                max-width: 50%;
            }
            &--boutique a {
                @include font-size(14px);
                font-weight: $font-weight-bold;
                @include line-height(19px);
                margin-bottom: calcRem(32px);
                max-width: calcRem(157px);
            }
        }
        &__detail {
            &--text p {
                @include font-size(14px);
                @include line-height(20px);
            }
            &--achievements {
                margin-top: calcRem(40px);
                &--name {
                    font-family: $font-family-alda;
                    @include font-size(20px);
                    @include line-height(26px);
                    margin-bottom: calcRem(16px);
                }
                &--info {
                    @include font-size(14px);
                    @include line-height(20px);
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .hide-for-small {
            display: none;
        }
        &__social-share {
            margin: calcRem(32px) calcRem(0px) calcRem(41px);
            min-height: calcRem(41.5px);
            ul {
                li {
                    margin-right: calcRem(12px);
                    display: inline-block;
                    min-width: calcRem(40px);
                    div {
                        padding: calcRem(8.8px);
                        width: calcRem(40px);
                        height: calcRem(40px);
                        background-color: $white;
                        border-radius: calcRem(18px);
                    }
                }
            }
            &--icon {
                &--twitter {
                    &:after {
                        width: calcRem(18.67px);
                        height: calcRem(15.87px);
                        margin-top: calcRem(5px);
                    }
                }
                &--linkedin {
                    &:after {
                        width: calcRem(18.67px);
                        height: calcRem(16.8px);
                    }
                }
            }
        }
    }
}
