<sly data-sly-use.goPartnerProfileModel="${'com.nyl.nylcom.models.agentweb.GoPartnerProfileModel'}" />
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = goPartnerProfileModel.goPartnerProfileCount < 1, classAppend='cmp-go-partner-profile-placeholder'}" />

<div class="cmp-go-partner-profile" data-sly-test="${goPartnerProfileModel.goPartnerProfileCount > 0}">
    <div
        class="${goPartnerProfileModel.goPartnerProfileCount > 1 ? 'cmp-go-partner-profile__container--2col' : 'cmp-go-partner-profile__container'}">
        <div class="cmp-go-partner-profile__description"
            data-sly-test="${goPartnerProfileModel.goPartnerProfileCount > 1}">
            ${properties.cardBodyText @ context='html'}
        </div>
        <sly data-sly-list.partnerProfile="${goPartnerProfileModel.partnerProfiles}">
            <div class="cmp-go-partner-profile__card d-flex">
                <div class="cmp-go-partner-profile__card--container">
                    <div class="cmp-go-partner-profile__image"
                        data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.fallbackProfilePicture}"
                        data-sly-test.profileImageUrl="${partnerProfile.profileImageUrl ? partnerProfile.profileImageUrl : properties.fallbackProfilePicture }">
                        <img alt="${partnerProfile.managingPartnerName} ${'nyl.agent.managingPartnerLabel' @i18n}"
                            src=${profileImageUrl} data-aem-asset-id="${imageModel.imageId}"
                            data-trackable="${imageModel.imageId? 'true' : ''}" />
                    </div>
                    <div class="cmp-go-partner-profile__description"
                        data-sly-test="${goPartnerProfileModel.goPartnerProfileCount < 2}">
                        ${properties.cardBodyText @ context='html'}
                    </div>
                    <div class="cmp-go-partner-profile__social"
                        data-sly-test="${partnerProfile.linkedInUrl || partnerProfile.twitterUrl}">
                        <h5>${properties.socialMediaText}</h5>
                        <a data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.linkedInIconPath}"
                            href="${partnerProfile.linkedInUrl}" data-sly-test="${partnerProfile.linkedInUrl}"
                            onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}">
                            <img src="${properties.linkedInIconPath}" data-aem-asset-id="${imageModel.imageId}"
                                data-trackable="${imageModel.imageId? 'true' : ''}"
                                alt="${goPartnerProfileModel.altTextForLinkedIn}" width="50" height="50">
                        </a>
                        <a data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.twitterIconPath}"
                            href="${partnerProfile.twitterUrl}" data-sly-test="${partnerProfile.twitterUrl}"
                            onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}">
                            <img src="${properties.twitterIconPath}" data-aem-asset-id="${imageModel.imageId}"
                                data-trackable="${imageModel.imageId? 'true' : ''}"
                                alt="${goPartnerProfileModel.altTextForTwitter}" width="50" height="50">
                        </a>
                    </div>
                </div>
                <div class="cmp-go-partner-profile__border--container">
                    <p class="cmp-go-partner-profile__contact">
                        <span>
                            <span class="cmp-go-partner-profile__contact--bold">${partnerProfile.partnerName} -</span>
                            ${'nyl.agent.managingPartnerLabel' @i18n}<br>
                        </span>
                        <span data-sly-test="${partnerProfile.partnerAddress}">
                            <span class="cmp-go-partner-profile__contact--medium"></span>
                            ${partnerProfile.partnerAddress}<br>
                        </span>
                        <span
                            data-sly-use.businessNumber="${'com.nyl.foundation.models.FormatterModel' @ input=partnerProfile.businessPhoneNumber}"
                            data-sly-test="${partnerProfile.businessPhoneNumber}">
                            <span class="cmp-go-partner-profile__contact--medium">${'foundation.businessPhoneLabel'
                                @i18n}:</span>
                            ${businessNumber.phoneNumber}<br>
                        </span>
                        <span
                            data-sly-use.preferredNumber="${'com.nyl.foundation.models.FormatterModel' @ input= partnerProfile.preferredPhoneNumber}"
                            data-sly-test="${partnerProfile.preferredPhoneNumber}">
                            <span class="cmp-go-partner-profile__contact--medium">${'foundation.preferredPhoneLabel'
                                @i18n}:</span>
                            ${preferredNumber.phoneNumber}<br>
                        </span>
                        <span
                            data-sly-use.fax="${'com.nyl.foundation.models.FormatterModel' @ input= partnerProfile.faxNumber}"
                            data-sly-test="${partnerProfile.faxNumber}">
                            <span class="cmp-go-partner-profile__contact--medium">${'foundation.faxPhoneLabel'
                                @i18n}:</span>
                            ${fax.phoneNumber}<br>
                        </span>
                        <span class="cmp-go-partner-profile__contact--break-all"
                            data-sly-test="${partnerProfile.partnerEmail}">
                            <span class="cmp-go-partner-profile__contact--medium">${'nyl.socialShare.email'
                                @i18n}:</span>
                            <a href="mailto:${partnerProfile.partnerEmail}">
                                ${partnerProfile.partnerEmail}</a>
                        </span>
                    </p>
                    <a data-sly-use.button="${'com.nyl.foundation.models.LinkModel' @ prefix='cta'}"
                        href="${button.url}" title="${button.title}" target="${button.behavior}"
                        data-sly-test="${properties.ctaLinkText && button.url}">
                        <span class="nyl-button button--secondary">
                            ${button.text}
                            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg"
                                class="icon-cta-arrow" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </sly>
    </div>

</div>
