<div class="cmp-search-result">
    <div class="cmp-search-result__empty" style="display: none;">
        <div class="cmp-search-result__empty-results">
            <div class="row">
                <div class="col-lg-12">
                    <p class="cmp-search-result__empty-results__no-result-text">
                        <span class="font-weight-bold">
                            No Results
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2 class="base-font font-weight-regular">
                    Suggested Results</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 cmp-search-result__empty--wrap">
                <div class="card cmp-search-result__empty--card">
                    <div class="card-body">
                        <h3 class="card-title">Suggested</h3>
                        <p class="card-text">Suggested desc</p>
                        <a target="_self">
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="cmp-search-result__facets"
        data-facets="%5B%7B%22values%22%3A%5B%22Who%20We%20Are%22%2C%22Our%20Difference%22%2C%22Our%20Global%20Boutiques%22%2C%22Our%20Leaders%22%2C%22Careers%22%2C%22News%22%5D%2C%22name%22%3A%22facet_about-new-york-life-investment_mvs%22%2C%22label%22%3A%22About%20New%20York%20Life%20Investments%22%7D%2C%20%7B%22values%22%3A%5B%22Mutual%20Funds%22%2C%22Exchange%20Traded%20Funds%20%28ETFs%29%22%2C%22IndexIQ%20Indexes%22%2C%22Closed-End%20Funds%22%2C%22Separately%20Managed%20Accounts%20%28SMAs%29%22%2C%22Variable%20Portfolio%22%2C%22Institutional%22%2C%22Unit%20Investment%20Trusts%22%2C%22Stable%20Value%22%5D%2C%22name%22%3A%22facet_product-types_mvs%22%2C%22label%22%3A%22Product%20Types%22%7D%2C%20%7B%22values%22%3A%5B%22Alternatives%22%2C%22Equities%22%2C%22Fixed%20Income%22%2C%22Money%20Market%22%2C%22Multi-Asset%22%5D%2C%22name%22%3A%22facet_asset-class_mvs%22%2C%22label%22%3A%22Asset%20Class%22%7D%2C%20%7B%22values%22%3A%5B%22Alternatives%20-%20Hedge%20Fund%20of%20Funds%22%2C%22Alternatives%20-%20MLPs%22%2C%22Alternatives%20-%20Real%20Assets%22%2C%22Alternatives%20-%20Real%20Estate%22%2C%22Equities%20-%20Growth%22%2C%22Equities%20-%20Large-Cap%22%2C%22Equities%20-%20Mid-Cap%22%2C%22Equities%20-%20Small-Cap%22%2C%22Equities%20-%20Value%22%2C%22Fixed%20Income%20-%20Bank%20Loans%22%2C%22Fixed%20Income%20-%20Collateralized%20Loan%20Obligations%22%2C%22Fixed%20Income%20-%20Convertible%20Securities%22%2C%22Fixed%20Income%20-%20High%20Yield%22%2C%22Fixed%20Income%20-%20Investment%20Grade%22%2C%22Fixed%20Income%20-%20Municipal%20Bonds%22%2C%22Fixed%20Income%20-%20Secured%20Products%22%2C%22Fixed%20Income%20-%20US%20Treasuries%22%2C%22Multi-Asset%20-%20Balanced%22%2C%22Multi-Asset%20-%20Convertibles%22%2C%22Multi-Asset%20-%20Income%20Builder%22%5D%2C%22name%22%3A%22facet_asset-subclass_mvs%22%2C%22label%22%3A%22Asset%20Subclass%22%7D%2C%20%7B%22values%22%3A%5B%22Longevity%20and%20Growth%22%2C%22Generating%20Income%22%2C%22Managing%20Volatility%22%2C%22Combating%20Inflation%22%2C%22Tax-Efficient%20Investing%22%2C%22Workplace%20and%20Retirement%22%2C%22ESG%20Investing%22%2C%22Defined%20Outcome%20Investing%22%5D%2C%22name%22%3A%22facet_strategy_mvs%22%2C%22label%22%3A%22Strategy%22%7D%2C%20%7B%22values%22%3A%5B%22Ausbil%22%2C%22Candriam%22%2C%22Credit%20Value%20Partners%22%2C%22Cushing%20Asset%20Management%22%2C%22Epoch%20Investment%20Partners%22%2C%22GoldPoint%20Partners%22%2C%22IndexIQ%22%2C%22MacKay%20Shields%22%2C%22Madison%20Capital%20Funding%22%2C%22Multi-Asset%20Solutions%22%2C%22New%20York%20Life%20Investment%20Management%20Asia%22%2C%22NYL%20Investors%22%2C%22NYL%20Investors%20-%20Fixed%20Income%22%2C%22NYL%20Investors%20-%20Private%20Capital%22%2C%22NYL%20Investors%20-%20Real%20Estate%22%2C%22PA%20Capital%22%2C%22Tristan%20Capital%20Partners%22%2C%22Winslow%20Capital%20Management%22%2C%22CBRE%20Clarion%20Securities%22%2C%22Markston%22%2C%22Wellington%20Management%22%5D%2C%22name%22%3A%22facet_boutiques_mvs%22%2C%22label%22%3A%22Boutiques%22%7D%2C%20%7B%22values%22%3A%5B%22Fact%20Sheets%22%2C%22Forms%20and%20Applications%22%2C%22Literature%20%28Non-Product%29%22%2C%22Product%20Commentary%22%2C%22Product%20Literature%22%2C%22Annual%20and%20Semiannual%20Report%22%2C%22Prospectus%22%2C%22Summary%20Prospectus%22%2C%22Statement%20of%20Additional%20Information%22%2C%22Correspondence%22%2C%22Infographic%22%2C%22Proxies%22%5D%2C%22name%22%3A%22facet_publication-type_mvs%22%2C%22label%22%3A%22Publication%20Type%22%7D%2C%20%7B%22values%22%3A%5B%22U.S.%22%2C%22Global%22%2C%22International%22%2C%22Emerging%20Markets%22%2C%22Europe%22%2C%22Europe%20Middle%20East%20%28EMEA%29%22%2C%22Asia-Pacific%22%5D%2C%22name%22%3A%22facet_exposure_mvs%22%2C%22label%22%3A%22Exposure%22%7D%5D"
        data-facets-enabled="1" style="display: block;">
        <div class="row d-xl-none d-lg-none d-md-none">
            <div class="offset-xl-6 offset-lg-6 offset-md-6 col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <button type="button" class="cmp-search-result__facets--med-vw-btn btn">
                    <span class="cmp-search-result__facets__label--filters">Filters Applied <span>0</span></span> <span
                        class="cmp-search-result__facets--filter-chevron-r"></span>
                </button>
            </div>
        </div>
        <div class="d-xl-block d-lg-block d-md-none d-sm-none d-none cmp-search-result__facets--applied d-md-block">
            <div class="row">
                <div class="col-lg-12 ">
                    <span class="cmp-search-result__facets__label--filters d-md-none">Filters Applied </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 cmp-search-result__facets__desktop-applied-filters d-none">
                    <button class="cmp-search-result__facets--clear-facets btn">Clear All Filters</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cmp-search-result__facets--wrap col-md-auto col-10 d-none d-md-block">
                <div class="row d-xl-none d-lg-none d-md-none">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <button class="cmp-search-result__facets--back-btn btn">
                            <span class="cmp-search-result__facets--filter-chevron-l"></span>
                            Back
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-6 col-6 d-flex align-items-center">
                        <h2
                            class="cmp-search-result__facets--sm-heading cmp-search-result__facets__refine-results-heading">
                            Refine your results</h2>
                    </div>
                    <div
                        class="d-xl-none d-lg-none col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6 text-left text-md-right text-sm-right d-md-none">
                        <button class="cmp-search-result__facets--clear-facets">Clear All Filters</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="accordion cmp-search-result__facets--accordion"
                            id="cmp-search-result__facets--accordion">
                            <div class="card" data-facet-card="facet_product-types" style="display: block;">
                                <div class="card-header" id="facet_product-types">
                                    <button class="cmp-search-result__facets--collapse-btn btn btn-link collapsed"
                                        type="button" data-toggle="collapse" data-target="#collapse_facet_product-types"
                                        aria-expanded="true" aria-controls="collapse_facet_product-types">
                                        <span class="mb-0">Product Types</span>
                                        <i class="cmp-search-result__facets--icon-arrow" aria-label="hidden"></i>
                                    </button>
                                </div>
                                <div id="collapse_facet_product-types" class="collapse"
                                    aria-labelledby="facet_product-types">
                                    <div class="card-body cmp-search-result__facets--filter-btns"
                                        data-facet-field-card="facet_product-types"><button
                                            class="cmp-search-result__facets--filter-btn btn btn-link"
                                            data-selected="false" data-field="facet_product-types"
                                            data-value="IndexIQ Indexes">
                                            IndexIQ Indexes
                                            <span class="cmp-search-result__facets--filter-btn-close"></span>
                                        </button></div>
                                </div>
                            </div>
                            <div class="card" data-facet-card="facet_asset-class" style="display: block;">
                                <div class="card-header" id="facet_asset-class">
                                    <button class="cmp-search-result__facets--collapse-btn btn btn-link collapsed"
                                        type="button" data-toggle="collapse" data-target="#collapse_facet_asset-class"
                                        aria-expanded="true" aria-controls="collapse_facet_asset-class">
                                        <span class="mb-0">Asset Class</span>
                                        <i class="cmp-search-result__facets--icon-arrow" aria-label="hidden"></i>
                                    </button>
                                </div>
                                <div id="collapse_facet_asset-class" class="collapse"
                                    aria-labelledby="facet_asset-class">
                                    <div class="card-body cmp-search-result__facets--filter-btns"
                                        data-facet-field-card="facet_asset-class"><button
                                            class="cmp-search-result__facets--filter-btn btn btn-link"
                                            data-selected="false" data-field="facet_asset-class"
                                            data-value="Alternatives">
                                            Alternatives
                                            <span class="cmp-search-result__facets--filter-btn-close"></span>
                                        </button></div>
                                </div>
                            </div>
                            <div class="card" data-facet-card="facet_boutiques" style="display: block;">
                                <div class="card-header" id="facet_boutiques">
                                    <button class="cmp-search-result__facets--collapse-btn btn btn-link collapsed"
                                        type="button" data-toggle="collapse" data-target="#collapse_facet_boutiques"
                                        aria-expanded="true" aria-controls="collapse_facet_boutiques">
                                        <span class="mb-0">Boutiques</span>
                                        <i class="cmp-search-result__facets--icon-arrow" aria-label="hidden"></i>
                                    </button>
                                </div>
                                <div id="collapse_facet_boutiques" class="collapse" aria-labelledby="facet_boutiques">
                                    <div class="card-body cmp-search-result__facets--filter-btns"
                                        data-facet-field-card="facet_boutiques"><button
                                            class="cmp-search-result__facets--filter-btn btn btn-link"
                                            data-selected="false" data-field="facet_boutiques" data-value="IndexIQ">
                                            IndexIQ
                                            <span class="cmp-search-result__facets--filter-btn-close"></span>
                                        </button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cmp-search-result__facets__search-results col-md-7" style="display: block;">
                <div class="cmp-search-result__promoted d-none">
                    <div class="row ">
                        <div class="col-lg-12 col-md-12">
                            <h2 class="cmp-search-result__facets--sm-heading cmp-search-result--heading d-none">
                                Recommended Results</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 cmp-search-result__promoted--wrap"></div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <h1 class="cmp-search-result__facets--sm-heading cmp-search-result--heading">
                            Search Results</h1>
                    </div>
                </div>
                <div class="cmp-search-result--results-wrapper">
                    <div class="row cmp-search-result--result">
                        <div class="col cmp-search-result--result-snippet">
                            <h2>
                                <a class="font-weight-medium"
                                    href="https://dev.newyorklifeinvestments.com/indices/iq-hedge-composite-beta-index-iqhgcob"
                                    target="_self">
                                    IQ Hedge Composite Beta Index | New York Life Investments
                                </a>
                            </h2>
                            <p><span class="highlight">Index</span> Methodology . Contact Us Jump To Title Jump To Title
                                Overview Overview IndexIQ's <span class="highlight">IQ Hedge Beta Indexes</span> were
                                launched in March 2007 as the market's first family of <span
                                    class="highlight">hedge</span> fund replication <span
                                    class="highlight">indexes</span>. This suite of <span
                                    class="highlight">indexes</span> serves as the basis for IndexIQ's other <span
                                    class="highlight">hedge</span> fund replication <span
                                    class="highlight">indexes</span>, which themselves underlie IndexIQ's <span
                                    class="highlight">hedge</span> fund replication ETFs. The <span class="highlight">IQ
                                    Hedge Composite Beta Index</span> seeks to replicate the risk-adjusted return
                                characteristics of the collective <span class="highlight">hedge</span> funds using
                                various <span class="highlight">hedge</span> ... </p>
                        </div>
                    </div>
                </div>
                <div class="row cmp-search-result--load-more">
                    <div class="col-lg-12 col-sm-12 text-center d-none">
                        <button type="button" class="nyl-button button--primary cmp-search-result__load-more"
                            id="cmp-search-result__load-more" data-hits="10" data-search-url="/bin/nyl/api.search.json"
                            data-initialized="true">
                            <div class="cmp-search-result__not-loading">
                                Load More</div>
                            <div class="cmp-search-result__loading-icon d-none">
                                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                                    alt="Loading icon" width="38" height="38">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cmp-search-result__facets__loading-text col-7" style="display: none;">
                <p>Loading...</p>
            </div>
        </div>
    </div>
    <span id="btnLabel" data-attribute="Learn more"></span>
</div>
<div class="col-lg-12 cmp-search-result__facets__desktop-applied-filters">
    <button class="cmp-search-result__facets--clear-facets btn">Clear All Filters</button>
    <button class="cmp-search-result__facets--filter-btn btn btn-link" data-selected="true"
        data-field="facet_investor-resources" data-value="FAQs">
        FAQs
        <span class="cmp-search-result__facets--filter-btn-close"></span>
    </button><button class="cmp-search-result__facets--filter-btn btn btn-link" data-selected="true"
        data-field="facet_advisor-resources" data-value="Literature">
        Literature
        <span class="cmp-search-result__facets--filter-btn-close"></span>
    </button>
</div>
<div class="cmp-search-result__promoted">
    <div class="row ">
        <div class="col-lg-12 col-md-12">
            <h2 class="cmp-search-result__facets--sm-heading cmp-search-result--heading">
                Recommended Results</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 cmp-search-result__promoted--wrap">
            <div class="card cmp-search-result__promoted--card">
                <div class="card-body">
                    <h3 class="card-title">Promotion 2</h3>
                    <p class="card-text">This promotion will be displayed when the correct Promotion query has been
                        entered</p>
                    <a href="https://dev.nylannuities.com" title="Promotion 2">
                        <span class="nyl-button button--link-text">
                            Learn more
                            <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card cmp-search-result__promoted--card">
                <div class="card-body">
                    <h3 class="card-title">Promotion 1</h3>
                    <p class="card-text">This promotion will be displayed when the correct Promotion query has been
                        entered</p>
                    <a href="https://dev.nylannuities.com" title="Promotion 1">
                        <span class="nyl-button button--link-text">
                            Learn more
                            <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
