<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.contributorContentFragment || !pageProperties.contributorContentFragment, classAppend='cmp-contributor-placeholder'}" />
<sly data-sly-set.cfPath="${properties.contributorContentFragment || pageProperties.contributorContentFragment}" />
<div class="cmp-contributor"
    data-sly-test="${properties.contributorContentFragment || pageProperties.contributorContentFragment}"
    data-sly-use.contributorResource="${'com.nyl.foundation.models.ResourceModel' @resourcePath=cfPath,  appendPath='jcr:content/data/master'}"
    data-sly-set.contributorDetails="${contributorResource.properties}">
    <h2>${contributorDetails.headline}</h2>
    <div class="cmp-contributor__container">
        <sly data-sly-test="${contributorDetails.image}"
            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.imageTemplate @ componentName='contributor', imagePath=contributorDetails.image, imgClass='cmp-contributor__container--image'}">
        </sly>
        <div class="cmp-contributor__container--info">
            <span class="name">${contributorDetails.firstName} ${contributorDetails.lastName}</span>
            <span class="proffession">${contributorDetails.title}</span>
        </div>
        <div class="cmp-contributor__container--description">
            <span class="bio">${contributorDetails.contributorBio @context='html'}</span>
            <span class="contact">
                <label for="contributor email">${'nyl.core.contributorEmailConnect' @i18n }
                    ${contributorDetails.firstName} : </label> <a
                    href="mailto:${contributorDetails.email}">${contributorDetails.email}</a></span>
        </div>
    </div>
</div>
