<div class="cmp-unclaimed-funds">
    <form class="unclaimed-funds-form" id="unclaimed-funds-form" validate>
        <h3 class="unclaimed-funds-form--unsuccessful-error">There was an error submitting your request. Please try
            again.</h3>
        <div class="mb-3">
            <label for="unclaimed-last-name">Last Name</label>
            <input type="text" name="lastName" id="unclaimed-last-name" class="form-control form-control-lg">
            <div class="invalid-feedback">Last name or a combination of city, state and/or zip is required</div>
        </div>
        <div class="mb-3">
            <label for="unclaimed-city">City</label>
            <input type="text" name="city" id="unclaimed-city" class="form-control form-control-lg">
            <div class="invalid-feedback">Last name or a combination of city, state and/or zip is required</div>
        </div>
        <div class="mb-3">
            <label for="unclaimed-zip">Zip</label>
            <input type="number" name="zip" id="unclaimed-zip" class="form-control form-control-lg" maxlength="5">
            <div class="invalid-feedback">Last name or a combination of city, state and/or zip is required</div>
        </div>
        <div class="mb-3">
            <label for="unclaimed-state">State</label>
            <select id="unclaimed-state" name="state" class="form-control form-control-lg">
                <option selected="" value="">Select State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AR">Arkansas</option>
                <option value="AZ">Arizona</option>
                <option value="CA">California</option>
                <option value="CT">Connecticut</option>
                <option value="CO">Colorado</option>
                <option value="DE">Delaware</option>
                <option value="DC">District of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="IA">Iowa</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MA">Massachusetts</option>
                <option value="MD">Maryland</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MO">Missouri</option>
                <option value="MS">Mississippi</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VA">Virginia</option>
                <option value="VT">Vermont</option>
                <option value="WA">Washington</option>
                <option value="WI">Wisconsin</option>
                <option value="WV">West Virginia</option>
                <option value="WY">Wyoming</option>
            </select>
            <div class="invalid-feedback">Last name or a combination of city, state and/or zip is required</div>
        </div>
        <button type="submit" name="submit" value="search" class="nyl-button mt-4 mb-2">
            SUBMIT
            <i class="icon-cta-arrow--white" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                    height="14">
                    <g class="icon-cta-arrow" fill="none">
                        <path fill="#FFF" d="M0 6h17v2H0z" />
                        <path stroke="#FFF" stroke-width="2" d="M11 1.343L16.657 7 11 12.657" />
                    </g>
                </svg></i>
        </button>
    </form>
    <div class="my-3 unclaimed-funds-result ">
        <h3>Unclaimed Funds Finder Success</h3>
        <div class="unclaimed-funds-result-data --loading-indicator py-3">
            <div class="unclaimed-funds-result-nodatafound">NO RESULT FOUND</div>
        </div>
    </div>
    <div class="my-3">
        <label for="unclaimed-state-link">If you find your name in the unclaimed fund finder, you can contact the state
            to be
            reimbursed. Select a state website link below to make claim for funds remitted to the state.</label>
        <select id="unclaimed-state-link" class="form-control form-control-lg">
            <option value="default" selected="">Select a state link</option>
            <option value="http://www.moneyquestalabama.com/default.aspx">Alabama</option>
            <option value="http://treasury.dor.alaska.gov/UnclaimedProperty.aspx">Alaska</option>
            <option value="http://www.azunclaimed.gov/">Arizona</option>
            <option value="http://www.auditor.ar.gov/">Arkansas</option>
            <option value="http://www.sco.ca.gov/upd_msg.html">California</option>
            <option value="http://www.colorado.gov/treasury/gcp/">Colorado</option>
            <option value="http://www.state.ct.us/ott/holderoutreachoverview.htm">Connecticut</option>
            <option value="http://revenue.delaware.gov/unclaimedproperty.shtml">Delaware</option>
            <option value="http://cfo.dc.gov/service/unclaimed-property">District of Columbia</option>
            <option value="http://www.fltreasurehunt.org/index.jsp">Florida</option>
            <option value="http://dor.georgia.gov/unclaimed-property-program">Georgia</option>
            <option value="https://www.ehawaii.gov/lilo/app">Hawaii</option>
            <option value="http://www.sto.idaho.gov/unclaimedproperty/">Idaho</option>
            <option value="https://icash.illinois.gov/">Illinois</option>
            <option value="https://indianaunclaimed.gov/apps/ag/ucp/index.html">Indiana</option>
            <option value="https://www.greatiowatreasurehunt.com/">Iowa</option>
            <option value="http://www.kansascash.com/prodweb/up/unclaimed-property.php">Kansas</option>
            <option value="http://www.kytreasury.com/">Kentucky</option>
            <option value="http://www.treasury.state.la.us/default.aspx">Louisiana</option>
            <option value="http://www.maine.gov/treasurer/unclaimed_property/">Maine</option>
            <option value="http://www.marylandtaxes.com/default.asp">Maryland</option>
            <option value="http://www.mass.gov/treasury/unclaimed-prop/">Massachusetts</option>
            <option value="http://www.michigan.gov/treasury/0,1607,7-121-44435---,00.html">Michigan</option>
            <option value="http://www.commerce.state.mn.us/DOC_Unclaimed_Property_Lookup.htm">Minnesota</option>
            <option value="http://www.treasurerlynnfitch.com/unclaimedproperty/Pages/default.aspx">Mississippi</option>
            <option value="https://treasurer.mo.gov/UnclaimedProperty/">Missouri</option>
            <option value="https://revenue.mt.gov/home/businesses/unclaimed_property">Montana</option>
            <option value="https://treasurer.nebraska.gov/up/">Nebraska</option>
            <option value="http://www.nevadatreasurer.gov/Unclaimed_Property/UP_Home/">Nevada</option>
            <option value="http://www.nh.gov/treasury/Divisions/AP/APindex.htm">New Hampshire</option>
            <option value="http://www.unclaimedproperty.nj.gov/">New Jersey</option>
            <option
                value="http://www.tax.newmexico.gov/Individuals/Unclaimed-Property/Pages/Unclaimed-Property-Search.aspx">
                New
                Mexico</option>
            <option value="http://www.osc.state.ny.us/ouf/index.htm">New York</option>
            <option value="https://www.nctreasurer.com/Claim-Your-Cash/Claim-Your-NC_Cash/Pages/default.aspx">North
                Carolina</option>
            <option value="http://www.land.nd.gov/">North Dakota</option>
            <option value="http://www.com.ohio.gov/unfd/">Ohio</option>
            <option value="http://www.ok.gov/treasurer/index.html">Oklahoma</option>
            <option value="https://oregonup.us/upweb/up/up_login.asp">Oregon</option>
            <option value="http://www.patreasury.org/unclaimedProperty.html">Pennsylvania</option>
            <option value="http://www.treasury.ri.gov/unclaimedproperty/">Rhode Island</option>
            <option value="http://www.treasurer.sc.gov/unclaimed-property/">South Carolina</option>
            <option value="https://southdakota.findyourunclaimedproperty.com/">South Dakota</option>
            <option value="http://www.treasury.state.tn.us/unclaim/">Tennessee</option>
            <option value="http://www.window.state.tx.us/up/">Texas</option>
            <option value="https://www.mine.utah.gov/index.asp">Utah</option>
            <option value="http://www.vermonttreasurer.gov/">Vermont</option>
            <option value="http://www.trs.virginia.gov/ucp/default.aspx">Virginia</option>
            <option value="http://ucp.dor.wa.gov/default.aspx">Washington</option>
            <option value="http://www.wvtreasury.com/Unclaimed-Property/Search-Claim">West Virginia</option>
            <option value="http://www.statetreasury.wisconsin.gov/">Wisconsin</option>
            <option value="http://treasurer.state.wy.us/uphome.asp">Wyoming</option>
            <option value="http://www.unclaimedfundsprocessing.com/expiringlists/puertorico5.html">Puerto Rico</option>
            <option value="http://www.unclaimedfundsprocessing.com/expiringlists/virginislands.html">Virgin Islands
            </option>
            <option value="http://www.unclaimedpropertybc.ca/">British Columbia</option>
        </select>
    </div>
    <div class="cmp-unclaimed-funds__state-link-wrapper my-3">
        <p>Your state's website should have opened up in a new tab or window. If it hasn't, you can click the link
            below to go there manually.</p>
        <a title="CTA Title">
            <span class="nyl-button">
                GO TO STATE WEBSITE
                <i class="icon-cta-arrow--black" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="18"
                        height="14">
                        <g class="icon-cta-arrow" fill="none">
                            <path fill="#FFF" d="M0 6h17v2H0z" />
                            <path stroke="#FFF" stroke-width="2" d="M11 1.343L16.657 7 11 12.657" />
                        </g>
                    </svg></i>
            </span>
        </a>
    </div>
</div>