<div class="product-container">
    <div class="cmp-product-container">
        <div class="row no-gutters">
            <div class="col-md-11 cmp-product-container__title">
                Title
            </div>
            <div class="col-md-1 cmp-product-container__print">
                <a><i class="cmp-product-container__print-icon"></i><span
                        class="cmp-product-container__print-text">Print</span></a>
            </div>
        </div>
        <div class="row no-gutters">
            <sly data-sly-test="${properties.product == 'rates-table'}">
                <div class="col-md-3 cmp-product-container__cmp-past-rate"
                    data-sly-test="${properties.hidePastRates  ? 'false' : 'true'}">
                    <span class="cmp-product-container__past-rates">
                    </span>
                    <span class="dropdown">
                        <button class="btn cmp-product-container__past-rates-dropdown dropdown-toggle" type="button"
                            data-toggle="dropdown">
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu cmp-product-container__past-rates-dropdown-menu">
                            <li>
                                <a class="cmp-product-container__past-rates-dropdown--item" href="#">2/8/2021</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </sly>
        </div>
        <div class="cmp-product-container__content-section">
            <div class="col-md-2">
                <ul class="cmp-product-container__list-group">
                    <li><a>Left Nav 1</a></li>
                    <li><a>Left Nav 2</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="cmp-product-container__product-section">
                    <div class="product">
                        <div class="cmp-product">
                            <div class="cmp-product__accordion-item open">
                                <h2 class="cmp-product__accordion-item--heading"
                                    data-leftnav="<p>Annuities Left Nav 1</p>">
                                </h2>
                                <em class="icon-caret"></em>
                                <p>Annuities 1</p>
                                </h2>
                                <div class="cmp-product__accordion-item--content">
                                    <div class="i18-label">Investments and insurance products are: Not FDIC/NCUA
                                        Insured
                                        | Not Insured by Any Federal
                                        Government Agency | Not a Deposit or Other Obligation of, or Guaranteed
                                        by,
                                        the
                                        Bank or Any of its Affiliates | May
                                        Lose Value</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="cmp-product">
                            <div class="cmp-product__accordion-item">
                                <h2 class="cmp-product__accordion-item--heading"
                                    data-leftnav="<p>Annuities Left Nav 2</p>">
                                </h2>
                                <em class="icon-caret"></em>
                                <p>Annuities 2</p>
                                </h2>
                                <div class="cmp-product__accordion-item--content">
                                    <div class="i18-label">Investments and insurance products are: Not FDIC/NCUA
                                        Insured
                                        | Not Insured by Any Federal
                                        Government Agency | Not a Deposit or Other Obligation of, or Guaranteed
                                        by,
                                        the
                                        Bank or Any of its Affiliates | May
                                        Lose Value</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
