.cmp-search {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: $white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    top: calcRem(66px);
    border-top: 1px solid $medium-gray;
    @include media-breakpoint-up(lg) {
        padding: 0 calcRem(10px);
        position: fixed;
        top: calcRem(120px);
        left: 0;
        transition: all 0.5s ease;
        border: none;
        &.sticky {
            top: calcRem(80px);
        }
    }

    &__container {
        margin: auto;
    }

    &__input--layout {
        margin: 0 auto;
        padding: 0;
    }

    &__input {
        border: 1px solid #cdcdcd;
        border-right: none;
        border-radius: 4px 0 0 4px;
        padding: 1.5rem;
        @include font-size(18px);
        width: 100%;
    }
    &__button {
        border-radius: 0 4px 4px 0;
        height: 100%;
        min-height: 100%;
        padding: 0;
        width: 100%;
        img {
            margin-left: 0;
        }
    }
}
