.cmp-search-result {
    &__empty,
    &__facets,
    &__facets__search-results,
    &__facets--applied {
        display: none;
    }
    &__facets__refine-results-heading {
        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }
    }
    &--heading {
        margin-bottom: calcRem(11px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(1px);
        }
    }
    &--result {
        margin-bottom: calcRem(35px);
        &-snippet {
            h2,
            a {
                @include font-size(22px);
                @include line-height(30px);
                margin-bottom: calcRem(14px);
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            p {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(31px);
        }
    }

    // Search Recommended & Promoted
    &__empty,
    &__promoted {
        h2 {
            @include font-size(16px);
            @include line-height(18px);
            @extend %italic;
            @extend %alt-font;
            @extend %font-weight-regular;
            margin-bottom: calcRem(24px);
        }
        h3 {
            @include font-size(22px);
            @include line-height(17px);
            @extend %alt-font;
            @extend %font-weight-regular;
            margin-bottom: calcRem(14px);
        }
        &--wrap {
            display: flex;
            color: $dark-sunset;
            @include media-breakpoint-down(sm) {
                flex-flow: wrap;
            }
        }
        &--card {
            background-color: $light-sunset-2;
            border: none;
            border-radius: 1px;
            margin-right: calcRem(15px);
            flex-basis: 100%;
            .card-body {
                overflow: hidden;
                padding: calcRem(30px);
                display: flex;
                flex-direction: column;
            }
            a {
                margin-top: auto;
                &:hover {
                    text-decoration: none;
                }
                .nyl-button:hover {
                    font-weight: normal;
                }
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: calcRem(10px);
                margin-right: 0;
                .card-body {
                    padding-top: calcRem(20px);
                }
            }
        }
        a {
            @extend .button--link-style;
            .nyl-button {
                padding-left: 0px;
                color: $dark-sunset;
                &:hover {
                    color: $dark-sunset;
                }
                .nyl-button--icon-arrow {
                    &:after {
                        background-image: url('../resources/images/icon-arrow-2--sunset.svg');
                    }
                }

                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
        p {
            margin-bottom: calcRem(12px);
        }

        @include media-breakpoint-down(sm) {
            h2 {
                margin-bottom: calcRem(11px);
                @include font-size(14px);
                @include line-height(23px);
            }
            .nyl-button {
                display: none;
            }
        }
    }
    &__promoted {
        margin-bottom: calcRem(56px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(47px);
            a {
                font-size: 0;
                &:after {
                    content: '.';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    &__empty {
        &-results {
            p {
                margin-bottom: calcRem(32px);
                @extend %italic;
                @extend %alt-font;
                @include font-size(16px);
                @include line-height(18px);
                span {
                    font-style: normal;
                    @include font-size(14px);
                    @extend %base-font;
                    @extend %font-weight-bold;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            &-results {
                margin-bottom: calcRem(37px);

                p {
                    margin-bottom: 0;
                    @include font-size(16px);
                    @include line-height(23px);
                    span {
                        @include line-height(17px);
                    }
                }
            }
        }
    }
    &__facets {
        &--sm-heading,
        &__label--filters {
            @extend %alt-font;
            @extend %italic;
            @include font-size(16px);
            @include line-height(18px);
            margin-bottom: calcRem(15px);
            display: block;
            @include media-breakpoint-down(sm) {
                @include font-size(14px);
                @include line-height(23px);
            }
        }
        &--wrap {
            @include media-breakpoint-down(sm) {
                position: absolute;
                z-index: 1;
                background: $white;
                right: 0;
                top: 80px;
                border: 1px solid $light-rain-2;
                border-right: 0;
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
                padding: calcRem(80px) calcRem(40px);
            }
            @include ie11only {
                width: calcRem(220px);
            }
        }
        &__search-results,
        &__loading-text {
            @include media-breakpoint-up(md) {
                margin-left: calcRem(45px);
            }
        }
        .accordion {
            > .card {
                border-radius: 0;
                > .card-header,
                .card-body {
                    background: transparent;
                    border-bottom: transparent;
                    padding: 0;
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    width: calcRem(190px);
                    span {
                        display: inline-block;
                    }
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
                }
                .card-body {
                    flex-direction: column;
                }
            }
            span[class$='--filter-btn-close'] {
                display: none !important;
            }
        }
        &--collapse-btn,
        &--filter-btn {
            @include font-size(14px);
            margin-bottom: calcRem(2px);
            color: $steel;
            min-height: calcRem(48px);
            width: 100%;
            text-align: left;
            border-radius: 0;
            &:disabled {
                opacity: 0.85;
                color: $steel;
            }
            span:only-child,
            i {
                padding-left: calcRem(5px);
            }
        }
        &--collapse-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include line-height(16px);
            background: $light-steel-1;
            padding: calcRem(15px) calcRem(12px);
            &:hover,
            &:focus {
                text-decoration: none;
                color: $steel;
            }
            &.collapsed {
                .cmp-search-result__facets--icon-arrow {
                    &:after {
                        @include transform(rotate(0));
                    }
                }
            }
        }
        &--filter-btn {
            @include line-height(18px);
            background: $light-steel-3;
            min-height: calcRem(40px);
            padding: calcRem(11px) calcRem(12px);
            &:hover,
            &[data-selected='true'] {
                text-decoration: none;
                color: $white;
                background: $steel;
                &:disabled {
                    color: $white;
                }
            }
            &:focus {
                text-decoration: none;
            }
        }
        &--icon-arrow {
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(10px);
                height: calcRem(10px);
                background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
                @include transform(rotate(180deg));
            }
        }
        &__desktop-applied-filters {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: calcRem(69px);
            .cmp-search-result__facets {
                &--filter-btn {
                    width: calcRem(174px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: calcRem(3px);
                    &-close {
                        &:after {
                            content: '';
                            display: inline-block;
                            width: calcRem(11px);
                            height: calcRem(11px);
                            background: url('../resources/images/icon-close--white-small.svg') no-repeat center/contain;
                        }
                    }
                }
                &--filter-btn,
                &--clear-facets {
                    min-height: fit-content;
                    padding: calcRem(10px) calcRem(12px);
                    box-sizing: content-box;
                }
            }
        }
        &.hide-facet-section {
            .cmp-search-result__facets {
                &--wrap,
                &--applied {
                    display: none !important;
                }
                &__search-results,
                &__loading-text {
                    flex: 0 0 100% !important;
                    max-width: 100% !important;
                    margin-left: 0 !important;
                }
            }
            .cmp-search-result__facets--med-vw-btn {
                @include media-breakpoint-down(sm) {
                    display: none !important;
                }
            }
        }
        &--clear-facets {
            @extend .cmp-search-result__facets--collapse-btn;
            order: 10;
            border: 0;
            padding-left: calcRem(12px);
            padding-right: calcRem(12px);
            justify-content: center;
            width: auto;
            min-width: calcRem(95px);
            &:focus {
                outline: 0;
            }
            @include media-breakpoint-down(sm) {
                margin-left: auto;
                margin-bottom: calcRem(8px);
            }
        }
        &__loading-text {
            margin-top: calcRem(40px);
            p {
                @include font-size(20px);
                @include line-height(30px);
                @extend %font-weight-bold;
            }
        }
        &--back-btn {
            font-size: 0;
            padding: calcRem(4px);
            margin-bottom: calcRem(10px);
        }
        &--filter-chevron-l {
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(20px);
                height: calcRem(20px);
                background: url('../resources/images/icon-close--steel.svg') no-repeat center/contain;
            }
        }
        &--med-vw-btn {
            @extend .cmp-search-result__facets--collapse-btn;
            min-width: 50%;
            width: fit-content;
            padding: calcRem(15px);
            margin-left: auto;
            margin-bottom: calcRem(34px);
            height: calcRem(48px);
            box-sizing: border-box;
            .cmp-search-result__facets__label--filters {
                @extend %base-font;
                @include line-height(16px);
                font-style: normal;
                letter-spacing: 0.5px;
                margin-bottom: 0;
                padding-right: 0;
            }
            &.filters-applied {
                text-decoration: none;
                color: $white;
                background: $steel;
                .cmp-search-result__facets--filter-chevron-r {
                    &:after {
                        background: url('../resources/images/icon-arrow-2--white.svg') no-repeat center/contain;
                    }
                }
            }
        }
        &--filter-chevron-r {
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(16px);
                height: calcRem(16px);
                background: url('../resources/images/icon-arrow-2--steel.svg') no-repeat center/contain;
                @include transform(rotate(180deg));
            }
        }
    }
    &--load-more > div {
        @extend .button--secondary;
        margin-top: calcRem(62px);
        .nyl-button {
            user-select: none;
            border: none;
            &:focus {
                outline: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(41px);
        }
    }
}
