<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.videoAudioCfPath, classAppend='cmp-media-player-placeholder'}" />
<div data-sly-use.mediaPlayerModel="${'com.nyl.foundation.models.MediaPlayerModel' @videoAudioCfPath=properties.videoAudioCfPath}"
    data-sly-set.playlist="${mediaPlayerModel.isPlaylist}" data-sly-test.mediaDetails="${mediaPlayerModel.mediaPlayer}"
    data-sly-set.isAudio="${mediaDetails.mediaType == 'audio'}"
    data-sly-use.identifierModel="com.nyl.foundation.models.IdGeneratorModel" class="cmp-media-player" data-sly-test="${mediaDetails.mediaId}">

    <div class="media-container ${isAudio? 'cmp-media-player__audio':'cmp-media-player__video'}">
        <div data-sly-test="${!playlist}"
            data-sly-use.requestAttributeModel="${'com.nyl.foundation.models.RequestAttributeModel' @setComponentName='video'}"
            style="padding-top: 56.25%; position:relative">
            <div class="${isAudio? 'audio-player':'video-player'}">
                <video-js class="video-js ${isAudio? 'cmp-media-player__audio-player':'cmp-media-player__video'}"
                    id="video-${identifierModel.id}" data-account="${mediaDetails.accountId}"
                    data-player="${mediaDetails.singlePlayerId}" data-video-id="${mediaDetails.mediaId}"
                    data-playlist-id="" data-embed="default" data-application-id="" preload="metadata" controls
                    class="vjs-fluid">
                </video-js>
            </div>
        </div>
        <div data-sly-test="${playlist}"
            data-sly-use.requestAttributeModel="${'com.nyl.foundation.models.RequestAttributeModel' @setComponentName='playlist'}"
            style="padding-top: 70.3125%">
            <video-js class="video-js" id="playlist-${identifierModel.id}" data-account="${mediaDetails.accountId}"
                data-player="${mediaDetails.playlistPlayerId}" data-playlist-id="${mediaDetails.mediaId}"
                data-video-id="" data-embed="default" data-application-id="" preload="metadata" controls
                class="vjs-fluid"
                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
            </video-js>
        </div>
    </div>
    <div data-sly-test="${playlist}" class="vjs-playlist"></div>
</div>

<sly data-sly-test.mediaDetails="${mediaPlayerModel.mediaPlayer}" data-sly-test="${mediaDetails.mediaId}"
    data-sly-use.videoSchemaModel="${'com.nyl.foundation.models.VideoSchemaModel' @componentName='media-player', imagePath=mediaDetails.thumbnail,type=mediaDetails.mediaType, title=mediaDetails.title, description=mediaDetails.description, minutes=mediaDetails.mediaMinutes, seconds=mediaDetails.mediaSeconds}">
    <script type="application/ld+json">
        ${videoSchemaModel.videoSchema @ context='unsafe'}
    </script>
</sly>
