<div class="cmp-form-text-field">
    <div class="col-md-3 col-sm-12">
        <div class="row">
            <label class="cmp-form-text-field__label">How old are you<span data-toggle="popover"
                    data-content="If you don't currently receive pension income, Please Put 0 in the box.">
                    <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/tool-tip-question-mark-icon.svg"
                        class="cmp-form-text-field__icon-tool-tip" alt=""></span>
            </label>
        </div>
        <div class="row">
            <input class="cmp-form-text-field__input" data-id="cmp-form-text-field---913358844_12" type="text"
                required-type="true" masking-type="currency" max-length="7" min-length="5"
                id="cmp-form-text-field__input" name="cmp-form-text-field__input" aria-invalid="false" placeholder="$0">
            <div>
                <span class="cmp-form-text-field__error-msg" data-id="cmp-form-text-field---913358844_12"
                    id="cmp-form-text-field__error-msg">Please Enter Numbers
                    Between 5 and 100</span>
            </div>
        </div>
    </div>
</div>
