.accordion-container {
    .cmp-accordion--expand-collapse {
        .cmp-accordion {
            &-container {
                border-radius: 10px;
                background-color: $light-gray;
                padding: 0 5% 5%;
                margin: $component-margin 0;

                &__heading {
                    color: $dark-rain;
                    font-size: $font-size-medium;
                    font-weight: $font-weight-medium;
                    line-height: 36px;
                    padding-top: 5%;
                    padding-bottom: 1rem;
                    border-radius: 2px;
                    border-bottom: 2px solid $white;
                    display: block;

                    @include media-breakpoint-down(sm) {
                        @include font-size(22px);
                    }
                }
            }

            border: 0;
            border-bottom: 1px solid $medium-gray;
            border-radius: 0;
            background-color: transparent;
            &__header {
                margin: 0;
                border: 0;
                background-color: transparent;
                color: $black;
                font-size: 16px;
                font-weight: $font-weight-medium;
                line-height: 24px;
                padding: 30px 25px 31px 0;
                display: block;
                text-align: left;
                white-space: nowrap;
                .card-title {
                    border: 0;
                    background: transparent;
                    font-weight: $font-weight-medium;
                    white-space: normal;
                    text-align: left;
                    max-width: 90%;
                }

                &:hover {
                    text-decoration: none;
                }
            }

            &__link,
            &__content {
                @include font-size(18px);
                color: $black;
            }

            &__link {
                font-weight: $font-weight-medium;
                padding: calcRem(30px) calcRem(25px) calcRem(31px) 0;
                display: block;
                text-align: left;
                white-space: normal;

                &:hover {
                    text-decoration: none;
                }
            }

            &__content {
                background: $white;
                border-radius: 5px;
                margin-bottom: 30px;
                flex: 1 1 auto;
                padding: 1.25rem;
            }

            &__header::after {
                content: url('../resources/images/icon-minus--black.svg');
                float: right;
            }

            &__header.collapsed::after {
                content: url('../resources/images/icon-plus--black.svg');
            }
        }
        .cmp-accordion__header--expanded {
            display: none;
        }
    }
}

.accordion-container.accordion-container-expand {
    .cmp-accordion--expand-collapse {
        .cmp-accordion {
            &-container {
                background-color: transparent;
                padding: 0;

                &__heading {
                    display: none;
                }
            }

            border: 0;
            border-radius: 0;
            background-color: transparent;
            overflow: hidden;

            &__header--expanded {
                margin: 0;
                padding: 0;
                border: 0;
                background-color: transparent;
                display: block;
                position: relative;
                margin-top: 25px;
                .show-more {
                    display: none;
                }
                .show-less {
                    display: inline-block;
                }
            }

            &__header--expanded .card-title::after {
                content: url('../resources/images/icon-caret--steel.svg');
                float: right;
                margin-left: 23px;
                margin-right: 10px;
                color: $dark-rain;
                font-family: $font-family-effra-pro;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.5px;
                font-weight: $font-weight-bold;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
                position: relative;
                top: -5px;
            }

            &__header--expanded.collapsed {
                .show-more {
                    display: inline-block;
                }
                .show-less {
                    display: none;
                }
            }

            &__header--expanded.collapsed .card-title::after {
                content: url('../resources/images/icon-caret--steel.svg');
                margin-left: 19px;
                margin-right: 16px;
                color: $dark-rain;
                font-family: $font-family-effra-pro;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.5px;
                font-weight: $font-weight-bold;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                position: relative;
                top: 0px;
                width: 16px;
                height: 16px;
            }

            &__header--expanded:after {
                content: '';
                position: absolute;
                width: calc(100% - 60px);
                height: 1px;
                background-color: $twilight-blue;
                top: 28%;
            }

            &__link,
            &__content {
                @include font-size(18px);
                color: $black;
            }

            &__link {
                font-weight: $font-weight-medium;
                padding: calcRem(30px) calcRem(25px) calcRem(31px) 0;
                display: block;
                text-align: left;
                white-space: normal;

                &:hover {
                    text-decoration: none;
                }
            }

            &__content {
                background: transparent;
                margin-bottom: 30px;
                flex: 1 1 auto;
                padding: 0;
            }

            .card-title {
                position: relative;
                background-color: transparent;
                font-family: $font-family-effra-pro;
                font-size: 20px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: 0.5px;
                color: #0a3c53;
                display: inline-block;
                border: 0;
                padding: 5px 6px;
                :focus {
                    border: 0;
                }
            }
            .cmp-accordion__header--nonexpand {
                display: none;
            }
        }
    }
}
