/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * alda:
 *   - http://typekit.com/eulas/00000000000000003b9adc5c
 *   - http://typekit.com/eulas/00000000000000003b9adc5d
 *   - http://typekit.com/eulas/00000000000000003b9adc61
 *   - http://typekit.com/eulas/00000000000000003b9adc60
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-01-27 21:05:03 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=kwi7fse&ht=tk&f=9785.9786.9787.9788.9791.9792.28564.28565.28567.28568&a=630727&app=typekit&e=css');

@font-face {
    font-family: 'alda';
    src: url('https://use.typekit.com/af/d92005/00000000000000003b9adc5c/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/d92005/00000000000000003b9adc5c/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
            format('woff'),
        url('https://use.typekit.com/af/d92005/00000000000000003b9adc5c/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'alda';
    src: url('https://use.typekit.com/af/df9c9b/00000000000000003b9adc5d/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/df9c9b/00000000000000003b9adc5d/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
            format('woff'),
        url('https://use.typekit.com/af/df9c9b/00000000000000003b9adc5d/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'alda';
    src: url('https://use.typekit.com/af/b69b99/00000000000000003b9adc61/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/b69b99/00000000000000003b9adc61/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
            format('woff'),
        url('https://use.typekit.com/af/b69b99/00000000000000003b9adc61/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'alda';
    src: url('https://use.typekit.com/af/616d2f/00000000000000003b9adc60/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/616d2f/00000000000000003b9adc60/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
            format('woff'),
        url('https://use.typekit.com/af/616d2f/00000000000000003b9adc60/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

.tk-alda {
    font-family: 'alda', serif;
}
