/* primary colors */
$white: #ffffff;
$black: #171717;
$brand-blue: #0079c2;
$light-gray: #f5f5f5;
$warm-gray: #717171;
$light-medium-gray: #eee;
$medium-gray: #cdcdcd;
$medium-black: #1a1a1a;
$dark-black: #181818;
$medium-black: #1a1a1a;
$darker-black: #000000;
$dark-gray: #666666;
$error-red: #d82313;

$twilight-blue: #0a3c53;
$dark-grey-blue: #2f596d;

/* 175 colors */
$dark-gold-175: #b19055;
$medium-gold-175: #ffd58e;

/* brand colors */
$medium-salmon: #f6e8ec;
$dark-salmon: #985570;

$medium-twilight: #ebe7f2;
$dark-twilight: #5c4c79;

$medium-dusk: #e6e9f0;
$dark-dusk: #424b6c;

$medium-rain: #e0edf3;
$dark-rain: #205f7c;

$medium-palm: #ebf0ea;
$dark-palm: #466e5a;

$medium-gold: #fff9ee;
$dark-gold: #a76936;

$medium-sunset: #f8e8e2;
$dark-sunset: #745342;

$medium-quartz: #e9e8e8;
$dark-quartz: #0a3c53;

$primary-colors: (
    'white': #ffffff,
    'black': #171717,
    'brand-blue': #0079c2,
    'light-gray': #f5f5f5,
    'medium-gray': #cdcdcd,
    'dark-gray': #666666,
    'twilight-blue': #0a3c53,
);

$medium-colors: (
    'medium-salmon': #f6e8ec,
    'medium-twilight': #ebe7f2,
    'medium-dusk': #e6e9f0,
    'medium-rain': #e0edf3,
    'medium-palm': #ebf0ea,
    'medium-gold': #fff9ee,
    'medium-sunset': #f8e8e2,
    'medium-quartz': #e9e8e8,
);

$dark-colors: (
    'dark-salmon': #985570,
    'dark-twilight': #5c4c79,
    'dark-dusk': #424b6c,
    'dark-rain': #205f7c,
    'dark-palm': #466e5a,
    'dark-gold': #a76936,
    'dark-sunset': #745342,
    'dark-quartz': #0a3c53,
    'dark-grey-blue': #2f596d,
    'steel': #0a3c53,
);

$nested-brand-colors: (
    salmon: (
        medium: #f6e8ec,
        dark: #985570,
    ),
    twilight: (
        medium: #ebe7f2,
        dark: #5c4c79,
    ),
    dusk: (
        medium: #e6e9f0,
        dark: #424b6c,
    ),
    rain: (
        medium: #e0edf3,
        dark: #205f7c,
    ),
    palm: (
        medium: #ebf0ea,
        dark: #466e5a,
    ),
    gold: (
        medium: #fff9ee,
        dark: #a76936,
    ),
    sunset: (
        medium: #f8e8e2,
        dark: #745342,
    ),
    quartz: (
        medium: #e9e8e8,
        dark: #0a3c53,
    ),
);

$brand-colors: map-merge($medium-colors, $dark-colors);

$all-colors: map-merge($primary-colors, $brand-colors);

/* Steel */
$light-steel-1: #dbe2e6;
$light-steel-2: #e8eff2;
$light-steel-3: #f1f6f8;
