/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * effra:
 *   - http://typekit.com/eulas/00000000000000003b9b3dd1
 *   - http://typekit.com/eulas/00000000000000003b9b3dcc
 *   - http://typekit.com/eulas/00000000000000003b9b3dc7
 *   - http://typekit.com/eulas/00000000000000003b9b3dcb
 *   - http://typekit.com/eulas/00000000000000003b9b3dc5
 *   - http://typekit.com/eulas/00000000000000003b9b3dc6
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-01-27 21:05:03 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=kwi7fse&ht=tk&f=9785.9786.9787.9788.9791.9792.28564.28565.28567.28568&a=630727&app=typekit&e=css');

@font-face {
    font-family: 'effra';
    src: url('https://use.typekit.com/af/888f66/00000000000000003b9b3dd1/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/888f66/00000000000000003b9b3dd1/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
            format('woff'),
        url('https://use.typekit.com/af/888f66/00000000000000003b9b3dd1/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'effra';
    src: url('https://use.typekit.com/af/7bf705/00000000000000003b9b3dcc/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/7bf705/00000000000000003b9b3dcc/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
            format('woff'),
        url('https://use.typekit.com/af/7bf705/00000000000000003b9b3dcc/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i4&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'effra';
    src: url('https://use.typekit.com/af/6e36da/00000000000000003b9b3dc7/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/6e36da/00000000000000003b9b3dc7/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
            format('woff'),
        url('https://use.typekit.com/af/6e36da/00000000000000003b9b3dc7/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'effra';
    src: url('https://use.typekit.com/af/1330f6/00000000000000003b9b3dcb/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/1330f6/00000000000000003b9b3dcb/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
            format('woff'),
        url('https://use.typekit.com/af/1330f6/00000000000000003b9b3dcb/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i7&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'effra';
    src: url('https://use.typekit.com/af/2ca0fc/00000000000000003b9b3dc5/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/2ca0fc/00000000000000003b9b3dc5/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
            format('woff'),
        url('https://use.typekit.com/af/2ca0fc/00000000000000003b9b3dc5/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'effra';
    src: url('https://use.typekit.com/af/69da73/00000000000000003b9b3dc6/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i5&v=3')
            format('woff2'),
        url('https://use.typekit.com/af/69da73/00000000000000003b9b3dc6/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i5&v=3')
            format('woff'),
        url('https://use.typekit.com/af/69da73/00000000000000003b9b3dc6/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=i5&v=3')
            format('opentype');
    font-display: auto;
    font-style: italic;
    font-weight: 500;
}

.tk-effra {
    font-family: 'effra', sans-serif;
}
