@import 'effra';
@import 'alda';

$font-family-effra-pro: 'effra', Tahoma, sans-serif;
$font-family-alda-pro: 'alda', Georgia, serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-style-italic: italic;

$font-size-tiny: 11px;
$font-size-small: 21px;
$font-size-xx-small: 14px;
$font-size-x-small: 16px;
$font-size-xxs-medium: 18px;
$font-size-xx-medium: 18px;
$font-size-medium: 24px;
$font-size-x-medium: 28px;
$font-size-large: 20px;
$font-size-xs-large: 34px;
$font-size-x-large: 48px;
$font-size-xxs-large: 54px;
$font-size-xx-large: 58px;
$font-size-huge: 72px;
$font-size-xx-huge: 80px;
$font-size-datapoint: 85px;
