// REM conversions
@function calcRem($num) {
    $stripped: $num / ($num * 0 + 1);
    $rems: $stripped / 16;
    @return #{$rems}rem;
}

@mixin font-size($size) {
    $stripped: $size / ($size * 0 + 1);
    font-size: #{$stripped}px;
    font-size: calcRem($stripped);
    line-height: calcRem($stripped * 1.5);
}

@mixin line-height($font-size, $multiplier) {
    $stripped: $font-size / ($font-size * 0 + 1);
    line-height: calcRem($stripped * $multiplier);
}

/* mixin to add vendor prefixes to transitions */
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

/* mixin to add vendor prefixes to transforms */
@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

/* cross browser opacity */
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin ie11only {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}
@mixin chromeonly {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @content;
    }
}

@mixin edgeonly {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}
// global margin override for top level component
@mixin marginOverrideSelf(
    $class-name,
    $desktop-margin: 30px,
    $mobile-margin: 30px,
    $desktop-padding: 15px,
    $mobile-padding: 15px
) {
    .responsivegrid {
        &.page {
            .#{$class-name} {
                margin-top: calcRem($desktop-margin) !important;
                margin-bottom: calcRem($desktop-margin) !important;
                padding-right: calcRem($desktop-padding) !important;
                padding-left: calcRem($desktop-padding) !important;
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem($mobile-margin) !important;
                    margin-bottom: calcRem($mobile-margin) !important;
                    padding-right: calcRem($mobile-padding) !important;
                    padding-left: calcRem($mobile-padding) !important;
                }
            }
        }
    }
}
