@include marginOverrideSelf('cmp-banner', 0, 0, 0, 0);

:not(.cmp-banner--2-column) {
    .cmp-banner {
        &__wrapper {
            .col-12 {
                .cmp-banner__logo-image {
                    display: block;
                    & ~ * {
                        display: none;
                    }
                }
            }
            .col {
                .cmp-banner__logo-image {
                    display: none;
                }
            }
        }
    }
}

.cmp-banner {
    position: relative;
    @include media-breakpoint-up(md) {
        margin-left: calc(-50vw + 6px);
        margin-right: calc(-50vw + 6px);
        width: calc(100vw - 15px);
        left: 50%;
        right: 50%;
        .full-width--device & {
            width: 100vw;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }
    @extend %mobile-full-width;

    &__image-container,
    &__gradient,
    &__color-overlay,
    &__rule {
        width: 100%;
        margin: auto;
    }
    &__image-container {
        position: relative;
        max-height: calcRem(521px);
        display: flex;
        align-content: center;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            max-height: calcRem(460px);
        }
        img {
            position: absolute;
            left: 50%;
            top: 25%;
            transform: translate(-50%, -25%);
            min-width: 100vw;
        }
    }
    &__gradient,
    &__color-overlay {
        height: calc(100% - 57px - 4px);
        position: absolute;
        bottom: 0;
        left: 0;
        margin: auto;
        mix-blend-mode: multiply;
        @include media-breakpoint-down(sm) {
            height: calc(100% - 36px - 4px);
        }
    }
    &__gradient {
        background: linear-gradient(to right, rgba(10, 60, 83, 0.4), rgba(10, 60, 83, 0));
    }
    &__color-overlay {
        opacity: 0.8;
        background-color: $steel;
    }
    &__rule {
        position: absolute;
        top: calcRem(57px);
        left: 50%;
        @include transform(translateX(-50%));
        @include media-breakpoint-down(sm) {
            top: calcRem(36px);
        }
    }
    &__thick-rule {
        height: calcRem(4px);
        background: $white;
    }
    &__thin-rule {
        height: calcRem(1px);
        background: $white;
        margin-top: calcRem(12px);
    }
    &__wrapper {
        position: absolute;
        margin-top: calcRem(74px);
        margin-left: auto;
        margin-right: auto;
        padding-top: calcRem(45px);
        padding-bottom: calcRem(80px);
        padding-left: calcRem(20px);
        padding-right: calcRem(20px);
        z-index: 0;
        max-width: $max-grid-width;
        width: 100%;
        left: 50%;
        top: 0;
        @include transform(translateX(-50%));
        > div {
            padding: 0;
        }
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(53px);
            padding-top: calcRem(35px);
            padding-bottom: calcRem(50px);
        }
    }
    &__eyebrow,
    &__headline,
    &__subhead,
    &__description,
    p {
        color: $white;
        margin: 0;
    }
    &__eyebrow {
        @extend .h6;
        @extend %font-weight-medium;
        letter-spacing: calcRem(2.67px);
        @include line-height(19px);
        padding-top: calcRem(20px);
        @include media-breakpoint-down(sm) {
            @include font-size(10px);
            @include line-height(12px);
            letter-spacing: calcRem(1.67px);
            padding-top: calcRem(18px);
        }
    }
    &__subhead {
        @include font-size(22px);
        @include line-height(32px);
        padding-top: calcRem(13px);
        @include media-breakpoint-down(sm) {
            @include font-size(16px);
            @include line-height(24px);
            padding-top: calcRem(16px);
        }
    }
    &__description p {
        @include font-size(18px);
        @include line-height(28px);
        padding-top: calcRem(16px);
        @include media-breakpoint-down(sm) {
            @include font-size(14px);
            @include line-height(20px);
            padding-top: calcRem(14px);
        }
    }
    &__button {
        display: flex;
        align-items: center;
        padding-top: calcRem(31px);
        a {
            text-decoration: none;
        }
        @include media-breakpoint-down(xs) {
            flex-direction: column-reverse;
            align-items: flex-start;
            padding-top: calcRem(22px);
        }
    }
    &__social-share {
        display: none;
        &:not(:only-child) {
            padding-left: calcRem(34px);
        }
        @include media-breakpoint-down(xs) {
            &:not(:only-child) {
                padding-left: calcRem(0px);
            }
            flex-direction: column-reverse;
            align-items: flex-start;
            padding-left: 0;
            padding-bottom: calcRem(18px);
        }
    }
    &__email-subscribe,
    &__featured-text,
    &__secondary,
    &__video {
        display: none;
    }
    &__logo-image {
        padding: calcRem(45px) 0;

        @include media-breakpoint-down(md) {
            transform: scale(0.86);
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.86, M12=0, M21=0, M22=0.86, SizingMethod='auto expand')";
        }

        @include media-breakpoint-down(sm) {
            transform: scale(0.7);
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7, M12=0, M21=0, M22=0.7, SizingMethod='auto expand')";
        }

        @include media-breakpoint-down(xs) {
            transform: scale(0.6);
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.6, M12=0, M21=0, M22=0.6, SizingMethod='auto expand')";
        }
    }

    &--l2 {
        .cmp-banner {
            &__eyebrow {
                display: none;
            }
            &__gradient,
            &__color-overlay {
                height: calc(100% - 104px - 4px);
                @include media-breakpoint-down(sm) {
                    height: calc(100% - 36px - 4px);
                }
            }
            &__rule {
                top: calcRem(104px);
                @include media-breakpoint-down(sm) {
                    top: calcRem(36px);
                }
            }
            &__wrapper {
                margin-top: calcRem(121px);
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(53px);
                    padding-top: calcRem(35px);
                    padding-bottom: calcRem(50px);
                }
            }
            &__social-share {
                display: flex;
            }
        }
    }
    &--slim {
        .cmp-banner {
            &__thick-rule,
            &__wrapper {
                display: none;
            }
            &__image-container {
                max-height: calcRem(100px);
                height: calcRem(78px);
                @include media-breakpoint-down(sm) {
                    max-height: calcRem(64px);
                    height: calcRem(48px);
                }
            }
            &__color-overlay {
                bottom: calcRem(16px);
                height: calcRem(49px);
                @include media-breakpoint-down(sm) {
                    bottom: calcRem(12px);
                    height: calcRem(25px);
                }
            }
            &__rule {
                top: unset;
                bottom: calcRem(16px);
                z-index: 2;
                @include media-breakpoint-down(sm) {
                    bottom: calcRem(12px);
                }
            }
            &__thin-rule {
                margin: 0;
            }
            &__gradient {
                background: $steel;
                opacity: 1;
                height: calcRem(16px);
                z-index: 1;
                mix-blend-mode: unset;
                @include media-breakpoint-down(sm) {
                    height: calcRem(12px);
                }
            }
        }
    }

    &--2-column {
        .cmp-banner {
            &__eyebrow,
            &__button {
                display: none;
            }
            &__email-subscribe,
            &__featured-text {
                display: block;
            }
            &__image-container {
                @include media-breakpoint-down(sm) {
                    max-height: calcRem(545px);
                }
            }
            &__wrapper {
                padding-bottom: calcRem(70px);
                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(40);
                    padding-bottom: calcRem(40);
                }
                > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &:not(:only-child) {
                        &:first-child {
                            @include media-breakpoint-up(md) {
                                @include make-col(7);
                            }
                        }
                    }
                }
                .col-12 .cmp-banner__logo-image {
                    display: none;

                    & ~ * {
                        display: block;
                    }

                    & ~ .cmp-banner__button {
                        display: flex;
                    }
                }
                .col {
                    &:before {
                        content: '';
                        position: absolute;
                        background: $white;
                        height: calcRem(114px);
                        width: calcRem(1px);
                        left: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                    }
                    @include media-breakpoint-up(md) {
                        padding-left: calc(100% / 12 / 2 + 15px);
                        margin-left: calc(100% / 12 / 2 + 15px);
                    }
                    @include media-breakpoint-down(sm) {
                        @include make-col(12);
                        margin-top: calcRem(40px);
                        padding-top: calcRem(40px);
                        &:before {
                            height: calcRem(1px);
                            width: 100%;
                            left: unset;
                            top: 0;
                        }
                    }
                    .cmp-banner__logo-image {
                        display: block;
                        max-width: 100%;
                        object-fit: contain;
                    }

                    .pngLogo {
                        @include ie11only {
                            top: 50%;
                            left: 50%;
                            position: absolute;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            &__email-subscribe {
                .cmp-email-subscribe__description {
                    @include font-size(16px);
                    @include line-height(24px);
                }
                .cmp-email-subscribe input[type='text'].elq-item-input {
                    background: white;
                    max-height: calcRem(40px);
                }
                .cmp-email-subscribe input[type='submit'] {
                    max-height: calcRem(40px);
                    background-position-y: center;
                }
            }
            &__featured-text {
                * {
                    color: white !important;
                }
            }
            &__logo-image {
                padding: 0;
            }
        }
    }
    &--hero {
        .cmp-banner {
            &__eyebrow,
            &__description {
                display: block;
            }
            &__image-container {
                @include media-breakpoint-up(md) {
                    max-height: calcRem(900px);
                }
            }
            &__gradient,
            &__color-overlay {
                height: calc(100% - 137px - 28px);
                bottom: unset;
                top: 0;
                @include media-breakpoint-down(sm) {
                    height: calc(100% - 36px - 4px);
                }
            }
            &__rule {
                top: unset;
                bottom: calcRem(137px);
                @include media-breakpoint-down(sm) {
                    top: unset;
                    bottom: calcRem(16px);
                }
            }
            &__thin-rule {
                margin-top: calcRem(23px);
            }
            &__wrapper {
                margin-top: 0;
                padding-top: calcRem(94px);
                padding-bottom: calcRem(245px);
                > div {
                    &:first-child {
                        @include media-breakpoint-up(md) {
                            @include make-col(9);
                        }
                    }
                }
                > .col {
                    display: none;
                }
                @include media-breakpoint-down(sm) {
                    margin-top: 0;
                    padding-top: calcRem(40px);
                    padding-bottom: calcRem(84px);
                }
            }
            &__secondary {
                display: block;
                max-width: $max-grid-width;
                width: 100%;
                margin: auto;
                margin-top: calcRem(-100px);
                padding: 0 calcRem(15px);
                @include media-breakpoint-down(sm) {
                    margin-top: 0;
                    padding: 0;
                    .cmp-rte {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }
            }
            &__featured-text {
                display: block;
                background-color: $white;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                padding-top: calcRem(20px);
                padding-bottom: calcRem(20px);
                p {
                    color: $steel;
                }
                > div {
                    @include media-breakpoint-up(sm) {
                        @include make-col(10);
                        margin: auto;
                    }
                }
                @include media-breakpoint-down(sm) {
                    padding: calcRem(5px) calcRem(20px);
                }
            }
        }
    }
    &--people {
        .cmp-banner {
            &__subhead {
                display: none;
            }
            &__image-container {
                max-height: calcRem(697px);
                @include media-breakpoint-down(sm) {
                    max-height: calcRem(635px);
                }
            }
            &__gradient,
            &__color-overlay {
                height: calc(100% - 287px - 12px);
                bottom: 0;
                @include media-breakpoint-down(sm) {
                    height: calc(100% - 287px - 12px);
                }
            }
            &__rule {
                top: 0;
            }
            &__thick-rule {
                display: none;
            }
            &__thin-rule {
                margin-top: calcRem(10px);
                height: calcRem(2px);
            }
            &__wrapper {
                padding-top: calcRem(40px);
                padding-bottom: calcRem(60px);
                margin-top: calcRem(287px);
                @include media-breakpoint-up(lg) {
                    .col-lg-9 {
                        @include make-col(8);
                    }
                }
                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(30px);
                    padding-bottom: calcRem(30px);
                }
                .cmp-banner__button {
                    &:not(:last-child) {
                        display: none;
                    }
                }
            }
            &__eyebrow {
                @include font-size(14px);
                @include line-height(24px);
                letter-spacing: 1px;
                @include media-breakpoint-down(sm) {
                    @include font-size(11px);
                    @include line-height(14px);
                    letter-spacing: 0.25px;
                    opacity: 0.9;
                }
            }
            &__description {
                p {
                    @include font-size(22px);
                    @include line-height(32px);
                    @include media-breakpoint-down(sm) {
                        @include font-size(14px);
                        @include line-height(20px);
                    }
                }
            }
            &__social-share {
                display: inline;
            }
            &__video {
                display: block;
                padding-top: calcRem(31px);
                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(22px);
                }
                &--icon {
                    &:after {
                        content: '';
                        display: inline-block;
                        width: calcRem(40px);
                        height: calcRem(40px);
                        background: url('../resources/images/icon-system-video.svg') center/ contain no-repeat;
                        @include media-breakpoint-down(sm) {
                            width: calcRem(27px);
                            height: calcRem(27px);
                        }
                    }
                }
                &--title,
                &--duration {
                    @include font-size(20px);
                    @include line-height(28px);
                    @include media-breakpoint-down(sm) {
                        @include font-size(14px);
                        @include line-height(20px);
                    }
                }
                &--title {
                    margin-left: calcRem(10px);
                    @extend %font-weight-bold;
                    @include media-breakpoint-down(sm) {
                        margin-left: calcRem(8px);
                    }
                }
                &--duration {
                    margin-left: calcRem(5px);
                }
                a {
                    display: inline-flex;
                    align-items: center;
                    &:hover {
                        text-decoration: none;
                        .cmp-banner__video--icon {
                            &:after {
                                background: url('../resources/images/icon-system-video-hover.svg') center/ contain
                                    no-repeat;
                            }
                        }
                    }
                    > span {
                        color: $white;
                        display: inline-flex;
                    }
                }
                &-player {
                    z-index: 1;
                    width: 100%;
                    position: absolute;
                    .close {
                        padding: 0;
                        margin: 0;
                        border: 0;
                        opacity: 1;
                        position: absolute;
                        top: 20px;
                        right: 45px;
                    }
                    &--close {
                        &:after {
                            content: '';
                            width: calcRem(25px);
                            height: calcRem(25px);
                            position: absolute;
                            background: url('../resources/images/icon-close--white.svg') no-repeat center/contain;
                        }
                    }
                    .video-js {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    &--section-header {
        .cmp-banner {
            &__eyebrow,
            &__description,
            &__subhead,
            &__button,
            &__rule {
                display: none;
            }
            &__image-container {
                max-height: calcRem(166px);
                @include media-breakpoint-down(sm) {
                    max-height: calcRem(94px);
                }
            }
            &__wrapper {
                margin-top: 0;
                padding-top: calcRem(20px);
                padding-bottom: calcRem(35px);
                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(10px);
                    padding-bottom: calcRem(20px);
                }
                .col-lg-8 {
                    @include make-col(12);
                }
            }
            &__headline {
                font-weight: 400;
                font-family: $font-family-alda;
                @include font-size(38px);
                @include line-height(46px);
                @include media-breakpoint-down(sm) {
                    @include font-size(20px);
                    @include line-height(26px);
                }
            }
            &__gradient,
            &__color-overlay {
                height: 100%;
            }
        }
    }
    &__headline {
        letter-spacing: normal;
        text-transform: none;
        font-weight: 400;
        font-family: $font-family-alda;
        @include font-size(50px);
        @include line-height(54px);
        @include media-breakpoint-down(sm) {
            @include font-size(28px);
            @include line-height(32px);
        }
    }
    &--l2,
    &--slim,
    &--hero,
    &--people,
    &--section-header {
        .cmp-banner {
            &__headline {
                white-space: normal;
            }
            &__wrapper {
                .col-12,
                .col {
                    .cmp-banner__logo-image {
                        display: none;
                    }
                }

                .col-12 {
                    .cmp-banner__logo-image {
                        & ~ * {
                            display: block;
                        }
                        & ~ .cmp-banner__button {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

@each $color-overlay-color-name, $color-overlay-color in $dark-colors {
    .cmp-banner--#{$color-overlay-color-name} {
        .cmp-banner__color-overlay {
            background-color: $color-overlay-color;
        }
    }
}

.cmp-banner--no-overlay {
    .cmp-banner {
        &__color-overlay {
            opacity: 0 !important;
        }

        &__rule {
            display: none;
        }

        &__gradient {
            display: none;
        }

        &__headline {
            font-family: $font-family-helvetica-neue;
            @include font-size(40px);
            @include line-height(46px);
            @include media-breakpoint-down(sm) {
                @include font-size(28px);
                @include line-height(32px);
            }
        }
    }

    &.cmp-banner--section-header {
        .cmp-banner__headline {
            @include font-size(32px);
            @include line-height(36px);
            @include media-breakpoint-down(sm) {
                @include font-size(26px);
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .cmp-role-container.cmp-tabs {
        .cmp-banner {
            &__wrapper {
                padding-left: 35px;
                padding-right: 35px;
            }
            &__secondary {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.cq-Editable-dom {
    &:not(.cmp-banner--slim),
    &:not(.cmp-banner--section-header) {
        .cmp-banner__image-container {
            min-height: 400px;
        }
    }
    &.cmp-banner--slim {
        .cmp-banner__image-container {
            min-height: 80px;
        }
    }
    &.cmp-banner--section-header {
        .cmp-banner__image-container {
            min-height: 100px;
        }
    }
}
