.cmp-social-share {
    .h4 {
        @include font-size-line-height(calcRem(14px), calcRem(16px));
        font-weight: 500;
        font-family: $font-family-effra-pro;
        letter-spacing: 2px;
        color: $grey-dark;
        margin: 0 0 calcRem(16px);
        text-transform: uppercase;
    }
    &__button--share {
        display: none;
    }
    &__clipboard-message {
        opacity: 0;
        left: -9999px;
        @include font-size-line-height(calcRem(16px), calcRem(24px));
        padding: 10px 56px 10px 16px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px $grey-medium;
        color: $cool-black;
        font-family: $font-family-effra-pro;
        position: absolute;
        margin-top: 15px;
        border-radius: 4px;
        background-color: $white;
        z-index: 1;
        &.active {
            opacity: 1;
            left: auto;
        }
        &--diamond {
            position: absolute;
            top: -8px;
            right: 14px;
            width: 13px;
            height: 13px;
            background: $white;
            transform: rotate(45deg);
            border-top: 1px solid $grey-medium;
            border-left: 1px solid $grey-medium;
        }
        &--close {
            position: absolute;
            right: 8px;
            top: 10px;
            width: 24px;
            height: 24px;
            cursor: pointer;
            &:before,
            &:after {
                position: absolute;
                right: 11px;
                content: ' ';
                height: 14px;
                width: 1px;
                background-color: #58656d;
                top: 5px;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
    &__button-drawer {
        position: relative;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            line-height: 0;
            font-size: 0;
            li {
                margin: 0 calcRem(8px) 0 0;
                padding: 0;
                display: inline-block;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: block;
                    background-color: $white;
                    line-height: 0;
                    border-radius: 50%;
                    &:hover {
                        text-decoration: none;
                    }
                }
                i {
                    display: inline-flex;
                    border-radius: 50%;
                    width: calcRem(46px);
                    height: calcRem(46px);
                    border: 1px solid $grey-medium;
                    align-items: center;
                    justify-content: center;
                    &:after {
                        content: '';
                        display: inline-block;
                        width: calcRem(20px);
                        height: calcRem(20px);
                        justify-content: center;
                        align-items: center;
                        background-size: calcRem(20px) calcRem(20px);
                    }
                }
            }
        }
    }
    &__icon {
        &--share {
            &:after {
                background: url('../resources/images/icon-share.svg') no-repeat center/contain;
            }
        }
        &--facebook {
            &:after {
                background: url('../resources/images/icon-facebook.svg') no-repeat center/contain;
            }
        }
        &--twitter {
            &:after {
                background: url('../resources/images/icon-twitter.svg') no-repeat center/contain;
            }
        }
        &--linkedin {
            &:after {
                background: url('../resources/images/icon-linkedin.svg') no-repeat center/contain;
            }
        }
        &--email {
            &:after {
                background: url('../resources/images/icon-email.svg') no-repeat center/contain;
            }
        }
        &--copy {
            &:after {
                background: url('../resources/images/icon-copy.svg') no-repeat center/contain;
            }
        }
        &--copied {
            background-color: $blue-light;
            &:after {
                background: url('../resources/images/icon-copied.svg') no-repeat center/contain;
            }
        }
    }
    &__text {
        display: none;
    }
}

.display-share-sheet {
    .cmp-social-share {
        position: relative;
        max-width: 185px !important;
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-down(md) {
            justify-content: flex-end;
            max-width: 168px !important;
        }
        .h4 {
            display: none;
        }
        &__button--share {
            display: block;
            @include media-breakpoint-down(md) {
                margin-right: 21px;
            }
        }
        &__button-drawer {
            position: absolute;
            top: 46px;
            padding: 16px;
            min-width: 153px;
            visibility: hidden;
            border: 1px solid $grey-medium;
            z-index: 1;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
            ul {
                li {
                    margin: 0 0 24px 0;
                    padding: 0;
                    display: block;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    a {
                        display: flex;
                        background-color: $white;
                        line-height: 0;
                        border-radius: 50%;
                        align-items: center;
                        max-height: 40px;
                        max-width: 153px;
                        i {
                            width: 38px;
                            height: 38px;
                            &:after {
                                content: '';
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                align-items: center;
                                background-size: 16px 16px;
                            }
                        }
                    }
                }
            }
            &:after,
            &:before {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                @include media-breakpoint-down(md) {
                    left: 84%;
                }
            }
            &:after {
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: $white;
                border-width: 10px;
                margin-left: -10px;
            }
            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-bottom-color: $grey-medium;
                border-width: 12px;
                margin-left: -12px;
            }
        }
        &__expand {
            visibility: visible;
            background-color: $white;
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
            margin-left: 12px;
            display: block;
            margin-top: 5px;
            color: $brand-blue;
        }
        &__icon--share {
            width: 40px;
            height: 40px;
            &:after {
                content: '';
                display: inline-block;
                width: 19.5px;
                height: 24px;
                background-size: 24px 24px;
            }
        }
    }
}
