<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-use.requestAttributes="${'com.nyl.foundation.models.RequestAttributeModel'}">
    <sly data-sly-call="${clientLib.js @ categories='annuities.dependencies'}" />
    <sly data-sly-include="media-player-script.html" />
    <sly data-sly-test="${requestAttributes.attributes.literature}"
        data-sly-call="${clientLib.js @ categories='shared.literature'}" />
    <sly data-sly-call="${clientLib.js @ categories='annuities.global'}" />
</sly>
