<sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
    data-sly-repeat.child="${templatedContainer.structureResources}">
    <sly data-sly-test="${child.name == 'root'}" data-sly-resource="${child.path @
         resourceType=child.resourceType, decorationTagName='div', cssClassName='page'}">
    </sly>
</sly>
