<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.questionText  , classAppend='cmp-question-card-placeholder'}" />
<div data-sly-test="${properties.paginationText}" class="cmp-question-card" data-question-id="${properties.questionId}">
    <h1 data-sly-test="${properties.questionText}" class="cmp-question-card__title">${properties.headline}</h1>
    <div class="cmp-question-card__view">
        <div data-sly-test="${properties.paginationText}" class="cmp-question-card__pagination">
            ${properties.paginationText}</div>
        <div data-sly-test="${properties.questionText}" class="cmp-question-card__subtitle">${properties.questionText
            @ context='html'}</div>
        <div data-sly-list.answer="${resource.children}" class="cmp-question-card__answer-cards row">
            <div data-sly-test="${answer.cardText || answer.cardIconReference}"
                data-next-question-id="${answer.nextQuestionId}" data-score="${answer.score}">
                <div class="cmp-question-card__answer-card">
                    <div class="d-flex justify-content-center text-center">
                        <div class="cmp-center-block">
                            <img data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @ imagePath=answer.cardIconReference}"
                                data-sly-test="${imageModel.svg}" alt="${imageModel.altText}"
                                src="${answer.cardIconReference}"> ${answer.cardText @ context='html'}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-sly-list.answer="${resource.children}"
            class="cmp-question-card__accordion-group cmp-question-card__accordion-group--collapse">
            <div data-sly-test="${answer.cardText || answer.cardIconReference}"
                class="cmp-question-card__accordion-item">
                <div data-sly-test="${answer.headline}" class="cmp-question-card__accordion-item__title">
                    <div>${answer.headline}</div>
                    <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                </div>
                <div data-sly-test="${answer.description}" class="cmp-question-card__accordion-item__contents">
                    ${answer.description @ context='html'}</div>
            </div>
        </div>
    </div>
</div>
