<div class="cmp-service-forms">
    <h2 class="mb-4">
        Life Insurance & Annuities <br> Service Forms
    </h2>
    <p class="mb-5">The Service Forms Library contains various service forms, which allow you to request certain
        changes or transactions on your policy. Enter your policy number and state so we can find the correct forms for
        you.</p>
    <form id="service-form" data-service-vac="/my-account/forms-vac/" data-service-vlc="/my-account/forms-vlc/"
        data-service-tc="/my-account/forms-traditional/" novalidate>
        <div class="form-group">
            <label for="policy">Policy</label> <input type="tel" id="policy" class="form-control form-control-lg"
                placeholder="Enter first 3 digits of your policy" required>
            <div class="cmp-service-forms__invalid-policy-length invalid-feedback">Please match the requested
                format.</div>
        </div>
        <div class="form-group dropDownList mb-5">
            <label for="state">State</label> <select id="state" class="col form-control form-control-lg" required>
                <option value="">Select a State</option>
                <option value="AL">Alabama</option>
            </select>
            <div class="cmp-service-forms__invalid-state invalid-feedback">Please select an item in the list.</div>
        </div>
        <button type="submit" class="nyl-button">View Forms</button>
    </form>
</div>
