.cmp-policy-number-check {
    .form-control {
        &.is-valid {
            border-color: $medium-gray;
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }
            ~ .valid-feedback {
                color: $black;
            }
        }
    }
}
