<body>
    <div>
        <sly data-sly-resource="${'header' @ resourceType='mcm/campaign/components/parsys'}" />
        <sly data-sly-resource="${'root' @ resourceType='mcm/campaign/components/parsys'}" />
        <sly data-sly-resource="${'footer' @ resourceType='mcm/campaign/components/parsys'}" />
    </div>
</body>