<head data-sly-use.head="head.js" data-sly-use.wcmInit="initwcm.js"
    data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-use.body="body.js">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>${head.title}</title>
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta data-sly-test="${head.description}" name="description" content="${head.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--/* Outputs the WCM initialization code. If WCM mode is disabled nothing is rendered */-->
    <!--/* include client libs */-->
    <sly data-sly-test="${!head.wcmmode.disabled && wcmInit.isTouchAuthoring}"
        data-sly-call="${clientLib.all @ categories='jquery,cq.authoring.page,cq.shared'}" />
    <sly data-sly-test="${!head.wcmmode.disabled && !wcmInit.isTouchAuthoring}"
        data-sly-call="${clientLib.all @ categories='cq.wcm.edit,mcm.campaign.ui.classic,cq.mcm,cq.mcm.newsletter.emulator,cq.personalization,cq.mcm.newsletter.hook,cq.dam.scene7,mcm.campaign.s7-image'}" />
    <sly data-sly-test="${!head.wcmmode.disabled && !wcmInit.isTouchAuthoring}"
        data-sly-resource="${resource.path @ resourceType='mcm/components/newsletter/emailclient/base', selectors='init'}" />
    <!--/* initialize ContextHub registration */-->
    <meta id="campaignContextHub" data-register="true" data-metadata-method="POST"
        data-sly-test="${!head.wcmmode.disabled && wcmInit.isTouchAuthoring}" />
    <!--/* initialize client context and load segments */-->
    <script data-sly-test="${!head.wcmmode.disabled && !wcmInit.isTouchAuthoring}" type="text/javascript">
        $(function () {
            var ccPath = "${head.clientcontextPath @ context='scriptString'}";
            var segmentsPath = "${head.segmentsPath @ context='scriptString'}";
            var currentPath = "${currentPage.path @ context='scriptString'}";
            CQ_Analytics.ClientContextUtils.init(ccPath, currentPath, {});
            CQ_Analytics.SegmentMgr.loadSegments(segmentsPath);
        });
    </script>
    <!--/* initialize client context UI and Sidekick (Classic UI only) */-->
    <script data-sly-test="${!head.wcmmode.disabled && !wcmInit.isTouchAuthoring}" type="text/javascript">
        (function () {
            var cfg = ${ wcmInit.undoConfig @context='unsafe'
        };
        cfg.pagePath = "${currentPage.path @ context='uri'}";
        if (CQClientLibraryManager.channelCB() != "touch") {
            cfg.enabled = ${ head.wcmmode.edit @context="scriptString" };
            CQ.undo.UndoManager.initialize(cfg);
            CQ.Ext.onReady(function () {
                CQ.undo.UndoManager.detectCachedPage((new Date()).getTime());
            });
        }
        }) ();
        $(function () {
            var ccPath = "${head.clientcontextPath @ context='scriptString'}";
            var segmentsPath = "${head.segmentsPath @ context='scriptString'}";
            var currentPath = "${currentPage.path @ context='scriptString'}";
            CQ_Analytics.ClientContextUtils.initUI(ccPath, currentPath, false);
            CQ_Analytics.CampaignMgr.autoSelectCampaign("${properties.acOffer @ context='scriptString'}");
        });
        CQ.WCM.launchSidekick("${currentPage.path @ context='uri'}", {
            propsDialog: "${wcmInit.dialogPath @ context='uri'}",
            locked: ${ currentPage.locked @context="scriptString"}
        });
    </script>
    <!--/* WCM initialization code end */-->

    <sly data-sly-include="styles.html"></sly>
    <sly data-sly-include="/apps/nyl-foundation/components/content/campaign/body-content/style.html"></sly>
    <sly data-sly-include="/apps/nyl-foundation/components/content/campaign/cta-banner/style.html"></sly>
    <sly data-sly-include="/apps/nyl-foundation/components/content/campaign/footer/style.html"></sly>
    <sly data-sly-include="/apps/nyl-foundation/components/content/campaign/separator/style.html"></sly>
    <sly data-sly-include="/apps/nyl-foundation/components/content/campaign/icon-list/style.html"></sly>

    <sly data-sly-test="${!head.wcmmode.disabled && wcmInit.isTouchAuthoring}"
        data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}" />
</head>
