// global margin override
@include marginOverride('cmp-accordion', 0, 0, 0, 0);

// transition for expand/collapse
.collapse {
    @include transition(height 0.35s ease);
}

.cmp-accordion {
    @extend %mobile-full-width;
    margin-bottom: 2px !important;
    margin-top: 0 !important;
    .cmp-link-list {
        margin: 0 !important;
        padding: 0 !important;
    }
    &__header {
        background: $white;
    }
    &__content {
        .cmp-rte {
            padding-right: calcRem(24px) !important;
            padding-left: calcRem(24px) !important;
            margin-top: 30px !important;
            @include media-breakpoint-down(sm) {
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-top: 15px !important;
            }
        }
    }
    .card-title {
        position: relative;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        @include font-size(16px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        padding: calcRem(18px) calcRem(24px);
        text-align: left;
        width: 100%;
        letter-spacing: 0.68px;
        color: $steel;
        border: 0;
        white-space: normal;
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
            @include font-size(14px);
            letter-spacing: 0;
        }
        &:hover {
            text-decoration: none;
        }
        &:focus {
            outline: 0;
        }
        &:after {
            content: '';
            width: calcRem(12px);
            height: calcRem(7px);
            float: right;
            margin: calcRem(4.5px) calcRem(2px) calcRem(4.5px) calcRem(20px);
            background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
            flex-shrink: 0;
            @include transform(rotate(180deg));
        }
    }

    &__header--expanded {
        display: none;
    }
}

.cmp-accordion__header.collapsed {
    .card-title {
        &:after {
            @include transform(rotate(360deg));
        }
    }
}
