<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.fileReference, classAppend='cmp-infographic-placeholder'}" />
<div data-sly-test="${properties.fileReference}" data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' 
    @ componentName='infographic', imagePath=properties.fileReference, aspectRatio=properties.imageSize,
     imageAltText=properties.imageAltText}"
    data-sly-use.identifierModel="${'com.nyl.foundation.models.IdGeneratorModel'}"
    class="cmp-infographic row cq-dd-image">
    <div class="cmp-infographic__${properties.imageSize} cmp-infographic__modal col-12"
        data-modalid="#infographic-modal-${identifierModel.id}">
        <i class="cmp-infographic__modal-expand--icon" aria-hidden="true"></i>
        <picture>
            <source media="(max-width: 576px)" srcset="${imageModel.renditions['xsmall'].imageUrl}" />
            <source media="(max-width: 768px)" srcset="${imageModel.renditions['small'].imageUrl}" />
            <source media="(max-width: 992px)" srcset="${imageModel.renditions['medium'].imageUrl}" />
            <source media="(max-width: 1200px)" srcset="${imageModel.renditions['large'].imageUrl}" />
            <sly
                data-sly-call="${imageMapAttributes @ imageRendition=imageModel.renditions['xlarge'].imageUrl, className='mw-100', identifier=identifierModel.id, altText=imageModel.altText}">
            </sly>
        </picture>
    </div>
    <div class="modal fade show" id="infographic-modal-${identifierModel.id}" tabindex="-1" role="dialog"
        aria-hidden="true">
        <a class="close" data-dismiss="modal" aria-label="${'foundation.buttons.close' @ i18n}">
            <i class="cmp-infographic__modal-close" aria-hidden="true"></i>
        </a>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <picture>
                        <source media="(max-width: 576px)" srcset="${imageModel.renditions['xsmall'].imageUrl}" />
                        <source media="(max-width: 768px)" srcset="${imageModel.renditions['small'].imageUrl}" />
                        <sly
                            data-sly-call="${imageMapAttributes @ imageRendition=imageModel.renditions['small'].imageUrl, className='', identifier=identifierModel.id, altText=imageModel.altText}">
                        </sly>
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
<template data-sly-template.imageMapAttributes="${ @ imageRendition,className,identifier,altText}"
    data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image">
    <sly data-sly-test.usemap="${'{0}{1}' @ format=['#', resource.path]}"></sly>
    <img src="${imageRendition}" alt="${altText}" class="${className}"
        data-sly-attribute.usemap="${image.areas ? usemap : ''}${className==''?'-':''}${identifier}" />
    <map data-sly-test="${image.areas}" data-sly-list.area="${image.areas}"
        name="${resource.path}${className==''?'-':''}${identifier}">
        <area shape="${area.shape}" coords="${area.coordinates}" href="${area.href}" target="${area.target}"
            alt="${area.alt}" title="${area.alt}" data-cmp-relcoords="${area.relativeCoordinates}">
    </map>
</template>
