.cmp-banner-story {
    background: $medium-quartz;
    h1 {
        color: $dark-quartz;
        @include font-size(58px);
        line-height: calcRem(68px);
    }
    @include media-breakpoint-down(sm) {
        h1 {
            @include font-size(48px);
            @include line-height(48px, 1.25);
        }
    }

    &__container {
        img {
            max-height: 400px;
            &[src$='svg'] {
                width: 100%;
            }
            @include media-breakpoint-only(md) {
                max-height: 197px;
                max-width: 225px;
            }
        }
    }

    &--asset {
        z-index: 2;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100vw;
            height: calc(50% + 60px);
            z-index: 0;
            background: $white;
            top: 50%;
            left: 0;
            right: 0;
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
        }
    }

    &--media {
        position: relative;
        z-index: 3;
        text-align: center;
        img {
            max-height: none;

            @include media-breakpoint-only(md) {
                max-height: none;
            }
        }
    }
}

//HEADER COLORS
@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-banner-story--#{$dark-color-name} .cmp-banner-story {
        h1 {
            color: $dark-color;
        }
    }
}

//BACKGROUND COLORS
.cmp-banner-story--dark-salmon .cmp-banner-story {
    background: $medium-salmon;
}

.cmp-banner-story--dark-twilight .cmp-banner-story {
    background: $medium-twilight;
}

.cmp-banner-story--dark-dusk .cmp-banner-story {
    background: $medium-dusk;
}

.cmp-banner-story--dark-rain .cmp-banner-story {
    background: $medium-rain;
}

.cmp-banner-story--dark-palm .cmp-banner-story {
    background: $medium-palm;
}

.cmp-banner-story--dark-gold .cmp-banner-story {
    background: $medium-gold;
}

.cmp-banner-story--dark-sunset .cmp-banner-story {
    background: $medium-sunset;
}

// DARK BACKGROUND COLORS
.cmp-banner-story--salmon .cmp-banner-story {
    background: $dark-salmon;
    h1 {
        color: $white;
    }
}

.cmp-banner-story--twilight .cmp-banner-story {
    background: $dark-twilight;
    h1 {
        color: $white;
    }
}

.cmp-banner-story--dusk .cmp-banner-story {
    background: $dark-dusk;
    h1 {
        color: $white;
    }
}

.cmp-banner-story--rain .cmp-banner-story {
    background: $dark-rain;
    h1 {
        color: $white;
    }
}

.cmp-banner-story--palm .cmp-banner-story {
    background: $dark-palm;
    h1 {
        color: $white;
    }
}

.cmp-banner-story--gold .cmp-banner-story {
    background: $dark-gold;
    h1 {
        color: $white;
    }
}

.cmp-banner-story--sunset .cmp-banner-story {
    background: $dark-sunset;
    h1 {
        color: $white;
    }
}

.cmp-banner-story--steel .cmp-banner-story {
    background: $twilight-blue;
    h1 {
        color: $white;
    }
}
