.cmp-social-follow {
    &__social-icon {
        margin: calcRem(10px) calcRem(20px) calcRem(44px) auto;
        display: inline-block;
    }
}

.cmp-social-follow--inline {
    .cmp-social-follow {
        h6 {
            display: inline;
            margin-right: calcRem(15px);

            @include media-breakpoint-down(sm) {
                display: block;
                margin-right: 0;
            }
        }
        &__social-icon {
            margin: calcRem(15px) calcRem(20px) calcRem(15px) auto;
            display: inline-block;
        }
    }
}
.cmp-footer {
    .cmp-parsys2 {
        .cmp-social-follow {
            h6 {
                font-size: calcRem(16px) !important;
            }
        }
    }
}
