<div class="cmp-product-finder-search">
    <div class="cmp-product-finder-search__container">
        <div class="cmp-product-finder-search__text">
            <label class="cmp-product-finder-search__label"
                for="cmp-product-finder-search__input">{{searchMessages?.placeholder}}</label>
            <input type="text" class="cmp-product-finder-search__text--search-text" [(ngModel)]="searchText"
                id="cmp-product-finder-search__input" [placeholder]="searchMessages?.placeholder"
                (keyup)="updateText($event)" [value]="selectedSearchText"
                [attr.aria-label]="searchMessages?.placeholder" (click)="showSearchTerms()" />
            <span *ngIf="searchText?.length>0" class="cmp-product-finder-search__text--close" (click)="clearSearch()"
                (keypress)="clearSearch()">
                <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon--steel.svg"
                    [alt]="searchClearText" [title]="searchClearText" />
            </span>
        </div>
        <div class="cmp-product-finder-search__icon">
            <i class="cmp-product-finder-search__icon--search" aria-hidden="true"></i>
        </div>
    </div>


    <div *ngIf="searchText?.length >2" class="cmp-product-finder-search__options">
        <ul>
            <ng-container *ngFor="let c of allSearchData | search: searchText; let i = index">
                <li *ngIf="c!=-1" (keypress)="sendSelectedText($event)" (click)="sendSelectedText($event)"
                    [ngClass]="{'active':i==0}">{{c}}</li>
                <li *ngIf="c==-1">{{searchMessages.emptySearch}}</li>
            </ng-container>

        </ul>
    </div>
</div>
