.cmp-contact-us-form {
    overflow: visible;
    text-align: center;
    &--image {
        display: none;
    }
    &__wrapper {
        max-width: calcRem(980px);
        width: 100%;
        padding-top: calcRem(100px);
        padding-bottom: calcRem(100px);
        margin: auto;

        &--form-wrapper {
            padding: calcRem(90px) 7.2% calcRem(95px) 7.2%;
            @include media-breakpoint-down(sm) {
                padding-top: calcRem(26px);
                padding-right: calcRem(17px);
                padding-bottom: calcRem(40px);
                padding-left: calcRem(17px);
            }
        }

        &--subscription-wrapper {
            margin-top: calcRem(39px);
            padding: calcRem(49px) calcRem(188px) calcRem(58px);
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(24px);

                padding-top: calcRem(30px);
                padding-left: calcRem(30px);
                padding-right: calcRem(39px);
                padding-bottom: 0;
            }
        }

        &--background {
            background-color: $light-steel-3;
        }

        &--rm-r-gut {
            padding-right: 0;
            @include media-breakpoint-down(sm) {
                padding-left: 0;
            }
        }
        &--rm-l-gut {
            padding-left: 0;
            @include media-breakpoint-down(sm) {
                padding-right: 0;
            }
        }
    }

    &__heading {
        @extend %alt-font;
        color: $steel;
        font-size: calcRem(36px);
        letter-spacing: 0;
        line-height: calcRem(60px);
        margin-bottom: calcRem(4px);
        text-align: center;

        @include media-breakpoint-down(xs) {
            font-size: calcRem(28px);
            line-height: calcRem(32px);
            margin-bottom: 0;
            text-align: center;
        }
    }

    .elq-form {
        max-width: calcRem(600px);
        width: 100%;

        margin: 0 auto;
        .submit-button-style {
            &:hover {
                background-color: $dark-steel-2;
            }
        }
        input[type='text'],
        textarea {
            border: none;
            padding: calcRem(11px) calcRem(16px);
        }
        input[type='text'] {
            height: calcRem(56px);
            min-width: 100%;
            @include media-breakpoint-down(xs) {
                height: calcRem(40px);
            }
        }
        textarea {
            height: calcRem(157px);
            min-width: 100%;
            width: 100%;
        }
        label {
            font-family: $font-family-alda;
            font-size: calcRem(16px);
            line-height: calcRem(18px);
            color: $steel;
            font-style: italic;
            margin-left: 0;
            margin-top: calcRem(25px);
            padding-left: calcRem(6px);
            margin-bottom: calcRem(13px);
        }

        // Message Label
        #formElement2 > div:nth-child(1) > label {
            margin-top: calcRem(18px);
            margin-bottom: calcRem(14px);
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(25px);
                margin-bottom: calcRem(14px);
            }
        }

        // Email Label
        #formElement0 > div:nth-child(1) > label {
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(28px);
            }
        }

        input[type='submit'] {
            background-color: $steel;
            color: $white;
            font-family: $font-family-helvetica-neue;
            font-weight: 500;
            letter-spacing: 0;
            line-height: calcRem(19px);
            border: 0;
            padding: calcRem(14px) calcRem(40px);
            margin-top: calcRem(31px);
            height: calcRem(48px);
        }

        // BS overrides
        .layout.container-fluid,
        .row,
        [class^='col'],
        .layout-col.col-sm-12.col-xs-12 {
            display: block;
            margin: 0;
            padding: 0;
        }

        .LV_validation_message {
            @include font-size(12px);
            @include line-height(24px);
            display: block;
            text-align: left;
            &.LV_invalid {
                color: $error;
            }
            &.LV_valid {
                display: none;
            }
        }

        input[type='text'].LV_invalid_field {
            border: $error 1px solid;
        }
    }
    .subscription-center-form {
        color: $steel;

        &__heading {
            font-family: $font-family-alda;
            font-size: calcRem(36px);
            line-height: calcRem(48px);
            @include media-breakpoint-down(sm) {
                font-size: calcRem(26px);
                line-height: calcRem(41px);
            }
        }
        .nyl-button {
            background: $steel;
            font-size: calcRem(16px);
            line-height: calcRem(19px);
            padding: calcRem(15px) calcRem(32px);
            margin: calcRem(36px) 0 calcRem(36px);
            text-align: center;

            &:hover {
                background-color: $dark-steel-2;
            }
            @include media-breakpoint-down(sm) {
                display: inline-block;
                text-align: center;
                width: 100%;
                margin: calcRem(36px) 0 calcRem(36px);
            }
        }
        &__button {
            text-align: right;
            @include media-breakpoint-down(sm) {
                padding-left: calcRem(20px);
                padding-right: calcRem(20px);
            }
        }
        &__description {
            text-align: left;
            p {
                @include font-size(18px);
                @include line-height(30px);
                @include media-breakpoint-down(sm) {
                    @include line-height(26px);
                }
            }
        }
        &__button,
        &__description {
            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }
    }
}
