<sly data-sly-test="${!wcmmode.edit}" data-sly-use.cugModel="${'com.nyl.foundation.models.CugModel'}"
    data-sly-set.groupMatch="${cugModel.getMatchedGroup}" />
<div class="cmp-cug-container${wcmmode.edit ? ' cmp-tabs' : ''}" data-panelcontainer="${wcmmode.edit && 'tabs'}" data-cmp-is="tabs">
    <sly data-sly-test="${wcmmode.edit}" data-sly-use.tabs="com.adobe.cq.wcm.core.components.models.Tabs">
        <div data-sly-test="${tabs.items && tabs.items.size > 0}" role="tablist" class="cmp-tabs__tablist"
            aria-multiselectable="false">
            <sly data-sly-repeat.item="${tabs.items}">
                <div role="tab" class="cmp-tabs__tab cmp-tabs__tab--active" data-cmp-hook-tabs="tab"></div>
            </sly>
        </div>
        <sly data-sly-repeat.item="${tabs.items}">
            <div data-sly-resource="${item.name @ decorationTagName='div'}" role="tabpanel"
                class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active" data-cmp-hook-tabs="tabpanel">
            </div>
        </sly>
    </sly>
    <sly data-sly-test="${groupMatch && !wcmmode.edit}" data-sly-resource="${groupMatch @ decorationTagName='div'}" />
</div>
<sly data-sly-test="${!groupMatch && !wcmmode.edit}"
    data-sly-use.resourcePath="${'com.nyl.foundation.models.LinkRewriteModel' @ path=resource.path}">
    <!--#include virtual="/${resourcePath.rewriteUrlWithoutExtension}.${cugModel.userGroups}.html" -->
</sly>
