@import 'src/main/webpack/nylim/global/js/custom-dropdown/custom-dropdown.scss';
@import 'src/main/webpack/components/content/media-player/scss/media-player.scss';

.cmp-insights {
    &__title,
    &__tab,
    &__content-topic,
    &__content-title,
    &__content-description {
        color: $steel;
    }

    &__content-topic,
    &__content-title,
    &__content-title--anchor,
    &__content-description {
        word-break: keep-all;
    }

    &__header {
        background: $light-steel-3;
        position: relative;
        z-index: 2;

        &::before {
            position: absolute;
            content: '';
            background: #f1f6f8;
            height: 100%;
            width: 100vw;
            left: calc((100% - 100vw) / 2);
            z-index: -1;
        }
    }

    &__title {
        @include font-size(38px);
        @include line-height(46px);
        display: inline-block;
        font-family: $font-family-alda;
        margin: calcRem(42px) 0 calcRem(24px);

        @include media-breakpoint-down(sm) {
            @include font-size(20px);
            @include line-height(26px);
            margin: calcRem(24px) 0 calcRem(20px);
        }
    }

    .cmp-custom-dropdown-container {
        display: inline-block;
        height: calcRem(40px);

        &:first-child {
            width: calcRem(184px);
            margin-right: calcRem(10px);
        }

        &:last-child {
            width: calcRem(287px);
        }

        @include media-breakpoint-down(sm) {
            display: block;

            &:first-child {
                margin-bottom: calcRem(10px);
            }

            &:first-child,
            &:last-child {
                width: 100%;
            }
        }

        .cmp-custom-dropdown,
        .cmp-custom-options div {
            @include line-height(24px);
        }
    }

    &__tabs-container {
        height: calcRem(87px);
        position: relative;

        @include media-breakpoint-down(sm) {
            height: calcRem(64px);
        }
    }

    &__tabs {
        align-items: center;
        display: flex;
        height: 100%;
        margin: calcRem(21px) 0 0;
        padding: 0;
        width: 100%;
        overflow: auto;

        @include media-breakpoint-down(sm) {
            background: $light-steel-2;
            margin: calcRem(32px) 0 0 0;
            width: 100%;
        }
    }

    &__tabs-shade--left,
    &__tabs-shade--right {
        display: none;
        position: absolute;
        top: 0;
        height: 100%;
        width: calcRem(24px);
    }

    &__tabs-shade--left {
        left: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(10, 60, 83, 0.2) 100%);
    }

    &__tabs-shade--right {
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(10, 60, 83, 0.2) 100%);
    }

    .cmp-insights__tabs &__tab {
        @include font-size(18px);
        @include line-height(24px);
        letter-spacing: calcRem(0.56px);
        list-style: none;
        padding: 0 calcRem(40px) 0;
        text-align: center;
        white-space: nowrap;

        &--active {
            border-bottom: 8px solid $medium-dusk;
            font-weight: $font-weight-bold;
            margin: 0 0 -8px;
            padding: calcRem(23px) calcRem(40px);
        }

        &:hover {
            cursor: pointer;
        }

        @include media-breakpoint-down(sm) {
            padding: 0 calcRem(20px) 0;

            &--active {
                border-bottom: 4px solid $medium-dusk;
                margin: 0 0 -4px;
                padding: calcRem(15px) calcRem(40px);
            }
        }
    }

    &__contents {
        display: none;
        flex-wrap: wrap;
        padding: 0 0 calcRem(63px);

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            padding: 0 0 calcRem(40px);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin: calcRem(52px) calcRem(30px) 0 0;
        width: calc(100% / 3 - 20px);

        &:nth-child(3n) {
            margin-right: 0;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            margin: calcRem(40px) calcRem(20px) 0 0;

            &:first-child {
                margin-top: calcRem(20px);
            }
        }
    }

    &__content-image-container {
        position: relative;

        &:after {
            bottom: 14px;
            content: '';
            display: block;
            height: 24px;
            opacity: 0.5;
            position: relative;
            width: 100%;
            z-index: 2;
        }

        &:hover:after {
            opacity: 1;
        }

        &.bar-color-0:after {
            background: $medium-salmon;
        }

        &.bar-color-1:after {
            background: $medium-twilight;
        }

        &.bar-color-2:after {
            background: $medium-dusk;
        }

        &.bar-color-3:after {
            background: $medium-rain;
        }

        &.bar-color-4:after {
            background: $medium-palm;
        }

        &.bar-color-5:after {
            background: $medium-gold;
        }

        &.bar-color-6:after {
            background: $medium-sunset;
        }

        @extend .cmp-media-player;

        .video-js {
            position: absolute;
            top: 0;
            left: 0;

            .vjs-big-play-button {
                left: calc(50% + 49px);
                position: absolute;
                top: calc(50% + 49px);
                transform: translate(-50%, -50%);
                z-index: 2;
            }
        }
    }

    &__content-image-label {
        position: relative;
        z-index: 1;
    }

    &__content-image {
        width: 100%;
        height: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    &__content-label {
        @include font-size(11px);
        @include line-height(14px);
        align-items: center;
        background: $white;
        color: $steel;
        display: flex;
        font-family: $font-family-helvetica-neue;
        height: calcRem(24px);
        justify-content: center;
        letter-spacing: calcRem(0.25px);
        opacity: 0.9;
        padding: 0 calcRem(13px);
        position: absolute;
        right: 6px;
        top: 6px;
    }

    &__content-topic,
    &__content-description {
        font-family: $font-family-helvetica-neue;
    }

    &__content-topic {
        @include font-size(11px);
        @include line-height(14px);
        letter-spacing: calcRem(0.25px);
        margin: calcRem(7px) 0 0;
        opacity: 0.9;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            @include font-size(12px);
            @include line-height(18px);
            letter-spacing: normal;
            opacity: 1;
        }
    }

    &__content-title {
        @include font-size(22px);
        @include line-height(30px);
        font-family: $font-family-alda;

        @include media-breakpoint-down(sm) {
            @include font-size(20px);
            @include line-height(26px);
        }
    }

    &__content-title,
    &__content-title--anchor {
        margin: calcRem(17px) 0 0;
    }

    &__content-description {
        @include font-size(14px);
        @include line-height(22px);

        @include media-breakpoint-down(sm) {
            @include font-size(12px);
            @include line-height(18px);
        }
    }

    &__loading-state,
    &__no-result-state,
    &__error-state {
        color: $steel;
        display: none;
        font-size: 20px;
        height: auto;
        margin: calcRem(70px) 0 0 0;
        width: auto;
    }

    &__load-more {
        @extend .button--secondary;
        display: none;
        height: calcRem(48px);
        margin: 0 auto;
        width: calcRem(134px);

        .nyl-button {
            border-radius: 0;
            border: none;
            font-family: Helvetica, 'helvetica-neue', Arial, sans-serif;
            height: 100%;
            user-select: none;
            width: auto;

            &:focus {
                outline: 0;
            }
        }
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}
