<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.imageReference, classAppend='cmp-nylim-image-placeholder'}" />
<div class="cmp-image" data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel'}">
    <div class="cmp-image--${properties.imageSize}">
        <a data-sly-unwrap="${!properties.ctaLinkUrl}" href="${linkModel.url}" title="${properties.ctaLinkTitle}"
            target="${properties.ctaLinkBehavior}">
            <div class="color-bar" data-sly-unwrap="${properties.imageSize!='extra-small'}">
                <sly data-sly-test="${properties.imageReference}"
                    data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                    data-sly-call="${image.imageTemplate @ componentName='image', imagePath=properties.imageReference, aspectRatio=properties.imageSize, imageAltText=properties.imageAltText,imgClass='mw-100'}">
                </sly>
            </div>
        </a>
    </div>
</div>
