<div class="cmp-accordion--expand-collapse">
    <div id="cmp-accordion-container-accordion_container" class="cmp-accordion">
        <h2 class="cmp-accordion__heading">Accordion Container title</h2>
        <hr class="cmp-accordion__divider">
        <div class="accordion-section">
            <div class="cmp-accordion__container">
                <div class="cmp-accordion__container-header "
                    id="cmp-accordion-container-accordion_section-accordion_container">
                    <h5 class="cmp-accordion__title mb-0 plus">
                        <div class="cmp-accordion__link btn collapsed" data-toggle="collapse"
                            data-target="#cmp-accordion-accordion_section-accordion_container" aria-expanded="false"
                            aria-controls="cmp-accordion-accordion_section-accordion_container">Section title 1</div>
                    </h5>
                </div>
                <div id="cmp-accordion-accordion_section-accordion_container" class="collapse"
                    aria-labelledby="cmp-accordion-container-accordion_section-accordion_container"
                    data-parent="#cmp-accordion-container-accordion_container" style="">
                    <div class="cmp-accordion__container-content">
                        <div class="rte text">
                            <div class="cmp-rte">
                                <p>This is RTE 1</p>
                                <p>
                                    <a title="google link" href="http://www.google.com" target="_blank">LinkTst</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-section">
            <div class="cmp-accordion__container">
                <div class="cmp-accordion__container-header "
                    id="cmp-accordion-container-accordion_section_1082927340-accordion_container">
                    <h5 class="cmp-accordion__title mb-0 minus">
                        <div class="cmp-accordion__link btn" data-toggle="collapse"
                            data-target="#cmp-accordion-accordion_section_1082927340-accordion_container"
                            aria-expanded="true"
                            aria-controls="cmp-accordion-accordion_section_1082927340-accordion_container">Section
                            title 2</div>
                    </h5>
                </div>
                <div id="cmp-accordion-accordion_section_1082927340-accordion_container" class="collapse show"
                    aria-labelledby="cmp-accordion-container-accordion_section_1082927340-accordion_container"
                    data-parent="#cmp-accordion-container-accordion_container" style="">
                    <div class="cmp-accordion__container-content">
                        <div class="rte text">
                            <div class="cmp-rte">
                                <p>This is RTE 2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>