<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @ appendPath='fundDetails'}"
    data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel"
    data-sly-call="${templates.placeholder @ isEmpty = !resourceModel.resource, classAppend='cmp-holdings-table-placeholder'}" />
<sly data-sly-test="{resourceModel.resource}" data-sly-list.fundDetails="${resourceModel.children}">
    <sly
        data-sly-set.formattedFundId="${fundDetailsList.first? fundDetails.fundId : [formattedFundId,fundDetails.fundId] @ join = ','}" />
</sly>

<div class="cmp-holdings-table cmp-holdings-table--hidden" data-as-of-funds="${formattedFundId}"
    data-display-top-ten="${properties.displayVariation}">
    <div id="cmp-holdings-table__${identifier.id}" class="cmp-holdings-table__product-name"></div>
    <div class="cmp-holdings-table__as-of-date"></div>
    <div class="row cmp-holdings-table__wrapper">
        <div class="col-sm-12 col-md-6 cmp-holdings-table__weighted">
            <div class="cmp-holdings-table__average-maturity"></div>
            <div class="cmp-holdings-table__average-life"></div>
        </div>
        <div class="col-sm-12 col-md-6 cmp-holdings-table__dropdown-container">
            <div class="cmp-holdings-table__as-of-label"></div>
            <div class="cmp-holdings-table__filter">
                <div class="cmp-holdings-table__dropdown">
                    <div class="cmp-holdings-table__dropdown-text cmp-holdings-table__filter-date"></div>
                    <ul class="cmp-holdings-table__list-dropdown">
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="cmp-holdings-table__right cmp-holdings-table__right-gradient"></div>
    <div class="cmp-holdings-table__table-parent-div">
        <table class="cmp-holdings-table__holdings" aria-describedby="cmp-holdings-table__${identifier.id}">
            <colgroup>
                <col span="1">
                <col span="4">
            </colgroup>
            <thead>
                <div>
                    <tr class="cmp-holdings-table__holding-header">
                        <th scope="col"></th>
                    </tr>
                </div>
            </thead>
            <tbody></tbody>
            <tbody>
                <tr class="cmp-holdings-table__shade--right"></tr>
            </tbody>
        </table>
    </div>
</div>
