<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-social-share-placeholder'}" />
<div class="cmp-social-share" data-twitter-handle="${properties.twitterHandle}"
    data-email-body="${properties.emailBody}">
    <p class="h4">${'nyl.socialShare.heading' @ i18n}</p>
    <a data-sly-test="${properties.enableSocialShare}" href="#" class="cmp-social-share__button--share"
        title="${'foundation.socialShare.linkText' @ i18n}">
        <i class="cmp-social-share__icon--share" aria-hidden="true"></i>
    </a>
    <div class="cmp-social-share__button-drawer">
        <ul>
            <li data-sly-test="${!properties.hideFacebook}">
                <a href="#" target="_blank" class="cmp-social-share__button --facebook"
                    title="${'nyl.socialShare.facebook' @ i18n}">
                    <i class="cmp-social-share__icon--facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li data-sly-test="${!properties.hideLinkedIn}">
                <a href="#" target="_blank" class="cmp-social-share__button --linkedin"
                    title="${'nyl.socialShare.linkedin' @ i18n}">
                    <i class="cmp-social-share__icon--linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li data-sly-test="${!properties.hideTwitter}">
                <a href="#" target="_blank" class="cmp-social-share__button --twitter"
                    title="${'nyl.socialShare.twitter' @ i18n}">
                    <i class="cmp-social-share__icon--twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li data-sly-test="${!properties.hideEmail}">
                <a href="#" target="_blank" class="cmp-social-share__button --email"
                    title="${'nyl.socialShare.email' @ i18n}">
                    <i class="cmp-social-share__icon--email" aria-hidden="true"></i>
                </a>
            </li>
            <li data-sly-test="${!properties.hideCopy}">
                <a data-copy-link="${'nyl.socialShare.copyLink' @ i18n}"
                    data-link-copied="${'nyl.socialShare.copyClipboardNotification' @ i18n}" href="#"
                    class="cmp-social-share__button --copy" title="${'nyl.socialShare.copyClipboardOption' @ i18n}">
                    <i class="cmp-social-share__icon--copy" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="cmp-social-share__clipboard-message" data-sly-test="${!properties.hideCopy}">
        <span class="cmp-social-share__clipboard-message--diamond"></span>
        ${'nyl.socialShare.copyClipboardNotification' @ i18n}
        <span class="cmp-social-share__clipboard-message--close"></span>
    </div>
</div>
