.cmp-calendar-year-returns {
    background-color: transparent;
    @extend %full-width;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: calcRem(72px);
    padding-bottom: calcRem(72px);
    @include media-breakpoint-down(sm) {
        padding-top: calcRem(50px);
        padding-bottom: calcRem(23px);
    }
    .container {
        position: relative;
        padding-left: 15px !important;
        padding-right: 0 !important;
        @include media-breakpoint-down(sm) {
            padding-left: 0 !important;
        }
        @include media-breakpoint-down(md) {
            max-width: none;
        }
    }
    &__loading-state {
        height: 74px;
        background: white;
        margin-top: calcRem(24px);
        display: none;
    }
    &__heading {
        @include font-size(14px);
        @include line-height(17px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        color: $header-color;
        text-transform: uppercase;
        letter-spacing: calcRem(1px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__table {
        overflow-x: auto;
        margin-top: calcRem(24px);
    }
    table {
        border-collapse: separate;
        border-spacing: 0 calcRem(2px);
        width: calcRem(1110px);
    }
    th {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        color: $header-color;
        text-align: right;
        padding: calcRem(15px) calcRem(22px) calcRem(20px) calcRem(22px);
    }
    td {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        color: $header-color;
        text-align: right;
        padding: calcRem(34px) calcRem(22px) calcRem(31px) calcRem(22px);
    }

    td:first-child {
        text-align: left;
        padding-left: calcRem(24px);
        padding-right: calcRem(62px);
        width: calcRem(278px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    td:last-child,
    th:last-child {
        padding-right: calcRem(24px);
        @include media-breakpoint-down(sm) {
            padding-right: calcRem(20px);
        }
    }
    tbody tr {
        height: calcRem(74px);
        background-color: $white;
    }
    tbody tr:hover {
        @include media-breakpoint-up(md) {
            background-color: $rain-tint;
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: calcRem(0px);
            top: calcRem(98px);
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
            top: calcRem(98px);
        }
    }
    &__table::-webkit-scrollbar {
        width: 0 !important;
    }
    &--light-gray {
        tbody tr {
            background-color: $light-steel-3;
        }
    }
}
