<div class="cmp-timeline">
    <ul class="cmp-timeline__container">
        <li class="row">
            <div class="cmp-timeline__thumbnail col-4">
                <a class="cmp-timeline__icon--expand" href="#">
                    <img src="/image.svg" alt="alt text" class="mw-100">
                </a>
            </div>
            <div class="cmp-timeline__history col-md-5 col">
                <p class="cmp-timeline__year">1992</p>
                <p class="cmp-timeline__description">i have SVG thumbnail and modal image authored</p>
            </div>
            <div class="cmp-timeline__modal-items d-none" aria-hidden="true">
                <p class=" cmp-timeline__modal-description">i am the modal description</p>
                <img src="/content/dam/nyl/photos/GettyImages-520945900_super.jpg" alt="alt text" class="mw-100">
            </div>
        </li>

        <li class="row">
            <div class="cmp-timeline__thumbnail col-4">

            </div>
            <div class="cmp-timeline__history col-md-5 col">
                <p class="cmp-timeline__year">1993</p>
                <p class="cmp-timeline__description">i don't have a thumbnail</p>
            </div>

        </li>
        <li class="row">
            <div class="cmp-timeline__thumbnail col-4">
                <a href="#">
                    <img src="/image.jpg" alt="alt" class="mw-100">
                </a>
            </div>
            <div class="cmp-timeline__history col-md-5 col">
                <p class="cmp-timeline__year">1994</p>
                <p class="cmp-timeline__description">i have a thumbnail and no modal image</p>
            </div>

        </li>
    </ul>
</div>
<div class="modal fade cmp-timeline__modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <i class="cmp-timeline__modal-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
