<div class="cmp-teams-filter">
    <div class="offset-md-6 col-md-6 col-12 cmp-teams-filter__dropdown-container">
        <div class="col-12 col-md-6 cmp-teams-filter__boutiques-dd">
            <div class="cmp-teams-filter__dropdown">
                <div class="cmp-teams-filter__dropdown-text cmp-teams-filter__boutiques"
                    data-boutiques-text="All boutiques">
                    All boutiques
                </div>
                <ul class="cmp-teams-filter__list-dropdown">
                    <li class="cmp-teams-filter__dropdown-item boutiques selected">All boutiques</li>

                    <li class="cmp-teams-filter__dropdown-item boutiques">Ausbil</li>

                    <li class="cmp-teams-filter__dropdown-item boutiques">Candriam</li>

                    <li class="cmp-teams-filter__dropdown-item boutiques">GoldPoint Partners</li>

                    <li class="cmp-teams-filter__dropdown-item boutiques">IndexIQ</li>

                    <li class="cmp-teams-filter__dropdown-item boutiques">MacKay Shields</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 cmp-teams-filter__strategies-dd">
            <div class="cmp-teams-filter__dropdown">
                <div class="cmp-teams-filter__dropdown-text cmp-teams-filter__strategies"
                    data-strategies-text="All strategies">
                    All strategies</div>
                <ul class="cmp-teams-filter__list-dropdown">
                    <li class="cmp-teams-filter__dropdown-item strategies selected">All strategies</li>

                    <li class="cmp-teams-filter__dropdown-item strategies">Generating Income</li>

                    <li class="cmp-teams-filter__dropdown-item strategies">Longevity and Growth</li>

                    <li class="cmp-teams-filter__dropdown-item strategies">Managing Volatility</li>

                    <li class="cmp-teams-filter__dropdown-item strategies">Sustainable &amp; Responsible Investing</li>

                    <li class="cmp-teams-filter__dropdown-item strategies">Tax-Efficient Investing</li>

                    <li class="cmp-teams-filter__dropdown-item strategies">Workplace and Retirement</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row cmp-teams-filter__container">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-strategies="Longevity and Growth,Generating Income,Managing Volatility" data-boutiques="IndexIQ"
                class="card">

                <picture>
                    <source media="(max-width: 576px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Puja_Samuel_1440x1920.png">
                    <source media="(max-width: 768px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Puja_Samuel_1440x1920.png">
                    <source media="(max-width: 992px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Puja_Samuel_1440x1920.png">
                    <source media="(max-width: 1200px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Puja_Samuel_1440x1920.png">
                    <img src="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Puja_Samuel_1440x1920.png"
                        class="cmp-teams-filter__image"> </picture>
                <p class="cmp-teams-filter__name">
                    Puja Samuel
                    <span></span>
                </p>

                <p class="cmp-teams-filter__title">CFA,Chief Officer,Title 3,Title 4 </p>

                <div class="cmp-teams-filter__boutique-text">

                    <span class="cmp-teams-filter__boutique-anchor-text ">Boutique Link</span>



                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-strategies="Sustainable &amp; Responsible Investing" data-boutiques="Candriam" class="card">
                <a href="/content/nylim/us/en.html" title="Tim D. Bello" class="clickable-bio">
                    <picture>
                        <source media="(max-width: 576px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Tim_Del_Bello_1440x1920.png">
                        <source media="(max-width: 768px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Tim_Del_Bello_1440x1920.png">
                        <source media="(max-width: 992px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Tim_Del_Bello_1440x1920.png">
                        <source media="(max-width: 1200px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Tim_Del_Bello_1440x1920.png">
                        <img src="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Tim_Del_Bello_1440x1920.png"
                            class="cmp-teams-filter__image" alt="DAM Alt Text"> </picture>
                    <p class="cmp-teams-filter__name">
                        Tim D. Bello
                        <span></span>
                    </p>
                </a>
                <p class="cmp-teams-filter__title">Chief Executive Officer,Chief Investment Officer,Portfolio
                    Manager,Chairman</p>

                <div class="cmp-teams-filter__boutique-text">
                    <a href="/content/nylim/us/en.html" title="Winslow Capital Management, LLC" target="New Tab"
                        class="clickable-bio">
                        <span class="cmp-teams-filter__boutique-anchor-text ">Winslow Capital Management, LLC</span>

                    </a>

                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-strategies="Workplace and Retirement" data-boutiques="Ausbil" class="card">
                <a href="/content/nylim/us/en.html" title="Sean Madgett" class="clickable-bio">
                    <picture>
                        <source media="(max-width: 576px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sean_Madgett_1440x1920.png">
                        <source media="(max-width: 768px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sean_Madgett_1440x1920.png">
                        <source media="(max-width: 992px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sean_Madgett_1440x1920.png">
                        <source media="(max-width: 1200px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sean_Madgett_1440x1920.png">
                        <img src="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sean_Madgett_1440x1920.png"
                            class="cmp-teams-filter__image" alt="Sean Madgett"> </picture>
                    <p class="cmp-teams-filter__name">
                        Sean Madgett
                        <span></span>
                    </p>
                </a>
                <p class="cmp-teams-filter__title">CFA</p>

                <div class="cmp-teams-filter__boutique-text">
                    <a href="/content/nylim/us/en.html" title="Boutique Link Title" target="Same Tab"
                        class="clickable-bio">
                        <span class="cmp-teams-filter__boutique-anchor-text ">Boutique Link</span>

                    </a>

                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-strategies="Longevity and Growth" data-boutiques="Ausbil" class="card">

                <picture>
                    <source media="(max-width: 576px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Joel_Arbarella_1440x1920.png">
                    <source media="(max-width: 768px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Joel_Arbarella_1440x1920.png">
                    <source media="(max-width: 992px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Joel_Arbarella_1440x1920.png">
                    <source media="(max-width: 1200px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Joel_Arbarella_1440x1920.png">
                    <img src="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Joel_Arbarella_1440x1920.png"
                        class="cmp-teams-filter__image"> </picture>
                <p class="cmp-teams-filter__name">
                    Joel Arbarella
                    <span></span>
                </p>



                <div class="cmp-teams-filter__boutique-text">
                    <a href="/content/nylim/us/en.html" title="Boutique Link Title" target="Same Tab"
                        class="clickable-bio">
                        <span class="cmp-teams-filter__boutique-anchor-text ">Boutique Link</span>

                    </a>

                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-strategies="Managing Volatility" data-boutiques="IndexIQ" class="card">
                <a href="/content/nylim/us/en.html" title="Rohit Katti" class="clickable-bio">
                    <picture>
                        <source media="(max-width: 576px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Rohit_Katti_1440x1920.png">
                        <source media="(max-width: 768px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Rohit_Katti_1440x1920.png">
                        <source media="(max-width: 992px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Rohit_Katti_1440x1920.png">
                        <source media="(max-width: 1200px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Rohit_Katti_1440x1920.png">
                        <img src="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Rohit_Katti_1440x1920.png"
                            class="cmp-teams-filter__image" alt="Rohit Katti Headshot"> </picture>
                    <p class="cmp-teams-filter__name">
                        Rohit Katti
                        <span></span>
                    </p>
                </a>
                <p class="cmp-teams-filter__title">CFA</p>

                <div class="cmp-teams-filter__boutique-text">
                    <a href="/content/nylim/us/en.html" title="Boutique Link Title" target="New Tab"
                        class="clickable-bio">
                        <span class="cmp-teams-filter__boutique-anchor-text ">Boutique Link</span>

                    </a>

                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-strategies="Generating Income" data-boutiques="Ausbil,IndexIQ,MacKay Shields" class="card">
                <a href="/content/nylim/us/en.html" title="Sahar Omrani" class="clickable-bio">
                    <picture>
                        <source media="(max-width: 576px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sahar_Omrani_1440x1920.png">
                        <source media="(max-width: 768px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sahar_Omrani_1440x1920.png">
                        <source media="(max-width: 992px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sahar_Omrani_1440x1920.png">
                        <source media="(max-width: 1200px)"
                            srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sahar_Omrani_1440x1920.png">
                        <img src="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Sahar_Omrani_1440x1920.png"
                            class="cmp-teams-filter__image" alt="Sahar Omrani Headshot"> </picture>
                    <p class="cmp-teams-filter__name">
                        Sahar Omrani
                        <span></span>
                    </p>
                </a>
                <p class="cmp-teams-filter__title">CFA</p>

                <div class="cmp-teams-filter__boutique-text">
                    <a href="/content/nylim/us/en.html" title="Boutique Link Title" target="Same Tab"
                        class="clickable-bio">
                        <span class="cmp-teams-filter__boutique-anchor-text ">Boutique Link</span>

                    </a>

                </div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-strategies="Managing Volatility,Tax-Efficient Investing"
                data-boutiques="Candriam,GoldPoint Partners" class="card">

                <picture>
                    <source media="(max-width: 576px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Elizabeth_Yenko_1440x1920.png">
                    <source media="(max-width: 768px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Elizabeth_Yenko_1440x1920.png">
                    <source media="(max-width: 992px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Elizabeth_Yenko_1440x1920.png">
                    <source media="(max-width: 1200px)"
                        srcset="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Elizabeth_Yenko_1440x1920.png">
                    <img src="/content/dam/nylim/us/en/qa/qa-automation/teams-component/Elizabeth_Yenko_1440x1920.png"
                        class="cmp-teams-filter__image"> </picture>
                <p class="cmp-teams-filter__name">
                    Elizabeth Yenko
                    <span></span>
                </p>

                <p class="cmp-teams-filter__title">CFA</p>

                <div class="cmp-teams-filter__boutique-text">
                    <a href="/content/nylim/us/en.html" title="Boutique Link Title" target="New Tab"
                        class="clickable-bio">
                        <span class="cmp-teams-filter__boutique-anchor-text ">Boutique Link</span>

                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
