<div>
    <a href='/assets/documents/temp1.pdf'></a>
    <a href='/assets/qa/documents/temp2.pdf'></a>
    <a href='https://abc.testurl.com/temp2.pdf'></a>
    <a href='/assets/qa/documents/temp2'></a>
    <a href='/assets/qa/documents/temp3.html'></a>
</div>
