// bootstrap override
.btn {
    background: transparent;
}

.cmp-button a {
    text-decoration: none;
}
// default
.nyl-button {
    background: $medium-rain;
    height: calcRem(48px);
    padding-left: calcRem(24px);
    padding-right: calcRem(24px);
    @extend %font-weight-medium;
    color: $white;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    @include line-height(24px);

    &:hover {
        background: $medium-rain-2;
        color: $white;
        text-decoration: none;
    }
    i {
        display: flex;
        align-items: center;
    }
    &--icon-prepend {
        margin-right: calcRem(14px);
        svg {
            max-height: calcRem(24px);
            width: calcRem(24px);
        }
        svg g path {
            fill: $white;
        }
    }
    &--icon-arrow {
        margin-left: calcRem(24px);
        &:after {
            content: '';
            display: inline-block;
            width: calcRem(16px);
            height: calcRem(16px);
            background: url('../resources/images/icon-arrow-2--white.svg') no-repeat center/contain;
            @include transform(rotate(180deg));
        }
    }
}

// style system options
.button {
    &--top-margin {
        &-none {
            .cmp-button {
                margin-top: 0 !important;
            }
        }
        &-small {
            .cmp-button {
                margin-top: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-button {
                margin-top: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-button {
                margin-top: calcRem(30px) !important;
            }
        }
    }
    &--bottom-margin {
        &-none {
            .cmp-button {
                margin-bottom: 0 !important;
            }
        }
        &-small {
            .cmp-button {
                margin-bottom: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-button {
                margin-bottom: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-button {
                margin-bottom: calcRem(30px) !important;
            }
        }
    }
    &--hide-arrow {
        .nyl-button {
            .nyl-button--icon-arrow {
                display: none;
            }
        }
    }
    &--primary-italic {
        .nyl-button {
            @extend %alt-font;
            @extend %font-weight-regular;
            font-style: italic;
            @include media-breakpoint-down(sm) {
                height: calcRem(40px);
                padding-left: calcRem(16px);
                padding-right: calcRem(16px);
            }
        }
    }
    &--secondary {
        .nyl-button {
            background: $steel;
            &:hover {
                background: $dark-steel-2;
            }
        }
    }
    &--secondary-cancel {
        .nyl-button {
            background: $light-steel-1;
            color: $steel;
            .nyl-button--icon-prepend {
                svg g path {
                    fill: $steel;
                }
            }
            .nyl-button--icon-arrow {
                &:after {
                    background-image: url('../resources/images/icon-arrow-2--steel.svg');
                }
            }
            &:hover {
                color: $steel;
                background: $light-steel-6;
            }
        }
    }
    &--italic-light-steel {
        .nyl-button {
            background: $light-steel-3;
            color: $steel;
            @extend %alt-font;
            @extend %font-weight-regular;
            font-style: italic;
            .nyl-button--icon-prepend {
                svg g path {
                    fill: $steel;
                }
            }
            .nyl-button--icon-arrow {
                &:after {
                    background-image: url('../resources/images/icon-arrow-2--steel.svg');
                }
            }
            &:hover {
                color: $steel;
                text-decoration: underline;
            }
        }
    }
    &--link-style {
        .nyl-button {
            @extend %font-weight-regular;
            background: transparent;
            color: $steel;
            padding-left: 0;
            &:hover,
            &:focus {
                color: $steel;
                background: transparent;
                @extend %font-weight-bold;
            }
            .nyl-button--icon-prepend {
                svg g path {
                    fill: $steel;
                }
            }

            .nyl-button--icon-arrow {
                &:after {
                    background-image: url('../resources/images/icon-arrow-2--steel.svg');
                }
            }
            @include media-breakpoint-down(sm) {
                @include font-size(14px);
                .nyl-button--icon-arrow {
                    margin-left: calcRem(16px);
                }
            }
        }
    }
    &--underline-link {
        .nyl-button {
            background: transparent;
            text-decoration: underline;
            color: $steel;
            @extend %font-weight-regular;
            &:hover {
                color: $steel;
                background: transparent;
                text-decoration: underline;
            }
            .nyl-button--icon-prepend {
                svg g path {
                    fill: $steel;
                }
            }
            .nyl-button--icon-arrow {
                &:after {
                    background-image: url('../resources/images/icon-arrow-2--steel.svg');
                }
            }
            @include media-breakpoint-down(sm) {
                background: transparent;
                @include font-size(14px);
                .nyl-button--icon-arrow {
                    margin-left: calcRem(16px);
                }
            }
        }
    }
    &--small-text-link {
        .nyl-button {
            background: transparent;
            text-decoration: underline;
            color: $steel;
            @include font-size(14px);
            @extend %font-weight-regular;
            &:hover,
            &:focus {
                color: $steel;
                background: transparent;
                text-decoration: underline;
            }
            .nyl-button--icon-prepend {
                svg g path {
                    fill: $steel;
                }
            }
            .nyl-button--icon-arrow {
                &:after {
                    background-image: url('../resources/images/icon-arrow-2--steel.svg');
                }
            }
            @include media-breakpoint-down(sm) {
                @include font-size(12px);
                .nyl-button--icon-arrow {
                    margin-left: calcRem(16px);
                }
            }
        }
    }
}
