//BACKGROUND COLORS in $all-backgrounds color map
@each $bg-color,
$background-color in $all-backgrounds {
    .background-color--#{$bg-color} > div {
        background-color: $background-color;
    }
}
