html,
body {
    font-family: $font-family-helvetica-neue;
    color: $steel;
    background-color: $white;
    margin: 0;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

body {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        overflow-x: hidden;
    }
}

a,
a > span {
    @include transition(all 0.15s ease-in-out);
    color: $steel;
    text-decoration: none;
    &:hover {
        color: $steel;
    }
}

ol,
ul,
dl {
    padding-left: calcRem(20px);
    margin-bottom: 0;
}

//Overall content width and full for spacing/margin
$max-grid-width: calcRem(1140px);
$content-padding-lg: calcRem(15px);
$content-padding-sm: calcRem(20px);
$component-margin-lg: calcRem(30px);
$component-margin-sm: calcRem(15px);

%full-width {
    width: calc(100vw - 15px);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: calc(-50vw + 6px);
    margin-right: calc(-50vw + 6px);

    > *[class^='cmp-']:not(.cmp-contact-us-form--heading):not(.cmp-contact-us-form__wrapper):not(.cmp-subscription-center-form__title):not(.cmp-subscription-center-form__description):not(.cmp-product-profile__scroll-section) {
        max-width: $max-grid-width;
        margin: auto;
        width: 100%;
    }

    .full-width--device & {
        width: 100vw;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

// adds negative margin to force full-width
%mobile-full-width {
    @include media-breakpoint-down(sm) {
        margin-right: -$content-padding-sm;
        margin-left: -$content-padding-sm;
    }
}

.responsivegrid {
    &.page {
        @include media-breakpoint-down(md) {
            position: relative;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 auto 0;
        }

        max-width: $max-grid-width;
        padding-right: $content-padding-lg;
        padding-left: $content-padding-lg;

        @include media-breakpoint-down(sm) {
            padding-right: $content-padding-sm;
            padding-left: $content-padding-sm;
        }

        .aem-GridColumn {
            > *[class^='cmp-']:not(.cmp-header):not(.cmp-search):not(.cmp-search-input):not(.cmp-footer):not(.cmp-footer):not(.cmp-accordion):not(.cmp-product):not(.cmp-rates) {
                margin-top: $component-margin-lg;
                margin-bottom: $component-margin-lg;
                @include media-breakpoint-down(sm) {
                    margin-top: $component-margin-sm;
                    margin-bottom: $component-margin-sm;
                }
            }
        }
    }
    .full-width {
        @extend %full-width;

        .aem-GridColumn {
            > div[class^='cmp-'] {
                padding-right: $content-padding-lg;
                padding-left: $content-padding-lg;

                @include media-breakpoint-down(sm) {
                    padding-right: $content-padding-sm;
                    padding-left: $content-padding-sm;
                }
            }
        }
    }
    &.cmp-responsive-grid {
        &--left {
            padding-left: calcRem(60px);
        }
        &--right {
            padding-right: calcRem(60px);
        }
        &--middle:not(.cq-Editable-dom) {
            > .aem-Grid {
                display: flex;
                align-items: center;
            }
        }
    }
    .cmp-color-container {
        .responsivegrid.cmp-responsive-grid {
            &--left {
                padding-left: calcRem(45px);
            }
            &--right {
                padding-right: calcRem(45px);
            }
        }
    }
}

// XF style override
.xf-content-height {
    margin: 0;
    min-height: 0;
}

.ie-object-fit-picture {
    img {
        opacity: 0;
    }
}
