// typography utilities
.base-font,
%base-font {
    font-family: $font-family-helvetica-neue;
}

.alt-font,
%alt-font {
    font-family: $font-family-alda;
}

.font-weight-regular,
%font-weight-regular {
    font-weight: $font-weight-regular; // 400
}

.font-weight-medium,
%font-weight-medium {
    font-weight: $font-weight-medium; // 500
}

.font-weight-bold,
%font-weight-bold {
    font-weight: $font-weight-bold; // 700
}

.italic,
%italic {
    font-style: $font-style-italic;
}

// heading defaults
h1,
.h1,
h1 span,
.h1 span,
h2,
.h2,
h2 span,
.h2 span,
h4,
.h4,
h4 span,
.h4 span,
h5,
.h5,
h5 span,
.h5 span {
    @extend %alt-font;
}

h3,
.h3,
h3 span,
.h3 span,
h6,
.h6,
h2 span,
.h6 span {
    @extend %base-font;
}

h1,
.h1,
h1 span,
.h1 span {
    @extend %font-weight-regular;
    @include font-size(50px);
    @include line-height(54px);
}

h2,
.h2,
h2 span,
.h2 span {
    @extend %font-weight-regular;
    @include font-size(38px);
    @include line-height(46px);
}

h3,
.h3 {
    @extend %font-weight-bold;
    @include font-size(36px);
    @include line-height(44px);
}

h4,
.h4 {
    @extend %font-weight-medium;
    @include font-size(26px);
    @include line-height(36px);
}

h5,
.h5 {
    @extend %font-weight-regular;
    @include font-size(22px);
    @include line-height(30px);
}

h6,
.h6 {
    @extend %font-weight-bold;
    @include font-size(16px);
    @include line-height(20px);
    letter-spacing: calcRem(1px);
    text-transform: uppercase;
}

@include media-breakpoint-down(sm) {
    h1,
    .h1,
    h1 span,
    .h1 span {
        @include font-size(28px);
        @include line-height(32px);
    }
    h2,
    .h2,
    h2 span,
    .h2 span {
        @include font-size(24px);
        @include line-height(28px);
    }
    h3,
    .h3,
    h3 span,
    .h3 span {
        @include font-size(22px);
        @include line-height(28px);
    }

    h4,
    .h4,
    h5,
    .h5 {
        @include font-size(16px);
    }
}

.text {
    font-family: $font-family-helvetica-neue;

    &__xl {
        @include font-size(22px);
        @include line-height(28px);
    }
    &__medium {
        @include font-size(18px);
        @include line-height(22px);
    }
    &__large {
        @include font-size(18px);
        @include line-height(28px);
    }
    &__regular {
        @include font-size(16px);
        @include line-height(24px);
    }
}

p,
.p {
    @extend .text__regular;
}

.caption {
    font-family: $font-family-helvetica-neue;

    &__small {
        @include font-size(11px);
        @include line-height(14px);
        letter-spacing: calcRem(0.25px);
    }
    &__medium {
        @include font-size(14px);
        @include line-height(24px);
    }
    &__large {
        @include font-size(16px);
        @include line-height(24px);
    }
}
.quote {
    @extend %alt-font;
    @include font-size(20px);
}
.cta {
    @extend %base-font;
    @include font-size(14px);
}
.eyebrow {
    @extend %base-font;
    @extend %font-weight-bold;
    @include font-size(14px);
    text-transform: uppercase;
    letter-spacing: calcRem(1px);
}
