<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-card-container-placeholder'}" />
<div class="cmp-card-container">
    <div class="cmp-card-container__flex-container d-flex flex-column flex-md-row flex-wrap justify-content-between">
        <sly data-sly-resource="${'card-container-parsys' @resourceType='wcm/foundation/components/parsys'}" />
    </div>
</div>
