<div class="fund-id" data-fundId="F_MTF">
</div>

<span class="cmp-product-profile__share-dropdown__span">Class A</span>
<div class="cmp-calendar-year-returns">
    <div class="container">
        <div class="cmp-calendar-year-returns__heading"></div>
        <div class="cmp-calendar-year-returns__left"></div>
        <div class="cmp-calendar-year-returns__right cmp-calendar-year-returns__right-gradient"></div>
        <div class='cmp-calendar-year-returns__loading-state'></div>
        <div class="cmp-calendar-year-returns__table">
        </div>
    </div>
</div>
