<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = (!properties.totalRows || !properties.totalColumns), classAppend='cmp-table-placeholder'}" />
<div data-sly-test="${properties.totalRows && properties.totalColumns}" class="cmp-table">
    <h2 data-sly-element="${properties.type}" class="cmp-table__heading" data-sly-test="${properties.title}">
        ${properties.title}</h2>
    <div class="cmp-table__container" data-sly-use.tableModel="com.nyl.foundation.models.TableModel"
        data-sly-use.idGenerator="com.nyl.foundation.models.IdGeneratorModel">
        <table id="cmp-table-${idGenerator.id}" class="cmp-table__container__table column-${properties.totalColumns}"
            aria-label="table">
            <thead data-sly-test="${!properties.disableColumnsHeader}" class="cmp-table__thead">
                <tr data-sly-list="${tableModel.columns}">
                    <th scope="col"
                        data-sly-resource="row-0-column-${itemList.index @resourceType='wcm/foundation/components/parsys'}" />
                </tr>
            </thead>
            <tbody data-sly-list="${tableModel.rows}" class="cmp-table__tbody">
                <sly data-sly-test="${!properties.disableColumnsHeader}">
                    <tr data-sly-test="${itemList.index != 0}" data-sly-list.child="${tableModel.columns}">
                        <sly data-sly-test="${!properties.disableRowsHeader}">
                            <th scope="col" data-sly-test="${childList.index == 0}"
                                data-sly-resource="row-${itemList.index}-column-${childList.index @resourceType='wcm/foundation/components/parsys'}" />
                            <td data-sly-test="${childList.index != 0}"
                                data-sly-resource="row-${itemList.index}-column-${childList.index @resourceType='wcm/foundation/components/parsys'}">
                            </td>
                        </sly>
                        <td data-sly-test="${properties.disableRowsHeader}"
                            data-sly-resource="row-${itemList.index}-column-${childList.index @resourceType='wcm/foundation/components/parsys'}">
                        </td>
                    </tr>
                </sly>
                <sly data-sly-test="${properties.disableColumnsHeader}">
                    <tr data-sly-list.child="${tableModel.columns}">
                        <sly data-sly-test="${!properties.disableRowsHeader}">
                            <th scope="col" data-sly-test="${childList.index == 0}"
                                data-sly-resource="row-${itemList.index}-column-${childList.index @resourceType='wcm/foundation/components/parsys'}">
                            </th>
                            <td data-sly-test="${childList.index != 0}"
                                data-sly-resource="row-${itemList.index}-column-${childList.index @resourceType='wcm/foundation/components/parsys'}">
                            </td>
                        </sly>
                        <td data-sly-test="${properties.disableRowsHeader}"
                            data-sly-resource="row-${itemList.index}-column-${childList.index @resourceType='wcm/foundation/components/parsys'}">
                        </td>
                    </tr>
                </sly>
            </tbody>
        </table>
    </div>
</div>