<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-header-placeholder'}" />
<header class="cmp-header noindex">
    <nav class="${wcmmode.edit ? 'author navbar navbar-expand-lg' : 'navbar navbar-expand-lg'}" role="navigation"
        id="header" aria-label="header">
        <div class="container" data-sly-use.headerLinkModel="com.nyl.foundation.models.HeaderLinkModel"
            data-sly-use.linkList="${'com.nyl.foundation.models.LinkListModel' @ child='secondaryNavLinks'}">
            <a data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.imageUrl}"
                href="${headerLinkModel.headerCtaLinkUrl}"
                onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                class="navbar-brand" target=${properties.headerCtaLinkBehavior} title=${properties.headerCtaLinkTitle}>
                <img src=${properties.imageUrl} data-aem-asset-id="${imageModel.imageId}"
                    data-trackable="${imageModel.imageId? 'true' : ''}" alt=${headerLinkModel.imageAltText}
                    class="brand-logo">
            </a>
            <div class="main-nav collapse navbar-collapse justify-content-lg-between multi-collapse" id="main-nav">
                <nav class="mega-nav navbar-nav" id="mega-nav" aria-label="mega-nav"
                    data-sly-list.megaNavLinks="${headerLinkModel.getHeaderLinks}">
                    <div data-sly-test="${!megaNavLinks.ctaLinkText && megaNavLinks.title}"
                        class="nav-item d-flex justify-content-between align-items-center collapsed"
                        data-toggle="collapse" data-target="#megamenu-${megaNavLinksList.index}" tabindex="0"
                        aria-describedby="${'nyl.accessibility.instruction'  @ i18n}">
                        <span class="h4">${megaNavLinks.title}</span>
                        <div class="-icon d-lg-none">
                            <i class="cmp-header__icon--plus" aria-hidden="true"></i>
                        </div>
                        <div class="-icon d-none d-lg-none">
                            <i class="cmp-header__icon--minus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div data-sly-test="${megaNavLinks.ctaLinkText}"
                        class="nav-item d-flex justify-content-between align-items-center collapsed"
                        data-toggle="collapse" data-target="#megamenu-${megaNavLinksList.index}">
                        <a href="${megaNavLinks.getCtaLinkUrl}" class="h4"
                            target="${megaNavLinks.ctaLinkBehavior}">${megaNavLinks.ctaLinkText}</a>
                        <div class="-icon d-lg-none">
                            <i class="cmp-header__icon--plus" aria-hidden="true"></i>
                        </div>
                        <div class="-icon d-none d-lg-none">
                            <i class="cmp-header__icon--minus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <nav data-sly-test="${megaNavLinks.path||megaNavLinks.mobileLinkText}"
                        aria-label="megamenu-${megaNavLinksList.index}" class="mega-nav__items collapse"
                        id="megamenu-${megaNavLinksList.index}" data-parent="#mega-nav">
                        <a href="${megaNavLinks.getCtaLinkUrl}" class="cta_link--mobile"
                            data-sly-test="${megaNavLinks.mobileLinkText}">${megaNavLinks.mobileLinkText}</a>
                        <div class="container">
                            <sly data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
                                data-sly-call="${xfIncludeTemplate.include @ path=megaNavLinks.path}"></sly>
                        </div>
                    </nav>
                </nav>
                <sly data-sly-set.enableCug="${false}" />
                <sly data-sly-list.secNavLinks="${linkList.links}">
                    <sly data-sly-test.isSecNavLinks="${secNavLinksList.last}" />
                    <sly data-sly-test="${secNavLinks.properties.enableCugLogout}">
                        <sly data-sly-set.enableCug="${true}" />
                    </sly>
                </sly>
                <nav class="secondary-nav navbar-nav justify-content-end" aria-label="secondary-nav">
                    <sly data-sly-test="${wcmmode.edit || !enableCug}" data-sly-include="secondary-nav.html" />
                    <sly data-sly-test="${!wcmmode.edit && enableCug}">
                        <sly
                            data-sly-use.resourcePath="${'com.nyl.foundation.models.LinkRewriteModel' @ path=resource.path}" />
                        <div id="secondary-cmp"
                            data-secondary-nav="${resourcePath.rewriteUrlWithoutExtension}.secondary-nav" />
                    </sly>
                    <div data-sly-test="${headerLinkModel.getSecondaryXfTitle}"
                        class="nav-item d-none d-lg-block collapsed" data-toggle="collapse" data-target="#secondary-xf">
                        <a href="#" class="p">${headerLinkModel.getSecondaryXfTitle}</a>
                    </div>
                </nav>
            </div>
            <div class="d-flex order-lg-3" id="nav-icons">
                <sly data-sly-test=${!properties.hideSearch}>
                    <div class="d-flex toggler__search">
                        <button class="navbar-toggler collapsed -search" type="button"
                            title="${'foundation.buttons.open' @ i18n}" data-toggle="collapse" data-target="#search"
                            aria-controls="search" aria-expanded="false"
                            aria-label="${'foundation.buttons.open' @ i18n}">
                            <i class="cmp-header__icon--search" aria-hidden="true"></i>
                        </button>
                        <button class="navbar-toggler collapsed -close" type="button"
                            title="${'foundation.buttons.close' @ i18n}" data-toggle="collapse" data-target="#search"
                            aria-controls="search" aria-expanded="false"
                            aria-label="${'foundation.buttons.close' @ i18n}">
                            <i class="cmp-header__icon--close" aria-hidden="true"></i>
                        </button>
                    </div>
                </sly>
                <sly data-sly-list.megaNavLinks="${headerLinkModel.headerLinks}">
                    <sly data-sly-test.isMegaNavLinks="${megaNavLinksList.last}" />
                </sly>
                <sly data-sly-test="${isMegaNavLinks|| isSecNavLinks}">
                    <div class="d-flex toggler__menu">
                        <button class="navbar-toggler collapsed -menu" type="button" data-toggle="collapse"
                            data-target=".multi-collapse" aria-controls="main-nav" aria-expanded="false"
                            aria-label="${'foundation.buttons.open' @ i18n}">
                            <i class="cmp-header__icon--hamburger" aria-hidden="true"></i>
                        </button>
                        <button class="navbar-toggler collapsed -close" type="button" data-toggle="collapse"
                            data-target=".multi-collapse" aria-controls="main-nav" aria-expanded="false"
                            aria-label="${'foundation.buttons.close' @ i18n}">
                            <i class="cmp-header__icon--close" aria-hidden="true"></i>
                        </button>
                    </div>
                </sly>
            </div>
        </div>
    </nav>
    <sly data-sly-include="search.html" />
    <div id="secondary-xf" class="cmp-secondary-xf collapse multi-collapse">
        <div class="container">
            <sly data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
                data-sly-call="${xfIncludeTemplate.include @ path=properties.secondaryFragmentPath}"></sly>
        </div>
    </div>
</header>
