<div data-sly-test=${!properties.hideSearch} class="cmp-search search collapse" id="search">
    <div class="mx-auto col-md-12 col-lg-6 my-5 pb-5">
        <div class="cmp-search__container">
            <div class="cmp-search__input--layout">
                <form id="nylsearch" name="nylsearch" action="${properties.searchPagePath}.html"
                    data-sly-test="${properties.searchPagePath}" method="get">
                    <fieldset>
                        <legend>
                            <p class="col-12 text-left mx-0 pl-0">
                                <label for="search-input">${'foundation.search.title' @ i18n}</label>
                            </p>
                        </legend>
                        <div class="row mx-0">
                            <div class="col-10 col-md-11 px-0">
                                <input type="text" name="q" autofocus
                                    placeholder="${'foundation.search.placeholderText' @ i18n}"
                                    aria-label="${'foundation.search.placeholderText' @ i18n}" id="search-input"
                                    class="cmp-search__input" />
                            </div>
                            <div class="col-2 col-md-1 px-0 text-center" >
                                <button type="submit" form="nylsearch"
                                    aria-label="${'foundation.searchInputButton' @ i18n}" data-clear-label="${'foundation.buttons.clear' @ i18n}"
                                    data-submit-label="${'foundation.buttons.submit' @ i18n}" class="cmp-search__button nyl-button">
                                    <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-search--white.svg"
                                        class="icon-search" alt="">
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
