<sly data-sly-use.linkList="${'com.nyl.foundation.models.LinkListModel' @ child='secondaryNavLinks'}"
    data-sly-list.link="${linkList.links}">
    <div data-sly-set.logoutUrl="${caconfig['com.nyl.foundation.caconfigs.CugConfig'].logoutUrl}"
        class="nav-item collapsed">
        <a data-sly-test="${wcmmode.edit || currentSession.userID =='anonymous' || !link.properties.enableCugLogout}"
            href="${link.url}" title="${link.title}" target="${link.behavior}" class="p">${link.text}</a>
        <a data-sly-test="${!wcmmode.edit && link.properties.enableCugLogout && currentSession.userID !='anonymous'}"
            href="/system/sling/logout?resource=${logoutUrl ? logoutUrl : link.url @ extension}"
            title="${'foundation.logout' @ i18n}" target="${link.behavior}"
            data-sly-use.cugModel="${'com.nyl.foundation.models.CugModel' @ pagePath=link.url}"
            data-name="${cugModel.fullname}" data-role="${cugModel.userGroups}" class="p">
            ${'foundation.logout' @ i18n}
        </a>
    </div>
</sly>
