<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.model="${'com.nyl.nylim.models.ProductFinderModel'}"
    data-sly-use.requestAttribute="${'com.nyl.foundation.models.RequestAttributeModel' @ setComponentName = 'datatable'}"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-product-finder-placeholder'}" />
<div class="cmp-product-finder"
    data-enable-nav-and-yield-variation="${properties.enableNavYieldVariation ?'true' : 'false'}">
    <app-datatable labels="${model.productFinderObject}"></app-datatable>
</div>
