<div class="global-data-attribute" data-fundId="F_MHY">
</div>
<div class="cmp-mf-distribution-and-yields">
    <div class="row cmp-mf-distribution-and-yields__main-container-row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-mf-distribution-and-yields__distribution-section">
            <div class="cmp-mf-distribution-and-yields__section-heading">
                <span class="cmp-mf-distribution-and-yields__section-left-heading-text"></span>
            </div>
            <div class="cmp-mf-distribution-and-yields cmp-mf-distribution-and-yields__dividend-section mx-0">
                <div class="cmp-mf-distribution-and-yields__sub-section">
                    <span
                        class="cmp-mf-distribution-and-yields__sub-section-text cmp-mf-distribution-and-yields__dividend-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__dividend-asOf-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__dividend-date"></span>
                </div>
                <ul class="cmp-mf-distribution-and-yields__list-container-styling">
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span class="cmp-mf-distribution-and-yields__labels-text payable-date"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span class="cmp-mf-distribution-and-yields__values-text payable-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span class="cmp-mf-distribution-and-yields__labels-text dividend-per-share"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text dividend-per-share-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div
                class="cmp-mf-distribution-and-yields__second-section cmp-mf-distribution-and-yields__capital-gains-section mx-0">
                <div class="cmp-mf-distribution-and-yields__sub-section">
                    <span
                        class="cmp-mf-distribution-and-yields__sub-section-text cmp-mf-distribution-and-yields__capital-gains-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__capital-gains-asOf-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__capital-gains-date"></span>
                </div>
                <ul class="cmp-mf-distribution-and-yields__list-container-styling">
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__labels-text capital-gain-payable-date"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text capital-gain-payable-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__labels-text short-term-capital-gain-per-share"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text short-term-capital-gain-per-share-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__labels-text long-term-capital-gain-per-share"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text long-term-capital-gain-per-share-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__labels-text total-capital-gain-per-share"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text total-capital-gain-per-share-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-mf-distribution-and-yields__rates-and-yields-section">
            <div class="cmp-mf-distribution-and-yields__section-heading">
                <span
                    class="cmp-mf-distribution-and-yields-text cmp-mf-distribution-and-yields__section-right-heading-text"></span>
            </div>
            <div class="cmp-mf-distribution-and-yields cmp-mf-distribution-and-yields__distribution-rate-section mx-0">
                <div class="cmp-mf-distribution-and-yields__sub-section">
                    <span
                        class="cmp-mf-distribution-and-yields__sub-section-text cmp-mf-distribution-and-yields__distribution-rate-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__distribution-rate-asOf-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__distribution-rate-date"></span>
                </div>
                <ul class="cmp-mf-distribution-and-yields__list-container-styling">
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__labels-text distribution-rate-at-NAV"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text distribution-rate-at-NAV-value"></span>
                            </div>
                        </div>
                    </li>
                    <li
                        class="cmp-mf-distribution-and-yields cmp-mf-distribution-and-yields__distribution-sales-charge mx-0">
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__labels-text distribution-rate-sales-charge"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text distribution-rate-sales-charge-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div
                class="cmp-mf-distribution-and-yields__second-section cmp-mf-distribution-and-yields__12-month-rate-section mx-0">
                <div class="cmp-mf-distribution-and-yields__sub-section">
                    <span
                        class="cmp-mf-distribution-and-yields__sub-section-text cmp-mf-distribution-and-yields__12-month-rate-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__12-month-rate-asOf-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__12-month-rate-date"></span>
                </div>
                <ul class="cmp-mf-distribution-and-yields__list-container-styling">
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__labels-text twelve-month-rate-at-NAV"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text twelve-month-rate-at-NAV-value px-0"></span>
                            </div>
                        </div>
                    </li>
                    <li class="cmp-mf-distribution-and-yields cmp-mf-distribution-and-yields__twelve-sales-charge mx-0">
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__labels-text twelve-month-rate-sales-charge"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text twelve-month-rate-sales-charge-value"></span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div
                class="cmp-mf-distribution-and-yields__second-section cmp-mf-distribution-and-yields__30-day-yield-section mx-0">

                <div
                    class="cmp-mf-distribution-and-yields__sub-section cmp-mf-distribution-and-yields__30-day-yield-sub-section">
                    <span
                        class="cmp-mf-distribution-and-yields__sub-section-text cmp-mf-distribution-and-yields__30-day-yield-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__30-day-yield-asOf-text"></span>
                    <span
                        class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields__30-day-yield-date"></span>
                </div>
                <ul class="cmp-mf-distribution-and-yields__list-container-styling">
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span class="cmp-mf-distribution-and-yields__labels-text subsidized-yield"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span class="cmp-mf-distribution-and-yields__values-text subsidized-yield-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-mf-distribution-and-yields__main-row">
                            <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                                <span class="cmp-mf-distribution-and-yields__labels-text unsubsidized-yield"></span>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                                <span
                                    class="cmp-mf-distribution-and-yields__values-text unsubsidized-yield-value"></span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
