.cmp-skills {
    border-radius: 4px;
    border: 4px solid $light-gray;
    padding: calcRem(20px) calcRem(20px) calcRem(20px) calcRem(30px);
    margin-top: calcRem(30px);
    margin-bottom: calcRem(30px);

    @include media-breakpoint-down(sm) {
        margin-top: calcRem(15px);
        margin-bottom: calcRem(15px);
    }

    &__title {
        margin-bottom: calcRem(7px);
        line-height: 24px;
    }

    &__block {
        margin-top: calcRem(18px);
        &:first-child {
            margin-top: 0;
        }
    }

    &__info {
        @extend .text__xSmall;

        ul {
            padding-left: 0;
            margin-bottom: 0;

            .list-inline-item {
                margin-right: 0;

                a {
                    text-decoration: underline;
                    @extend .text__xSmall;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.tooltip-inner {
    background-color: $dark-quartz;
    border: 1px solid $white;
    font-size: 16px;
    line-height: 1.25;
    text-transform: capitalize;
}

.tooltip.show {
    opacity: 1;
}

// Bootstrap Overrides
.popover {
    border-color: $dark-quartz;
    @include font-size(16px);
    @include line-height(16px, 1.25);

    &-header,
    &-body {
        background-color: $dark-quartz;
        border-bottom: $dark-quartz;
        color: $white;
    }

    &-header {
        display: none;

        .close {
            color: $white;
            font-size: 48px;
            font-weight: 400;
            text-shadow: 0 0 0 $white;
            opacity: 1;
        }
    }

    @include media-breakpoint-down(sm) {
        position: fixed !important;
        transform: none !important;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        border: none;

        &-header {
            display: block;
            position: absolute;
            right: 0;
            border-radius: 0;
        }

        &-body {
            height: 100vh;
            display: flex;
            align-items: center;
        }
    }
}

.bs-popover {
    &-right,
    &-left,
    &-top,
    &-bottom {
        > .arrow {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    &-top {
        > .arrow {
            &::before, &::after {
                border-top-color: $dark-quartz;
            }
        }
    }
    &-right {
        > .arrow {
            &::before, &::after {
                border-right-color: $dark-quartz;
            }
        }
    }
    &-bottom {
        > .arrow {
            &::before, &::after {
                border-bottom-color: $dark-quartz;
            }
        }
    }
    &-left {
        > .arrow {
            &::before, &::after {
                border-left-color: $dark-quartz;
            }
        }
    }
}

.overflow-hidden {
    overflow-y: hidden;
}
