<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.variableAnnuityUrl || !properties.variableLifeUrl || !properties.traditionalUrl, classAppend='cmp-service-forms-placeholder'}" />
<div class="cmp-service-forms"
    data-sly-test="${properties.variableAnnuityUrl && properties.variableLifeUrl && properties.traditionalUrl}">
    <form
        data-sly-use.annuityUrl="${'com.nyl.foundation.models.LinkRewriteModel' @ path= properties.variableAnnuityUrl}"
        data-sly-use.lifeUrl="${'com.nyl.foundation.models.LinkRewriteModel' @ path= properties.variableLifeUrl}"
        data-sly-use.traditionalUrl="${'com.nyl.foundation.models.LinkRewriteModel' @ path= properties.traditionalUrl}"
        id="service-form" data-service-vac="${annuityUrl.getRewriteUrl}" data-service-vlc="${lifeUrl.getRewriteUrl}"
        data-service-tc="${traditionalUrl.getRewriteUrl}" novalidate>
        <div class="form-group">
            <label for="policy" data-sly-test="${properties.policyLabel}">${properties.policyLabel}</label> <input
                type="tel" id="policy" class="form-control form-control-lg"
                placeholder="${properties.policyPlaceholderText}" required>
            <div class="cmp-service-forms__invalid-policy-length invalid-feedback">${'nyl.serviceForm.policyValidation'
                @ i18n}</div>
        </div>
        <div class="form-group dropDownList mb-5">
            <label for="state" data-sly-test="${properties.stateLabel}">${properties.stateLabel}</label> <select
                id="state" class="col form-control form-control-lg" required>
                <option value="" data-sly-test="${properties.statePlaceholderText}">${properties.statePlaceholderText}
                </option>
                <sly data-sly-use.model="${'com.nyl.foundation.models.CommonValuesModel' @ property='usStates'}"
                    data-sly-list.states="${model.keyValues}">
                    <option value="${states.key}">${states.value}</option>
                </sly>
            </select>
            <div class="cmp-service-forms__invalid-state invalid-feedback">${'nyl.serviceForm.dropdownValidation'
                @ i18n}</div>
        </div>
        <button type="submit" class="nyl-button"
            data-sly-test="${properties.submitButtonLabel}">${properties.submitButtonLabel}</button>
    </form>
</div>
