// default link-list vertical and row
.cmp-link-list,
.cmp-link-list--row .cmp-link-list {
    h6 {
        @include font-size(14px);
        @include line-height(14px, 1.143);
        font-weight: $font-weight-bold;
        span {
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
        a {
            letter-spacing: calcRem(3px);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        .navbar-toggler,
        img {
            display: none;
        }
    }
    ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    li {
        list-style-type: none;
        padding: calcRem(9px) 0;
        font-size: calcRem(16px);
        @include line-height(16px, 1.25);
        &:first-child {
            padding: calcRem(10px) 0;
        }
        a {
            color: $dark-gray;
            &:hover {
                color: $brand-blue;
                text-decoration: underline;
            }
        }
        span.row {
            display: none;
        }
    }
    .cmp-link-list__secondary-title {
        display: none;
    }
}
// default link-list row
.cmp-link-list--row .cmp-link-list {
    ul {
        li {
            display: inline-block;
            margin-right: 20px;
            @include media-breakpoint-down(md) {
                display: block;
            }
        }
    }
}

.cmp-link-list--nav .cmp-link-list {
    .navbar-notoggle {
        display: none;
    }
    .navbar-toggler {
        display: none;
        @include font-size(14px);
        @include line-height(14px, 1.143);
        font-weight: $font-weight-bold;
        padding: 0;
        @include media-breakpoint-down(md) {
            display: block;
        }
        .icon-caret {
            @include transform(rotate(180deg));
        }
        &.collapsed {
            .icon-caret {
                @include transform(rotate(0deg));
            }
        }
    }
    ul {
        li {
            display: inline-block;
            margin-right: 20px;

            @include media-breakpoint-down(md) {
                display: block;
                margin-left: 15px;
            }
            a {
                @include font-size(16px);
                color: $dark-gray;
                text-decoration: none;
                &:hover {
                    color: $brand-blue;
                    text-decoration: underline;
                }

                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}
