<div class="cmp-skills">
    <div class="cmp-skills__container">
        <div class="cmp-skills__container--myCredentials--block">
            <h4 class="cmp-skills__container--skills--title">My Credentials</h4>
            <div class="cmp-skills__container--userInfo">15 Years Licensed Profesional</div>
        </div>
        <div class="cmp-skills__container--education--block">
            <h4 class="cmp-skills__container--skills--title">Certification and Education</h4>
            <div class="cmp-skills__container--userInfo--certfication">
                <ul class="list-inline_userInfo_licensed">
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="Default tooltip" class="tooltipColor">CFP,</span>
                    </li>
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="Default tooltip" class="tooltipColor">CPA,</span>
                    </li>
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="Default tooltip" class="tooltipColor">MBA,</span>
                    </li>
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="Default tooltip" class="tooltipColor">BA</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cmp-skills__container--licensed--block">
            <h4 class="cmp-skills__container--skills--title">Licensed to assist with:</h4>
            <div class="cmp-skills__container--userInfo--licensed">
                <ul class="list-inline_userInfo_licensed">
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="Default popover" class="tooltipColor">Life
                            Insurance,</span>
                    </li>
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="Another popover"
                            class="tooltipColor">Brokerage,</span>
                    </li>
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="Another popover" class="tooltipColor">Mutual
                            Funds,</span>
                    </li>
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="A much longer popover." class="tooltipColor">529
                            Plans,</span>
                    </li>
                    <li class="list-inline-item">
                        <span data-toggle="popover" data-content="The last popover!"
                            class="tooltipColor">Annuities</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cmp-skills__container--language--block">
            <h4 class="cmp-skills__container--skills--title">Languages</h4>
            <div class="cmp-skills__container--userInfo--languages">Spanish, Korean</div>
        </div>
    </div>
</div>
