<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-statistics-placeholder'}" />
<div class="cmp-statistics">
    <div class="cmp-statistics__container-div">
        <div class="d-flex cmp-statistics__heading-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__main-section">
                <div class="cmp-statistics__section-heading">
                    <span class="cmp-statistics__statistics-text cmp-statistics__section-heading-text"></span>
                    <span class="cmp-statistics__as-of-date as-of"></span>
                    <span class="cmp-statistics__as-of-date as-of-value"></span>
                </div>
            </div>
        </div>
        <div class="row cmp-statistics__main-container-row cmp-statistics__mutualfund">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__mf-main-section">
                <ul class="cmp-statistics__list-container-styling cmp-statistics-mf">
                    <li class="cmp-statistics__header"
                        data-sly-call="${headerStructure @ classOne='fund-value', classTwo='bench-value'}"></li>
                    <li
                        data-sly-call="${rowStructure @ classOne='average-loan-size', classTwo='average-loan-size-value', classThree='average-loan-size-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='average-loan-size-tna', classTwo='average-loan-size-t-n-a-value', classThree='average-loan-size-t-n-a-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='average-price', classTwo='average-price-value', classThree='average-price-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='avg-wt-time-to-reset', classTwo='avg-wt-time-to-reset-value', classThree='avg-wt-time-to-reset-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='effective-duration', classTwo='effective-duration-value', classThree='effective-duration-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='effective-maturity', classTwo='effective-maturity-value', classThree='effective-maturity-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='final-maturity', classTwo='final-maturity-value', classThree='final-maturity-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='median-mkt-cap', classTwo='median-mkt-cap-value', classThree='median-mkt-cap-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='modified-duration', classTwo='modified-duration-value', classThree='modified-duration-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='modified-duration-to-worst', classTwo='modified-duration-to-worst-value', classThree='modified-duration-to-worst-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='wal', classTwo='wal-value', classThree='wal-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='wam', classTwo='wam-value', classThree='wam-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='weighted-avg-mkt-cap', classTwo='weighted-avg-mkt-cap-value', classThree='weighted-avg-mkt-cap-bench-value'}">
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__mf-main-section">
                <ul
                    class="cmp-statistics__list-container-styling cmp-statistics__second-list-container cmp-statistics-mf">
                    <li class="cmp-statistics__header cmp-statistics__hidden-sm"
                        data-sly-call="${headerStructure @ classOne='fund-value', classTwo='bench-value'}"></li>
                    <li
                        data-sly-call="${rowStructure @ classOne='alpha', classTwo='alpha-value', classThree='alpha-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='avg-duration', classTwo='avg-duration-value', classThree='avg-duration-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='beta', classTwo='beta-value', classThree='beta-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='r-squared', classTwo='r-squared-value', classThree='r-squared-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='sharpe-ratio', classTwo='sharpe-ratio-value', classThree='sharpe-ratio-bench-value'}">
                    </li>
                    <li
                        data-sly-call="${rowStructure @ classOne='standard-deviation', classTwo='standard-deviation-value', classThree='standard-deviation-bench-value'}">
                    </li>
                </ul>
            </div>
        </div>
        <div class="row cmp-statistics__main-container-row cmp-statistics__product">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__main-section">
                <ul
                    class="cmp-statistics__list-container-styling cmp-statistics-product cmp-statistics__product-superset">
                    <li class="cmp-statistics__header">
                        <div class="row cmp-statistics__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                                <span></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-statistics__header-label">
                                <span class="cmp-statistics__values-text fund-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__main-section">
                <ul
                    class="cmp-statistics__list-container-styling cmp-statistics-product cmp-statistics__product-subset">
                    <li class="cmp-statistics__header cmp-statistics__hidden-sm">
                        <div class="row cmp-statistics__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                                <span></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-statistics__header-label">
                                <span class="cmp-statistics__values-text fund-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<template data-sly-template.headerStructure="${ @ classOne,classTwo}">
    <div class="row cmp-statistics__main-row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <span></span>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__header-label">
            <span class="cmp-statistics__values-text ${classOne}"></span>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__header-label">
            <span class="cmp-statistics__values-text ${classTwo}"></span>
        </div>
    </div>
</template>

<template data-sly-template.rowStructure="${ @ classOne,classTwo,classThree}">
    <div class="row cmp-statistics__main-row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
            <span class="cmp-statistics__labels-text ${classOne}"></span>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
            <span class="cmp-statistics__values-text ${classTwo}"></span>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
            <span class="cmp-statistics__values-text ${classThree}"></span>
        </div>
    </div>
</template>
