.cmp-separator hr {
    border-top: calcRem(1px) solid $medium-gray;
    margin: $component-margin 0;
}

$separator-colors: map-merge(
    (
        'white': #ffffff,
        'light-gray': $light-gray,
    ),
    $medium-colors
);

@each $separator-color-name, $separator-color in $separator-colors {
    .cmp-separator--#{$separator-color-name} {
        .cmp-separator hr {
            border-color: $separator-color;
            border-top: calcRem(4px) solid $separator-color;
            border-radius: calcRem(2px);
        }
    }
}

//DARK BACKGROUND COLORS

$separator-dark-colors: map-merge(
    (
        'white': #ffffff,
    ),
    $dark-colors
);

@each $separator-dark-color-name, $separator-dark-color in $separator-dark-colors {
    .cmp-separator--#{$separator-dark-color-name} {
        .cmp-separator hr {
            border-color: $separator-dark-color;
            border-top: calcRem(4px) solid $separator-dark-color;
            border-radius: calcRem(2px);
        }
    }
}
