.cmp-product-finder__table {
    position: relative;
    margin-bottom: calcRem(72px);
    @include media-breakpoint-up(sm) {
        float: left;
        display: contents;
    }
    &--container {
        margin-top: calcRem(26px);
        @include media-breakpoint-down(sm) {
            margin-top: 0px;
        }
    }
    &--count {
        color: $header-color;
        height: 24px;
        text-align: left;
        @include line-height(22px);
        @extend %font-weight-regular;
        margin-top: calcRem(6px);
        margin-bottom: 25px;
        padding: 0px;
        white-space: nowrap;
        @include media-breakpoint-down(sm) {
            margin-top: 51px;
            margin-bottom: 12px;
        }
        &-number {
            @extend %font-weight-bold;
            @include line-height(25px);
            @include font-size(20px);
        }
        &-results {
            @extend %font-weight-regular;
            @include line-height(22px);
            @include font-size(18px);
        }
    }

    &--nav-aatr {
        padding: 0px;
        text-align: right;
        margin-bottom: calcRem(16px);
        @include media-breakpoint-down(sm) {
            text-align: left;
            margin-top: 0px;
            margin-left: calcRem(0px);
            margin-bottom: calcRem(16px);
        }
    }

    &--returns {
        display: inline-block;
        span {
            font-size: calcRem(14px);
            line-height: calcRem(18px);
        }
        .toggle-select {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 0px;
            width: calcRem(286px);
            height: calcRem(36px);
            font-size: calcRem(14px);
            color: $steel;
            background-color: $white;
            line-height: calcRem(18px);
            padding: calcRem(8px) 0 calcRem(10px) calcRem(16px);
            text-align: left;
            letter-spacing: normal;
            @include media-breakpoint-down(md) {
                width: calcRem(195px);
            }
            @include media-breakpoint-down(sm) {
                padding-left: calcRem(13px);
                width: calcRem(286px);
            }
        }

        &-dropdown {
            list-style: none;
            position: absolute;
            background-color: $white;
            text-align: left;
            z-index: 1;
            width: calcRem(286px);
            border: solid 1px #e3e9e6;
            padding-left: 0px;
            @include media-breakpoint-down(md) {
                width: calcRem(195px);
            }
            @include media-breakpoint-down(sm) {
                z-index: 10002;
                width: calcRem(286px);
            }

            li {
                padding: calcRem(5px) 0 calcRem(7px) calcRem(15px);
                height: 36px;
                font-size: calcRem(14px);
                line-height: calcRem(16px);
                color: $steel;
                letter-spacing: normal;
                display: flex;
                align-items: left;
                &:hover {
                    background-color: $light-steel-3;
                }
            }
        }

        .icon-container {
            padding-top: calcRem(15px);
            padding-bottom: calcRem(13px);
        }

        &-icon {
            background: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-arrow-steel.svg');
            margin-right: calcRem(14px);
            height: calcRem(12px);
            width: calcRem(12px);
            display: inline-block;
            vertical-align: sub;
            opacity: 0.6;
            background-repeat: no-repeat;
            @include media-breakpoint-down(sm) {
                height: calcRem(14px);
                width: calcRem(14px);
            }
        }
    }

    &--returns-text {
        padding-top: calcRem(9px);
        padding-bottom: calcRem(9px);
        text-align: right;
        letter-spacing: normal;
        @include media-breakpoint-down(sm) {
            text-align: left;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    .selectDiv {
        position: relative;
        display: inline-block;
        margin-left: calcRem(14px);
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
        }

        .dropdown-open {
            i {
                @include transform(rotate(180deg));
                vertical-align: unset;
            }
        }
    }

    &--toggle {
        display: inline-block;
        margin-left: calcRem(30px);
        font-size: calcRem(14px);
        line-height: calcRem(18px);
        padding-top: calcRem(7px);
        padding-bottom: calcRem(9px);
        @include media-breakpoint-down(sm) {
            margin-left: 0px;
            padding-top: calcRem(8px);
            padding-bottom: calcRem(8px);
        }
        .toggle {
            cursor: pointer;
            letter-spacing: normal;
            @include media-breakpoint-down(sm) {
                line-height: calcRem(16px);
                text-align: center;
            }
        }

        .monthly {
            padding-top: calcRem(1px);
            padding-bottom: calcRem(2px);
            @include media-breakpoint-down(sm) {
                padding-top: calcRem(2px);
                padding-bottom: calcRem(1px);
            }
        }

        .quarterly {
            padding-bottom: calcRem(2px);
            @include media-breakpoint-down(sm) {
                padding-top: calcRem(2px);
            }
        }

        .divider {
            margin-left: calcRem(15px);
            margin-right: calcRem(16px);
            border-left: 2px solid $light-steel-1;
            height: calcRem(20px);
            @include media-breakpoint-down(sm) {
                margin-left: calcRem(9px);
                margin-right: calcRem(9px);
            }
        }

        .active {
            font-weight: bold;
            line-height: calcRem(17px);
        }
    }

    .wrapper-div {
        display: inline-block;
        @include media-breakpoint-down(sm) {
            display: block;
            margin-top: calcRem(8px);
        }
    }

    &--as-of {
        display: block;
        height: 14px;
        width: 76px;
        color: $white;
        @extend %font-weight-regular;
        @include font-size(10px);
        letter-spacing: 0;
        @include line-height(14px);
    }

    .datatable-row-wrapper:nth-child(1) {
        position: relative;
    }

    .datatable-row-wrapper .cmp-product-finder__table--cell-ticker {
        position: sticky;
        top: 0;
        left: 0;
    }

    &--symbol-header {
        display: none;
        @include media-breakpoint-down(lg) {
            display: inline;
            @include font-size(13px);
            @include line-height(14px);
            background-color: $header-color;
            color: $white;
            line-height: 14px;
            padding-left: 5px;
            padding-top: 60px;
            z-index: 997;
            position: absolute;
            top: 0;
            &.sticky-shown {
                position: fixed;
                z-index: 997;
            }
            .sort-btn {
                content: '';
                border: 4px solid transparent;
                height: 20px;
                width: 15px;
                position: absolute;
                background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
                background-repeat: no-repeat;
                opacity: 0.3;
                @include transform(rotate(90deg));
                &::before {
                    transform: rotate(180deg);
                    content: '';
                    border: 4px solid transparent;
                    display: block;
                    height: 20px;
                    width: 15px;
                    position: absolute;
                    background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
                    background-repeat: no-repeat;
                    bottom: -4px;
                    right: 5px;
                }
            }
        }
    }

    .ngx-datatable {
        @extend %mobile-full-width;
        transform: none;
        -webkit-transform: none;

        .empty-row {
            text-align: center;
            margin-top: 80px;
            width: 938px !important;
            @include line-height(25px);
            @include font-size(15px);
            @extend %font-weight-bold;
            @include media-breakpoint-down(sm) {
                width: calcRem(1017px) !important;
            }
        }
        .datatable-scroll {
            width: 100% !important;
        }
        .datatable-header {
            color: $white;
            background-color: $header-color;
            min-height: 90px;
            height: 90px;
            width: 938px !important;
            max-height: 90px;
            @include font-size(13px);
            @include line-height(14px);
            position: relative;
            top: 0;
            transition: top 0.25s ease, margin-top 0.25s ease;
            &.sticky-shown {
                position: fixed;
                z-index: 997;
            }

            @include media-breakpoint-down(sm) {
                width: calcRem(1017px) !important;
            }
            .datatable-header-inner {
                @include media-breakpoint-down(sm) {
                    width: calcRem(1017px) !important;
                }

                .datatable-row-center {
                    @include media-breakpoint-down(sm) {
                        width: calcRem(1017px) !important;
                    }
                }
            }
        }
        .datatable-header-cell {
            height: 90px;
            max-height: 90px;
            width: 34px;
            color: $white;
            @extend %font-weight-regular;
            letter-spacing: 0;
            @include line-height(14px);
            padding: 0 0 0 5px !important;
            background-color: #0a3c53;

            .datatable-header-cell-template-wrap {
                padding-top: 60px;
            }
        }
        .datatable-row-even {
            background-color: $white;
        }
        .sortable .sort-btn {
            content: '';
            border: 4px solid transparent;
            height: 20px;
            width: 15px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(270deg));
            bottom: 14px;
            display: inline-flex;
            opacity: 0.3;
            margin-left: 2px;
            margin-bottom: 5px;
        }
        .sortable .sort-btn:before {
            content: '';
            border: 4px solid transparent;
            display: block;
            height: 20px;
            width: 15px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(180deg));
            bottom: -4px;
            right: 5px;
        }
        .sortable .sort-btn.datatable-icon-up:before {
            content: '';
            border: 4px solid transparent;
            display: block;
            height: 20px;
            width: 15px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(180deg));
            bottom: -4px;
            right: 5px;
        }

        //color for rows even/odd
        .datatable-body {
            overflow-y: hidden;
            .clickable {
                cursor: pointer;
            }
            .datatable-row-wrapper {
                .datatable-row-group {
                    @include media-breakpoint-down(sm) {
                        width: calcRem(1017px) !important;
                    }
                }
                :hover {
                    .cmp-product-finder__table--cell-fundNm {
                        text-decoration: underline;
                    }
                    .cmp-product-finder__table--cell-ticker.is-frozen,
                    .cmp-product-finder__table--cell-ratingsOverAll,
                    .cmp-product-finder__table--cell-category,
                    .cmp-product-finder__table--cell-fundsInCategory,
                    .cmp-product-finder__table--cell-ytd,
                    .cmp-product-finder__table--cell-ret1Y,
                    .cmp-product-finder__table--cell-ret3Y,
                    .cmp-product-finder__table--cell-ret5Y,
                    .cmp-product-finder__table--cell-ret10Y,
                    .cmp-product-finder__table--cell-retItd,
                    .cmp-product-finder__table--cell-atNav,
                    .cmp-product-finder__table--cell-Day1Change,
                    .cmp-product-finder__table--cell-wSalesCharge,
                    .cmp-product-finder__table--cell-subsidizedYield,
                    .cmp-product-finder__table--cell-unsubsidizedYield,
                    .cmp-product-finder__table--cell-asOf {
                        background-color: $even-row !important;
                    }
                    background-color: $even-row !important;
                }
            }
            .datatable-body-row.datatable-row-even {
                background-color: $white;
                border-top: none;
                width: 938px !important;
                .datatable-body-cell {
                    @include font-size(13px);
                    @include line-height(18px);
                    display: flex !important;
                    align-items: center !important;
                    padding-left: 5px;
                    letter-spacing: 0;
                    @include media-breakpoint-down(sm) {
                        @include font-size(14px);
                        height: calcRem(80px) !important;
                    }
                }
                .datatable-body-cell.is-frozen {
                    background-color: $white;
                }
                @include media-breakpoint-down(sm) {
                    width: calcRem(1017px) !important;
                    height: calcRem(80px) !important;
                }
            }
            .datatable-body-row.datatable-row-odd {
                background-color: $mobile-row;
                border-top: none;
                width: 938px !important;
                .cmp-product-finder__table--cell-ytd,
                .cmp-product-finder__table--cell-ret1Y,
                .cmp-product-finder__table--cell-ret3Y,
                .cmp-product-finder__table--cell-ret5Y,
                .cmp-product-finder__table--cell-ret10Y,
                .cmp-product-finder__table--cell-retItd {
                    background-color: #dee7eb;
                }
                .cmp-product-finder__table--cell-ratingsOverAll,
                .cmp-product-finder__table--cell-category,
                .cmp-product-finder__table--cell-fundsInCategory,
                .cmp-product-finder__table--cell-atNav,
                .cmp-product-finder__table--cell-Day1Change,
                .cmp-product-finder__table--cell-wSalesCharge,
                .cmp-product-finder__table--cell-subsidizedYield,
                .cmp-product-finder__table--cell-unsubsidizedYield,
                .cmp-product-finder__table--cell-asOf {
                    background-color: #e4eaed;
                }
                .datatable-body-cell {
                    @include font-size(13px);
                    @include line-height(18px);
                    display: flex !important;
                    align-items: center !important;
                    padding-left: 5px;
                    letter-spacing: 0;
                    @include media-breakpoint-down(sm) {
                        @include font-size(14px);
                        height: calcRem(80px) !important;
                    }
                }
                .datatable-body-cell.is-frozen {
                    background-color: $mobile-row;
                }
                @include media-breakpoint-down(sm) {
                    width: calcRem(1017px) !important;
                    height: calcRem(80px) !important;
                }
            }
        }
    }
    //col span class
    .datatable-header-cell.cmp-product-finder__table--ret1Y {
        overflow: visible !important;
        .datatable-header-cell-template-wrap .sort-btn {
            margin-left: 20px;
        }
    }

    &--avg-annual {
        overflow: visible;
        position: absolute;
        z-index: 1;
        display: block;
        top: 11px;
        &-total {
            @include font-size(13px);
            @include line-height(14px);
        }
        &-asof {
            @include font-size(10px);
            @include line-height(14px);
        }
        span {
            display: block;
        }
    }
    .heading-ret1Y {
        display: block;
    }

    &--ticker {
        .heading-ticker {
            background-color: $header-color;
            @include line-height(14px);
            @include font-size(13px);
        }
    }
    &--fundNm {
        @include media-breakpoint-down(sm) {
            width: calcRem(186px) !important;
        }
    }
    &--classInceptionDate {
        span {
            word-spacing: 70px;
            white-space: pre-wrap;
            @include line-height(15px);
            @include font-size(13px);
        }
        .datatable-header-cell-template-wrap {
            padding-top: 50px !important;
            .sort-btn {
                margin-left: 14px !important;
            }
        }
    }
    &--shareClass {
        span {
            word-spacing: 10px;
            white-space: pre-wrap;
            @include line-height(15px);
            @include font-size(13px);
        }
        .datatable-header-cell-template-wrap {
            padding-top: 50px !important;
        }
    }
    &--category {
        span {
            @include line-height(15px);
            @include font-size(13px);
        }
        background-color: #083346 !important;
        @include media-breakpoint-down(sm) {
            width: 102px !important;
        }
    }
    &--fundsInCategory {
        background-color: #083346 !important;
        white-space: pre-wrap !important;
        span {
            @include line-height(15px);
            @include font-size(13px);
        }

        .sort-btn {
            display: none !important;
        }
        .datatable-header-cell-template-wrap {
            padding-top: 50px !important;
        }
    }
    &--assetClass {
        span {
            word-spacing: 80px;
            white-space: pre-wrap;
            @include line-height(15px);
            @include font-size(13px);
        }
        .datatable-header-cell-template-wrap {
            padding-top: 50px !important;
        }
        @include media-breakpoint-down(sm) {
            width: calcRem(82px) !important;
        }
    }
    &--ratingsOverAll {
        background-color: #083346 !important;
        overflow: visible !important;
        .datatable-header-cell-template-wrap {
            padding-top: 50px !important;
            .heading-ratingsOverAll {
                word-spacing: 6pc;
                white-space: pre-wrap;
                @include line-height(15px);
                @include font-size(13px);
            }
        }
    }
    &--ytd {
        background-color: #062736 !important;
        .heading-ytd {
            @include font-size(13px);
            @include line-height(14px);
        }
    }

    &--ret1Y {
        background-color: #062736 !important;
        .heading-ret1Y {
            @include font-size(13px);
            @include line-height(14px);
        }
    }
    &--ret3Y {
        background-color: #062736 !important;
        .heading-ret3Y {
            @include font-size(13px);
            @include line-height(14px);
        }
    }
    &--ret5Y {
        background-color: #062736 !important;
        .heading-ret5Y {
            @include font-size(13px);
            @include line-height(14px);
        }
    }
    &--ret10Y {
        background-color: #062736 !important;
        .heading-ret10Y {
            @include font-size(13px);
            @include line-height(14px);
        }
    }
    &--retItd {
        background-color: #062736 !important;
        .heading-retItd {
            @include font-size(13px);
            @include line-height(15px);
        }
    }
    // Cell data classes
    &--cell-ticker {
        @include font-size(12px);
        @include line-height(15px);
        @extend %font-weight-bold;
        white-space: normal !important;
        span {
            @include font-size(12px);
            @include line-height(15px);
            word-break: break-word;
        }
    }
    &--cell-fundNm,
    &--cell-productType {
        @include font-size(14px);
        white-space: normal !important;
    }
    &--cell-ratingsOverAll {
        background-color: #f2f3f4;
    }
    &--cell-category {
        background-color: #f2f3f4;
        white-space: pre-wrap !important;
        @include font-size(14px);
        padding-left: 0px !important;

        @include media-breakpoint-down(sm) {
            width: 102px !important;
        }
    }
    &--cell-assetClass {
        @include font-size(14px);
        white-space: normal !important;
        @include media-breakpoint-down(sm) {
            width: calcRem(82px) !important;
        }
    }
    &--cell-productType,
    &--cell-shareClass {
        word-break: break-all;
        @include font-size(14px);
        white-space: normal !important;
    }
    &--cell-ytd,
    &--cell-ret1Y,
    &--cell-ret3Y,
    &--cell-ret5Y,
    &--cell-ret10Y,
    &--cell-retItd {
        background-color: #e6eef1;
        word-break: break-all;
        @include font-size(14px);
        white-space: normal !important;
    }
    &--cell-fundsInCategory {
        background-color: #f2f3f4;
        justify-content: center;
    }

    &--cell-shareClass {
        justify-content: center;
        text-align: center;
    }

    &--cell-classInceptionDate {
        padding-left: 2px !important;
    }

    .gradient-display {
        display: none;
    }

    @include media-breakpoint-down(sm) {
        .right-gradient,
        .left-gradient {
            display: block;
            position: absolute;
            width: 30px;
            opacity: 0.8;
            z-index: 999;
        }
        .right-gradient {
            background: linear-gradient(90deg, rgba(129, 199, 255, 0) 0%, rgba(6, 58, 82, 0.31) 100%);
            right: -20px;
        }
        @media (orientation: portrait) {
            .right-gradient {
                right: -20px;
            }
        }
        @media (orientation: landscape) {
            .right-gradient {
                right: 0px;
            }
        }
        .left-gradient {
            background: linear-gradient(270deg, rgba(129, 199, 255, 0) 0%, rgba(6, 58, 82, 0.31) 100%);
            left: 52px;
        }
        .datatable-row-left {
            box-shadow: 9px 11px 18px -5px rgba(6, 58, 82, 0.31);
        }

        .datatable-body {
            .datatable-body-cell {
                @include font-size(14px);
                @include line-height(18px);
            }
            .datatable-row-odd {
                background-color: $mobile-row !important;
                .datatable-body-cell.is-frozen {
                    background-color: $mobile-row !important;
                }
            }
        }

        &--cell-ticker {
            text-decoration: underline;
            @include font-size(12px);
            @include line-height(14px);

            span {
                font-weight: 400;
                @include font-size(12px);
                @include line-height(14px);
                word-break: break-word;
            }
        }

        &--cell-fundNm {
            span {
                font-weight: 700;
                @include font-size(14px);
                @include line-height(18px);
            }
            @include media-breakpoint-down(sm) {
                width: calcRem(186px) !important;
            }
        }

        &--count {
            &-number {
                @include line-height(28px);
                @include font-size(18px);
            }
            &-results {
                @include line-height(28px);
                @include font-size(18px);
            }
        }
    }
    @include ie11only {
        .cmp-product-finder__table--ticker .sort-btn {
            margin-left: -2px !important;
        }
        .cmp-product-finder__table--shareClass .sort-btn {
            margin-left: -2px !important;
        }
    }

    .ngx-datatable.manual-mode {
        .datatable-header {
            @include media-breakpoint-down(sm) {
                width: calcRem(1120px) !important;
            }
            .datatable-header-inner {
                @include media-breakpoint-down(sm) {
                    width: calcRem(1120px) !important;
                }

                .datatable-row-center {
                    @include media-breakpoint-down(sm) {
                        width: calcRem(1120px) !important;
                    }
                }
            }
        }
        .datatable-body {
            .datatable-row-wrapper {
                .datatable-row-group {
                    @include media-breakpoint-down(sm) {
                        width: calcRem(1120px) !important;
                    }
                }
            }
            .datatable-body-row.datatable-row-even {
                width: 1110px !important;
                @include media-breakpoint-down(sm) {
                    width: calcRem(1120px) !important;
                }
            }
        }
        .datatable-body-row.datatable-row-odd {
            width: 1110px !important;
            @include media-breakpoint-down(sm) {
                width: calcRem(1120px) !important;
            }
        }
    }
    .manual-mode {
        .empty-row {
            width: 1110px !important;
            @include media-breakpoint-down(sm) {
                width: calcRem(1120px) !important;
            }
        }
        .datatable-header {
            width: 1110px !important;
            @include media-breakpoint-down(sm) {
                width: calcRem(1120px) !important;
            }
        }
    }
}
@include ie11only {
    .cmp-product-finder#cmp-product-finder-is-ie {
        margin-top: 86px !important;
    }
}
