.cmp-product-finder[data-enable-nav-and-yield-variation='true'] {
    .cmp-product-finder__table {
        .ngx-datatable {
            .datatable-header,
            .datatable-header-cell {
                min-height: 160px !important;
                height: 160px !important;
                max-height: 160px !important;
                display: flex;
                flex-flow: column-reverse;
                &-template-wrap {
                    padding-bottom: 11px;
                    padding-top: inherit !important;
                    height: auto !important;
                }
                .sort-btn {
                    bottom: 10px;
                }
            }
        }
        &--avg-annual {
            width: 175px;
            top: auto;
            bottom: 54px;
            height: 66%;
            &-total {
                margin-top: 12px;
                text-align: left;
            }
            &-asof {
                font-size: 13px !important;
            }
        }
        &--yields-left-sub-heading {
            white-space: normal;
            right: 0;
            left: 0;
            margin: 0 auto;
            position: absolute;
            top: 78px;
            width: 75%;
            text-align: center;
            word-break: break-all;
        }
        &--yields-right-sub-heading {
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
        }
        &--dummy-background {
            position: absolute;
            background: #0a3c53 !important;
            left: 0;
            right: 0;
            height: 55px;
            top: 0;
        }
        &--cell-fundNm {
            @include media-breakpoint-down(sm) {
                width: calcRem(187px) !important;
            }
        }

        &--atNav {
            background-color: #083346 !important;
            overflow: visible !important;
        }
        &--Day1Change {
            background-color: #083346 !important;
            .heading-Day1Change {
                white-space: normal;
            }
        }
        &--wSalesCharge {
            background-color: #083346 !important;
            .heading-wSalesCharge {
                width: 53px;
                display: inline-block;
                white-space: normal;
            }
        }
        &--distributionRates {
            background-color: #0a3c53 !important;
            overflow: visible !important;
            .heading-distributionRates {
                white-space: normal;
                padding-right: 3px;
            }
        }
        &--Month12Rate {
            background-color: #0a3c53 !important;
            .heading-Month12Rate {
                width: 71px;
                white-space: normal;
                display: inline-block;
            }
        }
        &--subsidizedYield {
            background-color: #083346 !important;
            .heading-subsidizedYield {
                white-space: normal;
                display: inline-block;
                width: 65px;
            }
        }
        &--unsubsidizedYield {
            background-color: #083346 !important;
            overflow: visible !important;
            .heading-unsubsidizedYield {
                white-space: normal;
                width: 79px;
                display: inline-block;
            }
            @include media-breakpoint-down(sm) {
                width: calcRem(115px) !important;
            }
        }
        &--asOf {
            background-color: #083346 !important;
            .sort-btn {
                display: none !important;
            }
            @include media-breakpoint-down(sm) {
                width: calcRem(96px) !important;
            }
        }
        &--symbol-header {
            @include media-breakpoint-down(lg) {
                padding-top: 135px !important;
            }
        }
        &--cell-unsubsidizedYield {
            @include media-breakpoint-down(sm) {
                width: calcRem(116px) !important;
            }
        }
        &--cell-asOf {
            @include media-breakpoint-down(sm) {
                width: calcRem(97px) !important;
            }
        }
        &--cell-atNav,
        &--cell-Day1Change,
        &--cell-wSalesCharge,
        &--cell-subsidizedYield,
        &--cell-unsubsidizedYield,
        &--cell-asOf {
            background-color: #f2f3f4;
        }
        &--cell-Day1Change {
            span {
                white-space: normal !important;
                display: block;
                width: 100%;
            }
        }
    }
    .nav-dollar:before {
        content: '$';
    }
    .nav-percent:after {
        content: '%';
    }
    .nav-per-change {
        &:before {
            content: '(';
        }
        &:after {
            content: '%)';
        }
    }
}
