<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-use.requestAttributes="${'com.nyl.foundation.models.RequestAttributeModel'}">
    <sly data-sly-call="${clientLib.js @ categories='nylim.dependencies'}" />
    <script data-sly-test="${requestAttributes.attributes.eloqua}" type="text/javascript"
        src="//img.en25.com/i/livevalidation_standalone.compressed.js"></script>
    <sly data-sly-test="${requestAttributes.attributes.morningstar}">
        <script type="text/javascript" src="//mwc-cdn.morningstar.com/lib/new-relic/new-relic-helper.js"></script>
        <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.js"></script>
        <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/custom-elements/1.2.0/custom-elements.min.js"></script>
        <!-- IE 11 Only! -->
        <script type="text/javascript">
            if (!!window.ActiveXObject || "ActiveXObject" in window) {
                document.write('<script src="https://mwc-cdn.morningstar.com/lib/polyfill/native-shim-es5.js"><\/script>');
            }
        </script>
        <!-- End IE 11 Only! -->
        <script type="text/javascript"
            src="//mwc-cdn.morningstar.com/lib/ec-component-loader/0/dist/ec-component-loader.min.js"></script>
    </sly>
    <sly data-sly-include="media-player-script.html" />
    <sly data-sly-test="${requestAttributes.attributes.literature}"
        data-sly-call="${clientLib.js @ categories='shared.literature'}" />
    <sly data-sly-test="${requestAttributes.attributes.datatable}"
        data-sly-call="${clientLib.js @ categories='nylim.datatable'}" />
    <sly data-sly-call="${clientLib.js @ categories='nylim.global'}" />
</sly>
