<sly data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' 
    @componentName='basepage', imagePath=pageProperties.ogImage}">
    <meta property="og:title" content="${pageProperties.ogTitle}" data-sly-test="${pageProperties.ogTitle}" />
    <meta property="og:description" content="${pageProperties.ogDescription}"
        data-sly-test="${pageProperties.ogDescription}" />
    <meta property="og:image" content="${imageModel.renditions['large'].imageUrl}"
        data-sly-test="${imageModel.renditions['large'].imageUrl}" />
</sly>
<sly data-sly-include="twitter-metadata.html"></sly>
<sly data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' 
    @componentName='data-feed', imagePath=pageProperties.thumbnailImage}">
    <meta name="attr_label" content="${pageProperties.label}" data-sly-test="${pageProperties.label}" />
    <meta name="attr_image-xs" content="${imageModel.renditions['xsmall'].imageUrl}"
        data-sly-test="${imageModel.renditions['xsmall'].imageUrl}" />
    <meta name="attr_image-s" content="${imageModel.renditions['small'].imageUrl}"
        data-sly-test="${imageModel.renditions['small'].imageUrl}" />
    <meta name="attr_image-m" content="${imageModel.renditions['medium'].imageUrl}"
        data-sly-test="${imageModel.renditions['medium'].imageUrl}" />
    <meta name="attr_image-l" content="${imageModel.renditions['large'].imageUrl}"
        data-sly-test="${imageModel.renditions['large'].imageUrl}" />
    <meta name="attr_image-xl" content="${imageModel.renditions['xlarge'].imageUrl}"
        data-sly-test="${imageModel.renditions['xlarge'].imageUrl}" />
    <meta name="attr_image-alt-text" content="${imageModel.altText}" data-sly-test="${imageModel.altText}" />
</sly>
<meta data-sly-use.dataFeedAttributeModel="com.nyl.nylim.models.DataFeedAttributeModel" name="attr_audience"
    content="${dataFeedAttributeModel.audienceAttributes}"
    data-sly-test="${dataFeedAttributeModel.audienceAttributes}" />
<meta name="attr_additional-label" content="${pageProperties.additionalLabel}"
    data-sly-test="${pageProperties.additionalLabel}" />
<meta name="pub_date" data-sly-test="${pageProperties.publicationDate || pageProperties.publishDate}"
    data-sly-set.pubDate="${pageProperties.publicationDate ? 
        pageProperties.publicationDate : pageProperties.publishDate}" content="${'MM/dd/yyyy' @ format=pubDate}" />
