<div data-sly-use.roleContainerModel="com.nyl.nylim.models.RoleContainerModel" data-fundId="${pageProperties.fundId}"
    data-audience-selector="${roleContainerModel.activeUser}" data-audience-title="${roleContainerModel.audienceTitle}"
    class="fund-id global-data-attribute"></div>
<sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
    data-sly-repeat.child="${templatedContainer.structureResources}">
    <sly data-sly-test="${child.name == 'root'}" data-sly-resource="${child.path @
         resourceType=child.resourceType, decorationTagName='div', cssClassName='page'}">
    </sly>
</sly>
