.cmp-table-container {
    position: relative;
    @extend %mobile-full-width;
    @include media-breakpoint-down(md) {
        padding: 0 !important;
        margin: 0 !important;
    }
    .header-first-cell {
        width: calcRem(216px);
        text-align: left;
        @include media-breakpoint-down(sm) {
            min-width: calcRem(216px);
            position: absolute;
            background-color: $steel;
        }
    }
    &__table {
        > :nth-child(1) {
            background-color: $steel;
            width: calcRem(1110px);
            border: none !important;
        }
    }
    .text__medium {
        @include line-height(0);
    }
    .cmp-table-container__cell__txt {
        @include font-size(13px);
        @include line-height(14px);
        font-family: $font-family-helvetica-neue;
        text-align: center;
        color: $white !important;
    }
    &__cell-ico {
        display: none;
    }
    &__table > div {
        display: flex;
        padding-right: calcRem(36px);
        @include media-breakpoint-down(sm) {
            > div {
                width: 1110px;
            }
            display: block;
            border-top: none;
            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__table > :first-child {
        @include sticky-position;
        @include media-breakpoint-up(lg) {
            position: sticky;
            top: 0;
            z-index: 999;
        }
        display: flex;
    }

    &__cell {
        box-sizing: border-box;
        overflow: hidden;
        list-style: none;
        padding-left: calcRem(20px);
        height: calcRem(85px);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            background-color: rgba(0, 0, 0, 0.25);
        }
    }

    &__title {
        &--sm {
            display: none;
            @include media-breakpoint-down(sm) {
                display: inline;
            }
        }
    }
    &__cell-heading-wrapper {
        display: flex;
        flex-wrap: wrap;
        > div {
            width: 100%;
        }
    }
    &--full-cell-sm {
        display: none;
    }
}
.cmp-table-row--full-cell-sm {
    display: none;
}

.scroll-horizontal {
    @include media-breakpoint-down(lg) {
        overflow-x: auto;
        overflow-y: hidden;
    }
}
.right-gradient {
    display: none;
    @include media-breakpoint-down(sm) {
        position: absolute;
        display: block;
        width: calcRem(30px);
        opacity: 0.8;
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(129, 199, 255, 0)),
            to(rgba(6, 58, 82, 0.31))
        );
        background: linear-gradient(90deg, rgba(129, 199, 255, 0) 0%, rgba(6, 58, 82, 0.31) 100%);
        z-index: 999;
        right: 0;
        top: 0;
    }
}
.left-gradient {
    display: none;
    @include media-breakpoint-down(sm) {
        position: absolute;
        display: block;
        width: calcRem(22px);
        opacity: 0.33;
        background: linear-gradient(270deg, rgba(129, 199, 255, 0) 0%, rgba(6, 58, 82, 0.31) 100%);
        z-index: 999;
        right: -22px;
        top: 0;
    }
}
