<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.rowHeading, classAppend='cmp-table-row-placeholder'}" />
<div class="cmp-table-row__heading cmp-table-row__cell" data-sly-test="${properties.rowHeading}">
    <h4>${properties.rowHeading}</h4>
</div>
<sly data-sly-use.row="com.nyl.foundation.models.TableRowModel" data-sly-list.cell="${row.cells}">
    <div class="cmp-table-row__cell">
        <div class="cmp-table-row__title--sm">
            <h3>${cell.columnHeader}</h3>
        </div>
        <p>${cell.description}</p>
    </div>
</sly>
