.cmp-agent-profile {
    .nyl-button {
        margin-top: calcRem(18px);
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__main {
        margin-right: calcRem(30px);
        width: 100%;

        @include media-breakpoint-down(sm) {
            margin-right: 0;
        }
    }

    // Agent Profile Detail Contact Section Start
    &__details {
        background: $medium-rain;

        h1,
        p.h3 {
            color: $dark-rain;
        }

        &--title {
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(10px);
            }

            &--eyebrow {
                @include font-size(20px);
                @include line-height(20px, 1.8);
                font-family: $font-family-effra-pro;
                display: block;
            }
        }

        h1 {
            @include font-size(58px);
            @include line-height(58px, 1.17);
            font-weight: 400;

            @include media-breakpoint-down(md) {
                font-size: $font-size-x-large;
                line-height: 60px;
            }
        }

        &--divider {
            display: none;

            @include media-breakpoint-down(md) {
                display: initial;
            }
        }

        &--seperator {
            display: inline-block;
            padding: 0 5px;
            font-size: $font-size-x-small;
            @include line-height($font-size-x-small, 1.5);
            font-weight: 400;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &--address {
            &--strong {
                font-size: $font-size-x-small;
                @include line-height($font-size-x-small, 1.5);
                font-weight: $font-weight-medium;
                margin-bottom: 0px;
            }

            .home {
                font-size: $font-size-large;
                @include line-height($font-size-large, 1.8);
                margin-bottom: 6px;
            }

            .office,
            .email a {
                font-size: $font-size-x-small;
                @include line-height($font-size-x-small, 1.5);
                font-weight: normal;
            }

            .email {
                font-size: $font-size-x-small;
                @include line-height($font-size-large, 1.5);
                font-weight: 400;
            }
        }

        &--image-container {
            img {
                width: 360px;
                height: 467px;
                object-fit: cover;
                object-position: center;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                    max-height: 237px;
                }

                @include media-breakpoint-only(md) {
                    max-width: calcRem(211px);
                    max-height: calcRem(281px);
                }
            }

            @include media-breakpoint-down(md) {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                z-index: 2;
                margin-top: 20px;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    height: 50%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-left: calc(50% - 50vw);
                    margin-right: calc(50% - 50vw);
                }
            }
        }

        &--social--section {
            h5 {
                margin-right: 10px;
            }
            h5,
            a {
                display: inline-block;
            }

            a {
                margin: 10px 20px 10px auto;
            }
        }

        &--description-section {
            margin-top: 2rem;

            h3 {
                @include line-height(24px, 1.25);
                margin-bottom: 10px;
            }

            p {
                @include font-size($font-size-x-small);
            }
        }
    }

    .cmp-breaker {
        margin-top: calcRem(40px);
    }

    // Agent Profile Detail Contact Section End

    &__dba-section {
        position: relative;
        margin-top: calcRem(30px);
        margin-bottom: calcRem(30px);

        @include media-breakpoint-down(xs) {
            margin-top: calcRem(15px);
            margin-bottom: calcRem(15px);
        }

        &--details {
            margin-top: calcRem(40px);
        }

        &--logo {
            margin-left: calcRem(30px);
            img {
                object-fit: contain;
                width: 100%;
                width: 255px;
                max-height: 540px;
            }

            @include media-breakpoint-down(xs) {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                z-index: 2;
                align-self: center;
                text-align: center;
                width: 100%;
                max-width: 255px;
                max-height: 540px;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    height: 50%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-left: calc(50% - 50vw);
                    margin-right: calc(50% - 50vw);
                }
            }
        }

        &-eyebrow {
            @include font-size($font-size-x-small);
            @extend .base-font;
            display: block;
            font-weight: 400;
        }

        &-title {
            margin-bottom: 10px;
            line-height: 68px;

            @include media-breakpoint-down(xs) {
                @include font-size($font-size-x-large);
                line-height: 68px;
            }
        }

        &-description {
            font-weight: 400;

            p {
                @include font-size($font-size-x-small);
            }

            @include media-breakpoint-down(xs) {
                margin-top: 14px;
                margin-bottom: 29px;
            }
        }
    }
}

//BACKGROUND COLORS//HEADER COLORS
@each $medium-color-name, $medium-color in $medium-colors {
    .cmp-agent-profile__details--#{$medium-color-name} .cmp-agent-profile__details {
        background: $medium-color;
    }
}

//HEADER COLORS
.cmp-agent-profile__details--medium-salmon .cmp-agent-profile__details {
    h1,
    p.h3 {
        color: $dark-salmon;
    }
}

.cmp-agent-profile__details--medium-twilight .cmp-agent-profile__details {
    h1,
    p.h3 {
        color: $dark-twilight;
    }
}

.cmp-agent-profile__details--medium-dusk .cmp-agent-profile__details {
    h1,
    p.h3 {
        color: $dark-dusk;
    }
}

.cmp-agent-profile__details--medium-rain .cmp-agent-profile__details {
    h1,
    p.h3 {
        color: $dark-rain;
    }
}

.cmp-agent-profile__details--medium-palm .cmp-agent-profile__details {
    h1,
    p.h3 {
        color: $dark-palm;
    }
}

.cmp-agent-profile__details--medium-gold .cmp-agent-profile__details {
    h1,
    p.h3 {
        color: $dark-gold;
    }
}

.cmp-agent-profile__details--medium-sunset .cmp-agent-profile__details {
    h1,
    p.h3 {
        color: $dark-sunset;
    }
}
