<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = (!properties.quote && !properties.attribution) , classAppend='cmp-pull-quote-placeholder'}" />
<blockquote class="cmp-pull-quote d-flex flex-column px-4">
    <sly data-sly-use.icon="/apps/nyl-foundation/components/common/templates/icon-quote.html"
        data-sly-use.model="${'com.nyl.foundation.models.ImageModel' @ componentName='pull-quote', imagePath=properties.imageReference, imageAltText=properties.imageAltText}"
        data-sly-call="${icon.include}"></sly>
    <p data-sly-test=${properties.quote} class="cmp-pull-quote__quote">${properties.quote}</p>
    <div class="card-body d-flex flex-row">
        <img data-sly-test="${properties.imageReference}"
            src="${model.svg ? properties.imageReference : model.renditions['small'].imageUrl}"
            data-aem-asset-id="${model.imageId}" data-trackable="${model.imageId? 'true' : ''}" height="48px"
            width="48px" class="mr-3 cmp-pull-quote__userimg" alt="${model.altText}" />
        <div>
            <p data-sly-test="${properties.attribution}" class="cmp-pull-quote__attribution">${properties.attribution}
            </p>
            <p data-sly-test="${properties.title}" class="cmp-pull-quote__title">${properties.title}</p>
        </div>

    </div>
</blockquote>
