<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.resultsPath , classAppend='cmp-search-input-placeholder'}" />
<div class="cmp-search-input">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <form id="cmp-search-input--search-form">
                <fieldset>
                    <legend>${'foundation.search.title' @ i18n}</legend>
                    <h1>${'foundation.search.title' @ i18n}</h1>
                    <div class="input-group mb-3">
                        <sly data-sly-test="${properties.resultsPath}"
                            data-sly-use.rewriteUrl="${'com.nyl.foundation.models.LinkRewriteModel' @ path=properties.resultsPath}" />
                        <label for="cmp-search-input__search-input"></label> <input type="search"
                            class="form-control cmp-search-input__search-input"
                            placeholder="${properties.placeholderText}" aria-label="${properties.placeholderText}"
                            aria-describedby="cmp-search-input__search-btn" id="cmp-search-input__search-input"
                            data-searchResultsPageURL="${rewriteUrl.getRewriteUrl}" />
                        <div class="input-group-app">
                            <button class="nyl-button cmp-search-input__search-btn" type="button"
                                id="cmp-search-input__search-btn" value="${properties.submitText}"
                                aria-label="${properties.submitText}" data-clear-label="${'foundation.buttons.clear' @ i18n}"
                                    data-submit-label="${'foundation.buttons.submit' @ i18n}">
                                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-search--white.svg" class="icon-search"
                                    alt="">
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
