$asset-diversification-color-mapping: (
    '0': $steel,
    '1': $medium-gold,
    '2': $medium-palm,
    '3': $medium-rain,
    '4': $dark-twilight,
    '5': $dark-gold,
    '6': $dark-rain,
    '7': $dark-sunset,
    '8': $medium-twilight,
    '9': $dark-palm,
    '10': $dark-dusk,
    '11': $dark-salmon
);

.cmp-asset-diversification {
    @extend %mobile-full-width;
    &__heading {
        @include media-breakpoint-down(md) {
            padding-left: calcRem(5px);
        }
        color: $steel;
        font-family: $font-family-helvetica-neue;
        margin-bottom: calcRem(24px);
        &-sector-allocation {
            font-size: calcRem(14px);
            font-weight: bold;
            letter-spacing: calcRem(1px);
            line-height: calcRem(17px);
            text-transform: uppercase;
        }
        &-as-of,
        &-date {
            display: none;
            font-size: calcRem(12px);
            letter-spacing: 0;
            line-height: calcRem(13px);
        }
        &-as-of.shown,
        &-date.shown {
            display: inline-block;
        }
    }
    &__chart-scroller {
        align-self: center;
    }
    &__tooltip {
        &-datum {
            fill: $steel;
        }
        &-category {
            fill: $steel;
        }
    }
    .highcharts {
        &-tooltip {
            &-box {
                fill: $white;
                stroke: none;
            }
            span.cmp-asset-diversification__tooltip-datum,
            span.cmp-asset-diversification__tooltip-category {
                color: $steel;
                display: block;
                font-family: $font-family-helvetica-neue !important;
            }
        }
    }
    &__table {
        display: flex;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
        &-column-left,
        &-column-right {
            &-header {
                display: none;
                font-family: $font-family-helvetica-neue;
                font-size: calcRem(14px);
                font-weight: $font-weight-bold;
                letter-spacing: calcRem(0.5px);
                line-height: calcRem(17px);
                margin-bottom: calcRem(14px);
                text-transform: capitalize;
            }
            width: calc(50% - 10px);
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        &-column-left {
            margin-right: calcRem(10px);
            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
        }
        &-item {
            align-items: center;
            background-color: $white;
            display: flex;
            height: calcRem(64px);
            justify-content: space-between;
            margin-bottom: calcRem(2px);
            padding: 0 calcRem(20px);
            position: relative;
            width: 100%;
            @include media-breakpoint-up(md) {
                &:hover {
                    background-color: $rain-tint;
                }
            }
            @each $num, $color in $asset-diversification-color-mapping {
                &.color-#{$num}:before {
                    background-color: $color;
                }
            }
            &:before {
                content: '';
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                width: calcRem(8px);
            }
            @include media-breakpoint-up(md) {
                &.hover:before,
                &:hover:before {
                    width: calcRem(16px);
                }
            }
            &-name,
            &-percentage {
                color: $steel;
                letter-spacing: 0;
            }
            &-name {
                font-size: calcRem(14px);
                line-height: calcRem(18px);
                width: 100%;
            }
            &-percent {
                font-size: calcRem(16px);
                font-weight: $font-weight-bold;
                line-height: calcRem(19px);
                margin-left: calcRem(30px);
                text-align: right;
                @include media-breakpoint-down(sm) {
                    font-size: calcRem(14px);
                    line-height: calcRem(17px);
                }
            }
        }
    }
    &.pie-variation,
    &.bar-variation {
        .cmp-asset-diversification {
            &__table-item {
                @include media-breakpoint-up(md) {
                    &.hover,
                    &:hover {
                        padding-left: calcRem(28px);
                    }
                }
            }
        }
    }
    &.pie-variation,
    &.column-variation {
        .highcharts {
            @each $num, $color in $asset-diversification-color-mapping {
                &-color-#{$num} {
                    fill: $color;
                    stroke: $color;
                }
            }
        }
    }
    &.table-variation {
        .cmp-asset-diversification {
            &__heading {
                padding-left: calcRem(15px);
                @include media-breakpoint-down(md) {
                    padding-left: calcRem(20px);
                }
            }
            &__chart {
                margin-bottom: 0;
            }
            &__table-column-left-header,
            &__table-column-right-header {
                display: block;
                @include media-breakpoint-down(sm) {
                    margin-bottom: calcRem(12px);
                    padding-left: calcRem(20px);
                }
                @include media-breakpoint-down(sm) {
                    padding-left: calcRem(20px);
                }
            }
            &__table-column-right-header {
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(34px);
                }
            }
        }
    }
    &.column-variation {
        .highcharts-tooltip span {
            color: $steel !important;
            font-family: $font-family-helvetica-neue !important;
        }
        .cmp-asset-diversification {
            &__column-chart-mobile-legend {
                display: none;
                @each $num, $color in $asset-diversification-color-mapping {
                    &-item-#{$num} .cmp-asset-diversification__column-chart-mobile-legend-item-dot {
                        background-color: $color;
                    }
                }
                @include media-breakpoint-down(sm) {
                    display: flex;
                    margin-bottom: calcRem(20px);
                }
                &-item {
                    align-items: center;
                    display: flex;
                    &:not(:last-of-type) {
                        margin-bottom: calcRem(8px);
                    }
                    &-dot {
                        border-radius: 50%;
                        height: calcRem(16px);
                        margin-right: calcRem(12px);
                        width: calcRem(16px);
                    }
                    &-date {
                        color: $steel;
                        font-size: calcRem(12px);
                        letter-spacing: 0;
                        line-height: calcRem(18px);
                    }
                }
                &-left-column {
                    margin-right: calcRem(21px);
                }
            }
            &__chart {
                @include media-breakpoint-down(sm) {
                    .highcharts-legend,
                    .highcharts-subtitle {
                        display: none;
                    }
                    &-scroll-fader {
                        background-color: transparent;
                        bottom: 0;
                        height: calcRem(422px);
                        pointer-events: none;
                        position: absolute;
                        width: 100vw;
                        z-index: 2;
                        &:before,
                        &:after {
                            content: '';
                            height: 100%;
                            position: absolute;
                            width: calcRem(97px);
                        }
                        &:before {
                            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 83, 0.4) 100%);
                            left: 0;
                        }
                        &:after {
                            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 83, 0.4) 100%);
                            right: 0;
                        }
                        &.left-start:before {
                            display: none;
                        }
                        &.left-end:after {
                            display: none;
                        }
                    }
                    &-scroller {
                        overflow-x: scroll !important;
                    }
                    &-container {
                        height: calcRem(401px);
                        min-width: calcRem(900px);
                        width: 100%;
                    }
                }
            }
        }
        .highcharts-yaxis {
            width: calcRem(70px);
            text,
            tspan {
                fill: $steel;
                font-family: $font-family-helvetica-neue;
            }
        }
        .highcharts-legend-item text,
        .highcharts-legend-item tspan {
            fill: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(14px);
            line-height: calcRem(18px);
            stroke: none;
        }
        @each $num, $color in $asset-diversification-color-mapping {
            .highcharts-color-#{$num} rect {
                fill: $color;
                stroke: $color;
            }
        }
    }
    &.pie-variation &__chart {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(24px) !important;
        }
        &-container {
            align-self: center;
            height: calcRem(220px);
            width: calcRem(220px);
            @include media-breakpoint-down(sm) {
                height: calcRem(270px);
                width: calcRem(270px);
            }
        }
    }
    &.bar-variation {
        .highcharts {
            &-xaxis .highcharts-axis-line {
                stroke: $steel;
            }
            &-tooltip {
                span.cmp-asset-diversification__tooltip-datum {
                    margin-bottom: 8px;
                }
                span.cmp-asset-diversification__tooltip-datum,
                span.cmp-asset-diversification__tooltip-category {
                    font-size: calcRem(16px);
                }
            }
            &-point {
                @each $num, $color in $asset-diversification-color-mapping {
                    &.color-#{$num} {
                        fill: $color;
                        stroke: $color;
                    }
                }
            }
        }
    }
    &.pie-variation {
        .highcharts {
            &-tooltip {
                text {
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    stroke: none;
                }
            }
            &-credits {
                display: none;
            }
        }
    }

    &--light-gray {
        .cmp-asset-diversification {
            &__table-item {
                background-color: $light-steel-3;
                @include media-breakpoint-up(md) {
                    &:hover {
                        background-color: $rain-tint;
                    }
                }
            }
        }
    }
}

.anchor-link-section {
    .cmp-color-container {
        .cmp-asset-diversification {
            &.pie-variation,
            &.bar-variation {
                .cmp-asset-diversification {
                    &__table {
                        &-column-left,
                        &-column-right {
                            @include media-breakpoint-down(sm) {
                                padding-left: calcRem(5px);
                            }
                        }
                    }
                }
            }
        }
    }
}
