<div class="cmp-map">
    <h3 class="col col-sm-12">${properties.title}</h3>
    <div class="cmp-map__map--container col col-sm-12">
        <div id="google-map" data-latitude="32.06521" data-longitude="-81.161524"></div>
    </div>
    <div class="cmp-map__details col col-sm-12">
        <p class="large">
            9 PARK OF COMMERCE BLVD SUITE 200, SAVANNAH, GA 31405</p>
        <p class="cmp-map__details--contact">
            <span class="cmp-map__details--contact--medium"><strong>${'foundation.businessPhoneLabel'
                    @ i18n}:</strong>
                912-355-3353<br>
            </span>
            <span class="cmp-map__details--contact--medium"><strong>${'foundation.preferredPhoneLabel'
                    @ i18n}:</strong>
                912-355-3353<br>
            </span>
            <span class="cmp-map__details--contact--medium"><strong>${'foundation.faxPhoneLabel'
                    @ i18n}:</strong>
                912-355-3353<br>
            </span>
            <span class="cmp-map__details--contact--medium"> <a href="mailto:thward@ft.NewYorkLife.com"
                    target="_blank">thward@ft.NewYorkLife.com</a>
            </span>
        </p>
        <a title="${properties.linkTitle}" href="${mapModel.googleMapDirectionUrl}32.06521,-81.161524"
            target="${properties.linkBehavior}"> <span class="nyl-button button--secondary">
                ${properties.linkText} <i class="icon-cta-arrow--black" aria-hidden="true">

                </i>
            </span>
        </a>
        <div class="cmp-map__marker">
            <span class="cmp-map__marker--info">TIMOTHY H. WARD <br></span>
            <span class="cmp-map__marker--info cmp-map__marker--agent--address">
                9 PARK OF COMMERCE BLVD SUITE 200, SAVANNAH, GA 31405
            </span>
        </div>
    </div>
</div>
