<div class="cmp-featured-carousel" data-dynamic-mode="false">
    <div class="cmp-featured-carousel__header">
        <h4 class="cmp-featured-carousel__header-title">
            Title
        </h4>
        <a class="cmp-featured-carousel__header-link" target="" title="">
            Link Model Text
        </a>
    </div>
    <div class="cmp-featured-carousel__tile">
        <a href="" target="" class="cmp-featured-carousel__thumbnail-image-wrapper">
            <picture class="cmp-featured-carousel__thumbnail-image-picture">
                <source media="(max-width: 576px)" srcset="" />
                <source media="(max-width: 768px)" srcset="" />
                <source media="(max-width: 992px)" srcset="" />
                <source media="(max-width: 1200px)" srcset="" />
                <img class="cmp-featured-carousel__thumbnail-image-img polyfill-object-fit-ie"
                    src="./nylim-global/resources/images/cat.jpg" alt="" />
            </picture>
            <span class="cmp-featured-carousel__thumbnail-image-label">
                Label
            </span>
        </a>
        <div class="cmp-featured-carousel__tags-wrapper">
            <span class="cmp-featured-carousel__tags">
                Tag
            </span>
            <span class="cmp-featured-carousel__additional-label">
                Additional Label
            </span>
        </div>
        <h5 class="cmp-featured-carousel__title">
            <a href="" class="cmp-featured-carousel__title-link" target="">
                Item Title
            </a>
        </h5>
        <div class="cmp-featured-carousel__description">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend arcu nec
                tempus vestibulum. Sed gravida commodo ante. Phasellus magna leo, congue ac massa nec,
                euismod ultricies nibh. In libero risus, tempor nec porttitor et, iaculis ut purus.
            </p>
        </div>
        <div class="cmp-featured-carousel__footer button button--link-style">
            <a href="" target="" title="">
                <span class="nyl-button">
                    <span class="nyl-button--link-text">
                        Link Model Text
                    </span>
                    <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="cmp-featured-carousel__tile">
        <div class="cmp-featured-carousel__thumbnail-image-wrapper">
            <picture class="cmp-featured-carousel__thumbnail-image-picture">
                <source media="(max-width: 576px)" srcset="" />
                <source media="(max-width: 768px)" srcset="" />
                <source media="(max-width: 992px)" srcset="" />
                <source media="(max-width: 1200px)" srcset="" />
                <img class="cmp-featured-carousel__thumbnail-image-img polyfill-object-fit-ie"
                    src="./nylim-global/resources/images/cat.jpg" alt="" />
            </picture>
            <video-js id="4841158458001" data-account="1752604059001" data-player="rkgpS9K"
                data-video-id="4841158458001" data-playlist-id="" data-embed="default" data-application-id=""
                preload="metadata" controls class="vjs-fluid" data-poster-url="nylim-global/resources/images/cat.jpg"
                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                <video tabindex="-1" role="application"
                    style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"
                    class="vjs-tech" preload="metadata" data-application-id="" data-embed="default" data-playlist-id=""
                    data-video-id="4841158458001" data-player="rkgpS9K" data-account="1752604059001"
                    id="4841158458001_html5_api" aria-labelledby="vjs-dock-title-1"
                    aria-describedby="vjs-dock-description-2" src=""></video>
            </video-js>
            <script src="//players.brightcove.net/1752604059001/rkgpS9K_default/index.min.js">
            </script>
            <span class="cmp-featured-carousel__thumbnail-image-label">
                Label
            </span>
        </div>
        <div class="cmp-featured-carousel__tags-wrapper">
            <span class="cmp-featured-carousel__tags">
                Tag
            </span>
            <span class="cmp-featured-carousel__additional-label">
                Additional Label
            </span>
        </div>
        <h5 class="cmp-featured-carousel__title">
            <a href="" class="cmp-featured-carousel__title-link" target="">
                Item Title
            </a>
        </h5>
        <div class="cmp-featured-carousel__description">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend arcu nec
                tempus vestibulum. Sed gravida commodo ante. Phasellus magna leo, congue ac massa nec,
                euismod ultricies nibh. In libero risus, tempor nec porttitor et, iaculis ut purus.
            </p>
        </div>
        <div class="cmp-featured-carousel__footer button button--link-style">
            <span class="nyl-button">
                <span class="nyl-button--link-text">
                    Link Model Text
                </span>
                <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <div class="cmp-featured-carousel__tile-template-wrapper"
        data-filter="{&quot;facet_topic&quot;:&quot;Thought Leadership&quot;,&quot;facet_asset-class&quot;:&quot;Equities&quot;}">
    </div>
    <div class="link-info" href="https://google.com" data-link-target="_self" data-link-title="google"
        data-link-text="Learn More ">
    </div>
</div>
