<div data-audience-selector="individual" data-audience-title="Individual Investor"
    class="fund-id global-data-attribute"></div>
<div class="cmp-featured-carousel" data-account="70943156001" data-player="HGO4GsYLns" data-dynamic-mode="true">
    <div class="cmp-featured-carousel__header">
        <h4 class="cmp-featured-carousel__header-title">
            Dy
        </h4>
        <a href="/qa/anchor-new?asset-class=Equities" class="cmp-featured-carousel__header-link" target="_self"
            title="abcd">
            View Dynamic
        </a>
    </div>
    <div class="cmp-featured-carousel__tiles-dynamic">
    </div>

    <div class="cmp-featured-carousel__tile-template-wrapper"
        data-filter="{&quot;facet_topic&quot;:&quot;Thought Leadership&quot;,&quot;facet_asset-class&quot;:&quot;Equities&quot;}"
        data-link-target="_blank" data-link-title="Learn" data-link-text="Learn">
        <div class="cmp-featured-carousel__tile">
            <div class="cmp-featured-carousel__thumbnail-image-wrapper">
                <picture class="cmp-featured-carousel__thumbnail-image-picture">
                    <source class="cmp-featured-carousel__thumbnail-image-source-xs" media="(max-width: 576px)"
                        srcset="" />
                    <source class="cmp-featured-carousel__thumbnail-image-source-sm" media="(max-width: 768px)"
                        srcset="" />
                    <source class="cmp-featured-carousel__thumbnail-image-source-md" media="(max-width: 992px)"
                        srcset="" />
                    <source class="cmp-featured-carousel__thumbnail-image-source-lg" media="(max-width: 1200px)"
                        srcset="" />
                    <img class="cmp-featured-carousel__thumbnail-image-img polyfill-object-fit-ie" src="" alt=""
                        title="">
                </picture>
                <video-js id="" data-account="" data-player="" data-video-id="" data-playlist-id="" data-embed="default"
                    data-application-id="" preload="metadata" controls class="cmp-featured-carousel__video-js vjs-fluid"
                    style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                </video-js>
                <span class="cmp-featured-carousel__thumbnail-image-label">
                </span>
            </div>
            <a href="" class="cmp-featured-carousel__thumbnail-image-wrapper">
                <picture class="cmp-featured-carousel__thumbnail-image-picture">
                    <source class="cmp-featured-carousel__thumbnail-image-source-xs" media="(max-width: 576px)"
                        srcset="" />
                    <source class="cmp-featured-carousel__thumbnail-image-source-sm" media="(max-width: 768px)"
                        srcset="" />
                    <source class="cmp-featured-carousel__thumbnail-image-source-md" media="(max-width: 992px)"
                        srcset="" />
                    <source class="cmp-featured-carousel__thumbnail-image-source-lg" media="(max-width: 1200px)"
                        srcset="" />
                    <img class="cmp-featured-carousel__thumbnail-image-img polyfill-object-fit-ie" src="" alt=""
                        title="">
                </picture>
                <span class="cmp-featured-carousel__thumbnail-image-label">
                </span>
            </a>

            <div class="cmp-featured-carousel__tags-wrapper">
                <span class="cmp-featured-carousel__tags">
                </span>
                <span class="cmp-featured-carousel__additional-label">
                </span>
            </div>
            <h5 class="cmp-featured-carousel__title">
                <a href="" class="cmp-featured-carousel__title-link">
                </a>
            </h5>
            <div class="cmp-featured-carousel__description">
            </div>
            <div class="cmp-featured-carousel__footer button button--link-style">
                <a class="cmp-featured-carousel__footer-link">
                    <span class="nyl-button">
                        <span class="nyl-button--link-text">
                        </span>
                        <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
