<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.headline, classAppend='cmp-banner-story-placeholder'}" />
<div data-sly-test="${properties.headline ||  properties.featureImagePath}" class="full-width cmp-banner-story">
    <div class="cmp-banner-story__container">
        <div class="row m-0">
            <div class="col">
                <h1>${properties.headline}</h1>
                <div class="d-none d-lg-block mt-4" data-sly-test="${properties.description}">
                    ${properties.description @ context='html'}</div>
            </div>
            <div class="col col-5 d-none d-md-block col-md-auto mb-4" data-sly-test="${properties.contextImagePath}">
                <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                    data-sly-call="${image.imageTemplate @ componentName='banner-story-context-image', imagePath=properties.contextImagePath, imageAltText=properties.contextImageAltText}">
                </sly>
            </div>
        </div>
        <div class="row col m-0 d-lg-none d-md-block">
            <sly data-sly-test="${properties.description}">${properties.description @ context='html'}</sly>
        </div>
        <div class="row m-0" data-sly-test="${properties.videoId || properties.featureImagePath}">
            <div class="cmp-banner-story--asset col">
                <div class="cmp-banner-story--media">
                    <sly data-sly-test="${properties.featureImagePath && !properties.videoId}"
                        data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                        data-sly-call="${image.imageTemplate @ componentName='banner-story', imagePath=properties.featureImagePath, imageAltText=properties.featureImageAltText,imgClass='mw-100'}">
                    </sly>

                    <sly data-sly-test="${properties.videoId}"
                        data-sly-include="/apps/nyl-foundation/components/content/video/video.html"> </sly>
                </div>
            </div>
        </div>
    </div>
</div>
