.cmp-calculator-container {
    &__landing {
        &-view {
            text-align: center;
            padding: 60px 15px;
            background-color: $light-gray;
        }
        &-title {
            text-transform: uppercase;
            font-size: 18px;
            font-family: $font-family-effra-pro;
            font-weight: normal;
            line-height: 27px;
            color: $black;
            margin-top: 0;
        }
        &-subtitle {
            font-family: $font-family-alda-pro;
            font-size: 46px;
            font-weight: normal;
            line-height: 56px;
            color: $dark-rain;
            @include media-breakpoint-down(sm) {
                font-size: 28px;
                line-height: 38px;
            }
        }
        &-description {
            color: $black;
            font-size: 18px;
            font-weight: normal;
            font-family: $font-family-effra-pro;
            line-height: 27px;
            margin-bottom: 0;
            margin-top: 20px;
        }
        &-button {
            margin-top: 80px;
            width: 210px;
            padding: 10px 15px;
            line-height: normal;
        }
    }
    &__main-view {
        display: none;
        background-color: $light-gray;
        padding: 20px 0;
        @include media-breakpoint-up(md) {
            padding: 30px 15px;
        }
        @include media-breakpoint-up(lg) {
            padding: 40px 90px 50px;
        }
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }
    &__table-of-contents {
        padding: 0;
        @include media-breakpoint-up(md) {
            background-color: $white;
            padding: 30px 15px;
            border-radius: 5px;
            box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.05);
        }
    }
    &__table-of-contents__headline {
        font-size: 18px;
        line-height: 27px;
        font-family: $font-family-effra-pro;
        font-weight: normal;
        color: $black;
        text-transform: uppercase;
        margin: 0;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
    &__steps {
        font-size: 16px;
        font-family: $font-family-effra-pro;
        font-weight: normal;
        line-height: 27px;
        color: $dark-gray;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
    &__table-of-contents-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            color: $dark-gray;
            font-weight: normal;
            font-size: 18px;
            font-family: $font-family-effra-pro;
            flex-grow: 1;
            span {
                &:first-of-type {
                    border: 1px solid #979797;
                    display: inline-block;
                    margin-right: 20px;
                    border-radius: 50%;
                    width: 20px;
                    min-width: 20px;
                    height: 20px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.6;
                    background-color: $light-gray;
                    color: #202020;
                    font-weight: normal;
                }
                &:last-of-type {
                    padding-top: 5px;
                }
            }
            &.active {
                color: $dark-rain;
                font-weight: bold;
                span:first-of-type {
                    color: $white;
                    border-color: $dark-rain;
                    background-color: $dark-rain;
                }
            }
            &.complete {
                span:first-of-type {
                    background-color: #979797;
                }
            }
            @include media-breakpoint-up(md) {
                border-bottom: 1px solid $light-gray;
                padding: 15px 0;
                &:first-of-type {
                    padding-top: 15px;
                }
                &:last-of-type {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
            @include media-breakpoint-down(sm) {
                border-right: 1px solid $medium-gray;
                padding: 0px 15px;
                font-size: 20px;
                &:last-of-type {
                    border-right: none;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            background-color: $white;
            padding: 18px 0;
            box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.04);
            flex-wrap: nowrap;
            overflow-x: scroll;
            touch-action: none;
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
    &__section {
        @include media-breakpoint-down(sm) {
            height: 100%;
            display: flex;
            margin-left: calcRem(15px);
        }
    }
    &__current-section {
        position: relative;
        align-items: center;
        justify-items: center;
        display: inline-block;
        margin: 21px 0 22px 0;
        width: calcRem(17px);
        height: calcRem(17px);
        border: 0.5px solid $black;
        border-radius: calcRem(50px);
        background-color: $white;
    }
    &__current-index {
        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 2px;
            left: 3px;
            font-family: $font-family-effra-pro;
            font-size: calcRem(14px);
            line-height: normal;
            font-weight: normal;
            color: $black;
        }
    }
    &__section-title {
        @include media-breakpoint-down(sm) {
            display: inline-block;
            margin: 18px 0 18px 10px;
            text-align: center;
            font-family: $font-family-effra-pro;
            font-size: calcRem(20px);
            font-weight: bold;
            line-height: normal;
        }
    }
    &__separator-vertical {
        @include media-breakpoint-down(sm) {
            display: inline-block;
            margin: 15px 0 15px 15px;
            height: calcRem(30px);
            border: 0.5px solid #979797;
        }
    }
    &__section-headline {
        margin: 0 4px 40px;
        font-family: $font-family-alda-pro;
        font-size: 28px;
        font-weight: normal;
        line-height: 38px;
        color: $dark-rain;
        @include media-breakpoint-up(md) {
            margin: 0 8px 40px;
            font-size: 36px;
            line-height: 48px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 46px;
            line-height: 58px;
            margin: 0 15px 40px;
        }
        @include media-breakpoint-down(sm) {
            margin: 20px 4px 30px;
        }
    }
    &__calculator {
        padding-left: 11px;
        padding-right: 11px;
        @include media-breakpoint-up(md) {
            padding-left: 21px;
            padding-right: 7px;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 75px;
            padding-right: 0px;
        }
    }
    &__calculator-block {
        display: none;
        &.active {
            display: block;
        }
    }
    &__button-container {
        justify-content: flex-end;
        margin: 0px 4px;
        @include media-breakpoint-up(md) {
            margin: 0px 8px;
        }
        @include media-breakpoint-up(lg) {
            margin: 0px 15px;
        }
        button {
            width: 170px;
            height: 50px;
            border-radius: 3px;
            &:first-of-type {
                margin-right: 15px;
            }
            @include media-breakpoint-up(md) {
                width: 162px;
                height: 49px;
            }
            @include media-breakpoint-up(lg) {
                width: 210px;
                height: 50px;
            }
        }
    }
    &__submit-button {
        span {
            position: relative;
        }
        img {
            width: 20px;
            position: absolute;
            top: calc(50% - 12px);
            right: calc(100% + 10px);
            display: none;
        }
    }

    &__edit-mode {
        .cmp-calculator-container {
            &__calculator-block {
                display: block;
            }
            &__main-view {
                display: flex;
            }
            &__button-container button {
                margin-right: 15px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    &__section-info {
        font-family: $font-family-effra-pro;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 27px;
        letter-spacing: normal;
        color: $black;
        &--icon {
            background: url('../resources/images/tool-tip-question-mark-icon.svg') no-repeat center/contain;
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-left: 10px;
        }
        margin-left: 4px;
        margin-right: 4px;
        @include media-breakpoint-up(md) {
            margin-left: 8px;
            margin-right: 8px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    &__success {
        display: none;
        border-radius: 8px;
        background-color: $light-gray;
        padding: 60px 0;

        &.result-error {
            .cmp-calculator-container__success {
                &--pagetitle,
                &--title,
                &--age--more,
                &--chart,
                &--disclaimer,
                &--note,
                &--cta-btn-container {
                    display: none;
                }
            }
        }

        &--container {
            margin: 0 179px;
            .nyl-button:hover {
                color: $white;
            }
            @include media-breakpoint-down(md) {
                margin: 0 49px;
            }
            @include media-breakpoint-down(sm) {
                margin: 0 15px;
            }
        }

        &--pagetitle {
            font-family: $font-family-effra-pro;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            color: $black;
            text-transform: uppercase;
        }
        &--title {
            color: $dark-rain;
            text-align: center;
            display: block;
            margin: 20px 0;
            font-size: 46px;
            line-height: 56px;
            font-weight: 400;
            @include media-breakpoint-down(md) {
                font-size: 36px;
                line-height: 58px;
                font-weight: 400;
                margin-bottom: 14px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 28px;
                line-height: 38px;
                font-weight: 400;
                margin-bottom: 30px;
            }
        }
        &--description {
            margin: 20px 0 0;
            font-family: $font-family-effra-pro;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            color: $black;
            @include media-breakpoint-down(md) {
                margin-top: 14px;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 30px;
            }
            .highlighted {
                font-weight: 700;
            }
        }

        &--data-block {
            flex-grow: 1;
            @include media-breakpoint-down(sm) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &-top {
                display: flex;
                justify-content: center;
                align-items: baseline;
                img {
                    margin-right: 25px;
                    @include media-breakpoint-down(sm) {
                        display: none;
                        margin-right: 0;
                    }
                }
                @include media-breakpoint-down(sm) {
                    align-items: center;
                }
                @include media-breakpoint-only(md) {
                    align-items: flex-start;
                }
            }
        }
        &--chart {
            text-align: center;
            margin: 40px 0 20px;
            @include media-breakpoint-down(sm) {
                display: none;
            }
            img[src=''] {
                display: none;
            }
        }

        &--age--more {
            margin-top: 40px;
            @include media-breakpoint-down(sm) {
                border-radius: 10px;
                background-color: $white;
                box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.1);
                min-height: 150px;
                margin-top: 20px;
            }
            .description {
                margin: 10px 0 0;
                font-family: $font-family-effra-pro;
                font-size: 18px;
                line-height: 1.5;
                color: $black;
                text-align: center;
                @include media-breakpoint-down(md) {
                    margin-top: 7px;
                }
                @include media-breakpoint-down(sm) {
                    margin-bottom: 20px;
                }
            }
            &.no-chart {
                .description {
                    margin: 20px 0 0;
                }
                @include media-breakpoint-down(sm) {
                    background-color: transparent;
                    box-shadow: none;
                    margin-top: 20px;
                    .cmp-calculator-container__success--data-block-top {
                        background-color: $white;
                        box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.1);
                        border-radius: 5px;
                        p {
                            margin: 40px 0;
                        }
                    }
                }
            }
        }

        &--age,
        &--more {
            font-family: $font-family-effra-pro;
            font-size: 36px;
            line-height: 1;
            color: $black;
            text-align: center;
            margin: 0;
            @include media-breakpoint-down(md) {
                font-size: 28px;
                line-height: 36px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 36px;
                line-height: 36px;
                margin-top: 20px;
            }
        }
        &--disclaimer {
            margin: 20px 0 40px;
            font-family: $font-family-effra-pro;
            font-size: 14px;
            line-height: 1.5;
            color: $dark-gray;
            a {
                color: $dark-gray;
                text-decoration: underline;
            }
        }
        &--divider {
            margin: 40px 0;
            border: solid 1px #c8c8d1;
        }

        &--note {
            margin: 0 0 40px;
            font-family: $font-family-effra-pro;
            font-size: 18px;
            line-height: 1.5;
            color: $black;
            text-align: center;
            @include media-breakpoint-down(sm) {
                margin-bottom: 60px;
            }
        }
        &--cta-btn-container {
            max-width: 60%;
            .button--primary {
                max-width: 100%;
                display: flex;
                align-items: center;
                span {
                    display: block;
                }
            }
        }
    }

    &__error {
        margin-top: 30px;
        color: $error-red;
    }

    &__start-over-container {
        font-family: $font-family-effra-pro;
        font-size: 18px;
        line-height: 1.44;
        color: $black;
        :before {
            content: '';
            background: url(../resources/images/icon-cta-arrow--black.svg);
            height: 14px;
            width: 18px;
            transform: rotate(180deg);
            display: inline-block;
            margin-right: 10px;
        }
    }
    &__start-over-btn {
        margin-top: 15px;
        background: transparent;
        border: 0;
        color: $black;
        &:focus {
            outline: 0;
            text-decoration: underline;
        }
    }

    &.styles-Safari-iOS,
    &.styles-Firefox {
        .cmp-calculator-container__table-of-contents-list li {
            align-items: baseline;
        }
    }
    &.styles-Safari-iOS {
        .cmp-calculator-container__table-of-contents-list li span:first-of-type {
            line-height: 1.3;
        }
    }
    &.styles-Firefox {
        .cmp-calculator-container__table-of-contents-list li span:first-of-type {
            line-height: 1.2;
        }
    }
}
