.cmp-link-list {
    .navbar-toggler {
        display: none;
    }
    h6,
    h6 a {
        display: block;
        letter-spacing: 1px;
        @include font-size(14px);
        @include line-height(17px);
        color: $white;
        &:hover {
            color: $white;
        }
    }

    ul {
        text-align: left;
        padding: 0;
        margin: 0;
        list-style-type: none;
        clear: both;
        li {
            float: left;
            width: 100%;
            @include media-breakpoint-down(sm) {
                float: none;
                width: 100%;

                &:not(:first-child) {
                    margin-top: calcRem(16px);
                }
            }
            a {
                letter-spacing: normal;
                @include line-height(28px);
                text-decoration: none;
                color: $white;
                @include media-breakpoint-down(sm) {
                    @include font-size(12px);
                    @include line-height(13px);
                }
                &:hover {
                    color: $white;
                    text-decoration: underline;
                }
            }
            span {
                display: none;
            }
        }
    }
    &__secondary-title {
        display: none;
        @include font-size(12px);
        @include line-height(13px);
    }
    &--striped-bg,
    &--white-bg {
        .cmp-link-list {
            h6,
            h6 a {
                color: $steel;
                &:hover {
                    color: $steel;
                }
            }
            ul {
                li {
                    width: 100%;
                    min-height: calcRem(56px);
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    a {
                        @include font-size(16px);
                        color: $steel;
                        @include media-breakpoint-down(sm) {
                            letter-spacing: 0;
                        }
                        &:hover {
                            color: $steel;
                        }
                    }
                }
            }
        }
    }

    &--striped-bg {
        .cmp-link-list {
            ul {
                li {
                    padding: calcRem(17px) calcRem(24px);
                    @include media-breakpoint-down(sm) {
                        padding: calcRem(16px) calcRem(20px);
                        min-height: calcRem(66px);
                        flex-direction: column;
                    }
                    a {
                        @extend %alt-font;
                        @include font-size(16px);
                        @include line-height(25px);
                        letter-spacing: 0.46px;
                        max-width: calc(100% - 200px);
                        position: relative;
                        top: -5px;
                        &:after {
                            content: '';
                            display: inline-block;
                            width: calcRem(12px);
                            height: calcRem(12px);
                            background: url('../resources/images/icon-arrow-2--steel.svg') no-repeat center/contain;
                            @include transform(rotate(180deg));
                            margin: 0 calcRem(4px);
                        }
                        @include media-breakpoint-down(sm) {
                            @include font-size(13px);
                            @include line-height(16px);
                            max-width: unset;
                        }
                    }
                    &:nth-child(even) {
                        background-color: $light-steel-2;
                    }
                    &:nth-child(odd) {
                        background-color: $light-steel-3;
                    }
                    span {
                        max-width: calcRem(200px);
                        margin-left: calcRem(30px);
                        margin-right: calcRem(24px);
                        @extend %base-font;
                        @include font-size(14px);
                        @include line-height(18px);
                        letter-spacing: 0;
                        display: inline-block;
                        @include media-breakpoint-down(sm) {
                            max-width: 100%;
                            width: 100%;
                            margin: 0;
                            @include font-size(12px);
                            @include line-height(14px);
                        }
                    }
                }
            }
        }
    }

    &--white-bg {
        .cmp-link-list {
            h6,
            &__secondary-title {
                display: inline-block;
                @include media-breakpoint-down(sm) {
                    min-height: calcRem(36px);
                    display: block;
                    background-color: $light-steel-1;
                    padding: calcRem(20px);
                }
            }
            h6 {
                padding: calcRem(23px) calcRem(22px) calcRem(23px) calcRem(24px);
                margin-bottom: 0;
                @include media-breakpoint-down(sm) {
                    padding-bottom: 0;
                    padding-right: 24px;
                }
            }
            &__secondary-title {
                padding: calcRem(24px) calcRem(24px) calcRem(24px) calcRem(0);
                @include font-size(12px);
                @include line-height(13px);
                @include media-breakpoint-down(sm) {
                    padding-top: 0;
                    padding-left: 24px;
                }
            }
            ul {
                li {
                    background-color: $white;
                    padding: calcRem(19px) calcRem(24px);
                    border-bottom: 1px solid $light-steel-3;
                    align-items: center;
                    @include media-breakpoint-down(sm) {
                        padding: calcRem(19px) calcRem(20px);
                        min-height: calcRem(72px);
                    }
                    a {
                        @include line-height(18px);
                        letter-spacing: 0.68px;
                        @include media-breakpoint-down(sm) {
                            @include font-size(14px);
                            @include line-height(18px);
                        }
                    }
                    &:after {
                        content: '';
                        display: inline-block;
                        width: calcRem(7px);
                        height: calcRem(13px);
                        background: url('../resources/images/icon-arrow-2--steel.svg') no-repeat center/contain;
                        @include transform(rotate(180deg));
                        margin: calcRem(2px) calcRem(4px) calcRem(2px) calcRem(30px);
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}
.xf-web-container {
    .cmp-link-list {
        h6,
        h6 a {
            color: $steel;
            &:hover {
                color: $steel;
            }
        }
        ul {
            li {
                a {
                    color: $steel;
                    &:hover {
                        color: $steel;
                    }
                }
            }
        }
    }
}
