<div class="cmp-auv" data-fund-code="CSV" id="cmp-auv-1234">
    <div class="cmp-auv__table">
        <h2 class="cmp-auv__table--heading">Table caption text</h2>
        <div class="cmp-auv__table--container">
            <table class="cmp-auv__table--container__table" aria-label="table">
                <thead class="cmp-auv__table--thead">
                    <tr>
                        <th class="active" scope="col">Fund
                            <div>
                                <svg class="icon-asc" width="24" height="24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.293 10.364a1 1 0 0 1 0-1.414L12.243 4l4.95 4.95a1 1 0 0 1-1.414 1.414l-2.494-2.493V19a1 1 0 0 1-2 0V7.786l-2.578 2.578a1 1 0 0 1-1.414 0z"
                                        fill="#DAE1E5" />
                                </svg>
                            </div>
                        </th>
                        <th scope="col">As of</th>
                        <th scope="col">Change from</th>
                        <th scope="col">% Change from</th>
                        <th scope="col">% Change YTD</th>
                    </tr>
                </thead>
                <tbody class="cmp-auv__table--tbody">
                    <tr>
                        <th scope="col"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cmp-auv__dual-sort-icon">
            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.293 10.364a1 1 0 0 1 0-1.414L7.243 4l4.95 4.95a1 1 0 0 1-1.414 1.414L8.285 7.871V19a1 1 0 1 1-2 0V7.786l-2.578 2.578a1 1 0 0 1-1.414 0zM22.193 13.636a1 1 0 0 1 0 1.414L17.243 20l-4.95-4.95a1 1 0 0 1 1.414-1.414l2.494 2.494V5a1 1 0 1 1 2 0v11.214l2.578-2.578a1 1 0 0 1 1.414 0z"
                    fill="#DAE1E5" />
            </svg>
        </div>
    </div>

    <div class="cmp-auv__error">
        <div class="cmp-auv__error--icon-wrapper">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20.9553 5.15548C22.4294 2.20729 26.6366 2.20729 28.1107 5.15548L42.6386 34.2112C43.9684 36.8708 42.0344 40.0001 39.0609 40.0001H10.0052C7.03163 40.0001 5.09765 36.8708 6.42745 34.2112L20.9553 5.15548ZM26.5174 33.001C26.5174 34.1056 25.622 35.001 24.5174 35.001C23.4128 35.001 22.5174 34.1056 22.5174 33.001C22.5174 31.8965 23.4128 31.001 24.5174 31.001C25.622 31.001 26.5174 31.8965 26.5174 33.001ZM24.5156 15.0008C23.4111 15.0008 22.5156 15.8962 22.5156 17.0008V25.0008C22.5156 26.1054 23.4111 27.0008 24.5156 27.0008C25.6202 27.0008 26.5156 26.1054 26.5156 25.0008V17.0008C26.5156 15.8962 25.6202 15.0008 24.5156 15.0008Z"
                    fill="#c02321" />
            </svg>
        </div>
        <div class="cmp-auv__error--text-wrapper">
            <h4>Network Error</h4>
            <p>We are having trouble retrieving the financial data for this product. Check back again soon.</p>
        </div>
    </div>
</div>
