<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder
   @ isEmpty = true, classAppend='cmp-role-selection-placeholder'}" />

<div data-sly-use.roleSelectionModel="com.nyl.nylim.models.RoleSelectionModel"
    data-instance="${roleSelectionModel.isAuthor?'author':'publish'}" class="cmp-role-selection noindex d-none">
    <div class="cmp-role-selection__toggle">
        <div class="dropdown">
            <a href="#" class="cmp-role-selection__toggle--button" id="roleSelectionToggle" aria-haspopup="true"
                aria-expanded="false">
                <span class="nyl-button">
                    <span></span>
                    <i class="cmp-role-selection__toggle--icon" aria-hidden="true"></i>
                </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="roleSelectionToggle">
                <ul data-sly-test="${roleSelectionModel.audienceDetails}"
                    data-sly-list.audienceDetails="${roleSelectionModel.audienceDetails}">
                    <li data-selector="${audienceDetails.selector}"><a>${audienceDetails.title}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="cmp-role-selection__modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="cmp-role-selection__modal--cookie modal-content d-none">
                <div class="modal-header">
                    <h4 data-sly-test="${properties.cookiePolicyHeadline}" class="modal-title">
                        ${properties.cookiePolicyHeadline}</h4>
                </div>
                <div data-sly-test="${properties.cookiePolicyDescription}" class="modal-body cmp-rte">
                    ${properties.cookiePolicyDescription @ context='html'}
                </div>
                <div class="modal-footer">
                    <a title="${properties.cookiePolicyButtonTitle}">
                        <span class="nyl-button">
                            ${properties.cookiePolicyButtonText}
                        </span>
                    </a>
                </div>
            </div>
            <div class="cmp-role-selection__modal--audience modal-content d-none">
                <div class="modal-header">
                    <h4 data-sly-test="${properties.audienceHeadline}" class="modal-title">
                        ${properties.audienceHeadline}</h4>
                    <button type="button" data-dismiss="modal" aria-label="${'foundation.buttons.close' @ i18n}">
                        <i class="cmp-role-selection__close" aria-hidden="true"></i>
                    </button>
                </div>
                <div data-sly-test="${properties.audienceDescription}" class="modal-body cmp-rte">
                    ${properties.audienceDescription @ context='html'}
                </div>
                <div class="modal-footer">
                    <ul data-sly-test="${roleSelectionModel.audienceDetails}"
                        data-sly-list.audienceDetails=${roleSelectionModel.audienceDetails}>
                        <li data-selector="${audienceDetails.selector}"><a>${audienceDetails.title}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
