<sly data-sly-use.agentDirectoryModel="${'com.nyl.nylcom.models.agentweb.AgentDirectoryModel'}" />
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !agentDirectoryModel.agents, classAppend='cmp-agent-directory-placeholder'}" />

<div class="cmp-agent-directory" data-total-results="${agentDirectoryModel.totalResults}"
    data-producer-type="${agentDirectoryModel.producerType}" data-producer-state="${agentDirectoryModel.state}"
    data-producer-city="${agentDirectoryModel.city}" data-sly-test="${agentDirectoryModel.agents}">
    <h3 class="cmp-agent-directory__title">${properties.sectionTitle} ${agentDirectoryModel.address}</h3>
    <ul class="d-flex flex-row flex-wrap" data-sly-list.agent="${agentDirectoryModel.agents}">
        <li class="cmp-agent-directory__agent col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-agent-directory__agent--image float-left">
                <a href="${agent.profileURL}" title="${'nyl.agent.dbaButtonTitleAttribute' @i18n} ${agent.fullName}"
                    data-sly-unwrap="${!agent.profileURL}"><img width="65" height="65"
                        alt="${agent.fullName} ${agent.title}"
                        src="${agent.profileImage ? agent.profileImage : properties.fallbackProfileImage}">
                </a>
            </div>
            <div class="cmp-agent-directory__agent--info">
                <div class="cmp-agent-directory__agent--name">
                    <a href="${agent.profileURL}" title="${'nyl.agent.dbaButtonTitleAttribute' @i18n} ${agent.fullName}"
                        data-sly-unwrap="${!agent.profileURL}"> ${agent.fullName} </a>
                </div>
                <p class="cmp-agent-directory__agent--title">${agent.title}</p>
            </div>
        </li>
    </ul>

    <nav class="cmp-agent-directory__pagination nyl-pagination d-none align-items-stretch justify-content-center m-auto"
        aria-label="Agent Directory Results" data-sly-test="${agentDirectoryModel.totalResults>18}">
        <p class="text__xSmall">${'nyl.agent.pageLabel' @i18n} <span class="nyl-pagination__current sr-only"></span></p>
        <a href="#" class="nyl-pagination__previous nyl-button button--disabled"
            aria-label="${'nyl.agent.pageLeftArrow' @i18n}">
            <img class="d-none" src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                alt="${'foundation.loadingAltText' @ i18n}" width="22" height="22" />
            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--white.svg"
                class="icon-caret" alt="">
            <span class="sr-only">${'nyl.agent.pageLeftArrow' @i18n}</span>
        </a>
        <div class="nyl-pagination__input">
            <label class="sr-only" for="nyl-pagination__input">${'nyl.agent.pageLabel' @i18n}</label>
            <input id="nyl-pagination__input" type="text" value="1" maxlength="3">
        </div>

        <p class="text__xSmall">${'nyl.agent.pageOfLabel' @i18n}&nbsp;<span
                class="nyl-pagination__last text__xSmall"></span></p>
        <a href="#" class="nyl-pagination__next nyl-button" aria-label="${'nyl.agent.pageRightArrow' @i18n}">
            <img class="d-none" src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                alt="${'foundation.loadingAltText' @ i18n}" width="22" height="22" />
            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--white.svg"
                class="icon-caret" alt="">
            <span class="sr-only">${'nyl.agent.pageRightArrow' @i18n}</span>
        </a>
        <div class="d-none">
            <div class="cmp-agent-directory__label--agent-url"
                data-agent-url="${'nyl.agent.dbaButtonTitleAttribute' @i18n}"></div>
            <div class="cmp-agent-directory__label--image" data-image-fallback="${properties.fallbackProfileImage}">
            </div>
            <div class="cmp-agent-directory__label--title" data-title-agent="${'nyl.agent.agentTitleLabel' @i18n}"
                data-title-recruiter="${'nyl.agent.recruiterTitleLabel' @i18n}"
                data-title-dba="${'nyl.agent.dbaTitleLabel' @i18n}"
                data-title-eagle="${'nyl.agent.eagleTitleLabel' @i18n}"
                data-title-nyl="${'nyl.agent.nylTitleLabel' @i18n}"></div>
        </div>
    </nav>
</div>
