<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.formType || !properties.viewAdditionalFormsTitle || !properties.numberOfForms, classAppend='cmp-service-forms-results-placeholder'}" />
<div class="cmp-service-forms-results"
    data-sly-test="${properties.formType && properties.viewAdditionalFormsTitle && properties.numberOfForms}">
    <div class="cmp-service-forms-results__results" data-results="${properties.numberOfForms}"
        data-form-type="${properties.formType}">
        <sly data-sly-list.parentNode="${resource.listChildren}">
            <sly data-sly-list.serviceForms="${parentNode.listChildren}">
                <div class="cmp-service-forms-results__item row align-items-center"
                    data-sly-use.identifier="${'com.nyl.foundation.models.IdGeneratorModel'}">
                    <div class="cmp-service-forms-results__td col-12 col-md-5">${serviceForms.formDescription
                        @ context='html'}</div>
                    <div class="cmp-service-forms-results__aof col-12 col-md"
                        data-sly-use.model="${'com.nyl.foundation.models.LinkModel'  @ linkUrl=serviceForms.buttonUrl}">
                        <a data-sly-test="${serviceForms.buttonLabel && serviceForms.buttonUrl}"
                            href="${model.linkUrl}"> <span class="cmp-service-forms-results__button nyl-button">
                                ${serviceForms.buttonLabel} </span>
                        </a>
                    </div>
                    <div class="cmp-service-forms-results__phone col-12 col-md text-left">
                        <p>${serviceForms.callUs}</p>
                    </div>
                    <div class="col-12 col-md">
                        <p>
                            <a data-toggle="collapse" data-target="#service-form-item-${identifier.id}"
                                href="#service-form-item-${identifier.id}" role="button" aria-expanded="false"
                                aria-controls="service-form-item-${identifier.id}">${serviceForms.mailLabel}</a>
                        </p>
                    </div>
                    <div id="service-form-item-${identifier.id}"
                        class="col-sm-12 collapse cmp-service-forms-results__item-mail">
                        <hr />
                        <div class="row">
                            <div class="cmp-service-forms-results__empty col-md-5"></div>
                            <div class="col">
                                <p class="cmp-service-forms-results__mailing"></p>
                            </div>
                            <div class="col">
                                <p class="cmp-service-forms-results__fax"></p>
                                <p data-sly-test="${serviceForms.downloadFormLabel && serviceForms.downloadFormUrl}"
                                    data-sly-use.model="${'com.nyl.foundation.models.LinkModel' @ linkUrl=serviceForms.downloadFormUrl}">
                                    ${'nyl.serviceForm.formLabel' @ i18n}<br /> <a
                                        href="${model.linkUrl}">${serviceForms.downloadFormLabel}</a>
                                </p>
                            </div>
                            <div class="cmp-service-forms-results__close col">
                                <p>
                                    <a data-toggle="collapse" href="#service-form-item-${identifier.id}" role="button"
                                        aria-expanded="false"
                                        aria-controls="service-form-item-${identifier.id}">${'foundation.buttons.close'
                                        @i18n}
                                        <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-close--dark-quartz.svg"
                                            class="icon-close" alt="">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
        </sly>
        <div class="text-center mt-3" data-sly-test="${properties.viewAdditionalFormsTitle}">
            <button type="button" class="cmp-service-forms-results__loadmore nyl-button button--secondary">
                ${properties.viewAdditionalFormsTitle}</button>
        </div>
    </div>
    <div class="d-none cmp-service-forms-results__key-variableProductsServiceCenter" data-service-center="${'nyl.serviceForm.variableProductsServiceCenter'
                            @ i18n}" data-fax="" data-mailing-address="
        ${'nyl.serviceForm.variableProductsServiceCenterMailingAddress'
                            @ i18n,context='html'}"></div>
    <div data-sly-use.usStates="${'com.nyl.foundation.models.CommonValuesModel' @ property='usStatesKeyDallasServiceCentre'}"
        class="d-none cmp-service-forms-results__key-dallasServiceCenter" data-service-center="${'nyl.serviceForm.dallasServiceCenter'
                            @ i18n}" data-fax="${'nyl.serviceForm.dallasServiceCenterFaxNumber'
                            @ i18n,context='html'}" data-states="${usStates.values}" data-mailing-address="
        ${'nyl.serviceForm.dallasServiceCenterMailingAddress'
                            @ i18n,context='html'}"></div>
    <div data-sly-use.usStates="${'com.nyl.foundation.models.CommonValuesModel' @ property='usStatesKeyClevelandServiceCentre'}"
        class="d-none cmp-service-forms-results__key-clevelandServiceCenter" data-service-center="${'nyl.serviceForm.clevelandServiceCenter'
                            @ i18n}" data-fax="${'nyl.serviceForm.clevelandServiceCenterFaxNumber'
                            @ i18n,context='html'}" data-states="${usStates.values}" data-mailing-address="
        ${'nyl.serviceForm.clevelandServiceCenterMailingAddress'
                            @ i18n,context='html'}"></div>
</div>
