<div>
    <input class='mds-search-field__input' />
    <input class='mds-search-field__input' />
    <input class='mds-search-field__input' />
</div>
<div class="mstar-hypo-report-button">
    <button>
        Generate Report
    </button>
</div>
