// global margin override for XF components
@include marginOverride('cmp-header', 0, 0, 15, 20);

.cmp-header {
    .cmp-link-list,
    .cmp-button,
    .cmp-rte {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        @include media-breakpoint-down(sm) {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    &__icon {
        &--search,
        &--hamburger,
        &--close,
        &--plus,
        &--minus {
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(24px);
                height: calcRem(24px);
            }
        }
        &--search {
            background: url('../resources/images/icon-search--steel.svg') no-repeat center/contain;
        }
        &--hamburger {
            background: url('../resources/images/icon-hamburger--steel.svg') no-repeat center/contain;
        }
        &--close {
            background: url('../resources/images/icon-close--steel.svg') no-repeat center/contain;
        }
        &--plus {
            &:after {
                width: calcRem(18px);
                height: calcRem(18px);
                margin-right: calcRem(10px);
                margin-top: calcRem(10px);
                background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
            }
        }
        &--minus {
            &:after {
                width: calcRem(18px);
                height: calcRem(18px);
                margin-right: calcRem(10px);
                margin-top: calcRem(10px);
                background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
                @include transform(rotate(180deg));
            }
        }
    }

    #header {
        background: $white;
        z-index: 1001;
        padding: 0px;
        @extend %full-width;

        .brand-logo {
            @include font-size(16px);
        }
        .main-nav {
            overflow-y: visible;
            .nav-item {
                padding: 0 calcRem(12px);
                text-align: center;
                .h4 {
                    font-family: $font-family-helvetica-neue;
                    font-weight: $font-weight-medium;
                    @include font-size(14px);
                    @include line-height(16px);
                    letter-spacing: 0.5px;
                    text-decoration: none;
                    margin-bottom: 0;
                }
            }
        }

        .secondary-nav {
            .nav-item {
                font-family: $font-family-alda;
                font-style: $font-style-italic;
                @include font-size(15px);
                @include line-height(24px);
                padding: calcRem(0px) calcRem(17px);
                border-right: 1px solid $medium-gray;
                display: flex;
                align-items: center;
            }
        }

        .navbar-toggler {
            line-height: unset;
            border: none;
        }

        .-search,
        .-menu {
            &:not(.collapsed) {
                display: none;
            }
        }
        .-close {
            &.collapsed {
                display: none;
            }
        }
        .display-none {
            display: none;
        }
        @include media-breakpoint-up(lg) {
            transition: top 0.25s ease;
            height: calcRem(86px);
            &.header-shown {
                position: fixed;
                top: 0;
            }
            &.header-hidden {
                position: fixed;
                top: -86px;
            }
            .container {
                max-width: $max-grid-width;
            }
            .navbar-brand,
            .brand-logo {
                padding: 0;
                height: calcRem(55px);
            }
            .navbar-brand {
                margin-right: calcRem(52px);
            }
            .secondary-nav {
                .nav-item .p {
                    @include font-size(15px);
                    text-decoration: none;
                    line-height: calcRem(16px);
                }
            }
            .main-nav {
                .nav-item {
                    .h4 {
                        padding-top: calcRem(30px);
                        padding-bottom: calcRem(25px);
                    }
                }
            }
            .mega-nav,
            .secondary-nav {
                .nav-item a {
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        height: calcRem(6px);
                        background: $light-steel-1;
                        bottom: 0;
                        left: 0;
                        right: 100%;
                        @include transition(right 0.25s ease);
                    }

                    &:hover {
                        text-decoration: none;
                        &:after {
                            right: 0;
                        }
                    }
                }
            }

            .secondary-nav .nav-item a {
                &:after {
                    bottom: calcRem(-32px);
                }
            }
            &.navbar-expand-lg {
                .navbar-nav .nav-link {
                    padding-right: 0;
                    padding-left: 0;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                }
                .toggler__search {
                    .navbar-toggler {
                        @include font-size(0px);
                        padding: calcRem(20px);
                        &.-search {
                            &.collapsed {
                                display: inline-flex;
                            }
                            &:not(.collapsed) {
                                display: none;
                            }
                        }
                        &.-close {
                            &:not(.collapsed) {
                                display: inline-flex;
                            }
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {
            .brand-logo {
                height: calcRem(40px);
            }
            .mega-nav__items {
                &.collapse.show {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid $medium-gray;
                    padding-bottom: calcRem(24px);
                }
                .cta_link--mobile {
                    padding: calcRem(12px) calcRem(0px) calcRem(20px);
                }
                a {
                    font-family: $font-family-helvetica-neue;
                    font-weight: $font-weight-regular;
                    @include font-size(14px);
                    @include line-height(18px);
                }
            }
            .navbar-brand {
                padding: calcRem(20px);
                margin-top: 0px;
                height: calcrem(80px);
            }
            .container {
                max-width: none;
            }
            .main-nav {
                order: 1;
                margin: 0;
                padding: calcRem(20px);
                background-color: $light-steel-3;
                .nav-item {
                    padding: 0;
                    .h4 {
                        @include font-size(16px);
                        letter-spacing: 0.53px;
                        margin: 0;
                        padding: calcRem(13px) calcRem(0px) calcRem(12.5px) calcRem(0px);
                        pointer-events: none;
                        cursor: default;
                    }
                }
            }
            .mega-nav {
                .nav-item {
                    cursor: pointer;
                    &.collapsed {
                        border-bottom: 1px solid $medium-gray;
                    }
                }
            }
            .navbar-nav {
                padding: 0px;
            }
            .mega-nav,
            .secondary-nav {
                order: 2;
                width: 100%;
                background: $light-steel-3;
                padding-bottom: calcRem(20px);
            }
            .secondary-nav {
                padding-top: calcRem(20px);
                .nav-item {
                    &:not(:first-of-type) {
                        padding-top: calcRem(20px);
                    }
                    border-right: none;
                    a {
                        @include font-size(16px);
                        @include line-height(18px);
                    }
                }
            }
            .toggler__menu {
                margin-right: 10px;
            }
            .navbar-toggler {
                padding: calcRem(10px);
            }
        }
        // Meganav Part 2
        .mega-nav {
            width: 100%;
            margin-bottom: 0;
            &__items {
                background: $light-steel-3;
            }
            .cmp-link-list {
                ul li a {
                    color: $steel;
                }
            }

            @include media-breakpoint-up(lg) {
                width: auto;
                .xfpage {
                    .xf-content-height {
                        > .aem-Grid {
                            display: flex;
                        }
                    }
                }
                @include ie11only {
                    .xfpage {
                        width: 100%;
                    }
                }
                .responsivegrid {
                    border-left: 1px solid $light-steel-1;
                    padding: calcRem(20px) 0;
                    display: flex;
                    align-items: center;
                    &:first-child {
                        border-left: 0;
                        .button--link-style {
                            a {
                                padding-top: calcRem(24px);
                            }
                        }
                    }
                    &:last-child {
                        > .aem-Grid {
                            padding-left: calc(100% / 12);
                        }
                        .button--link-style {
                            a {
                                padding-top: calcRem(41px);
                            }
                        }
                    }

                    .image {
                        width: fit-content;
                        @include ie11only {
                            width: calcRem(190px);
                        }
                    }
                }
                .cta_link--mobile {
                    display: none;
                }
                .cmp-link-list {
                    ul li {
                        &:not(:first-child) {
                            padding-top: calcRem(22px);
                        }
                        a {
                            font-weight: $font-weight-bold;
                        }
                    }
                }
                .button--link-style {
                    a {
                        display: block;
                    }
                    .nyl-button {
                        height: auto;
                        padding: 0;
                    }
                }
                &__items {
                    position: absolute;
                    top: calcRem(86px);
                    left: 0;
                    width: 100%;
                    box-shadow: 0 0.7px 10px 0 rgba(0, 0, 0, 0.1);
                    @include transition(all 0.5s ease);
                    .container {
                        padding: calcRem(64px) calcRem(0px);
                    }
                }
            }
            @include media-breakpoint-down(md) {
                .cmp-rte,
                .cmp-button,
                .cmp-image {
                    display: none;
                }
                &__items {
                    .container {
                        padding: 0;
                        .aem-Grid {
                            .link-list {
                                width: 100%;
                            }
                        }
                    }
                }
                .link-list:nth-child(n + 2) {
                    margin-top: calcRem(16px);
                }
                .cmp-link-list {
                    li:not(:first-child) {
                        margin-top: calcRem(16px);
                    }
                }
            }
        }
    }
}
