@gridpath : "/libs/wcm/foundation/clientlibs/grid";

@import "@{gridpath}/grid_base.less";
 
/* maximum amount of grid cells to be provided */
@max_col: 12;
 
/* default breakpoint */
.aem-Grid {
    .generate-grid(default, @max_col);
    width: auto;
}

/* extra small breakpoint */
@media (max-width: 576px) {
    .aem-Grid {
        .generate-grid(x-small, @max_col);
    }
}

/* small breakpoint */
@media (min-width: 577px) and (max-width: 768px) {
    .aem-Grid {
        .generate-grid(small, @max_col);
    }
}

/* medium breakpoint */
@media (min-width: 769px) and (max-width: 992px) {
    .aem-Grid {
        .generate-grid(medium, @max_col);
    }
}

/* large breakpoint */
@media (min-width: 993px) and (max-width: 1200px) {
     .aem-Grid {
        .generate-grid(large, @max_col);
    }
}
