<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-mf-distribution-and-yields-placeholder'}" />

<div class="cmp-mf-distribution-and-yields">
    <div class="row cmp-mf-distribution-and-yields__main-container-row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-mf-distribution-and-yields__distribution-section">
            <div class="cmp-mf-distribution-and-yields__section-heading">
                <span class="cmp-mf-distribution-and-yields__section-left-heading-text"></span>
            </div>
            <div
                class="cmp-mf-distribution-and-yields cmp-mf-distribution-and-yields__table-section cmp-mf-distribution-and-yields__dividend-section mx-0">
                <sly
                    data-sly-call="${mfDivIncludeTemplate @ spanClass1='__dividend-text',spanClass2='__dividend-asOf-text', spanClass3='__dividend-date'}">
                </sly>
                <sly data-sly-call="${mfListIncludeTemplate @ class1='payable-date',class2='payable-value'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='dividend-per-share',class2='dividend-per-share-value'}">
                </sly>
            </div>
            <div
                class="cmp-mf-distribution-and-yields__second-section cmp-mf-distribution-and-yields__table-section cmp-mf-distribution-and-yields__capital-gains-section mx-0">
                <sly
                    data-sly-call="${mfDivIncludeTemplate @ spanClass1='__capital-gains-text',spanClass2='__capital-gains-asOf-text', spanClass3='__capital-gains-date'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='capital-gain-payable-date',class2='capital-gain-payable-value'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='short-term-capital-gain-per-share',class2='short-term-capital-gain-per-share-value'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='long-term-capital-gain-per-share',class2='long-term-capital-gain-per-share-value'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='total-capital-gain-per-share',class2='total-capital-gain-per-share-value'}">
                </sly>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-mf-distribution-and-yields__rates-and-yields-section">
            <div class="cmp-mf-distribution-and-yields__section-heading">
                <span
                    class="cmp-mf-distribution-and-yields-text cmp-mf-distribution-and-yields__section-right-heading-text"></span>
            </div>
            <div
                class="cmp-mf-distribution-and-yields cmp-mf-distribution-and-yields__table-section cmp-mf-distribution-and-yields__distribution-rate-section mx-0">
                <sly
                    data-sly-call="${mfDivIncludeTemplate @ spanClass1='__distribution-rate-text',spanClass2='__distribution-rate-asOf-text', spanClass3='__distribution-rate-date'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='distribution-rate-at-NAV',class2='distribution-rate-at-NAV-value'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ listClass='cmp-mf-distribution-and-yields cmp-mf-distribution-and-yields__distribution-sales-charge mx-0',class1='distribution-rate-sales-charge',class2='distribution-rate-sales-charge-value'}">
                </sly>
            </div>
            <div
                class="cmp-mf-distribution-and-yields__second-section cmp-mf-distribution-and-yields__table-section cmp-mf-distribution-and-yields__12-month-rate-section mx-0">
                <sly
                    data-sly-call="${mfDivIncludeTemplate @ spanClass1='__12-month-rate-text',spanClass2='__12-month-rate-asOf-text', spanClass3='__12-month-rate-date'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='twelve-month-rate-at-NAV',class2='twelve-month-rate-at-NAV-value'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ listClass='cmp-mf-distribution-and-yields cmp-mf-distribution-and-yields__twelve-sales-charge mx-0',class1='twelve-month-rate-sales-charge',class2='twelve-month-rate-sales-charge-value'}">
                </sly>
            </div>
            <div
                class="cmp-mf-distribution-and-yields__second-section cmp-mf-distribution-and-yields__table-section cmp-mf-distribution-and-yields__30-day-yield-section mx-0">
                <sly
                    data-sly-call="${mfDivIncludeTemplate @ headingClass='cmp-mf-distribution-and-yields__30-day-yield-sub-section',spanClass1='__30-day-yield-text',spanClass2='__30-day-yield-asOf-text', spanClass3='__30-day-yield-date'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='subsidized-yield',class2='subsidized-yield-value'}">
                </sly>
                <sly
                    data-sly-call="${mfListIncludeTemplate @ class1='unsubsidized-yield',class2='unsubsidized-yield-value'}">
                </sly>
            </div>
        </div>
    </div>
</div>
<template data-sly-template.mfDivIncludeTemplate="${@ headingClass,spanClass1, spanClass2, spanClass3}">
    <div class="cmp-mf-distribution-and-yields__sub-section ${headingClass}">
        <span
            class="cmp-mf-distribution-and-yields__sub-section-text cmp-mf-distribution-and-yields${spanClass1}"></span>
        <span class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields${spanClass2}"></span>
        <span class="cmp-mf-distribution-and-yields__as-of-date cmp-mf-distribution-and-yields${spanClass3}"></span>
    </div>
</template>
<template data-sly-template.mfListIncludeTemplate="${@ listClass, class1, class2}">
    <ul class="cmp-mf-distribution-and-yields__list-container-styling">
        <li class="${listClass}">
            <div class="row cmp-mf-distribution-and-yields__main-row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 cmp-mf-distribution-and-yields__labels px-0">
                    <span class="cmp-mf-distribution-and-yields__labels-text ${class1}"></span>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 cmp-mf-distribution-and-yields__values px-0">
                    <span class="cmp-mf-distribution-and-yields__values-text ${class2}"></span>
                </div>
            </div>
        </li>
    </ul>
</template>
