<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !cityDirectoryModel.cities, classAppend='cmp-city-directory-placeholder'}"
    data-sly-use.cityDirectoryModel="${'com.nyl.nylcom.models.agentweb.CityDirectoryModel'}" />
<div class="cmp-city-directory">
    <ul class="d-flex flex-row row" data-sly-list.cities="${cityDirectoryModel.cities}">
        <li class="cmp-city-directory__city col-lg-2 col-md-4 col-sm-12">
            <div class="cmp-city-directory__title">${cities}</div>
            <ul class="cmp-city-directory__list pl-0" data-sly-list.city="${cityDirectoryModel.cities[cities]}">
                <li class="cmp-city-directory__link" data-sly-test="${!cityDirectoryModel.isRecruiter}"><a
                    title="${'nyl.agent.findAnAgent' @ i18n} ${city.name},${cityDirectoryModel.stateName}"
                    href=${city.url}>${city.name}</a></li>
                <li class="cmp-city-directory__link" data-sly-test="${cityDirectoryModel.isRecruiter}"><a
                    title="${'nyl.agent.findARecruiter' @ i18n} ${city.name},${cityDirectoryModel.stateName}"
                    href=${city.url}>${city.name}</a></li>
            </ul>
        </li>
    </ul>
</div>