<form class="cmp-policy-number-check" id="policy-number-check" novalidate>
    <div class="mb-3">
        <label for="policy1">{label for policy #[x]}</label> <input type="text" id="policy1"
            class="form-control form-control-lg" maxlength="15">
        <div class="invalid-feedback"></div>
        <div class="valid-feedback"></div>
    </div>
    <div class="mb-3">
        <label for="policy2">{label for policy #[x++]}</label> <input type="text" id="policy2"
            class="form-control form-control-lg" maxlength="15">
        <div class="invalid-feedback"></div>
        <div class="valid-feedback"></div>
    </div>
    <div class="mb-3">
        <label for="policy3">{label for policy #[x+2]}</label> <input type="text" id="policy3"
            class="form-control form-control-lg" maxlength="15">
        <div class="invalid-feedback"></div>
        <div class="valid-feedback"></div>
    </div>
    <button type="submit" class="nyl-button">
        Check Policy <i class="icon-cta-arrow--white"
            aria-hidden="true">{% include "global/icons/icon-cta-arrow.svg" %}</i>
    </button>
</form>
<div class="cmp-policy-number-check__message"
    data-length-error="Please enter a valid policy number of at least 8 characters."
    data-specialchar-error="Policy numbers do not contain symbols and should contain at least 8 characters. Please re-enter a policy number containing numbers or a combination of letters and numbers containing at least 8 characters."
    data-serviceable="Thank you! Please complete and submit the form.">
</div>
<div class="d-none" id="policyNumberCheckAARP">
    <p>Unfortunately, we are unable to assist you regarding your request.</p>
    <p>Please contact the following office for assistance:</p>
    <p>
        AARP<br /> NEW YORK LIFE INS CO<br /> PO BOX 30712<br /> TAMPLA FL 33630-3712<br />
    </p>
    <p>
        <strong>1-800-695-5164</strong><br /> <a href="/test" target="_blank"
            title="NYL AARP Website">https://www.nylaarp.newyorklife.com</a>
    </p>
</div>
<div class="d-none" id="policyNumberCheckCIAAccount">
    <p>Unfortunately, we are unable to assist you regarding your request.</p>
    <p>Please contact the following office for assistance:</p>
    <p>
        Northern Trust<br /> PO Box 75905<br /> Chicago IL 60675-5905
    </p>
    <p>
        <strong>1-800-628-5817</strong>
    </p>
</div>
<div class="d-none" id="policyNumberCheckMainstayAnnuity">
    <p>Unfortunately, we are unable to assist you regarding your request.</p>
    <p>Please contact the following office for assistance:</p>
    <p>
        Mainstay Annuities<br /> 51 Madison Ave Room 652<br /> New York NY 10010
    </p>
    <p>
        <strong>1-800-762-6212</strong>
    </p>
</div>
<div class="d-none" id="policyNumberCheckGroupAnnuity">
    <p>Unfortunately, we are unable to assist you regarding your request.</p>
    <p>Please contact the following office for assistance:</p>
    <p>
        New York Life Group Annuities/Policies<br /> 169 Lackawanna Ave<br /> Parsippany NJ 07054
    </p>
    <p>
        <strong>1-800-695-0462</strong>
    </p>
</div>
<div class="d-none" id="policyNumberCheckNYLIFESecurities">
    <p>Unfortunately, we are unable to assist you regarding your request.</p>
    <p>Please contact the following office for assistance:</p>
    <p>
        NYLIFE Securities<br /> 335 Madison Ave Ste 200<br /> New York NY 10017
    </p>
    <p>
        <strong>1-800-695-4785</strong>
    </p>
</div>
<div class="d-none" id="policyNumberCheckStructuredSettlements">
    <p>Unfortunately, we are unable to assist you regarding your request.</p>
    <p>Please contact our office for assistance, so that we may transfer your call to the proper department.</p>
    <p>
        <strong>1-800-695-1314</strong> Dallas Service Center<br /> <strong>1-800-695-9873</strong> Cleveland Service
        Center
    </p>
</div>
<div class="d-none" id="policyNumberPinacle">
    <p>Unfortunately, we are unable to assist you regarding your request.</p>
    <p>Please contact the following office for assistance:</p>
    <p>
        Advanced Market Network<br /> 51 Madison Ave, Room 652<br /> New York NY 10010
    </p>
    <p>
        <strong>1-866-695-3289</strong>
    </p>
</div>
<div class="d-none" id="policyNumberPrivatePlacement">
    <p>Unfortunately, we are unable to assist you regarding your request.</p>
    <p>Please contact the following office for assistance:</p>
    <p>
        Advanced Market Network<br /> 51 Madison Ave, Room 652<br /> New York NY 10010
    </p>
    <p>
        <strong>1-866-695-3289</strong>
    </p>
</div>