@include marginOverrideSelf('cmp-cug-container', 0, 0, 0, 0);

.cmp-cug-container {
    .cmp-rte {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px) !important;
            margin-right: calcRem(0px) !important;
        }
    }
}
