<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.title, classAppend='cmp-featured-products-placeholder'}" />

<div data-sly-use.featuredProductsModel="com.nyl.nylim.models.FeaturedProductsModel" class="cmp-featured-products"
    data-sly-test="${properties.title}" data-funds="${featuredProductsModel.getFeaturedProductDetails}">
    <h3 data-sly-element="${properties.headingElement @ context='elementName'}" class="cmp-featured-products__title">${properties.title}</h3>
    <a data-sly-use.linkModel="com.nyl.foundation.models.LinkModel" data-sly-test="${linkModel.text && linkModel.url}"
        class="cmp-featured-products__view-all" href="${linkModel.url}" alt="${linkModel.title}"
        target="${linkModel.behavior}" title="${linkModel.title}">
        ${linkModel.text}
    </a>
    <div data-sly-list.productPagesList="${featuredProductsModel.children}" class="cmp-featured-products__products">
        <div class="cmp-featured-products__slick-wrapper">
            <div class="cmp-featured-products__product">
                <div class="cmp-featured-products__product-hover-area">
                    <div class="cmp-featured-products__product-info">
                        <div class="cmp-featured-products__product-info--left">
                            <div class="cmp-featured-products__product-info--left__asset-class"></div>
                            <div class="cmp-featured-products__product-info--left__ticker"></div>
                            <div class="cmp-featured-products__product-info--left__name"></div>
                            <div class="cmp-featured-products__product-info--left__share-class"></div>
                        </div>
                        <div class="cmp-featured-products__product-info--right">
                            <div class="cmp-featured-products__product-info--right__rating"></div>
                            <div class="cmp-featured-products__product-info--right__rating-details"></div>
                        </div>
                    </div>
                    <div class="cmp-featured-products__product-average-returns">
                        <div class="cmp-featured-products__product-average-returns__title"></div>
                        <div class="cmp-featured-products__product-average-returns__as-of-date"></div>
                        <table class="cmp-featured-products__product-average-returns__values"
                            aria-describedby="${'nylim.averageReturns' @ i18n}">
                            <thead>
                                <sly
                                    data-sly-call="${featuredProducts  @ element='th',class='cmp-featured-products__product-average-returns__label',attribute='col'}">
                                </sly>
                            </thead>
                            <tbody>
                                <sly
                                    data-sly-call="${featuredProducts  @ element='td',class='cmp-featured-products__product-average-returns__value'}">
                                </sly>
                            </tbody>
                        </table>
                        <div class="cmp-featured-products__product-average-returns__inception-date"></div>
                    </div>
                </div>
                <div data-sly-use.morningstarCtaLink="${'com.nyl.foundation.models.LinkModel' @ prefix='morningstarCta'}"
                    data-sly-test="${morningstarCtaLink.url && morningstarCtaLink.text}"
                    class="cmp-featured-products__product-morningstar-cta">
                    <img data-sly-test="${properties.buttonIconPath}"
                        class="cmp-featured-products__product-morningstar-cta__icon" src="${properties.buttonIconPath}"
                        alt="${morningstarCtaLink.title}">
                    <a class="cmp-featured-products__product-morningstar-cta__text" href="${morningstarCtaLink.url}"
                        title="${morningstarCtaLink.title}" target="${morningstarCtaLink.behavior}">
                        ${morningstarCtaLink.text}
                    </a>
                    <span class="cmp-featured-products__product-morningstar-cta__arrow-icon"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<template data-sly-template.featuredProducts="${@ element,class, attribute}">
    <tr>
        <th data-sly-element="${element}" class="${class}" data-sly-attribute.scope="${attribute}"></th>
        <th data-sly-element="${element}" class="${class}" data-sly-attribute.scope="${attribute}"></th>
        <th data-sly-element="${element}" class="${class}" data-sly-attribute.scope="${attribute}"></th>
        <th data-sly-element="${element}" class="${class}" data-sly-attribute.scope="${attribute}"></th>
        <th data-sly-element="${element}" class="${class}" data-sly-attribute.scope="${attribute}"></th>
    </tr>
</template>
