%font-properties {
    font-family: $font-family-effra-pro;
    font-weight: 500;
}
.cmp-breadcrumb {
    margin-top: calcRem(24px);
    ol {
        list-style: none;
        display: block;
        padding-left: 0;
        margin: 0;
        font-size: 0;
        li {
            display: inline-block;
            @extend %font-properties;
            color: $brand-blue;
            font-size: 0;
            a,
            a:hover,
            a:focus {
                @include font-size-line-height(14px, 20px);
                @extend %font-properties;
                color: $brand-blue;
                text-decoration: none;
                text-align: left;
                cursor: pointer;
                span {
                    @include font-size-line-height(14px, 20px);
                    @extend %font-properties;
                    color: $brand-blue;
                    cursor: pointer;
                }
            }
            span {
                @include font-size-line-height(14px, 20px);
                @extend %font-properties;
                color: $brand-blue;
            }
        }
        li + li:before {
            @include font-size-line-height(14px, 20px);
            @extend %font-properties;
            margin: 0 calcRem(8px);
            content: '/\00a0';
            color: $grey-dark;
        }
        @include media-breakpoint-down(xs) {
            li {
                display: none;
            }
            li:nth-last-child(1) {
                display: inline-block;
                padding-left: 9px;
                position: relative;
                &:before {
                    background-image: url('../resources/images/icon-caret-left.svg');
                    background-repeat: no-repeat;
                    background-size: 9px 16px;
                    width: 9px;
                    height: 16px;
                    content: '';
                    position: absolute;
                    left: 0;
                    margin: 0;
                }
                a {
                    padding-left: 8px;
                }
            }
            li + li:before {
                content: none;
            }
        }
    }
}
