<form class="cmp-cost-of-ltc__form" id="cmp-cost-of-ltc-form">
    <a class="cmp-cost-of-ltc__listcontainer--modifyinfo accordion-button collapsed" data-toggle="collapse"
        href="#cmp-cost-of-ltc__modifyinfo--597670806_12" role="button" aria-expanded="false"
        aria-controls="cmp-cost-of-ltc__modifyinfo--597670806_12" onkeydown="">
        Modify information<span class="cmp-cost-of-ltc__caret-icon"></span>
    </a>
    <div id="cmp-cost-of-ltc__modifyinfo--597670806_12"
        class="cmp-cost-of-ltc__listcontainer--modifyinfo--body collapse show"
        aria-labelledby="cmp-cost-of-ltc__modifyinfo--597670806_12">
        <div class="form-group dropDownList cmp-cost-of-ltc__listcontainer row">
            <div class="col-12 col-lg-6">
                <p class="cmp-cost-of-ltc__listcontainer--label-top">Lets start with location</p>
                <label class="cmp-cost-of-ltc__listcontainer--label-state" for="state--597670806_13">Location by state
                    and region</label>
                <div class="row">
                    <div class="col-12 col-md-6 cmp-cost-of-ltc__state-select-wrapper">
                        <select id="state--597670806_13" name="state" required=""
                            class="col form-control form-control-lg cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__state-selector"
                            data-select-value="Select a region">
                            <option value="" selected="" disabled="">Select a state</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="DC">Washington DC</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 cmp-cost-of-ltc__region-select-wrapper">
                        <label for="region--597670806_14" class="d-none"></label>
                        <select id="region--597670806_14" name="region"
                            class="col form-control form-control-lg  cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__region-selector">
                            <option value="" selected="" disabled="">Select a region</option>
                            <option value="BIRMINGHAM">BIRMINGHAM</option>
                            <option value="HUNTSVILLE">HUNTSVILLE</option>
                            <option value="MOBILE">MOBILE</option>
                            <option value="MONTGOMERY">MONTGOMERY</option>
                            <option value="NON-METROPOLITAN">NON-METROPOLITAN</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 cmp-cost-of-ltc__listcontainer--filters" id="ltcFilters">
                <label class="cmp-cost-of-ltc__listcontainer--label-rate">Rate</label>
                <div class="row">
                    <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                        <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration hourly"
                            value="hourly">Hourly</button>
                    </div>
                    <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                        <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration daily"
                            value="daily">Daily</button>
                    </div>
                    <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                        <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration monthly"
                            value="monthly">Monthly</button>
                    </div>
                    <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                        <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration yearly"
                            value="yearly">Yearly</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="nyl-button cmp-cost-of-ltc__ltcsubmit">Apply</button>
        <button type="button" class="nyl-button cmp-cost-of-ltc__ltcapply" disabled="">Apply</button>
    </div>
</form>

<div class="cmp-cost-of-ltc__card--container row">
    <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
        <div class="cmp-cost-of-ltc__card home fetch-success">
            <div class="cmp-cost-of-ltc__card--heading"></div>
            <div class="cmp-cost-of-ltc__card--description"></div>
            <hr>
            <div class="cmp-cost-of-ltc__card--table">
                <em class="cmp-cost-of-ltc__card--info-icon"></em>
                <div class="cmp-cost-of-ltc__card--info-desc"></div>
            </div>
            <img class="cmp-cost-of-ltc__spinner" alt=""
                src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
        </div>
    </div>
    <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
        <div class="cmp-cost-of-ltc__card assist">
            <div class="cmp-cost-of-ltc__card--heading"></div>
            <div class="cmp-cost-of-ltc__card--description"></div>
            <hr>
            <div class="cmp-cost-of-ltc__card--table">
                <div class="cmp-cost-of-ltc__card--category-heading">
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-unit col-8">Unit</div>
                        <div class="cmp-cost-of-ltc__card--table-month col-4">monthly</div>
                    </div>
                </div>

                <div class="row">
                    <div class="cmp-cost-of-ltc__card--table-room col-8">
                        <span>Monthly Rate 2 Bedroom<sup class="d-none">2</sup></span>
                        <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                    </div>
                    <div class="cmp-cost-of-ltc__card--table-rate col-4">
                        <span>$4,485.31</span>
                        <p class="cmp-cost-of-ltc__card--table-rate-avg">$5,248.46</p>
                    </div>
                </div>

                <div class="row">
                    <div class="cmp-cost-of-ltc__card--table-room col-8">
                        <span>Studio Rate<sup class="d-none">2</sup></span>
                        <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                    </div>
                    <div class="cmp-cost-of-ltc__card--table-rate col-4">
                        <span>$3,611.89</span>
                        <p class="cmp-cost-of-ltc__card--table-rate-avg">$4,241.46</p>
                    </div>
                </div>

                <div class="row">
                    <div class="cmp-cost-of-ltc__card--table-room col-8">
                        <span>Monthly Rate 1 Bedroom<sup class="d-none">2</sup></span>
                        <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                    </div>
                    <div class="cmp-cost-of-ltc__card--table-rate col-4">
                        <span>$4,181.92</span>
                        <p class="cmp-cost-of-ltc__card--table-rate-avg">$4,879.42</p>
                    </div>
                </div>
            </div>
            <img class="cmp-cost-of-ltc__spinner" alt=""
                src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
        </div>
    </div>
    <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
        <div class="cmp-cost-of-ltc__card skilled">
            <div class="cmp-cost-of-ltc__card--heading"></div>
            <div class="cmp-cost-of-ltc__card--description"></div>
            <hr>
            <div class="cmp-cost-of-ltc__card--table">
                <em class="cmp-cost-of-ltc__card--info-icon"></em>
                <div class="cmp-cost-of-ltc__card--info-desc"></div>
            </div>
            <img class="cmp-cost-of-ltc__spinner" alt=""
                src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
        </div>
    </div>
</div>
