<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.breadcrumb="com.nyl.nylcom.models.agentweb.AgentBreadcrumbModel"
    data-sly-call="${templates.placeholder @ isEmpty = !breadcrumb.items, classAppend='cmp-agent-breadcrumb-placeholder'}" />
<div class="${wcmmode.edit ? 'cmp-agent-breadcrumb cmp-agent-breadcrumb--block' : 'cmp-agent-breadcrumb'}"
    data-sly-test="${breadcrumb.items}">
    <div class="container">
        <ul>
            <li>
                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg"
                    class="icon-caret d-inline-block d-md-none" alt="">
            </li>
            <sly data-sly-list.navItem="${breadcrumb.items}">
                <li><a data-sly-unwrap="${navItemList.last && navItemList.index==4}" href="${navItem.url}"
                        title="${navItem.title}">${navItem.title}</a></li>
            </sly>
        </ul>
    </div>
</div>
