<div class="cmp-table-container">
    <div class="right-tint right-gradient" style="height: 325px;"></div>
    <div class="cmp-table-container__table scroll-horizontal">
        <div>
            <div class="cmp-table-container__cell cmp-table-container--spacer first-cell"></div>

            <div class="cmp-table-container__cell" style="width: 388.5px; margin-left: 333px;">
                <div class="cmp-table-container__cell-heading-wrapper">
                    <div class="cmp-table-container__cell-ico">
                        <img height="68" width="89">
                    </div>
                    <div class="cmp-table-container__cell__txt text__medium">Eighth</div>
                </div>
            </div>

            <div class="cmp-table-container__cell" style="width: 388.5px;">
                <div class="cmp-table-container__cell-heading-wrapper">
                    <div class="cmp-table-container__cell-ico">
                        <img height="68" width="89">
                    </div>
                    <div class="cmp-table-container__cell__txt text__medium">Ninth</div>
                </div>
            </div>

        </div>
        <div class="rte-table-row">
            <div class="cmp-rte-table-row">
                <div class="row">

                    <div class="cmp-rte-table-row__cell first-cell">
                        <div class="left-tint" style="height: 0px;"></div>
                        <a href="https://www.google.com" class="cmp-rte-table-row__cell__description" target="_self"
                            title="Google" rel="noopener">
                            <p>First Data</p>

                            <span></span>
                        </a>
                        <span class="cmp-rte-table-row__cell--value">2</span>
                    </div>
                    <div class="cmp-rte-table-row__cell" style="width: 388.5px; margin-left: 333px;">
                        <a href="https://www.google.com" class="cmp-rte-table-row__cell__description" target="_self"
                            data-fund-id="F_MTF" rel="noopener">
                            <span class="show-icon"></span>
                        </a>
                        <span class="cmp-rte-table-row__cell--value">1</span>
                    </div>
                    <div class="cmp-rte-table-row__cell" style="width: 388.5px;">
                        <a href="https://www.google.com" class="cmp-rte-table-row__cell__description" target="_blank"
                            rel="noopener noreferrer">
                            <p>Third Data</p>
                            <span></span>
                        </a>
                        <span class="cmp-rte-table-row__cell--value">1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
