<div class="cmp-product-container" data-error-message="error">
    <div class="row no-gutters">
        <div class="col-md-11 cmp-product-container__title">
            Title
        </div>
        <div class="col-md-1 cmp-product-container__print"><i class="cmp-product-container__print-icon"></i><span
                class="cmp-product-container__print-text">Print</span></div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-9 cmp-product-container__date">
            <span class="cmp-product-container__as-of-date"><span
                    class="cmp-product-container__as-of-date-value"></span> </span>
        </div>
        <sly data-sly-test="${properties.product == 'rates-table'}">
            <div class="col-md-3 cmp-product-container__cmp-past-rate"
                data-sly-test="${properties.hidePastRates  ? 'false' : 'true'}">
                <span class="cmp-product-container__past-rates">
                </span>
                <span class="dropdown">
                    <button class="btn cmp-product-container__past-rates-dropdown dropdown-toggle" type="button"
                        data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu cmp-product-container__past-rates-dropdown-menu">
                        <li>
                            <a class="cmp-product-container__past-rates-dropdown--item" href="#">2/8/2021</a>
                        </li>
                    </ul>
                </span>
            </div>
        </sly>
    </div>
    <div class="row no-gutters cmp-product-container__content-section">
        <div class="col-md-2">
            <ul class="cmp-product-container__list-group"></ul>
        </div>
        <div class="col-md-10">

        </div>
    </div>
</div>
