body.mobile-platform.modal-open {
    position: fixed;
}
#cmp-literature-email-modal,
#cmp-literature-download-modal {
    padding: 8px !important;
    .modal {
        z-index: 10002;
    }
    @include media-breakpoint-down(sm) {
        .modal-dialog-centered {
            max-width: 500px;
        }
    }

    .modal-dialog {
        min-width: 731px;
        min-height: 431px;
        @include media-breakpoint-down(sm) {
            min-width: auto;
            min-height: auto;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }

    .modal-content {
        font-family: $font-family-helvetica-neue;
        background-color: $white;
        border-radius: 0px;
        border: 0px;
        .modal-header {
            padding: 32px 32px 0 0;
            border-bottom: 0px;
            @include media-breakpoint-down(sm) {
                padding: 22px 22px 0 0;
            }
            .close {
                padding: 0px;
                margin: 0px 0px -7px auto;
                @include media-breakpoint-down(sm) {
                    margin: 0px 0px 0px auto;
                }

                img {
                    width: 28px;
                    height: 28px;
                    @include media-breakpoint-down(sm) {
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
        .modal-body {
            padding: 0px 60px 66px 60px;
            @include media-breakpoint-down(sm) {
                padding: 0px 22px 34px 22px;
            }
            .cmp-literature__documents {
                &--required {
                    @include line-height(18px);
                    @include font-size(14px);
                    margin-top: 54px;
                    margin-bottom: 24px;
                    @include media-breakpoint-down(sm) {
                        @include font-size(12px);
                        margin-top: 32px;
                        margin-bottom: 16px;
                    }
                }
                &--heading {
                    text-align: left;
                    @extend %font-weight-bold;
                    @include line-height(32px);
                    @include font-size(22px);
                    margin-bottom: 9px;
                    @include media-breakpoint-down(sm) {
                        @include line-height(19px);
                        @include font-size(19.8px);
                        margin-bottom: 12px;
                        width: 289px !important;
                    }
                }
                &--description {
                    text-align: left;
                    @include line-height(24px);
                    @include font-size(16px);
                    margin-bottom: 20px;
                    @include media-breakpoint-down(sm) {
                        @include line-height(20px);
                        @include font-size(14px);
                        margin-bottom: 19px;
                        width: 289px !important;
                    }
                }
                &--rows {
                    margin-top: 12px;
                    @include media-breakpoint-down(sm) {
                        margin-top: 11px;
                        width: 289px !important;
                    }
                    &-title {
                        @extend %font-weight-bold;
                        @include line-height(19px);
                        @include font-size(16px);
                        @include media-breakpoint-down(sm) {
                            @include line-height(20px);
                            @include font-size(14px);
                            display: block;
                            word-wrap: break-word;
                        }
                        &-space {
                            @include media-breakpoint-down(sm) {
                                display: none;
                            }
                        }
                    }
                    &-info {
                        @include line-height(18px);
                        @include font-size(14px);
                        @include media-breakpoint-down(sm) {
                            @include font-size(12px);
                        }
                    }
                }
            }
        }
        .modal-footer {
            border-top: 0px;
            padding: 0px 60px 60px 0;
            @include media-breakpoint-down(sm) {
                padding: 0px 22px 24px 22px;
            }
            .footer-btn {
                width: 100%;
                margin: 0px;
                &--apply {
                    text-align: right;
                    @include media-breakpoint-down(sm) {
                        text-align: center;
                        padding: 0px !important;
                    }
                }
            }
            .btn-apply {
                text-align: center;
                width: 218px;
                height: 48px;
                @extend %font-weight-medium;
                @include line-height(19px);
                @include font-size(16px);
                color: $white;
                background-color: $header-color;
                border-radius: 0px;
                margin: 0px;
                padding: calcRem(15px) calcRem(24px) calcRem(16px) calcRem(24px) !important;
                @include media-breakpoint-down(sm) {
                    width: 289px;
                }

                &:hover {
                    background-color: $dark-steel-2;
                }
            }
        }
    }
}
.cmp-literature__table {
    position: relative;
    @include media-breakpoint-up(sm) {
        float: left;
        display: contents;
    }
    .modal {
        z-index: 10002;
        padding-right: 0px;
    }

    .modal-dialog {
        min-width: 731px;
        min-height: 431px;
        @include media-breakpoint-down(sm) {
            min-width: auto;
            min-height: auto;
            margin: 8px 21px !important;
        }
    }

    .modal-content {
        font-family: $font-family-helvetica-neue;
        background-color: $white;
        border-radius: 0px;
        border: 0px;
        .modal-header {
            padding: 32px 32px 0 0;
            border-bottom: 0px;
            @include media-breakpoint-down(sm) {
                padding: 22px 22px 0 0;
            }
            .close {
                padding: 0px;
                margin: 0px 0px -7px auto;
                @include media-breakpoint-down(sm) {
                    margin: 0px 0px 0px auto;
                }

                img {
                    width: 28px;
                    height: 28px;
                    @include media-breakpoint-down(sm) {
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
        .modal-body {
            padding: 0px 60px 66px 60px;
            @include media-breakpoint-down(sm) {
                padding: 0px 22px 34px 22px;
            }
            .cmp-literature__documents {
                &--required {
                    @include line-height(18px);
                    @include font-size(14px);
                    margin-top: 54px;
                    margin-bottom: 24px;
                    @include media-breakpoint-down(sm) {
                        @include font-size(12px);
                        margin-top: 32px;
                        margin-bottom: 16px;
                    }
                }
                &--heading {
                    text-align: left;
                    @extend %font-weight-bold;
                    @include line-height(32px);
                    @include font-size(22px);
                    margin-bottom: 9px;
                    @include media-breakpoint-down(sm) {
                        @include line-height(19px);
                        @include font-size(19.8px);
                        margin-bottom: 12px;
                        width: 289px !important;
                    }
                }
                &--description {
                    text-align: left;
                    @include line-height(24px);
                    @include font-size(16px);
                    margin-bottom: 20px;
                    @include media-breakpoint-down(sm) {
                        @include line-height(20px);
                        @include font-size(14px);
                        margin-bottom: 19px;
                        width: 289px !important;
                    }
                }
                &--rows {
                    margin-top: 12px;
                    @include media-breakpoint-down(sm) {
                        margin-top: 11px;
                        width: 289px !important;
                    }
                    &-title {
                        @extend %font-weight-bold;
                        @include line-height(19px);
                        @include font-size(16px);
                        @include media-breakpoint-down(sm) {
                            @include line-height(20px);
                            @include font-size(14px);
                            display: block;
                            word-wrap: break-word;
                        }
                        &-space {
                            @include media-breakpoint-down(sm) {
                                display: none;
                            }
                        }
                    }
                    &-info {
                        @include line-height(18px);
                        @include font-size(14px);
                        @include media-breakpoint-down(sm) {
                            @include font-size(12px);
                        }
                    }
                }
            }
        }
        .modal-footer {
            border-top: 0px;
            padding: 0px 60px 60px 0;
            @include media-breakpoint-down(sm) {
                padding: 0px 22px 24px 22px;
            }
            .footer-btn {
                width: 100%;
                margin: 0px;
                &--apply {
                    text-align: right;
                    @include media-breakpoint-down(sm) {
                        text-align: center;
                        padding: 0px !important;
                    }
                }
            }
            .btn-apply {
                text-align: center;
                width: 218px;
                height: 48px;
                @extend %font-weight-medium;
                @include line-height(19px);
                @include font-size(16px);
                color: $white;
                background-color: $header-color;
                border-radius: 0px;
                margin: 0px;
                padding: calcRem(15px) calcRem(24px) calcRem(16px) calcRem(24px) !important;
                @include media-breakpoint-down(sm) {
                    width: 289px;
                }

                &:hover {
                    background-color: $dark-steel-2;
                }
            }
        }
    }

    .tooltip {
        background-color: $white;
        color: $steel;
        display: none;
        opacity: 1;
        padding: 20px;
        border: 0.5px solid $light-steel-1;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(12px);
        @include media-breakpoint-down(sm) {
            padding: 16px;
        }

        &__header {
            @extend %font-weight-bold;
        }

        &__labels {
            font-size: calcRem(10px);
            @extend %font-weight-regular;
            color: $dark-gray;
            text-transform: uppercase;
        }
    }

    &--count {
        height: 22px;
        width: 100%;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        font-size: 18px;
        letter-spacing: 0;
        margin-bottom: 15px;
        &-number {
            font-weight: bold;
            line-height: 23px;
        }
        &-results {
            line-height: 22px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 50px !important;
            margin-bottom: 26px !important;
        }
    }

    &--document {
        &-rows {
            height: calcRem(18.4px);
            color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(14px);
            font-weight: bold;
            letter-spacing: 0;
            line-height: calcRem(18px);
        }
        &-title {
            cursor: pointer;
            white-space: normal;
            display: inline;
        }
        &-download {
            cursor: pointer;
        }
        &-email {
            cursor: pointer;
        }
    }

    &--document-info {
        font-weight: normal;
        height: calcRem(13.3px);
        color: $steel;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(12px);
        letter-spacing: 0;
        line-height: calcRem(13px);
        min-width: auto;
        margin-right: calcRem(5px);
        display: inline-block;
        & + img {
            height: calcRem(14px);
            width: calcRem(14px);
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        &-publication {
            white-space: normal;
            display: inline;
        }
        &-date {
            display: none;
            @include media-breakpoint-down(sm) {
                display: block;
            }
        }
        &-dot {
            font-weight: bold;
            vertical-align: top;
        }
    }

    &--date-rows {
        height: calcRem(13px);
        color: $steel;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(12px);
        letter-spacing: 0;
        line-height: calcRem(13px);
    }

    &--btngroup {
        height: calcRem(64px);
        box-shadow: -3px 14px 20px 2px rgba(0, 0, 0, 0.1);
        left: 0% !important;
        display: flex;
        align-items: center;
        background-color: white;
        bottom: 0;
        margin-top: 30px;
        position: sticky !important;
        z-index: 996;
        @include media-breakpoint-down(sm) {
            display: block !important;
            padding: 10px !important;
            margin-left: calcRem(-20px) !important;
            height: 187px;
            text-align: center;
        }
    }

    &--info {
        margin-left: 25.5% !important;
        margin-right: 0 !important;
        display: inline-flex;
        height: calcRem(24px);
        width: 33% !important;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(16px);
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(45px) !important;
            display: inline-block;
            margin-left: calcRem(0px) !important;
            width: 100% !important;
            height: calcRem(48px);
        }
        @include media-breakpoint-only(md) {
            width: 35% !important;
            margin-left: 25.5% !important;
        }
        @include media-breakpoint-only(lg) {
            width: 45% !important;
            margin-left: 19% !important;
        }
    }
    &-btn {
        background-color: $steel;
        color: $white;
        cursor: pointer;
        font-size: calcRem(16px);
        font-family: $font-family-helvetica-neue;
        font-weight: 500;
        letter-spacing: 0;
        line-height: calcRem(19px);
        border: 0;
        padding: calcRem(16px) calcRem(40px);
        text-align: center;
        margin-top: calcRem(59px);
        margin-bottom: calcRem(95px);
        height: calcRem(48px);
        width: calcRem(182px) !important;
        margin-right: calcRem(5px) !important;
        margin-left: 0 !important;

        &[disabled] {
            background-color: $light-steel-1;
            pointer-events: none;
        }

        &:disabled {
            background-color: $light-steel-1;
            pointer-events: none;
        }

        &:hover {
            background-color: $dark-steel-2;
        }

        &--count {
            height: calcRem(24px);
            width: calcRem(24px);
            border-radius: 50%;
            background-color: $light-steel-1;
            display: inline-block;
            text-align: center;
            color: $steel;
            padding-top: calcRem(2px);
            padding-right: calcRem(1px);
        }

        &--email {
            width: calcRem(146px) !important;
        }

        &--load {
            margin-left: 47% !important;
            height: calcRem(48px) !important;
            width: calcRem(129px) !important;
            padding-top: calcRem(17px) !important;
            @include media-breakpoint-down(xs) {
                margin-left: 30% !important;
            }
            @include media-breakpoint-only(sm) {
                margin-left: 35% !important;
            }
            @include media-breakpoint-only(md) {
                margin-left: 52% !important;
            }
            @include media-breakpoint-only(lg) {
                margin-left: 50% !important;
            }
        }
    }

    .ngx-datatable {
        @extend %mobile-full-width;
        transform: none;
        -webkit-transform: none;
        width: 825px;
        max-width: 825px;
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
            width: 110% !important;
            margin-left: calcRem(-20px) !important;
        }
        @include media-breakpoint-only(md) {
            width: auto !important;
            margin-left: 0;
        }
        @include media-breakpoint-only(lg) {
            width: auto !important;
        }
        .empty-row {
            text-align: center;
            margin-top: 150px;
            @include line-height(25px);
            @include font-size(15px);
            @extend %font-weight-bold;
        }
        .datatable-scroll {
            width: 825px;
            @include media-breakpoint-down(sm) {
                width: 100% !important;
            }
            @include media-breakpoint-only(md) {
                width: 100% !important;
            }
        }
        .datatable-header {
            background-color: $header-color;
            height: 57px;
            width: auto;
            max-width: 825px;
            max-height: 57px;
            position: relative;
            top: 0;
            transition: top 0.25s ease, margin-top 0.25s ease;
            &.sticky-shown {
                position: fixed;
                z-index: 997;
            }
            .datatable-header-inner {
                width: 825px;
                .datatable-row-center {
                    width: 825px;
                }
            }
            @include media-breakpoint-down(sm) {
                width: 100% !important;
                .datatable-header-inner {
                    width: 100% !important;
                    .datatable-row-center {
                        width: 100% !important;
                    }
                }
            }

            @include media-breakpoint-only(md) {
                width: auto !important;
                .datatable-header-inner {
                    width: 100% !important;
                    .datatable-row-center {
                        width: 100% !important;
                    }
                }
            }
            @include media-breakpoint-only(lg) {
                width: auto !important;
            }
        }
        .datatable-header-cell {
            color: $white;
            font-family: $font-family-helvetica-neue;
            letter-spacing: 0;
            @include font-size(14px);
            @include line-height(18px);
            padding: 21px 0 21px 23px !important;

            .datatable-header-cell-template-wrap {
                .sort-btn {
                    display: none;
                }

                .cmp-literature__table--document-names + .sort-btn {
                    display: inline-block;
                }

                .cmp-literature__table--date + .sort-btn {
                    display: inline-block;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .datatable-header-cell:not(:first-child) {
                display: none;
            }
        }
        .datatable-row-even {
            background-color: $white;
        }

        .sortable .sort-btn {
            content: '';
            border: 4px solid transparent;
            height: 18px;
            width: 13px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(270deg));
            bottom: 20px;
            display: inline-flex;
            opacity: 0.3;
            margin-left: 2px;
            margin-bottom: 5px;
        }
        .sortable .sort-btn:before {
            content: '';
            border: 4px solid transparent;
            display: block;
            height: 18px;
            width: 13px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(180deg));
            bottom: -6px;
            right: 5px;
        }
        .sortable .sort-btn.datatable-icon-up:before {
            content: '';
            border: 4px solid transparent;
            display: block;
            height: 18px;
            width: 13px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(180deg));
            bottom: -6px;
            right: 5px;
        }

        //color for rows even/odd
        .datatable-body {
            width: 825px;
            overflow-x: hidden !important;
            overflow-y: hidden;
            min-height: 300px;
            background-color: transparent;
            .datatable-row-wrapper {
                :hover {
                    .cmp-literature__table--cell-documentName,
                    .cmp-literature__table--cell-date,
                    .cmp-literature__table--cell-itemsSelected,
                    .cmp-literature__table--cell-download,
                    .cmp-literature__table--cell-email {
                        background-color: $even-row !important;
                    }
                    background-color: $even-row !important;
                }
            }

            .datatable-row-center.datatable-row-group {
                width: 825px;
            }
            .datatable-body-row.datatable-row-even {
                background-color: $white;
                border-top: none;
                width: 825px;
                @include media-breakpoint-down(sm) {
                    height: auto !important;
                    min-height: 72px !important;
                }
                .datatable-body-cell {
                    @include font-size(14px);
                    @include line-height(18px);
                    display: flex !important;
                    align-items: center !important;
                    padding-left: 24px;
                    letter-spacing: 0;
                    @include media-breakpoint-down(sm) {
                        padding-top: 15px;
                        padding-bottom: 18px;
                        height: auto !important;
                    }
                    &:nth-of-type(1) {
                        @include media-breakpoint-down(sm) {
                            padding-left: calcRem(23px);
                        }
                    }
                    &:nth-of-type(2) {
                        @include media-breakpoint-down(sm) {
                            display: none !important;
                        }
                    }
                    &:nth-of-type(5) {
                        @include media-breakpoint-down(sm) {
                            padding-right: 23px;
                        }
                    }
                }
                .datatable-body-cell.is-frozen {
                    background-color: $white;
                }
            }
            .datatable-body-row.datatable-row-odd {
                background-color: $mobile-row;
                border-top: none;
                width: 825px;
                @include media-breakpoint-down(sm) {
                    height: auto !important;
                    min-height: 72px !important;
                }
                .cmp-literature__table--cell-documentName,
                .cmp-literature__table--cell-date,
                .cmp-literature__table--cell-itemsSelected,
                .cmp-literature__table--cell-download,
                .cmp-literature__table--cell-email {
                    background-color: $light-steel-2;
                }
                .datatable-body-cell {
                    @include font-size(14px);
                    @include line-height(18px);
                    display: flex !important;
                    align-items: center !important;
                    padding-left: 24px;
                    letter-spacing: 0;
                    @include media-breakpoint-down(sm) {
                        padding-top: 15px;
                        padding-bottom: 18px;
                        height: auto !important;
                    }
                    &:nth-of-type(1) {
                        @include media-breakpoint-down(sm) {
                            padding-left: 23px;
                        }
                    }
                    &:nth-of-type(2) {
                        @include media-breakpoint-down(sm) {
                            display: none !important;
                        }
                    }
                    &:nth-of-type(5) {
                        @include media-breakpoint-down(sm) {
                            padding-right: 23px;
                        }
                    }
                }
                .datatable-body-cell.is-frozen {
                    background-color: $mobile-row;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            .datatable-body {
                width: 100% !important;

                .datatable-row-center.datatable-row-group {
                    width: 100% !important;
                }
                .datatable-body-row.datatable-row-even {
                    width: 100% !important;
                }
                .datatable-body-row.datatable-row-odd {
                    width: 100% !important;
                }
            }
        }
        @include media-breakpoint-only(md) {
            .datatable-body {
                width: 100% !important;

                .datatable-row-center.datatable-row-group {
                    width: 100% !important;
                }
                .datatable-body-row.datatable-row-even {
                    width: 100% !important;
                }
                .datatable-body-row.datatable-row-odd {
                    width: 100% !important;
                }
            }
        }
    }
    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        z-index: 1;
        margin-right: calcRem(16px);
        margin-top: calcRem(4px);
        height: calcRem(16px);
        width: calcRem(16px);

        & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
            top: calcRem(5px);
        }

        & + label:before {
            content: '';
            margin-right: calcRem(10px);
            display: inline-block;
            vertical-align: text-top;
            width: calcRem(16px);
            height: calcRem(16px);
            border: 1px solid $steel;
        }

        &:checked + label:before {
            background: $steel;
        }
        &:checked + label:after {
            content: '';
            position: absolute;
            left: calcRem(2.5px);
            top: calcRem(7px);
            background: white;
            width: calcRem(2px);
            height: calcRem(2px);
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white,
                4px -8px 0 white;
            transform: rotate(45deg);
        }
        &:disabled + label:before {
            border: $light-steel-1;
            background-color: #dbe2e6;
        }
    }
    &--manual {
        &-left-spacing {
            margin-left: calcRem(0px);
            .cmp-literature__table--info {
                @include media-breakpoint-down(xs) {
                    width: 100% !important;
                    margin-left: 0px !important;
                }
                @include media-breakpoint-only(sm) {
                    width: 100% !important;
                    margin-left: 0px !important;
                    padding-left: 5% !important;
                }
                @include media-breakpoint-only(md) {
                    width: 50% !important;
                    margin-left: 5% !important;
                }
                @include media-breakpoint-only(lg) {
                    width: 50% !important;
                    margin-left: 10% !important;
                }
                @include media-breakpoint-only(xl) {
                    width: 50% !important;
                    margin-left: 14% !important;
                }
            }
            .datatable-header-cell {
                &:nth-of-type(1) {
                    @include media-breakpoint-up(md) {
                        width: 810px !important;
                    }
                }
                &:nth-of-type(2) {
                    @include media-breakpoint-only(md) {
                        width: 130px !important;
                    }
                    @include media-breakpoint-up(lg) {
                        width: 100px !important;
                    }
                }
            }
            .datatable-row-center.datatable-row-group {
                .datatable-body-cell {
                    &:nth-of-type(1) {
                        @include media-breakpoint-up(md) {
                            width: 810px !important;
                        }
                    }
                    &:nth-of-type(2) {
                        @include media-breakpoint-only(md) {
                            width: 130px !important;
                        }
                        @include media-breakpoint-up(lg) {
                            width: 100px !important;
                        }
                    }
                }
            }
            @include media-breakpoint-up(md) {
                width: 100% !important;
                max-width: 100% !important;
                .datatable-scroll {
                    width: 100% !important;
                }
                .datatable-header {
                    max-width: 100% !important;
                    .datatable-header-inner {
                        width: 100% !important;
                        .datatable-row-center {
                            width: 100% !important;
                        }
                    }
                }
                .datatable-body {
                    width: 100% !important;
                    .datatable-row-center.datatable-row-group {
                        width: 100% !important;
                    }
                    .datatable-body-row.datatable-row-even {
                        width: 100% !important;
                    }
                    .datatable-body-row.datatable-row-odd {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    @include ie11only {
        .cmp-literature__table--btngroup {
            left: 44% !important;
        }
        .cmp-literature__table-btn--load {
            margin-left: 40% !important;
        }
        .eloqua-literature {
            .submit-button-style {
                margin-left: -175px;
            }
        }
    }

    &--anchor-link {
        &-dynamic {
            .modal {
                z-index: 10002;
                padding-right: 0px;
                top: calcRem(-100px);
            }

            .modal-backdrop {
                height: 100%;
            }
            .cmp-literature__table--btngroup {
                .cmp-literature__table-btn {
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                }
            }
            .cmp-literature__table--info {
                @include media-breakpoint-up(lg) {
                    margin-left: 17% !important;
                    width: 45% !important;
                }
                @include media-breakpoint-only(md) {
                    margin-left: 1% !important;
                    width: 50% !important;
                }
            }
            @include ie11only {
                .cmp-literature__table--info {
                    margin-left: 26% !important;
                }
            }
        }
        &-manual {
            .modal {
                z-index: 10002;
                padding-right: 0px;
                top: calcRem(-100px);
            }

            .modal-backdrop {
                height: 100%;
            }
            .cmp-literature__table--btngroup {
                .cmp-literature__table-btn {
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                }
            }
            .cmp-literature__table--info {
                @include media-breakpoint-only(lg) {
                    width: 60% !important;
                }
                @include media-breakpoint-only(xl) {
                    width: 65% !important;
                }
                @include media-breakpoint-up(md) {
                    margin-left: 1% !important;
                }
            }
            @include ie11only {
                .cmp-literature__table--info {
                    margin-left: 18.5% !important;
                }
            }
        }
    }
}

.eloqua-literature {
    display: none;
    .field-control-parent {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .container-fluid {
        background-color: $light-steel-3;

        & > .row {
            background-color: $white;
            &:nth-of-type(1) {
                .grid-layout-col {
                    width: 100%;
                }
            }
            &:nth-of-type(2) {
                .grid-layout-col {
                    &:nth-of-type(1) {
                        margin-right: 30px;
                        @include media-breakpoint-down(sm) {
                            margin-right: 0px;
                            width: 100%;
                        }
                    }
                    &:nth-of-type(2) {
                        @include media-breakpoint-down(sm) {
                            width: 100%;
                        }
                    }
                }
            }
            &:nth-of-type(3) {
                .grid-layout-col {
                    width: 100%;
                }
            }
            &:nth-of-type(4) {
                .grid-layout-col {
                    width: 100%;
                }
            }
            &:nth-of-type(5) {
                float: right;
                @include media-breakpoint-down(sm) {
                    float: none;
                    .grid-layout-col {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
        #formElement1 {
            width: 300px !important;
            .field-control-wrapper {
                width: 100% !important;
            }
            .elq-item-input {
                width: 300px !important;
            }

            @include media-breakpoint-down(sm) {
                width: 100% !important;
                .field-control-wrapper {
                    width: 100% !important;
                }
                .elq-item-input {
                    width: 100% !important;
                }
            }
            @media (min-width: 320px) and (max-width: 340px) {
                .field-control-wrapper {
                    width: calcRem(240px) !important;
                }
                .elq-item-input {
                    width: calcRem(240px) !important;
                }
            }
        }

        #formElement2 {
            width: 300px !important;
            .field-control-wrapper {
                width: 100% !important;
            }
            .elq-item-input {
                width: 300px !important;
            }

            @include media-breakpoint-down(sm) {
                width: 100% !important;
                .field-control-wrapper {
                    width: 100% !important;
                }
                .elq-item-input {
                    width: 100% !important;
                }
            }
            @media (min-width: 320px) and (max-width: 340px) {
                .field-control-wrapper {
                    width: calcRem(240px) !important;
                }
                .elq-item-input {
                    width: calcRem(240px) !important;
                }
            }
        }

        .layout-col {
            padding: 0px;
        }

        .elq-field-style {
            margin-left: 0px;
            @include media-breakpoint-down(sm) {
                margin-right: 0px;
            }
        }

        .elq-label {
            color: $steel;
            font-family: $font-family-alda;
            font-style: italic;
            @include line-height(18px);
            @include font-size(16px);
            margin-bottom: 8px;
            margin-left: -15px;
        }

        .form-element-instruction {
            display: none;
        }
        #formElement4 {
            color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(14px);
            letter-spacing: 0;
            line-height: calcRem(18px);
            @include media-breakpoint-down(sm) {
                font-size: calcRem(12px);
                width: 100% !important;
            }
            @media (min-width: 320px) and (max-width: 340px) {
                width: calcRem(240px) !important;
            }
        }

        .elq-item-input {
            height: calcRem(56px);
            background-color: $light-steel-3;
            color: $steel;
            font-size: calcRem(16px);
            line-height: calcRem(18px);
            padding: calcRem(17px) calcRem(0px) calcRem(21px) calcRem(22px);
            @include media-breakpoint-down(sm) {
                font-size: calcRem(16px);
                line-height: calcRem(16px);
                padding: calcRem(20px) calcRem(0px) calcRem(20px) calcRem(10px);
            }
            &::placeholder {
                color: $steel;
                font-family: $font-family-alda;
                font-style: italic;
                opacity: 0.65;
                letter-spacing: 0;
                @include media-breakpoint-down(sm) {
                    font-size: calcRem(12px);
                }
            }
        }

        .field-control-wrapper {
            width: calcRem(611px);
            margin-bottom: calcRem(18px);
            @include media-breakpoint-down(sm) {
                width: 100% !important;
                margin-bottom: calcRem(14px);
            }
            @media (min-width: 320px) and (max-width: 340px) {
                .field-control-wrapper {
                    width: calcRem(240px) !important;
                }
                .elq-item-input {
                    width: calcRem(240px) !important;
                }
            }
        }

        .submit-button-style {
            @extend %font-weight-medium;
            background-color: $steel;
            color: $white;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(16px);
            letter-spacing: 0;
            line-height: calcRem(19px);
            border: 0;
            padding: calcRem(16px) calcRem(24px);
            margin-top: calcRem(40px);
            height: calcRem(48px);
            width: calcRem(190px);
            text-align: center;
            @include media-breakpoint-down(sm) {
                padding: calcRem(16px) calcRem(0px);
                margin-top: calcRem(48px);
                width: calcRem(289px);
            }
            @media (min-width: 320px) and (max-width: 340px) {
                width: calcRem(240px);
            }

            &[disabled] {
                background-color: $light-steel-1;
                pointer-events: none;
            }

            &:disabled {
                background-color: $light-steel-1;
                pointer-events: none;
            }

            &:hover {
                background-color: $dark-steel-2;
            }
        }
    }
    .LV_validation_message {
        @include font-size(12px);
        @include line-height(24px);
        display: block;
        text-align: left;
        &.LV_invalid {
            color: $error;
            margin-top: calcRem(-18px);
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(-14px);
            }
        }
        &.LV_valid {
            display: none;
        }
    }

    input[type='text'].LV_invalid_field {
        border: $error 1px solid;
    }
}
