<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-asset-diversification-placeholder'}" />

<div class="cmp-asset-diversification row" data-alternate-title=${properties.alternateTitle}>
    <figure class="cmp-asset-diversification__chart">
        <div class="cmp-asset-diversification__chart-scroll-fader left-start"></div>
        <figcaption class="cmp-asset-diversification__heading">
            <span class="cmp-asset-diversification__heading-sector-allocation">
            </span>
            <span class="cmp-asset-diversification__heading-as-of">
            </span>
            <span class="cmp-asset-diversification__heading-date">
            </span>
        </figcaption>
        <div class="cmp-asset-diversification__column-chart-mobile-legend">
            <div class="cmp-asset-diversification__column-chart-mobile-legend-left-column"></div>
            <div class="cmp-asset-diversification__column-chart-mobile-legend-right-column"></div>
        </div>
        <div class="cmp-asset-diversification__chart-scroller">
            <div class="cmp-asset-diversification__chart-container">
            </div>
        </div>
    </figure>
    <div class="cmp-asset-diversification__table">
        <div class="cmp-asset-diversification__table-column-left">
            <h6 class="cmp-asset-diversification__table-column-left-header"></h6>
        </div>
        <div class="cmp-asset-diversification__table-column-right">
            <h6 class="cmp-asset-diversification__table-column-right-header"></h6>
        </div>
    </div>
</div>
