<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-email-unsubscribe-placeholder'}" />
<div class="container cmp-email-unsubscribe">
    <form id="email-unsubscribe" class="pt-4 cmp-email-unsubscribe--form" novalidate>
        <div class="cmp-email-unsubscribe__container mx-auto mt-4">
            <div class="input-group mb-3" role="group" aria-label="${'foundation.emailUnsubscribe' @ i18n}">
                <div class="XfaCheckBox col col-12">
                    <input id="prefCheck" aria-label="${properties.campaignOptOut}" type="radio" name="unsubscribe"
                        value="prefOut" data-party-type="${properties.partyType}" data-lob="${properties.lob}"
                        data-business-function="Marketing" data-preference-type="Communication"
                        data-audit-system="${properties.auditSystem}" data-channel="Email" data-frequency="Unknown"
                        data-optin="False">
                    <label for="prefCheck">${properties.campaignOptOut}</label>
                </div>
                <div data-sly-test="${properties.globalOptOut}" class="XfaCheckBox col col-12">
                    <input id="globalCheck" aria-label="${properties.globalOptOut}" type="radio" name="unsubscribe"
                        value="globalOut" data-party-type="${properties.partyType}" data-lob="${properties.lob}"
                        data-business-function="Marketing" data-donotemail="TRUE" data-donotmail="FALSE"
                        data-donottext="TRUE" data-audit-system="${properties.auditSystem}">
                    <label for="globalCheck">${properties.globalOptOut}</label>
                </div>
            </div>
            <button id="unsubscribe-submit" type="submit" class="nyl-button cmp-email-unsubscribe__submit" form="email-unsubscribe">
                ${properties.buttonLabel}
            </button>
            <div id="prefOut-success" class="valid-feedback">
                ${'foundation.button.emailOptOutConfirmationPrefCode' @ i18n, context='html'}
            </div>
            <div id="globalOut-success" class="valid-feedback">
                ${'foundation.button.emailOptOutConfirmationGeneric' @ i18n, context='html'}
            </div>
            <div id="optOut-fail" class="invalid-feedback">
                ${'foundation.button.emailOptOutError' @ i18n, context='html'}
            </div>
        </div>
    </form>
</div>
