<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-analyze-portfolio-placeholder'}" />
<div class="cmp-analyze-portfolio" data-portfolio-label="${'nylim.yourSamplePortfolio' @ i18n}"
    data-sly-use.requestAttributeModel="${'com.nyl.foundation.models.RequestAttributeModel' @setComponentName='morningstar'}">
    <div class="cmp-analyze-portfolio__graph xray-container"></div>
    <div class="cmp-analyze-portfolio__rotate">
        <sly data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
            data-sly-call="${xfIncludeTemplate.include @ path=properties.mobileRotateXf}"></sly>
        <p class="cmp-analyze-portfolio__rotate-title" data-sly-test="${properties.mobileTitle}">
            ${properties.mobileTitle}</p>
        <p class="cmp-analyze-portfolio__rotate-description" data-sly-test="${properties.mobileDescription}">
            ${properties.mobileDescription}</p>
    </div>
</div>
