<div class="display-share-sheet">
    <div class="cmp-social-share" data-twitter-handle="nylcom" data-email-body="nylcom">
        <p class="h4">nyl.socialShare.heading</p>
        <a href="#" class="cmp-social-share__button--share" title="Click to share the page">
            <i class="cmp-social-share__icon--share" aria-hidden="true"></i>
        </a>
        <div class="cmp-social-share__button-drawer">
            <ul>
                <li>
                    <a href="#" target="_blank" class="cmp-social-share__button --facebook" title="Facebook">
                        <i class="cmp-social-share__icon--facebook" aria-hidden="true"></i>
                        <span class="cmp-social-share__text">Facebook</span></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="cmp-social-share__button --linkedin" title="LinkedIn">
                        <i class="cmp-social-share__icon--linkedin" aria-hidden="true"></i>
                        <span class="cmp-social-share__text">LinkedIn</span></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="cmp-social-share__button --twitter" title="Twitter">
                        <i class="cmp-social-share__icon--twitter" aria-hidden="true"></i>
                        <span class="cmp-social-share__text">Twitter</span></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="cmp-social-share__button --email" title="Email">
                        <i class="cmp-social-share__icon--email" aria-hidden="true"></i>
                        <span class="cmp-social-share__text">Email</span></a>
                </li>
                <li>
                    <a data-copy-link="Copy Link" data-link-copied="Link Copied" href="#"
                        class="cmp-social-share__button --copy" title="Copy to clipboard">
                        <i class="cmp-social-share__icon--copy" aria-hidden="true"></i>
                        <span class="cmp-social-share__text copy-link-text"></span></a>
                </li>
            </ul>
        </div>
        <div class="cmp-social-share__clipboard-message">
            <span class="cmp-social-share__clipboard-message--diamond"></span>
            nyl.socialShare.copyClipboardNotification
            <span class="cmp-social-share__clipboard-message--close"></span>
        </div>
    </div>
</div>
