<div class="cmp-literature" id="cmp-literature-is-ie">
    <app-datatable documents='{"labels":{"foundation.button.clearAll":"Clear All"}}'>
        <div class="cmp-literature__search">
            <div class="cmp-literature__search--container">
                <div class="cmp-literature__search--text">
                    <label for="literatureSearch"></label>
                    <input id="literatureSearch"
                        class="cmp-literature__search--text-search-text ng-valid ng-dirty ng-touched"
                        placeholder="Search by Fund Name, Symbol, or Keyword">
                    <span class="cmp-literature__search--text-close">
                        <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon--steel.svg"
                            title="Clear" alt="Clear">
                    </span>
                </div>
                <div class="cmp-literature__search--icon">
                    <i aria-hidden="true" class="cmp-literature__search--icon-search"></i>
                </div>
            </div>
            <div class="cmp-literature__search--options" style="display: none;">
                <ul>
                    <li class="">Closed End Fund </li>
                    <li class="">MainStay MacKay DefinedTerm Municipal Opportunities Fund </li>
                    <li class="active">Mutual Fund </li>
                </ul>
            </div>
        </div>
        <div class="cmp-literature-filters">
            <div class="cmp-literature-filters--title">Filter</div>
            <div class="cmp-literature-filters--list">
                <div class="btn-group list-group-root cmp-literature-filters--list-item list-group">
                    <div aria-expanded="true"
                        class="list-group-item cmp-literature-filters--list-item-title collapsed disabled-item"
                        data-target="#collapse-0" data-toggle="collapse"> Publication Type
                        <span class="cmp-literature-filters--list-item-title-icon">
                            <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg"
                                alt="Open/Close">
                        </span>
                    </div>
                    <div class="list-group collapse show" id="collapse-0">
                        <div role="button" class="list-group-item filter-item selected-filter"> Fact Sheets </div>
                        <div role="button" class="list-group-item filter-item"> Forms and Applications </div>
                        <div role="button" class="list-group-item filter-item selected-filter"> Literature (Non-Product)
                        </div>
                        <div role="button" class="list-group-item filter-item"> Product Literature </div>
                        <div role="button" class="list-group-item filter-item"> Regulatory Documents </div>
                        <div role="button" class="list-group-item filter-item"> Thought Leadership </div>
                    </div>
                    <div tabindex="-1" role="dialog" aria-hidden="true" class="modal fade show"
                        id="cmp-literature-filters-modal0">
                        <div role="document" class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>Filter: Publication Type</div>
                                </div>
                                <div class="modal-body">
                                    <div class="list-group">
                                        <div class="list-group-item selected-filter"> Fact Sheets </div>
                                        <div class="list-group-item"> Forms and Applications </div>
                                        <div class="list-group-item selected-filter"> Literature (Non-Product) </div>
                                        <div class="list-group-item"> Product Literature </div>
                                        <div class="list-group-item"> Regulatory Documents </div>
                                        <div class="list-group-item"> Thought Leadership </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row footer-btn">
                                        <div class="col-12 footer-btn--cancel">
                                            <button type="button" data-dismiss="modal" class="btn btn-cancel"
                                                title="Close">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group list-group-root cmp-literature-filters--list-item list-group">
                    <div aria-expanded="true" class="list-group-item cmp-literature-filters--list-item-title collapsed"
                        data-target="#collapse-1" data-toggle="collapse"> Product Types
                        <span class="cmp-literature-filters--list-item-title-icon">
                            <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg"
                                alt="Open/Close">
                        </span>
                    </div>
                    <div class="list-group collapse" id="collapse-1">
                        <div role="button" class="list-group-item filter-item"> Mutual Funds </div>
                        <div role="button" class="list-group-item filter-item"> Exchange Traded Funds (ETFs) </div>
                        <div role="button" class="list-group-item filter-item"> IndexIQ Indexes </div>
                        <div role="button" class="list-group-item filter-item"> Closed-End Funds </div>
                    </div>
                    <div tabindex="-1" role="dialog" aria-hidden="true" class="modal fade show"
                        id="cmp-literature-filters-modal1">
                        <div role="document" class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>Filter: Product Types</div>
                                </div>
                                <div class="modal-body">
                                    <div class="list-group">
                                        <div class="list-group-item"> Mutual Funds </div>
                                        <div class="list-group-item"> Exchange Traded Funds (ETFs) </div>
                                        <div class="list-group-item"> IndexIQ Indexes </div>
                                        <div class="list-group-item"> Closed-End Funds </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row footer-btn">
                                        <div class="col-12 footer-btn--cancel">
                                            <button type="button" data-dismiss="modal" class="btn btn-cancel"
                                                title="Close">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group list-group-root cmp-literature-filters--list-item list-group">
                    <div aria-expanded="true" class="list-group-item cmp-literature-filters--list-item-title collapsed"
                        data-target="#collapse-2" data-toggle="collapse"> Asset Class
                        <span class="cmp-literature-filters--list-item-title-icon">
                            <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg"
                                alt="Open/Close">
                        </span>
                    </div>
                    <div class="list-group collapse" id="collapse-2">
                        <div role="button" class="list-group-item filter-item"> Alternatives </div>
                    </div>
                    <div tabindex="-1" role="dialog" aria-hidden="true" class="modal fade show"
                        id="cmp-literature-filters-modal2">
                        <div role="document" class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>Filter: Asset Class</div>
                                </div>
                                <div class="modal-body">
                                    <div class="list-group">
                                        <div class="list-group-item"> Alternatives </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row footer-btn">
                                        <div class="col-12 footer-btn--cancel">
                                            <button type="button" data-dismiss="modal" class="btn btn-cancel"
                                                title="Close">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group list-group-root cmp-literature-filters--list-item list-group">
                    <div aria-expanded="true" class="list-group-item cmp-literature-filters--list-item-title collapsed"
                        data-target="#collapse-3" data-toggle="collapse"> Strategy
                        <span class="cmp-literature-filters--list-item-title-icon">
                            <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg"
                                alt="Open/Close">
                        </span>
                    </div>
                    <div class="list-group collapse" id="collapse-3">
                        <div role="button" class="list-group-item filter-item"> Longevity and Growth </div>
                        <div role="button" class="list-group-item filter-item"> Generating Income </div>
                        <div role="button" class="list-group-item filter-item"> Managing Volatility </div>
                        <div role="button" class="list-group-item filter-item"> Combating Inflation </div>
                    </div>
                    <div tabindex="-1" role="dialog" aria-hidden="true" class="modal fade show"
                        id="cmp-literature-filters-modal3">
                        <div role="document" class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div>Filter: Strategy</div>
                                </div>
                                <div class="modal-body">
                                    <div class="list-group">
                                        <div class="list-group-item"> Longevity and Growth </div>
                                        <div class="list-group-item"> Generating Income </div>
                                        <div class="list-group-item"> Managing Volatility </div>
                                        <div class="list-group-item"> Combating Inflation </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row footer-btn">
                                        <div class="col-12 footer-btn--cancel">
                                            <button type="button" data-dismiss="modal" class="btn btn-cancel"
                                                title="Close">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-literature-applied-filters">
            <div class="cmp-literature-applied-filters__title">Applied Filters</div>
            <div role="group" class="btn-group cmp-literature-applied-filters--btn-group">
                <div class="btn cmp-literature-applied-filters--btn-group-title">Fact Sheets
                    <span class="cmp-literature-applied-filters--btn-group-title-icon">
                        <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon.svg"
                            alt="Clear">
                    </span>
                </div>
            </div>
            <div role="group" class="btn-group cmp-literature-applied-filters--btn-group">
                <div class="btn cmp-literature-applied-filters--btn-group-title">Literature (Non-Product)
                    <span class="cmp-literature-applied-filters--btn-group-title-icon">
                        <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon.svg"
                            alt="Clear">
                    </span>
                </div>
            </div>
            <button type="button" class="btn btn-clear" title="Clear All">Clear All</button>
        </div>
        <div class="cmp-literature__table">
            <div class="cmp-literature__table--count">
                <span class="cmp-literature__table--count-number">1</span>
                <span class="cmp-literature__table--count-results"> result(s)</span>
            </div>
            <ngx-datatable class="ngx-datatable fixed-header fixed-row virtualized scroll-horz"
                style="min-height: 366px;" id="cmp-literature-ngx-table">
                <div visibilityobserver="" class="visible">
                    <datatable-header class="datatable-header"
                        style="height: 57px; width: 825px; top: 0px; position: relative;"
                        id="cmp-literature-data-header">
                        <div orderable="" class="datatable-header-inner" style="width: 825px;">
                            <div class="datatable-row-left" style="width: 0px;">
                            </div>
                            <div class="datatable-row-center"
                                style="transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; width: 825px;">
                                <datatable-header-cell resizeable="" long-press="" draggable=""
                                    class="datatable-header-cell cmp-literature__table--documentName sortable"
                                    style="min-width: 50px; width: 525px;">
                                    <div class="datatable-header-cell-template-wrap">
                                        <span class="cmp-literature__table--document-names">Document Name</span>
                                        <span class="sort-btn"></span>
                                    </div>
                                    <span class="resize-handle--not-resizable"></span>
                                </datatable-header-cell>
                                <datatable-header-cell resizeable="" long-press="" draggable=""
                                    class="datatable-header-cell cmp-literature__table--date sortable"
                                    style="min-width: 50px; width: 90px;">
                                    <div class="datatable-header-cell-template-wrap">
                                        <span class="cmp-literature__table--date">Date</span>
                                        <span class="sort-btn"></span>
                                    </div>
                                    <span class="resize-handle--not-resizable"></span>
                                </datatable-header-cell>
                                <datatable-header-cell resizeable="" long-press="" draggable=""
                                    class="datatable-header-cell cmp-literature__table--download sortable"
                                    style="min-width: 50px; width: 70px;">
                                    <div class="datatable-header-cell-template-wrap">
                                        <span class="cmp-literature__table--download"></span>
                                        <span class="sort-btn"></span>
                                    </div>
                                    <span class="resize-handle--not-resizable"></span>
                                </datatable-header-cell>
                                <datatable-header-cell resizeable="" long-press="" draggable=""
                                    class="datatable-header-cell cmp-literature__table--email sortable"
                                    style="min-width: 50px; width: 70px;">
                                    <div class="datatable-header-cell-template-wrap">
                                        <span class="cmp-literature__table--email"></span>
                                        <span class="sort-btn"></span>
                                    </div>
                                    <span class="resize-handle--not-resizable"></span>
                                </datatable-header-cell>
                                <datatable-header-cell resizeable="" long-press="" draggable=""
                                    class="datatable-header-cell cmp-literature__table--itemsSelected sortable"
                                    style="min-width: 50px; width: 70px;">
                                    <div class="datatable-header-cell-template-wrap">
                                        <span class="cmp-literature__table--itemsSelected"></span>
                                        <span class="sort-btn"></span>
                                    </div>
                                    <span class="resize-handle--not-resizable"></span>
                                </datatable-header-cell>
                            </div>
                            <div class="datatable-row-right"
                                style="transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; width: 0px;">
                            </div>
                        </div>
                    </datatable-header>
                    <datatable-body class="datatable-body" style="width: 825px; height: auto;">
                        <datatable-selection>
                            <datatable-scroller class="datatable-scroll" style="width: 825px;">
                                <datatable-row-wrapper class="datatable-row-wrapper">
                                    <datatable-body-row tabindex="-1" class="datatable-body-row datatable-row-even"
                                        style="width: 825px; height: 72px;">
                                        <div class="datatable-row-group datatable-row-left"
                                            style="width: 0px; transform: translate3d(0px, 0px, 0px)">
                                        </div>
                                        <div class="datatable-row-center datatable-row-group" style="width: 825px;">
                                            <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active"
                                                style="width: 525px; min-width: 50px; height: 72px;">
                                                <div class="datatable-body-cell-label" style="margin-left: 0px;">
                                                    <span class="cmp-literature__table--document-rows">
                                                        <span class="cmp-literature__table--document-title"
                                                            title="IndividualMultipleTags1">IndividualMultipleTags1</span>
                                                        <br>
                                                        <span
                                                            class="cmp-literature__table--document-info">08/04/2020</span>
                                                        <span class="cmp-literature__table--document-info">Fact
                                                            Sheets, Forms and Applications, Literature (Non-Product),
                                                            Product Literature, Regulatory Documents, Thought
                                                            Leadership</span>
                                                        <span class="cmp-literature__table--document-info">.</span>
                                                        <span class="cmp-literature__table--document-info">PDF</span>
                                                        <span class="cmp-literature__table--document-info">0.1 MB</span>
                                                        <img alt="info-icon" src="/info-icon.svg"
                                                            aria-describedby="tooltip" class="image">
                                                        <div role="tooltip" class="tooltip">
                                                            <div class="tooltip__header">Additional Information</div>
                                                            <br>
                                                            <div class="tooltip__labels"> STRATEGIES</div>
                                                            <div>Longevity and Growth, Generating Income, Managing
                                                                Volatility, Combating Inflation</div>
                                                            <br>
                                                            <div class="tooltip__labels"> PRODUCT TYPE</div>
                                                            <div>Mutual Funds, Exchange Traded Funds (ETFs), IndexIQ
                                                                Indexes, Closed-End Funds</div>
                                                            <br>
                                                            <div class="tooltip__labels"> ASSET CLASS</div>
                                                            <div>Alternatives</div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </datatable-body-cell>
                                            <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active"
                                                style="width: 90px; min-width: 50px; height: 72px;">
                                                <div class="datatable-body-cell-label" style="margin-left: 0px;">
                                                    <span class="cmp-literature__table--date-rows">08/04/2020</span>
                                                </div>
                                            </datatable-body-cell>
                                            <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active"
                                                style="width: 70px; min-width: 50px; height: 72px;">
                                                <div class="datatable-body-cell-label" style="margin-left: 0px;">
                                                    <span class="cmp-literature__table--document-download"
                                                        title="Download">
                                                        <img alt="download" src="/resources/icons/download-icon.svg">
                                                    </span>
                                                </div>
                                            </datatable-body-cell>
                                            <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active"
                                                style="width: 70px; min-width: 50px; height: 72px;">
                                                <div class="datatable-body-cell-label" style="margin-left: 0px;">
                                                    <span data-target="#cmp-literature-email-modal" data-toggle="modal"
                                                        id="emailBtn" class="cmp-literature__table--document-email" title="Email">
                                                        <img alt="email" src="email-icon.svg">
                                                    </span>
                                                </div>
                                            </datatable-body-cell>
                                            <datatable-body-cell tabindex="-1" class="datatable-body-cell sort-active"
                                                style="width: 70px; min-width: 50px; height: 72px;">
                                                <div class="datatable-body-cell-label" style="margin-left: 0px;">
                                                    <span>
                                                        <input type="checkbox" id="IndividualMultipleTags1"
                                                            name="IndividualMultipleTags1">
                                                        <label for="IndividualMultipleTags1"></label>
                                                    </span>
                                                </div>
                                            </datatable-body-cell>
                                        </div>
                                        <div class="datatable-row-group datatable-row-right"
                                            style="width: 0px; transform: translate3d(-17px, 0px, 0px)">
                                        </div>
                                    </datatable-body-row>
                                </datatable-row-wrapper>
                            </datatable-scroller>
                        </datatable-selection>
                    </datatable-body>
                </div>
            </ngx-datatable>
            <div class="cmp-literature__table--btngroup full-width">
                <span class="cmp-literature__table--info">0 items
                    selected. Please choose up to 10 items to download/email.
                </span>
            </div>
            <div id="cmp-literature-download-modal" tabindex="-1" role="dialog" class="modal fade" aria-hidden="true"
                style="display: none;">
                <div role="document" class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" class="close" title="Close">
                                <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon--steel.svg"
                                    alt="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="cmp-literature__documents--heading"> Download</div>
                            <div class="cmp-literature__documents--description"> Download Description</div>
                            <div class="cmp-literature__documents--rows">
                                <span class="cmp-literature__documents--rows-title">Financial Thought Leadership
                                    Alternatives</span>
                                <span class="cmp-literature__documents--rows-title-space">&nbsp;</span>
                                <span class="cmp-literature__documents--rows-info">PDF</span>&nbsp;
                                <span class="cmp-literature__documents--rows-info">0.1 MB</span>
                            </div>
                            <div class="cmp-literature__documents--rows">
                                <span class="cmp-literature__documents--rows-title">Financial Education
                                    Alternatives</span>
                                <span class="cmp-literature__documents--rows-title-space">&nbsp;</span>
                                <span class="cmp-literature__documents--rows-info">PDF</span>&nbsp;
                                <span class="cmp-literature__documents--rows-info">0.1 MB</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row footer-btn">
                                <div class="col-12 footer-btn--apply">
                                    <button type="button" data-dismiss="modal" class="btn btn-apply"
                                        title="Download ZIP">Download ZIP 0.0 MB</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cmp-literature-email-modal" tabindex="-1" role="dialog" class="modal fade" aria-hidden="true"
                style="display: none;">
                <div role="document" class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" class="close" title="Close">
                                <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon--steel.svg"
                                    alt="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="cmp-literature__documents--heading"> Email</div>
                            <div class="cmp-literature__documents--description"> Email Description</div>
                            <div class="cmp-literature__documents--rows">
                                <span class="cmp-literature__documents--rows-title">Financial Thought Leadership
                                    Alternatives</span>
                                <span class="cmp-literature__documents--rows-title-space">&nbsp;</span>
                                <span class="cmp-literature__documents--rows-info">PDF</span>&nbsp;
                                <span class="cmp-literature__documents--rows-info">0.1 MB</span>
                            </div>
                            <div class="cmp-literature__documents--rows">
                                <span class="cmp-literature__documents--rows-title">Financial Education
                                    Alternatives</span>
                                <span class="cmp-literature__documents--rows-title-space">&nbsp;</span>
                                <span class="cmp-literature__documents--rows-info">PDF</span>&nbsp;
                                <span class="cmp-literature__documents--rows-info">0.1 MB</span>
                            </div>
                            <div class="cmp-literature__documents--required"> *Required</div>
                            <div class="cmp-literature-email-form">
                                <form method="post" name="LitCenterForm_MAY2020" class="elq-form eloqua-literature"
                                    rel="noopener" style="display:block">
                                    <input value="LitCenterForm_MAY2020" type="hidden" name="elqFormName">
                                    <input value="2108552627" type="hidden" name="elqSiteId">
                                    <div class="layout container-fluid">
                                        <div class="row">
                                            <div class="grid-layout-col">
                                                <div class="layout-col col-sm-12 col-xs-12">
                                                    <div id="formElement0"
                                                        class="elq-field-style form-element-layout row">
                                                        <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                                            <label class="elq-label " for="fe238">Recipient Email
                                                                <span class="elq-required">*
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="field-control-wrapper">
                                                                        <input type="text"
                                                                            class="elq-item-input       LV_valid_field"
                                                                            placeholder="Please enter one email address."
                                                                            name="RecipientEmail" id="fe238" value=""
                                                                            style="width:100%;">
                                                                    </div>
                                                                    <span
                                                                        class=" LV_validation_message LV_valid">Thankyou!
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-element-instruction">Please enter one email
                                                                address.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="grid-layout-col">
                                                <div class="layout-col col-sm-6 col-xs-12">
                                                    <div id="formElement1"
                                                        class="elq-field-style form-element-layout row">
                                                        <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                                            <label class="elq-label " for="fe269">Sender Name
                                                                <span class="elq-required">*
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="field-control-wrapper">
                                                                        <input type="text"
                                                                            class="elq-item-input LV_invalid_field"
                                                                            name="senderName1" id="fe269" value=""
                                                                            style="width:100%;">
                                                                    </div>
                                                                    <span class=" LV_validation_message LV_invalid">This
                                                                        field
                                                                        is required</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-layout-col">
                                                <div class="layout-col col-sm-6 col-xs-12">
                                                    <div id="formElement2"
                                                        class="elq-field-style form-element-layout row">
                                                        <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                                            <label class="elq-label " for="fe270">Sender Email
                                                                <span class="elq-required">*
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="field-control-wrapper">
                                                                        <input type="text"
                                                                            class="elq-item-input LV_invalid_field"
                                                                            name="senderEmail1" id="fe270" value=""
                                                                            style="width:100%;">
                                                                    </div>
                                                                    <span class=" LV_validation_message LV_invalid">This
                                                                        field
                                                                        is required</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="grid-layout-col">
                                                <div class="layout-col col-sm-12 col-xs-12">
                                                    <div id="formElement3"
                                                        class="elq-field-style form-element-layout row">
                                                        <div style="text-align:left;" class="col-sm-12 col-xs-12">
                                                            <label class="elq-label " for="fe268">Subject
                                                                <span class="elq-required">*
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="field-control-wrapper">
                                                                        <input type="text"
                                                                            class="elq-item-input LV_invalid_field"
                                                                            name="subject" id="fe268"
                                                                            placeholder="Literature Management."
                                                                            value="" style="width:100%;">
                                                                    </div>
                                                                    <span class=" LV_validation_message LV_invalid">This
                                                                        field
                                                                        is required</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="grid-layout-col">
                                                <div class="layout-col col-sm-12 col-xs-12">
                                                    <div id="formElement4"
                                                        class="elq-field-style form-element-layout row">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div style="text-align:left;">Your email address is
                                                                        used
                                                                        only to identify you to
                                                                        the recipient and in case of transmission
                                                                        errors.
                                                                        Neither your address nor
                                                                        the recipient's address will be sold or used for
                                                                        any
                                                                        purpose other than
                                                                        transmission of this message.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="grid-layout-col">
                                                <div class="layout-col col-sm-12 col-xs-12">
                                                    <div id="formElement5"
                                                        class="elq-field-style form-element-layout row">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div>
                                                                        <input type="Submit"
                                                                            class="submit-button-style " value="Email"
                                                                            id="fe241">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="elqCampaignID" id="fe239" value="">
                                        <input type="hidden" name="cmpid" id="fe240" value="null">
                                        <input type="hidden" name="pageURL" id="fe243"
                                            value="https://localdev.newyorklifeinvestments.com/literature">
                                        <input type="hidden" name="C_UserRole" id="fe244" value="individual">
                                        <input type="hidden" name="redirectURL" id="fe245">
                                        <input type="hidden" name="docTitle1" id="fe247"
                                            value="Financial Thought Leadership Alternatives">
                                        <input type="hidden" name="docURL1" id="fe248"
                                            value="https://dev.newyorklifeinvestments.com/Retirement31111119.pdf">
                                        <input type="hidden" name="docTitle2" id="fe249" value="">
                                        <input type="hidden" name="docURL2" id="fe250" value="">
                                        <input type="hidden" name="docTitle3" id="fe251" value="">
                                        <input type="hidden" name="docURL3" id="fe252" value="">
                                        <input type="hidden" name="docTitle4" id="fe253" value="">
                                        <input type="hidden" name="docURL4" id="fe254" value="">
                                        <input type="hidden" name="docTitle5" id="fe255" value="">
                                        <input type="hidden" name="docURL5" id="fe256" value="">
                                        <input type="hidden" name="docTitle6" id="fe257" value="">
                                        <input type="hidden" name="docURL6" id="fe258" value="">
                                        <input type="hidden" name="docTitle7" id="fe259" value="">
                                        <input type="hidden" name="docURL7" id="fe260" value="">
                                        <input type="hidden" name="docTitle8" id="fe261" value="">
                                        <input type="hidden" name="docURL8" id="fe262" value="">
                                        <input type="hidden" name="docTitle9" id="fe263" value="">
                                        <input type="hidden" name="docURL9" id="fe264" value="">
                                        <input type="hidden" name="docTitle10" id="fe265" value="">
                                        <input type="hidden" name="docURL10" id="fe266" value="">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-datatable>
</div>
