.cmp-go-partner-list {
    margin-bottom: calcRem(20px);
    &__partner {
        margin-bottom: calcRem(40px);
        list-style-type: none;
        padding: 0;
        display: none;
        &--image {
            padding-right: calcRem(24px);
            img {
                height: calcRem(65px);
                width: calcRem(65px);
                object-fit: cover;
                object-position: top;
            }
        }
        &--info {
            padding-right: calcRem(24px);
        }
        &--name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
            a {
                text-decoration: underline;
                @include font-size(20px);
                @include line-height(20px, 1.2);
            }
        }
        &--title{
            font-size: calcRem(16px);
            line-height: calcRem(24px);
        }

    }
    &__view-more {
        button {
            display: none;
        }
    }
}
