@import 'src/main/webpack/global/scss/variables/colors.scss';

.cmp-media-player {
    position: relative;
    display: block;
    &__video {
        max-width: 100%;
        .vjs-play-progress,
        .vjs-volume-level {
            background: $dark-blue--08;
        }

        .vjs-big-play-button {
            background: url('../resources/images/icon-system-video.svg') center/ contain no-repeat;
            box-sizing: border-box;
            height: 66px;
            width: 66px;

            &:focus {
                background: none;
            }

            .vjs-icon-placeholder {
                background: none;

                &::before {
                    content: '';
                }
            }
        }

        .video-js:hover {
            .vjs-big-play-button {
                background: url('../resources/images/icon-system-video-hover.svg') center/ contain no-repeat;

                .vjs-icon-placeholder {
                    background: none;

                    &::before {
                        content: '';
                    }
                }
            }
        }

        .video-player {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
    }

    &__audio {
        width: 635px;
        height: 200px;
        padding-right: 32px;
        padding-left: 32px;
        padding-bottom: 32px;
        background: $light-steel-3;
        padding-top: 80px;

        @include media-breakpoint-down(sm) {
            width: auto;
            height: 210px;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 24px;
        }

        .audio-player {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        .vjs-play-progress,
        .vjs-volume-level {
            background: $steel;
        }
        .video-js {
            padding-top: 0px;
            height: 118px;
            background-color: $light-steel-3;
            @include media-breakpoint-down(sm) {
                height: 130px;
            }
        }

        .video-js .vjs-big-play-button,
        .vjs-fullscreen-control,
        .vjs-picture-in-picture-control,
        .vjs-subs-caps-button,
        .vjs-text-track-display,
        .vjs-poster {
            display: none;
        }

        .vjs-control-bar {
            background-color: $light-steel-3;
            color: $steel;
            text-align: center;
            display: inline-block;
            .vjs-progress-control.vjs-control {
                position: absolute;
                top: -80px !important;
                height: 4px !important;
                @include media-breakpoint-up(md) {
                    height: 12px !important;
                }
                @include media-breakpoint-down(sm) {
                    height: 4px !important;
                }
            }
            .vjs-play-control {
                margin-right: 24px;
                top: -50px !important;
                @include media-breakpoint-down(sm) {
                    margin-right: 34px;
                    width: 40px;
                }
            }
            .vjs-volume-panel {
                display: inline;
                top: -50px !important;
            }
            .vjs-current-time {
                position: absolute !important;
                display: block !important;
                top: -75px !important;
            }
            .vjs-time-divider {
                display: none;
            }
            .vjs-duration {
                position: absolute !important;
                display: block !important;
                top: -75px !important;
                right: 0px !important;
            }
            .vjs-text-track-display {
                display: none;
            }
        }
        .vjs-progress-control:hover {
            height: 3px;
        }

        /* Show by default */
        .video-js.video-js .vjs-control-bar {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: block;
        }

        .video-js .vjs-time-control {
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 0px !important;
            font-family: $font-family-helvetica-neue;
            font-size: 11px;
            line-height: 14px;
            letter-spacing: 0.25px;
            opacity: 0.9;
            margin-top: 10px;

            .vjs-current-time-display {
                text-align: left;
            }

            .vjs-duration-display {
                text-align: right;
            }
        }

        .vjs-control:focus {
            outline: none !important;
        }

        .vjs-play-progress {
            background-color: $steel !important;
            height: 5px;
        }
        .vjs-slider {
            background-color: $white;
            height: 5px !important;
            outline: none !important;
            box-shadow: none !important;
        }
        .vjs-load-progress {
            background: $light-steel-1;
        }
        .vjs-has-started .vjs-control-bar {
            opacity: 1 !important;
        }

        /* Reposition tooltips */
        .video-js .vjs-time-tooltip,
        .video-js.vjs-has-started .vjs-time-tooltip,
        .video-js .vjs-dock-text {
            display: none;
        }

        /* Styles for the control bar title */
        .video-js .vjs-control-dock {
            width: auto;
            display: flex;
            line-height: 2.3em;
            font-size: 130%;
            text-overflow: ellipsis;
            pointer-events: none;
        }
        .vjs-control-dock-title {
            font-weight: bold;
        }
        .vjs-control-bar:not(.vjs-focus-within):not(.vjs-control-bar-visible) {
            transform: none !important;
        }
        .video-js .vjs-icon-placeholder:before {
            color: $white;
            width: 50px;
            height: 50px;
            background-color: $steel;
            border-radius: 50%;
            @include media-breakpoint-down(sm) {
                width: 40px;
                height: 40px;
            }
        }

        .vjs-loading-spinner {
            display: none;
        }

        .vjs-volume-control.vjs-volume-horizontal {
            display: inline-block;
            margin-right: 0;
            margin-left: calcRem(10px);
            padding-top: calcRem(6px);
            position: absolute !important;
        }

        .vjs-icon-placeholder {
            display: flex;
        }

        .vjs-button > .vjs-icon-placeholder:before {
            font-size: 2.6em;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: unset;
            @include ie11only {
                @include font-size(12px);
            }
            @include media-breakpoint-up(xl) {
                font-size: 2em;
            }
            @include media-breakpoint-down(sm) {
                font-size: 1.8em;
            }
        }

        .video-js .vjs-tech {
            z-index: -1;
        }

        .video-js .vjs-progress-control .vjs-mouse-display {
            z-index: -1 !important;
        }

        .vjs-progress-control {
            outline: none !important;
            box-shadow: none !important;
        }
    }
}
