.cmp-pull-quote {
    padding: 0 !important;
    position: relative;

    &__userimg,
    &__attribution,
    &__title {
        display: none;
    }
    .card-body {
        padding: 0;
    }
    &__quote {
        @include font-size(38px);
        @include line-height(46px);
        font-family: $font-family-alda;
        color: $steel;
        padding-left: calcRem(44px);

        @include media-breakpoint-down(sm) {
            @include font-size(20px);
            @include line-height(28px);
            padding-left: calcRem(20px);
        }
    }

    > svg {
        display: none;
        width: 32px;
        height: 23.47px;
        @include media-breakpoint-up(md) {
            width: 50px;
            height: 37px;
        }
    }

    &:after {
        content: '';
        background: $light-steel-2;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 4px;
    }

    &--highlighted {
        .cmp-pull-quote {
            margin: 0;
            > svg {
                margin-bottom: calcRem(16px);
                display: block;

                path {
                    fill: $light-steel-2;
                }

                @include media-breakpoint-down(sm) {
                    margin-bottom: calcRem(5px);
                }
            }

            &:after {
                display: none;
            }

            &__userimg {
                display: block;
            }
            &__quote {
                margin-bottom: 0;
                font-family: $font-family-alda;
                text-align: left;
                width: 100%;
                padding-left: 0;
                @include media-breakpoint-down(sm) {
                    @include font-size(20px);
                    @include line-height(28px);
                    padding-left: 0;
                }
            }
            .card-body {
                padding: calcRem(40px) 0 0 0;
                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(30px);
                    > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
            &__attribution,
            &__title {
                margin-bottom: 0px;
                display: block;
                font-family: $font-family-helvetica-neue;
                color: $steel;
                text-align: left;
                width: 100%;
            }
            &__attribution {
                @include font-size(18px);
                @include line-height(28px);
                @include media-breakpoint-down(sm) {
                    @include font-size(14px);
                    @include line-height(20px);
                }
            }
            &__title {
                @include font-size(16px);
                @include line-height(24px);
                @include media-breakpoint-down(sm) {
                    @include font-size(12px);
                    @include line-height(18px);
                }
            }
        }
    }

    .icon-quote {
        @include media-breakpoint-down(sm) {
            svg {
                width: 32px;
                height: 24px;
            }
        }
    }
}

@each $light-color-2-name, $light-color-2 in $light-colors-2 {
    .cmp-pull-quote--highlighted.cmp-pull-quote--#{$light-color-2-name} {
        .cmp-pull-quote > svg path {
            fill: $light-color-2;
        }
    }
}

@each $light-color-2-name, $light-color-2 in $light-colors-2 {
    .cmp-pull-quote--#{$light-color-2-name} {
        .cmp-pull-quote:after {
            background: $light-color-2;
        }
    }
}
