.guideImage img {
    height: auto;
    max-height: 100%;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    margin-top: 1rem;
    width: inherit;
    max-width: calc(100% - 1.5rem);
}

body {
    line-height: 1.42857143;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.guideContainerWrapperNode.guideContainerNode.container {
    width: 100%;
    max-width: inherit;
}

.macSafariForm .guideFieldWidget input[type='radio'] {
    height: 28px !important;
}

.guideChart {
    height: 100%;
    width: inherit;
    max-width: 100%;
    max-height: 100%;
}

.guideFieldNode.validation-failure:not(.guideButton):not(.guideTextDraw):not(.guideChart) {
    border-left-width: 0;
    border-style: solid;
    border-color: rgb(235, 60, 54);
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background: transparent;
    margin-bottom: 0;
}

.guideFieldNode:not(.guideButton):not(.guideTextDraw):not(.guideChart) {
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-color: rgba(255, 255, 255, 0);
    margin-bottom: 1rem;
    border-left-width: 0px;
}

.guideFieldNode.validation-success:not(.guideButton):not(.guideTextDraw):not(.guideChart) {
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0;
    border-style: solid;
    border-color: #23b482;
    margin-bottom: 0;
}

.guideFieldDescription.long {
    margin-bottom: 0.25rem;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0.25rem;
    clear: both;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: none;
    font-size: 0.875rem;
    color: #666666;
    background: rgba(0, 0, 0, 0.05);
    padding-left: 1rem;
    padding-bottom: 0.125rem;
    padding-top: 0.125rem;
    padding-right: 1rem;
    border-left-color: #007fa2;
    transition: all 2s;
}

.guideActiveField label {
    color: #0a3c53;
    font-size: 14px;
    line-height: 18px;
}

label {
    color: #666666;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'effra', Tahoma, sans-serif;
}

.guideFieldLabel {
    width: auto;
    display: block;
}

.validation-failure input,
.validation-failure select,
.validation-failure textarea,
.validation-failure.guideScribble img {
    color: #0a3c53;
    font-size: 14px;
    line-height: 18px;
    border-width: 1px;
    height: 40px;
    border-color: #d82313;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
}

input:focus,
select:focus,
textarea:focus,
.guideScribble img:focus {
    color: #171717;
    font-size: 18px;
    line-height: 27px;
    border-color: #0079c2;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-top-width: 4px;
    height: 50px;
}

input,
select,
textarea,
.guideScribble img,
.afTermsAndConditions {
    border: 3px solid #f1f6f8;
    padding: 14px 15px;
    background-color: #f1f6f8;
    border-radius: 4px;
    color: #0a3c53;
    font-size: 14px;
    line-height: 18px;
    height: 40px;
    font-family: 'HelveticaNeue', Tahoma, sans-serif;
    margin-bottom: 8px;
}

.guideFieldWidget:not(.guideFieldButtonWidget) {
    width: 100%;
    display: block;
}

@media (max-width: 768px) {
    input,
    select,
    textarea,
    .guideScribble img,
    .afTermsAndConditions {
        height: 40px;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

@media (max-width: 768px) {
    input:focus,
    select:focus,
    textarea:focus,
    .guideScribble img:focus {
        height: 40px;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

@media (max-width: 768px) {
    input:hover,
    select:hover,
    textarea:hover,
    .guideScribble img:hover {
        height: 40px;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

@media (max-width: 768px) {
    .validation-failure input,
    .validation-failure select,
    .validation-failure textarea,
    .validation-failure.guideScribble img {
        height: 40px;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

@media (max-width: 576px) {
    .validation-failure input,
    .validation-failure select,
    .validation-failure textarea,
    .validation-failure.guideScribble img {
        height: 40px;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

@media (max-width: 576px) {
    input:hover,
    select:hover,
    textarea:hover,
    .guideScribble img:hover {
        height: 40px;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

@media (max-width: 576px) {
    input:focus,
    select:focus,
    textarea:focus,
    .guideScribble img:focus {
        height: 40px;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

@media (max-width: 576px) {
    input,
    select,
    textarea,
    .guideScribble img,
    .afTermsAndConditions {
        height: 40px;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }
}

.guideCheckBoxGroupItems:not(.guideImageChoice):not(.guideSwitch) {
    width: 100%;
    display: block;
}

.afCheckBoxItem .guideWidgetLabel label {
    margin-left: 0.2em;
    margin-right: 1.5rem;
    vertical-align: middle;
    color: #0a3c53;
    font-size: 14px;
    line-height: 18px !important;
    cursor: pointer;
    margin-bottom: 3px;
}

.guideCheckBoxItem .guideWidgetLabel {
    margin-left: 37px;
    display: inline-block;
    vertical-align: top !important;
}

[data-disabled='true'] .afCheckBoxItem .guideWidgetLabel label {
    color: #666666;
}

@media (max-width: 575px) {
    .afCheckBoxItem .guideWidgetLabel label {
        display: inline-block;
        width: 87%;
        vertical-align: text-top;
    }
}

.XfaCheckBox input[type='checkbox']:checked::after {
    content: '\2714';
    color: #fff;
    border: solid 1px #0a3c53;
    border-radius: 2px;
    background-color: #0a3c53;
}

.validation-failure .XfaCheckBox input[type='checkbox'] {
    font-size: 18px;
    line-height: 27px;
    color: #d82313;
    display: inline-block !important;
}

.XfaCheckBox input[type='checkbox'] {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 28px;
    height: 28px;
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0;
    margin-right: 1px;
    float: left;
}

.guideCheckBoxGroupItems .guideCheckBoxItem .guideFieldWidget,
.guideRadioButtonGroupItems .guideRadioButtonItem .guideFieldWidget {
    float: left;
    vertical-align: middle;
}

.XfaCheckBox input[type='checkbox']::after {
    border: 1px solid #0a3c53;
    height: 24px;
    width: 25px;
    line-height: 20px;
    content: '';
    text-align: center;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    font-size: 18px;
    background: #fff;
    border-radius: 4px;
}

[data-disabled='true'] .XfaCheckBox input[type='checkbox'] {
    color: #666666;
}

[data-disabled='true'] .XfaCheckBox input[type='checkbox']::after {
    background: #e9e8e8;
}

.guideFieldWidget.guideNumericStepper {
    width: 40%;
    min-width: 200px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    background: #ffffff;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.guideFieldWidget.guideNumericStepper input[type='text'].ui-spinner-input {
    width: calc(100% - 5rem);
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    text-align: center;
}

.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-down:focus {
    background: url(../resources/Minus_Hover.svg) center center/0.75rem 0.75rem no-repeat;
}

.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-down:hover {
    background: url(../resources/Minus_Hover.svg) center center/0.75rem 0.75rem no-repeat;
}

.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-down {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    float: left;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background: url(../resources/Minus.svg) center center/0.75rem 0.75rem no-repeat;
    cursor: pointer;
}

.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-up:focus {
    background: url(../resources/Plus_Hover.svg) center center/0.75rem 0.75rem no-repeat;
}

.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-up:hover {
    background: url(../resources/Plus_Hover.svg) center center/0.75rem 0.75rem no-repeat;
}

.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-up {
    width: 2.5rem;
    height: 2.5rem;
    float: right;
    display: inline-block;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background: url(../resources/Plus.svg) center center/0.75rem 0.75rem no-repeat;
    cursor: pointer;
}

.guideRadioButtonGroupItems:not(.guideImageChoice):not(.guideSwitch) {
    display: block;
    width: 100%;
}

.afRadioButtonItem .guideWidgetLabel label {
    margin-top: 3px;
    vertical-align: super;
    color: #0a3c53;
    font-size: 14px;
    line-height: 18px !important;
    margin-left: 0.2rem;
    margin-bottom: 0px;
    margin-right: 1.5rem;
    cursor: pointer;
}

.guideRadioButtonItem .guideWidgetLabel {
    display: inline;
    float: none;
}

.XfaCheckBox input[type='radio']:checked {
    background-color: #0a3c53;
}

.XfaCheckBox input[type='radio']:checked::after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: white;
    border: none;
}

.XfaCheckBox input[type='radio'] {
    width: 26px !important;
    height: 25px;
    background-color: #fff;
    border: 1px solid #0a3c53;
    float: none;
    border-radius: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0;
    appearance: none;
    position: relative;
    left: 0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.XfaCheckBox input[type='radio']::after {
    background: #fff;
}

[data-disabled='true'] .XfaCheckBox input[type='radio'] {
    background-color: E9E8E8;
}

.multiline.textField textArea {
    height: 80px;
}

@media (max-width: 768px) {
    .guide-nav-next.guide-nav-toolbar-button {
        display: none;
    }
}

@media (max-width: 767px) {
    .guide-nav-next.guide-nav-toolbar-button {
        margin-left: 1rem;
        margin-bottom: 0px;
        margin-right: 0px;
        width: 2.5rem;
        height: 2.5rem;
        background: url(../resources/FatChevron-Right-Default.svg) center center/auto 1.25rem no-repeat;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .guide-nav-prev.guide-nav-toolbar-button {
        display: none;
    }
}

@media (max-width: 767px) {
    .guide-nav-prev.guide-nav-toolbar-button {
        position: relative;
        background: url(../resources/FatChevron-Left-Default.svg) center center/auto 1.25rem no-repeat;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        margin-left: 0px;
        cursor: pointer;
    }
}

.guideSwitch .ui-switchbutton-default.ui-state-active {
    background: rgba(0, 0, 0, 0);
    font-weight: normal;
}

.guideSwitch .ui-switchbutton-default {
    height: 24px;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-color: #cccccc;
}

.guideSwitch .ui-switchbutton-default .ui-switchbutton-handle {
    background: linear-gradient(180deg, rgb(215, 215, 215), rgb(252, 252, 252));
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    border-color: rgb(162, 162, 162);
}

.guideSwitch .ui-switchbutton-default label.ui-switchbutton-enabled {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    height: 20px;
    padding-top: 4px;
    display: block;
    margin-bottom: 5px;
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    color: rgb(255, 255, 255);
    background: rgb(84, 180, 107);
}

.guideSwitch .ui-switchbutton-default label.ui-switchbutton-disabled {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    height: 20px;
    padding-top: 4px;
    padding-right: 0px;
    display: block;
    margin-bottom: 5px;
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    color: rgb(124, 124, 124);
    background: #e6e6e6;
}

.guideFieldWidget.afTermsAndConditions {
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.guide-tnc-checkboxwidget input[type='checkbox'] {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 1rem;
}

.afTncContentArea {
    background: #ffffff;
    overflow: auto;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: #cccccc;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.6;
    color: #969696;
    max-height: 160px;
}

@media (max-width: 767px) {
    .afTncContentArea {
        max-height: 8rem;
    }
}

.guideImageChoice .guideRadioButtonItem.imageCheckButtonChecked .guideWidgetLabel,
.guideImageChoice .guideCheckBoxItem.imageCheckButtonChecked .guideWidgetLabel {
    background: url(../resources/ImageChoiceSelectIcon.svg) center center no-repeat, rgba(23, 107, 230, 0.5);
}

.afTncContentArea.guide-modal-body {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.afTermsAndConditions .guide-modal-header {
    background: #afb0b5;
    min-height: 16.42857143px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 15px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #e5e5e5;
}

.dropDownList select:hover {
    background: url(../resources/Chevron-Down-Active.svg) calc(100% - 0.5rem) 50% / auto 1rem no-repeat,
        rgba(255, 255, 255, 0.8);
}

.dropDownList select {
    font-size: 14px;
    color: #0a3c53;
    line-height: 20px;
    border: 3px solid #f1f6f8;
    padding: 8px 10px;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: url(../resources/Chevron-Down-Default.svg) calc(100% - 0.5rem) 50% / auto 1rem no-repeat,
        rgba(255, 255, 255, 0.5);
    height: 40px;
    font-weight: normal;
    font-family: 'HelveticaNeue', Tahoma, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.guideFieldWidget.dropDownList {
    width: 100%;
}

@media (max-width: 768px) {
    .dropDownList select {
        height: 40px;
        padding-right: 0.375rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 0.375rem;
    }
}

@media (max-width: 576px) {
    .dropDownList select {
        height: 40px;
        padding-right: 0.375rem;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 0.375rem;
    }
}

.guideformtitle,
.guideTextDraw.guideformtitle {
    font-size: 1.5rem;
    color: #666666;
    margin-bottom: 0.8125rem;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

@media (max-width: 991px) {
    .guideformtitle,
    .guideTextDraw.guideformtitle {
        margin-bottom: 0px;
        display: none;
    }
}

@media (max-width: 767px) {
    .guideformtitle,
    .guideTextDraw.guideformtitle {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }
}

.guideHelpQuestionMark:hover {
    background: url(../resources/questionmark.svg) left top/cover no-repeat, #777777;
}

.guideHelpQuestionMark {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 1rem;
    height: 1rem;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background: url(../resources/questionmark.svg) center center/cover no-repeat, #969696;
    cursor: pointer;
}

.guidePanelDescription > .guideHelpQuestionMark {
    position: relative;
    left: 5px;
    top: 0px;
}

.guidePanelDescription.long {
    background: rgba(0, 0, 0, 0.05);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0.25rem;
    color: #666666;
    font-size: 0.875rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.guideGridFluidDescription.guidePanelDescription {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    color: #666666;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

@media (max-width: 767px) {
    .guideGridFluidDescription.guidePanelDescription {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px) {
    .tab-navigators.tab-navigators-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .tab-navigators.tab-navigators-mobile {
        background: #e6e6e6;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 0px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        border-color: #e6e6e6;
        list-style: none;
        cursor: pointer;
    }
}

@media (max-width: 576px) {
    .tab-navigators.tab-navigators-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .guide-mobile-navigator .navigator-toggle {
        display: none;
    }
}

@media (max-width: 767px) {
    .guide-mobile-navigator .navigator-toggle {
        border: none;
        float: right;
        cursor: pointer;
        margin-right: 1rem;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-left: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        background: url(../resources/HamburgerMenuWmargin-Default.svg) 50% 0% / auto 2rem no-repeat;
        margin-bottom: 0.5rem;
    }
    .guide-mobile-navigator .navigator-toggle:hover {
        background: url(../resources/HamburgerMenuWmargin-Hover.svg) 50% 0% / auto 2rem no-repeat;
    }
}

@media (max-width: 768px) {
    .tab-navigators.tab-navigators-mobile > li > a {
        display: none;
    }
}

@media (max-width: 767px) {
    .tab-navigators.tab-navigators-mobile > li.wizard-tab-disabled > a,
    .tab-navigators.tab-navigators-mobile > li.wizard-tab-disabled > a:hover {
        opacity: 0.5;
    }
    .tab-navigators.tab-navigators-mobile > li > a {
        color: #666666;
        background: #e6e6e6;
        padding-left: 1rem;
        width: 100%;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
    }
    .tab-navigators.tab-navigators-mobile > li.active > a,
    .tab-navigators.tab-navigators-mobile > li.active.stepped > a {
        background: #666666;
        color: #ffffff;
    }
    .tab-navigators.tab-navigators-mobile > li > a:hover {
        background: #cccccc;
        color: #666666;
    }
}

@media (max-width: 576px) {
    .tab-navigators.tab-navigators-mobile > li > a {
        display: none;
    }
}

@media (max-width: 767px) {
    .mobileScrollIndicator {
        display: block;
        z-index: 55;
        position: fixed;
        bottom: 20px;
        right: 0px;
        width: 3rem;
        height: 5rem;
        background: url(../resources/ScrollDown.svg) left top/1.5rem 1.5rem no-repeat;
    }
}

@media (max-width: 768px) {
    .guide-header-bar {
        display: none;
    }
}

@media (max-width: 767px) {
    .guide-header-bar {
        background: #e6e6e6;
        color: #ffffff;
        padding-left: 0.5rem;
        text-transform: uppercase;
        position: static;
        top: 0px;
    }
}

@media (max-width: 576px) {
    .guide-header-bar {
        display: none;
    }
}

@media (max-width: 768px) {
    .guide-header-bar .guide-breadcrumb {
        display: none;
    }
}

@media (max-width: 767px) {
    .guide-header-bar .guide-breadcrumb {
        float: left;
        color: #666666;
        margin-right: 1rem;
        line-height: 2.5rem;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
    }
}

.accordion-navigators .guideHeader > a:hover {
    background: url(../resources/Chevron-Right-Hover.svg) 0.5rem 50% / auto 1rem no-repeat, #f0f0f0;
    color: #666666;
}

.accordion-navigators .active > .guideHeader > a,
.accordion-navigators .active .guideHeader > a:hover {
    color: #666666;
    background: url(../resources/Chevron-Active.svg) 0.5rem 50% / auto 1rem no-repeat, #f5f5f5;
    border-left-width: 2px;
    border-bottom-width: 0px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-color: #cccccc;
}

.accordion-navigators .guideHeader > a {
    display: block;
    border-style: solid;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: #cccccc;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    text-decoration: none;
    color: #969696;
    cursor: pointer;
    background: url(../resources/Chevron-Right.svg) 0.5rem 50% / auto 1rem no-repeat, #f1f1f1;
    border-bottom-width: 2px;
}

.accordion-navigators .guideHeader .repeatableButtons > button.Add:hover {
    background: url(../resources/Accordion-Add-Hover.svg) 50% 40%/1.2rem 1.2rem no-repeat;
}

.accordion-navigators .active > .guideHeader .repeatableButtons > button.Add {
    background: url(../resources/Accordion-Add-Hover.svg) 50% 40%/1.2rem 1.2rem no-repeat;
}

.accordion-navigators .guideHeader .repeatableButtons button.Add {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../resources/Accordion-Add-Default.svg) 50% 40%/1.2rem 1.2rem no-repeat;
}

.accordion-navigators .guideHeader .repeatableButtons button.Remove:hover {
    background: url(../resources/Accordion-Delete-Hover.svg) 50% 40%/1.2rem 1.2rem no-repeat;
}

.accordion-navigators .active > .guideHeader .repeatableButtons > button.Remove {
    background: url(../resources/Accordion-Delete-Hover.svg) 50% 40%/1.2rem 1.2rem no-repeat;
}

.accordion-navigators .guideHeader .repeatableButtons button.Remove {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    background: url(../resources/Accordion-Delete-Default.svg) 50% 40%/1.2rem 1.2rem no-repeat;
}

.guideGridFluidLayout {
    color: #666666;
}

.guideTabbedPanelLayout {
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #08b1cf;
}

.afTabLeftPanel {
    padding-left: 3.5rem;
    padding-bottom: 1rem;
    padding-right: 3.5rem;
    padding-top: 1rem;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    background: #fafafa;
    border-color: #e6e6e6;
}

@media (max-width: 991px) {
    .afTabLeftPanel {
        border-top-width: 0px;
    }
}

@media (max-width: 767px) {
    .afTabLeftPanel {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        border-top-width: 1px;
        background: #ffffff;
    }
}

.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    background: #f1f1f1;
    border-left-width: 1px;
    border-bottom-width: 0px;
    border-top-width: 1px;
    border-right-width: 0px;
    border-color: #e6e6e6;
    border-style: solid;
}

@media (max-width: 991px) {
    .guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical {
        border-right-width: 1px;
    }
}

.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li > a.guideLeftNavIcon:hover,
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li.stepped > a.guideLeftNavIcon:hover {
    color: #666666;
    background: url(../resources/Tick_Hover.svg) 0.5rem 50%/0.8125rem auto no-repeat, #e6e6e6;
}

.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li.active > a.guideLeftNavIcon,
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li.active.stepped > a.guideLeftNavIcon,
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li.active > a.guideLeftNavIcon:hover {
    color: #ffffff;
    background: url(../resources/Tick.svg) 0.5rem 50%/0.8125rem auto no-repeat, #888888;
}

.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li > a.guideLeftNavIcon {
    color: #666666;
    width: calc(100% - 35px);
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 0.25rem;
    text-decoration: none;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-color: #e6e6e6;
    border-style: solid;
    background: #f1f1f1;
    box-sizing: content-box;
}

.guideTabbedPanelLayout
    .tab-navigators.tab-navigators-vertical
    .tab-navigators-vertical
    > li
    > a.guideLeftNavIcon:hover,
.guideTabbedPanelLayout
    .tab-navigators.tab-navigators-vertical
    .tab-navigators-vertical
    > li.stepped
    > a.guideLeftNavIcon:hover {
    color: #666666;
    background: url(../resources/DoubleTick.svg) 0.5rem 50%/0.8125rem auto no-repeat, #ffffff;
}

.guideTabbedPanelLayout
    .tab-navigators.tab-navigators-vertical
    .tab-navigators-vertical
    > li.active
    > a.guideLeftNavIcon,
.guideTabbedPanelLayout
    .tab-navigators.tab-navigators-vertical
    .tab-navigators-vertical
    > li.active.stepped
    > a.guideLeftNavIcon,
.guideTabbedPanelLayout
    .tab-navigators.tab-navigators-vertical
    .tab-navigators-vertical
    > li.active
    > a.guideLeftNavIcon:hover {
    background: url(../resources/DoubleTick.svg) 0.5rem 50%/0.8125rem auto no-repeat, #ffffff;
    border-left-width: 4px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    color: #666666;
    border-color: #969696;
}

.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical .tab-navigators-vertical > li > a.guideLeftNavIcon {
    background: #ffffff;
    color: #666666;
    border-left-width: 4px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}

.guideVerticalTabbedPanelLayout .tab-navigators {
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #e6e6e6;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    width: 100%;
    list-style: none;
}

.guideVerticalTabbedPanelLayout .tab-navigators > li > a.guideTopNavIcon:hover {
    color: #666666;
    background: rgba(255, 255, 255, 0);
    border-style: solid;
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-color: rgba(150, 150, 150, 0.5);
}

.guideVerticalTabbedPanelLayout .tab-navigators > li.active > a.guideTopNavIcon,
.guideVerticalTabbedPanelLayout .tab-navigators-vertical .tab-navigators-vertical li.active > a.guideTopNavIcon,
.guideVerticalTabbedPanelLayout .tab-navigators > li.stepped.active > a.guideTopNavIcon,
.guideVerticalTabbedPanelLayout .tab-navigators-vertical .tab-navigators-vertical li.stepped.active > a.guideTopNavIcon,
.guideVerticalTabbedPanelLayout .tab-navigators > li.active > a.guideTopNavIcon:hover,
.guideVerticalTabbedPanelLayout .tab-navigators-vertical .tab-navigators-vertical li.active > a.guideTopNavIcon:hover {
    color: #666666;
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-color: #666666;
    border-style: solid;
}

.guideVerticalTabbedPanelLayout .tab-navigators > li > a.guideTopNavIcon {
    color: #969696;
    padding-right: 0px;
    margin-right: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-left: 0px;
    padding-left: 0px;
    background: rgba(255, 255, 255, 0);
}

.guideVerticalTabbedPanelLayout .tab-navigators > li.stepped > a.guideTopNavIcon,
.guideVerticalTabbedPanelLayout .tab-navigators-vertical .tab-navigators-vertical li.stepped > a.guideTopNavIcon {
    color: #969696;
}

.wizard-navigators {
    padding-bottom: 0.5rem;
    padding-left: 0px;
    padding-top: 0.5rem;
    padding-right: 0px;
    list-style-type: none;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    text-transform: uppercase;
    counter-reset: item;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

@media (max-width: 768px) {
    .wizard-navigators {
        display: none;
    }
}

@media (max-width: 767px) {
    .wizard-navigators {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.wizard-navigators > li > a:hover {
    color: #969696;
    text-decoration: none;
}

.wizard-navigators > li > a:hover::before {
    color: #969696;
    border-color: #969696;
}

.wizard-navigators > li.active > a,
.wizard-navigators > li.active.stepped > a,
.wizard-navigators > li.active > a:hover {
    color: #666666;
}

.wizard-navigators > li.active > a::before,
.wizard-navigators > li.active.stepped > a::before,
.wizard-navigators > li.active > a:hover::before {
    background-color: #666666;
    border-color: #666666;
    color: #ffffff;
    outline: 2px;
}

.wizard-navigators > li > a {
    display: inline-block;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #000000;
    position: relative;
    counter-increment: item;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    color: #969696;
    text-transform: capitalize;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wizard-navigators > li > a::before {
    content: counter(item);
    float: left;
    bottom: 0px;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.75rem;
    padding: auto;
    color: #cccccc;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.35rem;
    border-style: solid;
    border-width: 2px;
    border-color: #cccccc;
    margin-right: 10px;
}

.wizard-navigators > li.stepped > a {
    color: #969696;
}

.wizard-navigators > li.stepped > a::before {
    content: '';
    background: url(../resources/Tick.svg) center center/0.75rem 0.75rem no-repeat, #969696;
    border-color: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
    .wizard-navigators > li > a {
        display: none;
    }
}

@media (max-width: 767px) {
    .wizard-navigators > li > a {
        margin-right: 4rem;
    }
}

@media (max-width: 576px) {
    .wizard-navigators > li > a {
        display: none;
    }
}

.wizard-navigators > li.active .indicator,
.wizard-navigators > li.active.stepped .indicator,
.wizard-navigators > li.active:hover .indicator {
    display: none;
    border-bottom-color: #0079c1;
}

.wizard-navigators > li .indicator {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: -39px;
    z-index: 20;
    border-left-width: 8px;
    border-bottom-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    border-color: rgba(255, 255, 255, 0);
    display: none;
    margin-left: 6px;
    border-bottom-color: #999999;
}

.wizard-navigators > li.stepped .indicator {
    display: none;
    border-bottom-color: #02874e;
}

.wizard-navigators > li:hover .progress {
    background: #969696;
}

.wizard-navigators > li.active .progress,
.wizard-navigators > li.active.stepped .progress,
.wizard-navigators > li.active:hover .progress {
    background: #666666;
}

.wizard-navigators > li .progress {
    height: 3px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #cccccc;
    margin-top: 9px;
    display: block;
    margin-right: 3px;
    margin-bottom: 0px;
    box-shadow: 50px 36px 75px 80px rgba(127, 127, 127, 0) inset;
}

.wizard-navigators > li.stepped .progress {
    background: #969696;
}

.wizard-nav-arrow.wizard-nav-next:hover {
    background: url(../resources/Chevron-Right-White.svg) center center/1rem 1rem no-repeat, #666666;
    border-color: #666666;
}

.wizard-nav-arrow.wizard-nav-next {
    height: 2.5rem;
    cursor: pointer;
    margin-top: 4.25rem;
    float: right;
    width: 2.5rem;
    margin-right: 1rem;
    position: absolute;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-color: #969696;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: url(../resources/Chevron-Right.svg) center center/1rem 1rem no-repeat;
    right: 2%;
}

@media (max-width: 767px) {
    .wizard-nav-arrow.wizard-nav-next {
        display: none;
    }
}

.wizard-nav-arrow.wizard-nav-prev:hover {
    background: url(../resources/Chevron-Left-White.svg) center center/1rem 1rem no-repeat, #969696;
}

.wizard-nav-arrow.wizard-nav-prev {
    cursor: pointer;
    height: 2.5rem;
    margin-top: 4.25rem;
    float: right;
    right: 10%;
    width: 2.5rem;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-color: #969696;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    position: absolute;
    margin-right: 0.5rem;
    background: url(../resources/Chevron-Left.svg) center center/1rem 1rem no-repeat;
}

@media (max-width: 767px) {
    .wizard-nav-arrow.wizard-nav-prev {
        display: none;
    }
}

.guide-tab-scroller.guide-tab-scroller-next:hover {
    background: url(../resources/Chevron-Right-Hover.svg) center center/1rem 1rem no-repeat;
}

.guide-tab-scroller.guide-tab-scroller-next {
    cursor: pointer;
    height: 1.5rem;
    background: url(../resources/Chevron-Right.svg) center center/1rem 1rem no-repeat;
    margin-top: 0.5rem;
    display: block;
}

@media (max-width: 991px) {
    .guide-tab-scroller.guide-tab-scroller-next {
        display: block;
    }
}

.guide-tab-scroller.guide-tab-scroller-previous:hover {
    background: url(../resources/Chevron-Left-Hover.svg) center center/1rem 1rem no-repeat;
}

.guide-tab-scroller.guide-tab-scroller-previous {
    cursor: pointer;
    height: 1.5rem;
    background: url(../resources/Chevron-Left.svg) center center/1rem 1rem no-repeat;
    display: block;
    margin-top: 0.5rem;
    visibility: none;
}

@media (max-width: 991px) {
    .guide-tab-scroller.guide-tab-scroller-previous {
        display: block;
    }
}

.guideTableRuntimeAddControl:hover {
    background: url(../resources/Accordion-Add-Hover.svg) center center/1.2rem 1.2rem no-repeat;
}

.guideTableRuntimeAddControl {
    background: url(../resources/Accordion-Add-Default.svg) center center/1.2rem 1.2rem no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.guideTableRuntimeEditControl:hover {
    background: url(../resources/Table-Edit-Hover.svg) center center/1.2rem 1.2rem no-repeat;
}

.guideTableRuntimeEditControl {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../resources/Table-Edit-Default.svg) center center/1.2rem 1.2rem no-repeat;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.guideTableRuntimeDeleteControl:hover {
    background: url(../resources/Accordion-Delete-Hover.svg) center center/1.2rem 1.2rem no-repeat;
}

.guideTableRuntimeDeleteControl {
    background: url(../resources/Accordion-Delete-Default.svg) center center/1.2rem 1.2rem no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.guideToolbarNode {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 2.85rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

@media (max-width: 767px) {
    .guideToolbarNode {
        position: fixed;
        bottom: 0px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 1rem;
        padding-left: 1rem;
        height: 3.55rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 1px;
        border-right-width: 0px;
        border-style: solid;
        border-color: #e6e6e6;
        background: rgba(255, 255, 255, 0.8);
    }
}

button.fileattachmentlisting .iconButton-icon {
    background: url(../resources/fileattachmentlisting-ip.png) center top/contain no-repeat;
}

button.moveNext .iconButton-icon {
    background: url(../resources/Chevron-Right-White.svg) center center/auto 1.3rem no-repeat;
}

button.movePrev:not(.af-icon-button):hover .iconButton-icon {
    background: url(../resources/Chevron-Left-White.svg) center center/auto 1.3rem no-repeat;
}

button.movePrev:not(.af-icon-button):active .iconButton-icon {
    background: url(../resources/Chevron-Left-White.svg) center center/auto 1.3rem no-repeat;
}

button.movePrev .iconButton-icon {
    background: url(../resources/Chevron-Left-Hover.svg) center center/auto 1.3rem no-repeat;
}

button.reset:not(.af-icon-button):focus .iconButton-icon {
    background: url(../resources/Reset-Hover.svg) center center/auto 1.2rem no-repeat;
}

button.reset:not(.af-icon-button):hover .iconButton-icon {
    background: url(../resources/Reset-Hover.svg) center center/auto 1.2rem no-repeat, #666666;
}

button.reset:not(.af-icon-button):active .iconButton-icon {
    background: url(../resources/Reset-Hover.svg) center center/auto 1.2rem no-repeat, #555555;
    border-color: #555555;
}

button.reset .iconButton-icon {
    background: url(../resources/Reset.svg) center center/auto 1.2rem no-repeat;
}

button .iconButton-icon {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../resources/Save.svg) center center/auto 1.2rem no-repeat;
}

button.submit:not(.af-icon-button):focus .iconButton-icon {
    background: url(../resources/Submit-Hover.svg) center center/auto 1.3rem no-repeat, #666666;
}

button.submit:not(.af-icon-button):hover .iconButton-icon {
    background: url(../resources/Submit-Hover.svg) center center/auto 1.3rem no-repeat, #555555;
    border-color: #555555;
}

button.submit:not(.af-icon-button):active .iconButton-icon {
    background: url(../resources/Submit-Hover.svg) center center/auto 1.3rem no-repeat, #555555;
    border-color: #555555;
}

button.submit .iconButton-icon {
    background: url(../resources/Submit-Hover.svg) center center/auto 1.3rem no-repeat;
}

@media (max-width: 767px) {
    .afToolbarButton .guidebutton button .iconButton-label {
        display: none;
    }
}

@media (max-width: 767px) {
    .afToolbarButton .guidebutton button .iconButton-icon {
        display: block;
    }
}

.guideContainerWrapperNode .tooltip.bottom .tooltip-inner {
    background: rgba(0, 0, 0, 0.7);
    max-width: 350px;
    color: #ffffff;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: auto;
    text-decoration: none;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
}

.guideContainerWrapperNode .tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(0, 0, 0, 0.7);
}

.guideFieldError {
    font-family: 'HelveticaNeue', Tahoma, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 14px;
    letter-spacing: 0.22px;
    color: #d92b1c;
    padding: 0;
}

.guideFieldWidget.guideDateInputWidget .comb-datefield label {
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 0.125rem;
    margin-top: 0.5rem;
    margin-right: 0px;
    color: #888888;
}

.guideFieldWidget.guideDateInputWidget input[type='text'].comb-form-group-month {
    text-transform: uppercase;
    width: 3.625rem;
    padding-bottom: auto;
    padding-right: auto;
    padding-top: auto;
    padding-left: auto;
    text-align: center;
}

.guideFieldWidget.guideDateInputWidget input[type='text'].comb-form-group-day {
    width: 3.625rem;
    text-align: center;
    padding-left: auto;
    padding-bottom: auto;
    padding-top: auto;
    padding-right: auto;
}

.guideFieldWidget.guideDateInputWidget input[type='text'].comb-form-group-year {
    width: 4rem;
    text-align: center;
}

.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical .tab-navigators-vertical {
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}

.afToolbarButton .guidebutton button:not(.af-icon-button) {
    margin-right: 0.5rem;
    margin-left: 0px;
}

.afToolbarButton {
    display: inline-block;
}

.guideFieldDescription.short {
    font-size: 0.875rem;
    color: #969696;
    font-family: 'effra', Tahoma, sans-serif;
}

.guideTableNode table .guideTableRowNode.guideTableHeader th {
    background: #666666;
    font-weight: bold;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    border-style: hidden;
    height: 3.875rem;
    color: rgb(255, 255, 255);
    text-align: left;
}

.guideTableNode table .guideTableRowNode.guideTableHeader:nth-child(even),
.guideTableNode table .guideTableRowNode.guideTableHeader:nth-child(odd) {
    background: #333333;
}

.guideTableNode table td {
    text-align: left;
}

.guideTableNode table {
    border-style: hidden;
    margin-top: 0.25rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    max-width: calc(100% - 1.5rem);
    margin-bottom: 0.75rem;
}

.guideTableNode table tbody:nth-of-type(even) tr,
.guideTableNode table tbody tr:nth-of-type(even) {
    border-style: hidden;
    background: #eeeeee;
}

.guideTableNode table td:nth-child(even) {
    border-style: hidden;
}

.guideTableNode div.guidePanelDescription {
    color: #666666;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.guideTextDraw.guideStaticText {
    padding-right: 0.75rem;
    font-family: 'effra', Tahoma, sans-serif;
    margin: 0px;
}

@media (max-width: 991px) {
    .guideLayout.guideVerticalTabbedPanelLayout {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (max-width: 767px) {
    .guideLayout.guideVerticalTabbedPanelLayout {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.guideAccordionLayout {
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-style: hidden;
    border-color: #ffffff;
}

@media (max-width: 575px) {
    .guideContainer {
        padding-right: 10px;
        padding-left: 10px;
    }
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 1;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.guideWizardLayout {
    background: #fafafa;
    padding-top: 0.5rem;
    border-color: #e6e6e6;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-style: solid;
}

@media (max-width: 767px) {
    .guideWizardLayout {
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        padding-top: 0px;
        background: #ffffff;
    }
}

.guideTableNode table tbody:nth-of-type(odd) tr:nth-of-type(odd) {
    background: #ffffff;
}

button.moveNext:not(.af-icon-button):hover {
    background: #555555;
    border-color: #555555;
}

button.moveNext:not(.af-icon-button):active {
    background: #555555;
    border-color: #555555;
}

button.moveNext:not(.af-icon-button) {
    color: #ffffff;
    background: #666666;
}

@media (max-width: 767px) {
    button.moveNext:not(.af-icon-button) {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

button.submit:not(.af-icon-button):active {
    background: #555555;
    border-color: #555555;
}

@media (max-width: 767px) {
    button.submit:not(.af-icon-button) {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }
}

.guideFieldWidget.dateTimeEdit input {
    font-family: Arial, Tahoma, sans-serif;
}

.afWizardPanel {
    padding-left: 16%;
    padding-bottom: 4rem;
    padding-right: 3.5rem;
    padding-top: 1rem;
}

@media (max-width: 767px) {
    .afWizardPanel {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (max-width: 767px) {
    button.reset:not(.af-icon-button) {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        border-left-width: 2px;
        border-bottom-width: 2px;
        border-top-width: 2px;
        border-right-width: 2px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
    }
}

button:not(.af-icon-button),
input[type='button'] {
    cursor: pointer;
}
/* af_guideContainer:af_button*/
.cmp-aem-form-container button:not(.af-icon-button):focus {
    background: #666666;
    color: #ffffff;
}

.cmp-aem-form-container button:not(.af-icon-button):hover {
    color: #0a3c53;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-top-width: 4px;
    border-color: #0a3c53;
}

.cmp-aem-form-container button:not(.af-icon-button):active {
    color: #ffffff;
    background: #555555;
    border-color: #555555;
}

.cmp-aem-form-container button:not(.af-icon-button),
.cmp-aem-form-container input[type='button'] {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    border-style: solid;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
    padding-right: 1rem;
    font-size: 14px;
    line-height: normal;
    border-color: #0a3c53;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 50px;
    background: #0a3c53;
    color: #fff;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    margin-left: 0px;
    /* CSS Override */
    cursor: pointer;
}

/* Additional auto-generated CSS */
.guidebutton {
    width: 160px;
}

.guidebutton button {
    width: 100%;
}

.cmp-aem-form-container [data-disabled='true'] button:not(.af-icon-button) {
    background: #bebebe;
    color: #e6e6e6;
}

@media (max-width: 575px) {
    .guidebutton {
        width: 95%;
    }
    .guidebutton button {
        width: 100%;
    }
}

.afTabTopPanel {
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-left: 5.3rem;
}

@media (max-width: 991px) {
    .afTabTopPanel {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 767px) {
    .afTabTopPanel {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

.guide-tnc-checkbox .guideWidgetLabel label {
    font-size: 0.875rem;
    color: #888888;
    cursor: pointer;
}

.afAccordionPanel {
    padding-left: 3.5rem;
    padding-bottom: 1rem;
    padding-right: 3.5rem;
    padding-top: 1rem;
    border-style: solid;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 2px;
    border-color: #cccccc;
    background: #f5f5f5;
}

@media (max-width: 767px) {
    .afAccordionPanel {
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 0px;
    }
}

.guide-tnc-checkbox {
    margin-top: 0px;
}

.guideAccordionDescription.guidePanelDescription {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    color: #666666;
}

@media (max-width: 767px) {
    .guideAccordionDescription.guidePanelDescription {
        margin-bottom: 0.5rem;
        margin-top: 0.25rem;
    }
}

.afCheckBoxItem {
    cursor: pointer;
}

.afRadioButtonItem {
    margin-bottom: 0;
    margin-right: 8px;
    cursor: pointer;
}

@media (max-width: 767px) {
    button.movePrev:not(.af-icon-button) {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

button.save:not(.af-icon-button):focus .iconButton-icon {
    background: url(../resources/Save-Hover.svg) center center/auto 1.3rem no-repeat;
}

button.save:not(.af-icon-button):hover .iconButton-icon {
    background: url(../resources/Save-Hover.svg) center center/auto 1.3rem no-repeat, #666666;
}

button.save:not(.af-icon-button):active .iconButton-icon {
    background: url(../resources/Save-Hover.svg) center center/auto 1.3rem no-repeat, #555555;
}

button.save .iconButton-icon {
    background: url(../resources/Save.svg) center center/auto 1.3rem no-repeat;
}

@media (max-width: 767px) {
    button.save:not(.af-icon-button):active .iconButton-icon {
        border-color: #555555;
    }
}

@media (max-width: 767px) {
    button.save:not(.af-icon-button) {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-top-width: 2px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
    }
}

.guideSummaryComponent {
    text-align: center;
    max-width: 100%;
    position: relative;
    height: 500px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    overflow: auto;
}

.guideVerifyComponent {
    text-align: center;
    max-width: 100%;
    position: relative;
    height: 540px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    overflow: auto;
}

.guideESignComponent {
    text-align: center;
    position: relative;
    height: 540px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    overflow: auto;
    max-width: 100%;
}

.adobeSignBlockText {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: rgba(0, 0, 0, 0.02);
    border-color: rgba(0, 0, 0, 0.15);
}

.guideAdModule {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.guideAdModuleGroup {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

@media (max-width: 991px) {
    button .iconButton-label {
        font-size: 18px;
        line-height: 27px;
    }
}

.afFooter {
    width: 100%;
    text-align: center;
    background: #e6e6e6;
    margin-top: 4rem;
    padding-top: 0.5em;
    padding-bottom: 0.5rem;
    box-sizing: content-box;
}

@media (max-width: 767px) {
    .afFooter {
        margin-bottom: 3.55rem;
    }
}

.guideTextDraw.footerText {
    color: #969696;
    font-size: 0.75em;
}

.afHeader {
    color: #969696;
    top: 0px;
    right: 0px;
    left: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    height: 90px;
    vertical-align: text-top;
    background: #f5f5f5;
    border-color: #e6e6e6;
    margin-bottom: 1rem;
    border-style: solid;
}

@media (max-width: 767px) {
    .afHeader {
        height: 64px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.guideimage .logoImage img {
    height: 3.75rem;
    margin-top: 0.9375rem;
    margin-left: 0px;
    width: auto;
    max-width: 100%;
}

@media (max-width: 767px) {
    .guideimage .logoImage img {
        height: 35px;
    }
}

.guideTextDraw.headerText {
    font-size: 1.125rem;
    color: #555555;
    vertical-align: top;
    height: 70px;
}

@media (max-width: 767px) {
    .guideTextDraw.headerText {
        height: 49px;
        padding-left: 0px;
    }
    #guideContainerForm .guideFieldHorizontalAlignment.leadFormPivotCheckbox {
        display: block;
    }
}
.leadFormPivotCheckbox .guideWidgetLabel label {
    font-size: 16px;
    font-weight: 500;
    line-height: 33px !important;
}
@media (max-width: 991px) {
    .leadFormPivotCheckbox .guideWidgetLabel label {
        margin-right: 1.5rem;
        line-height: 28px !important;
    }
    .leadFormPivotCheckbox .guideWidgetLabel.right {
        padding-bottom: 20px;
    }
}

.validation-failure label {
    color: #0a3c53;
    font-size: 14px;
    line-height: 18px;
}
.dropDownList select,
.dropDownList select:hover {
    background: url(../resources/Chevron-Down-Default.svg) calc(100% - 0.5rem) 50% / auto 1rem no-repeat, #f1f6f8;
}
input:focus,
textarea:focus,
.guideScribble img:focus {
    color: #0a3c53;
    font-size: 14px;
    border: solid 3px #0a3c53;
    background-color: #f1f6f8;
    height: 40px;
}
select:focus {
    line-height: 20px;
    font-size: 14px;
    border: solid 3px #0a3c53;
}
input::placeholder {
    opacity: 0.66;
    font-family: 'AldaPro', Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 18px;
    letter-spacing: 0.28px;
    text-align: left;
    color: rgba(10, 60, 83, 0.66);
}
.guideFieldLabel label {
    font-family: 'AldaPro', Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 18px;
    color: #0a3c53;
    margin-bottom: 9px;
}
.guideradiobutton label,
.guidecheckbox label,
.guideDropDownList label {
    font-family: 'HelveticaNeue', Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 18px;
    color: #0a3c53;
    margin-bottom: 12px;
}
.guideRadioButtonItem label,
.guideCheckBoxItem label {
    font-family: 'HelveticaNeue', Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 18px;
    color: #0a3c53;
}

@media (max-width: 767px) {
    .guideCheckBoxItem .guideWidgetLabel {
        margin-left: 0;
        display: inline-block;
        width: 98%;
        padding-left: 30px;
    }
}

@media (max-width: 767px) {
    .XfaCheckBox input[type='checkbox']:checked::after {
        line-height: 20px;
    }
}
.guidecheckbox .guideCheckBoxItem .guideFieldWidget {
    vertical-align: super;
}
.row [id$='__guide-item'] {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.row [id$='__guide-item']:first-child {
    padding-left: 0 !important;
}
.row [id$='__guide-item']:last-child {
    padding-right: 0 !important;
}
@media (max-width: 767px) {
    .row [id$='__guide-item'] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .dropDownList select {
        font-size: 14px;
    }
}

.guidetextbox,
.guidedropdownlist {
    min-height: 95px;
}
.guideradiobutton {
    min-height: 80px;
}
.guidecheckbox {
    min-height: 60px;
    margin-bottom: 10px;
}
.guidecheckbox .guideCheckBoxItem {
    margin-bottom: 15px;
}
.guidecheckbox .guideCheckBoxItem:last-child {
    margin-bottom: 8px;
}
#guideContainerForm .guideCheckBoxItem.guideFieldHorizontalAlignment {
    width: 100%;
}
