<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @appendPath='teamsContentFragments'}"
    data-sly-call="${templates.placeholder @ isEmpty = !resourceModel.resource, classAppend='cmp-bio-placeholder'}" />
<div data-sly-test.contentFragments="${resourceModel.children}" class="cmp-bio"
    data-sly-list.contentFragment="${contentFragments}">
    <div class="card ${contentFragment.expandPageLoad? 'expanded' :''}" data-sly-use.bioResourceModel="${'com.nyl.foundation.models.ResourceModel' @resourcePath=contentFragment.bio, 
         appendPath='jcr:content/data/master'}" data-sly-set.bioDetails="${bioResourceModel.properties}">
        <div data-sly-test="${bioDetails.firstName || bioDetails.lastName}"
            data-sly-set.bioName="${bioDetails.firstName} ${bioDetails.lastName}"
            data-sly-use.formatterModel="${'com.nyl.foundation.models.FormatterModel' @ input=bioName}"
            id="${formatterModel.nonAlphaNumericString}" class="row cmp-bio__container">
            <div data-sly-set.fullName="${bioDetails.firstName} ${bioDetails.lastName}${'nylim.apostropheS' @ i18n}"
                class="col-md-4 col-sm-12">
                <div data-sly-set.titleValue="${fullName} ${'nylim.profile' @ i18n}" class="cmp-bio__image">
                    <a class="clickable"
                        data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @linkUrl=bioDetails.bioDetailPagePath }"
                        href="${linkModel.linkUrl}" title="${titleValue}" data-sly-unwrap="${!linkModel.linkUrl}">
                        <sly data-sly-test="${bioDetails.image}"
                            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                            data-sly-call="${image.imageTemplate @ componentName='bio', imagePath=bioDetails.image, imgClass='mw-100'}">
                        </sly>
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 cmp-bio__detail">
                <div data-sly-test="${bioDetails.firstName || bioDetails.lastName || bioDetails.suffix}"
                    class="cmp-bio__detail--name">
                    <a class="clickable"
                        data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @linkUrl=bioDetails.bioDetailPagePath }"
                        href="${linkModel.linkUrl}" title="${titleValue}" data-sly-unwrap="${!linkModel.linkUrl}">
                        <span data-sly-test="${bioDetails.firstName}">${bioDetails.firstName}</span>
                        <span data-sly-test="${bioDetails.lastName}">&nbsp;${bioDetails.lastName}</span>
                        <span data-sly-test="${bioDetails.suffix}">,&nbsp;${bioDetails.suffix}</span>
                    </a>

                </div>
                <div data-sly-test="${bioDetails.title1}" class="cmp-bio__detail--title">
                    ${bioDetails.title1}</div>
                <div data-sly-test="${bioDetails.companyDescription}" class="cmp-bio__detail--company">
                    ${bioDetails.companyDescription}</div>
                <div data-sly-test="${bioDetails.linkedinLink || bioDetails.twitterLink}" class="cmp-bio__social-share">
                    <ul>
                        <li data-sly-test="${bioDetails.linkedinLink}">
                            <div>
                                <a title="${fullName} ${'nyl.socialShare.linkedin' @ i18n} ${'nylim.account' @ i18n}"
                                    class="cmp-bio__social-share--linkedin" href="${bioDetails.linkedinLink}"
                                    target="_blank">
                                    <i class="cmp-bio__social-share--icon--linkedin" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                        <li data-sly-test="${bioDetails.twitterLink}">
                            <div>
                                <a title="${fullName} ${'nyl.socialShare.twitter' @ i18n} ${'nylim.account' @ i18n}"
                                    class="cmp-bio__social-share--twitter" href="${bioDetails.twitterLink}"
                                    target="_blank">
                                    <i class="cmp-bio__social-share--icon--twitter" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div data-sly-test="${bioDetails.bio}" class="cmp-bio__detail--text">
                    ${bioDetails.bio @context='html'}
                </div>
                <div data-sly-test="${bioDetails.recognitions || bioDetails.affiliations}"
                    class="row cmp-bio__detail--achievements">
                    <div data-sly-test=" ${bioDetails.recognitions}"
                        class="col-sm-12 col-md-6 cmp-bio__detail--recognitions">
                        <div class="col-sm-12 col-md-10">
                            <div class="cmp-bio__detail--achievements--name">
                                ${'nylim.recognitions' @ i18n}</div>
                            <div class="cmp-bio__detail--achievements--info">
                                ${bioDetails.recognitions
                                @context='html'}</div>
                        </div>
                    </div>
                    <div data-sly-test="${bioDetails.affiliations}"
                        class="col-sm-12 col-md-6 cmp-bio__detail--affiliations">
                        <div class="col-sm-12 col-md-10">
                            <div class="cmp-bio__detail--achievements--name">
                                ${'nylim.affiliations' @ i18n}</div>
                            <div class="cmp-bio__detail--achievements--info">
                                ${bioDetails.affiliations
                                @context='html'}</div>
                        </div>
                    </div>
                </div>
                <div class="row cmp-bio__see-link">
                    <a class="cmp-bio__see-more">${'foundation.disclosure.seemore' @ i18n}<i class="icon-down-arrow"
                            aria-hidden="true"></i></a>
                    <a class="cmp-bio__see-less">${'foundation.disclosure.seeless' @ i18n}<i class="icon-up-arrow"
                            aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
