<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.bioPath, classAppend='cmp-pm-profile-placeholder'}" />
<div data-sly-test="${properties.bioPath}" class="cmp-pm-profile">
    <div class="card" data-sly-use.profileResourceModel="${'com.nyl.foundation.models.ResourceModel' @resourcePath=properties.bioPath, 
         appendPath='jcr:content/data/master'}" data-sly-set.profileDetails="${profileResourceModel.properties}"
        data-sly-test="${profileDetails.firstName || profileDetails.lastName}">
        <div class="container cmp-pm-profile__container">
            <div class="row no-gutters">
                <div data-sly-set.fullName="${profileDetails.firstName} ${profileDetails.lastName}${'core.pmProfile.apostropheS' @ i18n}"
                    class="col-md-6 cmp-pm-profile__headings">
                    <div class="cmp-pm-profile__headings--name">
                        <span data-sly-unwrap="${profileDetails.firstName}">${profileDetails.firstName}</span><span
                            data-sly-test="${profileDetails.lastName}"
                            data-sly-unwrap>&nbsp;${profileDetails.lastName}</span><span
                            data-sly-test="${profileDetails.suffix}"
                            data-sly-unwrap>,&nbsp;${profileDetails.suffix}</span>
                    </div>
                    <div data-sly-test="${profileDetails.title1}" class="cmp-pm-profile__headings--title">
                        <span>${profileDetails.title1}</span><span data-sly-test="${profileDetails.title2}"
                            data-sly-unwrap>,&nbsp;${profileDetails.title2}</span><span
                            data-sly-test="${profileDetails.title3}"
                            data-sly-unwrap>,&nbsp;${profileDetails.title3}</span><span
                            data-sly-test="${profileDetails.title4}"
                            data-sly-unwrap>,&nbsp;${profileDetails.title4}</span>
                    </div>
                    <div data-sly-test="${profileDetails.boutiqueLinkText}" class="cmp-pm-profile__headings--boutique">
                        <a href="${profileDetails.boutiqueLinkUrl}" title="${profileDetails.boutiqueLinkTitle}"
                            target="${profileDetails.boutiqueLinkBehavior}"
                            data-sly-test="${profileDetails.boutiqueLinkUrl}">
                            ${profileDetails.boutiqueLinkText}
                            <i data-sly-test="${profileDetails.boutiqueLinkUrl}" class="cmp-pm-profile__icon--boutique"
                                aria-hidden="true"></i>
                        </a>
                        <span data-sly-test="${!profileDetails.boutiqueLinkUrl}">
                            ${profileDetails.boutiqueLinkText}</span>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 col-lg-4 col-sm-6 col-6 offset-md-1 cmp-pm-profile__image--section">
                    <sly data-sly-test="${profileDetails.image}"
                        data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                        data-sly-call="${image.imageTemplate @ componentName='bio', imagePath=profileDetails.image}">
                    </sly>
                </div>
            </div>
            <div class="row no-gutters hide-for-large">
                <div class="col-md-4 col-sm-12 cmp-pm-profile__social-share"
                    data-sly-call="${socialLinks @ twitterLink=profileDetails.twitterLink, linkedinLink=profileDetails.linkedinLink, fullName=fullName }">
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-6 col-sm-12 cmp-pm-profile__detail">
            <div data-sly-test="${profileDetails.bio}" class="cmp-pm-profile__detail--text">
                ${profileDetails.bio @context='html'}
            </div>
            <div data-sly-test="${profileDetails.recognitions || profileDetails.affiliations}"
                class="row cmp-pm-profile__detail--achievements">
                <div data-sly-test="${profileDetails.recognitions}"
                    class="col-sm-12 col-md-6 cmp-pm-profile__detail--recognitions">
                    <div class="cmp-pm-profile__detail--achievements--name">
                        ${'core.pmProfile.recognitions' @ i18n}</div>
                    <div class="cmp-pm-profile__detail--achievements--info">
                        ${profileDetails.recognitions
                        @context='html'}</div>
                </div>
                <div data-sly-test="${profileDetails.affiliations}"
                    class="col-sm-12 col-md-6 cmp-pm-profile__detail--affiliations">
                    <div class="cmp-pm-profile__detail--achievements--name">
                        ${'core.pmProfile.affiliations' @ i18n}</div>
                    <div class="cmp-pm-profile__detail--achievements--info">
                        ${profileDetails.affiliations
                        @context='html'}</div>
                </div>
            </div>
        </div>
        <div data-sly-test="${profileDetails.linkedinLink || profileDetails.twitterLink}"
            class="col-md-4 col-sm-12 offset-md-1 cmp-pm-profile__social-share hide-for-small"
            data-sly-call="${socialLinks @ twitterLink=profileDetails.twitterLink, linkedinLink=profileDetails.linkedinLink, fullName=fullName }">
        </div>
    </div>
</div>
<template data-sly-template.socialLinks="${ @ twitterLink,linkedinLink,fullName}">
    <ul>
        <li>
            <div data-sly-test="${twitterLink}">
                <a title="${fullName} ${'core.pmProfile.twitter' @ i18n} ${'core.pmProfile.account' @ i18n}"
                    class="cmp-pm-profile__social-share--twitter" href="${twitterLink}" target="_blank">
                    <i class="cmp-pm-profile__social-share--icon--twitter" aria-hidden="true"></i>
                </a>
            </div>
        </li>
        <li>
            <div data-sly-test="${linkedinLink}">
                <a title="${fullName} ${'core.pmProfile.linkedin' @ i18n} ${'core.pmProfile.account' @ i18n}"
                    class="cmp-pm-profile__social-share--linkedin" href="${linkedinLink}" target="_blank">
                    <i class="cmp-pm-profile__social-share--icon--linkedin" aria-hidden="true"></i>
                </a>
            </div>
        </li>
    </ul>
</template>
