@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file + '.eot');
        src: url($font-file + '.eot?#iefix') format('embedded-opentype'), url($font-file + '.woff2') format('woff2'),
            url($font-file + '.woff') format('woff'), url($font-file + '.ttf') format('truetype'),
            url($font-file + '.svg#' + font-file + '-Normal') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: $font-family;
        src: url($font-file + '-Medium.eot');
        src: url($font-file + '-Medium.eot?#iefix') format('embedded-opentype'),
            url($font-file + '-Medium.woff2') format('woff2'), url($font-file + '-Medium.woff') format('woff'),
            url($font-file + '-Medium.ttf') format('truetype'),
            url($font-file + '-Medium.svg#' + $font-file + '-Medium') format('svg');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: $font-family;
        src: url($font-file + '-Bold.eot');
        src: url($font-file + '-Bold.eot?#iefix') format('embedded-opentype'),
            url($font-file + '-Bold.woff2') format('woff2'), url($font-file + '-Bold.woff') format('woff'),
            url($font-file + '-Bold.ttf') format('truetype'),
            url($font-file + '-Bold.svg#' + $font-file + '-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: $font-family;
        src: url($font-file + '-Italic.eot');
        src: url($font-file + '-Italic.eot?#iefix') format('embedded-opentype'),
            url($font-file + '-Italic.woff2') format('woff2'), url($font-file + '-Italic.woff') format('woff'),
            url($font-file + '-Italic.ttf') format('truetype'),
            url($font-file + '-Italic.svg#' + $font-file + '-Italic') format('svg');
        font-weight: normal;
        font-style: italic;
    }
    @font-face {
        font-family: $font-family;
        src: url($font-file + '-MediumItalic.eot');
        src: url($font-file + '-MediumItalic.eot?#iefix') format('embedded-opentype'),
            url($font-file + '-MediumItalic.woff2') format('woff2'),
            url($font-file + '-MediumItalic.woff') format('woff'),
            url($font-file + '-MediumItalic.ttf') format('truetype'),
            url($font-file + '-MediumItalic.svg#' + $font-file + '-MediumItalic') format('svg');
        font-weight: 500;
        font-style: italic;
    }
    @font-face {
        font-family: $font-family;
        src: url($font-file + '-BoldItalic.eot');
        src: url($font-file + '-BoldItalic.eot?#iefix') format('embedded-opentype'),
            url($font-file + '-BoldItalic.woff2') format('woff2'), url($font-file + '-BoldItalic.woff') format('woff'),
            url($font-file + '-BoldItalic.ttf') format('truetype'),
            url($font-file + '-BoldItalic.svg#' + $font-file + '-BoldItalic') format('svg');
        font-weight: bold;
        font-style: italic;
    }
}

// REM conversions
@function calcRem($num) {
    $stripped: $num / ($num * 0 + 1);
    $rems: $stripped / 16;
    @return #{$rems}rem;
}

@mixin font-size($size) {
    $stripped: $size / ($size * 0 + 1);
    font-size: #{$stripped}px;
    font-size: calcRem($stripped);
}

@mixin line-height($line-height) {
    $stripped: $line-height / ($line-height * 0 + 1);
    line-height: #{$stripped}px;
    line-height: calcRem($stripped);
}

/* mixin to add vendor prefixes to transitions */
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

/* mixin to add vendor prefixes to transforms */
@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

/* cross browser opacity */
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin ie11only {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin edgeonly {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}
