.cmp-product-container {
    font-family: $font-family-helvetica-neue;
    color: $steel;
    &__title {
        font-weight: $font-weight-bold;
        @include font-size(36px);
        @include line-height(32px);
        letter-spacing: 0.72px;
        @include media-breakpoint-down(sm) {
            @include font-size(24px);
            @include line-height(30px);
        }
    }
    &__as-of-date {
        @include font-size(14px);
        @include line-height(20px);
        @include media-breakpoint-down(sm) {
            @include line-height(18px);
        }
    }
    &__past-rates {
        font-weight: $font-weight-bold;
        @include font-size(14px);
        @include line-height(20px);
    }
    &__date {
        padding: calcRem(10px) calcRem(0px);
    }
    &__cmp-past-rate {
        text-align: right;
        @include media-breakpoint-down(sm) {
            text-align: left;
        }
        @media print {
            display: none;
        }
    }
    &__past-rates-dropdown {
        @include media-breakpoint-down(sm) {
            min-width: calcRem(249px);
        }
        background: $light-steel-3;
        @include font-size(14px);
        @include line-height(20px);
        padding: calcRem(10px) calcRem(15px);
        border: none;
        color: $steel;
        min-width: calcRem(150px);
        min-height: calcRem(36px);
        text-align: left;
        &-menu {
            li {
                min-height: 30px;
                span {
                    padding-left: calcRem(15px);
                    vertical-align: text-top;
                    color: $steel;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
            li:hover {
                background-color: $light-steel-1;
            }
        }
    }
    &__past-rates-dropdown:focus {
        outline: 0;
        box-shadow: none;
    }
    &__past-rates-dropdown:hover {
        color: $steel;
    }
    .dropdown-toggle:after {
        float: right;
        margin-top: calcRem(7px);
        border-right: calcRem(6px) solid transparent;
        border-bottom: 0;
        border-left: calcRem(6px) solid transparent;
        border-top: calcRem(6px) solid;
    }
    .dropdown.show .dropdown-toggle:after {
        border-bottom: calcRem(6px) solid;
        border-top: none;
    }
    .dropdown-menu {
        min-width: calcRem(150px);
        border-radius: calcRem(2px);
        padding: 0;
        margin: 0;
        @include media-breakpoint-down(sm) {
            min-width: calcRem(249px);
        }
    }
    &__print {
        text-align: right;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
            display: none;
        }
        @media print {
            display: none;
        }
        a {
            display: flex;
            align-items: center;
            float: right;
        }
        &-text {
            font-weight: $font-weight-bold;
            @include font-size(14px);
            @include line-height(24px);
            text-decoration: underline;
            position: relative;
            top: calcRem(-5px);
        }
        &-text:hover {
            text-decoration: none;
        }
        &-icon {
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(20px);
                height: calcRem(20px);
                margin-right: calcRem(7px);
                background: url('../resources/images/printer.png') no-repeat center/contain;
            }
        }
    }
    &__list-group {
        list-style-type: none;
        overflow: auto;
        padding: 0px;
        top: 0;
        position: sticky;
        @include media-breakpoint-down(sm) {
            display: none;
        }
        li a {
            display: block;
            @include font-size(11px);
            @include line-height(14px);
            color: $steel;
            cursor: pointer;
            letter-spacing: 0.66px;
            padding: calcRem(13px) calcRem(13px) calcRem(13px) calcRem(10px);
            text-decoration: none;
            text-transform: uppercase;
            p {
                margin: 0;
                @include font-size(11px);
                @include line-height(14px);
            }
        }

        li a.active {
            background-color: $light-steel-1;
            color: $steel;
        }

        li a:hover:not(.active) {
            background-color: $light-steel-1;
            color: $steel;
        }
    }
    &__content-section {
        margin-top: 29px;
        @include media-breakpoint-down(sm) {
            margin-top: 18px;
        }
        > div:first-child {
            @media print {
                display: none;
            }
        }
        > div:last-child {
            @media print {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    &__product-section {
        padding-left: calcRem(30px);
        @include media-breakpoint-down(sm) {
            padding-left: 0;
        }
        @media print {
            padding-left: 0;
        }
    }
}
@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
}

.anchor-link-container__top-anchor-links {
    .cmp-product-container {
        &__list-group {
            @include media-breakpoint-down(md) {
                top: 60px;
            }
        }
    }
}
