<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.headline, classAppend='cmp-banner-detail-placeholder'}" />
<div data-sly-test="${properties.headline || properties.imagePath}" class="cmp-banner-detail">
    <div class="row row-eq-height">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 cmp-banner-detail__details">
            <h1>${properties.headline}</h1>
            <p class="h3" data-sly-test="${properties.subhead}">${properties.subhead}</p>
            <p class="--large" data-sly-test="${properties.description}">${properties.description @ context='html'}
            </p>
        </div>
        <div
            class="${properties.supportingText ? 'col-xl-4 col-lg-4 col-md-12 col-sm-12 cmp-banner-detail__section' : 'col-xl-4 col-lg-4 col-md-12 col-sm-12 cmp-banner-detail__noBorder'}">
            <sly data-sly-test="${properties.supportingText}">${properties.supportingText @ context='html'}</sly>
            <a data-sly-test="${properties.ctaLinkText}"
                data-sly-use.button="${'com.nyl.foundation.models.LinkModel' @ prefix='cta'}" href="${button.url}"
                title="${button.title}" target="${button.behavior}"> <span
                    class="nyl-button button--secondary cmp-banner-detail__button"> ${button.text}
                    <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg"
                        class="icon-cta-arrow" alt="">
                </span></a>
        </div>
    </div>
    <div data-sly-test="${properties.imagePath}" class="d-none d-lg-block">
        <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.imageTemplate @componentName='banner-detail', imagePath=properties.imagePath, imageAltText=properties.imageAltText,imgClass='mw-100'}">
        </sly>
    </div>
</div>
