// AEM Form Overrides
.aem-form-container #guideContainerForm {
    [class^='col-'] {
        padding-left: 15px;
        padding-right: 15px;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .guideFieldWidget {
        input[type='radio'],
        input[type='checkbox'] {
            width: 28px;
        }
    }
    .guideCheckBoxGroupItems .guideCheckBoxItem .guideFieldWidget,
    .guideRadioButtonGroupItems .guideRadioButtonItem .guideFieldWidget {
        float: left;
    }

    @import 'radios';
    @import 'checkboxes';
}
