// bootstrap override
.btn {
    background: transparent;
}

.nyl-button {
    font-family: $font-family-effra-pro;
    font-weight: $font-weight-medium;
    @include font-size(18px);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 14px calcRem(30px) 11px;
    height: auto;
    min-height: auto;
    color: $white;
    border-radius: calcRem(4px);
    background: $twilight-blue;
    border: 4px solid $twilight-blue;
    white-space: nowrap;
    line-height: 0;
    @include media-breakpoint-down(sm) {
        max-width: calc(100vw - 8px);
    }

    .nyl-button--icon-arrow {
        display: inline-block;
        vertical-align: sub;
        width: 19px;
        height: 17px;
        background-image: url('../resources/images/icon-cta-arrow--white.svg');
        background-repeat: no-repeat;
    }

    img,
    i {
        margin-left: calcRem(10px);
        line-height: calcRem(14px);
        @extend .icon-cta-arrow--white;
    }

    &:hover,
    &:focus {
        background: $dark-grey-blue;
        border: 4px solid $dark-grey-blue;
    }

    @include transition(all ease-in 0.15s);

    &.button--secondary {
        background: $white;
        border: 4px solid $twilight-blue;
        color: $twilight-blue;

        img,
        i {
            @extend .icon-cta-arrow--twilight-blue;
        }

        &:hover,
        &:focus {
            border: 4px solid $dark-grey-blue;
            color: $dark-grey-blue;

            img,
            i {
                @extend .icon-cta-arrow--dark-grey-blue;
            }
        }
    }

    &.button--transparent {
        background: transparent;
        border: 4px solid transparent;
        color: $black;
        padding: 0;

        &:hover,
        &:focus {
            background: transparent;
            color: $black;
        }
    }

    &.button--disabled {
        background: $dark-gray;
        border-color: $dark-gray;
        pointer-events: none;
    }

    &--icon-prepend {
        max-width: 35px;
        max-height: 35px;
        display: inline-block;
        vertical-align: middle;

        svg {
            max-width: 20px;
            max-height: 20px;
            margin: 0 5px;
        }
    }

    &--link-text {
        @include ie11only {
            vertical-align: text-bottom;
        }
    }
}

// AEM style system options
.button--secondary {
    .nyl-button {
        margin: $component-margin 0;
        background: $white;
        border: 4px solid $twilight-blue;
        color: $twilight-blue;

        img,
        i {
            @extend .icon-cta-arrow--twilight-blue;
        }

        .nyl-button--icon-arrow {
            background-image: url('../resources/images/icon-cta-arrow--dark-quartz.svg');
            background-repeat: no-repeat;
        }

        &:hover,
        &:focus {
            border: 4px solid $dark-grey-blue;
            color: $dark-grey-blue;

            img,
            i.nyl-button--icon-arrow {
                background-image: url('../resources/images/icon-cta-arrow--dark-grey.svg');
                background-repeat: no-repeat;
            }
        }
    }
}

.button--transparent {
    .nyl-button {
        padding: 0;
        background: transparent;
        border: 4px solid transparent;
        color: $black;

        img,
        i {
            @extend .icon-cta-arrow--black;
        }

        &:hover,
        &:focus {
            background: transparent;
            color: $black;
        }

        .nyl-button--icon-arrow {
            background-image: url('../resources/images/icon-cta-arrow--black.svg');
            background-repeat: no-repeat;
        }
    }
}

a span {
    text-decoration: none;

    &.nyl-button {
        &:focus {
            outline: 5px auto -webkit-focus-ring-color;
        }
    }
}

// select dropdown button
.dropDownList select:hover {
    background: url('../resources/images/Chevron-Down-Active.svg') calc(100% - 0.5rem) 50% / auto
            1rem no-repeat,
        rgba(255, 255, 255, 0.8);
}

.dropDownList select {
    background: url('../resources/images/Chevron-Down-Default.svg') calc(100% - 0.5rem) 50% /
            auto 1rem no-repeat,
        rgba(255, 255, 255, 0.5);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.dropDownList select::-ms-expand {
    display: none;
}