/* ::after Pseudo Element Selector */
.XfaCheckBox input[type='checkbox']:checked::after {
    background-color: #42b8fb;
    content: '\2714';
    color: #fff;
    border: none;
}

.validation-failure .XfaCheckBox input[type='checkbox'] {
    font-size: 18px;
    line-height: 27px;
    color: #d82313;
}

.XfaCheckBox input[type='checkbox'] {
    padding: 0;
    border-radius: 0px;
    /* CSS Override */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 28px;
    height: 28px;
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0;
    margin-right: 1px;
    float: left;
}

/* ::after Pseudo Element Selector */
.XfaCheckBox input[type='checkbox']::after {
    content: '';
    text-align: center;
    line-height: 28px;
    position: absolute;
    cursor: pointer;
    height: 28px;
    width: 28px;
    left: 0;
    top: 0;
    font-size: 18px;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
}

[data-disabled='true'] .XfaCheckBox input[type='checkbox'] {
    /* CSS Override */
    color: #666666;
}

/* ::after Pseudo Element Selector */
[data-disabled='true'] .XfaCheckBox input[type='checkbox']::after {
    background: #e9e8e8;
}
