/* brand colors */
.text {
    &__black {
        color: $black;
    }
    &__dark-grey {
        color: $dark-gray;
    }
    &__medium-salmon {
        color: $medium-salmon;
    }
    &__dark-salmon {
        color: $dark-salmon;
    }
    &__medium-twilight {
        color: $medium-twilight;
    }
    &__dark-twilight {
        color: $dark-twilight;
    }
    &__medium-dusk {
        color: $medium-dusk;
    }
    &__dark-dusk {
        color: $dark-dusk;
    }
    &__medium-rain {
        color: $medium-rain;
    }
    &__dark-rain {
        color: $dark-rain;
    }
    &__medium-palm {
        color: $medium-palm;
    }
    &__dark-palm {
        color: $dark-palm;
    }
    &__medium-gold {
        color: $medium-gold;
    }
    &__dark-gold {
        color: $dark-gold;
    }
    &__medium-sunset {
        color: $medium-sunset;
    }
    &__dark-sunset {
        color: $dark-sunset;
    }
    &__medium-quartz {
        color: $medium-quartz;
    }
    &__dark-quartz {
        color: $dark-quartz;
    }
    &__white {
        color: $white;
    }
}

.markerColor {
    color: $white;
}
