/* bootstrap override */
// form-control for smaller height input fields like meganav login & footer email subscribe
.form-control {
    color: $dark-gray;
    @extend .p;
    height: calcRem(50px);
    padding-left: calcRem(20px);
    padding-right: calcRem(20px);
    border-color: $medium-gray;
    border-radius: 4px;
    // form-control-lg for larger height input fields for forms
    &-lg {
        height: calcRem(70px);
        padding-left: calcRem(20px);
        padding-right: calcRem(20px);
        border-radius: 4px;
        @include media-breakpoint-down(sm) {
            height: calcRem(50px);
            padding-left: calcRem(10px);
            padding-right: calcRem(10px);
        }
    }
    &:focus {
        color: $black;
        border-color: $brand-blue;
        box-shadow: 0 0 0 calcRem(3px) $brand-blue;
    }
    &.is-invalid {
        box-shadow: 0 0 0 calcRem(3px) $error-red;
        &:focus {
            box-shadow: 0 0 0 calcRem(3px) $error-red;
        }
        ~ .invalid-feedback {
            margin-top: calcRem(8px); // renders as 5px (3 extra pixels to accommodate box-shadow)
            @extend .p;
        }
    }
    &.is-valid {
        ~ .valid-feedback {
            margin-top: calcRem(8px); // renders as 5px (3 extra pixels to accommodate box-shadow)
            @extend .p;
        }
    }
}
label {
    color: $dark-gray;
    margin-bottom: calcRem(5px);
}
.input-group > .input-group-append:not(:last-child) > .btn {
    border-radius: 0 4px 4px 0;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
