$bw-colors: (
    'black': $black,
    'white': $white,
);

$cta-arrow-colors: map-merge(
    $primary-colors,
    $dark-colors
);

@each $cta-arrow-color-name, $cta-arrow-color in $cta-arrow-colors {
    .icon-cta-arrow--#{$cta-arrow-color-name} {
        .icon-cta-arrow {
            path {
                &:nth-of-type(1) {
                    fill: $cta-arrow-color;
                }
                &:nth-of-type(2) {
                    stroke: $cta-arrow-color;
                }
            }
        }
    }
}

@each $icon-search-color-name, $cta-arrow-color in $cta-arrow-colors {
    .icon-search--#{$icon-search-color-name} {
        .icon-search {
            stroke: $cta-arrow-color;
        }
    }
}

@each $icon-plus-color-name, $bw-color in $bw-colors {
    .icon-plus--#{$icon-plus-color-name} {
        .icon-plus {
            fill: $bw-color;
        }
    }
}

@each $icon-minus-color-name, $bw-color in $bw-colors {
    .icon-minus--#{$icon-minus-color-name} {
        .icon-minus {
            fill: $bw-color;
        }
    }
}

@each $icon-hamburger-color-name, $bw-color in $bw-colors {
    .icon-hamburger--#{$icon-hamburger-color-name} {
        .icon-hamburger {
            fill: $bw-color;
        }
    }
}

@each $icon-close-color-name, $bw-color in $bw-colors {
    .icon-close--#{$icon-close-color-name} {
        .icon-close {
            fill: $bw-color;
        }
    }
}

// use medium color map in variables/_colors for quote icons
@each $icon-quote-color-name, $medium-color in $medium-colors {
    .icon-quote--#{$icon-quote-color-name} {
        .icon-quote {
            fill: $medium-color;
        }
    }
}
.icon-quote {
    @include media-breakpoint-down(sm) {
        svg {
            width: 32px;
            height: 24px;
        }
    }
}

@each $icon-caret-color-name, $bw-color in $bw-colors {
    .icon-caret--#{$icon-caret-color-name} {
        .icon-caret {
            stroke: $bw-color;
        }
    }
}
