.nyl-pagination {
    display: none;
    > * {
        display: flex;
        align-items: center;
    }
    p {
        margin-bottom: 0;
        padding: 0 calcRem(10px);
    }
    &__input {
        input {
            width: calcRem(60px);
            height: calcRem(40px);
            border: 2px solid $dark-quartz;
            text-align: center;
            padding: 0;
            border-radius: 0;
        }
    }
    .nyl-button {
        min-width: calcRem(40px);
        min-height: calcRem(40px);
        height: calcRem(40px);
        padding: 0;
        border-radius: 3px 0 0 3px;
        img {
            margin-left: 0;
            line-height: 0;
            transform: rotate(90deg);
        }
        &:last-of-type {
            border-radius: 0 3px 3px 0;
            img {
                transform: rotate(270deg);
            }
        }
    }
}
