/* af_guideContainer:af_radiobuttonwidget*/
.XfaCheckBox input[type='radio']:checked {
    /* CSS Override */
    background-color: $brand-blue;
}

/* ::after Pseudo Element Selector */
.XfaCheckBox input[type='radio']:checked::after {
    content: '';
    display: inline-block;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: $white;
    border: none;
}

.XfaCheckBox input[type='radio'] {
    float: none;
    border-radius: 15px;
    padding: 0;
    /* CSS Override */
    width: 28px;
    height: 28px;
    border: 1px solid $medium-gray;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

/* ::after Pseudo Element Selector */
.XfaCheckBox input[type='radio']::after {
    background: $white;
}

[data-disabled='true'] .XfaCheckBox input[type='radio'] {
    /* CSS Override */
    background-color: $medium-quartz;
}
