html {
    overflow: hidden;
    overflow-y: auto;
}
body {
    overflow: hidden;
}
html,
body {
    font-family: $font-family-effra-pro;
    color: $black;
    background-color: $white;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

a {
    @include transition(all 0.15s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

ol,
ul,
dl {
    padding-left: 0;
}

//Overall content width and full for spacing/margin
$max-grid-width: 1140px;
$content-padding: 15px;
$component-margin: 0.9375rem;

.responsivegrid {
    &.page {
        @include media-breakpoint-down(md) {
            position: relative;
        }

        max-width: $max-grid-width;

        @include media-breakpoint-up(lg) {
            margin: 0 auto 0;
        }
    }

    &.root {
        & > .aem-Grid > .responsivegrid.aem-GridColumn > .aem-Grid > .aem-GridColumn:not(.cug-container),
        .full-width > div[class^='cmp-'] > .aem-Grid > .aem-GridColumn:not(.cug-container),
        .cug-container .responsivegrid > .aem-Grid > .aem-GridColumn {
            @include media-breakpoint-down(sm) {
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
            }

            @include media-breakpoint-up(md) {
                border-right: 8px solid transparent;
                border-left: 8px solid transparent;
            }

            @include media-breakpoint-up(lg) {
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
            }
        }

        > .aem-Grid .aem-GridColumn {
            &.header,
            &.agent-breadcrumb,
            &.footer .cmp-footer,
            &.breadcrumb {
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
            }
            &.header,
            &.agent-breadcrumb,
            &.breadcrumb {
                border: none;
                float: none;
                width: auto;
            }
        }

        > .aem-Grid > .aem-GridColumn {
            &.video {
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
                border: none;
                float: none;
                width: auto;
            }
        }

        > .aem-Grid > .responsivegrid > .aem-Grid {
            position: relative;
        }
    }

    .full-width {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);

        > div[class^='cmp-'] {
            max-width: $max-grid-width;
            margin: auto;
            padding-top: calcRem(60px);
            padding-bottom: calcRem(60px);
        }
    }
}
%full-width {
    width: calc(100vw - 15px);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: calc(-50vw + 6px);
    margin-right: calc(-50vw + 6px);

    > *[class^='cmp-']:not(.cmp-contact-us-form--heading):not(.cmp-contact-us-form__wrapper):not(.cmp-subscription-center-form__title):not(.cmp-subscription-center-form__description):not(.cmp-product-profile__scroll-section) {
        max-width: $max-grid-width;
        margin: auto;
        width: 100%;
    }

    .full-width--device & {
        width: 100vw;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}
.cmp-margin {
    &-top {
        &--none > * {
            margin-top: calcRem(0) !important;
        }
        &--small > * {
            margin-top: calcRem(7.5px) !important;
        }
        &--medium > * {
            margin-top: calcRem(15px) !important;
        }
        &--large > * {
            margin-top: calcRem(30px) !important;
        }
    }
    &-bottom {
        &--none > * {
            margin-bottom: calcRem(0) !important;
        }
        &--small > * {
            margin-bottom: calcRem(7.5px) !important;
        }
        &--medium > * {
            margin-bottom: calcRem(15px) !important;
        }
        &--large > * {
            margin-bottom: calcRem(30px) !important;
        }
    }
}

.xf-content-height {
    margin: 0;
    min-height: unset;
}

.ie-object-fit {
    background-size: cover;
    background-position: top center;
    img {
        opacity: 0;
    }
}
