// typography utilities
.base-font,
%base-font {
    font-family: $font-family-effra-pro;
}

.alt-font,
%alt-font {
    font-family: $font-family-alda-pro;
}

.font-weight-light,
%font-weight-light {
    font-weight: $font-weight-light; // 300
}

.font-weight-regular,
%font-weight-regular {
    font-weight: $font-weight-regular; // 400
}

.font-weight-medium,
%font-weight-medium {
    font-weight: $font-weight-medium; // 500
}

.font-weight-bold,
%-font-weightbold,
%font-weight-bold {
    font-weight: $font-weight-bold; // 700
}

.italic,
%italic {
    font-style: $font-style-italic;
}

.-letter-spacing-large {
    letter-spacing: calcRem(3px);
}

// heading defaults
h1,
.h1,
h2,
.h2 {
    @extend %alt-font;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @extend %base-font;
}

h1,
.h1 {
    @include font-size(72px);
}

h2,
.h2 {
    @include font-size(48px);
    @include line-height(48px, 1.25);
}

h3,
.h3 {
    @extend %font-weight-medium;
    @include font-size(24px);
}

h4,
.h4 {
    @extend %font-weight-medium;
    @include font-size(18px);
}

h5,
.h5 {
    @include font-size(16px);
}

h6,
.h6 {
    @include font-size(14px);
}

@include media-breakpoint-down(sm) {
    h2,
    .h2 {
        @include font-size(36px);
        @include line-height(36px, 1.167);
    }

    h3,
    .h3 {
        @include font-size(22px);
    }
}

.text {
    &__tiny {
        @include font-size($font-size-tiny); // 11px
    }
    &__small {
        @include font-size($font-size-small); // 21px
    }
    &__xxSmall {
        @include font-size($font-size-xx-small); // 14px
    }
    &__xSmall {
        @include font-size($font-size-x-small); // 16px
    }
    &__medium {
        @include font-size($font-size-medium); // 24px
    }
    &__large {
        @include font-size($font-size-large); // 20px
    }
    &__xLarge {
        @include font-size($font-size-x-large); // 48px
    }
    &__xxLarge {
        @include font-size($font-size-xx-large); // 58px
    }
    &__huge {
        @include font-size($font-size-huge); // 72px
    }
    &__datapoint {
        @extend %alt-font;
        @include line-height(90px, 1);
        font-size: 85px;
    }
}

// default paragraph & link
p,
.p {
    @include font-size(18px);

    &.--large {
        @include font-size(20px);
    }
    a {
        text-decoration: underline;
    }
}

a {
    color: $black;
    font-size: inherit;
    line-height: inherit;
    &:hover {
        color: $brand-blue;
    }
    &.-card {
        text-decoration: none;
        font-weight: $font-weight-medium;
        i {
            margin-left: calcRem(10px);
        }
        &:hover {
            i {
                @extend .icon-cta-arrow--brand-blue;
            }
        }
    }
}

.quote,
.quote-highlight {
    @extend %alt-font;
    @include font-size(36px);

    @include media-breakpoint-down(sm) {
        @include font-size(30px);
        @include line-height(30px, 1.33);
    }
}
.quote-highlight {
    border-left: 4px solid $medium-quartz;
    padding: 35px 0 35px 40px;
    display: inline-block;
}
ul,
ol {
    padding-left: 20px;
    li {
        @include font-size(18px);
        padding-top: calcRem(5px);
        &:first-child {
            padding-top: 0;
        }
    }
}
/******* New classes For Typography End *****/
