.cmp-form-text-field {
    margin: 25px 4px;
    @include media-breakpoint-up(md) {
        margin: 30px 8px;
    }
    @include media-breakpoint-up(lg) {
        margin: 30px 15px;
    }
    &__label {
        font-weight: $font-weight-bold;
        font-size: calcRem(16px);
        line-height: calcRem(27px);
        color: $black;
        display: inline;
    }
    &__input {
        padding: calcRem(12px) calcRem(10px) calcRem(11px) calcRem(15px);
        border-radius: calcRem(5px);
        margin: calcRem(5px) calcRem(0px) calcRem(0px);
        border: 1px solid $medium-gray;
        background-color: $white;
        font-size: calcRem(18px);
        line-height: calcRem(27px);
        color: $dark-gray;
        width: 100%;
    }
    &__input[aria-invalid='true'] {
        border: 2px solid $error-red;
    }
    &__input[aria-invalid='false'] {
        border: 1px solid $medium-gray;
    }
    &__error-msg {
        color: $error-red;
        margin-top: calcRem(10px);
        margin-left: calcRem(2px);
        font-size: calcRem(10px);
        line-height: calcRem(15px);
        display: none;
    }
    input:focus::placeholder {
        color: transparent;
    }
    &__icon-tool-tip {
        width: calcRem(12px);
        height: calcRem(12px);
        margin: calcRem(1px) calcRem(2px) calcRem(2px) calcRem(10px);
    }
    .error-border {
        border: 2px solid $error-red;
    }
}
