<div class="cmp-email-subscribe">
    <div class="cmp-email-subscribe__eyebrow">SUBSCRIBE</div>
    <div class="cmp-email-subscribe__container">
        <div class="cmp-email-subscribe__content">
            <p class="cmp-email-subscribe__title">
                This is Title
            </p>
            <div class="cmp-email-subscribe__description">
                <p>This is Description </p>
            </div>
            <div class="cmp-email-subscribe__button">
                <form class="email-subscribe__form" data-subscribe-checkboxes='[{"code":"PC5","label":"L5"}]'
                    novalidate="">
                    <div class="cmp-email-subscribe__checkbox-area">
                        <div class="cmp-email-subscribe__button--checkbox">
                            <input class="cmp-email-subscribe__button--checkbox-input" id="email-check-box-3"
                                type="checkbox" aria-label="email-checkbox-3" name="email-checkbox-3" value="NYLEmail1">
                            <label for="email-check-box-3">Label1</label>
                        </div>
                    </div>
                    <div class="cmp-email-subscribe__button--input-area">
                        <label for="email-subscribe-input--533797408_2"
                            class="cmp-email-subscribe-input-label d-none">Email</label>
                        <input class="cmp-email-subscribe__button--input" type="email"
                            id="email-subscribe-input--533797408_2" data-subscribe-templateid="Template Two"
                            placeholder="Email address" data-subscribe-preferencecode="PCX" name="email-subscribe"
                            required="">
                        <button class="cmp-email-subscribe__button--arrow" type="submit">
                            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-rightarrow--white.svg"
                                class="cmp-email-subscribe__button-icon-arrow" alt="">
                            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                                class="cmp-email-subscribe__button-icon-spinner" alt="Loading icon">
                        </button>
                        <div class="cmp-email-subscribe__error-area">
                            <div class="cmp-email-subscribe__client-invalid cmp-email-subscribe__invalid">
                                Please enter valid email.
                            </div>
                            <div class="cmp-email-subscribe__server-invalid cmp-email-subscribe__invalid">
                                Please try again later.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="cmp-email-subscribe__success">
            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-check-filled.svg"
                class="cmp-email-subscribe__success--icon">
            <p>Thank you for subscribing!</p>
        </div>
        <div class="cmp-email-subscribe__image">
            <picture>
                <source media="(max-width: 575px)" srcset="/content/dam/nyl/image-20210820-143633.png">
                <source media="(max-width: 1023px)" srcset="/content/dam/nyl/image-20210820-143633.png">
                <img src="/content/dam/nyl/image-20210820-143633.png"
                    data-aem-asset-id="b12a605a-df94-403e-b826-9a4f23348a47" data-trackable="true" class="mw-100">
            </picture>
        </div>
    </div>
</div>
