$medium-steel: #11678d;
.cmp-banner-article {
    position: relative;
    @include media-breakpoint-up(md) {
        margin-left: calc(-50vw + 6px);
        margin-right: calc(-50vw + 6px);
        width: calc(100vw - 15px);
        left: 50%;
        right: 50%;
        .full-width--device & {
            width: 100vw;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }
    @extend %mobile-full-width;
    ul {
        padding-left: calcRem(0px);
    }

    &__color-overlay {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        background: rgba(66, 75, 108, 0.8);
        height: calcRem(120px);
        @include media-breakpoint-down(sm) {
            height: calcRem(77px);
        }
    }

    &__rule {
        margin-top: calcRem(95px);
        background: $white;
        height: calcRem(1px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(52px);
        }
    }

    padding-bottom: calcRem(0px);
    letter-spacing: 0;
    text-align: center;
    color: $white;
    &__tags {
        overflow: hidden;
        margin-top: calcRem(67px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(24px);
        }
        &-tag {
            display: inline;
            margin-right: calcRem(4px);
            &--style {
                height: calcRem(40px);
                display: inline-block;
                padding: calcRem(8px) calcRem(24px);
                margin-bottom: calcRem(4px);
            }
        }
        a,
        a:hover,
        a > span,
        a > span:hover {
            color: $white;
            text-decoration: none;
            font-family: $font-family-helvetica-neue;
            font-weight: $font-weight-regular;
            @include font-size(14px);
            @include line-height(24px);
            letter-spacing: calcRem(0px);
            text-align: center;
        }
        .cmp-banner-article {
            &--dark-salmon:hover {
                background: $medium-salmon;
            }

            &--dark-twilight:hover {
                background: $medium-twilight;
            }

            &--dark-dusk:hover {
                background: $medium-dusk;
            }

            &--dark-rain:hover {
                background: $medium-rain;
            }

            &--dark-palm:hover {
                background: $medium-palm;
            }

            &--dark-gold:hover {
                background: $medium-gold;
            }

            &--dark-sunset:hover {
                background: $medium-sunset;
            }
            &--steel:hover {
                background: $medium-steel;
            }
        }
    }

    &__eyebrow {
        margin-top: calcRem(36px);
        margin-bottom: calcRem(3px);
        overflow: hidden;
        &-value {
            display: inline;
            font-family: $font-family-helvetica-neue;
            font-weight: $font-weight-regular;
            @include font-size(14px);
            @include line-height(24px);
            letter-spacing: calcRem(1px);
            color: $steel;
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
                @include font-size(11px);
                @include line-height(14px);
                letter-spacing: calcRem(0.25px);
            }
        }

        &-value:not(:first-child)::before {
            content: ' • ';
        }

        @include media-breakpoint-down(sm) {
            margin-top: calcRem(27px);
            margin-bottom: calcRem(12px);
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: calcRem(48px);
        padding-bottom: calcRem(0px);
    }
    &__image-container {
        position: relative;
        display: flex;
        align-content: center;
        overflow: hidden;
        width: 100%;
        margin: auto;
        max-height: calcRem(480px);
        height: calcRem(480px);
        @include media-breakpoint-down(sm) {
            max-height: calcRem(225px);
            height: calcRem(225px);
        }
        img {
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -25%);
            min-width: 100vw;
            @include media-breakpoint-down(sm) {
                max-height: calcRem(225px);
                height: calcRem(225px);
            }
        }
        .img--position {
            position: fixed;
        }
    }
    &__wrapper {
        background: $white;
        z-index: 1;
        text-align: left;
        color: $black;
        top: calcRem(184px);
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        max-width: $max-grid-width;
        width: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        @include media-breakpoint-down(sm) {
            top: calcRem(69px);
            margin-top: calcRem(69px);
            width: calc(100% - 40px);
        }
        .dialog-box {
            @include media-breakpoint-down(sm) {
                padding-left: calcRem(20px);
                padding-right: calcRem(20px);
                top: calcRem(0px);
                min-height: calcRem(156px);
            }
            .last-element {
                margin-bottom: calcRem(45px);
                @include media-breakpoint-down(sm) {
                    margin-bottom: calcRem(16px);
                }
            }
        }

        .display-fullwidth {
            display: block;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .display-mobile {
            display: none;
            @include media-breakpoint-down(sm) {
                display: block;
            }
        }
    }
    &__headline {
        font-family: $font-family-alda;
        @include font-size(38px);
        @include line-height(46px);
        letter-spacing: 0;
        color: $steel;
        font-weight: $font-weight-regular;
        @include media-breakpoint-down(sm) {
            @include font-size(28px);
            @include line-height(32px);
        }
    }
    &__description {
        p {
            margin-bottom: 0;
            font-family: $font-family-helvetica-neue;
            font-weight: $font-weight-regular;
            @include font-size(18px);
            @include line-height(32px);
            margin-top: calcRem(39px);
            color: $steel;
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(24px);
                @include font-size(14px);
                @include line-height(20px);
            }
        }
    }

    &__button {
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        @include font-size(16px);
        @include line-height(24px);
        margin-top: calcRem(26px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(24px);
            letter-spacing: calcRem(0.25px);
            @include font-size(11px);
            @include line-height(14px);
            opacity: 0.9;
        }
    }

    &__social-share {
        margin-top: calcRem(24px);
    }

    //Tags COLORS
    @each $dark-color-name, $dark-color-value in $dark-colors {
        .cmp-banner-article--#{$dark-color-name} {
            color: $white;
            background: $dark-color-value;
        }
    }

    @each $color-name, $color-value in $dark-colors {
        &--#{$color-name} {
            .cmp-banner-article__color-overlay {
                background: $color-value;
            }
        }
    }

    //Tag Background color on hover
    @each $medium-color-name, $medium-color-value in $medium-colors {
        .cmp-banner-article--#{$medium-color-name}:hover {
            color: $white;
            background: $medium-color-value;
        }
    }
    &--steel {
        color: $white;
        background: $steel;
    }
}
