<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.title, classAppend='cmp-social-follow-placeholder'}" />
<div style>
    <!--[if mso | IE]>
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
            <tr>
                <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->
    <div style="background:#f5f5f5;background-color:#f5f5f5;margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
            style="background:#f5f5f5;background-color:#f5f5f5;width:100%;">
            <tbody>
                <tr>
                    <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                        <!--[if mso | IE]>
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="" width="600px">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
                                            <tr>
                                                <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                        <![endif]-->
                        <div style="margin:0px auto;max-width:600px;" data-sly-test="${properties.title}">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
                                            <!--[if mso | IE]>
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="" style="vertical-align:top;width:600px;">
                                            <![endif]-->
                                            <div class="mj-column-per-100 mj-outlook-group-fix"
                                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="vertical-align:top;" width="100%">
                                                    <tr>
                                                        <td align="center"
                                                            style="font-size:0px;padding:10px 15px;word-break:break-word;">
                                                            <div
                                                                style="font-family:'effra', Tahoma, sans-serif;font-size:16px;line-height:1.5;text-align:center;color:#171717;font-weight:bold">
                                                                ${properties.title}</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--[if mso | IE]>
                                                        </td>
                                                    </tr>
                                                </table>
                                            <![endif]-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--[if mso | IE]>
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>

                            <tr>
                                <td class="" width="600px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
                                        <tr>
                                            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                        <![endif]-->

                        <sly data-sly-list.parentNode="${resource.listChildren}">
                            <sly data-sly-test="${parentNode.name == 'socialFollow'}">
                                <div style="margin:0px auto;max-width:600px;">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                        style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td style="direction:ltr;font-size:0px;padding:0;text-align:center;">
                                                    <!--[if mso | IE]>
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td
                                                        align="center" class="social-follow-container-outlook" style="vertical-align:top;width:600px;"
                                                        >
                                            <![endif]-->
                                                    <div class="mj-column-per-100 mj-outlook-group-fix social-follow-container"
                                                        style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            role="presentation" style="vertical-align:top;" width="100%">

                                                            <tr>
                                                                <td align="center"
                                                                    style="font-size:0px;padding:0 15px;word-break:break-word;">
                                                                    <!--[if mso | IE]>
                                                                <table
                                                                    align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                                >
                                                                    <tr><![endif]-->
                                                                    <sly
                                                                        data-sly-list.socialFollow="${parentNode.listChildren}">
                                                                        <sly data-sly-test="${socialFollow.imageUrl}"
                                                                            data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ linkUrl=socialFollow.ctaLinkUrl}"
                                                                            data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel'@ componentName='email-social-follow', imagePath=socialFollow.imageUrl,
                                                                            imageAltText=socialFollow.imageAltText}">
                                                                            <!--[if mso | IE]> <td>
                                                            <![endif]-->
                                                                            <table align="center" border="0" cellpadding="0"
                                                                                cellspacing="0" role="presentation"
                                                                                style="float:none;display:inline-table;">
                                                                                <tr class="css-icon">
                                                                                    <td style="padding:10px 8px;">
                                                                                        <table border="0" cellpadding="0"
                                                                                            cellspacing="0"
                                                                                            role="presentation"
                                                                                            style="background:#171717;border-radius:25px;width:50px;">
                                                                                            <tr>
                                                                                                <td
                                                                                                    style="font-size:0;height:50px;vertical-align:middle;width:50px;">
                                                                                                    <a href="${linkModel.linkUrl}"
                                                                                                        title="${socialFollow.ctaLinkTitle}"
                                                                                                        target="_blank">
                                                                                                        <img alt="${imageModel.altText}"
                                                                                                            height="50"
                                                                                                            src="${imageModel.renditions['small'].imageUrl}"
                                                                                                            style="border-radius:25px;display:block;"
                                                                                                            width="50" />
                                                                                                    </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                            <!--[if mso | IE]>
                                                                        </td><![endif]-->
                                                                        </sly>
                                                                    </sly>
                                                                    <!--[if mso | IE]>
                                                                    </tr>
                                                                </table>
                                                            <![endif]-->
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                    <!--[if mso | IE]>
                                                        </td>
                                                    </tr>
                                                </table>
                                            <![endif]-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </sly>
                        </sly>
                        <!--[if mso | IE]>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        <![endif]-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]>
                </td>
            </tr>
        </table>
    <![endif]-->
</div>
