<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.imagePath, classAppend='cmp-banner-editorial-placeholder'}" />
<div data-sly-test="${properties.imagePath}" data-sly-unwrap="${properties.hidePeekUp}"
    class="cmp-banner-editorial--peakover">
    <div class="full-width cmp-banner-editorial">
        <section class="cmp-banner-editorial__container">
            <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                data-sly-call="${image.imageTemplate @ componentName='banner-editorial', imagePath=properties.imagePath, imageAltText=properties.imageAltText,imgClass='mw-100 w-100'}">
            </sly>
        </section>
    </div>
</div>
