.cmp-header {
    background: $white;
    border-bottom: 1px solid $medium-gray;
    position: relative;
    z-index: 1000;
    nav {
        z-index: 1000;
        .brand-logo,
        .navbar-toggler {
            @include transition(all 0.5s ease);
        }

        .brand-logo {
            height: calcRem(50px);
        }

        .navbar-brand {
            padding: 0;
        }

        .main-nav {
            margin: 0 -1rem;
            overflow-y: visible;
        }

        .-search,
        .-menu {
            &:not(.collapsed) {
                display: none;
            }
        }

        .-close {
            &.collapsed {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        nav.navbar {
            padding: 0;
            height: calcRem(120px);

            .brand-logo {
                height: calcRem(55px);
            }

            .container {
                max-width: 1140px;
            }

            &.scroll {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                z-index: 1030;
                padding: calcRem(3px) 0 calcRem(2px);
                border-bottom: none;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
                height: calcRem(80px);
                background: #fff;

                .brand-logo {
                    height: calcRem(45px);
                }

                &:hover {
                    color: $black;

                    &:after {
                        background: $black;
                    }
                }

                .mega-nav__items {
                    top: calcRem(80px);
                    border-top: 1px solid $medium-gray;
                }
            }

            // bootstrap override
            &.navbar-expand-lg {
                .navbar-nav .nav-link {
                    padding-right: 0;
                    padding-left: 0;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                }

                .toggler__search {
                    .navbar-toggler {
                        &.-search {
                            &.collapsed {
                                display: inline-flex;
                            }

                            &:not(.collapsed) {
                                display: none;
                            }
                        }

                        &.-close {
                            &:not(.collapsed) {
                                display: inline-flex;
                            }
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        nav {
            .collapse.show {
                display: flex;
                flex-direction: column;
            }

            .secondary-nav {
                order: 1;
            }

            .mega-nav {
                order: 2;
            }

            .main-nav {
                order: 3;
            }

            .container {
                max-width: none;
            }
        }
    }

    &--gold {
        &::after {
            width: 100%;
            content: '';
            display: block;
            background: linear-gradient(to right, $dark-gold-175, $medium-gold-175 50%, $dark-gold-175);
            height: 4px;
        }

        .cmp-header nav {
            border-bottom: none;
        }

        @include media-breakpoint-up(lg) {
            .mega-nav__items,
            .cmp-secondary-xf,
            .cmp-search {
                top: calcRem(124px);
            }

            &.scroll {
                &:after {
                    position: fixed;
                    height: calcRem(84px);
                    z-index: 3;
                    top: 0;
                    left: 0;
                }

                .mega-nav__items,
                .cmp-secondary-xf,
                .cmp-search {
                    top: calcRem(84px);
                }
            }
        }
    }

    &__icon {
        &--search {
            content: '';
            display: inline-block;
            width: calcRem(32px);
            height: calcRem(32px);
            background: url('../resources/images/icon-search--black.svg') no-repeat center/contain;
        }

        &--hamburger {
            content: '';
            display: inline-block;
            width: calcRem(32px);
            height: calcRem(20px);
            background: url('../resources/images/icon-hamburger--black.svg') no-repeat center/contain;
        }

        &--close,
        &--plus,
        &--minus {
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(24px);
                height: calcRem(24px);
            }
        }

        &--close {
            background: url('../resources/images/icon-close--black.svg') no-repeat center/contain;
            width: 32px;
            height: 24px;
            display: block;
        }

        &--plus {
            &:after {
                width: calcRem(18px);
                height: calcRem(18px);
                margin-right: calcRem(10px);
                margin-top: calcRem(10px);
                background: url('../resources/images/icon-plus--black.svg') no-repeat center/contain;
            }
        }

        &--minus {
            &:after {
                width: calcRem(18px);
                height: calcRem(18px);
                margin-right: calcRem(10px);
                margin-top: calcRem(10px);
                background: url('../resources/images/icon-minus--black.svg') no-repeat center/contain;
                @include transform(rotate(180deg));
            }
        }
    }
}

.cta_link--mobile {
    display: none !important;
}

nav [id^='megamenu'] .page {
    width: 100%;
}
