//LOGIN PANEL - MEGA NAV
.cmp-secondary-xf {
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    background: $white;
    z-index: 9;
    @include media-breakpoint-up(lg) {
        position: fixed;
        left: 0;
        top: calcRem(120px);
        transition: all 0.5s ease;
        &.sticky {
            top: calcRem(80px);
        }
    }
    .container {
        @include media-breakpoint-up(lg) {
            padding-top: 3%;
            padding-bottom: 3%;
        }
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }
    .cmp-parsys2 {
        .col {
            @include media-breakpoint-down(md) {
                flex-basis: auto !important;
            }
            &:first-child {
                @include media-breakpoint-down(md) {
                    .row {
                        margin: 0;
                        display: block !important;
                        width: 100%;
                    }
                }
            }
            &:last-child {
                border-left:1px solid $medium-gray;
                flex-wrap: wrap;
                @include media-breakpoint-up(xl) {
                    margin-left:10px;
                }
                @include media-breakpoint-down(md) {
                    border-left:0;
                    margin-top: 30px;
                    border-top:1px solid $medium-gray;
                    padding-top:20px;
                }
                > div {
                    @include media-breakpoint-down(md) {
                        display: block;
                        width: 100%;
                        flex-basis: auto;
                    }
                    @include media-breakpoint-up(md) {
                        width: 50%;
                    }

                }
                .cmp-rte {
                    @include media-breakpoint-up(xl) {
                        padding-left:20px;
                    }

                    ul {
                        padding-left: 0;
                        li {
                            list-style-type: none;
                            padding: 0.5625rem 0;
                            font-size: 1rem;
                            line-height: 1.25rem;
                            a {
                                color: $dark-gray;
                                &:hover {
                                    color: $brand-blue;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
    &.sticky {
        @include media-breakpoint-down(md) {
            padding-top: 3%;
        }
    }
}

//LOGIN COMPONENT
.cmp-login {
    width: 100%;
    line-height: 1.5;
    a {
        text-decoration: underline;
    }
    form {
        width:100%;
        margin-top: 40px;
        a {
            margin-left:25%;
            @include media-breakpoint-up(xl) {
                margin-left:28%;
            }
            @include media-breakpoint-down(md) {
                display: block;
                width: 100%;
                margin-left: 0;
            }
        }
        legend {
            display: none;
        }
        label {
            margin-bottom: .3125rem;
            &.cmp-login-form__label{
                display:none;
            }
        }
        input {
            border: 1px solid #CDCDCD;
            border-radius: 4px;
            padding: .65rem;
            margin-bottom: 10px;
            font-family: $font-family-effra-pro;
            font-size: 18px;
            color: $dark-gray;
            max-width:210px;
            height: unset;
            @include media-breakpoint-down(md) {
                width: 100%;
                max-width: none;
            }
            &.remember-me {
                @include media-breakpoint-down(md) {
                    display: inline;
                    width:auto;
                }
            }
            @include media-breakpoint-up(xl) {
                &[type='text'], &[type='password'] {
                    min-width: 250px;
                }
            }
        }
    }
}
