.mega-nav,
.secondary-nav {
    border-top: 1px solid $medium-gray;
    width: 100%;
    margin-bottom: 0;
    background: $white;

    @include media-breakpoint-up(lg) {
        border-top: none;
        background: unset;
        width: auto;

        .nav-item {
            // meganav active state
            &:not(.collapsed) {
                .h4,
                .p {
                    &:after {
                        content: '';
                        position: absolute;
                        height: 4px;
                        background: $medium-gray;
                        border-radius: 2px;
                        bottom: -12px;
                        left: 0;
                        right: 0;
                    }
                }
            }

            .h4,
            .p {
                position: relative;
                @include transition(all 0.15s ease-in-out);
                // custom hover underline
                &:after {
                    content: '';
                    position: absolute;
                    height: 4px;
                    background: $medium-gray;
                    border-radius: 2px;
                    bottom: -12px;
                    left: 0;
                    right: 100%;
                    @include transition(right 0.2s ease);
                }

                &:hover {
                    &:after {
                        right: 0;
                    }
                }
            }
        }
    }

    .nav-item {
        .h4,
        .p {
            text-decoration: none;
            margin-bottom: 0;

            &:hover {
                color: $black;
            }
        }

        .p {
            color: $dark-gray;

            &:hover {
                color: $dark-gray;
            }
        }
    }
}

.mega-nav {
    .nav-item {
        padding: 1.5rem 1rem;
        border-top: 1px solid $medium-gray;
        cursor: pointer;
        &:focus {
            outline: $black solid 2px ;
            @include media-breakpoint-down(sm) {
                outline: none;
            }
        }
        &:first-child {
            border: none;
        }
    }

    &__items {
        background: $white;
    }

    @include media-breakpoint-up(lg) {
        .nav-item {
            padding: 0 1rem;
            border: none;

            &:first-child {
                padding-left: 2rem;
            }
        }

        &__items {
            position: absolute;
            top: calcRem(120px);
            left: 0;
            width: 100%;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
            @include transition(all 0.5s ease);
            .container {
                padding: 2%;
            }
        }
    }

    .cmp-parsys1,
    .cmp-parsys2 {
        > div {
            // this is the AEM decorator wrapper
            flex: 1 1 0;
            @extend .cmp-link-list;
        }
        @include media-breakpoint-down(sm) {
            .col,
            > div {
                // this is the AEM decorator wrapper
                padding-left: 0;
                width: 100%;
                flex-basis: auto;
            }
        }
    }

    .cmp-parsys1 {
        flex-wrap: wrap;
        > div {
            // this is the AEM decorator wrapper
            padding: calcRem(10px);
        }
        @include media-breakpoint-only(md) {
            > div {
                // this is the AEM decorator wrapper
                flex: initial;
                width: 50%;
            }
        }
        @include media-breakpoint-up(lg) {
            > div {
                // this is the AEM decorator wrapper
                min-width: 194px;
                flex-basis: 0;
                flex-grow: 1;
                &:nth-of-type(n + 6) {
                    &:last-child {
                        margin-right: auto;
                    }
                }
                &:first-child:nth-last-child(n + 5),
                &:first-child:nth-last-child(n + 5) ~ div {
                    max-width: 20%;
                    min-width: 20%;
                }
            }
        }
    }

    .cmp-parsys2 {
        .col {
            &:first-child {
                display: block !important;
                > div {
                    min-width: 100%;
                }
            }
            &:last-child {
                flex-wrap: wrap;
                padding-left: 15px;
            }
            @include media-breakpoint-down(sm) {
                &:first-child {
                    display: none !important;
                }
                > div {
                    width: 100%;
                    flex-basis: auto;
                }
            }
        }

        @include media-breakpoint-up(md) {
            .col {
                &:last-child {
                    border-left: 1px solid $medium-gray;
                    > div {
                        &:first-child:nth-last-child(n + 1),
                        &:first-child:nth-last-child(n + 1) ~ div {
                            max-width: 50%;
                            min-width: 50%;
                        }
                    }
                }
            }
            > div {
                min-width: 50%;
            }
        }

        @include media-breakpoint-only(md) {
            margin: 0 0 3.125rem;

            .col {
                &:first-child {
                    flex-basis: auto !important;
                    padding-left: 0;

                    > div {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    border-left: none;
                    padding-left: 0;
                }
                > div {
                    min-width: 320px;
                }
            }
        }
    }
}

.secondary-nav {
    padding: calcRem(10px) 0;
    margin-top: 0.5rem;

    .nav-item {
        padding: calcRem(10px) 1rem;
    }

    @include media-breakpoint-up(lg) {
        padding: 0;
        margin-top: 0;

        .nav-item {
            &:last-child {
                padding-right: 2rem;
            }
        }
    }
}
