<div>
    <div class="cmp-media-player">
        <div style="position: relative; display: block; max-width: 100%;">
            <div style="padding-top: 56.25%;">
                <video-js id="HGO4GsYLns" data-account="70943156001" data-player="HGO4GsYLns"
                    data-video-id="6044437952001" data-playlist-id="" data-embed="default" data-application-id=""
                    preload="metadata" controls class="vjs-fluid"
                    style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                    <video tabindex="-1" role="application"
                        style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"
                        class="vjs-tech" preload="metadata" data-application-id="" data-embed="default"
                        data-playlist-id="" data-video-id="6044437952001" data-player="HGO4GsYLns"
                        data-account="70943156001" id="HGO4GsYLns_html5_api" aria-labelledby="vjs-dock-title-1"
                        aria-describedby="vjs-dock-description-2"
                        poster="https://cf-images.us-east-1.prod.boltdns.net/v1/static/70943156001/2d44ec7e-03d2-48af-9c13-e57ca9ce5ee1/763c39b1-387b-4f29-bea8-3496f4bc5c3a/1280x720/match/image.jpg"
                        src="blob:http://localhost:8080/ed720caf-0fe0-4bc5-b58b-9b29fd76ee35"></video>
                </video-js>
            </div>
        </div>
        <script src="//players.brightcove.net/70943156001/HGO4GsYLns_default/index.min.js">
        </script>
    </div>

    <div class="cmp-media-player">
        <div style="position: relative; display: block; max-width: 100%;">
            <div style="padding-top: 70.3125%;">
                <video-js id="Tnj0lKYbw" data-account="70943156001" data-player="Tnj0lKYbw" data-video-id=""
                    data-playlist-id="3250706701001" data-embed="default" data-application-id="" preload="metadata"
                    controls class="vjs-fluid"
                    style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                    <video tabindex="-1" role="application"
                        style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"
                        class="vjs-tech" preload="metadata" data-application-id="" data-embed="default"
                        data-playlist-id="3250706701001" data-video-id="" data-player="Tnj0lKYbw"
                        data-account="70943156001" id="Tnj0lKYbw_html5_api" aria-labelledby="vjs-dock-title-1"
                        aria-describedby="vjs-dock-description-2"
                        poster="http://f1.media.brightcove.com/8/70943156001/70943156001_3255443625001_vs-530cbd54e4b0e449c825e2ce-782203293001.jpg?pubId=70943156001&amp;videoId=3255342384001"
                        src="blob:http://localhost:8080/2d617e4a-7ad7-4390-9f4f-fe20d36b3d94"></video>
                </video-js>
            </div>
        </div>
        <script src="//players.brightcove.net/70943156001/Tnj0lKYbw_default/index.min.js">
        </script>
        <div class="vjs-playlist"></div>
    </div>
</div>
