<div class="cmp-infographic row cq-dd-image">
    <div class="cmp-infographic__large cmp-infographic__modal col-12" data-modalid="#infographic-modal--259678006_8">
        <i class="cmp-infographic__modal-expand--icon" aria-hidden="true"></i>
        <picture>
            <source media="(max-width: 576px)"
                srcset="https://assets.newyorklife.com/is/image/newyorklifeDev/Lighthouse%20large-w575-h166">
            <source media="(max-width: 768px)"
                srcset="https://assets.newyorklife.com/is/image/newyorklifeDev/Lighthouse%20large-w767-h222">
            <source media="(max-width: 992px)"
                srcset="https://assets.newyorklife.com/is/image/newyorklifeDev/Lighthouse%20large-w961-h278">
            <source media="(max-width: 1200px)"
                srcset="https://assets.newyorklife.com/is/image/newyorklifeDev/Lighthouse%20large-w1110-h320">


            <img src="https://assets.newyorklife.com/is/image/newyorklifeDev/Lighthouse%20large-w1110-h320"
                alt="Info Alt Text" class="mw-100"
                usemap="#/content/annuities/us/en/qa/qa-automation/infographic-anaylitics/jcr:content/root/responsivegrid_857432135/infographic-259678006_8"
                rel="noopener">
            <map
                name="/content/annuities/us/en/qa/qa-automation/infographic-anaylitics/jcr:content/root/responsivegrid_857432135/infographic-259678006_8">
                <area shape="rect" coords="629.037,119.00800000000001,684.981,170.016"
                    href="/content/annuities/us/en/qa/qa-automation/linklist2.html" target="_blank" alt="Rahul"
                    title="Rahul" data-cmp-relcoords="0.5667,0.3719,0.6171,0.5313">

                <area shape="rect" coords="198.024,94.016,248.973,144.992"
                    href="/content/annuities/us/en/qa/qa-automation/button.html" target="_blank" alt="shreyas"
                    title="shreyas" data-cmp-relcoords="0.1784,0.2938,0.2243,0.4531">
            </map>

        </picture>
    </div>
    <div class="modal fade show" id="infographic-modal--259678006_8" tabindex="-1" role="dialog" aria-hidden="true">
        <a class="close" data-dismiss="modal" aria-label="Close">
            <i class="cmp-infographic__modal-close" aria-hidden="true"></i>
        </a>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <picture>
                        <source media="(max-width: 576px)"
                            srcset="https://assets.newyorklife.com/is/image/newyorklifeDev/Lighthouse%20large-w575-h166">
                        <source media="(max-width: 768px)"
                            srcset="https://assets.newyorklife.com/is/image/newyorklifeDev/Lighthouse%20large-w767-h222">


                        <img src="https://assets.newyorklife.com/is/image/newyorklifeDev/Lighthouse%20large-w767-h222"
                            alt="Info Alt Text"
                            usemap="#/content/annuities/us/en/qa/qa-automation/infographic-anaylitics/jcr:content/root/responsivegrid_857432135/infographic--259678006_8"
                            rel="noopener">
                        <map
                            name="/content/annuities/us/en/qa/qa-automation/infographic-anaylitics/jcr:content/root/responsivegrid_857432135/infographic--259678006_8">
                            <area shape="rect" coords="629,119,685,170"
                                href="/content/annuities/us/en/qa/qa-automation/linklist2.html" target="_blank"
                                alt="Rahul" title="Rahul" data-cmp-relcoords="0.5667,0.3719,0.6171,0.5313">

                            <area shape="rect" coords="198,94,249,145"
                                href="/content/annuities/us/en/qa/qa-automation/button.html" target="_blank"
                                alt="shreyas" title="shreyas" data-cmp-relcoords="0.1784,0.2938,0.2243,0.4531">
                        </map>

                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
