<script data-sly-use.model="${'com.nyl.foundation.models.BreadcrumbStructuredDataModel' }" type="application/ld+json">
    ${model.breadcrumbListStructureData @ context='unsafe'}
</script>
<sly data-sly-use.marketerNumberModel="com.nyl.nylcom.models.agentweb.MarketerNumberModel">
    <div data-marketer-number="${marketerNumberModel.marketerNumber}"></div>
</sly>
