<div data-sly-test="${pageProperties.redirectPath && wcmmode.edit}"
    data-sly-use.redirectModel="${'com.nyl.foundation.models.RedirectPageModel'}" style="color: red">
    This page redirects to <a href=${redirectModel.getRedirectHint}
        style="color: red"><u>${redirectModel.getRedirectHintLabel}</u></a> <span> (${pageProperties.redirectType
        ? pageProperties.redirectType : '301'})</span>
</div>
<div id="page-analytics" data-sly-use.analytics="com.nyl.foundation.models.AnalyticsModel"
    data-page-analytics="${analytics.pageAttributes}"></div>
<sly data-sly-include="parsys-include.html" />
<sly data-sly-test="${inheritedPageProperties.XFInclusion}"
    data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
    data-sly-call="${xfIncludeTemplate.include @ path=inheritedPageProperties.XFInclusion}"></sly>
