<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-include="media-player-script.html" />
    <sly data-sly-call="${clientLib.js @ categories='nyl-foundation.global'}" />
    
</sly>
<script async defer src="${mapConfigModel.apiUrl}"
    data-sly-use.mapConfigModel="${'com.nyl.nylcom.models.agentweb.MapConfigModel'}"
    data-sly-test="${mapConfigModel.isIncludeApi}"></script>
