<sly data-sly-use.redirectModel="${'com.nyl.foundation.models.RedirectPageModel'}" />
<sly data-sly-include="custom-clientlibs.html" />
<link rel="canonical" href="${canonicalUrlModel.getCanonicalUrl}"
    data-sly-use.canonicalUrlModel="com.nyl.foundation.models.CanonicalUrlModel" />
<link rel="icon" type="image/x-icon" href="${inheritedPageProperties.favicon}"
    data-sly-test="${inheritedPageProperties.favicon}" />
<meta name="analytics-pagename" content="${analytics.pagePath}"
    data-sly-use.analytics="com.nyl.foundation.models.AnalyticsModel" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="nofollow, noindex" data-sly-test="${pageProperties.noFollow && pageProperties.noIndex}" />
<meta name="robots" content="noindex" data-sly-test="${pageProperties.noIndex && !pageProperties.noFollow}" />
<meta name="robots" content="nofollow" data-sly-test="${!pageProperties.noIndex && pageProperties.noFollow}" />
<sly data-sly-test="${pageProperties.enableSiteVerificationCodes}">
    <meta name="google-site-verification"
        content="${caconfig['com.nyl.foundation.caconfigs.SiteVerificationConfig'].googleCode}"
        data-sly-test="${caconfig['com.nyl.foundation.caconfigs.SiteVerificationConfig'].googleCode}" />
    <meta name="google-site-verification"
        content="${caconfig['com.nyl.foundation.caconfigs.SiteVerificationConfig'].secondaryGoogleCode}"
        data-sly-test="${caconfig['com.nyl.foundation.caconfigs.SiteVerificationConfig'].secondaryGoogleCode}" />
    <meta name="msvalidate.01" content="${caconfig['com.nyl.foundation.caconfigs.SiteVerificationConfig'].bingCode}"
        data-sly-test="${caconfig['com.nyl.foundation.caconfigs.SiteVerificationConfig'].bingCode}" />
    <meta name="p:domain_verify"
        content="${caconfig['com.nyl.foundation.caconfigs.SiteVerificationConfig'].pinterestCode}"
        data-sly-test="${caconfig['com.nyl.foundation.caconfigs.SiteVerificationConfig'].pinterestCode}" />
</sly>
<sly data-sly-use.facetData="com.nyl.foundation.models.FacetMetadataModel" data-sly-list.facet="${facetData.facets}">
    <meta name="${facet.metaName}" content="${facet.valuesString}" />
</sly>
<meta property="og:type" content="website" />
<meta property="og:url" content="${urlModel.getCanonicalUrl @ context ='uri'}"
    data-sly-use.urlModel="${'com.nyl.foundation.models.CanonicalUrlModel'}" />
<sly data-sly-include="metadata.html" />
<meta name="smru-bates" content="${pageProperties.smruBates}" data-sly-test="${pageProperties.smruBates}" />
<sly data-sly-test="${caconfig['com.nyl.foundation.caconfigs.AsyncLoadConfig'].enabled}"
    data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='nyl.analytics.asynclaunch'}" />
</sly>
<!--/* Include Context Hub */-->
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}" />
<sly data-sly-use.appDynamicsModel="${'com.nyl.foundation.models.AppDynamicsModel'}" data-sly-test="${appDynamicsModel.appKey}">
    <script charset="UTF-8" type="text/javascript">
        window["adrum-start-time"] = new Date().getTime();
        (function (config) {
            config.appKey = "${appDynamicsModel.appKey @ context='text'}";
            config.adrumExtUrlHttp = "http://cdn.appdynamics.com";
            config.adrumExtUrlHttps = "https://cdn.appdynamics.com";
            config.beaconUrlHttp = "http://pdx-col.eum-appdynamics.com";
            config.beaconUrlHttps = "https://pdx-col.eum-appdynamics.com";
            config.useHTTPSAlways = true;
            config.resTiming = { "bufSize": 200, "clearResTimingOnBeaconSend": true };
            config.maxUrlLength = 512;
        })(window["adrum-config"] || (window["adrum-config"] = {}));
    </script>
    <script src="//cdn.appdynamics.com/adrum/adrum-latest.js"></script>
</sly>
