<sly data-sly-use.requestAttributes="${'com.nyl.foundation.models.RequestAttributeModel'}"
    data-sly-use.mediaPlayerModel="${'com.nyl.foundation.models.MediaPlayerModel'}"
    data-sly-test="${requestAttributes.attributes.video || requestAttributes.attributes.playlist || mediaPlayerModel.includeVideoLibrary}">
<script
    data-sly-test="${(requestAttributes.attributes.video && mediaPlayerModel.singlePlayerScript) || mediaPlayerModel.includeVideoLibrary}"
    type="text/javascript" src="${mediaPlayerModel.singlePlayerScript}"></script> <script
    data-sly-test="${(requestAttributes.attributes.playlist && mediaPlayerModel.playlistPlayerScript) || mediaPlayerModel.includeVideoLibrary}"
    type="text/javascript" src="${mediaPlayerModel.playlistPlayerScript}"></script> </sly>
