<sly
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='basepage', imagePath=pageProperties.ogImage}">
    <meta property="og:title" content="${pageProperties.ogTitle}" data-sly-test="${pageProperties.ogTitle}" />
    <meta property="og:description" content="${pageProperties.ogDescription}"
        data-sly-test="${pageProperties.ogDescription}" />
    <meta property="og:image"
        content="${imageModel.renditions['large'].imageUrl ? imageModel.renditions['large'].imageUrl : imageModel.renditions['desktop'].imageUrl}"
        data-sly-test="${imageModel.renditions['large'].imageUrl || imageModel.renditions['desktop'].imageUrl}" />
</sly>
<sly data-sly-include="twitter-metadata.html"></sly>
