<sly
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='basepage', imagePath=pageProperties.ogImage}">
    <meta name="twitter:card" content="summary_large_image" data-sly-test="${pageProperties.ogTitle}" />
    <meta property="og:image:alt" content="${imageModel.altText}" data-sly-test="${imageModel.altText}" />
    <meta property="twitter:image:alt" content="${imageModel.altText}"
        data-sly-test="${imageModel.altText && pageProperties.ogTitle}" />
</sly>
