<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.accordionTitle, classAppend='cmp-accordion-container-placeholder'}" />
<div class="cmp-accordion--expand-collapse">
    <div id="cmp-accordion-container-${resource.name}" class="cmp-accordion-container">
        <h2 data-sly-test="${properties.accordionTitle}" class="cmp-accordion-container__heading">
            ${properties.accordionTitle}
        </h2>
        <div data-sly-use.runmode="com.nyl.foundation.models.RunmodeModel" data-sly-unwrap="${runmode.publish}">
            <sly data-sly-resource="${'accordion-parsys' @resourceType='wcm/foundation/components/parsys' }" />
        </div>
    </div>
</div>
