.table {
    &.cq-Editable-dom {
        .cmp-table {
            .cmp-table__container__table {
                &.column-9,
                &.column-10 {
                    width: unset;
                    th,
                    td {
                        padding: 5px;
                    }
                }
                .cmp-text {
                    ol,
                    ul {
                        padding: 12px;
                    }
                    blockquote {
                        margin: 0px;
                    }
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: unset;
                    }
                }
            }
            &__container {
                overflow: unset;
                max-height: unset;
            }
        }
    }
}
