<div class="cmp-datatable">

    <div class="cmp-indexes__table">
        <div class="gradient-display"></div>
        <div class="gradient-display right-gradient"></div>

        <div class="ngx-datatable">
            <div class="sortable">
                <div class="datatable-header-cell-template-wrap">

                    <span class="heading-symbol">Symbol</span>

                    <span class="sort-btn"></span>
                </div>
            </div>
            <div class="cmp-indexes__table--cell-indexName datatable-body-cell sort-active"
                style="width: 220px; min-width: 50px; height: 80px;">
                <div class="datatable-body-cell-label" style="margin-left: 0px;">

                    <span>IQ Hedge Long/Short Index</span>

                </div>
            </div>
        </div>
    </div>
</div>
