<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
        data-sly-call="${templates.placeholder @ isEmpty = !properties.copyrightText, classAppend='cmp-footer-placeholder'}" />
<footer class="cmp-footer noindex">
    <div class="cmp-footer--secondary-on">
        <div class="cmp-footer__primary pb-5" data-sly-test="${properties.primaryFragmentPath}">
            <sly data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
                data-sly-call="${xfIncludeTemplate.include @ path=properties.primaryFragmentPath}"></sly>
        </div>
        <div class="cmp-footer__secondary" data-sly-test="${properties.secondaryFragmentPath}">
            <sly data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
                data-sly-call="${xfIncludeTemplate.include @ path=properties.secondaryFragmentPath}"></sly>
        </div>
        <div class="cmp-footer__copyright justify-content-center pt-5 pb-5" data-sly-test="${properties.copyrightText}"
            data-sly-use.linkList="com.nyl.foundation.models.LinkListModel">
            <ul class="cmp-link-list">
                <li>${properties.copyrightText}</li>
                <sly data-sly-list.link="${linkList.links}">
                    <li data-sly-test="${link.url && link.title}">
                        <a href="${link.url}" title="${link.title}" target="${link.behavior}">${link.text}</a>
                    </li>
                </sly>
            </ul>
        </div>
    </div>
</footer>
