@include marginOverrideSelf('cmp-product-profile', 0, 0, 0, 0);

.cmp-product-profile {
    color: $white;
    &__container {
        background-color: $steel;
        @extend %full-width;
        @include media-breakpoint-down(md) {
            padding: calcRem(20px);
            position: relative;
        }
        @include media-breakpoint-down(sm) {
            padding: calcRem(24px) calcRem(20px);
            position: relative;
        }
    }
    &.cmp-product-profile__sticky {
        .cmp-product-profile__scroll-section {
            @include sticky-position;
            display: block;
            top: 0;
            @include media-breakpoint-down(sm) {
                margin-bottom: 0 !important;
            }
        }
    }
    &__scroll-section {
        @extend %full-width;
        display: none;
        margin-bottom: calcRem(20px) !important;
        background-color: $steel;
        position: fixed;
        top: calcRem(-60px);
        z-index: 1002;
        &--container {
            padding-left: $content-padding-lg;
            padding-right: $content-padding-lg;
            @include media-breakpoint-down(sm) {
                padding-left: $content-padding-sm;
                padding-right: $content-padding-sm;
            }
        }
        .cmp-product-profile {
            &__share-dropdown {
                display: inline-block;
                background: $dark-steel;
                @include font-size(16px);
                font-family: $font-family-alda;
                letter-spacing: 0.2px;
                background-color: transparent;
                margin-left: 0px;
                margin-bottom: calcRem(13px);
                width: auto;
                padding-right: calcRem(30px);
                span {
                    font-size: calcRem(18px);
                    @include line-height(30px);
                    @include media-breakpoint-down(sm) {
                        font-size: calcRem(16px);
                        @include line-height(34px);
                        letter-spacing: 0.2px;
                    }
                }
                @include media-breakpoint-down(sm) {
                    margin-left: 0px;
                    margin-bottom: 0px;
                }
            }
            &__product-info {
                margin-left: 0;
            }
            &__ticker {
                @include font-size(18px);
                font-family: $font-family-alda;
                @include line-height(30px);
                text-transform: uppercase;
                letter-spacing: 0px;
                margin-top: calcRem(15px);
                margin-bottom: calcRem(15px);
                display: inline-block;
                border-right: 1px solid $light-steel-1;
                padding-right: calcRem(15px);
                @include media-breakpoint-down(sm) {
                    @include font-size(22px);
                    @include line-height(35px);
                    letter-spacing: 0.63px;
                    border-right: 0;
                    padding-right: 0;
                    margin-bottom: 0;
                    margin-top: calcRem(10px);
                }
            }
            &__fund-name {
                @include font-size(18px);
                font-family: $font-family-alda;
                @include line-height(30px);
                text-transform: capitalize;
                letter-spacing: normal;
                margin-top: calcRem(10px);
                padding-left: calcRem(15px);
                display: inline-block;
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(10px);
                    margin-bottom: calcRem(16px);
                    @include font-size(16px);
                    @include line-height(26px);
                    margin-left: 0;
                    padding-left: 0;
                }
            }
            &__fund-name-authorable {
                @include font-size(18px);
                font-family: $font-family-alda;
                @include line-height(30px);
                text-transform: capitalize;
                letter-spacing: normal;
                margin-top: calcRem(15px);
                margin-bottom: calcRem(15px);
                display: inline-block;
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(10px);
                    margin-bottom: calcRem(16px);
                    @include font-size(20px);
                    @include line-height(26px);
                }
            }
            &__btn-morning-star {
                @include font-size(18px);
                font-family: $font-family-alda;
                font-style: italic;
                @include line-height(22px);
                letter-spacing: 0;
                text-align: right;
                @include media-breakpoint-down(sm) {
                    display: table;
                    margin-top: calcRem(10px) !important;
                    position: static !important;
                    height: 100%;
                }
            }
            &__contactus-section {
                @include media-breakpoint-down(sm) {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    height: 100%;
                }
            }
            &__contactus {
                display: block;
                color: $white;
                margin-top: calcRem(18px);
                line-height: calcRem(22px);
                text-decoration: underline;
                @include font-size(18px);
                font-family: $font-family-alda;
                font-style: italic;
                text-align: right;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            &__contacticon {
                display: none;
                @include media-breakpoint-down(sm) {
                    display: flex;
                    span {
                        display: inline-block;
                        width: calcRem(24px);
                        height: calcRem(24px);
                        background-image: url('/etc.clientlibs/nylim/clientlibs/global/resources/images/icon-contactus--white.svg');
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    &__document-section {
        padding: calcRem(20px) 0 calcRem(40px) 0;
        @include media-breakpoint-down(md) {
            padding: 0 0 calcRem(40px) 0;
        }
        @include media-breakpoint-down(sm) {
            padding: 0 0 calcRem(40px) 0;
        }
        ul {
            margin-right: calcRem(14px);
            list-style-type: none;
            text-align: right;
            @include media-breakpoint-down(sm) {
                margin-right: 0;
                padding-left: 0;
            }
            li {
                text-align: right;
                @include font-size(14px);
                font-family: $font-family-helvetica-neue;
                @include line-height(12px);
                margin-left: calcRem(32px);
                display: inline-block;
                @include media-breakpoint-down(sm) {
                    display: inline;
                    margin-left: calcRem(24px);
                    @include font-size(12px);
                    @include line-height(13px);
                }
                &:before {
                    background: url('../resources/images/icon-document--white.svg') no-repeat center/contain;
                    display: inline-block;
                    content: '';
                    width: calcRem(16px);
                    height: calcRem(16px);
                    margin-right: calcRem(8px);
                    @include media-breakpoint-down(sm) {
                        width: calcRem(17px);
                        height: calcRem(17px);
                    }
                }
                a {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }
    &__primary {
        padding-bottom: calcRem(32px);
        .cmp-product-profile__ticker {
            @include media-breakpoint-down(xs) {
                max-width: 100%;
            }
            padding-left: calcRem(15px);
            max-width: 66.67%;
        }
        .cmp-product-profile__fund-name {
            @include media-breakpoint-down(xs) {
                max-width: 100%;
            }
            max-width: 33.33%;
        }
    }
    &__product-info {
        min-height: calcRem(35px);
        margin-left: calcRem(16px);
        @include media-breakpoint-down(md) {
            margin-left: 0;
        }
    }
    &__type {
        @include font-size(12px);
        font-family: $font-family-helvetica-neue;
        font-weight: 500;
        @include line-height(34px);
        text-transform: uppercase;
        letter-spacing: calcRem(2px);
        float: left;
    }
    &__eyebrow {
        @include font-size(12px);
        font-family: $font-family-helvetica-neue;
        font-weight: 500;
        padding: 0 calcRem(10px);
        float: left;
        margin-top: calcRem(5px);
    }
    &__ticker {
        @include font-size(70px);
        font-family: $font-family-alda;
        @include line-height(70px);
        text-transform: uppercase;
        letter-spacing: calcRem(2px);
        margin-bottom: calcRem(24px);
        word-break: break-all;
        @include media-breakpoint-down(sm) {
            @include font-size(50px);
            margin-bottom: 0;
            letter-spacing: calcRem(1.43px);
        }
    }
    &__fund-name {
        @include font-size(24px);
        font-family: $font-family-alda;
        @include line-height(30px);
        text-transform: capitalize;
        letter-spacing: normal;
        margin-top: calcRem(10px);
        padding-left: calcRem(20px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(16px);
            @include font-size(20px);
            @include line-height(32px);
        }
    }
    &__share-dropdown {
        position: relative;
        width: calcRem(206px);
        height: calcRem(36px);
        padding: calcRem(0px) calcRem(16px);
        outline: none;
        cursor: pointer;
        background-color: $dark-steel;
        line-height: calcRem(34px);
        white-space: nowrap;
        margin-left: calcRem(15px);
        &__span {
            display: inline-block;
            margin-right: calcRem(20px);
            font-size: calcRem(16px);
        }
        &.active {
            .cmp-product-profile {
                &__dropdown {
                    opacity: 1;
                    pointer-events: auto;
                }
                &__highlight {
                    background: $light-steel-3;
                }
            }
            &:after {
                border-color: $white transparent;
                border-width: 0px 6px 6px 6px;
                margin-top: -2px;
            }
        }
    }
    &__icon-downred,
    &__icon-downgreen {
        display: none;
        height: calcRem(7px);
        width: calcRem(11px);
        background: url('/etc.clientlibs/nylim/clientlibs/global/resources/images/icon-triangle--red.svg') no-repeat;
    }
    &__icon-downgreen {
        background: url('/etc.clientlibs/nylim/clientlibs/global/resources/images/icon-triangle--green.svg') no-repeat;
    }
    &__dayChangeValue {
        @include font-size(16px);
        @include line-height(22px);
        opacity: 0.7;
    }
    &__btn-morningstar-mobile {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
            @include font-size(16px);
            font-family: $font-family-alda;
            font-style: italic;
            @include line-height(22px);
            position: absolute;
            top: 10px;
            right: 21px;
            width: calcRem(240px);
            a {
                display: block;
                color: $white;
            }
            .nyl-button {
                height: calcRem(40px);
                float: right;
                padding: 0px calcRem(16px);
                font-weight: normal;
                &:hover {
                    text-decoration: none;
                    background-color: $medium-rain-2;
                }
            }
        }
    }
    &__btn-morningstar {
        @include font-size(16px);
        font-weight: 400;
        font-family: $font-family-alda;
        font-style: italic;
        @include line-height(22px);
        margin-top: calcRem(55px);
        margin-right: calcRem(15px);
        position: relative;
        float: right;
        a {
            display: block;
            color: $white;
        }
        @include media-breakpoint-down(md) {
            margin-right: 0;
        }
        @include media-breakpoint-down(sm) {
            display: none !important;
        }
        .nyl-button {
            height: calcRem(48px);
            float: right;
            padding: 0px calcRem(24px);
            @include font-size(16px);
            font-weight: 400;
            &:hover {
                text-decoration: none;
                background-color: $medium-rain-2;
            }
        }
    }
    &__manual-author {
        display: none;
    }
    &__manual-fund-name {
        display: block;
        @include font-size(38px);
        font-family: $font-family-alda;
        @include line-height(40px);
        text-transform: capitalize;
        letter-spacing: normal;
        margin-bottom: calcRem(62px);
        @include media-breakpoint-down(sm) {
            @include line-height(32px);
            @include font-size(28px);
            margin-bottom: calcRem(10px);
        }
    }
    &__secondary {
        padding-bottom: calcRem(72px);
        @include media-breakpoint-down(sm) {
            padding-bottom: 0;
        }
    }
    &__product-details {
        text-align: left;
        margin-left: calcRem(15px);
        @include media-breakpoint-down(md) {
            margin-left: 0;
        }
        @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-bottom: calcRem(16px);
            .row {
                display: block;
                column-count: 2;
                .cmp-product-profile__content {
                    break-inside: avoid-column;
                    page-break-inside: avoid;
                }
            }
        }
    }
    &__content {
        margin: 0;
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(24px);
        }
    }
    &__label-text {
        @include font-size(16px);
        font-family: $font-family-alda;
        opacity: 0.9;
        font-style: italic;
        @include line-height(25px);
        letter-spacing: calcRem(0.2px);
        padding-bottom: calcRem(4.8px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(4.8px);
        }
    }
    &__value-text {
        @include font-size(22px);
        font-family: $font-family-helvetica-neue;
        font-weight: bold;
        @include line-height(27px);
        letter-spacing: normal;
        padding-bottom: calcRem(7.4px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(7.4px);
        }
    }
    &__hint-text {
        @include font-size(11px);
        font-family: $font-family-helvetica-neue;
        font-style: italic;
        @include line-height(13px);
        max-width: 162px;
        opacity: 0.9;
        span {
            white-space: pre-wrap;
            word-break: keep-all;
            display: inline !important;
        }
    }
    &__na {
        display: none;
    }
    &__db:not(.cmp-product-profile__btn-morningstar-mobile) {
        display: inline-block;
    }
    &__marginTop {
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(-24px);
        }
    }
    &__paralax-image {
        width: calc(100vw - 15px);
        position: relative;
        @extend %full-width;
        margin-left: calc(-50vw + 7px);
        margin-right: calc(-50vw + 7px);
        margin-bottom: 0px !important;
        display: block;
        height: calcRem(40px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include media-breakpoint-down(sm) {
            height: calcRem(64px);
            position: relative;
        }
    }
    &__dropdown-icon {
        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            right: calcRem(10px);
            top: 50%;
            margin-top: -2px;
            border-width: 6px 6px 0 6px;
            border-style: solid;
            border-color: $white transparent;
        }
    }
    &__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: $white;
        list-style: none;
        font-weight: normal;
        opacity: 0;
        pointer-events: none;
        padding-left: 0;
        margin: 0;
        z-index: 1001;
        width: calcRem(115px);
        li {
            a {
                font-family: $font-family-helvetica-neue;
                line-height: normal;
                font-size: calcRem(14px);
                color: $steel;
                display: block;
                text-decoration: none;
                padding: 15px 12px;
            }
            &:first-child {
                a {
                    padding-top: calcRem(18px);
                }
            }
            &:last-child {
                a {
                    padding-bottom: calcRem(32px);
                }
            }
            &:hover {
                a {
                    background: $light-steel-3;
                }
            }
        }
    }
}
