<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-back-to-top-placeholder'}" />
<div class="cmp-back-to-top" role="button" aria-label="${'foundation.button.backToTop' @ i18n}"
    onkeypress="scrollBackToTop()" tabindex="1">
    <i class="cmp-back-to-top__icon" aria-hidden="true"></i>
</div>
