.cmp-agent-directory {
    margin-top: calcRem(30px);
    margin-bottom: calcRem(30px);
    @include media-breakpoint-down(sm) {
        margin-top: calcRem(15px);
        margin-bottom: calcRem(15px);
    }
    &__title {
    	@include font-size(24px);
        @include line-height(24px, 1.33);
        margin-bottom: calcRem(32px);
    }
    ul {
        margin: 0;
        padding: 0;
    }
    &__agent {
        margin-bottom: calcRem(40px);
        list-style-type: none;
        padding: 0;
        &--image {
            padding-right: calcRem(10px);
            img {
                height: calcRem(65px);
                width: calcRem(65px);
                object-fit: cover;
                object-position: top;
            }
        }
        &--info {
            padding-right: calcRem(24px);
        }
        &--name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
            @include font-size(20px);
            @include line-height(20px, 1.2);
            a {
                text-decoration: underline;
            }
        }
        &--title {
            font-size: calcRem(16px);
            line-height: calcRem(24px);
        }
    }
}
