<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-money-market-yeilds-placeholder'}" />
<div class="cmp-money-market-yields">
    <div class="cmp-money-market-yields__container-row">
        <div class="col-12 cmp-money-market-yields__heading-div">
            <span class="cmp-money-market-yields__title sevenDayYieldsLabel"></span>
            <span class="cmp-money-market-yields__title--asOfDate"></span>
            <span class="cmp-money-market-yields__title--asOfDate-value"></span>
        </div>
        <div class="cmp-money-market-yields__left"></div>
        <div class="cmp-money-market-yields__right cmp-money-market-yields__right-gradient"></div>
        <div class="cmp-money-market-yields__wrapper">
            <table class="col-lg-12 col-md-12 cmp-money-market-yields__table">
                <caption class="cmp-money-market-yields__table--caption"></caption>
                <thead class="cmp-money-market-yields__table-thead">
                    <tr class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <th id="current7DayYield" class="cmp-money-market-yields__header current7DayYield"></th>
                        <th id="unsubsidizedYield" class="cmp-money-market-yields__header unsubsidizedYield"></th>
                        <th id="navAmortizedCost" class="cmp-money-market-yields__header navAmortizedCost"></th>
                        <th id="marketBasedNav" class="cmp-money-market-yields__header marketBasedNav"></th>
                    </tr>
                </thead>
                <tbody class="cmp-money-market-yields__table--tbody"></tbody>
            </table>
        </div>
    </div>
</div>
