.cmp-locations {
  &__heading {
    font-weight: 500;
    color: $black;
    @include font-size(16px);
    padding: 0 calcRem(10px);
    line-height: 19px;

    @include media-breakpoint-down(sm) {
      padding: 0 calcRem(5px);
    }
  }

  &__card--container {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;

    .font-weight-bold {
      @include font-size(16px);
    }

    &--number {
      word-wrap: none;
    }

    &--divider {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--addseperator {
      display: none;

      @include media-breakpoint-down(sm) {
        display: inline-block;
        padding: 0 5px 0 0;
      }
    }

    &--seperator {
      display: none;

      @include media-breakpoint-down(sm) {
        display: inline-block;
        padding: 0 5px;
      }
    }

    > li {
      list-style: none;
      width: 100%;
      padding: calcRem(16px) calcRem(10px);
      font-family: $font-family-effra-pro;
      color: $black;
      @include font-size(16px);

      &:first-child {
        padding-top: calcRem(16px);

        @include media-breakpoint-down(sm) {
          padding-top: calcRem(8px);
        }
      }

      @include media-breakpoint-down(sm) {
        padding: calcRem(8px) calcRem(5px);
      }
    }

    @include media-breakpoint-up(md) {
      > li {
        &:last-child {
          margin-right: auto;
        }

        &:first-child:nth-last-child(n + 3),
        &:first-child:nth-last-child(n + 3) ~ li {
          max-width: 50%;
          min-width: 50%;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      > li {
        flex-basis: 0;
        flex-grow: 1;

        &:first-child:nth-last-child(n + 5),
        &:first-child:nth-last-child(n + 5) ~ li {
          max-width: 16.6%;
          min-width: 16.6%;
        }
      }
    }
  }
}
