.cmp-disclaimer {
    background-color: $light-gray;
    padding-top: calcRem(30px);
    padding-bottom: calcRem(30px);

    @include media-breakpoint-down(sm) {
        padding-top: calcRem(15px);
        padding-bottom: calcRem(15px);
    }

    &__container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        > .cmp-rte {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: calcRem(4px);
        @include font-size(12px);
        &:last-child {
            margin-bottom: calcRem(12px);
        }
    }

    &__special-license-id {
        p, span {
            font-size: calcRem(16px) !important;
            line-height: calcRem(24px) !important;
        }
    }
}
