<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-credit-quality-placeholder'}" />
<figure class="cmp-credit-quality">
    <figcaption class="cmp-credit-quality__heading">
        <span class="cmp-credit-quality__heading-composition">
        </span>
        <span class="cmp-credit-quality__heading-as-of">
        </span>
        <span class="cmp-credit-quality__heading-date">
        </span>
    </figcaption>
    <div class="cmp-credit-quality__chart-container">
    </div>
    <div class="cmp-credit-quality__data-points">
    </div>
</figure>
