<div class="cmp-scroll-gradient">
    <div class="container">
        <div class="cmp-scroll-gradient__left"></div>
        <div class="cmp-scroll-gradient__right cmp-scroll-gradient__right-gradient"></div>
        <div class="row cmp-scroll-gradient__table-parent-div">
            <div class="col-12 cmp-scroll-gradient__table-wrapper">
                <table class='cmp-scroll-gradient__table'>
                    <caption></caption>
                    <tr class="tableHeader">
                        <th scope="col" class="cmp-scroll-gradient__shareClassHeading"></th>
                        <th scope="col" class="cmp-scroll-gradient__viewLabel"></th>
                        <th scope="col" class="cmp-scroll-gradient__ytdLabel"></th>
                        <th scope="col" class="cmp-scroll-gradient__oneYearLabel"></th>
                        <th scope="col" class="cmp-scroll-gradient__threeYearLabel"></th>
                        <th scope="col" class="cmp-scroll-gradient__fiveYearLabel"></th>
                        <th scope="col" class="cmp-scroll-gradient__tenYearLabel"></th>
                        <th scope="col" class="cmp-scroll-gradient__siLabel"></th>
                    </tr>
                    <tbody class="cmp-scroll-gradient__table--tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
