<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-go-locations-placeholder'}" />
<sly data-sly-use.goOrganizationProfileModel="${'com.nyl.nylcom.models.agentweb.GoOrganizationProfileModel'}">
    <div class="cmp-locations">
        <div class="cmp-locations__heading">${properties.ourLocations}</div>
        <ul data-sly-list.addressList="${goOrganizationProfileModel.addressList}"
            class="cmp-locations__card--container d-flex justify-content-between">
            <li>
                ${addressList.line1}<span class="cmp-locations__card--container--addseperator">,</span><span
                    class="cmp-locations__card--container--divider"><br></span>
                <sly data-sly-test="${addressList.line2}">${addressList.line2}<span
                        class="cmp-locations__card--container--addseperator">,</span><span
                        class="cmp-locations__card--container--divider"><br></span></sly>
                <sly data-sly-test="${addressList.line3}">${addressList.line3}<span
                        class="cmp-locations__card--container--addseperator">,</span><span
                        class="cmp-locations__card--container--divider"><br></span></sly>
                ${addressList.city}, ${addressList.stateCd.code} ${addressList.postalCd.code}<br>
                <span class="font-weight-bold">${'foundation.locations.businessPhoneNumberTitle' @ i18n} </span>
                <sly
                    data-sly-use.phoneNumber="${'com.nyl.foundation.models.FormatterModel' @ input=addressList.phone.phoneNo}">
                    ${phoneNumber.phoneNumber}</sly><span
                    class="cmp-locations__card--container--divider"><br></span><span
                    class="cmp-locations__card--container--seperator">|</span>
                <sly data-sly-test="${addressList.phone.faxNo}"><span
                        class="font-weight-bold">${'foundation.locations.faxNumberTitle' @ i18n} </span>
                    <sly
                        data-sly-use.faxNumber="${'com.nyl.foundation.models.FormatterModel' @ input=addressList.phone.faxNo}">
                        ${faxNumber.phoneNumber}</sly>
                </sly>
            </li>
        </ul>
    </div>
</sly>
