<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @ appendPath='teamsContentFragments'}"
    data-sly-call="${templates.placeholder @ isEmpty = !resourceModel.resource, classAppend='cmp-teams-placeholder'}" />
<div data-sly-test.contentFragments="${resourceModel.children}" class="cmp-teams">
    <div data-sly-list.contentFragment="${contentFragments}" class="row cmp-teams__container">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-sly-use.teamResourceModel="${'com.nyl.foundation.models.ResourceModel' @resourcePath=contentFragment.bio, 
         appendPath='jcr:content/data/master'}" data-sly-set.bioDetails="${teamResourceModel.properties}" class="card">
                <a data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @linkUrl=bioDetails.bioDetailPagePath }"
                    data-sly-unwrap="${contentFragment.disableUrl || ! linkModel.getLinkUrl}"
                    href="${linkModel.getLinkUrl}" title="${bioDetails.firstName} ${bioDetails.lastName}"
                    class="clickable-bio">
                    <sly data-sly-test="${bioDetails.image}"
                        data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                        data-sly-call="${image.imageTemplate @ componentName='teams', imagePath=bioDetails.image, imgClass='cmp-teams__image'}">
                    </sly>
                    <p data-sly-test="${bioDetails.firstName || bioDetails.lastName}" class="cmp-teams__name">
                        <span data-sly-unwrap="${bioDetails.firstName}">${bioDetails.firstName}</span><span
                            data-sly-unwrap="${bioDetails.lastName}"> ${bioDetails.lastName}</span>
                    </p>
                </a>
                <p data-sly-test="${bioDetails.title1}" class="cmp-teams__title">
                    ${bioDetails.title1}</p>
                <p data-sly-test="${bioDetails.workExperience1}" class="cmp-teams__fund-manager">
                    ${bioDetails.workExperience1}
                </p>
                <p data-sly-test="${bioDetails.workExperience2}" class="cmp-teams__industry-experience">
                    ${bioDetails.workExperience2}
                </p>
            </div>
        </div>
    </div>
</div>
