.cmp-high-value-task-form-modal {
    .modal-dialog {
        max-width: calcRem(731px);

        .modal-content {
            height: calcRem(480px);
            border: 0;
            @include media-breakpoint-down(sm) {
                height: calcRem(540px);
            }

            .modal-header {
                border-bottom: none;
                padding-bottom: calcRem(12px) !important;
                margin-left: calcRem(34px);
                min-height: calcRem(92px);
                @include media-breakpoint-down(sm) {
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }
    }
    &__content {
        padding-left: calcRem(50px) !important;
        padding-right: calcRem(51px) !important;
        @include media-breakpoint-down(sm) {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: 0 !important;
        }
        p {
            height: calcRem(24px);
            color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(16px);
            letter-spacing: 0;
            line-height: calcRem(24px);
            @include media-breakpoint-down(sm) {
                font-size: calcRem(14px);
                line-height: calcRem(20px);
            }
        }
    }
    &__heading {
        height: calcRem(28px);
        color: $steel;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(22px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: calcRem(28px);
        margin-top: calcRem(36px);
        @include media-breakpoint-down(sm) {
            font-size: calcRem(20px);
            line-height: calcRem(19px);
        }
    }
    &__close {
        opacity: 1;
        span {
            color: $steel;
            padding-left: 10px;
            @include media-breakpoint-down(sm) {
                font-size: 22px;
                padding-left: 9px;
            }
        }
        &:focus {
            outline: none !important;
        }
    }
}

.eloqua-high-value-task-fa,
.eloqua-high-value-task {
    .submit-button-style {
        background-color: $steel;
        color: $white;
        font-family: $font-family-helvetica-neue;
        font-weight: 500;
        letter-spacing: 0;
        line-height: calcRem(19px);
        border: 0;
        padding: calcRem(14px) calcRem(40px);
        margin-bottom: calcRem(95px);
        height: calcRem(48px);
        width: calcRem(161px);
        float: right;
        margin-right: calcRem(-30px);
        margin-top: calcRem(48px);
        @include media-breakpoint-down(sm) {
            width: 100%;
            float: none;
        }

        &[disabled] {
            background-color: #b3c4cc;
            pointer-events: none;
        }

        &:disabled {
            background-color: #b3c4cc;
            pointer-events: none;
        }

        &:hover {
            background-color: $dark-steel-2;
        }
    }

    .container-fluid {
        width: 108%;
        @include media-breakpoint-only(md) {
            margin-left: calcRem(10px);
        }
        .row {
            &:nth-child(1) {
                .grid-layout-col {
                    .layout-col {
                        .elq-field-style {
                            div {
                                &:nth-child(2) {
                                    padding-right: 2px;
                                }
                            }
                        }
                    }
                }
            }
            .grid-layout-col {
                width: 100%;

                .layout-col {
                    width: 100%;

                    .elq-field-style {
                        width: 100%;
                        @include media-breakpoint-down(sm) {
                            margin-left: calcRem(-9px);
                        }
                        @include media-breakpoint-only(md) {
                            margin-left: calcRem(-25px);
                        }

                        div {
                            .row {
                                margin-right: 0;
                                @include media-breakpoint-up(md) {
                                    width: 100% !important;
                                }
                                @include media-breakpoint-only(sm) {
                                    width: inherit;
                                }
                                div {
                                    width: 100%;
                                }
                            }
                            .form-element-instruction {
                                height: calcRem(42px);
                                width: calcRem(444px);
                                color: $steel;
                                font-family: $font-family-helvetica-neue;
                                font-size: calcRem(11px);
                                letter-spacing: calcRem(0.25px);
                                line-height: calcRem(14px);
                                margin-top: calcRem(12px);
                                margin-left: calcRem(17px);
                                @include media-breakpoint-down(sm) {
                                    height: calcRem(117px);
                                    width: 100%;
                                    color: $steel;
                                    font-family: $font-family-helvetica-neue;
                                    font-size: calcRem(11px);
                                    letter-spacing: calcRem(0.25px);
                                    line-height: calcRem(14px);
                                    margin-left: calcRem(15px) !important;
                                }
                            }
                        }
                    }
                }
            }

            .single-checkbox-row {
                margin-left: 0 !important;
                @include media-breakpoint-down(sm) {
                    margin-left: 1px !important;
                }
            }
        }
    }
    .field-button {
        padding-right: 3%;
        @include media-breakpoint-down(sm) {
            padding-right: 0;
            div {
                .row {
                    margin: auto;
                }
            }
        }
    }

    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        margin-right: calcRem(16px);
        margin-top: calcRem(4px);
        height: calcRem(24px);
        width: calcRem(24px);

        & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
        }

        & + label:before {
            content: '';
            margin-right: calcRem(12px);
            display: inline-block;
            vertical-align: text-top;
            width: calcRem(24px);
            height: calcRem(24px);
            border: 1px solid $steel;
            margin-top: calcRem(-7px);
        }

        &:checked + label:before {
            background: $steel;
        }
        &:checked + label:after {
            content: '';
            position: absolute;
            left: calcRem(4px);
            top: calcRem(5px);
            background: white;
            width: calcRem(2px);
            height: calcRem(2px);
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white,
                4px -8px 0 white;
            transform: rotate(45deg) scale(1.5);
            @include media-breakpoint-down(sm) {
                left: calcRem(16px);
            }
        }
    }

    .LV_validation_message {
        @include font-size(12px);
        @include line-height(24px);
        display: block;
        text-align: left;
        &.LV_invalid {
            color: $error;
            margin-bottom: calcRem(-24px);
        }
        &.LV_valid {
            display: none;
        }
    }

    .single-checkbox-row + .LV_validation_message {
        margin-top: calcRem(-7px);
        margin-bottom: calcRem(-5px);
    }

    .LV_invalid_field + .elq-item-label:before {
        border: 1px solid $error;
    }

    input[type='text'].LV_invalid_field {
        border: $error 1px solid;
    }

    input[type='text'].LV_valid_field {
        background: url('../resources/images/icon-check-filled.svg') no-repeat 96.5% 50%;
    }
    .elq-item-input {
        height: calcRem(56px);
        width: 100% !important;
        background-color: $light-steel-2 !important;
        color: $steel;
        line-height: calcRem(15px);
        padding-left: calcRem(24px);
        border: 0;
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(12px);
            width: 100% !important;
            margin-left: calcRem(-4px);
        }
        &::-ms-clear {
            display: none;
        }
        &::placeholder {
            color: $steel;
            font-family: $font-family-alda;
            font-style: italic;
            font-size: calcRem(14px);
            opacity: 0.65;
            letter-spacing: 0;
        }
    }

    .elq-label {
        display: none;
    }

    .elq-item-label {
        height: calcRem(15px);
        font-size: calcRem(16px);
        letter-spacing: calcRem(-0.5px);
        line-height: calcRem(15px);
        margin-top: calcRem(30px);
        @include media-breakpoint-down(sm) {
            height: 100%;
            width: calcRem(264px);
            color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(14px);
            letter-spacing: calcRem(-0.44px);
            line-height: calcRem(19px);
            text-align: center;
            margin-left: calcRem(-17px);
        }
    }
}

.eloqua-high-value-task {
    .submit-button-style {
        margin-right: calcRem(-38px);
    }

    .layout-col {
        padding-right: calcRem(4px);
    }

    .elq-field-style {
        div {
            .row {
                div {
                    div {
                        input {
                            @include media-breakpoint-down(sm) {
                                width: 95% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
