.cmp-table-container {
    margin: $component-margin 0;
}
.cmp-table-row, .cmp-table-container {
    border-bottom: 4px solid $light-gray;
    @include media-breakpoint-down(sm) {
        border-top: 4px solid $light-gray;
    }
    &__table {
        display: flex;
        flex-wrap: wrap;
        > :nth-child(1) {
            background-color: $light-gray;
            width: 100%;
            @include media-breakpoint-down(sm) {
                display: none !important;
            }
            border: none !important;
        }       
    }

    &__cell-ico {
        svg g path {
            fill: $black;
        }
    }
    &__table > div,
    &-row {
        width: 100%;
        display: flex;
        @include media-breakpoint-down(sm) {
            > div {
                width: 100%;
            }
            display: block;
            border-top: none;
            border-bottom: 1px solid $medium-gray;

            &:last-child {
                border-bottom: none;
            }
        }
        > :first-child {
            @include media-breakpoint-down(sm) {
                float: left;
            }

            $width: 30%;
            text-overflow: ellipsis;
            width: $width;
            min-width: $width;
            max-width: $width;
        }
        border-top: 1px solid $medium-gray;
    }

    &__cell {
        box-sizing: border-box;
        flex-grow: 1;
        overflow: hidden;
        width: 100%;
        list-style: none;
        padding: 18px;
        @include media-breakpoint-down(sm) {
            display: block;
            $width: 70%;
            max-width: $width;
            min-width: $width;
            width: $width;
            padding-right: 0px;
            float: right;
        }
        @include media-breakpoint-only(md) {
            display: flex;
        }
    }
    &__title {
         &--sm {
            display: none;
            @include media-breakpoint-down(sm) {
                display: inline;
            }
        }
    }   
    &__cell-heading-wrapper {
        display: flex;
        flex-wrap: wrap;
        > div {
            width: 100%;
        }
    }
    &__heading {
        @include media-breakpoint-down(sm) {
            padding-left: 0px;
        }
    }

    &--hide-sm {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &--full-cell-sm {
        @include media-breakpoint-down(sm) {
            width: 100%;
            min-width: 100%;
        }
    }
    .nyl-button {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        white-space: normal;
        height: 100%;
        min-height: calcRem(50px);
        display: inline-block;
        line-height: normal;
        padding: 10px 14px;
        @include media-breakpoint-only(md) {
            display: block;
            padding: 11px;
        }
    }
   
}
