<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.introHeadLine, classAppend='cmp-calculator-container-gbs--placeholder'}">
</sly>
<div class="${(wcmmode && wcmmode.edit) ? 'cmp-calculator-container-gbs cmp-calculator-container-gbs__edit-mode' : 'cmp-calculator-container-gbs'}"
    data-range='{"level1": "${"calculator.results.score0-5" @ i18n}",
        "level2": "${"calculator.results.score0-5" @ i18n}",
        "level3": "${"calculator.results.score6-10" @ i18n}",
        "level4": "${"calculator.results.score11-15" @ i18n}",
        "level5": "${"calculator.results.score16AndOver" @ i18n}"}'>
    <div class="cmp-calculator-container-gbs__content">

        <div class="cmp-calculator-container-gbs__header-wrapper">
            <div class="cmp-calculator-container-gbs__header">
                <h1 data-sly-test="${properties.introHeadLine}" class="cmp-calculator-container-gbs__landing-title">
                    ${properties.introHeadLine}</h1>
                <h3 data-sly-test="${properties.introSubHead}" class="cmp-calculator-container-gbs__landing-subtitle">
                    ${properties.introSubHead}</h3>
                <p data-sly-test="${properties.introDescription}"
                    class="cmp-calculator-container-gbs__landing-description">
                    ${properties.introDescription}</p>
                <div class="cmp-calculator-container-gbs__banner-mid-line"></div>
            </div>
        </div>
        <div class="cmp-calculator-container-gbs__core-content">
            <div class="cmp-calculator-container-gbs__insert-container">
                <sly data-sly-resource="${'questions-parsys' @resourceType='wcm/foundation/components/parsys'}" />
                <div class="cmp-calculator-container-gbs__button-container">
                    <button
                        class="nyl-button cmp-calculator-container-gbs__button-container__button cmp-calculator-container-gbs__button-container__next-button">${'calculator.general.nextButton'
                        @ i18n}</button>
                    <button
                        class="nyl-button cmp-calculator-container-gbs__button-container__button cmp-calculator-container-gbs__button-container__submit-button">${'foundation.buttons.submit'
                        @ i18n}</button>
                </div>
            </div>
            <div class="cmp-calculator-container-gbs__results">
                <h1 data-sly-test="${properties.headLine}" class="cmp-calculator-container-gbs__results-title">
                    ${properties.headLine}</h1>
                <div class="cmp-calculator-container-gbs__results-view">
                    <div data-sly-test="${properties.description}"
                        class="cmp-calculator-container-gbs__results-description">${properties.description
                        @ context='html' }</div>
                </div>
                <div class="cmp-calculator-container-gbs__results-button-container">
                    <a
                        class="cmp-calculator-container-gbs__results-button cmp-calculator-container-gbs__results-startover-button">
                        ${'calculator.general.startOverButton' @ i18n}
                        <i class="cmp-calculator-container-gbs__results-icon-arrow" aria-hidden="true"></i>
                    </a>
                    <a data-sly-use.linkModel="com.nyl.foundation.models.LinkModel"
                        data-sly-test="${linkModel.text && linkModel.url}" href="${linkModel.url}"
                        class="cmp-calculator-container-gbs__results-button cmp-calculator-container-gbs__results-learn-more-button"
                        target="${linkModel.behavior}" title="${linkModel.title}"> ${linkModel.text} </a>
                </div>
            </div>
        </div>
    </div>
</div>
