<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.headline, classAppend='cmp-banner-category-placeholder'}" />
<div data-sly-test="${properties.headline || properties.imagePath}" class="full-width cmp-banner-category">
    <div class="cmp-banner-category__category">
        <div class="cmp-banner-category__title--layout col col-12">
            <div class="col col-lg-6 col-md-12 col-sm-12">
                <div class="cmp-banner-category__title">
                    <h1>${properties.headline}</h1>
                </div>
            </div>
            <div data-sly-test="${properties.subhead}" class="col col-lg-6 col-md-12 col-sm-12">
                <div class="cmp-banner-category__title">
                    <p class="h3">${properties.subhead}</p>
                </div>
            </div>
        </div>
        <div data-sly-test="${properties.imagePath}"
            class="cmp-banner-category__image-container col col-lg-6 col-md-12 col-sm-12 order-sm-2">
            <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                data-sly-call="${image.imageTemplate
                    @componentName='banner-category', imagePath=properties.imagePath, imageAltText=properties.imageAltText,imgClass='mw-100'}">
            </sly>

        </div>
        <div data-sly-test="${properties.description}"
            class="cmp-banner-category__bullet-section--layout col col-12 order-sm-3">
            <div class="col col-lg-6 col-md-12 col-sm-12">${properties.description @ context='html'}</div>
        </div>
    </div>
</div>
