<div class="fund-id" data-fundId="F_IGR">
</div>
<div class="cmp-morningstar-all-rankings">
    <div class="container">
        <div class="cmp-morningstar-all-rankings__left"></div>
        <div class="cmp-morningstar-all-rankings__right cmp-morningstar-all-rankings__right-gradient"></div>
        <div class="row cmp-morningstar-all-rankings__table-parent-div">
            <table class="cmp-morningstar-all-rankings__table">
                <caption class="cmp-morningstar-all-rankings__table-caption"></caption>
                <tr class="tableHeader">
                    <th scope="col" class="cmp-morningstar-all-rankings__morningStarRating">
                        <span class="cmp-morningstar-all-rankings__morningStarRating--label"></span>
                        <span class="cmp-morningstar-all-rankings__morningStarRating--riskAdjustedText"></span>
                        <span class="cmp-morningstar-all-rankings__morningStarRating--asOfText"></span>
                    </th>
                    <th scope="col" class="cmp-morningstar-all-rankings__starRatingLabel"></th>
                    <th scope="col" class="cmp-morningstar-all-rankings__numberOfFundsLabel"></th>
                    <th scope="col" class="cmp-morningstar-all-rankings__categoryLabel"></th>
                </tr>
            </table>
        </div>

    </div>
</div>
