.cmp-cef-daily-pricing-since-inception {
    display: none;
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(0px) !important;
    @extend %mobile-full-width;
    &__main-section {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__wrapper {
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
    }
    &__heading-section {
        margin-top: calcRem(71px);
        margin-bottom: calcRem(34px);
        max-height: calcRem(17px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(40px);
            padding-left: calcRem(20px);
            margin-bottom: calcRem(6px);
        }
        .heading-text {
            color: $steel;
            font-family: $font-family-helvetica-neue;
            @include font-size(14px);
            font-weight: $font-weight-bold;
            letter-spacing: 1px;
            @include line-height(17px);
            text-transform: uppercase;
        }
    }
    &__container-div {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__main-row {
        margin-left: calcRem(0px);
        margin-right: calcRem(0px);
        height: 100%;
    }

    &__main-container-row {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
            margin-right: calcRem(0px);
        }
    }
    &__list-container {
        list-style: none;
        padding: calcRem(0px);
        li:not(:first-child) {
            height: calcRem(64px);
            background: $white;
            margin-bottom: calcRem(2px);
            &:hover {
                background: $rain-tint;
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: calcRem(2px);
            }
        }
        li:first-child {
            height: calcRem(50px);
        }
        li:last-child {
            margin-bottom: 0px;
        }
        @include media-breakpoint-down(sm) {
            width: 134%;
        }
    }

    &__table {
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            overflow-x: auto;
        }
    }

    &__table-item {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        display: flex;
        align-items: center;
        padding-left: calcRem(0px);
        &:first-child {
            padding-left: calcRem(32px);
        }
    }
    &__header-item {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(13px);
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: calcRem(0px);
        &:first-child {
            padding-left: calcRem(32px);
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(sm) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: calcRem(0px);
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(sm) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
        }
    }

    &__pagination {
        @include font-size(12px);
        @include line-height(13px);
        text-align: right;
        padding: calcRem(30px) calcRem(0px) calcRem(38px);
        @include media-breakpoint-down(sm) {
            padding: calcRem(25px) calcRem(16px) calcRem(12px);
        }
    }
    &__page-item {
        display: inline-flex;
        align-items: flex-end;
    }
    &__of-label {
        margin: calcRem(0px) calcRem(7px);
    }
    &__pagination-total-length {
        margin-right: calcRem(29px);
    }
    &__next {
        margin-right: 0px;
        cursor: pointer;
        &:after {
            @include transform(rotate(270deg));
            content: '';
            width: calcRem(16px);
            height: calcRem(16px);
            float: right;
            background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
            flex-shrink: 0;
        }
    }
    &__previous {
        cursor: pointer;
        margin-right: calcRem(24px);
        visibility: hidden;
        &:after {
            @include transform(rotate(90deg));
            content: '';
            width: calcRem(16px);
            height: calcRem(16px);
            float: right;
            background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
            flex-shrink: 0;
        }
    }
    &__noPagination {
        padding-bottom: calcRem(55px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(53px);
        }
    }
    &__paginationList {
        background-color: transparent !important;
    }
    &__paginationError {
        margin-top: calcRem(65px);
        padding-bottom: calcRem(55px);
        background-color: transparent;
        font-family: $font-family-helvetica-neue;
        @include font-size(15px);
        font-weight: $font-weight-bold;
        @include line-height(18px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(53px);
        }
    }
    &__paginationDisable {
        pointer-events: none;
        opacity: 0.3;
    }
    button {
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
        padding: 0;
    }

    button:hover {
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
    }

    button:active {
        outline: none;
        border: none;
    }

    button:focus {
        outline: 0;
    }
}
.cmp-cef-daily-pricing-since-inception.cq-Editable-dom {
    display: block;
}
