<div class="cmp-subscription-center-form">
    <div class="cmp-subscription-center-form__title">title</div>
    <div class="cmp-subscription-center-form__description">description</div>
    <hr>
</div>
<form method="post" id="form24" name="SubscriptionCenter_Form_MAR2020" class="elq-form eloqua-subscription-center">
    <div class="layout container-fluid">
        <div class="row">
          <div class="grid-layout-col">
            <div class="layout-col col-sm-12 col-xs-12">
              <div id="formElement0" class="elq-field-style form-element-layout row">
                <div class="col-sm-12 col-xs-12">
                  <div class="row">
                    <div class="col-xs-12">
                      <div style="text-align:left;">
                        <h4 class="elq-heading form-element-form-text">1. Enter Email
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="form-element-instruction">Enter your email to select or manage your subscriptions.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-layout-col">
          <div class="layout-col col-sm-12 col-xs-12">
            <div id="formElement1" class="elq-field-style form-element-layout row">
              <div style="text-align:left;" class="col-sm-12 col-xs-12">
                <label class="elq-label " for="fe214">Email Address
                  <span class="elq-required">*
                  </span>
                </label>
              </div>
              <div class="col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="field-control-wrapper">
                      <input type="text" class="elq-item-input" name="C_EmailAddress" id="fe214" value="" style="width:100%;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-layout-col">
          <div class="layout-col col-sm-12 col-xs-12">
            <div id="formElement2" class="elq-field-style form-element-layout row">
              <div class="col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <div style="text-align:left;">
                      <h4 class="elq-heading form-element-form-text">2. Manage Subscriptions
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-layout-col">
          <div class="layout-col col-sm-12 col-xs-12">
            <div id="formElement3" class="elq-field-style form-element-layout row">
              <div class="col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <div style="text-align:left;">
                      <h4 class="elq-heading form-element-form-text">Insights
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-layout-col">
          <div class="layout-col col-sm-12 col-xs-12">
            <div id="formElement4" class="elq-field-style form-element-layout row">
              <div class="col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <div style="text-align:left;">Select the insights you would like to receive from us—or choose to hear from all our deep domain experts.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-layout-col">
          <div class="layout-col col-sm-12 col-xs-12">
            <div id="formElement5" class="elq-field-style form-element-layout row">
              <div class="col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <div>
                      <div class="single-checkbox-row row">
                        <input type="checkbox" name="selectAllInsights" id="fe223">
                        <label class="checkbox-aligned elq-item-label" for="fe223">Select All Insights
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid-layout-col">
          <div class="layout-col col-sm-12 col-xs-12">
            <div id="formElement6" class="elq-field-style form-element-layout row">
              <div class="col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <div>
                      <div class="single-checkbox-row row">
                        <input type="checkbox" name="marketInsights" id="fe224">
                        <label class="checkbox-aligned elq-item-label" for="fe224">Market Insights
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="grid-layout-col">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement7" class="elq-field-style form-element-layout row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <div class="single-checkbox-row row">
                      <input type="checkbox" name="alternatives" id="fe225">
                      <label class="checkbox-aligned elq-item-label" for="fe225">Alternatives
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-layout-col">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement8" class="elq-field-style form-element-layout row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <div class="single-checkbox-row row">
                      <input type="checkbox" name="equities" id="fe226">
                      <label class="checkbox-aligned elq-item-label" for="fe226">Equities
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-layout-col">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement9" class="elq-field-style form-element-layout row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <div class="single-checkbox-row row">
                      <input type="checkbox" name="fixedIncome" id="fe227">
                      <label class="checkbox-aligned elq-item-label" for="fe227">Fixed Income
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-layout-col">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement10" class="elq-field-style form-element-layout row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <div class="single-checkbox-row row">
                      <input type="checkbox" name="multiAsset" id="fe228">
                      <label class="checkbox-aligned elq-item-label" for="fe228">Multi-Asset
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-layout-col">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement11" class="elq-field-style form-element-layout row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <div class="single-checkbox-row row">
                      <input type="checkbox" name="Unsubscribefromallemails" id="fe222">
                      <label class="checkbox-aligned elq-item-label" for="fe222">Unsubscribe from all emails
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-layout-col">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement12" class="elq-field-style form-element-layout row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <input type="Submit" class="submit-button-style " value="Subscribe" id="fe221">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>  
