<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-aem-form-confirmation-placeholder'}" />
<div class="cmp-aem-form-confirmation">
    <div class="row">
        <div class="cmp-aem-form-confirmation__label-wrap"></div>
    </div>
</div>