<div class="cmp-disclosures">
    <div class="cmp-disclosures__disclosures--basic">
        <br data-sly-test="${disclosures.id=='true'}">
        ${disclosures.content @ context='html'}
    </div>
    <div class="cmp-disclosures__disclosures--see-more">
        <br data-sly-test="${seeMoreDisclosures.id=='true'}">
        ${seeMoreDisclosures.content @ context='html'}
    </div>
    <div class="cmp-disclosures__toggle d-flex justify-content-end" aria-expanded="false">
        <span class="cmp-disclosures__toggle--more"></span>
        <span class="cmp-disclosures__toggle--less"></span>
    </div>
</div>
