<div class="cmp-agent-presence-in-page">
    <h2 class="cmp-agent-presence-in-page__title">Agent Presence Full Width</h2>
    <div class="cmp-agent-presence-in-page__agent">
        <div class="cmp-agent-presence-in-page__image">
            <img class="polyfill-object-fit-ie"
                src="https://nylprofessionals.newyorklife.com/Production/Producer/Image/Standard/Agent_0165115_Image_16691.jpg"
                alt="SEAN MICHAEL BARKER New York Life PARTNER">
            <div class="cmp-agent-presence-in-page__image-name">
                <h3 class="cmp-agent-presence-in-page__name">SEAN MICHAEL BARKER</h3>
                <span class="cmp-agent-presence-in-page__designation">New York Life PARTNER</span>
            </div>
            <div class="cmp-agent-presence-in-page__cta-btn">
                <a href="https://www.newyorklife.com/agent/smbarker" class="nyl-button button--primary">
                    <span class="cmp-agent-presence-in-page__data-connect">Contact me</span>
                    <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="cmp-agent-presence-in-page__details">
            <div class="cmp-agent-presence-in-page__details-name">
                <h3 class="cmp-agent-presence-in-page__name cmp-agent-presence-in-page__sub-title">SEAN MICHAEL BARKER
                </h3>
                <span class="cmp-agent-presence-in-page__designation">New York Life PARTNER</span>
            </div>
            <div class="cmp-agent-presence-in-page__sub-details">
                <h4 class="cmp-agent-presence-in-page__sub-title">Education and Licensing</h4>
                <p>
                    <span data-toggle="popover" data-content="CERTIFIED IN LONG-TERM CARE" data-original-title=""
                        title="">CLTC</span></p>
                <p>Licensed to assist with
                    <span data-toggle="popover" data-content="Licensed in: IN, KY, FL" data-original-title=""
                        title="">Life Insurance</span>,
                    <span data-toggle="popover" data-content="Licensed in: FL, IN, KY" data-original-title=""
                        title="">Annuities</span>,
                    <span data-toggle="popover"
                        data-content="I can work with you to help plan for extended care events." data-original-title=""
                        title="">Long Term Care</span> and
                    <span data-toggle="popover"
                        data-content="I can help you find the right investment vehicles, like a 529 plan or a mutual fund, to help reach your financial goals."
                        data-original-title="" title="">Investments</span></p>
            </div>
            <div class="cmp-agent-presence-in-page__no-data">
                <h4 class="cmp-agent-presence-in-page__sub-title">Agent Presence Full Width</h4>
                <p>“Positive thinking means expecting, believing, and visualizing what you want to achieve. It means
                    seeing in your mind’s eye the thing you want, as an accomplished fact.”</p>
            </div>
            <div class="cmp-agent-presence-in-page__more-details">

                <div class="cmp-agent-presence-in-page__address-block">
                    <h4 class="cmp-agent-presence-in-page__sub-title">Address</h4>
                    <p>9300 SHELBYVILLE ROAD SUITE 1250 LOUISVILLE, KY 40222</p>
                </div>
                <div class="cmp-agent-presence-in-page__contact">
                    <p><span>Cell: </span>628-496-7554</p>
                    <p><span>Email: </span><a href="mailto:smbarker@newyorklife.com">smbarker@newyorklife.com</a></p>
                </div>
            </div>
            <div class="cmp-agent-presence-in-page__cta-btn">
                <a href="https://www.newyorklife.com/agent/smbarker" class="nyl-button button--primary">
                    <span class="cmp-agent-presence-in-page__data-connect">Contact me</span>
                    <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
