<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.productUnitValueCode, classAppend='cmp-auv-placeholder'}" />
<div class="cmp-auv" data-sly-test="${properties.productUnitValueCode}"
    data-fund-code="${properties.productUnitValueCode}">
    <div class="nyl-datatable table-responsive">
        <table id="auv" class="table table-striped">
            <caption class="d-none">Fund Values Table</caption>
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-4 d-flex align-items-end">${'nyl.AUV.fund' @ i18n}</th>
                    <th scope="col" class="col d-flex align-items-end">${'nyl.AUV.asOf' @ i18n}</th>
                    <th scope="col" class="col d-flex align-items-end">${'nyl.AUV.changeFrom' @ i18n}</th>
                    <th scope="col" class="col d-flex align-items-end">${'nyl.AUV.percentChange' @ i18n}</th>
                    <th scope="col" class="col d-flex align-items-end">${'nyl.AUV.percentChangeYTD' @ i18n}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="col-4"></td>
                    <td class="col"></td>
                    <td class="col"></td>
                    <td class="col"></td>
                    <td class="col"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="d-flex">
                    <th scope="col" class="col-4 d-flex flex-column align-items-start">
                        <input type="text" class="form-control" aria-label="${'nyl.AUV.fund' @ i18n}Search Input" />
                    </th>
                    <th scope="col" class="col d-flex align-items-end">
                        <input type="text" class="form-control" aria-label="${'nyl.AUV.asOf' @ i18n}Search Input" />
                    </th>
                    <th scope="col" class="col d-flex align-items-end">
                        <input type="text" class="form-control"
                            aria-label="${'nyl.AUV.changeFrom' @ i18n}Search Input" />
                    </th>
                    <th scope="col" class="col d-flex align-items-end">
                        <input type="text" class="form-control"
                            aria-label="${'nyl.AUV.percentChange' @ i18n}Search Input" />
                    </th>
                    <th scope="col" class="col d-flex align-items-end">
                        <input type="text" class="form-control"
                            aria-label="${'nyl.AUV.percentChangeYTD' @ i18n}Search Input" />
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div id="fundValuesErrorMessage" class="d-none">
    <p>${'nyl.AUV.errorMessage' @ i18n}</p>
</div>
<div id="icon-caret" class="d-none">
    <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--white.svg"
        class="icon-caret ml-2" alt="">
</div>
<div class="nyl-datatable__label" data-filter-by="${'foundation.filterByKeyword' @ i18n}"
    data-sort-ascending=" ${'foundation.sortAscending' @ i18n}"
    data-sort-descending="${'foundation.sortDescending' @ i18n}"></div>
