<div class="cmp-cost-of-ltc result-view" data-i18-values='{
        "service": "Service",
        "unit": "Unit",
        "type": "Type",
        "usNationalAvg": "U.S. National Average",
        "numberOne": "1",
        "numberTwo": "2",
        "numberThree": "3"
    }' data-authored-values='{
        "errorMessage": "This application is currently unavailable. Please reload the page or try again later.",
        "homeHealthCareMonthlyAlert": "Please select a region and a rate attribute to see estimated costs.",
        "assistedLivingFacilitiesHourlyAlert": "Please select a region and a rate attribute to see estimated costs.",
        "assistedLivingFacilitiesDailyAlert": "Please select a region and a rate attribute to see estimated costs.",
        "skilledNursingHomeMonthlyAlert": "Please select a region and a rate attribute to see estimated costs.",
        "skilledNursingHomeHourlyAlert": "Please select a region and a rate attribute to see estimated costs.",
        "baseStateMessage": "State message"
    }'>
    <div class="cmp-cost-of-ltc__heading" style="transition: none 0s ease 0s;">Estimated cost of care:</div>
    <form class="cmp-cost-of-ltc__form" id="cmp-cost-of-ltc-form">
        <a class="cmp-cost-of-ltc__listcontainer--modifyinfo accordion-button collapsed" data-toggle="collapse"
            href="#cmp-cost-of-ltc__modifyinfo-1933200742_9" role="button" aria-expanded="false"
            aria-controls="cmp-cost-of-ltc__modifyinfo-1933200742_9" onkeydown="" style="transition: none 0s ease 0s;">
            Modify information<span class="cmp-cost-of-ltc__caret-icon"></span>
        </a>
        <div id="cmp-cost-of-ltc__modifyinfo-1933200742_9"
            class="cmp-cost-of-ltc__listcontainer--modifyinfo--body collapse show"
            aria-labelledby="cmp-cost-of-ltc__modifyinfo-1933200742_9">
            <div class="form-group dropDownList cmp-cost-of-ltc__listcontainer row">
                <div class="col-12 col-lg-6">
                    <p class="cmp-cost-of-ltc__listcontainer--label-top">Lets start with location.</p>
                    <label class="cmp-cost-of-ltc__listcontainer--label-state" for="state-1933200742_10"
                        style="transition: none 0s ease 0s;">Location by state and region</label>
                    <div class="row">
                        <div class="col-12 col-md-6 cmp-cost-of-ltc__state-select-wrapper">
                            <select id="state-1933200742_10" name="state" required=""
                                class="col form-control form-control-lg cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__state-selector"
                                data-select-value="Select a region">
                                <option value="" selected="" disabled="" style="transition: none 0s ease 0s;">Select a
                                    state</option>
                                <option value="AL" style="transition: none 0s ease 0s;">Alabama</option>
                                <option value="AK" style="transition: none 0s ease 0s;">Alaska</option>
                                <option value="AZ" style="transition: none 0s ease 0s;">Arizona</option>
                                <option value="AR" style="transition: none 0s ease 0s;">Arkansas</option>
                                <option value="CA" style="transition: none 0s ease 0s;">California</option>
                                <option value="CO" style="transition: none 0s ease 0s;">Colorado</option>
                                <option value="CT" style="transition: none 0s ease 0s;">Connecticut</option>
                                <option value="DE" style="transition: none 0s ease 0s;">Delaware</option>
                                <option value="FL" style="transition: none 0s ease 0s;">Florida</option>
                                <option value="GA" style="transition: none 0s ease 0s;">Georgia</option>
                                <option value="HI" style="transition: none 0s ease 0s;">Hawaii</option>
                                <option value="ID" style="transition: none 0s ease 0s;">Idaho</option>
                                <option value="IL" style="transition: none 0s ease 0s;">Illinois</option>
                                <option value="IN" style="transition: none 0s ease 0s;">Indiana</option>
                                <option value="IA" style="transition: none 0s ease 0s;">Iowa</option>
                                <option value="KS" style="transition: none 0s ease 0s;">Kansas</option>
                                <option value="KY" style="transition: none 0s ease 0s;">Kentucky</option>
                                <option value="LA" style="transition: none 0s ease 0s;">Louisiana</option>
                                <option value="ME" style="transition: none 0s ease 0s;">Maine</option>
                                <option value="MD" style="transition: none 0s ease 0s;">Maryland</option>
                                <option value="MA" style="transition: none 0s ease 0s;">Massachusetts</option>
                                <option value="MI" style="transition: none 0s ease 0s;">Michigan</option>
                                <option value="MN" style="transition: none 0s ease 0s;">Minnesota</option>
                                <option value="MS" style="transition: none 0s ease 0s;">Mississippi</option>
                                <option value="MO" style="transition: none 0s ease 0s;">Missouri</option>
                                <option value="MT" style="transition: none 0s ease 0s;">Montana</option>
                                <option value="NE" style="transition: none 0s ease 0s;">Nebraska</option>
                                <option value="NV" style="transition: none 0s ease 0s;">Nevada</option>
                                <option value="NH" style="transition: none 0s ease 0s;">New Hampshire</option>
                                <option value="NJ" style="transition: none 0s ease 0s;">New Jersey</option>
                                <option value="NM" style="transition: none 0s ease 0s;">New Mexico</option>
                                <option value="NY" style="transition: none 0s ease 0s;">New York</option>
                                <option value="NC" style="transition: none 0s ease 0s;">North Carolina</option>
                                <option value="ND" style="transition: none 0s ease 0s;">North Dakota</option>
                                <option value="OH" style="transition: none 0s ease 0s;">Ohio</option>
                                <option value="OK" style="transition: none 0s ease 0s;">Oklahoma</option>
                                <option value="OR" style="transition: none 0s ease 0s;">Oregon</option>
                                <option value="PA" style="transition: none 0s ease 0s;">Pennsylvania</option>
                                <option value="RI" style="transition: none 0s ease 0s;">Rhode Island</option>
                                <option value="SC" style="transition: none 0s ease 0s;">South Carolina</option>
                                <option value="SD" style="transition: none 0s ease 0s;">South Dakota</option>
                                <option value="TN" style="transition: none 0s ease 0s;">Tennessee</option>
                                <option value="TX" style="transition: none 0s ease 0s;">Texas</option>
                                <option value="UT" style="transition: none 0s ease 0s;">Utah</option>
                                <option value="VT" style="transition: none 0s ease 0s;">Vermont</option>
                                <option value="VA" style="transition: none 0s ease 0s;">Virginia</option>
                                <option value="WA" style="transition: none 0s ease 0s;">Washington</option>
                                <option value="DC" style="transition: none 0s ease 0s;">Washington DC</option>
                                <option value="WV" style="transition: none 0s ease 0s;">West Virginia</option>
                                <option value="WI" style="transition: none 0s ease 0s;">Wisconsin</option>
                                <option value="WY" style="transition: none 0s ease 0s;">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 cmp-cost-of-ltc__region-select-wrapper">
                            <label for="region-1933200742_11" class="d-none" style="transition: none 0s ease 0s;">Select
                                a region</label>
                            <select id="region-1933200742_11" name="region"
                                class="col form-control form-control-lg  cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__region-selector">
                                <option value="" selected="" disabled="">Select a region</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 cmp-cost-of-ltc__listcontainer--filters" id="ltcFilters">
                    <label class="cmp-cost-of-ltc__listcontainer--label-rate"
                        style="transition: none 0s ease 0s;">Rate</label>
                    <div class="row">
                        <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                            <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration hourly"
                                value="hourly" style="transition: none 0s ease 0s;">Hourly</button>
                        </div>
                        <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                            <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration daily"
                                value="daily" style="transition: none 0s ease 0s;">Daily</button>
                        </div>
                        <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                            <button type="button"
                                class="cmp-cost-of-ltc__listcontainer--filters--duration monthly active" value="monthly"
                                style="transition: none 0s ease 0s;">Monthly</button>
                        </div>
                        <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                            <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration yearly"
                                value="yearly" style="transition: none 0s ease 0s;">Yearly</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="nyl-button cmp-cost-of-ltc__ltcsubmit">Apply</button>
            <button type="submit" class="nyl-button cmp-cost-of-ltc__ltcapply" style="transition: none 0s ease 0s;"
                disabled="">Apply</button>
        </div>
    </form>
    <div class="cmp-cost-of-ltc__card--container row">
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card home fetch-success">
                <div class="cmp-cost-of-ltc__card--heading" style="transition: none 0s ease 0s;">Home health care</div>
                <div class="cmp-cost-of-ltc__card--description" style="transition: none 0s ease 0s;">Aides who come to
                    your home to help with everyday activities or medical care.*</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table">
                    <em class="cmp-cost-of-ltc__card--info-icon"></em>
                    <div class="cmp-cost-of-ltc__card--info-desc">Please select a region and a rate attribute
                        to see estimated costs.</div>
                </div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card assist fetch-success">
                <div class="cmp-cost-of-ltc__card--heading" style="transition: none 0s ease 0s;">Assisted living
                    facilities</div>
                <div class="cmp-cost-of-ltc__card--description" style="transition: none 0s ease 0s;"> Housing facilities
                    that provide supervision or assistance with activities of daily living.*</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table">
                    <div class="cmp-cost-of-ltc__card--category-heading">
                        <div class="row">
                            <div class="cmp-cost-of-ltc__card--table-unit col-8">Unit</div>
                            <div class="cmp-cost-of-ltc__card--table-month col-4">monthly</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">
                            <span>Monthly Rate 2 Bedroom<sup class="d-none">2</sup></span>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">
                            <span>$6,180.25</span>
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$5,248.46</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">
                            <span>Studio Rate<sup class="d-none">2</sup></span>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">
                            <span>$5,004.08</span>
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$4,241.46</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">
                            <span>Monthly Rate 1 Bedroom<sup class="d-none">2</sup></span>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">
                            <span>$5,580.76</span>
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$4,879.42</p>
                        </div>
                    </div>
                </div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card skilled fetch-success">
                <div class="cmp-cost-of-ltc__card--heading" style="transition: none 0s ease 0s;">Skilled nursing home
                </div>
                <div class="cmp-cost-of-ltc__card--description" style="transition: none 0s ease 0s;">A facility where
                    residents receive continuous nursing care and support.*</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table">
                    <em class="cmp-cost-of-ltc__card--info-icon"></em>
                    <div class="cmp-cost-of-ltc__card--info-desc">Please select a region and a rate attribute
                        to see estimated costs.</div>
                </div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
    </div>
    <h6 class="cmp-cost-of-ltc__disclaimer">
        <p style="text-align: left; transition: none 0s ease 0s;">*Each provider surveyed may not offer the type of care
            or housing encompassed in the survey. Care costs collected by surveying long term care providers for the
            rates of care and/or housing that they provide is compiled and averaged by LTCG. LTCG endeavors to make sure
            this information is as accurate as possible, but makes no claims, promises, or guarantees about the
            accuracy, completeness, or adequacy of the contents of this site, and expressly disclaims liability for
            errors and omissions in the contents of this site. The data presented in this site should be used as a
            reference only. If you are using or need to utilize long term care services, contact the service provider to
            verify their individual costs as they may differ from the averages reported.</p>
    </h6>
    <h6 class="cmp-cost-of-ltc__footnote d-none">
        <p style="text-align: left; transition: none 0s ease 0s;"><sup style="transition: none 0s ease 0s;">1</sup>
            Assumption based on 8 hours a day, 5 days a week, for 52 weeks (2080 hours).<br>
            <sup style="transition: none 0s ease 0s;">2</sup> Based on 12 months of the monthly rate.<sup
                style="transition: none 0s ease 0s;"><br>
                3</sup> Based on the daily rate (365 days).</p>
    </h6>

    <div class="cmp-cost-of-ltc__no-data-card-template d-none">
        <em class="cmp-cost-of-ltc__card--info-icon"></em>
        <div class="cmp-cost-of-ltc__card--info-desc"></div>
    </div>
    <div class="cmp-cost-of-ltc__data-row-item-template d-none">
        <div class="row">
            <div class="cmp-cost-of-ltc__card--table-room col-8">
                <span></span>
                <p class="cmp-cost-of-ltc__card--table-room-avg"></p>
            </div>
            <div class="cmp-cost-of-ltc__card--table-rate col-4">
                <span></span>
                <p class="cmp-cost-of-ltc__card--table-rate-avg"></p>
            </div>
        </div>
    </div>
    <div class="cmp-cost-of-ltc__card--category-heading-template d-none">
        <div class="cmp-cost-of-ltc__card--category-heading">
            <div class="row">
                <div class="cmp-cost-of-ltc__card--table-unit col-8"></div>
                <div class="cmp-cost-of-ltc__card--table-month col-4"></div>
            </div>
        </div>
    </div>

    <div class="cmp-cost-of-ltc__error" style="transition: none 0s ease 0s;">This application is currently unavailable.
        Please reload the page or try again later.</div>
</div>
