<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.teaserHeadline, classAppend='cmp-cost-of-ltc-placeholder'}" />
<div class="cmp-cost-of-ltc" data-i18-values='{
    "service": "Service",
    "unit": "Unit",
    "type": "Type",
    "usNationalAvg": "UsNational",
    "numberOne": "1",
    "numberTwo": "2",
    "numberThree": "3",
    "modify": "Modify information"
    }' data-authored-values='{
        "errorMessage": "Cost of LTC component Error!",
        "homeHealthCareMonthlyAlert": "Home Health Care monthly alert text",
        "assistedLivingFacilitiesHourlyAlert": "Assisted Living Facilities hourly alert text",
        "assistedLivingFacilitiesDailyAlert": "Assisted Living Facilities daily alert text",
        "skilledNursingHomeMonthlyAlert": "Skilled Nursing Home monthly alert text",
        "skilledNursingHomeHourlyAlert": "Skilled Nursing Home hourly alert text",
        "baseStateMessage": "Base state message"
    }'>
    <div class="cmp-cost-of-ltc__heading" data-sly-test="${properties.teaserHeadline}">Cost of LTC component Headline
    </div>
    <form class="cmp-cost-of-ltc__form" data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel"
        id="cmp-cost-of-ltc-form">
        <a class="cmp-cost-of-ltc__listcontainer--modifyinfo accordion-button collapsed" data-toggle="collapse"
            href="#cmp-cost-of-ltc__modifyinfo-123" role="button" aria-expanded="false"
            aria-controls="cmp-cost-of-ltc__modifyinfo-123">Modify information</a>
        <div id="cmp-cost-of-ltc__modifyinfo-123" class="cmp-cost-of-ltc__listcontainer--modifyinfo--body collapse show"
            aria-labelledby="cmp-cost-of-ltc__modifyinfo-123">
            <div class="form-group dropDownList cmp-cost-of-ltc__listcontainer row">
                <div class="col-12 col-lg-6" data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
                    <label class="cmp-cost-of-ltc__listcontainer--labelstate" for="state-123">Location by state and
                        region</label>
                    <div class="row">
                        <div class="col-12 col-md-6 cmp-cost-of-ltc__state-select-wrapper">
                            <select id="state-123" name="state" required
                                class="col form-control form-control-lg cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__state-selector">
                                <option value="">Select a state</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="DC">Washington DC</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 cmp-cost-of-ltc__region-select-wrapper">
                            <label for="region-123" class="d-none"></label>
                            <select id="region-123" name="region" disabled
                                class="col form-control form-control-lg  cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__region-selector">
                                <option value="" selected="" disabled="">Select a region</option>
                                <option value="BAKERSFIELD">BAKERSFIELD</option>
                                <option value="CHICO-PARADISE">CHICO-PARADISE</option>
                                <option value="FRESNO">FRESNO</option>
                                <option value="LOS ANGELES-RIVERSIDE-ORANGE COUNTY">LOS ANGELES-RIVERSIDE-ORANGE COUNTY
                                </option>
                                <option value="MODESTO">MODESTO</option>
                                <option value="NON-METRO">NON-METRO</option>
                                <option value="SACRAMENTO-YOLO">SACRAMENTO-YOLO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 cmp-cost-of-ltc__listcontainer--filters" id="ltcFilters">
                    <fieldset>
                        <legend class="cmp-cost-of-ltc__listcontainer--label-rate">Rate</legend>
                        <div class="row">
                            <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                                <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration hourly"
                                    value="hourly">Hourly</button>
                            </div>
                            <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                                <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration daily"
                                    value="daily">Daily</button>
                            </div>
                            <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                                <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration monthly"
                                    value="monthly">Monthly</button>
                            </div>
                            <div class="col-6 col-md-3 cmp-cost-of-ltc__rates-btn-wrapper">
                                <button type="button" class="cmp-cost-of-ltc__listcontainer--filters--duration yearly"
                                    value="yearly">Yearly</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <button type="button" class="nyl-button cmp-cost-of-ltc__ltcsubmit" disabled>Submit</button>
            <button type="button" class="nyl-button cmp-cost-of-ltc__ltcapply">Apply</button>
        </div>
    </form>

    <div class="cmp-cost-of-ltc__card--container row">
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card home">
                <div class="cmp-cost-of-ltc__card--heading">Home Health Care headline text here</div>
                <div class="cmp-cost-of-ltc__card--description">Home Health Care description text here</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table">
                    <div class="cmp-cost-of-ltc__card--category-heading">
                        <div class="row">
                            <div class="cmp-cost-of-ltc__card--table-unit col-8">Service</div>
                            <div class="cmp-cost-of-ltc__card--table-month col-4">yearly</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">Registered Nurse<sup>1</sup>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">$0
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$0</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">Home Health Aide<sup>1</sup>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">$0
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$0</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">Licensed Practical Nurse<sup>1</sup>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">$0
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$0</p>
                        </div>
                    </div>
                </div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card assist">
                <div class="cmp-cost-of-ltc__card--heading">Assisted Living headline text here</div>
                <div class="cmp-cost-of-ltc__card--description">Assisted Living description text here</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table">
                    <div class="cmp-cost-of-ltc__card--category-heading">
                        <div class="row">
                            <div class="cmp-cost-of-ltc__card--table-unit col-8">Unit</div>
                            <div class="cmp-cost-of-ltc__card--table-month col-4">yearly</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">Monthly Rate 2 Bedroom<sup>2</sup>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">$53,737.32
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$62,981.52</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">Studio Rate<sup>2</sup>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">$42,876.24
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$50,897.52</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">Monthly Rate 1 Bedroom<sup>2</sup>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">$45,366.6
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$58,553.04</p>
                        </div>
                    </div>
                </div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 cmp-cost-of-ltc__card--wrapper">
            <div class="cmp-cost-of-ltc__card skilled">
                <div class="cmp-cost-of-ltc__card--heading">Skilled Nursing headline text here</div>
                <div class="cmp-cost-of-ltc__card--description">Skilled Nursing description text here</div>
                <hr>
                <div class="cmp-cost-of-ltc__card--table">
                    <div class="cmp-cost-of-ltc__card--category-heading">
                        <div class="row">
                            <div class="cmp-cost-of-ltc__card--table-unit col-8">Type</div>
                            <div class="cmp-cost-of-ltc__card--table-month col-4">yearly</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">Private Room Annual Rate<sup>3</sup>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">$105,986.04
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$110,821.92</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cmp-cost-of-ltc__card--table-room col-8">Semi-Private Room Annual<sup>3</sup>
                            <p class="cmp-cost-of-ltc__card--table-room-avg">U.S. National Average</p>
                        </div>
                        <div class="cmp-cost-of-ltc__card--table-rate col-4">$96,497.04
                            <p class="cmp-cost-of-ltc__card--table-rate-avg">$97,107</p>
                        </div>
                    </div>
                </div>
                <img class="cmp-cost-of-ltc__spinner" alt=""
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/loading_icon.png">
            </div>
        </div>
    </div>
    <h6 class="cmp-cost-of-ltc__disclaimer">Disclaimer text goes here</h6>
    <h6 class="cmp-cost-of-ltc__footnote">Footnote text goes here</h6>

    <div class="cmp-cost-of-ltc__no-data-card-template d-none">
        <em class="cmp-cost-of-ltc__card--info-icon"></em>
        <div class="cmp-cost-of-ltc__card--info-desc"></div>
    </div>
    <div class="cmp-cost-of-ltc__data-row-item-template d-none">
        <div class="row">
            <div class="cmp-cost-of-ltc__card--table-room col-8">
                <span></span>
                <p class="cmp-cost-of-ltc__card--table-room-avg"></p>
            </div>
            <div class="cmp-cost-of-ltc__card--table-rate col-4">
                <span></span>
                <p class="cmp-cost-of-ltc__card--table-rate-avg"></p>
            </div>
        </div>
    </div>
    <div class="cmp-cost-of-ltc__card--category-heading-template">
        <div class="cmp-cost-of-ltc__card--category-heading">
            <div class="row">
                <div class="cmp-cost-of-ltc__card--table-unit col-8">${categoryTitle}</div>
                <div class="cmp-cost-of-ltc__card--table-month col-4">${rate}</div>
            </div>
        </div>
    </div>
</div>
