<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.teaserHeadline, classAppend='cmp-cost-of-ltc-placeholder'}" />
<div class="cmp-cost-of-ltc text-center" data-sly-test="${properties.teaserHeadline}">
    <div class="cmp-cost-of-ltc__heading">${properties.teaserHeadline} </div>
    <form class="cmp-cost-of-ltc__form" data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
        <a class="cmp-cost-of-ltc__listcontainer--modifyinfo accordion-button  d-none" data-toggle="collapse"
            href="#cmp-cost-of-ltc__modifyinfo-${identifier.id}" role="button" aria-expanded="false"
            aria-controls="cmp-cost-of-ltc__modifyinfo-${identifier.id}">
            Modify information
        </a>
        <div id="cmp-cost-of-ltc__modifyinfo-${identifier.id}"
            class="cmp-cost-of-ltc__listcontainer--modifyinfo--body collapse show"
            aria-labelledby="cmp-cost-of-ltc__modifyinfo-${identifier.id}">
            <div class="form-group dropDownList mb-5 cmp-cost-of-ltc__listcontainer">
                <div data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
                    <label class="cmp-cost-of-ltc__listcontainer--labelstate"
                        for="state-${identifier.id}">${'ltc.general.locationText' @
                        i18n}</label>
                    <select id="state-${identifier.id}" name="state" required
                        class="col form-control form-control-lg cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__state-selector">
                        <option value="">Select a state</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="DC">Washington DC</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                    <label data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel"
                        for="region-${identifier.id}" class="d-none"></label>
                    <select id="region-${identifier.id}" name="region" disabled
                        class="col form-control form-control-lg  cmp-cost-of-ltc__listcontainer--list cmp-cost-of-ltc__region-selector">
                        <option value="">${'ltc.general.selectRegion' @ i18n}</option>
                    </select>
                </div>
                <div class="cmp-cost-of-ltc__listcontainer--filters d-none" id="ltcFilters">
                    <fieldset>
                        <legend class="cmp-cost-of-ltc__listcontainer--labelrate">${'foundation.rate' @ i18n}</legend>
                        <label for="hourly" class="d-none">${'foundation.rate.hourly' @ i18n}</label>
                        <input class="cmp-cost-of-ltc__listcontainer--filters--duration" type="text" name="hourly"
                            value="${'foundation.rate.hourly' @ i18n}">
                        <label for="daily" class="d-none">${'foundation.rate.daily' @ i18n}</label>
                        <input class="cmp-cost-of-ltc__listcontainer--filters--duration" type="text" name="daily"
                            value="${'foundation.rate.daily' @ i18n}">
                        <label for="monthly" class="d-none">${'foundation.rate.monthly' @ i18n}</label>
                        <input class="cmp-cost-of-ltc__listcontainer--filters--duration" type="text" name="monthly"
                            value="${'foundation.rate.monthly' @ i18n}">
                        <label for="yearly" class="d-none">${'foundation.rate.yearly' @ i18n}</label>
                        <input class="cmp-cost-of-ltc__listcontainer--filters--duration yearly" type="text"
                            name="yearly" value="${'foundation.rate.yearly' @ i18n}">
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
    <button type="button" class="nyl-button cmp-cost-of-ltc__ltcsubmit" disabled>Submit</button>
    <button type="button" class="nyl-button cmp-cost-of-ltc__ltcapply">Apply</button>
</div>
