<div class="cmp-search search collapse show" id="search" style="">
    <div class="mx-auto col-md-12 col-lg-6 my-5 pb-5">
        <div class="cmp-search__container">
            <div class="cmp-search__input--layout">
                <form id="nylsearch" name="nylsearch" action="/qa/sprint-22/us41030/search-page.html" method="get">
                    <fieldset>
                        <legend>
                            <p class="col-12 text-left mx-0 pl-0">
                                <label for="search-input">Search</label>
                            </p>
                        </legend>
                        <div class="row mx-0">
                            <div class="col-10 col-md-11 px-0">
                                <input type="text" name="q" placeholder="Type to search " aria-label="Type to search "
                                    id="search-input" class="cmp-search__input">
                            </div>
                            <div class="col-2 col-md-1 px-0 text-center" title="Submit">
                                <button type="submit" form="nylsearch" aria-label="Search Input Button"
                                    class="cmp-search__button nyl-button">
                                    <i class="icon-search--white" aria-hidden="true"> <svg width="32" height="32"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path class="icon-search"
                                                d="M24.992 12.951c0 6.534-5.296 11.83-11.83 11.83-6.532 0-11.828-5.296-11.828-11.83 0-6.533 5.296-11.83 11.829-11.83s11.83 5.297 11.83 11.83zm-3.384 8.28l9.059 9.059"
                                                stroke-width="2" stroke="#FFF" fill="none" fill-rule="evenodd"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </i>
                                </button>
                            </div>
                        </div>
                    </fieldset> 
                </form>
            </div>
        </div>
    </div>
</div>
<div class="cmp-search-input">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <form id="cmp-search-input--search-form">
                <fieldset>
                    <legend>Search</legend>
                    <h1>Search</h1>
                    <div class="input-group mb-3">
                        <label for="cmp-search-input__search-input"></label> <input type="search"
                            class="form-control cmp-search-input__search-input" placeholder="Type to search "
                            aria-label="Type to search " aria-describedby="cmp-search-input__search-btn"
                            id="cmp-search-input__search-input"
                            data-searchresultspageurl="/qa/sprint-22/us41030/search-page">
                        <div class="input-group-app">
                            <button class="nyl-button cmp-search-input__search-btn" type="button"
                                id="cmp-search-input__search-btn" value="Search" aria-label="Search">
                                <i class="icon-search--white" aria-hidden="true"> <svg width="32" height="32"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path class="icon-search"
                                            d="M24.992 12.951c0 6.534-5.296 11.83-11.83 11.83-6.532 0-11.828-5.296-11.828-11.83 0-6.533 5.296-11.83 11.829-11.83s11.83 5.297 11.83 11.83zm-3.384 8.28l9.059 9.059"
                                            stroke-width="2" stroke="#FFF" fill="none" fill-rule="evenodd"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="search-results-promoted">
    <div class="row ">
        <div class="col-lg-12 col-md-12">
            <h2 class="cmp-search-facets__sm-heading cmp-search-search-results-heading">Recommended Results</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 search-results-promoted--wrap">
            <div class="card search-results-promoted--card">
                <div class="card-body">
                    <h3 class="card-title">Whole Life Insurance</h3>
                    <p class="card-text">Whole Life insurances is a way to invest in your life with guaranteed
                        protection for your loved ones</p>
                    <a href="/products/life-insurance/whole-life" title="Whole Life Insurance"> <span
                            class="nyl-button"> Learn more <i class="icon-cta-arrow--black" aria-hidden="true"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="18" height="14">
                                    <g class="icon-cta-arrow" fill="none">
                                        <path fill="#FFF" d="M0 6h17v2H0z"></path>
                                        <path stroke="#FFF" stroke-width="2" d="M11 1.343L16.657 7 11 12.657"></path>
                                    </g>
                                </svg></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>