<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-list.jsClientLibrary="${caconfig['com.nyl.foundation.caconfigs.TenantConfig'].jsClientLibraries}">
    <sly data-sly-call="${clientLib.js @ categories=jsClientLibrary}" />
    <sly data-sly-include="custom-footer-clientlibs.html" />
</sly>
