<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-list.cssClientLibrary="${caconfig['com.nyl.foundation.caconfigs.TenantConfig'].cssClientLibraries}">
    <sly data-sly-call="${clientlib.css @ categories=cssClientLibrary}" />
    <sly data-sly-test="${wcmmode.edit}"
        data-sly-call="${clientlib.css @ categories='nyl-foundation.authoring.global'}" />
</sly>
