.cmp-analyze-portfolio {
    @include morningstar-mobile-rotate-styles;
    @include morningstar-section-title-styles;
    @include morningstar-holdings-panel-styles;
    @include morningstar-input-styles;
    @include morningstar-checkbox-styles;
    @include morningstar-report-button-styles;
    @include morningstar-mds-button-overrides;
    @include morningstar-pagination-styles;
    .ec-xray__site-navigation {
        @include sticky-position;
    }
    h4 {
        color: $steel !important;
    }
    button:focus {
        outline: none;
    }
    label {
        margin-bottom: 0;
    }
    .mds-button--small {
        &:before {
            margin-bottom: 0;
        }
        .mds-button__text {
            margin-top: 0;
        }
    }
    .ec-section__section,
    .ec-section--standalone .ec-section__section,
    .mstar-container-xray-main .ec-report-builder .ec-section__section--all,
    .ec-disclaimer__top,
    .mds-list-group__item {
        border-color: $medium-gray;
    }
    .mstar-container-xray-main .ec-report-builder .ec-section__section--report-button {
        padding-bottom: calcRem(6px);
    }

    .ec-edit-holdings .mds-data-table__cell {
        vertical-align: middle;
    }
    .ec-section--xray {
        .ec-section {
            padding: 0 calcRem(15px);
            &__section {
                align-items: baseline;
                flex-wrap: wrap;
            }
        }
        .ec-section--standalone,
        .ec-section--nested {
            padding: 0;
        }
        // table headers
        .mds-data-table__row {
            border-top: 1px solid transparent;
        }
        .mds-data-table__header-cell {
            padding: 0;
            &:last-child {
                padding-left: calcRem(5px);
            }
            &-inner {
                @include font-size(13px);
                @include line-height(16px);
                font-weight: $font-weight-normal;
                white-space: nowrap;
            }
            &:first-child {
                .mds-data-table__header-cell-inner {
                    @include font-size(14px);
                    @include line-height(18px);
                }
            }
        }
        // table body
        .mds-data-table__body {
            .mds-data-table__row {
                .mds-data-table__cell {
                    @include font-size(13px);
                    @include line-height(16px);
                    font-weight: $font-weight-bold;
                    border: none;
                    border-bottom: 2px solid $white;
                    background: $light-steel-3;
                    padding: calcRem(22px) 0;
                    &:first-child {
                        @include font-size(14px);
                        font-weight: $font-weight-normal;
                        padding-left: calcRem(10px);
                    }
                    &:last-child {
                        padding-right: calcRem(15px);
                    }
                }
            }
        }
    }

    .mds-button-group {
        .mds-button,
        .mds-button--secondary {
            &:first-child,
            &:first-child:focus:after,
            &:last-child,
            &:last-child:focus:after {
                border-radius: 0;
            }
            &:not(:first-child) {
                margin-left: calcRem(20px);
            }
        }
    }
    // underlined toggles
    .mds-button,
    .mds-button--secondary {
        @include font-size(16px);
        @include line-height(19px);
        border-radius: 0;
        box-shadow: none;
        padding: calcRem(4px) 0;
        &.mds-button--active {
            border-radius: 0;
            box-shadow: none;
            color: $steel;
            background: transparent;
            border-bottom: 4px solid $medium-dusk;
            font-weight: $font-weight-bold;
        }
        &:hover {
            background: transparent;
            color: $dark-steel-2;
        }
        // dropdown toggle
        &.ec-tabs__dropdown-toggle {
            min-width: calcRem(110px);
            border: 1px solid $medium-gray;
            letter-spacing: 0.25px;
            font-weight: $font-weight-bold;
        }
    }
    .ec-tabs__dropdown-link {
        padding: 0 calcRem(10px);
    }
    .ec-tabs__dropdown-menu {
        margin-top: -1px;
        li:hover {
            background: $light-steel-3;
        }
    }
    .ec-section {
        padding: 0 calcRem(15px);
        &.ec-section--asset-allocation-table,
        &.ec-section--highlight {
            padding-left: 0;
        }
        // View Holdings & Generate Report button bar
        &.ec-section--tool-bar {
            .mds-layout-grid {
                &__row {
                    display: flex;
                }
                &__col {
                    &:first-child {
                        align-self: flex-end;
                    }
                    &:last-child {
                        padding-bottom: calcRem(43px);
                        margin-bottom: calcRem(26px);
                        padding-right: calcRem(21px);
                    }
                    .mds-button {
                        @include line-height(18px);
                    }
                }
            }
        }
    }
    .mstar-container-xray-main .ec-section__content.ec-section__content--chart.ec-section--no-header {
        border-bottom: 1px solid $medium-gray;
    }

    .ec-stock-sectors {
        .ec-bullet-chart-panel {
            &__title {
                @include font-size(16px);
                @include line-height(18px);
            }
            &__value {
                @include font-size(22px);
                @include line-height(27px);
                font-weight: $font-weight-bold;
            }
        }
    }
    .ec-section__content--table-regions .mds-data-table__body .mds-data-table__row:first-child {
        .mds-data-table__cell {
            background: transparent;
            &:first-child {
                font-weight: $font-weight-bold;
                .ec-world-regions__icon {
                    display: none;
                }
            }
        }
    }
    .ec-world-regions {
        &__icon {
            margin-top: 0;
            margin-bottom: 0;
        }
        .mstar-table-not-classified .ec-table__cell-content {
            @include line-height(18px);
            font-weight: $font-weight-normal;
        }
    }
    .ec-section__content--stock-stats {
        .ec-section__content.ec-section__content--chart.ec-section--no-header {
            border-bottom: 1px solid transparent;
        }
    }
    .ec-asset-style {
        .ec-section__title .mstar-tooltip-term:after {
            background-position-y: unset;
        }
        &__highlight {
            &-label {
                @include font-size(14px);
                @include line-height(18px);
                font-weight: $font-weight-medium;
            }
            &-value {
                @include font-size(22px);
                @include line-height(27px);
                font-weight: $font-weight-bold;
            }
        }
        &__style-box {
            .label-text,
            .legend-box-text {
                @include font-size(12px);
                @include line-height(14px);
                font-weight: $font-weight-regular;
            }
        }
    }
    .ec-asset-allocation__icon--pie,
    .ec-asset-allocation__icon--bar {
        margin-top: calcRem(2px);
    }
    .mbc-correlation-matrix-items,
    .mbc-correlation-matrix-legend,
    .mbc-correlation-matrix-top,
    .mbc-style-box-chart,
    .mbc-mds-button--icon-only,
    .mbc-horizontal-bar-chart .mbc-axis {
        text,
        .mbc-mds-button__icon {
            fill: $steel;
        }
        .legend-rule {
            fill: $medium-gray;
        }
    }
    .ec-xray {
        .mbc-correlation-matrix-items text {
            @include font-size(14px);
            @include line-height(16px);
            font-weight: $font-weight-normal;
            &.mbc-correlation-matrix-index {
                @include line-height(17px);
                letter-spacing: 0.73px;
                font-weight: $font-weight-bold;
            }
        }
        .mbc-correlation-matrix-legend {
            text {
                @include line-height(18px);
            }
        }
    }
    .ec-section__content--stock-overlap {
        .ec-table__tbody {
            .ec-table__row {
                &.ec-table__row--extended {
                    .ec-table__cell {
                        padding: 0;
                        .ec-table__tbody {
                            .ec-table__cell {
                                border: none;
                                padding: calcRem(22px) calcRem(15px) calcRem(22px) 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .ec-section__content--disclaimer {
        &-content,
        &-copyright {
            @include font-size(14px);
            @include line-height(24px);
            letter-spacing: 0.1px;
        }
    }
    // graph
    .mbc-time-series-line-chart {
        .mbc-canvas {
            padding-left: 10px;
            overflow: visible;
        }
        .mbc-axis {
            &-right,
            &-left {
                .tick {
                    &.dark line,
                    line {
                        stroke: $gray;
                    }
                }
            }
        }
        .mbc-grid-line {
            &.first,
            &.last {
                stroke: $gray;
            }
        }
        text,
        text.mbc-tick-abbreviation {
            fill: $steel;
        }
        .grid__bars:nth-child(odd) {
            fill: $light-steel-4;
        }
    }
    // set font family and font color
    *:not(.ec-bullet-chart-panel__icon):not(.ec-stock-sectors__icon),
    .ec-section *:not(.ec-bullet-chart-panel__icon):not(.ec-stock-sectors__icon):not(.mds-button__text) {
        @extend %base-font;
        color: $steel;
    }
}
