// DEFAULT STYLE
.cmp-timeline {
    p,
    h2 {
        margin-bottom: 0;
    }
    &__heading {
        @extend %font-weight-regular;
        text-align: center;
        @include media-breakpoint-down(sm) {
            @include font-size(28px);
            @include line-height(32px);
        }
    }
    &__container {
        margin-top: calcRem(50px);
        list-style-type: none;
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(40px);
        }
        li {
            &:not(:last-child) {
                .cmp-timeline__thumbnail {
                    @include media-breakpoint-up(md) {
                        &:before {
                            content: '';
                            position: absolute;
                            top: 35px;
                            right: 0;
                            width: calcRem(1px);
                            height: 100%;
                            background: $steel;
                        }
                    }
                }
                .cmp-timeline__history {
                    @include media-breakpoint-down(sm) {
                        &:before {
                            content: '';
                            position: absolute;
                            top: 20px;
                            left: 0;
                            width: calcRem(1px);
                            height: 100%;
                            background: $steel;
                        }
                    }
                }
            }
        }
    }
    &__thumbnail {
        padding: calcRem(21px) calcRem(35px) calcRem(16px) 0;
        position: relative;
        display: inline-flex;
        justify-content: flex-end;
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(7px);
            padding-right: 0;
        }
        @include media-breakpoint-up(md) {
            &:after {
                content: '';
                position: absolute;
                top: 30px;
                right: -8px;
                width: calcRem(17px);
                height: calcRem(17px);
                border-radius: 50%;
                border: 3px solid $white;
            }
        }
        > a {
            max-height: calcRem(137px);
            max-width: calcRem(137px);
            display: inline-flex;
            justify-content: flex-end;
            cursor: default;
            @include media-breakpoint-down(sm) {
                max-height: calcRem(137px);
                max-width: calcRem(137px);
            }
            &.cmp-timeline__icon--expand {
                position: relative;
                width: 100%;
                cursor: pointer;
                &:after {
                    content: '';
                    width: calcRem(27px);
                    height: calcRem(27px);
                    position: absolute;
                    right: calcRem(6px);
                    bottom: calcRem(6px);
                    background: url('../resources/images/icon-expand--steel.svg') no-repeat center/contain;

                    @include media-breakpoint-down(sm) {
                        right: calcRem(3px);
                        bottom: calcRem(3px);
                    }
                }
            }
        }
        @include ie11only {
            img {
                width: 137px;
                height: 137px;
            }
        }
    }

    &__history {
        padding-left: calcRem(35px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(24px);
            margin-left: calcRem(15px);
            &:after {
                content: '';
                position: absolute;
                top: 15px;
                left: -8px;
                width: calcRem(17px);
                height: calcRem(17px);
                border-radius: 50%;
                border: 3px solid $white;
            }
        }
    }
    &__year {
        @extend .h1;
    }
    &__description {
        padding-top: calcRem(8px);
        padding-bottom: calcRem(16px);
        @include font-size(18px);
        @include line-height(28px);
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(4px);
            @include font-size(14px);
            @include line-height(20px);
        }
    }

    &__modal {
        .modal {
            &-dialog {
                max-width: 100%;
                padding: 0 calcRem(15px);
            }
            &-content,
            &-header {
                border: 0;
                border-radius: 0;
                position: relative;
            }
            &-content {
                padding: calcRem(30px) calcRem(20px);
                margin: auto;
                max-width: fit-content;
            }
            &-header {
                position: absolute;
                right: 56px;
                top: 34px;
                padding: 0;
                z-index: 1;
                .close {
                    padding: 0;
                    margin: 0;
                    opacity: 1;
                }
            }
            &-body {
                padding: 0;
                display: inline-flex;
                flex-direction: column;
            }
            @include media-breakpoint-down(sm) {
                &-dialog {
                    margin: 0;
                    height: 100%;
                    max-width: 100%;
                    padding: 0;
                }
                &-content {
                    background: transparent;
                    padding-bottom: 0;
                    padding-top: 0;
                    text-align: center;
                }
                &-body {
                    display: flex;
                }
                &-header {
                    position: fixed;
                    top: 16px;
                    right: 58px;
                }
            }
            @include ie11only {
                &-content {
                    width: auto;
                    .cmp-timeline__modal-image {
                        max-width: calc(100vw - 100px);
                    }
                }
            }
        }
        &-close {
            &:after {
                content: '';
                width: calcRem(28px);
                height: calcRem(28px);
                position: absolute;
                background: url('../resources/images/icon-close--steel.svg') no-repeat center/contain;
                @include media-breakpoint-down(sm) {
                    background-image: url('../resources/images/icon-close--white.svg');
                    background-color: $steel;
                    border: 10px solid $steel;
                    opacity: 0.5;
                    border-radius: 50%;
                    padding: calcRem(10px);
                    width: calcRem(48px);
                    height: calcRem(48px);
                }
            }
        }
        &-description {
            margin-bottom: 0;
            padding-bottom: calcRem(24px);
            width: 0;
            min-width: 85%;
            display: flex;
            flex-wrap: wrap;

            @extend %mobile-full-width;
            @include media-breakpoint-down(sm) {
                order: 2;
                @include font-size(14px);
                @include line-height(20px);
                background: $white;
                padding: calcRem(30px) calcRem(20px);
                position: fixed;
                bottom: 0;
                width: 100%;
                max-width: 100%;
                min-width: unset;
                text-align: left;
                left: 20px;
            }
        }
    }
}

@each $timeline-color, $dark-color in $dark-colors {
    $i: index(($dark-colors), ($timeline-color $dark-color));
    .cmp-timeline {
        ul li:nth-of-type(7n + #{$i}) {
            .cmp-timeline__thumbnail,
            .cmp-timeline__history {
                &:after {
                    background: $dark-color;
                    box-shadow: 0 0 0 1px $dark-color;
                }
            }
            .cmp-timeline__year {
                color: $dark-color;
            }
        }
    }
}
