.cmp-form-range-slider {
    &__value {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0px;
        color: $dark-gray;
        border-radius: 5px;
        border: solid 1px $medium-gray;
        height: 50px;
        width: calcRem(90px);
        outline: none;
        background-color: $white;
        @include media-breakpoint-down(sm) {
            width: calcRem(106px);
        }
    }
    &__tooltip {
        position: relative;
    }
    &__text-field-text {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.69;
        letter-spacing: normal;
        color: $black;
        margin-bottom: 0px;
    }
    &__error {
        font-size: 12px;
        line-height: normal;
        margin: 7px 0 6px;
        display: none;
        color: $error-red;
        text-align: right;
        min-height: 14px;
    }
    &__wrapper {
        position: relative;
        margin: 25px 4px;
        &[aria-invalid='true'] {
            .cmp-form-range-slider {
                &__value {
                    border: 1px solid $error-red;
                    color: $error-red;
                }
                &__error {
                    display: block;
                }
                &__bubble {
                    display: none;
                }
            }
        }
        @include media-breakpoint-up(md) {
            margin: 30px 8px;
        }
        @include media-breakpoint-up(lg) {
            margin: 30px 15px;
        }
    }
    &__text-field-container {
        justify-content: space-between;
        height: 50px;
        align-items: center;
    }
    &__slider-container {
        margin-top: calcRem(20px);
    }
    &__bubble {
        font-size: calcRem(16px);
        line-height: calcRem(27px);
        color: $black;
        position: relative;
        display: inline;
        @include ie11only() {
            top: calcRem(10px);
        }
    }
    &__type {
        width: 100%;
        border-radius: calcRem(8px);
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        height: 8px;
        padding: 0;
        border: none;
        background: transparent;
        @include ie11only() {
            height: calcRem(40px);
        }
        &:focus,
        &:hover {
            height: 8px;
            padding: 0;
            @include ie11only() {
                height: calcRem(40px);
            }
        }
    }
    &__container {
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(70px);
        }
    }
    &__value-container {
        @include media-breakpoint-up(md) {
            text-align: right;
        }
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(10px);
        }
    }
    &__values-container {
        justify-content: space-between;
        line-height: calcRem(27px);
        letter-spacing: 0;
        color: $dark-gray;
    }
    &__values-container.invalid {
        background-color: $error-red;
    }
    .icon-tool-tip {
        width: calcRem(12px);
        height: calcRem(12px);
        margin: calcRem(1px) calcRem(2px) calcRem(2px) calcRem(10px);
    }
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: $dark-rain;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
input[type='range'][aria-invalid='true']::-webkit-slider-thumb {
    background-color: $error-red;
}
input[type='range']::-moz-range-thumb {
    -webkit-appearance: none !important;
    background-color: $dark-rain;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
input[type='range'][aria-invalid='true']::-moz-range-thumb {
    background-color: $error-red;
}
input[type='range']::-ms-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: $dark-rain;
    cursor: pointer;
}
input[type='range'][aria-invalid='true']::-ms-thumb {
    background: $error-red;
}
input[type='range']::-ms-track {
    cursor: pointer;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type='range']::-ms-fill-lower {
    background: $dark-rain;
}
input[type='range'][aria-invalid='true']::-ms-fill-lower {
    background: $error-red;
}
input[type='range']:focus::-ms-fill-lower {
    background: $dark-rain;
}
input[type='range'][aria-invalid='true']:focus::-ms-fill-lower {
    background: $error-red;
}
input[type='range']::-ms-fill-upper {
    background: $medium-quartz;
}
input[type='range'][aria-invalid='true']::-ms-fill-upper {
    background: rgba(216, 35, 19, 0.5);
}
input[type='range']:focus::-ms-fill-upper {
    background: $medium-quartz;
}
input[type='range'][aria-invalid='true']:focus::-ms-fill-upper {
    background: rgba(216, 35, 19, 0.5);
}
