.cmp-disclosures {
    h6 {
        @include font-size(14px);
        @include line-height(17px);
    }
    p {
        display: inline;
    }
    p,
    li {
        @extend .caption__medium;
        @include media-breakpoint-down(sm) {
            @include font-size(12px);
            @include line-height(18px);
        }
    }
    &__toggle {
        margin-top: calcRem(24px);
        > span {
            cursor: pointer;
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(9px);
                height: calcRem(5px);
                background-image: url('../resources/images/icon-arrow-3--steel.svg');
                background-size: cover;
                margin: calcRem(3px) 0 calcRem(3px) calcRem(10px);
            }
        }
        &--less {
            display: none;
            &:after {
                @include transform(rotate(180deg));
            }
        }
    }

    .cmp-disclosures__disclosures--see-more {
        max-height: 0;
        overflow: hidden;
        @include transition(all 0.35s ease);
    }
    &.cmp-disclosures__expand {
        .cmp-disclosures__disclosures--see-more {
            max-height: 800px;
        }
        .cmp-disclosures__toggle {
            &--more {
                display: none;
            }
            &--less {
                display: inline-block;
            }
        }
    }

    &--large-text {
        p,
        li {
            @include font-size(16px);
            @include line-height(24px);
        }
    }
    &--small-text {
        p,
        li {
            @include font-size(11px);
            @include line-height(14px);
        }
    }
    &--large-text,
    &--small-text {
        p,
        li {
            @include media-breakpoint-down(sm) {
                @include font-size(12px);
                @include line-height(18px);
            }
        }
    }
    &--top-margin {
        &-none {
            .cmp-disclosures {
                margin-top: 0 !important;
            }
        }
        &-small {
            .cmp-disclosures {
                margin-top: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-disclosures {
                margin-top: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-disclosures {
                margin-top: calcRem(30px) !important;
            }
        }
    }
    &--bottom-margin {
        &-none {
            .cmp-disclosures {
                margin-bottom: 0 !important;
            }
        }
        &-small {
            .cmp-disclosures {
                margin-bottom: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-disclosures {
                margin-bottom: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-disclosures {
                margin-bottom: calcRem(30px) !important;
            }
        }
    }
}
