.cmp-key-facts {
    background-color: transparent;
    @extend %full-width;
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(0px) !important;
    &__left-section-heading,
    &__right-section-heading,
    &__mf-right-section-heading {
        padding-top: calcRem(72px);
        padding-bottom: calcRem(24px);
        color: $steel;
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
            padding-left: calcRem(20px);
        }
    }
    &__bottom-section-heading {
        padding-top: calcRem(-15px);
        padding-bottom: calcRem(14px);
        color: $steel;
        @include media-breakpoint-down(sm) {
            padding-top: 0px;
            padding-bottom: calcRem(12px);
            padding-left: calcRem(20px);
        }
    }
    &__bottom-right-section-heading {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &__fund-details-text {
        display: none;
        margin-bottom: calcRem(-2px);
        margin-top: calcRem(22px);
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: calcRem(0.5px);
        @include line-height(17px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(24px);
            margin-bottom: calcRem(-12px);
            min-height: 1rem;
            display: none;
            padding-left: 0;
        }
    }
    &:not(.mutual-fund) &__right-section-heading {
        @include media-breakpoint-down(sm) {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    &:not(.mutual-fund) &__mf-right-section-heading {
        display: none;
    }
    &__list-container-styling {
        list-style: none;
        padding: calcRem(0px);
        margin-bottom: calcRem(72px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(0px);
        }
        li {
            height: calcRem(64px);
            background: $white;
            margin-bottom: calcRem(1px);
            &:hover {
                background: $rain-tint;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
                margin-bottom: calcRem(1px);
            }
        }
    }
    &__labels {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        height: calcRem(64px);
        display: flex;
        align-items: center;
        color: $steel;
        padding-left: calcRem(24px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            display: flex;
            align-items: center;
            padding-left: calcRem(20px);
            padding-right: calcRem(0px);
        }
    }
    &__values {
        text-align: right;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        @include line-height(19px);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: calcRem(64px);
        padding-right: calcRem(24px);
        padding-left: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            @include font-size(14px);
            @include line-height(17px);
            padding-right: calcRem(20px);
            padding-left: calcRem(0px);
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
    }

    &__as-of-date {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        letter-spacing: 0;
        @include line-height(13px);
    }

    &__section-heading-text {
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: calcRem(1px);
        text-transform: uppercase;
        @include line-height(17px);
        @include media-breakpoint-up(md) {
            min-height: 1rem;
            display: inline-block;
        }
    }
    &__right-list-container {
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(40px);
        }
    }
    &__container-div {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__main-row,
    &__sub-row {
        margin-left: calcRem(0px);
        margin-right: calcRem(0px);
    }
    &__sub-row {
        display: none;
    }
    &__main-container-row {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
            margin-right: calcRem(0px);
        }
    }
    &__main-section {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__index-text {
        text-transform: none;
    }
    &:not(.mutual-fund) {
        .cmp-key-facts__right-section-heading .cmp-key-facts__as-of-date {
            display: none;
        }
    }
    &.mutual-fund {
        .cmp-key-facts__left-section-heading .cmp-key-facts__as-of-date {
            display: none;
        }
        .cmp-key-facts__right-section-heading {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .cmp-key-facts__mf-right-section-heading {
            display: none;
            @include media-breakpoint-down(sm) {
                display: block;
            }
        }
    }
}

.cmp-key-facts--light-gray {
    li {
        background: $light-steel-3;
    }
}
