<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty= true, classAppend='cmp-skills-placeholder'}" />
<div class="cmp-skills" data-sly-use.skillsModel="${'com.nyl.nylcom.models.agentweb.SkillsModel'}">
    <div class="cmp-skills__block" data-sly-test="${skillsModel.yearsOfExperience>=0}">
        <h4 class="cmp-skills__title">${properties.credentialsLabel}</h4>
        <div class="cmp-skills__info" data-sly-test.showExperience="${skillsModel.yearsOfExperience>=5}">
            ${skillsModel.yearsOfExperience}+ ${properties.yearsLicensedLabel}
        </div>
        <div class="cmp-skills__info" data-sly-test="${!showExperience}">
            ${properties.fallbackYearsLicensedLabel}
        </div>
    </div>
    <div class="cmp-skills__block" data-sly-test="${skillsModel.professionalDesignations}">
        <h4 class="cmp-skills__title">${properties.certificationAndEducationLabel}</h4>
        <div class="cmp-skills__info">
            <ul data-sly-list.designation="${skillsModel.professionalDesignations}">
                <li class="list-inline-item"
                    data-sly-use.formatterModel="${'com.nyl.foundation.models.FormatterModel' @ input=designation.name}">
                    <a data-toggle="popover" data-content="${formatterModel.titleCase}">
                        ${designation.code}</a>${!designationList.last ? ',':''}
                </li>
            </ul>
        </div>
    </div>
    <div class="cmp-skills__block"
        data-sly-test="${skillsModel.lifeInsuranceLicenseType || skillsModel.annuitiesLicenseType || skillsModel.eagleAgent}">
        <h4 class="cmp-skills__title">${properties.licensesLabel}</h4>
        <div class="cmp-skills__info">
            <ul>
                <li data-sly-test="${skillsModel.lifeInsuranceLicenseType}" class="list-inline-item">
                    <a data-toggle="popover"
                        data-content="${properties.licenseToolTipTitle} ${skillsModel.lifeInsuranceStateCodes}"
                        class="tooltipColor">
                        ${'nyl.skills.label.I00180' @i18n}</a>${(skillsModel.investmentsLicenseType ||
                    skillsModel.longTermCareLicenseType || skillsModel.annuitiesLicenseType || skillsModel.eagleAgent) ?
                    ',':''}
                </li>

                <li data-sly-test="${skillsModel.investmentsLicenseType}" class="list-inline-item">
                    <a data-toggle="popover" data-content="${'nyl.skills.toolTip.S00330' @i18n}">
                        ${'nyl.skills.label.S00330' @i18n}</a>${(skillsModel.longTermCareLicenseType ||
                    skillsModel.annuitiesLicenseType ||
                    skillsModel.eagleAgent) ? ',':''}
                </li>

                <li data-sly-test="${skillsModel.longTermCareLicenseType}" class="list-inline-item">
                    <a data-toggle="popover" data-content="${'nyl.skills.toolTip.I00170' @i18n }" class="tooltipColor">
                        ${'nyl.skills.label.I00170' @i18n}</a>${(skillsModel.annuitiesLicenseType ||
                    skillsModel.eagleAgent) ? ',':''}
                </li>

                <li data-sly-test="${skillsModel.annuitiesLicenseType}" class="list-inline-item">
                    <a data-toggle="popover"
                        data-content="${properties.licenseToolTipTitle} ${skillsModel.annuityStateCodes}">
                        ${'nyl.skills.label.I00280' @i18n}</a>${(skillsModel.eagleAgent) ? ',':''}
                </li>

                <li data-sly-test="${skillsModel.eagleAgent}" class="list-inline-item">
                    <a data-toggle="popover" data-content="${'nyl.skills.toolTip.S00320' @i18n}">
                        ${'nyl.skills.label.S00320' @i18n}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cmp-skills__block" data-sly-test.languages="${skillsModel.languages}">
        <h4 class="cmp-skills__title">${properties.languagesLabel}</h4>
        <div class="cmp-skills__info">${languages}</div>
    </div>
</div>
