<div class="cmp-holdings-table cmp-holdings-table--hidden" data-as-of-funds="F_MTF,fund2,fund3, fund4"
    data-display-top-ten="false">
    <div class="cmp-holdings-table__product-name"></div>
    <div class="cmp-holdings-table__as-of-date"></div>
    <div class="row cmp-holdings-table__wrapper">
        <div class="col-sm-12 col-md-6 cmp-holdings-table__weighted">
            <div class="cmp-holdings-table__average-maturity"></div>
            <div class="cmp-holdings-table__average-life"></div>
        </div>
        <div class="col-sm-12 col-md-6 cmp-holdings-table__dropdown-container">
            <div class="cmp-holdings-table__as-of-label"></div>
            <div class="cmp-holdings-table__filter">
                <div class="cmp-holdings-table__dropdown">
                    <div class="cmp-holdings-table__dropdown-text cmp-holdings-table__filter-date"></div>
                    <ul class="cmp-holdings-table__list-dropdown">
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="cmp-holdings-table__right"></div>
    <div class="cmp-holdings-table__table-parent-div">
        <table class="cmp-holdings-table__holdings" aria-describedby="Holdings Table">
            <colgroup>
                <col span="1">
                <col span="4">
            </colgroup>
            <thead>
                <div>
                    <tr class="cmp-holdings-table__holding-header"></tr>
                </div>
            </thead>
            <tbody></tbody>
            <tbody>
                <tr class="cmp-holdings-table__shade--right"></tr>
            </tbody>
        </table>
    </div>
</div>
