<div class="cmp-calculator-container-gbs"
    data-range='{"level1": "0-2x","level2": "0-2x","level3": "3-4x","level4": "5-6x","level5": "7x" }'>
    <div class="cmp-calculator-container-gbs__insert-container">
        <div class="question-card">
            <div class="cmp-question-card" data-question-id="Q1">
                <h1 class="cmp-question-card__title">About me</h1>
                <div class="cmp-question-card__view">
                    <div class="cmp-question-card__pagination">Question 1 of 5</div>
                    <div class="cmp-question-card__subtitle">
                        <p>Card question here..</p>
                    </div>
                    <div class="cmp-question-card__answer-cards">
                        <div data-next-question-id="Q2">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>Millennial</p>
                                </div>
                            </div>
                        </div>
                        <div data-next-question-id="Q2">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>Generation X</p>
                                </div>
                            </div>
                        </div>
                        <div data-next-question-id="Q2">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>Baby Boomer</p>
                                </div>
                            </div>
                        </div>
                        <div data-next-question-id="Q2">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>Senior</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-question-card__accordion-group cmp-question-card__accordion-group--collapse">
                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 1</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 1</p>
                            </div>
                        </div>

                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 2</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 2</p>
                            </div>
                        </div>

                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 3</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 3</p>
                            </div>
                        </div>

                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 4</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question-card">
            <div class="cmp-question-card" data-question-id="Q2">
                <h1 class="cmp-question-card__title">Love and marriage</h1>
                <div class="cmp-question-card__view">
                    <div class="cmp-question-card__pagination">Question 2 of 5</div>
                    <div class="cmp-question-card__subtitle">
                        <p>Card question here..</p>
                    </div>
                    <div class="cmp-question-card__answer-cards">
                        <div data-next-question-id="Q3">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>Yes</p>
                                </div>
                            </div>
                        </div>
                        <div data-next-question-id="Q3">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>No</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-question-card__accordion-group cmp-question-card__accordion-group--collapse">
                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 1</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 1</p>
                            </div>
                        </div>

                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 2</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question-card">
            <div class="cmp-question-card" data-question-id="Q3">
                <h1 class="cmp-question-card__title">Family Members</h1>
                <div class="cmp-question-card__view">
                    <div class="cmp-question-card__pagination">Question 3 of 5</div>
                    <div class="cmp-question-card__subtitle">
                        <p>Card question here..</p>
                    </div>
                    <div class="cmp-question-card__answer-cards">
                        <div data-next-question-id="">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>Yes</p>
                                </div>
                            </div>
                        </div>
                        <div data-next-question-id="">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>No</p>
                                </div>
                            </div>
                        </div>
                        <div data-next-question-id="">
                            <div class="cmp-question-card__answer-card">
                                <div>
                                    <p>Don't know</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-question-card__accordion-group cmp-question-card__accordion-group--collapse">
                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 1</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 1</p>
                            </div>
                        </div>

                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 2</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 2</p>
                            </div>
                        </div>

                        <div class="cmp-question-card__accordion-item">
                            <div class="cmp-question-card__accordion-item__title">
                                <div>Title of option: 3</div>
                                <div class="cmp-question-card__accordion-item__expand-collapse-icon"></div>
                            </div>
                            <div class="cmp-question-card__accordion-item__contents">
                                <p>Description for option: 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-calculator-container-gbs__button-container">
            <button
                class="nyl-button cmp-calculator-container-gbs__button-container__button cmp-calculator-container-gbs__button-container__next-button">Next</button>
            <button
                class="nyl-button cmp-calculator-container-gbs__button-container__button cmp-calculator-container-gbs__button-container__submit-button">Submit</button>
        </div>
    </div>
    <div class="cmp-calculator-container-gbs__results">
        <div class="cmp-calculator-container-gbs__results-view">
            <div class="cmp-calculator-container-gbs__results-description">
                <span class="text__huge">{lifeRate}</span>
            </div>
        </div>
        <div class="cmp-calculator-container-gbs__results-button-container">
            <a
                class="cmp-calculator-container-gbs__results-button cmp-calculator-container-gbs__results-startover-button">
                Start Over
                <i class="cmp-calculator-container-gbs__results-icon-arrow" aria-hidden="true"></i>
            </a>
            <a href="#"
                class="cmp-calculator-container-gbs__results-button cmp-calculator-container-gbs__results-learn-more-button"
                target="_blank" rel="noopener">Learn more About Life Insurance
            </a>
        </div>
    </div>
</div>
