<div class="cmp-question-card" data-question-id="Q1">
    <div class="cmp-question-card__answer-cards">
        <div data-next-question-id="Q2">
            <div class="cmp-question-card__answer-card cmp-question-card__answer-card--chosen">
                <div>
                    <p>Millennial</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cmp-question-card__accordion-group">
    </div>
</div>
