.cmp-agent-breadcrumb {
    position: absolute;
    z-index: 1;
    width: 100%;

    .container {
        @include media-breakpoint-down(lg) {
            max-width: none;
        }
    }

    ul {
        list-style: none;
        display: block;
        margin-top: calcRem(30px);
        padding-left: 0;
        margin-left: 10px;

        @include media-breakpoint-down(lg) {
            margin-left: 0;
        }

        li {
            display: inline;
            color: $black;
            @include font-size($font-size-xx-small);
            @include line-height($font-size-xx-small, 2.572);

            a {
                display: inline-block;
                @include font-size($font-size-xx-small);
                @include line-height($font-size-xx-small, 2.572);
            }
            &:first-child {
                padding-top: 5px;
            }
            &:last-child {
                font-weight: bold;
                pointer-events: none;
            }
            & + li:before {
                padding: 4px;
                content: '/\00a0';
                font-weight: normal;
            }
            &:nth-child(2):before {
                content: none;
            }
        }

        @include media-breakpoint-down(sm) {
            li {
                display: none;
                &:first-child {
                    display: inline-block;
                }
                &:nth-last-child(2) {
                    display: inline-block;
                }
                & + li:before {
                    content: none;
                }
                .icon-caret {
                    margin-left: -5px;
                    @include transform(rotate(90deg) scale(0.7));
                }
            }
        }
    }
    &.cmp-agent-breadcrumb--block {
        position: static;
    }
}
