<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.disclaimerModel="${'com.nyl.nylcom.models.agentweb.AgentDisclaimerModel'}"
    data-sly-call="${templates.placeholder @ isEmpty = !disclaimerModel.disclaimers, classAppend='cmp-disclaimer-placeholder'}" />
<div class="full-width cmp-disclaimer" data-sly-list.disclaimer="${disclaimerModel.disclaimers}">
    <div class="cmp-disclaimer__container col" data-sly-test="${disclaimer.isShowDisclaimer}">
        <div class="cmp-rte ${disclaimer.type=='specialLicenseId' ? 'cmp-disclaimer__special-license-id':'' }">
            ${disclaimer.disclaimer @ context='html'}
        </div>
    </div>
</div>
