.cmp-table {
    $column-left-right-padding: 32px;
    $column-width: 160px;
    border: 1px solid $grey-medium;
    $table-width-without-border: 1278px;
    $table-height-without-title: 566px;
    max-width: $table-width-without-border;
    margin-top: 24px;

    &__heading {
        font-family: $font-family-effra-pro;
        margin: 0;
        background: $blue-extra-dark;
        min-height: 16px;
        color: $white;
        padding: 8px 16px;
        vertical-align: middle;
        @include font-size-line-height(14px, 16px);
        font-weight: 500;
        letter-spacing: unset;
        text-transform: unset;
    }
    &__container {
        overflow: auto;
        max-height: $table-height-without-title;
        @include media-breakpoint-down(sm) {
            max-height: 466px;
        }
    }
    &__container__table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        thead tr > th {
            @include font-size-line-height(16px, 24px);
            box-shadow: inset 1px 1px 0 $blue-extra-dark;
            background: $blue-dark;
            color: $white;
            position: sticky;
            padding: 12px 16px;
            z-index: 2;
            top: 0;
            min-height: 45px;
            text-align: left;
            .cmp-text {
                p {
                    @extend %font-weight-medium;
                    color: $grey-medium;
                }
            }
        }

        thead tr > :first-child {
            z-index: 3;
            left: 0;
            top: 0;
            background: $blue-extra-dark;
            box-shadow: none;
        }

        td {
            background-color: $white;
            text-align: left;
            @include font-size-line-height(16px, 24px);
            color: $grey-dark;
            min-height: 45px;
            padding: 12px 16px;
            box-shadow: inset 1px 1px 0 $grey-medium;
            .cmp-image {
                margin: unset;
                img {
                    height: 32px;
                    width: 32px;
                }
            }
        }

        tbody tr > th {
            position: sticky;
            z-index: 1;
            left: 0;
            text-align: left;
            @include font-size-line-height(16px, 24px);
            background-color: $white;
            min-height: 45px;
            padding: 12px 16px;
            box-shadow: inset 0px 1px 0 $grey-medium;
            .cmp-text {
                p {
                    @include font-size-line-height(18px, 24px);
                    @extend %font-weight-regular;
                }
                a {
                    color: $brand-blue;
                }
            }
        }
        .cmp-text {
            margin: 0 !important;
            p {
                margin: 0 !important;
                @include font-size-line-height(16px, 24px);
            }
            ul,
            ol {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
    .cmp-table__container__table {
        td,
        th {
            width: 128px;
            vertical-align: top;
        }
        &.column-1 td,
        &.column-1 th {
            width: 100%;
        }
        &.column-2 td,
        &.column-2 th {
            width: calc(calc(#{$table-width-without-border} / 2) - #{$column-left-right-padding});
        }
        &.column-3 td,
        &.column-3 th {
            width: calc(calc(#{$table-width-without-border} / 3) - #{$column-left-right-padding});
        }
        &.column-4 td,
        &.column-4 th {
            width: calc(calc(#{$table-width-without-border} / 4) - #{$column-left-right-padding});
        }
        &.column-5 td,
        &.column-5 th {
            width: calc(calc(#{$table-width-without-border} / 5) - #{$column-left-right-padding});
        }
        &.column-6 td,
        &.column-6 th {
            width: calc(calc(#{$table-width-without-border} / 6) - #{$column-left-right-padding});
        }
        &.column-7 td,
        &.column-7 th {
            width: calc(calc(#{$table-width-without-border} / 7) - #{$column-left-right-padding});
        }
        &.column-8 {
            width: $table-width-without-border;
        }
        &.column-9 {
            width: calc(#{$table-width-without-border} + #{$column-width});
        }
        &.column-10 {
            width: calc(#{$table-width-without-border} + calc(#{$column-width} * 2));
        }
        &.column-8,
        &.column-9,
        &.column-10 {
            tbody tr > th {
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 9999;
                    width: 1px;
                    background-color: $white;
                    -webkit-box-shadow: 2px 0 4px $grey-dark;
                    box-shadow: 2px 0 4px $grey-dark;
                }
            }
            tbody tr {
                & > td:last-of-type {
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        right: -1px;
                        top: 0;
                        bottom: 0;
                        z-index: 9999;
                        width: 1px;
                        background-color: $white;
                        box-shadow: -2px 0px 4px $grey-dark;
                    }
                }
            }
        }
    }
}
.table-grey {
    .cmp-table {
        .cmp-table__container__table {
            td {
                background-color: $grey-light;
            }
        }
    }
}
