.cmp-card-container {
    .card {
        border: none;
        flex-direction: row;
        background: white;
        @include media-breakpoint-down(sm) {
            &:not(:last-child) {
                margin-bottom: calcRem(33px);
            }
        }
    }
    &__flex-container {
        > div {
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            padding: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    @include media-breakpoint-up(md) {
        .cmp-card-container__flex-container {
            justify-content: normal !important;

            > div {
                display: flex;
                &:first-child:nth-last-child(n + 2),
                &:first-child:nth-last-child(n + 2) ~ div {
                    max-width: 32%;
                    min-width: 32%;
                }

                &:not(:first-child) {
                    margin-left: 2%;
                }
            }
        }
    }
    .cmp-card {
        border: none;
        padding: 0;
        flex-direction: column;
        width: 100%;
        > * {
            text-align: left;
            align-self: left;
        }
        &__content-wrapper {
            flex: auto;
            flex-direction: column;
            height: auto;
        }
        &__content {
            flex: auto;
            padding: 0;
            margin-left: 0 !important;
            max-width: 100% !important;
            justify-content: flex-start !important;
            margin-top: calcRem(22.37px);
            p {
                margin-bottom: 0;
                @include font-size(16px);
                @include line-height(24px);
            }
            .text__body {
                color: $steel;
                font-family: $font-family-helvetica-neue;
                @include font-size(16px);
                @include line-height(24px);
                letter-spacing: 0;
                margin-bottom: calcRem(13px);
                @include media-breakpoint-down(sm) {
                    @include font-size(16px);
                    @include line-height(24px);
                    height: auto;
                }
            }
            .text__medium {
                color: $steel;
                font-family: $font-family-helvetica-neue;
                @include font-size(20px);
                @include line-height(28px);
                @extend %font-weight-bold;
                letter-spacing: 0;
                display: inline-block;
                @include media-breakpoint-up(lg) {
                    min-height: calcRem(56px);
                }
                a {
                    color: $steel;
                    font-family: $font-family-helvetica-neue;
                    @include font-size(20px);
                    @extend %font-weight-bold;
                    &:hover {
                        text-decoration: none;
                    }
                    @include media-breakpoint-down(sm) {
                        @include font-size(16px);
                        @include line-height(19px);
                    }
                }
                @include media-breakpoint-down(sm) {
                    padding-top: 0;
                }
            }
        }
        &__link {
            position: static !important;
            right: 0 !important;
            top: unset !important;
            margin: auto 0 0 !important;
            span {
                position: relative;
                height: calcRem(24px);
                color: $steel !important;
                font-family: $font-family-helvetica-neue;
                @extend %font-weight-regular;
                @include font-size(16px);
                @include line-height(24px);
                letter-spacing: 0;
                cursor: pointer;
                background: transparent !important;
                padding: 0 !important;
                img,
                i {
                    display: none;
                }
                &:after {
                    content: '';
                    width: calcRem(16px);
                    height: calcRem(16px);
                    display: inline-block;
                    position: absolute;
                    top: 3px;
                    right: -20px;
                    background: url('../resources/images/icon-arrow-2--steel.svg');
                    @include transform(rotate(180deg));
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            &:hover {
                text-decoration: none !important;
                color: $steel !important;
            }
        }
        &__image--non-feature {
            max-width: 100% !important;
            display: block;
            margin-top: calcRem(123px);
            margin-bottom: calcRem(123px);
            text-align: center;
            @include media-breakpoint-down(sm) {
                margin-top: calcRem(86px);
                margin-bottom: calcRem(86px);
                order: 0 !important;
            }
            svg {
                height: 50%;
                width: 50%;
            }
        }
        &__color-bar {
            height: calcRem(19px);
            background-color: $medium-rain;
            @include media-breakpoint-down(sm) {
                height: calcRem(16px);
            }
        }
        &__feature-link {
            display: none;
            margin: 0;
        }
        &__image-wrapper {
            display: block;
        }
        &__image {
            display: block;
            &:after {
                content: '';
                height: calcRem(24px);
                margin-top: -12px;
                background-color: $medium-rain;
                opacity: 0.5;
                display: block;
            }
        }
        &__eyebrow {
            display: none;
        }
        &__feature-card-column {
            max-width: 100% !important;
            display: block;
            padding: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            @include media-breakpoint-down(sm) {
                max-width: 100%;
                order: 1;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        @each $bg-color, $background-color in $highlight-palette {
            &--#{$bg-color} {
                .cmp-card {
                    &__image,
                    &__image--non-feature {
                        &:after {
                            background-color: $background-color;
                        }
                    }
                    &__color-bar {
                        background-color: $background-color;
                    }
                }
            }
        }
    }
    @include edgeonly {
        .cmp-card__image--non-feature svg {
            width: calcRem(100px);
            margin: auto;
        }
    }

    &--boutique,
    &--boutique-white {
        .card {
            background-color: transparent;
            .cmp-card,
            .cmp-card > div {
                @include media-breakpoint-down(sm) {
                    margin: 0;
                }
            }
        }
        .cmp-card {
            .nyl-button {
                display: none;
            }
            border-radius: 0;
            &__content {
                margin: 0;
                padding-top: calcRem(17px);
                p {
                    padding: 0;
                }
                .text__medium {
                    @include media-breakpoint-up(lg) {
                        min-height: unset;
                    }
                    a {
                        font-size: calcRem(14px);
                        line-height: calcRem(18px);
                        padding: 0;
                        text-decoration: none;
                        @include media-breakpoint-down(sm) {
                            font-size: calcRem(14px);
                            line-height: calcRem(18px);
                        }
                    }
                }
            }
            .cmp-card__content .text__body {
                margin-bottom: calcRem(37px);
                padding: 0 calcRem(22px) 0 0;
                p {
                    font-size: calcRem(14px);
                    line-height: calcRem(22px);
                    @include media-breakpoint-down(sm) {
                        padding-left: calcRem(20px);
                    }
                }
                @include media-breakpoint-down(sm) {
                    margin-bottom: calcRem(20px);
                }
            }
            &__image--non-feature {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: calcRem(319px);
                justify-content: center;
                margin: 0;
                max-height: calcRem(300px);
                position: relative;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
                @include media-breakpoint-down(sm) {
                    height: calcRem(256px);
                }
                a {
                    display: inline-block;
                }
                svg {
                    height: auto;
                    max-height: calcRem(128px);
                    max-width: calcRem(240px);
                    width: 100%;
                }
                svg image {
                    height: 100%;
                    width: 100%;
                }
                &:after {
                    bottom: 0;
                    content: '';
                    height: calcRem(19px);
                    left: -1px;
                    opacity: 1;
                    position: absolute;
                    right: -1px;
                    @include media-breakpoint-down(sm) {
                        height: calcRem(16px);
                    }
                }
            }
            &__social-links {
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin-bottom: calcRem(44px);
                @include media-breakpoint-down(sm) {
                    margin-bottom: calcRem(34px);
                }
                a.cmp-card__social-button {
                    align-items: center;
                    border-radius: 50%;
                    display: inline-flex;
                    height: calcRem(30px);
                    justify-content: center;
                    margin-right: calcRem(8px);
                    padding: 0;
                    width: calcRem(30px);
                    @include media-breakpoint-down(sm) {
                        height: calcRem(40px);
                        margin-right: calcRem(12px);
                        width: calcRem(40px);
                    }
                    img {
                        background-color: transparent;
                        border-radius: 0;
                        height: calcRem(16px);
                        padding: 0;
                        width: calcRem(16px);
                        @include media-breakpoint-down(sm) {
                            height: calcRem(22.4px);
                            width: calcRem(22.4px);
                        }
                    }
                }
                .cmp-card__cta {
                    display: block;
                    padding-bottom: 0 !important;
                }
            }
        }
        @include media-breakpoint-up(md) {
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                path:not(.cmp-card-container--boutique__ignore-fill),
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                rect:not(.cmp-card-container--boutique__ignore-fill),
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                ellipse:not(.cmp-card-container--boutique__ignore-fill),
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                polygon:not(.cmp-card-container--boutique__ignore-fill),
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                polyline:not(.cmp-card-container--boutique__ignore-fill),
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                circle:not(.cmp-card-container--boutique__ignore-fill),
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                text:not(.cmp-card-container--boutique__ignore-fill),
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                tspan:not(.cmp-card-container--boutique__ignore-fill),
            .cmp-card:not(:hover)
                .cmp-card__image--non-feature
                svg
                line:not(.cmp-card-container--boutique__ignore-fill) {
                fill: $steel;
            }
        }
    }

    &--boutique {
        .cmp-card {
            &__image--non-feature {
                background-color: $light-steel-3;
                border-left: solid 1px transparent;
                border-right: solid 1px transparent;
                border-top: solid 1px transparent;
                &:after {
                    background-color: $medium-rain;
                }
            }
            @include media-breakpoint-down(sm) {
                &__image--non-feature {
                    background-color: $white;
                    border-left: solid 1px $light-steel-1;
                    border-right: solid 1px $light-steel-1;
                    border-top: solid 1px $light-steel-1;
                }
            }
            &__content {
                background-color: $white;
                .text__body {
                    p {
                        @include media-breakpoint-down(sm) {
                            padding-left: 0px;
                        }
                    }
                }
            }
            &__social-button-drawer ul li a.cmp-card__social-button {
                background-color: $light-steel-3;
            }
            &:hover .cmp-card__image--non-feature {
                background-color: $white;
                border-left: solid 1px $light-steel-1;
                border-right: solid 1px $light-steel-1;
                border-top: solid 1px $light-steel-1;
            }
            &:hover .cmp-card__social-button-drawer ul li a.cmp-card__social-button {
                background-color: $light-rain-2;
            }
        }
    }

    &--boutique-white {
        .cmp-card {
            &__image--non-feature {
                background-color: $white;
                border-left: solid 1px transparent;
                border-right: solid 1px transparent;
                border-top: solid 1px transparent;
                &:after {
                    background-color: $steel;
                }
            }
            &__social-button-drawer ul li a.cmp-card__social-button {
                background-color: $white;
            }
            &:hover .cmp-card__social-button-drawer ul li a.cmp-card__social-button {
                background-color: $light-rain-2;
            }
        }
    }
    &--no-image-card {
        .cmp-card-container {
            .card {
                @include media-breakpoint-down(sm) {
                    &:not(:last-child) {
                        margin-bottom: calcRem(40px);
                    }
                }
            }
            &__flex-container {
                @include media-breakpoint-down(sm) {
                    margin-left: 0px;
                    max-width: 100%;
                }
            }
        }
        .cmp-card {
            &__image {
                display: none;
            }
            &__link {
                display: none;
            }
            &__eyebrow {
                display: block;
                content: '\2014';
                background-color: $image-colorbar;
                width: calcRem(20px);
                height: calcRem(4px);
            }
            &__content {
                margin-top: calcRem(16px);
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(10px);
                }
                .text__medium,
                .text__medium a {
                    @include font-size(22px);
                    @include line-height(28px);
                    @include media-breakpoint-up(lg) {
                        min-height: calcRem(72px);
                    }
                    @include media-breakpoint-down(sm) {
                        @include font-size(18px);
                        @include line-height(28px);
                    }
                }
                .text__body {
                    padding-top: calcRem(44px);
                    @include media-breakpoint-down(sm) {
                        padding-top: calcRem(4px);
                    }
                    p {
                        @include font-size(16px);
                        @include line-height(24px);
                        @include media-breakpoint-down(sm) {
                            font-family: $font-family-alda;
                            @include line-height(26px);
                        }
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                .cmp-card__content .text__body {
                    padding-top: calcRem(0px);
                }
            }
        }
    }
    &--mini-card {
        .cmp-card-container {
            .card {
                @include media-breakpoint-down(sm) {
                    &:not(:last-child) {
                        margin-bottom: calcRem(24px);
                    }
                }
            }
            &__flex-container {
                @include media-breakpoint-down(sm) {
                    margin-left: 0px;
                    max-width: 100%;
                }
            }
        }
        .cmp-card {
            &__content-wrapper {
                flex-direction: row;
            }
            &__feature-card-column {
                display: contents;
                max-width: calcRem(50px) !important;
            }
            &__image-wrapper {
                display: flex;
                max-height: calcRem(53px);
            }
            &__image {
                &:after {
                    content: '';
                    background: transparent;
                }
                @include ie11only {
                    display: inline-flex !important;
                    background-position-y: center !important;
                }
                .mw-100 {
                    max-width: calcRem(53px) !important;
                    height: calcRem(53px);
                    width: calcRem(53px) !important;
                }
            }
            &__content {
                margin-top: 0px;
                margin-left: calcRem(22px) !important;
                .text__medium {
                    pointer-events: none;
                    @include media-breakpoint-up(lg) {
                        min-height: auto;
                    }
                    a {
                        @include font-size(16px);
                        @include line-height(26px);
                        @include media-breakpoint-down(sm) {
                            @include line-height(19px);
                        }
                    }
                }
                .text__body {
                    display: none;
                }
            }
            &__link {
                span {
                    @include font-size(16px);
                    @include line-height(24px);
                    img,
                    i {
                        display: none;
                    }
                    &:after {
                        top: calcRem(1px);
                    }
                }
            }
        }
    }
    &--no-image-card,
    &--mini-card {
        @include media-breakpoint-down(sm) {
            .cmp-card--light-steel-3 {
                background-color: $light-steel-3;
                .cmp-card {
                    background: transparent;
                }
            }
        }
    }

    &--no-image-card.cmp-card-container--one-column,
    &--mini-card.cmp-card-container--one-column {
        .cmp-card-container {
            .card {
                &:not(:first-child) {
                    display: none;
                }
            }
        }
    }
    &--no-image-card.cmp-card-container--two-column,
    &--mini-card.cmp-card-container--two-column {
        .cmp-card-container {
            &__flex-container {
                justify-content: flex-start !important;
            }
            .card {
                &:nth-child(n + 3) {
                    display: none;
                }
            }
        }
    }
    &--one-column {
        .cmp-card-container {
            .card {
                @include media-breakpoint-up(md) {
                    max-width: 32%;
                }
            }
        }
    }
    &--top-margin {
        &-none {
            .cmp-card-container {
                margin-top: 0 !important;
            }
        }
        &-small {
            .cmp-card-container {
                margin-top: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-card-container {
                margin-top: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-card-container {
                margin-top: calcRem(30px) !important;
            }
        }
    }
    &--bottom-margin {
        &-none {
            .cmp-card-container {
                margin-bottom: 0 !important;
            }
        }
        &-small {
            .cmp-card-container {
                margin-bottom: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-card-container {
                margin-bottom: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-card-container {
                margin-bottom: calcRem(30px) !important;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .cmp-color-container,
    .cmp-role-container {
        .cmp-card-container {
            &__flex-container {
                .cmp-card__content {
                    .text__body {
                        padding-left: 0px;
                        p {
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }
}
