<div class="global-data-attribute" data-fundId="F_MDT">
</div>
<div class="cmp-top-sectors">
    <div class="container cmp-top-sectors__container-div">
        <div class="row cmp-top-sectors__main-container-row">
            <div class=" col-12 cmp-top-sectors__heading-section">
                <span class="cmp-top-sectors__top-sectors-text">${properties.alternateTitle ? properties.alternateTitle
                    :'nylim.topSectors' @ i18n}</span>
                <span class="cmp-top-sectors__as-of-text"></span>
                <span class="cmp-top-sectors__as-of-text as-of-date"></span>
            </div>
            <div class="col-12 col-md-4 cmp-top-sectors__chart-container">

            </div>
            <div class="col-12 col-md-4 cmp-top-sectors__table cmp-top-sectors__table--first">
                <ul class="cmp-top-sectors__first-list-container"></ul>
            </div>
            <div class="col-12 col-md-4 cmp-top-sectors__table cmp-top-sectors__table--second">
                <ul class="cmp-top-sectors__second-list-container"></ul>
            </div>

            <div class="col-12 cmp-top-sectors__footer-text">
                <span class="cmp-top-sectors__portfolio-data-as-of-text"></span>
                <span class="cmp-top-sectors__portfolio-data-as-of-text as-of-date"></span>
                <span class="cmp-top-sectors__percentange-change-disclaimer bottom"></span>
            </div>

        </div>
    </div>


</div>
