<header class="cmp-header noindex">
    <nav class="secondary-nav navbar-nav justify-content-end" aria-label="secondary-nav">
        <div data-role="nylannuities-CHASE.Broker">


            <div id="secondary-cmp" data-secondary-nav="${resourcePath.rewriteUrlWithoutExtension}.secondary-nav" />

            <div data-sly-test="${headerLinkModel.getSecondaryXfTitle}" class="nav-item d-none d-lg-block collapsed"
                data-toggle="collapse" data-target="#secondary-xf">
                <a href="#" class="p">${headerLinkModel.getSecondaryXfTitle}</a>
            </div>
        </div>
    </nav>
</header>
