<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.title,classAppend='cmp-hero-comp-placeholder'}" />

<sly data-sly-test.salmon="${properties.colorScheme == 'salmon'}">
    <sly data-sly-test.backGroundColor="#F6E8EC" />
    <sly data-sly-test.fontColor="#985570" />
</sly>

<sly data-sly-test.twilight="${properties.colorScheme == 'twilight'}">
    <sly data-sly-test.backGroundColor="#EBE7F2" />
    <sly data-sly-test.fontColor="#5C4C79" />
</sly>

<sly data-sly-test.dusk="${properties.colorScheme == 'dusk'}">
    <sly data-sly-test.backGroundColor="#E6E9F0" />
    <sly data-sly-test.fontColor="#424B6C" />
</sly>

<sly data-sly-test.rain="${properties.colorScheme == 'rain'}">
    <sly data-sly-test.backGroundColor="#E0EDF3" />
    <sly data-sly-test.fontColor="#205F7C" />
</sly>

<sly data-sly-test.palm="${properties.colorScheme == 'palm'}">
    <sly data-sly-test.backGroundColor="#EBF0EA" />
    <sly data-sly-test.fontColor="#466E5A" />
</sly>

<sly data-sly-test.gold="${properties.colorScheme == 'gold'}">
    <sly data-sly-test.backGroundColor="#FBF0E7" />
    <sly data-sly-test.fontColor="#A76936" />
</sly>

<sly data-sly-test.sunset="${properties.colorScheme == 'sunset'}">
    <sly data-sly-test.backGroundColor="#F8E8E2" />
    <sly data-sly-test.fontColor="#745342" />
</sly>

<sly data-sly-test.quartz="${properties.colorScheme == 'quartz'}">
    <sly data-sly-test.backGroundColor="#E9E8E8" />
    <sly data-sly-test.fontColor="#0A3C53" />
</sly>

<sly data-sly-test="${properties.imagePath && properties.imageLayoutStyle == 'photo'}">
    <sly data-sly-test.imgLayoutPadding="0px 0px 20px" />
</sly>

<sly data-sly-test="${properties.imagePath && properties.imageLayoutStyle == 'illustration'}">
    <sly data-sly-test.imgLayoutPadding="20px 0px" />
</sly>

<sly data-sly-test="${!properties.imagePath || !properties.imageLayoutStyle}">
    <sly data-sly-test.imgLayoutPadding="20px 0px" />
</sly>

<sly data-sly-test="${properties.linkText && properties.linkText.length <= 20}">
    <sly data-sly-test.msoButtonWidth="150" />
</sly>

<sly data-sly-test="${properties.linkText && (properties.linkText.length > 20) && (properties.linkText.length <= 25)}">
    <sly data-sly-test.msoButtonWidth="220" />
</sly>

<sly data-sly-test="${properties.linkText && (properties.linkText.length > 25) && (properties.linkText.length <= 40)}">
    <sly data-sly-test.msoButtonWidth="300" />
</sly>

<sly data-sly-test="${properties.linkText && (properties.linkText.length > 40) && (properties.linkText.length <= 50)}">
    <sly data-sly-test.msoButtonWidth="400" />
</sly>

<sly data-sly-test="${properties.linkText && (properties.linkText.length > 50)}">
    <sly data-sly-test.msoButtonWidth="520" />
</sly>

<!-- Hero Component Start -->

<!--[if mso | IE]>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600">
            <tr>
              <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
          <![endif]-->


<div
    style="background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};margin:0px auto;max-width:600px;">
    <table align="center" border="0" width="600" cellpadding="0" cellspacing="0" role="presentation"
        style="background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};width:100%;max-width:600px;">
        <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:${imgLayoutPadding @context='text'};text-align:center;">
                    <!--[if mso | IE]>
                      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                <td class="" style="vertical-align:top;width:600px;" >
              <![endif]-->

                    <div class="mj-column-per-100 mj-outlook-group-fix"
                        style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                            style="vertical-align:top;" width="100%">

                            <tr sly
                                data-sly-test="${properties.imagePath && properties.imageLayoutStyle == 'illustration'}">
                                <td align="center" style="font-size:0px;padding:10px 0;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                        style="border-collapse:collapse;border-spacing:0px;"
                                        data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='email-hero', imagePath=properties.imagePath, imageAltText=properties.imageAltText,aspectRatio='4:3'}">
                                        <tbody>
                                            <tr>
                                                <td style="width:200px;">
                                                    <img height="auto" src="${imageModel.renditions['small'].imageUrl}"
                                                        alt="${imageModel.altText}"
                                                        style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;"
                                                        width="200">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr sly data-sly-test="${properties.imagePath && properties.imageLayoutStyle == 'photo'}">
                                <td align="center" style="font-size:0px;padding:0 0 10px 0;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                        style="border-collapse:collapse;border-spacing:0px;"
                                        data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='email-hero', imagePath=properties.imagePath, imageAltText=properties.imageAltText,aspectRatio='4:2'}">
                                        <tbody>
                                            <tr>
                                                <td style="width:100%;">
                                                    <img height="auto" src="${imageModel.renditions['medium'].imageUrl}"
                                                        alt="${imageModel.altText}"
                                                        style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;"
                                                        width="auto">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr data-sly-test="${properties.title}">
                                <td align="left"
                                    style="font-size:0px;padding:10px 45px 10px 45px;word-break:break-word;">
                                    <div
                                        style="font-family:'alda', Tahoma, sans-serif;font-size:58px;font-style:normal;font-weight:normal;letter-spacing:normal;line-height:1.17;text-align:left;color:${fontColor @ context='styleToken'};">
                                        ${properties.title}</div>
                                </td>
                            </tr>

                            <tr data-sly-test="${properties.description}">
                                <td align="left"
                                    style="font-size:0px;padding:0px 45px;word-break:break-word;font-family:'effra', Tahoma, sans-serif;">
                                    <div
                                        style="font-family:'effra', Tahoma, sans-serif;font-size:20px;line-height:1.5;text-align:left;color:#171717;font-weight: normal;font-stretch: normal;font-style: normal;letter-spacing: normal;">
                                        ${properties.description @ context='html'}</div>
                                </td>
                            </tr>

                            <tr>
                                <td align="left" vertical-align="middle" class="hero-btn"
                                    style="font-size:0px;padding:10px 45px 10px 45px;word-break:break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                        style="border-collapse:separate;line-height:100%;">

                                        <sly data-sly-use.buttonStyle="/apps/nyl-foundation/components/common/templates/button-style.html"
                                        data-sly-call="${buttonStyle.styleAttribute @ color = '#ffffff', backGroundColor='#0a3c53',border='none',styleType='primary',textPadding=textPadding}">
                                    </sly>
                                    <sly data-sly-use.buttonStyle="/apps/nyl-foundation/components/common/templates/button-style.html"
                                    data-sly-call="${buttonStyle.styleAttribute @ color = '#0a3c53', backGroundColor='#ffffff',border='4px solid #0a3c53',styleType='secondary',textPadding=textPadding}">
                                </sly>
                                        
                                        <tr data-sly-test="${properties.linkText && properties.buttonStyle == 'text'}">
                                            <td align="left" vertical-align="middle"
                                                class="body__cta-btn body__cta-btn--secondary"
                                                style="font-size:0px;padding:${textPadding @ context='text'};word-break:break-word;">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="border-collapse: separate; line-height: 100%;">
                                                    <tr>
                                                        <td align="center" role="presentation"
                                                            style="border: none; border-radius: 3px; cursor: auto; font-style: normal; mso-padding-alt: 0; "
                                                            valign="middle"><a href="${properties.linkUrl}"
                                                                title="${properties.linkTitle}"
                                                                style="display: inline-block;  color: #171717; font-family: 'effra', sans-serif; font-size: 18px; font-style: normal; font-weight: bold; line-height: 1.5; margin: 0; text-decoration: none; text-transform: none; mso-padding-alt: 0px; border-radius: 3px;"
                                                                target="_blank"> <span class="body__cta-btn__text"
                                                                    style="font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.44; letter-spacing: normal; text-align: center; color: #171717;">${properties.linkText}
                                                                    &rarr;</span>
                                                            </a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>

                    </div>
                    <!--[if mso | IE]>
                </td>
            </tr>
                      </table>
                    <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--[if mso | IE]>
              </td>
            </tr>
          </table>
          <![endif]-->

<!-- Hero Component Ends -->
