.cmp-sitemap {
    -moz-column-width: 13em;
    -webkit-column-width: 13em;

    &__card {
        padding: 36px;
        text-decoration: underline;
        border: 4px solid #f5f5f5;
        display: inline-block;
        width: 100%;

        li {
            list-style: none;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            color: #171717;

            a:hover {
                color: #0079C2;
              }

            ul {
                margin: 0;
                padding: 9px 0;

                li:first-child {
                    padding-top: 9px;
                }

                li {
                    font-weight: normal;
                    ul {
                        li {
                            font-size: 20px;
                            line-height: 30px;

                            ul {
                                li {
                                    font-size: 18px;
                                    line-height: 27px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--2level {
        .cmp-sitemap__card {
            ul ul {
                display: none;
            }
        }
    }
    &--3level {
        .cmp-sitemap__card {
            ul ul ul {
                display: none;
            }
        }
    }
}

