.cmp-external-links-modal {
    box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.2);
    padding: calcRem(60px);
    height: max-content;
    @include media-breakpoint-down(sm) {
        padding: 5%;
    }

    &__close {
        height: fit-content;
        float: right;
        margin-top: calcRem(-55px) !important;
        margin-right: calcRem(-55px) !important;
        opacity: unset;
        span {
            height: calcRem(24px);
            width: calcRem(24px);
            color: $steel;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 0 !important;
            padding: 0 !important;
            position: absolute;
            top: 0;
            right: calcRem(55px);
        }
    }
    &__heading {
        width: auto;
        color: $steel;
        margin-left: 0;
        margin-top: 0;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(20px);
        font-weight: bold;
        letter-spacing: 0;
        line-height: calcRem(25px);
        padding-bottom: 0;
        @include media-breakpoint-down(sm) {
            margin-left: 0;
            padding-top: 56px;
            margin-top: 0;
            margin-bottom: 14px;
            display: table;
            font-size: calcRem(16px);
            line-height: calcRem(19px);
        }
    }
    &__content {
        padding: 0;
        margin-top: calcRem(12px);
        display: block;
        color: $steel;
        margin-left: 0;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(16px);
        letter-spacing: 0;
        line-height: calcRem(24px);
        @include media-breakpoint-down(sm) {
            margin-left: 0;
            padding: 0;
            width: inherit;
            margin-top: calcRem(14px);
            font-size: calcRem(14px);
            line-height: calcRem(20px);
        }
        p {
            @include media-breakpoint-down(sm) {
                width: inherit;
                font-size: calcRem(14px);
                line-height: calcRem(20px);
            }
        }

        .text__xxlHeader,
        h1 {
            font-family: $font-family-alda;
            @include font-size(50px);
            @include line-height(54px);

            @include media-breakpoint-down(sm) {
                @include font-size(28px);
                @include line-height(32px);
            }
        }

        .text__xlHeader,
        h2 {
            font-family: $font-family-alda;
            @include font-size(36px);
            @include line-height(46px);

            @include media-breakpoint-down(sm) {
                @include font-size(20px);
                @include line-height(26px);
            }
        }

        .text__lHeader,
        h3 {
            font-family: $font-family-helvetica-neue;
            font-weight: $font-weight-bold;
            @include font-size(36px);
            @include line-height(44px);

            @include media-breakpoint-down(sm) {
                @include font-size(24px);
                @include line-height(28px);
            }
        }

        .text__mTitleAndSubText,
        h4 {
            font-family: $font-family-alda;
            @include font-size(26px);
            @include line-height(38px);

            @include media-breakpoint-down(sm) {
                @include font-size(22px);
                @include line-height(26px);
            }
        }

        .text__sTitle,
        h5 {
            font-family: $font-family-alda;
            @include font-size(22px);
            @include line-height(30px);

            @include media-breakpoint-down(sm) {
                @include font-size(16px);
                @include line-height(19px);
            }
        }

        .text__xsContentLabel,
        h6 {
            font-family: $font-family-helvetica-neue;
            font-weight: $font-weight-bold;
            @include font-size(16px);
            @include line-height(20px);
            letter-spacing: 1px;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                @include font-size(14px);
                @include line-height(18px);
            }
        }

        .text__xxsDisclosure {
            font-family: $font-family-helvetica-neue;
            @include font-size(14px);
            @include line-height(24px);
            @include media-breakpoint-down(sm) {
                @include font-size(12px);
                @include line-height(18px);
            }
        }

        .text__xxxsDisclosure {
            font-family: $font-family-helvetica-neue;
            @include font-size(11px);
            @include line-height(14px);

            @include media-breakpoint-down(sm) {
                @include font-size(12px);
                @include line-height(18px);
            }
        }

        .text__contactPhone {
            font-family: $font-family-helvetica-neue;
            @include font-size(20px);
            letter-spacing: 0.22px;
            color: #0a3c53;
            @include line-height(28px);
            @include media-breakpoint-down(sm) {
                @include font-size(18px);
                color: #0079c2;
                letter-spacing: 0px;
            }
        }

        .text__xlBody {
            font-family: $font-family-helvetica-neue;
            @include font-size(22px);
            @include line-height(32px);
            @include media-breakpoint-down(sm) {
                @include font-size(16px);
                @include line-height(24px);
            }
        }

        .text__lBody {
            font-family: $font-family-helvetica-neue;
            @include font-size(18px);
            @include line-height(28px);
            @include media-breakpoint-down(sm) {
                @include font-size(16px);
                @include line-height(24px);
            }
        }

        .text__body,
        p {
            font-family: $font-family-helvetica-neue;
            @include font-size(16px);
            @include line-height(24px);
        }
    }
    &__button-group {
        float: right;
        margin-bottom: 0;
        margin-right: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: calcRem(49px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(15px);
            margin-bottom: calcRem(18px);
            padding-left: 0;
            justify-content: flex-end;
            width: 116%;
            margin-left: calcRem(-42px);
        }
    }
    &__button {
        background-color: $steel;
        border-radius: 0;
        color: $white;
        font-family: $font-family-helvetica-neue;
        font-weight: 500;
        width: calcRem(160px);
        letter-spacing: 0;
        line-height: calcRem(27px);
        border: 0;
        padding: calcRem(14px) calcRem(40px);
        height: calcRem(50px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
        &:hover {
            background-color: $dark-steel-2;
        }
        @include media-breakpoint-down(sm) {
            margin-left: 0;
            max-width: calcRem(141px);
            min-width: calcRem(141px);
            display: inline-block;
        }
        &-cancel {
            margin-right: calcRem(4px);
            width: calcRem(166px);
            background-color: $light-steel-1;
            color: $steel;
            &:hover {
                color: $steel;
                background: $light-steel-6;
            }
            @include media-breakpoint-down(sm) {
                margin-right: calcRem(8px);
            }
        }
    }

    .modal-dialog {
        width: calcRem(725px);
        max-width: calcRem(725px);
        height: max-content;
        @include media-breakpoint-down(sm) {
            padding: 0;
            width: 100%;
            margin-left: unset !important;
            max-width: 100%;
        }
        @include media-breakpoint-only(md) {
            margin-left: calcRem(-38px);
        }
    }

    .modal-content {
        padding: calcRem(60px);
        border-radius: 0;
        overflow-y: auto;
        height: calcRem(434px);
        min-width: calcRem(725px);
        @include media-breakpoint-only(md) {
            margin: 0px calcRem(-15px);
        }
        @include media-breakpoint-down(sm) {
            padding: calcRem(22px);
            max-height: calc(100vh - 10vh);
            height: max-content;
            min-width: 100%;
            margin: 0px;
        }
    }

    .modal-header {
        border: none;
        flex-shrink: 0;
        position: relative;
        padding: 0;
        @include media-breakpoint-down(sm) {
            margin-left: 0;
        }
    }

    .modal-footer {
        border: none;
        padding: 0;
    }
}
