<div class="xf-web-container">
    <div class="col-md-12 cmp-external-links-modal modal fade" id="externalLinksModal" tabindex="-1" role="dialog" aria-labelledby="externalLinksModalLabel" aria-hidden="true">
        <div class="modal-dialog col-md-11 offset-1" role="document">
            <div class="modal-content col-md-12">
            <div class="modal-header">
                <h5 class="modal-title cmp-external-links-modal__heading" id="externalLinksModalLabel">Modal title</h5>
                <button type="button" class="close cmp-external-links-modal__close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cmp-external-links-modal__content">
                You are now leaving the new york life's investment website. You are now leaving the new york life's investment website.
            </div>
            <div class="modal-footer cmp-external-links-modal__button-group">
                <button type="button" class="btn btn-secondary cmp-external-links-modal__button" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary cmp-external-links-modal__button cmp-external-links-modal__button-continue">Continue</button>
            </div>
            </div>
        </div>
    </div>
</div>
<a href="https://www.google.com">External Link</a>
<a href = "https://www.newyorklifeinvestments.com">Internal Link</a>
<a>Blank link</a>
