.cmp-banner-category {
    background: $medium-quartz;
    h1,
    p.h3 {
        color: $dark-quartz;
    }
    h1 {
        line-height: calcRem(68px);
    }
    @include media-breakpoint-down(sm) {
        h1 {
            @include font-size(58px);
            @include line-height(68px, 1);
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    &__category {
        position: relative;
        overflow: visible;
    }

    &__image-container {
        position: absolute;
        top: 11%;
        left: 50%;
        z-index: 1;

        picture {
            z-index: 2;
            position: relative;
        }

        @include media-breakpoint-down(md) {
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            z-index: 2;
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                height: 50%;
                background: $white;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
            }
        }
    }

    &__title--layout {
        padding: 6.3% 0 10.5%;
        > div {
            float: none;
        }
    }

    &__bullet-section--layout {
        padding: 8% 0 0%;
        position: relative;
        > div {
            float: none;
        }
        .col {
            z-index: 4;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100vw;
            height: calc(100% + 76px);
            background: $white;
            top: 0;
            left: 0;
            right: 0;
            margin-left: calc(50% - 50vw);
            margin-right: calc(50% - 50vw);
        }
    }
}

//HEADER COLORS
@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-banner-category--#{$dark-color-name} .cmp-banner-category {
        h1,
        p.h3 {
            color: $dark-color;
        }
    }
}

//BACKGROUND COLORS
.cmp-banner-category--dark-salmon .cmp-banner-category {
    background: $medium-salmon;
}
.cmp-banner-category--dark-twilight .cmp-banner-category {
    background: $medium-twilight;
}
.cmp-banner-category--dark-dusk .cmp-banner-category {
    background: $medium-dusk;
}
.cmp-banner-category--dark-rain .cmp-banner-category {
    background: $medium-rain;
}
.cmp-banner-category--dark-palm .cmp-banner-category {
    background: $medium-palm;
}
.cmp-banner-category--dark-gold .cmp-banner-category {
    background: $medium-gold;
}
.cmp-banner-category--dark-sunset .cmp-banner-category {
    background: $medium-sunset;
}

//DARK BACKGROUND COLORS
.cmp-banner-category--salmon .cmp-banner-category {
    background: $dark-salmon;
    h1,
    p.h3 {
        color: $white;
    }
}

.cmp-banner-category--twilight .cmp-banner-category {
    background: $dark-twilight;
    h1,
    p.h3 {
        color: $white;
    }
}

.cmp-banner-category--dusk .cmp-banner-category {
    background: $dark-dusk;
    h1,
    p.h3 {
        color: $white;
    }
}

.cmp-banner-category--rain .cmp-banner-category {
    background: $dark-rain;
    h1,
    p.h3 {
        color: $white;
    }
}

.cmp-banner-category--palm .cmp-banner-category {
    background: $dark-palm;
    h1,
    p.h3 {
        color: $white;
    }
}

.cmp-banner-category--gold .cmp-banner-category {
    background: $dark-gold;
    h1,
    p.h3 {
        color: $white;
    }
}

.cmp-banner-category--sunset .cmp-banner-category {
    background: $dark-sunset;
    h1,
    p.h3 {
        color: $white;
    }
}

.cmp-banner-category--steel .cmp-banner-category {
    background: $twilight-blue;
    h1,
    p.h3 {
        color: $white;
    }
}
