<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.videoId, classAppend='cmp-video-placeholder'}" />
<div class="cmp-video">
    <div style="position: relative; display: block; max-width: 100%;">
        <div style="padding-top: 56.25%;">
            <video data-video-id="${properties.videoId}" data-account="75123740001" data-player="Q2YiRkzud"
                data-embed="default" data-application-id class="video-js" controls
                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></video>
            <script src="//players.brightcove.net/75123740001/Q2YiRkzud_default/index.min.js"></script>
        </div>
    </div>
</div>

<script data-sly-set.dateTime="${'yyyy-MM-dd\'T\'HH:mm:ssZ' @ format=properties.videoPublicationDate}"
    data-sly-use.model="${'com.nyl.foundation.models.VideoSchemaModel' @componentName='video', imagePath=properties.videoThumbnail, title=properties.videoTitle, description=properties.videoDescription, minutes=properties.videoMinutes, seconds=properties.videoSeconds, contentUrl=properties.videoUrl, uploadDate=dateTime}"
    type="application/ld+json">
    ${model.videoSchema @ context='unsafe'}
</script>
