<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-agent-presence-in-page-placeholder'}"
    data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel'}"
    data-sly-use.fallbackImage="${'com.nyl.foundation.models.ImageModel' @componentName='agent-presence-in-page', imagePath=properties.fallbackAgentPhoto}"
    data-sly-use.noAgentImage="${'com.nyl.foundation.models.ImageModel' @componentName='agent-presence-in-page', imagePath=properties.imageUrl}"
    data-sly-use.disclosuresModel="${'com.nyl.nylcom.models.agentweb.AgentPresenceDisclosureModel'}"
    data-sly-use.headline="${'com.nyl.foundation.models.FormatterModel' @input=properties.headline}"
    data-sly-use.description="${'com.nyl.foundation.models.FormatterModel' @input=properties.description}"/>

<div class="cmp-agent-presence-in-page" data-i18n-labels='{
        "licenseToAssistWith": "${"nyl.agent.licensedToAssistWith" @i18n}",
        "educationLicensing": "${"nyl.agent.educationLicensing" @i18n}",
        "address": "${"nyl.agent.address" @i18n}",
        "businessPhoneLabel": "${"foundation.businessPhoneLabel" @i18n}",
        "preferredPhoneLabel": "${"foundation.preferredPhoneLabel" @i18n}",
        "emailLabel": "${"nyl.socialShare.email" @i18n}",
        "nyltitlelabel": "${"nyl.agent.nylTitleLabel" @i18n}",
        "recruiterTitleLabel": "${"nyl.agent.recruiterTitleLabel" @i18n}",
        "registeredRepTitleH1Label": "${"nyl.agentProfile.registeredRepProfileTitleH1Label" @i18n}",
        "eagletitleh1label": "${"nyl.agent.eagleProfileTitleH1Label" @i18n}",
        "dbatitleh1label": "${"nyl.agent.dbaTitleH1Label" @i18n}",
        "agenttitlelabel": "${"nyl.agent.agentProfileTitleLabel" @i18n}",
        "lifeInsurance": "${"nyl.skills.label.I00180" @i18n}",
        "annuities": "${"nyl.skills.label.I00280" @i18n}",
        "longTermCare": "${"nyl.skills.label.I00170" @i18n}",
        "longTermCareTooltip": "${"nyl.skills.toolTip.I00170" @i18n}",
        "investments": "${"nyl.skills.label.S00330" @i18n}",
        "investmentsTooltip": "${"nyl.skills.toolTip.S00330" @i18n}",
        "wealthManagement": "${"nyl.skills.label.S00320" @i18n}",
        "wealthmanagementTooltip": "${"nyl.skills.toolTip.S00320" @i18n}"
    }' data-agent-data='{
        "fallbackAgentPhoto": "${fallbackImage.renditions["large"].imageUrl}",
        "title": "${properties.title}",
        "disclaimerText": "${properties.disclaimerText}",
        "noAgentImage": "${noAgentImage.renditions["small"].imageUrl}",
        "headline": "${headline.escapedText}",
        "description": "${description.escapedText}",
        "hideCtaButton": "${properties.hideAgentButton}",
        "ctaTitle": "${linkModel.title}",
        "ctaText": "${linkModel.text}",
        "ctaUrl": "${linkModel.url}"
    }' data-eaglename='${disclosuresModel.eagle @ context="html"}'
    data-equal-opportunity-employer='${disclosuresModel.equalOpportunityEmployer @ context="html"}'
    data-general='${disclosuresModel.general @ context="html"}'
    data-nautilus='${disclosuresModel.nautilus @ context="html"}'
    data-registered-rep-agent='${disclosuresModel.registeredRepAgent @ context="html"}'
    data-registered-rep-recruiter='${disclosuresModel.registeredRepRecruiter @ context="html"}'
    data-special-licenseid='${disclosuresModel.specialLicenseID @ context="html"}'>
</div>

<div class="modal fade" id="cmp-agent-presence-in-page__disclosure-modal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <sly data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
                    data-sly-call="${xfIncludeTemplate.include @ path=properties.learnMoreXF}"></sly>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
