<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = (!properties.headline && !properties.description && !properties.imagePath) , classAppend='cmp-card-placeholder'}" />

<div class="cmp-card d-flex" data-sly-use.cardCta="${'com.nyl.foundation.models.LinkModel' @ prefix='cardCta'}"
    data-sly-use.cardModel="${'com.nyl.foundation.models.CardModel'}"
    data-sly-use.resource="${'com.nyl.foundation.models.ResourceModel' @resourcePath=cardCta.url, appendPath='jcr:content'}"
    data-sly-use.socialLinkResources="${'com.nyl.foundation.models.ResourceModel' @resourcePath=resource.path, appendPath='socialFollowLinks'}"
    data-sly-set.imagePath="${properties.isImageProperty? resource.properties.thumbnailImage : properties.imagePath}"
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='card', imagePath= imagePath, aspectRatio=cardModel.cardPlacement}"
    data-sly-set.showAnchor="${cardCta.url && cardCta.title}">
    <div class="cmp-card__eyebrow">${properties.eyebrow}</div>
    <div class="cmp-card__content-wrapper d-flex w-100">
        <div class="cmp-card__image--non-feature" data-sly-test="${imageModel.svg}">
            <a data-sly-unwrap="${!showAnchor}" href="${cardCta.url}" title="${cardCta.title}"
                target="${cardCta.behavior}"> ${imageModel.svgSource @ context='unsafe'} </a>
        </div>
        <div class="cmp-card__feature-card-column col-4 col-md-12 order-2 order-md-1"
            data-sly-test="${!imageModel.svg && imagePath}">
            <div class="cmp-card__image-wrapper">
                <a data-sly-unwrap="${!showAnchor}"
                    onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                    href="${cardCta.url}" title="${cardCta.title}" target="${cardCta.behavior}">
                    <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                        data-sly-call="${image.pictureTemplate @ imageModel=imageModel, pictureClass='cmp-card__image',imgClass='mw-100 polyfill-object-fit-ie'}">
                    </sly>
                </a>
            </div>
        </div>
        <div class="cmp-card__content col d-flex flex-column col-md-12 order-1 order-md-2">
            <p class="text__medium" data-sly-test="${properties.headline}">
                <a data-sly-unwrap="${!showAnchor}" href="${cardCta.url}" title="${cardCta.title}"
                    target="${cardCta.behavior}"> ${properties.headline} </a>
            </p>
            <div class="text__body cmp-rte" data-sly-test="${properties.description}">${properties.description @
                context='html'}</div>
            <a data-sly-test="${showAnchor && cardCta.text}" href="${cardCta.url}" class="cmp-card__link"
                title="${cardCta.title}" target="${cardCta.behavior}"> <span class="nyl-button button--transparent">
                    ${cardCta.text} <i class="cmp-card__icon-arrow" aria-hidden="true"></i>
                </span>
            </a>
            <p class="cmp-card__feature-link">
                <a data-sly-test="${showAnchor && cardCTA.text}" href="${cardCta.url}" title="${cardCta.title}"
                    target="${cardCta.behavior}">${cardCta.text}</a>
            </p>
            <div class="cmp-card__social-links" data-sly-test.socialResources="${socialLinkResources.children}">
                <div class="cmp-card__social-button-drawer">
                    <ul data-sly-list.socialLinkResource="${socialResources}">
                        <li data-sly-test="${socialLinkResource.socialLinkLinkUrl && socialLinkResource.imagePath}"
                            data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ linkUrl=socialLinkResource.socialLinkLinkUrl, appendPath='socialLink'}">
                            <a href="${linkModel.linkUrl}" target="${socialLinkResource.socialLinkLinkBehavior}"
                                title="${linkModel.title}" class="cmp-card__social-button">
                                <img data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @ imagePath=socialLinkResource.imagePath,imageAltText=socialLinkResource.imageAltText}"
                                    data-sly-test="${imageModel.svg}" alt="${imageModel.altText}"
                                    src="${socialLinkResource.imagePath}">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cmp-card__cta" data-sly-test="${cardCta.text && cardCta.url}">
                    <a href="${cardCta.url}" target="${cardCta.behavior}" title="${cardCta.title}"> ${cardCta.text}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
