@include marginOverrideSelf('cmp-bio', 0, 0, 0, 0);
.cmp-bio {
    &__container {
        margin-right: calcRem(10px);
        @include media-breakpoint-down(sm) {
            margin-right: calcRem(0px);
        }
    }

    &__detail {
        font-family: $font-family-helvetica-neue;
        color: $header-color;

        &--name {
            font-family: $font-family-alda;
            @include media-breakpoint-down(sm) {
                margin-bottom: calcRem(12px);
            }
            @include media-breakpoint-down(sm) {
                text-align: center;
            }

            a.clickable {
                @include media-breakpoint-down(sm) {
                    text-decoration: underline;
                }
                &:hover {
                    text-decoration: underline;
                }
                font-size: 0;
                > span {
                    font-size: calcRem(36px);
                    line-height: calcRem(60px);
                    @include media-breakpoint-down(sm) {
                        font-size: calcRem(24px);
                        line-height: calcRem(32px);
                    }
                }
            }
        }

        &--title {
            font-size: calcRem(18px);
            font-weight: bold;
            line-height: calcRem(24px);
            @include media-breakpoint-down(sm) {
                text-align: center;
                font-size: calcRem(16px);
            }
        }

        &--company {
            font-size: calcRem(18px);
            line-height: calcRem(24px);
            @include media-breakpoint-down(sm) {
                text-align: center;
                font-size: calcRem(16px);
            }
        }

        &--text {
            padding-top: calcRem(29px);
            @include media-breakpoint-down(sm) {
                display: none;
                padding-top: calcRem(0px);
            }
            p {
                line-height: calcRem(24px);
                overflow: hidden;
                position: relative;
                max-height: calcRem(48px);
                text-align: justify;
                margin-right: -1em;
                padding-right: 1em;
                display: none;
            }
            p:first-child {
                display: block;
            }

            p:before {
                content: '...';
                position: absolute;
                right: 0;
                bottom: 0;
            }

            p:after {
                content: '';
                position: absolute;
                right: 0;
                width: 1em;
                height: 1em;
                margin-top: 0.2em;
                background: white;
            }
        }
    }

    &__image {
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(20px);
        }
        img {
            @include media-breakpoint-down(sm) {
                height: calcRem(177px);
                width: calcRem(177px);
            }
        }
    }

    &__detail--achievements {
        display: none;
    }

    &__social-share {
        margin-top: calcRem(20px);
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
        ul {
            padding-left: 0px;
            list-style-type: none;
            li {
                margin-right: calcRem(10px);
                display: inline;
                div {
                    align-items: center;
                    display: inline-flex;
                    justify-content: center;
                    text-align: center;
                    width: calcRem(30px);
                    height: calcRem(30px);
                    background-color: $mobile-row;
                    border-radius: calcRem(15px);
                    @include media-breakpoint-down(sm) {
                        width: calcRem(40px);
                        height: calcRem(40px);
                        border-radius: calcRem(20px);
                    }
                }
            }
        }

        &--icon {
            &--twitter {
                &:after {
                    content: '';
                    width: calcRem(12px);
                    height: calcRem(12px);
                    display: inline-block;
                    background: url('../resources/images/icon-twitter--steel.svg') no-repeat center/contain;
                }
            }
            &--linkedin {
                &:after {
                    content: '';
                    width: calcRem(12px);
                    height: calcRem(12px);
                    display: inline-block;
                    background: url('../resources/images/icon-linkedin--steel.svg') no-repeat center/contain;
                }
            }
        }
    }

    &__see-link {
        float: right;
        margin-top: calcRem(48px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(48px);
            padding-right: calcRem(20px);
        }
    }

    .icon-arrow {
        margin-left: calcRem(4px);
        &:after {
            content: '';
            width: calcRem(12px);
            height: calcRem(12px);
            display: inline-block;
            background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
        }
    }

    &__see-more,
    &__see-less {
        cursor: pointer;
    }

    &__see-less {
        display: none;
    }

    &__see-more {
        display: block;
        .icon-down-arrow {
            margin-left: calcRem(4px);
            &:after {
                content: '';
                width: calcRem(12px);
                height: calcRem(12px);
                display: inline-block;
                background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
            }
        }
    }

    hr {
        background-color: $steel;
        margin-bottom: calcRem(30px);
        margin-top: calcRem(30px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(15px);
            margin-top: calcRem(15px);
        }
    }

    .expanded {
        .cmp-bio__image {
            text-align: center;
            @include media-breakpoint-down(sm) {
                margin-bottom: calcRem(17px);
            }
        }

        .cmp-bio__detail {
            &--text {
                display: block;
                padding-top: calcRem(29px);
                @include media-breakpoint-down(sm) {
                    padding-top: calcRem(20px);
                }
                p {
                    display: block;
                    text-overflow: unset;
                    -webkit-line-clamp: unset;
                    max-height: none;
                    @include media-breakpoint-down(sm) {
                        font-size: calcRem(14px);
                        line-height: calcRem(20px);
                    }
                }
                p:before {
                    content: '';
                }
            }
            &--name {
                @include media-breakpoint-down(sm) {
                    margin-bottom: calcRem(10px);
                }
            }

            &--achievements {
                font-family: $font-family-helvetica-neue;
                display: flex;
                padding-top: calcRem(42px);
                &--name {
                    font-family: $font-family-alda;
                    font-size: calcRem(22px);
                    line-height: calcRem(30px);
                    margin-bottom: calcRem(22px);
                    @include media-breakpoint-down(sm) {
                        margin-bottom: calcRem(16px);
                        font-size: calcRem(20px);
                        line-height: calcRem(26px);
                    }
                }
            }
            &--recognitions {
                padding: 0;
            }
            &--affiliations {
                padding: 0;
                @include media-breakpoint-down(sm) {
                    margin-top: calcRem(30px);
                }
            }
        }

        .cmp-bio__see-less {
            display: block;
            .icon-up-arrow {
                margin-left: calcRem(4px);
                &:after {
                    content: '';
                    width: calcRem(12px);
                    height: calcRem(12px);
                    display: inline-block;
                    transform: rotate(180deg);
                    background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
                }
            }
        }

        .cmp-bio__see-more {
            display: none;
        }
    }
}
