@include marginOverrideSelf('cmp-role-container', 0, 0, 0, 0);

.cmp-tabs__tab {
    box-sizing: unset;
    border-bottom: none;
    cursor: pointer;
}
.cmp-role-container {
    .cmp-rte {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px) !important;
            margin-right: calcRem(0px) !important;
        }
    }
}
