.cmp-social-share {
    display: flex;
    align-content: center;
    margin-left: calcRem(-5px);
    margin-right: calcRem(-5px);

    .h4 {
        display: none;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        @include transition(all 0.35s ease-in-out);
        white-space: nowrap;
        left: -220px;
        position: relative;
        visibility: hidden;

        li {
            margin: 0;
            display: inline-block;
            .cmp-social-share__button {
                padding: 0 calcRem(5px);
                i {
                    background-color: $light-steel-1;
                }
            }
            &:nth-of-type(5) {
                display: none;
            }
        }

        &.cmp-social-share__expand {
            left: 0;
            visibility: visible;
        }
    }
    li .--copy {
        display: none;
    }
    .cmp-social-share__button--share {
        padding: 0 calcRem(5px);
        z-index: 1;
        i {
            background-color: $white;
        }
    }
    &__button-drawer {
        overflow: hidden;
        position: relative;
        margin-left: calcRem(-25px);
        padding-left: calcRem(25px);
    }
    &__button,
    &__button--share {
        &:hover {
            text-decoration: none;
        }
        i {
            display: inline-flex;
            border-radius: 50%;
            width: calcRem(40px);
            height: calcRem(40px);
            padding: calcRem(10px);

            &:after {
                content: '';
                display: inline-block;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__clipboard-message {
        display: none;
    }
    &__icon {
        &--share {
            &:after {
                background: url('../resources/images/icon-share--steel.svg') no-repeat center/contain;
            }
        }
        &--facebook {
            &:after {
                background: url('../resources/images/icon-facebook--steel.svg') no-repeat center/contain;
            }
        }
        &--twitter {
            &:after {
                background: url('../resources/images/icon-twitter--steel.svg') no-repeat center/contain;
            }
        }
        &--linkedin {
            &:after {
                background: url('../resources/images/icon-linkedin--steel.svg') no-repeat center/contain;
            }
        }
        &--email {
            &:after {
                background: url('../resources/images/icon-email--steel.svg') no-repeat center/contain;
            }
        }
    }

    &--secondary-color {
        .cmp-social-share {
            .cmp-social-share__button--share {
                i {
                    background-color: $light-steel-3;
                }
            }
        }
    }
}
