<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder
   @ isEmpty = !properties.imagePath, classAppend='cmp-product-profile-placeholder'}" />
<sly data-sly-set.isManual="${properties.productName || properties.assetClass || properties.productType}"
    data-sly-use.morningstarCtaLink="${'com.nyl.foundation.models.LinkModel' @ prefix='morningstarCta'}"
    data-sly-use.iconModel="${'com.nyl.foundation.models.ImageModel' @ componentName='productProfile', 
   imagePath= properties.buttonIconPath}" />
<div class="cmp-product-profile">
    <div class="cmp-product-profile__paralax-image">
        <sly data-sly-test="${properties.imagePath}"
            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.imageTemplate @ componentName='product-profile', imagePath=properties.imagePath, imageAltText=properties.imageAltText}">
        </sly>
        <div data-sly-test="${morningstarCtaLink.text && morningstarCtaLink.url}"
            class="${isManual? 'cmp-product-profile__manual-author' : 'cmp-product-profile__btn-morningstar-mobile cmp-product-profile__db' }">
            <a class="cmp-product-profile__link-morningstar" href="${morningstarCtaLink.url}"
                target="${morningstarCtaLink.behavior}">
                <span class="nyl-button">
                    <i data-sly-test="${iconModel.svg}" class="nyl-button--icon-prepend" aria-hidden="true">
                        ${iconModel.svgSource @ context='unsafe'} </i>
                    ${morningstarCtaLink.text}
                    <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="cmp-product-profile__container">
        <div data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @resourcePath=resource.path, 
         appendPath='documents'}" data-sly-test.documentList="${resourceModel.children}"
            class="cmp-product-profile__document-section">
            <ul data-sly-list.docDetails="${documentList}">
                <li data-sly-test="${docDetails.documentName}">
                    <a href="${docDetails.documentPath}" target="_blank">${docDetails.documentName}</a>
                </li>
            </ul>
        </div>
        <div class="cmp-product-profile__primary">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="cmp-product-profile__product-info">
                        <div class="cmp-product-profile__type assetClass">
                            <span class="cmp-product-profile__db"> ${properties.assetClass}</span>
                            <span class="cmp-product-profile__na"></span>
                        </div>
                        <div class="cmp-product-profile__eyebrow">.</div>
                        <div class="cmp-product-profile__type productType">
                            <span class="cmp-product-profile__db"> ${properties.productType}</span>
                            <span class="cmp-product-profile__na"></span>
                        </div>
                    </div>
                    <div class="cmp-product-profile__product-info">
                        <div data-sly-test="${!isManual}" class="row">
                            <div class="cmp-product-profile__ticker">
                                <span class="cmp-product-profile__db tickerName"></span>
                                <span class="cmp-product-profile__na"></span>
                            </div>
                            <div class="cmp-product-profile__fund-name">
                                <span class="cmp-product-profile__db fundName"></span>
                                <span class="cmp-product-profile__na"></span>
                            </div>
                        </div>
                        <div data-sly-test="${!isManual}" class="row">
                            <div class="cmp-product-profile__dd-width 
                        cmp-product-profile__share-dropdown cmp-product-profile__dropdown-wrapper">
                                <span class="cmp-product-profile__share-dropdown__span cmp-product-profile__db"></span>
                                <span class="cmp-product-profile__na"></span>
                                <ul class="cmp-product-profile__dropdown cmp-product-profile__db"></ul>
                            </div>
                        </div>
                        <div data-sly-test="${properties.productName}"
                            class="row cmp-product-profile__manual-fund-name">
                            <div class="col-lg-12 col-md-12 col-12">${properties.productName}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12" data-sly-test="${!isManual}">
                    <div class="cmp-product-profile__btn-morningstar cmp-product-profile__db"
                        data-sly-test="${morningstarCtaLink.url && morningstarCtaLink.text }">
                        <a class="cmp-product-profile__link-morningstar" href="${morningstarCtaLink.url}"
                            target="${morningstarCtaLink.behavior}"> <span class="nyl-button"> <i
                                    data-sly-test="${iconModel.svg}" class="nyl-button--icon-prepend"
                                    aria-hidden="true"> ${iconModel.svgSource @
                                    context='unsafe'} </i> ${morningstarCtaLink.text} <i class="nyl-button--icon-arrow"
                                    aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div data-sly-test=${!isManual} class="cmp-product-profile__secondary">
            <div class="cmp-product-profile__product-details">
                <div class="row">
                    <div class="col-lg-2 col-md-2 cmp-product-profile__content">
                        <div class="cmp-product-profile__label-text text-uppercase 
                                cmp-product-profile__content--currentNavLabel">
                        </div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db cmp-product-profile__content--currentNav"></div>
                            <div class="cmp-product-profile__na"></div>
                        </div>
                        <div class="cmp-product-profile__hint-text">
                            <span class="cmp-product-profile__content--hintLabel"></span>
                            <span class="cmp-product-profile__db cmp-product-profile__content--effectiveDate"></span>
                            <span class="cmp-product-profile__na"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 cmp-product-profile__content 
                            cmp-product-profile__content--salesChargesSection">
                        <div class="cmp-product-profile__label-text cmp-product-profile__content--salesChargeLabel">
                        </div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db">
                                <span class="cmp-product-profile__content--salesCharges"></span>
                            </div>
                            <div class="cmp-product-profile__na"></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 cmp-product-profile__content">
                        <div class="cmp-product-profile__label-text cmp-product-profile__content--dayChangeLabel"></div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db">
                                <span class="cmp-product-profile__icon-downred cmp-product-profile__icon-downgreen 
                                        cmp-product-profile__content--changeNavIndicator"></span>
                                <span class="cmp-product-profile__content--changeNav"></span>
                                <span class="cmp-product-profile__dayChangeValue 
                                        cmp-product-profile__content--perChangeNav"></span>
                            </div>
                            <div class="cmp-product-profile__na"></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 cmp-product-profile__content cmp-product-profile__marginTop 
                            cmp-product-profile__content--ytdSection">
                        <div class="cmp-product-profile__label-text text-uppercase 
                                cmp-product-profile__content--ytdLabel">
                        </div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db">
                                <span class="cmp-product-profile__icon-downred cmp-product-profile__icon-downgreen 
                                        cmp-product-profile__content--ytdIndicator"></span>
                                <span class="cmp-product-profile__content--ytd"></span>
                            </div>
                            <div class="cmp-product-profile__na"></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 cmp-product-profile__content cmp-product-profile__pad-left 
                            cmp-product-profile__content--morningStars">
                        <div class="cmp-product-profile__label-text cmp-product-profile__content--ratingLabel"></div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db cmp-product-profile__icon-star">
                            </div>
                            <div class=" cmp-product-profile__na "></div>
                        </div>
                        <div class="cmp-product-profile__hint-text ">
                            <span class="cmp-product-profile__content--disclaimerLabel"></span>
                            <span class="cmp-product-profile__db cmp-product-profile__content--funds"></span>
                            <span class="cmp-product-profile__na "></span>
                            <span class="cmp-product-profile__db cmp-product-profile__content--category"></span>
                            <span class="cmp-product-profile__na "></span><span
                                class="cmp-product-profile__content--disclaimerSecondaryLabel"></span>
                            <span class="cmp-product-profile__db cmp-product-profile__content--date"></span>
                        </div>
                        <span class="cmp-product-profile__na "></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-product-profile__scroll-section">
            <div class="cmp-product-profile__scroll-section--container">
                <div class="row">
                    <div class="col-lg-9 col-md-10 col-10">
                        <div class="cmp-product-profile__product-info">
                            <div data-sly-test="${!isManual}" class="cmp-product-profile__ticker">
                                <span class="cmp-product-profile__db tickerNameScroll"></span>
                                <span class="cmp-product-profile__na"></span>
                            </div>
                            <div data-sly-test="${!isManual}" class="cmp-product-profile__share-dropdown 
                        cmp-product-profile__dropdown-wrapper-scroll">
                                <span class="cmp-product-profile__db"></span>
                                <span class="cmp-product-profile__na"></span>
                                <ul class="cmp-product-profile__dropdown cmp-product-profile__db"></ul>
                            </div>
                            <div data-sly-test="${!isManual}" class="cmp-product-profile__fund-name"></div>
                            <div data-sly-test="${isManual}" class="cmp-product-profile__fund-name-authorable">
                                ${properties.productName}</div>
                        </div>
                    </div>
                    <div data-sly-use.contactUsCtaLink="${'com.nyl.foundation.models.LinkModel' @ prefix='contactUsCta'}"
                        data-sly-test="${contactUsCtaLink.text && contactUsCtaLink.url }"
                        class="col-lg-3 col-md-2 col-2">
                        <div class="cmp-product-profile__contactus-section">
                            <a href="${contactUsCtaLink.url}" class="cmp-product-profile__contactus" target=" 
                     ${contactUsCtaLink.behavior}"> ${contactUsCtaLink.text}</a>
                            <a href="${contactUsCtaLink.url}" class="cmp-product-profile__contacticon"> <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
