<div class="product-finder aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-product-finder" id="cmp-product-finder-is-ie">
        <div class="cmp-product-finder__table--count col-lg-4 col-md-2 col-sm-12">
            <span class="cmp-product-finder__table--count-number">310</span>
            <span class="cmp-product-finder__table--count-results"> results </span>
        </div>
        <div class="cmp-product-finder__table--toggle">
            <div><span class="toggle monthly active">Monthly</span><span class="divider"></span>
                <span class="toggle quarterly">Quarterly</span>
            </div>
        </div>
        <div class="cmp-product-finder-filters--list">
        </div>
        <div class="cmp-product-finder__table--returns">
            <span class="cmp-product-finder__table--returns-text">View
                Returns</span>
            <div class="wrapper-div">
                <div class="btn-group selectDiv">
                    <div class="toggle-select btn dropdown-open">
                        <div>w/ sales charge</div>
                        <div class="icon-container">
                            <i aria-hidden="true" class="cmp-product-finder__table--returns-icon"></i>
                        </div>
                    </div>
                    <ul class="cmp-product-finder__table--returns-dropdown">
                        <li role="button"> at NAV</li>
                        <li role="button"> w/ sales charge</li>
                    </ul>
                </div>
                <div class="cmp-product-finder__table--toggle">
                    <div>
                        <span class="toggle monthly active">Monthly</span>
                        <span class="divider"></span>
                        <span class="toggle quarterly">Quarterly</span>
                    </div>
                </div>
            </div>
        </div>
        <div role="group" aria-label="Basic example" class="btn-group cmp-product-finder-applied-filters--btn-group">
            <div class="btn cmp-product-finder-applied-filters--btn-group-title">
                <span class="cmp-product-finder-applied-filters--btn-group-title-text">Four
                    Stars</span>
                <span class="cmp-product-finder-applied-filters--btn-group-title-icon">
                    <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon.svg"
                        alt="toggle"></span>
            </div>
            <button type="button" class="btn btn-clear">Clear All</button>
        </div>
        <datatable-body class="datatable-body" style="width: 920px; height: auto;">
            <datatable-selection>
                <datatable-scroller class="datatable-scroll" style="width: 912px;">
                    <datatable-row-wrapper class="datatable-row-wrapper">
                        <datatable-body-row tabindex="-1" class="datatable-body-row datatable-row-even"
                            style="width: 912px; height: 80px;">
                            <div class="datatable-row-group datatable-row-left"
                                style="width: 0px; transform: translate3d(0px, 0px, 0px); backface-visibility: hidden;">
                            </div>
                            <div class="datatable-row-center datatable-row-group" style="width: 912px;">
                                <datatable-body-cell tabindex="-1"
                                    class="cmp-product-finder__table--cell-fundNm datatable-body-cell sort-active"
                                    style="width: 178px; min-width: 50px; height: 80px;">
                                    <div class="datatable-body-cell-label" style="margin-left: 0px;">
                                        <span>MainStay MacKay California Tax Free Opportunities Fund</span>
                                    </div>
                                </datatable-body-cell>
                            </div>
                        </datatable-body-row>
                    </datatable-row-wrapper>
                </datatable-scroller>
            </datatable-selection>
        </datatable-body>
    </div>
</div>
