<div class="cmp-social-share"  data-twitter-handle="nylcom" data-email-body="nylcom">
    <p class="h4">nyl.socialShare.heading</p>
    <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank"
                class="cmp-social-share__button --facebook"> <img src="global/images/facebook-light.png" alt=""
                    height="50" width="50">
            </a></li>
        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=" target="_blank"
                class="cmp-social-share__button --linkedin"> <img src="global/images/linkedin-light.png" alt=""
                    height="50" width="50">
            </a></li>
        <li><a href="https://twitter.com/intent/tweet?&url=&text=" target="_blank"
                class="cmp-social-share__button --twitter"> <img src="global/images/twitter-light.png" alt=""
                    height="50" width="50">
            </a></li>
        <li><a href="mailto:" target="_blank" class="cmp-social-share__button --email"> <img
                    src="global/images/email-light.png" alt="" height="50" width="50">
            </a></li>
        <li><a href="/" class="cmp-social-share__button --copy"> <img src="global/images/share-light.png"
                    alt="Copy URL to Keyboard" height="50" width="50">
            </a></li>
    </ul>
    <div class="cmp-social-share__clipboard-message">nyl.socialShare.copyClipboardNotification</div>
</div>
