<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.title, classAppend='cmp-email-subscribe-placeholder'}" />
<div
    class="cmp-email-subscribe cmp-email-subscribe--not-loading ${properties.imagePath ? '' : 'cmp-email-subscribe--no-svg'}">
    <div class="cmp-email-subscribe__wrapper">
        <div class="row justify-content-around">
            <div class="cmp-email-subscribe__footer-col1 col text-center">
                <div class="section-background">
                    <div class="cmp-email-subscribe__title">
                        <h2>${properties.title}</h2>
                    </div>
                    <div class="cmp-email-subscribe__subtitle">
                        <p class="--large">${properties.subtitle}</p>
                    </div>
                    <sly data-sly-use.prefList="${'com.nyl.foundation.models.EmailPreferenceModel'}"
                        data-sly-use.emailCta="${'com.nyl.foundation.models.LinkModel'}" />
                    <div class="cmp-email-subscribe__button">
                        <form class="email-subscribe-1 pt-4" data-subscribe-checkboxes="${prefList.preferenceJson}"
                            novalidate>
                            <div class="cmp-email-subscribe__button--input mx-auto mt-4">
                                <div class="input-group mb-3"
                                    data-sly-use.identifier="${'com.nyl.foundation.models.IdGeneratorModel'}">
                                    <label for="email-subscribe-input-${identifier.id}"
                                        class="d-none">${properties.placeholderText}</label> <input
                                        id="email-subscribe-input-${identifier.id}" type="email" class="form-control"
                                        data-subscribe-preferenceCode="${prefList.code}"
                                        data-subscribe-templateId="${properties.templateId}"
                                        placeholder="${properties.placeholderText}"
                                        aria-label="${'foundation.emailSubscribe' @ i18n}" required>
                                    <div class="input-group-append">
                                        <button class="cmp-email-subscribe__submit btn btn-outline-secondary"
                                            type="submit" aria-label="${'foundation.emailSubscribe' @ i18n}">
                                            <div class="cmp-email-subscribe__submit-icon">
                                                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--white.svg"
                                                    class="icon-cta-arrow" alt="">
                                            </div>
                                            <div class="cmp-email-subscribe__loading-icon">
                                                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                                                    class="icon-spinner" alt="${'foundation.loadingAltText' @ i18n}">
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="valid-feedback">${'foundation.emailSubscribeSuccess' @ i18n}</div>
                                <div class="cmp-email-subscribe__client-invalid invalid-feedback">
                                    ${'foundation.emailSubscribeClientError'
                                    @ i18n}</div>
                                <div class="cmp-email-subscribe__server-invalid invalid-feedback -server">
                                    ${'foundation.emailSubscribeServerError'
                                    @ i18n}</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cmp-email-subscribe__image">
                <div class="cmp-email-subscribe__image-container">
                    <sly data-sly-use.image="${'com.nyl.foundation.models.ImageModel' @ imagePath=properties.imagePath}"
                        data-sly-test="${image.svg}">${image.svgSource @ context='unsafe'}</sly>
                </div>
            </div>
        </div>
        <div class="cmp-breaker--light-gray">
            <hr class="cmp-breaker d-none" />
        </div>
    </div>
    <div class="cmp-email-subscribe__success-panel row">
        <div class="col text-center">
            <div class="section-background">
                <div class="cmp-email-subscribe__title">
                    <h2 data-sly-test="${properties.title}">${properties.title}</h2>
                </div>
                <div class="cmp-email-subscribe__title--success">
                    <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-email-subscribe.svg"
                        class="icon-email-subscribe" alt="">
                </div>
                <div class="cmp-email-subscribe__title--success">
                    <h2 data-sly-test="${properties.successDescription}">${properties.successDescription @
                        context='html'}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3 cmp-email-subscribe__image">
            <div class="cmp-email-subscribe__image-container">
                <sly data-sly-use.image="${'com.nyl.foundation.models.ImageModel' @ imagePath=properties.imagePath}"
                    data-sly-test="${image.svg}">${image.svgSource @ context='unsafe'}</sly>
            </div>
        </div>
        <div class="cmp-breaker--light-gray">
            <hr class="cmp-breaker d-none" />
        </div>
    </div>
    <div class="row d-flex align-items-center text-center text-md-left">
        <div class="col-lg-4 col-md-6 offset-lg-1 cmp-email-subscribe__intro-text--secondary">
            <p data-sly-test="${properties.ctaIntroText}">${properties.ctaIntroText}</p>
        </div>
        <div data-sly-test="${emailCta.title}" class="col-lg-5 col-md-6 cmp-email-subscribe__secondary-button">
            <a href="${emailCta.url}" title="${emailCta.title}" target="${emailCta.behavior}"
                class="nyl-button button--secondary"> ${emailCta.text} <img
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg"
                    class="icon-cta-arrow" alt="">
            </a>
        </div>
    </div>
</div>
