<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-top-holdings-placeholder'}" />
<div class="cmp-top-holdings">
    <div class="cmp-top-holdings__header">
        <div class="cmp-top-holdings__title-date">
            <span data-alternate-label="${properties.enableIssuersTitle}" class="cmp-top-holdings__title"></span>
            <span class="cmp-top-holdings__date"></span>
        </div>
        <div class="cmp-top-holdings__delay-unaudited-date">
            <span class="cmp-top-holdings__date"></span>
        </div>
        <div data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ prefix='cta'}"
            data-sly-test="${linkModel.text && linkModel.url}" class="cmp-top-holdings__link">
            <i class="cmp-top-holdings__link-icon" aria-hidden="true"></i>
            <a title="${linkModel.title}" href="${linkModel.url}" target="${linkModel.behavior}"
                class="cmp-top-holdings__link-text">
                ${linkModel.text}
            </a>
        </div>
    </div>

    <div class="cmp-top-holdings__table">
        <div class="cmp-top-holdings__left-holding-column"></div>
        <div class="cmp-top-holdings__right-holding-column"></div>
    </div>
</div>
