.cmp-banner-detail {
    h1 {
        @include font-size(58px);
        line-height: calcRem(68px);
    }
    h1,
    p.h3 {
        color: $dark-quartz;
    }
    @include media-breakpoint-down(sm) {
        h1 {
            @include font-size(48px);
            @include line-height(48px, 1.25);
        }
    }

    &__details {
        margin: 80px 0 72px;
        @include media-breakpoint-down(sm) {
            margin: 0;
        }
        @include media-breakpoint-only(md) {
            border: none;
            margin: 0 0 20px;
        }
    }

    &__section {
        border-left: 1px solid $medium-gray;
        padding-left: 30px;
        margin: 85px 0 93px;
        @include media-breakpoint-down(sm) {
            border-top: 1px solid $medium-gray;
            border-left: none;
            padding-top: 22px;
            padding-left: 14px;
            margin: 0;
        }
        @include media-breakpoint-only(md) {
            padding-left: 17px;
            margin: 0 0 40px;
            border-left: 0;
        }
        ul {
            margin-left: 10px;
            @include media-breakpoint-only(md) {
                margin-left: 2px;
            }
        }
    }

    &__noBorder {
        padding-left: 30px;
        margin: 85px 0 93px;
        @include media-breakpoint-down(sm) {
            padding-left: 14px;
            margin: 0;
        }
        @include media-breakpoint-only(md) {
            padding-left: 17px;
            margin: 0 0 40px;
        }
    }

    &__button {
        margin-top: 32px;
        @include media-breakpoint-only(md) {
            margin-top: 7px;
        }
    }
}

@each $dark-color-name, $dark-color in $dark-colors {
    .cmp-banner-detail--#{$dark-color-name} {
        h1,
        p.h3 {
            color: $dark-color;
        }
    }
}

.cmp-banner-detail--white {
    h1,
    p.h3 {
        color: $white;
    }
}
