<header class="cmp-header noindex">
    <nav class="navbar navbar-expand-lg disable-header" role="navigation" id="header">
        <div class="container">
            <a class="navbar-brand" target="_self">
                <img src="/content/dam/nylim/nylim-logo.svg" class="brand-logo">
            </a>
            <div class="main-nav collapse navbar-collapse justify-content-lg-between multi-collapse" id="main-nav">
                <nav class="mega-nav navbar-nav" id="mega-nav">
                    <div class="nav-item d-flex justify-content-between align-items-center collapsed"
                        data-toggle="collapse" data-target="#megamenu-0">
                        <a href="/content/nylim/us/en/social-share.html" class="h4" target="_self">Strategies</a>
                        <div class="-icon d-lg-none">
                            <i class="cmp-header__icon--plus" aria-hidden="true"></i>
                        </div>
                        <div class="-icon d-none d-lg-none">
                            <i class="cmp-header__icon--minus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <nav class="mega-nav__items collapse show" id="megamenu-0" data-parent="#mega-nav">
                        <div class="container">
                            <div class="xfpage page basicpage">
                                <div class="xf-content-height">
                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                        <div
                                            class="responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
                                            <div class="aem-Grid aem-Grid--default--6 ">
                                                <div
                                                    class="rte aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--5 aem-GridColumn--offset--default--0">
                                                    <div class="cmp-rte">
                                                        <p>Tristan Capital Partners is a Real Estate focused boutique
                                                            specializing in core plus and value-added equity real estate
                                                            investments across property types throughout Europe.</p>
                                                    </div>
                                                </div>
                                                <div class="button aem-GridColumn aem-GridColumn--default--6">
                                                    <div class="cmp-button">
                                                        <span class="nyl-button">
                                                            <span class="nyl-button--link-text">Learn More</span>
                                                            <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
                                            <div class="aem-Grid aem-Grid--default--6 ">
                                                <div
                                                    class="link-list aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--1 aem-GridColumn--default--2">
                                                    <div class="cmp-link-list"
                                                        data-analytics-cta-value-selector=".js-analytics-title">
                                                        <ul class="show collapsed" id="cmp-linkList-589763147_1">
                                                            <li>
                                                                <a href="/content/nylim/us.html" title="Link One"
                                                                    target="_self">Link One</a>
                                                            </li>
                                                            <li>
                                                                <a href="/content/nylim/us/en/header-meganav.html"
                                                                    title="Link Two" target="_self">Link Two</a>
                                                            </li>
                                                            <li>
                                                                <a href="/content/nylim/us/en/social-share.html"
                                                                    title="Link Three" target="_self">Link Three</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div
                                                    class="link-list aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--2">
                                                    <div class="cmp-link-list"
                                                        data-analytics-cta-value-selector=".js-analytics-title">
                                                        <ul class="show collapsed" id="cmp-linkList--103215895_2">
                                                            <li>
                                                                <a href="/content/nylim/us.html" title="Link One"
                                                                    target="_self">Link One</a>
                                                            </li>
                                                            <li>
                                                                <a href="/content/nylim/us/en/header-meganav.html"
                                                                    title="Link Two" target="_self">Link Two</a>
                                                            </li>
                                                            <li>
                                                                <a href="/content/nylim/us/en/social-share.html"
                                                                    title="Link Three" target="_self">Link Three</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div
                                                    class="button aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--5 aem-GridColumn--offset--default--1">
                                                    <div class="cmp-button">
                                                        <span class="nyl-button">
                                                            <span class="nyl-button--link-text">Learn More</span>
                                                            <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="nav-item d-flex justify-content-between align-items-center collapsed"
                        data-toggle="collapse" data-target="#megamenu-1">
                        <a class="h4" target="_self">Production</a>
                        <div class="-icon d-lg-none">
                            <i class="cmp-header__icon--plus" aria-hidden="true"></i>
                        </div>
                        <div class="-icon d-none d-lg-none">
                            <i class="cmp-header__icon--minus" aria-hidden="true"></i>
                        </div>
                    </div>
                    <nav class="mega-nav__items collapse" id="megamenu-1" data-parent="#mega-nav">
                        <div class="container">
                            <div class="xfpage page basicpage">
                                <div class="xf-content-height">
                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                        <div
                                            class="responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
                                            <div class="aem-Grid aem-Grid--default--6 ">
                                                <div
                                                    class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--0 aem-GridColumn--default--2">
                                                    <div class="cmp-image">
                                                        <div class="cmp-image--medium">
                                                            <picture>
                                                                <source media="(max-width: 576px)"
                                                                    srcset="/content/dam/ventures/icons/cogito-updated.svg">
                                                                <source media="(max-width: 768px)"
                                                                    srcset="/content/dam/ventures/icons/cogito-updated.svg">
                                                                <source media="(max-width: 992px)"
                                                                    srcset="/content/dam/ventures/icons/cogito-updated.svg">
                                                                <source media="(max-width: 1200px)"
                                                                    srcset="/content/dam/ventures/icons/cogito-updated.svg">
                                                                <img
                                                                    src="/content/dam/ventures/icons/cogito-updated.svg">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="rte aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--offset--default--0">
                                                    <div class="cmp-rte">
                                                        <p>This is Title</p>
                                                        <p>Tristan Capital Partners is a Real Estate focused boutique
                                                            specializing in core plus and value-added equity real estate
                                                            investments across property types throughout Europe.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="responsivegrid aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
                                            <div class="aem-Grid aem-Grid--default--6 ">
                                                <div
                                                    class="link-list aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--1 aem-GridColumn--default--2">
                                                    <div class="cmp-link-list"
                                                        data-analytics-cta-value-selector=".js-analytics-title">
                                                        <ul class="show collapsed" id="cmp-linkList--1657046598_3">
                                                            <li>
                                                                <a href="/content/nyl/us/en/who-we-are.html"
                                                                    title="Link One" target="_self">Link One</a>
                                                            </li>
                                                            <li>
                                                                <a href="/content/nylim/us/en/social-share.html"
                                                                    title="Link Two" target="_self">Link Two</a>
                                                            </li>
                                                            <li>
                                                                <a href="/content/nylim/us/en/header-.html"
                                                                    title="Link Three" target="_self">Link Three</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div
                                                    class="link-list aem-GridColumn--default--none aem-GridColumn aem-GridColumn--offset--default--1 aem-GridColumn--default--2">
                                                    <div class="cmp-link-list"
                                                        data-analytics-cta-value-selector=".js-analytics-title">
                                                        <ul class="show collapsed" id="cmp-linkList--505789418_4">
                                                            <li>
                                                                <a href="/content/nyl/us/en/learn-and-compare.html"
                                                                    title="Part One" target="_self">Part One</a>
                                                            </li>
                                                            <li>
                                                                <a href="/content/nyl/us.html" title="Part Two"
                                                                    target="_self">Part Two</a>
                                                            </li>
                                                            <li>
                                                                <a href="/content/nylim/us/en/social-share.html"
                                                                    title="Part Three" target="_self">Part Three</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </nav>
                <nav class="secondary-nav navbar-nav justify-content-end">
                    <div class="nav-item collapsed">
                        <a title="accont" target="_self" class="p">Account</a>
                    </div>
                    <div class="nav-item collapsed">
                        <a title="contact" target="_self" class="p">Contact Us</a>
                    </div>
                    <div data-secondary-nav="secondary-nav.html" />
                </nav>
            </div>
            <div class="d-flex order-lg-3" id="nav-icons">
                <div class="d-flex toggler__search">
                    <button class="navbar-toggler collapsed -search" type="button" title="Open" data-toggle="collapse"
                        data-target="#search" aria-controls="search" aria-expanded="false" aria-label="Open">
                        <i class="cmp-header__icon--search" aria-hidden="true"></i>
                    </button>
                    <button class="navbar-toggler collapsed -close" type="button" title="Close" data-toggle="collapse"
                        data-target="#search" aria-controls="search" aria-expanded="false" aria-label="Close">
                        <i class="cmp-header__icon--close" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="d-flex toggler__menu">
                    <button class="navbar-toggler collapsed -menu" type="button" data-toggle="collapse"
                        data-target=".multi-collapse" aria-controls="main-nav" aria-expanded="false" aria-label="Open">
                        <i class="cmp-header__icon--hamburger" aria-hidden="true"></i>
                    </button>
                    <button class="navbar-toggler collapsed -close" type="button" data-toggle="collapse"
                        data-target=".multi-collapse" aria-controls="main-nav" aria-expanded="false" aria-label="Close">
                        <i class="cmp-header__icon--close" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="cmp-search show" id="search">
            <div class="d-flex toggler__search">
                <button class="navbar-toggler -search" type="button" title="Open" data-toggle="collapse"
                    data-target="#search" aria-controls="search" aria-expanded="true" aria-label="Open">
                    <i class="cmp-header__icon--search" aria-hidden="true"></i>
                </button>
                <button class="navbar-toggler -close" type="button" title="Close" data-toggle="collapse"
                    data-target="#search" aria-controls="search" aria-expanded="true" aria-label="Close">
                    <i class="cmp-header__icon--close" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </nav>
</header>
