<div data-audience-selector="institutional" data-audience-title="Institutional Investor"
    class="fund-id global-data-attribute"></div>
<div class="cmp-header">
    <div class="secondary-nav"></div>
</div>
<div class="cmp-role-selection" data-instance="publish">
    <div class="cmp-role-selection__toggle">
        <div class="dropdown show">
            <a href="#" class="cmp-role-selection__toggle--button" id="roleSelectionToggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="nyl-button">
                    <span></span>
                    <i class="cmp-role-selection__toggle--icon" aria-hidden="true"></i>
                </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="roleSelectionToggle">
                <ul>
                    <li data-selector="institutional"><a>Institutional Investor</a></li>
                    <li data-selector="individual"><a>Individual Investor</a></li>
                    <li data-selector="financial"><a>Financial Advisor</a></li>
                    <li data-selector="retirement"><a>Retirement Specialist</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="cmp-role-selection__modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="cmp-role-selection__modal--cookie modal-content d-none">
                <div class="modal-header">
                    <h2 class="modal-title">
                        Cookie Headline</h2>
                </div>
                <div class="modal-body">
                    <p>Cookie Policy Description</p>
                </div>
                <div class="modal-footer">
                    <a title="Accept">
                        <span class="nyl-button">
                            Accept
                        </span>
                    </a>
                </div>
            </div>
            <div class="cmp-role-selection__modal--audience modal-content d-none">
                <div class="modal-header">
                    <h2 class="modal-title">
                        Select role type</h2>
                    <button type="button" data-dismiss="modal" aria-label="Close">
                        <i class="cmp-role-selection__close" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Select Role Description</p>
                </div>
                <div class="modal-footer">
                    <ul>
                        <li data-selector="institutional"><a>Institutional Investor</a></li>
                        <li data-selector="individual"><a>Individual Investor</a></li>
                        <li data-selector="financial"><a>Financial Advisor</a></li>
                        <li data-selector="retirement"><a>Retirement Specialist</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
