<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-external-links-modal-placeholder'}" />
<div data-sly-test="${properties.headline || properties.description}"
    class="col-12 col-sm-12 col-md-12 cmp-external-links-modal modal fade" id="externalLinksModal" tabindex="-1"
    role="dialog" aria-labelledby="externalLinksModalLabel" aria-hidden="true">
    <div class="modal-dialog col-sm-12 col-12 col-md-11 offset-1" role="document">
        <div class="modal-content col-md-12">
            <div class="modal-header">
                <h5 data-sly-test="${properties.headline}" class="modal-title cmp-external-links-modal__heading"
                    id="externalLinksModalLabel">${properties.headline}</h5>
                <button type="button" class="close cmp-external-links-modal__close" data-dismiss="modal"
                    aria-label="${'foundation.buttons.close' @ i18n}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div data-sly-test="${properties.description}" class="modal-body cmp-external-links-modal__content">
                ${properties.description @ context='html'}
            </div>
            <div class="modal-footer cmp-external-links-modal__button-group">
                <a class="btn btn-secondary cmp-external-links-modal__button cmp-external-links-modal__button-cancel"
                    data-dismiss="modal">${'foundation.button.cancel' @ i18n}</a>
                <a class="btn btn-primary cmp-external-links-modal__button cmp-external-links-modal__button-continue">${'foundation.button.continue'
                    @ i18n}</a>
            </div>
        </div>
    </div>
</div>
