.cmp-agent-presence-in-page {
    border: 4px solid $light-medium-gray;
    padding: 60px 0 60px 147px;
    &__disclaimer {
        display: inline-block;
        margin-top: 15px;
        color: $twilight-blue;
        text-decoration: underline;
    }
    &__cta-btn {
        .cmp-agent-presence-in-page__disclaimer {
            display: none;
        }
    }
    &__image {
        display: inline-grid;
        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
        .nyl-button {
            display: none;
        }
    }
    &__image-name,
    &__no-data {
        display: none;
    }
    &__title {
        font-family: $font-family-effra-pro;
        text-align: center;
        margin: 0 0 60px;
        font-size: 24px;
        font-weight: 500;
        color: $twilight-blue;
        line-height: 1.5;
    }
    &__name {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
    }
    &__designation {
        color: $dark-gray;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        display: block;
    }
    &__agent {
        display: flex;
    }
    &__details {
        padding-left: 40px;
        flex-grow: 2;
    }
    &__address-block {
        width: 300px;
        padding-right: 60px;
        p {
            text-transform: uppercase;
        }
    }
    &__sub-title,
    &__details p {
        margin: 0;
    }
    &__more-details {
        margin-top: 20px;
    }
    &__sub-details h4 {
        line-height: 24px;
    }
    .nyl-button {
        height: 50px;
        margin-top: 40px;
        &:hover {
            color: $white;
        }
    }
    &__no-data-connect {
        display: none;
    }
    p {
        color: $black;
        a {
            text-decoration: none;
            color: $black;
            &:hover {
                color: initial;
                color: $black;
            }
        }
    }
    &__contact span {
        font-weight: 500;
    }

    @include media-breakpoint-up(lg) {
        max-width: 1110px;
        &__more-details {
            display: flex;
            justify-content: flex-start;
        }
    }
    @include media-breakpoint-down(md) {
        padding: 60px;
        &__title {
            margin-bottom: 41px;
        }
        &__address-block {
            margin-bottom: 20px;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 20px 25px;
        &__agent {
            display: block;
        }
        &__image {
            display: inline-block;
            width: 100%;
            text-align: center;
            img {
                width: 70px;
                height: 70px;
            }
        }
        &__image-name {
            display: block;
            margin: 6px 0 36px;
        }
        &__name {
            margin: 0;
            line-height: 24px;
        }
        &__designation {
            margin: 0;
        }
        &__details {
            padding-left: 0;
        }
        &__details-name {
            display: none;
        }
        &__sub-title {
            margin-bottom: 10px;
            line-height: 24px;
        }
        &__sub-details > p:first-of-type {
            margin-bottom: 10px;
        }
        &__contact p {
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 0;
            }
            a {
                text-decoration: underline;
            }
        }
    }

    &-right-rail,
    &-minimal,
    &-no-data-rail {
        .cmp-agent-presence-in-page {
            padding: 20px 25px;
            border: 4px solid $light-medium-gray;
            &__details-name {
                display: none;
            }
            &__image-name {
                display: block;
                margin-top: 6px;
            }
            &__title {
                margin-bottom: 36px;
            }
            &__name {
                line-height: 24px;
                margin: 0;
            }
            &__designation {
                margin-bottom: 0;
            }
            &__agent {
                .cmp-agent-presence-in-page__image {
                    width: 100%;
                    text-align: center;
                    img {
                        width: 70px;
                        height: 70px;
                        margin: 0 auto;
                    }
                }
            }
            &__address-block {
                width: auto;
                padding-right: 0;
            }
        }
    }

    &-right-rail,
    &-minimal {
        .cmp-agent-presence-in-page {
            &__no-data-connect {
                display: none;
            }

            &__no-agent-data {
                .cmp-agent-presence-in-page {
                    &__image-name {
                        display: none;
                    }
                }
            }
        }
    }

    &-right-rail {
        .cmp-agent-presence-in-page {
            p {
                line-height: 22px;
            }
            &__agent {
                display: block;
            }
            &__image .nyl-button {
                display: none;
            }
            &__details {
                padding-left: 0;
            }
            &__sub-details {
                margin-bottom: 10px;
                & > p:first-of-type {
                    margin-bottom: 10px;
                }
                .cmp-agent-presence-in-page__sub-title {
                    margin-top: 36px;
                }
            }
            &__more-details {
                display: block;
                margin-top: 19px;
            }
            &__address-block {
                margin-bottom: 19px;
            }
            &__sub-title {
                line-height: 24px;
                margin-bottom: 11px;
            }
            &__contact p {
                margin-bottom: 10px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                a {
                    text-decoration: underline;
                }
            }
            &__image-name {
                margin-bottom: 0;
            }

            &__no-agent-data {
                .cmp-agent-presence-in-page {
                    &__no-data {
                        display: none;
                    }
                    &__cta-btn {
                        text-align: center;
                    }
                    &__disclaimer {
                        display: none;
                    }
                    &__image {
                        display: block;
                    }
                }
            }
        }
    }

    &-minimal,
    &-no-data-rail {
        .cmp-agent-presence-in-page {
            &__details {
                display: none;
            }
            &__image {
                display: block;
                .nyl-button {
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            &__cta-btn {
                .cmp-agent-presence-in-page__disclaimer {
                    display: block;
                }
            }
        }
    }

    &-no-data-rail {
        .cmp-agent-presence-in-page {
            &__image {
                .nyl-button {
                    display: inline-flex;
                    align-items: center;
                }
            }
        }
    }

    &__no-agent-data {
        .cmp-agent-presence-in-page {
            &__details-name,
            &__sub-details,
            &__image-name,
            &__more-details {
                display: none;
            }
            &__no-data-connect,
            &__no-data {
                display: block;
            }
            &__image img {
                width: 150px;
                height: 150px;
            }

            @include media-breakpoint-down(sm) {
                &__no-data {
                    display: none;
                }
                &__agent {
                    text-align: center;
                }
                &__details .nyl-button {
                    margin-left: auto;
                    margin-right: auto;
                }
                &__image img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}

/** Styles For Modal **/

#cmp-agent-presence-in-page__disclosure-modal {
    padding: 0 !important;
    .modal-dialog {
        @include media-breakpoint-down(sm) {
            margin: 0;
        }
    }
    .modal-content {
        background-color: #f5f5f5;
        overflow-y: auto;
        @include media-breakpoint-down(sm) {
            height: 100vh;
            width: 100vw;
        }
        @include media-breakpoint-up(md) {
            border-radius: 4px;
            -webkit-box-shadow: 0px 6px 15px 11px rgba(23, 23, 23, 0.05);
            box-shadow: 0px 6px 15px 11px rgba(23, 23, 23, 0.05);
            min-height: 200px;
            max-height: 542px;
        }
        .modal-header {
            border-bottom: none !important;
            justify-content: flex-end;

            .close {
                margin: 0;
                padding: 0;
                border-radius: 50%;
                width: 29px;
                background-color: $white;
            }
        }
        .modal-body {
            padding: 0 60px 0 60px;
            height: 100%;
            overflow-y: auto;
            @include media-breakpoint-up(md) {
                max-height: 412px;
            }
            .disclaimerlice {
                display: inline-block;
            }
            .disclaimerid {
                font-size: 16px;
                display: inline-block;
            }
        }
        .modal-footer {
            border-top: none;
            padding: 30px;
        }
    }
}
