<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-monthly-strategy-placeholder'}" />

<div class="cmp-monthly-strategy">
    <div class="cmp-monthly-strategy__container-div">
        <div class="row cmp-monthly-strategy__main-container-row">
            <div class=" col-12 cmp-monthly-strategy__heading-section">
                <span class="cmp-monthly-strategy__monthly-strategy-text"></span> <span
                    class="cmp-monthly-strategy__as-of-text as-of-label"></span> <span
                    class="cmp-monthly-strategy__as-of-text as-of-date"></span>
            </div>
            <div class="cmp-monthly-strategy__column-chart-mobile-legend">
                <div class="cmp-monthly-strategy__column-chart-mobile-legend-left-column"></div>
                <div class="cmp-monthly-strategy__column-chart-mobile-legend-right-column"></div>
            </div>
            <div class="col-12 col-md-12 cmp-monthly-strategy__chart-wrapper">
                <div class="cmp-monthly-strategy__left"></div>
                <div class="cmp-monthly-strategy__right cmp-monthly-strategy__right-gradient"></div>
                <div class="cmp-monthly-strategy__wrapper">
                    <div class="col-12 cmp-monthly-strategy__chart-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
