//Overall content width and full for spacing/margin
$max-grid-width: 1440px;
$content-padding-lg: calcRem(68px);
$content-padding-sm: calcRem(12px);
$content-padding-xs: calcRem(16px);
$component-gutter-margin-sm: calcRem(12px);
$component-gutter-margin-xs: calcRem(8px);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px
);
$grid-gutter-width: 24px;

body {
    margin: 0;
    padding: 0;
    .root {
        max-width: $max-grid-width;
        @include media-breakpoint-down(md) {
            position: relative;
        }
        @include media-breakpoint-up(lg) {
            margin: 0 auto;
        }
        .aem-GridColumn {
            & > div[class^='cmp-']:not(.cmp-container):not(.cmp-teaser):not(.cmp-hero):not(.cmp-table),
            & > blockquote[class^='cmp-'],
            & > nav[class^='cmp-'] {
                margin-left: $component-gutter-margin-xs;
                margin-right: $component-gutter-margin-xs;
                max-width: 100%;
                width: auto;
                @include media-breakpoint-up(sm) {
                    margin-left: $component-gutter-margin-sm;
                    margin-right: $component-gutter-margin-sm;
                }
            }
        }
    }
}
// XF style override
.xf-content-height {
    margin: 0;
    min-height: 0;
}
.margin,
.cmp-container {
    &-top {
        &--none > * {
            margin-top: calcRem(0) !important;
        }
        &--small > * {
            margin-top: calcRem(24px) !important;
        }
        &--medium > * {
            margin-top: calcRem(72px) !important;
        }
        &--large > * {
            margin-top: calcRem(96px) !important;
        }
    }
    &-bottom {
        &--none > * {
            padding-bottom: calcRem(0) !important;
        }
        &--small > * {
            padding-bottom: calcRem(24px) !important;
        }
        &--medium > * {
            padding-bottom: calcRem(40px) !important;
            @include media-breakpoint-up(lg) {
                padding-bottom: calcRem(72px) !important;
            }
        }
        &--large > * {
            padding-bottom: calcRem(56px) !important;
            @include media-breakpoint-up(lg) {
                padding-bottom: calcRem(96px) !important;
            }
        }
    }
}
