// Font Family
.font-effra,
%font-effra {
    font-family: $font-family-effra-pro;
}
.font-alda,
%font-alda {
    font-family: $font-family-alda-pro;
}

// Font Weights
.font-weight-light,
%font-weight-light {
    font-weight: 300
}
.font-weight-regular,
%font-weight-regular {
    font-weight: 400
}
.font-weight-medium,
%font-weight-medium {
    font-weight: 500
}
.font-weight-bold,
%-font-weightbold,
%font-weight-bold {
    font-weight: 700
}

// Body
body {
    color: $cool-black;
}
h1, h2, h3, h4, h5, h6, p {
    a {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
    }
}
body,
.body-base,
.body-large,
.body-small,
.body-extra-small {
    @extend %font-weight-regular;
}
body,
.body-base {
    @include font-size-line-height(18px, 24px);
}
.body-large {
    @include font-size-line-height(22px, 28px);
}
.body-small {
    @include font-size-line-height(16px, 24px);
}
.body-extra-small {
    @include font-size-line-height(14px, 20px);
}

// Common
body, a, p,
.article-body,
.body-large,
.body-base,
.body-small,
.body-extra-small,
.cta-large,
.cta-article,
.cta-base,
.cta-small,
.cta-extra-small {
    @extend %font-effra;
    &.dark-bg {
        color: $white;
    }
}

// Paragraph
.article-body,
p {
    @include font-size-line-height(20px, 30px);
}

// CTA
.cta-base,
.cta-large,
.cta-article,
.cta-extra-small,
a {
    @extend %font-weight-medium;
    color: $brand-blue;
    text-decoration: none;
    &:visited {
        color: $purple-visited;
    }
}
.cta-base,
a {
    @include font-size-line-height(18px, 24px);
}
.cta-large {
    @include font-size-line-height(22px, 28px);
}
.cta-article {
    @include font-size-line-height(20px, 30px);
}
.cta-small {
    @include font-size-line-height(16px, 24px);
}
.cta-extra-small {
    @include font-size-line-height(14px, 20px);
}

// Headings
h1,
h2 {
    @extend %font-alda;
    @extend %font-weight-regular;
    color: $cool-black;
    &.dark-bg {
        color: $white;
    }
}
h3,
h4,
h5 {
    @extend %font-effra;
    @extend %font-weight-medium;
    color: $cool-black;
    &.dark-bg {
        color: $white;
    }
}
h1 {
    @include font-size-line-height(38px, 46px);
    @include media-breakpoint-up(lg) {
        @include font-size-line-height(58px, 64px)
    }
}
h2 {
    @include font-size-line-height(30px, 38px);
    @include media-breakpoint-up(lg) {
        @include font-size-line-height(42px, 48px);
    }
}
h3 {
    @include font-size-line-height(24px, 28px);
    @include media-breakpoint-up(lg) {
        @include font-size-line-height(28px, 32px);
    }
}
h4 {
    @include font-size-line-height(20px, 24px);
    @include media-breakpoint-up(lg) {
        @include font-size-line-height(24px, 28px);
    }
}
h5 {
    @include font-size-line-height(14px, 16px);
    text-transform: uppercase;
    letter-spacing: 2px;
}

// Pull Quote
.quote-large,
.quote-small {
    @extend %font-alda;
    @extend %font-weight-regular;
    &.dark-bg {
        color: $white;
    }
}
.quote-small {
    @include font-size-line-height(22px, 32px);
}
.quote-large {
    @include font-size-line-height(30px, 40px);
    @include media-breakpoint-up(lg) {
        @include font-size-line-height(36px, 48px);
    }
}
