<div class="cmp-service-forms-results">
    <!-- data-results is authorable value -->
    <div class="cmp-service-forms-results__results" data-results="4">
        <div class="cmp-service-forms-results__item row align-items-center">
            <div class="cmp-service-forms-results__td col-12 col-md-5">
                <p>
                    <strong>My Payment Preferences Form</strong>
                </p>
                <p>Use this form to set up a payment arrangement in which premiums are paid monthly by automatically
                    deducting the money directly</p>
            </div>
            <div class="cmp-service-forms-results__aof col">
                <a  title="CTA Title"> <span
                        class="cmp-service-forms-results__button nyl-button">
                        Access Online Form </span>
                </a>
            </div>
            <div class="cmp-service-forms-results__phone col-6 col-md text-left">
                <p>
                    Customer Service<br /> 1-800-225-5695
                </p>
            </div>
            <div class="col-6 col-md">
                <p>
                    <a data-toggle="collapse" data-target="#item-1" href="#item-1" role="button" aria-expanded="false"
                        aria-controls="item-1">Mail or Fax</a>
                </p>
            </div>
            <!-- AEM must generate unique ids -->
            <div id="item-1" class="col-sm-12 collapse cmp-service-forms-results__item-mail">
                <hr />
                <div class="row">
                    <div class="cmp-service-forms-results__empty col-md-5">
                        <!-- Empty div for alignment purposes -->
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__mailing">
                            Mailing address:<br /> New York Life Insurance Company<br /> Cleveland Service Center<br />
                            P.O. Box 6916<br /> Cleveland, OH 44101
                        </p>
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__fax"></p>
                        <p>
                            Form:<br /> <a>Download</a>
                        </p>
                    </div>
                    <div class="cmp-service-forms-results__close col">
                        <p>
                            <a data-toggle="collapse" href="#item-1" role="button" aria-expanded="false"
                                aria-controls="item-1">Close <svg width="32" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="icon-close"
                                        d="M10.506 11.92L.96 2.374A1 1 0 1 1 2.374.96l9.546 9.546L21.466.96a1 1 0 1 1 1.414 1.414l-9.545 9.546 9.545 9.546a1 1 0 1 1-1.414 1.414l-9.546-9.545-9.546 9.545A1 1 0 1 1 .96 21.466l9.546-9.546z"
                                        fill="#FFF" /></svg></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-service-forms-results__item row align-items-center">
            <div class="cmp-service-forms-results__td col-12 col-md-5">
                <p>
                    <strong>My Payment Preferences Form</strong>
                </p>
                <p>Use this form to set up a payment arrangement in which premiums are paid monthly by automatically
                    deducting the money directly</p>
            </div>
            <div class="cmp-service-forms-results__aof col">
                <a title="CTA Title"> <span
                        class="cmp-service-forms-results__button nyl-button">
                        Access Online Form </span>
                </a>
            </div>
            <div class="cmp-service-forms-results__phone col-6 col-md text-left">
                <p>
                    Customer Service<br /> 1-800-225-5695
                </p>
            </div>
            <div class="col-6 col-md">
                <p>
                    <a data-toggle="collapse" data-target="#item-2" href="#item-1" role="button" aria-expanded="false"
                        aria-controls="item-2">Mail or Fax</a>
                </p>
            </div>
            <!-- AEM must generate unique ids -->
            <div id="item-2" class="col-sm-12 collapse cmp-service-forms-results__item-mail">
                <hr />
                <div class="row">
                    <div class="cmp-service-forms-results__empty col-md-5">
                        <!-- Empty div for alignment purposes -->
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__mailing">
                            Mailing address:<br /> New York Life Insurance Company<br /> Cleveland Service Center<br />
                            P.O. Box 6916<br /> Cleveland, OH 44101
                        </p>
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__fax"></p>
                        <p>
                            Form:<br /> <a>Download</a>
                        </p>
                    </div>
                    <div class="cmp-service-forms-results__close col">
                        <p>
                            <a data-toggle="collapse" href="#item-1" role="button" aria-expanded="false"
                                aria-controls="item-2">Close <svg width="32" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="icon-close"
                                        d="M10.506 11.92L.96 2.374A1 1 0 1 1 2.374.96l9.546 9.546L21.466.96a1 1 0 1 1 1.414 1.414l-9.545 9.546 9.545 9.546a1 1 0 1 1-1.414 1.414l-9.546-9.545-9.546 9.545A1 1 0 1 1 .96 21.466l9.546-9.546z"
                                        fill="#FFF" /></svg></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-service-forms-results__item row align-items-center">
            <div class="cmp-service-forms-results__td col-12 col-md-5">
                <p>
                    <strong>My Payment Preferences Form</strong>
                </p>
                <p>Use this form to set up a payment arrangement in which premiums are paid monthly by automatically
                    deducting the money directly</p>
            </div>
            <div class="cmp-service-forms-results__aof col">
                <a title="CTA Title"> <span
                        class="cmp-service-forms-results__button nyl-button">
                        Access Online Form </span>
                </a>
            </div>
            <div class="cmp-service-forms-results__phone col-6 col-md text-left">
                <p>
                    Customer Service<br /> 1-800-225-5695
                </p>
            </div>
            <div class="col-6 col-md">
                <p>
                    <a data-toggle="collapse" data-target="#item-3" href="#item-1" role="button" aria-expanded="false"
                        aria-controls="item-3">Mail or Fax</a>
                </p>
            </div>
            <!-- AEM must generate unique ids -->
            <div id="item-3" class="col-sm-12 collapse cmp-service-forms-results__item-mail">
                <hr />
                <div class="row">
                    <div class="cmp-service-forms-results__empty col-md-5">
                        <!-- Empty div for alignment purposes -->
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__mailing">
                            Mailing address:<br /> New York Life Insurance Company<br /> Cleveland Service Center<br />
                            P.O. Box 6916<br /> Cleveland, OH 44101
                        </p>
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__fax"></p>
                        <p>
                            Form:<br /> <a>Download</a>
                        </p>
                    </div>
                    <div class="cmp-service-forms-results__close col">
                        <p>
                            <a data-toggle="collapse" href="#item-1" role="button" aria-expanded="false"
                                aria-controls="item-3">Close <svg width="32" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="icon-close"
                                        d="M10.506 11.92L.96 2.374A1 1 0 1 1 2.374.96l9.546 9.546L21.466.96a1 1 0 1 1 1.414 1.414l-9.545 9.546 9.545 9.546a1 1 0 1 1-1.414 1.414l-9.546-9.545-9.546 9.545A1 1 0 1 1 .96 21.466l9.546-9.546z"
                                        fill="#FFF" /></svg></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-service-forms-results__item row align-items-center">
            <div class="cmp-service-forms-results__td col-12 col-md-5">
                <p>
                    <strong>My Payment Preferences Form</strong>
                </p>
                <p>Use this form to set up a payment arrangement in which premiums are paid monthly by automatically
                    deducting the money directly</p>
            </div>
            <div class="cmp-service-forms-results__aof col">
                <a title="CTA Title"> <span
                        class="cmp-service-forms-results__button nyl-button">
                        Access Online Form </span>
                </a>
            </div>
            <div class="cmp-service-forms-results__phone col-6 col-md text-left">
                <p>
                    Customer Service<br /> 1-800-225-5695
                </p>
            </div>
            <div class="col-6 col-md">
                <p>
                    <a data-toggle="collapse" data-target="#item-4" href="#item-1" role="button" aria-expanded="false"
                        aria-controls="item-4">Mail or Fax</a>
                </p>
            </div>
            <!-- AEM must generate unique ids -->
            <div id="item-4" class="col-sm-12 collapse cmp-service-forms-results__item-mail">
                <hr />
                <div class="row">
                    <div class="cmp-service-forms-results__empty col-md-5">
                        <!-- Empty div for alignment purposes -->
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__mailing">
                            Mailing address:<br /> New York Life Insurance Company<br /> Cleveland Service Center<br />
                            P.O. Box 6916<br /> Cleveland, OH 44101
                        </p>
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__fax"></p>
                        <p>
                            Form:<br /> <a>Download</a>
                        </p>
                    </div>
                    <div class="cmp-service-forms-results__close col">
                        <p>
                            <a data-toggle="collapse" href="#item-1" role="button" aria-expanded="false"
                                aria-controls="item-4">Close <svg width="32" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="icon-close"
                                        d="M10.506 11.92L.96 2.374A1 1 0 1 1 2.374.96l9.546 9.546L21.466.96a1 1 0 1 1 1.414 1.414l-9.545 9.546 9.545 9.546a1 1 0 1 1-1.414 1.414l-9.546-9.545-9.546 9.545A1 1 0 1 1 .96 21.466l9.546-9.546z"
                                        fill="#FFF" /></svg></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-service-forms-results__item row align-items-center">
            <div class="cmp-service-forms-results__td col-12 col-md-5">
                <p>
                    <strong>My Payment Preferences Form</strong>
                </p>
                <p>Use this form to set up a payment arrangement in which premiums are paid monthly by automatically
                    deducting the money directly</p>
            </div>
            <div class="cmp-service-forms-results__aof col">
                <a title="CTA Title"> <span
                        class="cmp-service-forms-results__button nyl-button">
                        Access Online Form </span>
                </a>
            </div>
            <div class="cmp-service-forms-results__phone col-6 col-md text-left">
                <p>
                    Customer Service<br /> 1-800-225-5695
                </p>
            </div>
            <div class="col-6 col-md">
                <p>
                    <a data-toggle="collapse" data-target="#item-5" href="#item-1" role="button" aria-expanded="false"
                        aria-controls="item-5">Mail or Fax</a>
                </p>
            </div>
            <!-- AEM must generate unique ids -->
            <div id="item-5" class="col-sm-12 collapse cmp-service-forms-results__item-mail">
                <hr />
                <div class="row">
                    <div class="cmp-service-forms-results__empty col-md-5">
                        <!-- Empty div for alignment purposes -->
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__mailing">
                            Mailing address:<br /> New York Life Insurance Company<br /> Cleveland Service Center<br />
                            P.O. Box 6916<br /> Cleveland, OH 44101
                        </p>
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__fax"></p>
                        <p>
                            Form:<br /> <a>Download</a>
                        </p>
                    </div>
                    <div class="cmp-service-forms-results__close col">
                        <p>
                            <a data-toggle="collapse" href="#item-1" role="button" aria-expanded="false"
                                aria-controls="item-5">Close <svg width="32" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="icon-close"
                                        d="M10.506 11.92L.96 2.374A1 1 0 1 1 2.374.96l9.546 9.546L21.466.96a1 1 0 1 1 1.414 1.414l-9.545 9.546 9.545 9.546a1 1 0 1 1-1.414 1.414l-9.546-9.545-9.546 9.545A1 1 0 1 1 .96 21.466l9.546-9.546z"
                                        fill="#FFF" /></svg></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-service-forms-results__item row align-items-center">
            <div class="cmp-service-forms-results__td col-12 col-md-5">
                <p>
                    <strong>My Payment Preferences Form</strong>
                </p>
                <p>Use this form to set up a payment arrangement in which premiums are paid monthly by automatically
                    deducting the money directly</p>
            </div>
            <div class="cmp-service-forms-results__aof col">
                <a title="CTA Title"> <span
                        class="cmp-service-forms-results__button nyl-button">
                        Access Online Form </span>
                </a>
            </div>
            <div class="cmp-service-forms-results__phone col-6 col-md text-left">
                <p>
                    Customer Service<br /> 1-800-225-5695
                </p>
            </div>
            <div class="col-6 col-md">
                <p>
                    <a data-toggle="collapse" data-target="#item-6" href="#item-1" role="button" aria-expanded="false"
                        aria-controls="item-6">Mail or Fax</a>
                </p>
            </div>
            <!-- AEM must generate unique ids -->
            <div id="item-6" class="col-sm-12 collapse cmp-service-forms-results__item-mail">
                <hr />
                <div class="row">
                    <div class="cmp-service-forms-results__empty col-md-5">
                        <!-- Empty div for alignment purposes -->
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__mailing">
                            Mailing address:<br /> New York Life Insurance Company<br /> Cleveland Service Center<br />
                            P.O. Box 6916<br /> Cleveland, OH 44101
                        </p>
                    </div>
                    <div class="col">
                        <p class="cmp-service-forms-results__fax"></p>
                        <p>
                            Form:<br /> <a>Download</a>
                        </p>
                    </div>
                    <div class="cmp-service-forms-results__close col">
                        <p>
                            <a data-toggle="collapse" href="#item-1" role="button" aria-expanded="false"
                                aria-controls="item-6">Close <svg width="32" height="24" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="icon-close"
                                        d="M10.506 11.92L.96 2.374A1 1 0 1 1 2.374.96l9.546 9.546L21.466.96a1 1 0 1 1 1.414 1.414l-9.545 9.546 9.545 9.546a1 1 0 1 1-1.414 1.414l-9.546-9.545-9.546 9.545A1 1 0 1 1 .96 21.466l9.546-9.546z"
                                        fill="#FFF" /></svg></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="button"
                class="cmp-service-forms-results__button cmp-service-forms-results__loadmore nyl-button button--secondary">
                View More Results</button>
        </div>
    </div>
    <div class="d-none cmp-service-forms-results__key-variableProductsServiceCenter" data-fax="" data-mailing-address="
        New York Life Insurance and Annuity Corporation<br />
        Variable Products Service Center<br />
        Madison Square Station<br />
        P.O. Box 922<br />
        New York, NY 10159
        "></div>
    <div class="d-none cmp-service-forms-results__key-dallasServiceCenter" data-fax="(800) 278-4117"
        data-mailing-address="
        New York Life Insurance Company<br />
        Dallas Service Center<br />
        P.O. Box 130539<br />
        Dallas, TX 75313
        "></div>
    <div class="d-none cmp-service-forms-results__key-clevelandServiceCenter" data-fax="(800) 278-4117"
        data-mailing-address="
        2 New York Life Insurance Company<br />
        Cleveland Service Center<br />
        P.O. Box 6916<br />
        Cleveland, OH 44101
        "></div>
</div>