.cmp-rte-table-row {
    width: calcRem(1110px);
    display: flex;
    height: calcRem(80px);
    padding-left: calcRem(0px);
    @include ie11only {
        padding-right: calcRem(0px);
    }
    &-placeholder {
        display: none;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
        width: calcRem(1110px);
    }
    .first-cell {
        width: 30%;
        word-wrap: break-word;
        text-align: left;
        @include media-breakpoint-down(sm) {
            min-width: calcRem(216px);
            position: absolute;
        }
    }
    &__cell {
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            background-color: $light-steel-3;
        }
        &--value {
            display: none;
        }
        &:nth-child(2),
        &:nth-child(3) {
            padding-left: calcRem(15px) !important;
            p {
                @include line-height(22px);
            }
        }
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        color: $steel;
        text-align: left;
        padding-left: calcRem(20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__description {
            font-size: calcRem(14px);
            float: left;
            width: -webkit-fill-available;
            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 80px;
            }
            p {
                font-size: calcRem(14px);
                margin-bottom: 0 !important;
            }
        }
        .show-icon {
            display: block;
            margin-right: 35%;
            &:after {
                content: '';
                width: calcRem(20px);
                height: calcRem(25px);
                float: right;
                margin: calcRem(4.5px) calcRem(2px);
                background: url('../resources/images/icon-system-file.svg') no-repeat center/contain;
                flex-shrink: 0;
            }
        }
    }
}
.rte-table-row:nth-child(even) {
    width: 1110px;
    background-color: $white;
    .first-cell {
        @include media-breakpoint-down(sm) {
            background-color: $white;
        }
    }
}
.rte-table-row:nth-child(odd) {
    width: 1110px;
    background-color: $light-steel-3;
    .first-cell {
        @include media-breakpoint-down(sm) {
            background-color: $light-steel-3;
        }
    }
}
.rte-table-row:hover {
    background-color: $rain-tint !important;
    .cmp-rte-table-row__cell {
        background-color: $rain-tint !important;
    }
    .first-cell {
        @include media-breakpoint-down(sm) {
            background-color: $rain-tint !important;
        }
    }
}

.cmp-table-container__table > div {
    padding-right: 0px !important;
}
