<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.teamsFilterModel="${'com.nyl.nylim.models.TeamsFilterModel'}"
    data-sly-set.teamFilters="${teamsFilterModel.teamFilters}"
    data-sly-call="${templates.placeholder @ isEmpty = !teamFilters, classAppend='cmp-teams-filter-placeholder'}" />
<div data-sly-test="${teamFilters}" class="cmp-teams-filter">
    <div class="offset-md-6 col-md-6 col-12 cmp-teams-filter__dropdown-container">
        <div class="col-12 col-md-6 cmp-teams-filter__boutiques-dd">
            <div class="cmp-teams-filter__dropdown">
                <div data-sly-test="${properties.allBoutiquesText}"
                    class="cmp-teams-filter__dropdown-text cmp-teams-filter__boutiques"
                    data-boutiques-text=${properties.allBoutiquesText}>${properties.allBoutiquesText}</div>
                <ul data-sly-test.boutiques="${teamsFilterModel.boutiques}" class="cmp-teams-filter__list-dropdown">
                    <li data-sly-test="${properties.allBoutiquesText}"
                        class="cmp-teams-filter__dropdown-item boutiques">${properties.allBoutiquesText}</li>
                    <sly data-sly-list.boutique="${boutiques}">
                        <li class="cmp-teams-filter__dropdown-item boutiques">${boutique}</li>
                    </sly>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 cmp-teams-filter__strategies-dd">
            <div class="cmp-teams-filter__dropdown">
                <div data-sly-test="${properties.allStrategiesText}"
                    class="cmp-teams-filter__dropdown-text cmp-teams-filter__strategies"
                    data-strategies-text=${properties.allStrategiesText}>${properties.allStrategiesText}</div>
                <ul data-sly-test.strategies="${teamsFilterModel.strategies}" class="cmp-teams-filter__list-dropdown">
                    <li class="cmp-teams-filter__dropdown-item strategies">${properties.allStrategiesText}</li>
                    <sly data-sly-list.strategy="${strategies}">
                        <li class="cmp-teams-filter__dropdown-item strategies">${strategy}</li>
                    </sly>
                </ul>
            </div>
        </div>
    </div>
    <div data-sly-list.teamFilterItem=${teamFilters} class="row cmp-teams-filter__container">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div data-sly-use.boutiqueLinkModel="${'com.nyl.foundation.models.LinkModel' @ linkUrl=teamFilterItem.boutiqueLinkURL}"
                data-strategies=${teamFilterItem.strategiesTags} data-boutiques=${teamFilterItem.boutiquesTags}
                class="card">
                <a data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @linkUrl=teamFilterItem.bioDetailPagePath }"
                    data-sly-unwrap="${teamFilterItem.disableUrl || !linkModel.getLinkUrl}"
                    href="${linkModel.getLinkUrl}" title="${teamFilterItem.firstName} ${teamFilterItem.lastName}"
                    class="clickable-bio">
                    <sly data-sly-test="${teamFilterItem.imagePath}"
                        data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                        data-sly-call="${image.imageTemplate @ componentName='teams-filter', imagePath=teamFilterItem.imagePath,imgClass='cmp-teams-filter__image'}">
                    </sly>
                    <p data-sly-test="${teamFilterItem.firstName || teamFilterItem.lastName}"
                        class="cmp-teams-filter__name">
                        <span data-sly-test="${teamFilterItem.firstName}">${teamFilterItem.firstName}</span><span
                            data-sly-test="${teamFilterItem.lastName}"> ${teamFilterItem.lastName}</span><span
                            data-sly-test="${teamFilterItem.suffix}">, ${teamFilterItem.suffix}</span>
                    </p>
                </a>
                <p data-sly-test="${teamFilterItem.title1 || teamFilterItem.title2 || teamFilterItem.title3 || teamFilterItem.title4}"
                    class="cmp-teams-filter__title">
                    <span data-sly-test="${teamFilterItem.title1}">${teamFilterItem.title1}</span><span
                        data-sly-test="${teamFilterItem.title2}">${teamFilterItem.title2}</span><span
                        data-sly-test="${teamFilterItem.title3}">${teamFilterItem.title3}</span><span
                        data-sly-test="${teamFilterItem.title4}">${teamFilterItem.title4}</span>
                </p>
                <div data-sly-test="${boutiqueLinkModel.linkUrl && teamFilterItem.boutiqueLinkText}"
                    class="cmp-teams-filter__boutique-text">
                    <a data-sly-unwrap="${teamFilterItem.disableUrl || !boutiqueLinkModel.getLinkUrl}"
                        href="${boutiqueLinkModel.linkUrl}" title="${teamFilterItem.boutiqueLinkTitle}"
                        data-sly-set.linkBehaviour="${teamFilterItem.boutiqueLinkBehavior}"
                        target="${linkBehaviour=='Same Tab'?'_self':'_blank'}" class="clickable-bio"><span
                            class="cmp-teams-filter__boutique-anchor-text ">${teamFilterItem.boutiqueLinkText}<span
                                data-sly-test="${teamFilterItem.boutiqueLinkBehavior != 'Same Tab' && !teamFilterItem.disableUrl}"
                                class="cmp-teams-filter__open-icon "></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
