.cmp-rte-table-row {
    &__cell {
        &:nth-child(1),
        &:nth-child(2) {
            text-align: left;
        }
        &:nth-child(n + 3) {
            text-align: center;
        }
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            background-color: transparent !important;
        }
    }
}
