.cmp-related-content {
    margin: $component-margin 0;
    background: $light-gray;
    border-radius: 4px;
    padding: calcRem(60px);
    flex-wrap: wrap;
    &__title {
        position: relative;
        padding-bottom: calcRem(5px);
        margin-bottom: calcRem(30px);
        font-size: 18px;
        font-weight: 500;
        a {
            margin-left: auto;
        }
        &::after {
            position: absolute;
            left: 0;
            bottom: -4px;
            content: '';
            display: block;
            height: 4px;
            background: linear-gradient(to right, #000000 135px, #ffffff 135px, #ffffff 100%);
            width: 100%;
        }
    }
    &__section {
        padding-bottom: calcRem(46px);
        &:last-child {
            padding-bottom: 0;
        }
        img {
            float: right;
        }
        @include media-breakpoint-only(sm) {
            .col:last-child {
                max-width: 35%;
            }
        }
        @include media-breakpoint-up(md) {
            .col:last-child {
                max-width: 26%;
            }
        }
        &--noimage {
            .col {
                min-width: 100%;
            }
        }
    }
    &--lightCTA {
        display: none;
    }
    &--lightCTAButton {
        display: none;
    }
    &__light {
        .cmp-related-content {
            background: $white;
            border-bottom: 4px solid $medium-quartz;
            padding: calcRem(60px) 0;
            &__title {
                display: none !important;
            }
            &--lightCTA {
                padding-left: 0;
                display: block !important;
                @include media-breakpoint-up(lg) {
                    max-width: 30%;
                }
                @include media-breakpoint-down(md) {
                    flex-basis: auto !important;
                }
                p.title {
                    font-family: $font-family-alda-pro;
                    font-size: 36px;
                    line-height: 48px;
                    margin-bottom: 5%;
                }
                a {
                    display: none;
                    @include media-breakpoint-up(lg) {
                        display: block;
                    }
                }
            }
            &--lightCTAButton {
                display: block;
                width: 100%;
                @include media-breakpoint-up(lg) {
                    display: none;
                }
                span {
                    min-width: 100%;
                    margin-bottom: 20px;
                }
            }
            &__section {
                border-bottom: 1px solid $medium-gray;
                padding-bottom: 30px;
                margin-bottom: 30px;
                > div {
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
                &--noimage {
                    > div {
                        padding: 0;
                    }
                }
            }
        }
    }
}
