<sly data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.imageReference && !teaser.title, classAppend='cmp-hero-placeholder'}" />
<div class="cmp-hero" id="${hero.id}">
    <div class="cmp-hero__image" data-sly-test="${properties.imageReference}">
        <sly data-sly-use.styleLookupModel="${'com.nyl.foundation.models.StyleLookupModel'}"
            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.imageTemplate 
                    @ componentName='hero', imagePath=properties.imageReference, imageAltText=properties.imageAltText, aspectRatio=styleLookupModel.aspectRatio, imgClass='mw-100 w-100'}">
        </sly>
    </div>
    <div class="cmp-hero__container">
        <div class="cmp-hero__content ${!properties.imageReference ? 'no-image' : ''}">
            <div class="cmp-hero__pretitle" data-sly-test.pretitle="${teaser.pretitle}">${pretitle}</div>
            <a data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ linkUrl=properties.linkURL}"
                class="cmp-hero__title-link" href="${linkModel.linkUrl}"
                data-sly-unwrap="${!linkModel.linkUrl || teaser.titleLinkHidden}">
                <h1 class="cmp-hero__title" data-sly-test.title="${teaser.title}"
                    data-sly-element="${teaser.titleType}">
                    ${title}</h1>
            </a>
            <div class="cmp-hero__description" data-sly-test.description="${teaser.description}">${description @
                context="html"}</div>
            <div data-sly-test="${properties.linkURL || properties.secondaryCtaLinkUrl}" class="cmp-hero__cta">
                <div class="button" data-sly-test="${properties.linkURL && properties.primaryCtaLinkText}">
                    <a href="${linkModel.linkUrl}" title="${properties.primaryCtaLinkTitle}"
                        target="${properties.primaryCtaLinkBehavior}">
                        <span data-sly-test="${properties.primaryCtaLinkText}" class="button--wrapper">
                            <span class="button--link-text">${properties.primaryCtaLinkText}</span>
                        </span>
                    </a>
                </div>
                <div class="button button-transparent"
                    data-sly-test="${properties.secondaryCtaLinkUrl && properties.secondaryCtaLinkText}">
                    <a data-sly-use.secondaryCta="${'com.nyl.foundation.models.LinkModel' @ prefix='secondaryCta'}"
                        href="${secondaryCta.url}" title="${secondaryCta.title}" target="${secondaryCta.behavior}">
                        <span data-sly-test="${secondaryCta.text}" class="button--wrapper">
                            <span class="button--link-text">${secondaryCta.text}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
