.cmp-download {
    margin-top: 24px;
    padding: 14px 0 10px;
    display: flex;
    align-items: center;
    &__title {
        display: inline-block;
        vertical-align: bottom;
        margin: 0;
        margin-right: 8px;
        font-weight: 500;
        font-family: $font-family-effra-pro;
        @include font-size-line-height(16px, 24px);
    }
    &__description,
    &__property-label,
    &__action {
        display: none;
    }
    &__property-content {
        margin: 0 0 3px 0;
        background-color: $grey-medium;
        padding: 4px 6px 0px;
        border-radius: 4px;
        color: $grey-dark;
        font-weight: 700;
        text-transform: uppercase;
        @include font-size-line-height(14px, 20px);
    }
    &__properties {
        margin: 0;
        display: inline-block;
    }
}

.cmp-table {
    .cmp-download {
        margin: 0 !important;
        padding: 0;
    }
}
