<div class="infographic image aem-GridColumn aem-GridColumn--default--12">
    <div class="cq-dd-image">
        <div class="cmp-infographic row">
            <div class="cmp-infographic__small cmp-infographic__modal col-12"
                data-modalid="#infographic-modal--2002930439_11">
                <i class="cmp-infographic__modal-expand--icon" aria-hidden="true"></i>
                <picture>
                    <source media="(max-width: 576px)" srcset="/content/dam/agency/us/en/qa/Penguins.jpg">
                    <source media="(max-width: 768px)" srcset="/content/dam/agency/us/en/qa/Penguins.jpg">
                    <source media="(max-width: 992px)" srcset="/content/dam/agency/us/en/qa/Penguins.jpg">
                    <source media="(max-width: 1200px)" srcset="/content/dam/agency/us/en/qa/Penguins.jpg">
                    <img src="/content/dam/agency/us/en/qa/Penguins.jpg" alt="infographics" class="mw-100 img-click"
                        width="1110" height="584"
                        usemap="#/content/nylim/us/en/qa/qa-automation/info1/jcr:content/root/responsivegrid/infographic-2002930439_11">
                    <map
                        name="#/content/nylim/us/en/qa/qa-automation/info1/jcr:content/root/responsivegrid/infographic-2002930439_11">
                        <area shape="rect" coords="76,34,441,320"
                            href="/content/core-components-examples/library/carousel.html" target="_blank">

                        <area shape="circle" coords="709,172,141"
                            href="/content/core-components-examples/library/carousel.html" target="_blank" alt="test"
                            title="test">
                    </map>
                </picture>
            </div>
            <div class="modal fade show" id="infographic-modal--2002930439_11" tabindex="-1" role="dialog"
                aria-hidden="true">
                <a class="close" data-dismiss="modal" aria-label="Close">
                    <i class="cmp-infographic__modal-close" aria-hidden="true"></i>
                </a>
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <picture>
                                <source media="(max-width: 576px)" srcset="/content/dam/agency/us/en/qa/Penguins.jpg">
                                <source media="(max-width: 768px)" srcset="/content/dam/agency/us/en/qa/Penguins.jpg">
                                <img src="/content/dam/agency/us/en/qa/Penguins.jpg" alt="infographics"
                                    class="img-click"
                                    usemap="#/content/nylim/us/en/qa/qa-automation/info1/jcr:content/root/responsivegrid/infographic--2002930439_11">
                                <map
                                    name="#/content/nylim/us/en/qa/qa-automation/info1/jcr:content/root/responsivegrid/infographic--2002930439_11">
                                    <area class="area-sqr" shape="rect" coords="76,34,441,320"
                                        href="/content/core-components-examples/library/carousel.html" target="_blank">

                                    <area shape="circle" coords="709,172,141"
                                        href="/content/core-components-examples/library/carousel.html" target="_blank"
                                        alt="test" title="test">
                                </map>
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
