<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-one-col-control-placeholder'}" />
<div class="cmp-parsys1 d-flex justify-content-between">
    <sly data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}"></sly>
</div>
