<template data-sly-template.styleAttribute="${ @ color,backGroundColor,border, styleType, textPadding}">
    <tr data-sly-test="${properties.linkText && properties.buttonStyle == styleType @ context ='text'} ">
        <td align="left" vertical-align="middle" class="body__cta-btn body__cta-btn--${styleType @ context ='text'}"
            style="font-size:0px;padding:${textPadding @ context='text'};word-break:break-word;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                height="50" style="border-collapse: separate; width: 230px; line-height: 100%;height: 50px;">
                <tr>
                    <td align="center" role="presentation"
                        style="border: ${border @ context ='styleString'}; border-radius: 4px; cursor: auto; height: 50px; mso-padding-alt: 0;  white-space: nowrap; background: ${backGroundColor @ context ='styleString'};"
                        valign="middle"><a href="${properties.linkUrl}" title="${properties.linkTitle}"
                            style="display: inline-block; background: ${backGroundColor @ context ='styleString'}; color: ${color @ context ='styleString'}; font-family: 'effra', Tahoma, sans-serif; font-size: 13px; font-weight: normal; line-height: 1.44rem; margin: 0; text-decoration: none; text-transform: none; padding: 10px 25px !important; mso-padding-alt: 0px; border-radius: 4px;"
                            target="_blank"> <span
                                style="font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: unset; letter-spacing: normal; text-align: center; color: ${color @ context ='styleString'};"
                                class="body__cta-btn__text">${properties.linkText}</span>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</template>
