<template data-sly-template.include> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.012 52.482">
        <path
            d="M89.003 31.425h-.005l-23.478.104v-9.403l17.441.055h.003c1.354.002 1.357-1.998.003-2l-17.447-.055v-6.082c0-2.032-3-2.032-3 0v32.532a2.91 2.91 0 0 1-2.907 2.906H6.553A3.556 3.556 0 0 1 3 45.93V4.472l28.853 23.285c.427.338 1.235.542 1.881-.001 0 0 30.124-24.306 31.099-25.088 1.043-.838.549-2.666-.942-2.668L1.692-.002C.71.042-.019 1.063 0 1.718V45.93a6.56 6.56 0 0 0 6.553 6.553h53.06a5.913 5.913 0 0 0 5.907-5.906V44.9l17.019.054h.003c1.293.002 1.296-1.998.003-2L65.52 42.9v-9.372l23.488-.104c1.342-.002 1.337-2.002-.005-1.999zM59.635 3.006L32.79 24.662 5.947 2.991l53.688.015z"
            fill="#0a3c53" /></svg> </template>