<template data-sly-template.include>
    <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M7.293 10.364a1 1 0 0 1 0-1.414L12.243 4l4.95 4.95a1 1 0 0 1-1.414 1.414l-2.494-2.493V19a1 1 0 0 1-2 0V7.786l-2.578 2.578a1 1 0 0 1-1.414 0z"
            fill="#DAE1E5" />
    </svg>
</template>
