<template data-sly-template.include> <svg width="20" height="11" xmlns="http://www.w3.org/2000/svg">
        <path class="icon-caret" d="M1.515 1L10 9.485 18.485 1" stroke="#171717" stroke-width="2" fill="none" />
    </svg></template>