<template data-sly-template.include> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14">
        <g class="icon-cta-arrow" fill="none">
            <path fill="#FFF" d="M0 6h17v2H0z" />
            <path stroke="#FFF" stroke-width="2" d="M11 1.343L16.657 7 11 12.657" />
        </g>
    </svg> </template>