<template data-sly-template.include> <svg width="32" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path class="icon-close"
            d="M10.506 11.92L.96 2.374A1 1 0 1 1 2.374.96l9.546 9.546L21.466.96a1 1 0 1 1 1.414 1.414l-9.545 9.546 9.545 9.546a1 1 0 1 1-1.414 1.414l-9.546-9.545-9.546 9.545A1 1 0 1 1 .96 21.466l9.546-9.546z"
            fill="#FFF" /></svg> </template>