<template data-sly-template.include>
    <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M2.293 10.364a1 1 0 0 1 0-1.414L7.243 4l4.95 4.95a1 1 0 0 1-1.414 1.414L8.285 7.871V19a1 1 0 1 1-2 0V7.786l-2.578 2.578a1 1 0 0 1-1.414 0zM22.193 13.636a1 1 0 0 1 0 1.414L17.243 20l-4.95-4.95a1 1 0 0 1 1.414-1.414l2.494 2.494V5a1 1 0 1 1 2 0v11.214l2.578-2.578a1 1 0 0 1 1.414 0z"
            fill="#BDC5CA" />
    </svg>
</template>
