<template data-sly-template.include> <svg width="18" height="2" xmlns="http://www.w3.org/2000/svg">
        <rect class="icon-minus" x="347" y="13" width="18" height="2" rx="1" transform="translate(-347 -13)"
            fill="#171717" /></svg></template>