<template data-sly-template.include> <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
        <path class="icon-search"
            d="M24.992 12.951c0 6.534-5.296 11.83-11.83 11.83-6.532 0-11.828-5.296-11.828-11.83 0-6.533 5.296-11.83 11.829-11.83s11.83 5.297 11.83 11.83zm-3.384 8.28l9.059 9.059"
            stroke-width="2" stroke="#FFF" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round" /></svg> </template>