<template data-sly-template.include> <svg aria-hidden="true" width="60" height="60" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
            <circle fill="#62B10B" cx="30" cy="30" r="30" />
            <path fill="#FFF" d="M24.093 37.103l-7.53-7.53L14 32.12l10.093 10.093L45.76 20.546 43.214 18z" />
        </g>
    </svg></template>