<template data-sly-template.include> <svg viewBox="0 0 50 37" xmlns="http://www.w3.org/2000/svg">
        <path class="icon-quote"
            d="M39.655 36.834c-5.486 0-10.501-4.389-10.501-10.188 0-3.449 1.41-6.27 3.448-9.875L41.536 0h7.994l-5.643 17.085C47.18 18.339 50 21.944 50 26.489c0 5.956-4.859 10.345-10.345 10.345zm-29.31 0C4.859 36.834 0 32.445 0 26.646c0-3.449 1.254-6.27 3.292-9.875L12.226 0h7.993l-5.642 17.085c3.291 1.254 6.113 4.859 6.113 9.404 0 5.956-4.86 10.345-10.345 10.345z"
            fill="#FFF" fill-rule="evenodd" /></svg> </template>