<template
    data-sly-template.imageTemplate="${ @ imagePath, componentName, aspectRatio, imageAltText, ctaLinkUrl, isResponsive, pictureId, pictureClass, imgId, imgClass}"
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' 
    @componentName=componentName, aspectRatio=aspectRatio, imagePath=imagePath, imageAltText=imageAltText,ctaLinkUrl=ctaLinkUrl,isResponsive=isResponsive}"
    data-sly-call="${pictureTemplate @ imageModel=imageModel, pictureId=pictureId, pictureClass=pictureClass, imgId=imgId, imgClass=imgClass}" >
</template>

<template data-sly-template.pictureTemplate="${ @ imageModel, pictureId, pictureClass, imgId, imgClass}">
    <picture data-sly-list.viewport="${imageModel.renditions}" id="${pictureId}" class="${pictureClass}">
        <source data-sly-set.image="${imageModel.renditions[viewport]}"
            data-sly-test="${!image.viewport.isDefaultRendition}" media="(max-width: ${image.viewport.maxWidth}px)"
            srcset="${image.imageUrl}" />
        <img data-sly-test="${image.viewport.isDefaultRendition}" src="${imageModel.defaultViewport && imageModel.renditions[imageModel.defaultViewport].imageUrl ? imageModel.renditions[imageModel.defaultViewport].imageUrl : image.imageUrl}"
            data-aem-asset-id="${imageModel.imageId}" data-trackable="${imageModel.imageId? 'true' : ''}"
            alt="${imageModel.altText}" id="${imgId}" class="${imgClass}">
    </picture>
</template>
