<template data-sly-template.include="${ @ path}"
    data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @ resourcePath=path}">
    <sly data-sly-test="${path && resourceModel.properties['jcr:content/cq:xfVariantType']}"
        data-sly-resource="${@path=path, selectors='content', wcmmode='disabled'}"></sly>
</template>
