.cmp-question-card {
    display: none;
    font-size: $font-size-xx-medium;

    &--ready {
        display: block;
    }

    &__title {
        margin: 0 0 30px;
        font-family: $font-family-effra-pro;
        font-size: $font-size-xs-large;
        font-weight: $font-weight-bold;
        line-height: 48px;
        letter-spacing: normal;
        color: $black;
        @include media-breakpoint-down(sm) {
            font-size: $font-size-x-medium;
            line-height: 34px;
        }
    }

    &__view {
        margin: 30px 0 0;
        padding: 33px 60px 50px;
        border-radius: 5px;
        box-shadow: 0 6px 11px 5px rgba(0, 0, 0, 0.1);
        background-color: $white;
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
            padding: 30px 15px;
        }
    }

    &__pagination {
        font-family: $font-family-effra-pro;
        font-size: $font-size-xx-medium;
        font-weight: $font-weight-regular;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $dark-gray;
    }

    &__subtitle {
        margin-bottom: 20px;
        margin-top: 10px;
        font-family: $font-family-effra-pro;
        font-size: $font-size-xx-medium;
        line-height: 18px;
        font-weight: $font-weight-bold;
        letter-spacing: normal;
        color: $black;
    }

    &__answer-cards {
        color: $dark-gray;
    }

    &__answer-card {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 155px;
        border: 1px solid $dark-gray;
        border-radius: 5px;
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0px;
        }

        &--chosen,
        &:focus,
        &:hover {
            color: $brand-blue;
            border: 3px solid $brand-blue;
            outline: none;

            img {
                filter: invert(30%) sepia(77%) saturate(1574%) hue-rotate(179deg) brightness(95%) contrast(102%);
            }

            span {
                color: $brand-blue !important;
            }
        }

        img {
            max-width: 50px;
            height: auto;
            margin-bottom: 10px;
        }
        .cmp-center-block {
            min-width: 100px;
        }
    }

    &__accordion {
        $accordion: &;

        &-group {
            margin-top: 40px;

            &--collapse {
                #{$accordion}-item__contents {
                    display: none;
                }

                #{$accordion}-item__expand-collapse-icon {
                    background-image: url(../resources/images/icon-plus--black.svg);
                }
            }
        }

        &-item {
            display: none;

            &__title {
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                font-weight: $font-weight-bold;

                *:first-child {
                    max-width: calc(100% - 15px);
                }

                &:focus {
                    outline: none;
                    div:first-child {
                        outline: 3px solid black;
                    }
                }
            }

            &__expand-collapse-icon {
                cursor: pointer;
                width: 15px;
                height: 15px;
                background-image: url(../resources/images/icon-minus--black.svg);
                background-position: center center;
                background-repeat: no-repeat;
                margin-top: 3px;
            }

            &--show {
                display: block;
            }
        }
    }
    .nyl-button:hover {
        color: $white !important;
    }
}

.cmp-calculator-container-gbs {
    &__edit-mode {
        .cmp-question-card {
            display: block;
        }
    }
}
