<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-two-col-control-placeholder'}" />
<div class="cmp-parsys2 row">
    <div class="col d-flex">
        <sly data-sly-resource="${'left-par' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>
    <div class="col d-flex">
        <sly data-sly-resource="${'right-par' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>
</div>
