<sly data-sly-template.actions="${@ teaser}">
    <div class="cmp-teaser__action-container button button-text button-transparent">
        <a class="cmp-teaser__action-link"
            data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ linkUrl=properties.linkURL }"
            data-sly-test="${properties.ctaLinkText && linkModel.linkUrl}" href="${linkModel.linkUrl}"
            title="${properties.ctaLinkTitle}" target="${properties.ctaLinkBehavior}"
            data-cmp-data-layer="${actions.data.json}">
            <span data-sly-test="${properties.ctaLinkText}" class="button--wrapper">
                <span class="button--link-text">${properties.ctaLinkText}</span>
                <span class="button--arrow">
                    <span class="button--arrow-icon"></span>
                </span>
            </span>
        </a>
    </div>
</sly>
