<sly data-sly-template.image="${@ teaser}">
    <div class="cmp-teaser__image ${imageModel.svg ? 'has-svg' : ''}" data-sly-test="${properties.fileReference}"
        data-sly-use.styleLookupModel="${'com.nyl.foundation.models.StyleLookupModel'}"
        data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel'  
       @componentName='teaser', imagePath=properties.fileReference, aspectRatio=styleLookupModel.aspectRatio, imageAltText=properties.imageAltText,isResponsive=true }">
        <sly data-sly-test="${!imageModel.svg}"
            data-sly-use.image="nyl-foundation/components/common/templates/image.html"
            data-sly-call="${image.pictureTemplate @ imageModel=imageModel,imgClass='mw-100'}">
        </sly>
        <sly data-sly-test="${imageModel.svg}">
            ${imageModel.svgSource @ context='unsafe'}
        </sly>
    </div>
</sly>
