<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @ appendPath='calculatorNavigationSections'}"
    data-sly-call="${templates.placeholder @ isEmpty = !resourceModel.resource, classAppend='cmp-calculator-container-placeholder'}" />
</sly>
<div data-edit-mode="${(wcmmode && wcmmode.edit) ? 'true' : 'false'}"
    class="${(wcmmode && wcmmode.edit) ? 'cmp-calculator-container cmp-calculator-container__edit-mode' : 'cmp-calculator-container'}"
    data-calc-type="${properties.calculatorType}" data-i18n-labels='{
        "startOverButton": "${"calculator.general.startOverButton" @i18n}",
        "resultViewHeadline": "${"calculator.general.resultsHeadline" @i18n}",
        "years": "${"foundation.years" @i18n}"
    }' data-author-values='{
        "errorMessage": "${properties.errorMessage}",
        "negativeResult": {
            "headline" : "${properties.negativeResultsHeadline}",
            "description" : "${properties.negativeResultsDescription}",
            "valueSubtext1" : "${properties.negativeResultsValueSubtext1}",
            "valueSubtext2" : "${properties.negativeResultsValueSubtext2}",
            "valueSubtext3" : "${properties.negativeResultsValueSubtext3}",
            "subHeadline1" : "${properties.negativeResultsSubHeadline1}",
            "subHeadline2" : "${properties.negativeResultsSubHeadline2}",
            "subHeadline3" : "${properties.negativeResultsSubHeadline3}",
            "disclaimer" : "${properties.negativeResultsDisclaimer}",
            "connectDescription" : "${properties.negativeResultsConnectDescription}",
            "CtaLinkUrl" : "${properties.negativeResultsCtaLinkUrl}",
            "CtaLinkBehaviour": "${properties.negativeResultsCtaLinkBehavior}",
            "CtaLinkText": "${properties.negativeResultsCtaLinkText}",
            "CtaLinkTitle": "${properties.negativeResultsCtaLinkTitle}"
        },
        "result": {
            "headline" : "${properties.resultsHeadline}",
            "description" : "${properties.resultsDescription}",
            "valueSubtext1" : "${properties.resultsValueSubtext1}",
            "valueSubtext2" : "${properties.resultsValueSubtext2}",
            "valueSubtext3" : "${properties.resultsValueSubtext3}",
            "subHeadline1" : "${properties.resultsSubHeadline1}",
            "subHeadline2" : "${properties.resultsSubHeadline2}",
            "disclaimer" : "${properties.resultsDisclaimer}",
            "connectDescription" : "${properties.resultsConnectDescription}",
            "CtaLinkUrl" : "${properties.resultsCtaLinkUrl}",
            "CtaLinkBehaviour": "${properties.resultsCtaLinkBehavior}",
            "CtaLinkText": "${properties.resultsCtaLinkText}",
            "CtaLinkTitle": "${properties.resultsCtaLinkTitle}"
        }
    }'>
    <div class="cmp-calculator-container__landing-view">
        <h4 data-sly-test="${properties.calculatorName}" class="cmp-calculator-container__landing-title">
            ${properties.calculatorName}</h4>
        <h3 data-sly-test="${properties.headline}" class="cmp-calculator-container__landing-subtitle">
            ${properties.headline} </h3>
        <p data-sly-test="${properties.description}" class="cmp-calculator-container__landing-description">
            ${properties.description}</p>
        <button
            class="cmp-calculator-container__landing-button nyl-button button--primary">${'calculator.general.startButton'
            @ i18n}</button>
    </div>
    <div data-sly-test="${resourceModel.children}" class="cmp-calculator-container__main-view">
        <div class="col-12 col-md-4 cmp-calculator-container__table-of-contents">
            <h4 data-sly-test="${properties.calculatorNavigationName}"
                class="cmp-calculator-container__table-of-contents__headline">${properties.calculatorNavigationName}
            </h4>
            <p class="cmp-calculator-container__steps">
                ${'foundation.calculator.step' @ i18n} <span class="cmp-calculator-container__current-step"></span>
                ${'foundation.calculator.of' @ i18n} ${resourceModel.size}
            </p>
            <ul data-sly-list.calculatorNavigationSection="${resourceModel.children}"
                class="cmp-calculator-container__table-of-contents-list">
                <li class="col-4 col-md-12"><span class="cmp-calculator-container_step"></span>
                    <span>${calculatorNavigationSection.sectionTitle}</span>
                </li>
            </ul>
        </div>
        <div class=" col-12 col-md-8 cmp-calculator-container__calculator">
            <div class="cmp-calculator-container__calculator-form">
                <form>
                    <div data-sly-list.calculatorNavigationSection="${resourceModel.children}">
                        <section
                            data-sly-test.responsiveGrid="${['calculatorContainer',calculatorNavigationSectionList.index] @ join = ''}"
                            class="cmp-calculator-container__calculator-block">
                            <h3 class="cmp-calculator-container__section-headline">
                                ${calculatorNavigationSection.sectionHeadline}</h3>
                            <p data-sly-test="${calculatorNavigationSection.sectionDescription}"
                                class="cmp-calculator-container__section-info">
                                ${calculatorNavigationSection.sectionDescription}<span
                                    data-sly-test="${calculatorNavigationSection.toolTip}"
                                    class="cmp-calculator-container__section-info--icon" data-toggle="popover"
                                    data-content=${calculatorNavigationSection.toolTip}></span></p>
                            <sly
                                data-sly-resource="${responsiveGrid @resourceType='wcm/foundation/components/responsivegrid'}" />
                        </section>
                    </div>
                    <div class="d-flex cmp-calculator-container__button-container">
                        <button class="cmp-calculator-container__back-button nyl-button button--secondary"
                            type="button">${'calculator.general.backButton'
                            @ i18n}</button>
                        <button class="cmp-calculator-container__next-button nyl-button button--primary"
                            type="button">${'calculator.general.nextButton'
                            @ i18n}</button>
                        <button class="cmp-calculator-container__submit-button nyl-button button--primary"
                            type="submit">
                            <span><img
                                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                                    alt="">${'calculator.general.resultsButton' @ i18n}
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="cmp-calculator-container__success">
        <div class="cmp-calculator-container__success--container">
            <p class="cmp-calculator-container__success--pagetitle"></p>
            <h2 class="cmp-calculator-container__success--title"></h2>
            <p class="cmp-calculator-container__success--description"></p>
            <div
                class="cmp-calculator-container__success--age--more d-flex flex-column flex-md-row flex-wrap justify-content-between">
            </div>
            <div class="cmp-calculator-container__success--chart">
                <img src="" alt="">
            </div>
            <div class="cmp-calculator-container__success--disclaimer"></div>
            <hr class="cmp-calculator-container__success--divider">
            <div class="cmp-calculator-container__success--note"></div>
            <div class="d-flex justify-content-around">
                <div class="text-center cmp-calculator-container__start-over-container">
                    <button class="cmp-calculator-container__start-over-btn"
                        type="button">{i18nLabels.startOverButton}</button>
                </div>
                <div class="text-center cmp-calculator-container__success--cta-btn-container">
                    <a href="" class="nyl-button button--primary" target="">
                        <span class="cmp-agent-presence-in-page__data-connect"></span>
                        <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
