<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-average-returns-placeholder'}" />
<div class="cmp-average-returns">
    <div class="container">
        <div class="row cmp-average-returns__main-heading">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-average-returns__first-heading">
                <div>
                    <span class="cmp-average-returns__avg-annual-text"></span>
                    <span class="cmp-average-returns__as-of-text"></span>
                    <span class="cmp-average-returns__as-of-text as-of-date"></span>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-average-returns__toggle-text">
                <div>
                    <span class="cmp-average-returns__toggle-text--qtr-text quarterly"></span>
                    <span class="cmp-average-returns__toggle-text--separator">|</span>
                    <span class="monthly"></span>
                </div>
            </div>
        </div>
        <div class="cmp-average-returns__left"></div>
        <div class="cmp-average-returns__right cmp-average-returns__right-gradient"></div>
        <div class="row cmp-average-returns__avg-returns-table-parent-div">
            <div class="col-12 cmp-average-returns__avg-returns-table-wrapper ">

                <table class="cmp-average-returns__avg-returns-table">
                    <caption class="cmp-average-returns__table-caption"></caption>
                    <tr class="tableHeader">
                        <th scope="col" class="cmp-average-returns__shareClassHeading"></th>
                        <th scope="col" class="cmp-average-returns__viewLabel"></th>
                        <th scope="col" class="cmp-average-returns__ytdLabel"></th>
                        <th scope="col" class="cmp-average-returns__oneYearLabel"></th>
                        <th scope="col" class="cmp-average-returns__threeYearLabel"></th>
                        <th scope="col" class="cmp-average-returns__fiveYearLabel"></th>
                        <th scope="col" class="cmp-average-returns__tenYearLabel"></th>
                        <th scope="col" class="cmp-average-returns__siLabel"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
