.cmp-morningstar-all-rankings {
    background-color: transparent;
    margin-top: calcRem(32px) !important;
    margin-bottom: calcRem(0px) !important;
    @extend %full-width;
    @include media-breakpoint-down(sm) {
        margin-top: calcRem(11px) !important;
    }

    .container {
        @include media-breakpoint-down(md) {
            max-width: none;
        }
    }

    .tableHeader {
        height: calcRem(49px);
        border-top: 5px solid $steel;

        @include media-breakpoint-down(sm) {
            height: calcRem(58px);
        }

        th {
            background-color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(14px);
            font-weight: normal;
            line-height: calcRem(15px);
            color: white;
            letter-spacing: normal;
            @include media-breakpoint-down(sm) {
                font-size: calcRem(12px);
                line-height: calcRem(15px);
            }
        }

        th:first-child {
            width: 40%;
            padding-left: calcRem(42px);
            text-align: left;
            @include media-breakpoint-down(sm) {
                padding-left: calcRem(42px);
                width: 20%;
            }
        }

        th:not(:first-child) {
            width: 20%;
            @include media-breakpoint-down(sm) {
                width: 10%;
            }
        }
    }

    tbody {
        td:first-child {
            width: 40%;
            padding-left: calcRem(42px);
            @include media-breakpoint-down(sm) {
                width: 20%;
                padding-left: calcRem(42px);
            }
        }

        td:not(:first-child) {
            width: 20%;
            @include media-breakpoint-down(sm) {
                width: 10%;
            }
        }

        tr:not(:first-child) {
            height: calcRem(39px);
            @include media-breakpoint-down(sm) {
                height: calcRem(53px);
            }
        }

        tr:nth-child(even) td {
            background-color: $mobile-row;
        }

        tr:nth-child(odd) td {
            background-color: white;
        }

        td {
            font-size: calcRem(14px);
            line-height: normal;
            @include media-breakpoint-down(sm) {
                font-size: calcRem(12px);
            }
        }

        th:first-child,
        td:first-child {
            @include media-breakpoint-down(md) {
                position: sticky;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        td:last-child {
            padding-right: calcRem(42px);
            @include media-breakpoint-down(md) {
                padding-right: calcRem(21px);
            }
        }
    }

    &__table-parent-div {
        overflow-x: auto;
    }

    &__table {
        min-width: calcRem(1110px);
        @include media-breakpoint-down(sm) {
            min-width: calcRem(600px);
        }
    }

    &__morningStarRating {
        &--riskAdjustedText {
            @include media-breakpoint-down(sm) {
                display: block;
            }
        }

        &--asOfText {
            display: block;
        }
    }

    &__starRatingLabel {
        @include media-breakpoint-down(sm) {
            word-spacing: 4pc;
        }
    }

    &__left-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            opacity: 0.2;
            position: absolute;
            display: block;
            width: calcRem(30px);
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: calcRem(435px);
        }
        @include media-breakpoint-down(sm) {
            left: calcRem(178px);
        }
    }

    &__right-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            opacity: 0.2;
            position: absolute;
            display: block;
            width: calcRem(30px);
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
        }
    }

    &__emptyResults {
        text-align: center;
    }

    &__categoryLabel {
        @include media-breakpoint-down(sm) {
            width: 25% !important;
        }
    }
}
