.cmp-social-share {
    padding: calcRem(20px) 0;
    display: flex;
    align-items: center;
    margin: $component-margin 0;

    @include media-breakpoint-up(md) {
        border-bottom: 1px solid $medium-gray;
        border-top: 1px solid $medium-gray;
    }

    p {
        padding-right: calcRem(10px);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        line-height: 0;
        li {
            margin: 0;
            padding: 0 calcRem(10px);
            display: inline-block;
        }
    }

    &__clipboard-message {
        background: $light-gray;
        max-width: 100%;
        margin-left: auto;
        margin-right: calcRem(-20px);
        padding: calcRem(10px);
        border-radius: 4px;
        opacity: 0;
        @include transition(all 0.2s ease-in-out);

        &.active {
            opacity: 1;
            margin-right: 0;
            @include transition(all 0.2s ease-in-out);
        }
        &--close,
        &--diamond {
            display: none;
        }
    }

    @include media-breakpoint-down(sm) {
        display: block;

        ul {
            margin: 0 calcRem(-10px) calcRem(10px);
        }
    }

    &__button--share {
        display: none;
    }
    &__button-drawer a {
        display: block;
        line-height: 0;
        &:hover {
            text-decoration: none;
        }
        i {
            display: inline-flex;
            border-radius: 50%;
            width: calcRem(50px);
            height: calcRem(50px);
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__icon {
        &--share {
            &:after {
                background: url('../resources/images/share-light.png') no-repeat center/contain;
            }
        }
        &--facebook {
            &:after {
                background: url('../resources/images/facebook-light.png') no-repeat center/contain;
            }
        }
        &--twitter {
            &:after {
                background: url('../resources/images/twitter-light.png') no-repeat center/contain;
            }
        }
        &--linkedin {
            &:after {
                background: url('../resources/images/linkedin-light.png') no-repeat center/contain;
            }
        }
        &--email {
            &:after {
                background: url('../resources/images/email-light.png') no-repeat center/contain;
            }
        }
        &--copy {
            &:after {
                background: url('../resources/images/share-light.png') no-repeat center/contain;
            }
        }
    }
}
