.cmp-etf-cef-distribution-yields {
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(0px) !important;
    @extend %mobile-full-width;
    &__main-section {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__wrapper {
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
    }
    &__list-container {
        list-style: none;
        padding: calcRem(0px);
        margin-bottom: calcRem(32px);

        li {
            margin-bottom: calcRem(2px);
            height: calcRem(64px);
            background: $white;
            &:hover {
                background: $rain-tint;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
            }
        }
    }

    &__header-columns {
        text-align: right;
        display: inline-flex;
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
        font-style: $font-style-italic;
        @include font-size(16px);
        @include line-height(18px);
        font-family: $font-family-alda;
        color: $steel;
        padding-bottom: calcRem(17px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(13px);
        }
    }
    &__heading-section {
        padding-top: calcRem(56px);
        padding-bottom: calcRem(24px);
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
            padding-left: calcRem(20px);
        }
        .heading-text {
            color: $white;
            font-family: $font-family-helvetica-neue;
            @include font-size(14px);
            font-weight: $font-weight-bold;
            letter-spacing: 1px;
            @include line-height(17px);
            text-transform: uppercase;
        }
    }
    &__container-div {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__main-row {
        margin-left: calcRem(0px);
        margin-right: calcRem(0px);
        height: 100%;
    }
    &__main-container-row {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
            margin-right: calcRem(0px);
        }
    }
    &__distributions-list-container {
        list-style: none;
        padding: calcRem(0px);
        li:not(:first-child) {
            height: calcRem(64px);
            background: $white;
            margin-bottom: calcRem(2px);
            &:hover {
                background: $rain-tint;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
                margin-bottom: calcRem(2px);
            }
        }
        li:first-child {
            height: calcRem(50px);
        }
        &.etf-type-table {
            @include media-breakpoint-down(sm) {
                width: 200%;
            }
        }
        &.closed-end-type-table {
            @include media-breakpoint-down(sm) {
                width: 134%;
            }
        }
    }

    &__table {
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            overflow-x: auto;
        }
    }
    &__table-sub {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }

    &__as-of {
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(13px);
    }
    &__as-of-text {
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(13px);
    }

    &__labels {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        height: calcRem(64px);
        display: flex;
        align-items: center;
        color: $steel;
        padding-left: calcRem(24px);
        padding-right: calcRem(0px);
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            display: flex;
            align-items: center;
            padding-left: calcRem(20px);
            padding-right: calcRem(0px);
        }
    }
    &__values {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        @include line-height(19px);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding-right: calcRem(24px);
        padding-left: calcRem(0px);
        @include media-breakpoint-down(sm) {
            @include font-size(14px);
            @include line-height(17px);
            padding-right: calcRem(20px);
            padding-left: calcRem(0px);
        }
    }

    &__table-item {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        display: flex;
        align-items: center;
        padding-left: calcRem(0px);
        &:not(:first-child) {
            flex-direction: row-reverse;
        }
        &:first-child {
            padding-left: calcRem(24px);
            @include media-breakpoint-down(sm) {
                padding-left: calcRem(20px);
            }
        }
        &:last-child {
            padding-right: calcRem(24px);
            @include media-breakpoint-down(sm) {
                padding-right: calcRem(20px);
            }
        }
    }
    &__header-item {
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        padding-top: calcRem(15px);
        padding-bottom: calcRem(17px);
        padding-left: calcRem(0px);
        &:not(:first-child) {
            text-align: right;
        }
        &:first-child {
            padding-left: calcRem(24px);
            @include media-breakpoint-down(sm) {
                padding-left: calcRem(20px);
            }
        }
        &:last-child {
            padding-right: calcRem(24px);
            @include media-breakpoint-down(sm) {
                padding-right: calcRem(20px);
            }
        }
    }
    .sub-table-section {
        display: none;
    }
    .sub-heading {
        padding-top: calcRem(72px);
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(62px);
        }
    }
    &__sub-heading-text {
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: calcRem(0.5px);
        @include line-height(17px);
        font-weight: $font-weight-bold;
    }
    &__sub-heading {
        margin-bottom: calcRem(12px);
        height: calcRem(17px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(sm) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: calcRem(0px);
            top: calcRem(50px);
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(sm) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
            top: calcRem(50px);
        }
    }

    &__pagination {
        margin-top: calcRem(35px);
        color: white;
        font-size: calcRem(12px);
        line-height: calcRem(13px);
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(30px);
        }
    }

    &__pagination-total-length {
        margin-right: calcRem(29px);
        @include media-breakpoint-down(sm) {
            margin-right: calcRem(20px);
        }
    }

    &__next {
        margin-right: 0px;
        margin-top: calcRem(-3px);
        @include media-breakpoint-down(sm) {
            margin-right: calcRem(15px);
        }
        &:after {
            @include transform(rotate(270deg));
            content: '';
            width: calcRem(16px);
            height: calcRem(16px);
            float: right;
            background: url('../resources/images/icon-arrow-3--white.svg') no-repeat center/contain;
            flex-shrink: 0;
        }
    }
    &__previous {
        margin-top: calcRem(-3px);
        margin-right: calcRem(24px);
        @include media-breakpoint-down(sm) {
            margin-right: calcRem(25px);
        }
        visibility: hidden;
        &:after {
            @include transform(rotate(90deg));
            content: '';
            width: calcRem(16px);
            height: calcRem(16px);
            float: right;
            background: url('../resources/images/icon-arrow-3--white.svg') no-repeat center/contain;
            flex-shrink: 0;
        }
    }

    .etf-type-table {
        .col {
            max-width: 20%;
        }
    }
}

.cmp-etf-cef-distribution-yields--light-gray {
    .cmp-etf-cef-distribution-yields {
        &__distributions-list-container {
            li:not(:first-child) {
                background: $light-steel-3;
                &:hover {
                    background: $rain-tint;
                }
            }
        }
        &__list-container {
            li {
                background: $light-steel-3;
                &:hover {
                    background: $rain-tint;
                }
            }
        }
    }
}
.cmp-etf-cef-distribution-yields--steel {
    .cmp-etf-cef-distribution-yields {
        &__heading-section {
            .heading-text {
                color: $steel;
            }
        }
        &__sub-heading-text {
            color: $steel;
        }
        &__header-item {
            color: $steel;
        }
        &__as-of {
            color: $steel;
        }
        &__as-of-text {
            color: $steel;
        }
    }
}
