<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.productUnitValueCode, classAppend='cmp-auv-placeholder'}" />
<div class="cmp-auv" data-sly-test="${properties.productUnitValueCode}"
    data-sly-use.idGenerator="com.nyl.foundation.models.IdGeneratorModel"
    data-fund-code="${properties.productUnitValueCode}" id="cmp-auv-${idGenerator.id}">
    <div class="cmp-auv__table">
        <h2 data-sly-element="${properties.type}" data-sly-test="${properties.title}" class="cmp-auv__table--heading">
            ${properties.title}</h2>
        <div class="cmp-auv__table--container">
            <table class="cmp-auv__table--container__table" aria-label="table">
                <thead class="cmp-auv__table--thead">
                    <tr>
                        <th class="active" scope="col">${'nyl.AUV.fund' @ i18n}
                            <div>
                                <span class="cmp-auv__icon-asc">
                                    <sly data-sly-use.icon="/apps/nyl-foundation/components/common/templates/icon-sort-single.html"
                                        data-sly-call="${icon.include}"></sly>
                                </span>
                            </div>
                        </th>
                        <th scope="col">${'nyl.AUV.asOf' @ i18n}</th>
                        <th scope="col">${'nyl.AUV.changeFrom' @ i18n}</th>
                        <th scope="col">${'nyl.AUV.percentChange' @ i18n}</th>
                        <th scope="col">${'nyl.AUV.percentChangeYTD' @ i18n}</th>
                    </tr>
                </thead>
                <tbody class="cmp-auv__table--tbody">
                    <tr>
                        <th scope="col"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cmp-auv__dual-sort-icon">
            <sly data-sly-use.icon="/apps/nyl-foundation/components/common/templates/icon-sort-dual.html"
                data-sly-call="${icon.include}"></sly>
        </div>
    </div>
    <div class="cmp-auv__error">
        <div class="cmp-auv__error--icon-wrapper">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20.9553 5.15548C22.4294 2.20729 26.6366 2.20729 28.1107 5.15548L42.6386 34.2112C43.9684 36.8708 42.0344 40.0001 39.0609 40.0001H10.0052C7.03163 40.0001 5.09765 36.8708 6.42745 34.2112L20.9553 5.15548ZM26.5174 33.001C26.5174 34.1056 25.622 35.001 24.5174 35.001C23.4128 35.001 22.5174 34.1056 22.5174 33.001C22.5174 31.8965 23.4128 31.001 24.5174 31.001C25.622 31.001 26.5174 31.8965 26.5174 33.001ZM24.5156 15.0008C23.4111 15.0008 22.5156 15.8962 22.5156 17.0008V25.0008C22.5156 26.1054 23.4111 27.0008 24.5156 27.0008C25.6202 27.0008 26.5156 26.1054 26.5156 25.0008V17.0008C26.5156 15.8962 25.6202 15.0008 24.5156 15.0008Z"
                    fill="#c02321" />
            </svg>
        </div>
        <div class="cmp-auv__error--text-wrapper">
            <h4>${'nyl.AUV.networkError' @ i18n}</h4>
            <p>${'nyl.AUV.errorMessage' @ i18n}</p>
        </div>
    </div>
</div>
