.cmp-featured-products {
    &__title,
    &__view-all,
    &__product-info--left__asset-class,
    &__product-info--left__ticker,
    &__product-info--left__name,
    &__product-info--left____share-class,
    &__product-info--right__rating-details,
    &__product-average-returns__title,
    &__product-average-returns__as-of-date,
    &__product-average-returns__label,
    &__product-average-returns__inception-date,
    &__product-average-returns__value {
        color: $steel;
        font-family: $font-family-helvetica-neue;
    }

    &__title {
        display: inline-block;
        font-size: calcRem(16px);
        font-weight: $font-weight-bold;
        letter-spacing: calcRem(1px);
        line-height: calcRem(20px);
        text-transform: uppercase;
        margin: 0px;
        @include media-breakpoint-down(sm) {
            font-size: calcRem(14px);
            line-height: calcRem(18px);
        }
    }

    &__view-all {
        display: none;
        float: right;
        font-size: calcRem(18px);
        line-height: calcRem(32px);

        @include media-breakpoint-down(sm) {
            font-size: calcRem(14px);
            line-height: calcRem(20px);
        }
    }

    &__products {
        display: none;
        margin-top: calcRem(24px);

        @include media-breakpoint-down(sm) {
            margin-top: calcRem(26px);
            margin-right: -20px;
        }
    }

    &__product {
        background: $light-steel-3;
        display: flex;
        flex-flow: column;
        width: 100%;

        &-hover-area:hover {
            cursor: pointer;
        }

        &-hover-area,
        &-morningstar-cta {
            padding: 0 calcRem(16px);
        }
    }

    &__product-hover-area {
        position: relative;

        &:before {
            background: $steel;
            content: '';
            height: calcRem(8px);
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &:hover:before {
            height: calcRem(12px);
        }
    }

    &__product-info {
        border-bottom: calcRem(0.5px) solid $steel;
        display: flex;
        padding: calcRem(24px) 0 calcRem(12px);

        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(18px);
        }

        &--left {
            width: 60.38%;
            margin-right: calcRem(20px);

            @include media-breakpoint-down(sm) {
                width: 57.79%;
                margin-right: calcRem(6px);
            }

            &__asset-class,
            &__ticker {
                text-transform: uppercase;
            }

            &__asset-class {
                font-size: calcRem(11px);
                line-height: calcRem(12px);
                letter-spacing: calcRem(1px);
            }

            &__ticker {
                margin-top: calcRem(4px);
                height: calcRem(40px);
                font-size: calcRem(36px);
                font-family: $font-family-alda;
                line-height: calcRem(32px);
            }

            &__name {
                margin-top: calcRem(4px);
                font-size: calcRem(16px);
                line-height: calcRem(20px);

                @include media-breakpoint-down(sm) {
                    font-size: calcRem(15px);
                    line-height: calcRem(18px);
                }
            }

            &__share-class {
                margin-top: calcRem(8px);
                font-size: calcRem(12px);
                line-height: calcRem(13px);
            }
        }

        &--right {
            width: 33.33%;

            @include media-breakpoint-down(sm) {
                width: 39.92%;
            }

            &__rating {
                display: flex;
                justify-content: flex-end;
                $star-size: calcRem(17.5px);
                height: $star-size;

                span {
                    background: url('../resources/images/icon-star--steel.svg') no-repeat center/contain;
                    background-size: $star-size $star-size;
                    display: inline-block;
                    height: $star-size;
                    margin-right: calcRem(1.75px);
                    position: relative;
                    width: $star-size;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &__rating-details {
                font-size: calcRem(12px);
                line-height: calcRem(13px);
                margin-top: calcRem(4px);
                overflow-wrap: break-word;
                text-align: right;
            }
        }
    }

    &__product-average-returns {
        margin-top: calcRem(11.5px);

        &__title {
            font-size: calcRem(12px);
            line-height: calcRem(15px);
            font-weight: $font-weight-bold;
        }

        &__as-of-date {
            margin-top: calcRem(1px);
        }

        &__as-of-date,
        &__label,
        &__inception-date {
            font-size: calcRem(12px);
            line-height: calcRem(13px);
        }

        &__values {
            width: 100%;
            margin-top: calcRem(11px);

            @include media-breakpoint-down(sm) {
                margin-top: calcRem(14px);
            }
        }

        &__label,
        &__value {
            width: 20%;
        }

        &__label {
            font-weight: $font-weight-regular;
        }

        &__value {
            font-size: calcRem(20px);
            line-height: calcRem(25px);
            font-weight: $font-weight-bold;

            @media screen and (min-width: 992px) and (max-width: 1199px) {
                font-size: calcRem(18px);
            }

            @include media-breakpoint-down(sm) {
                font-size: calcRem(16px);
                line-height: calcRem(24px);
            }
        }

        &__inception-date {
            margin-top: calcRem(6px);

            @include media-breakpoint-down(sm) {
                margin-top: calcRem(12px);
            }
        }
    }

    &__product-morningstar-cta {
        align-items: center;
        display: flex;
        height: calcRem(22px);
        justify-content: flex-end;
        margin: calcRem(12px) 0 calcRem(20px);

        &__text {
            color: $steel;
            font-family: $font-family-alda;
            font-size: calcRem(18px);
            font-style: italic;
            line-height: calcRem(22px);
            margin: 0 calcRem(7px) 0 calcRem(9px);
        }

        &__icon {
            height: calcRem(16px);
            width: calcRem(16px);
        }

        &__arrow-icon {
            background: url('../resources/images/icon-rightarrow--steel.svg') no-repeat center/contain;
            height: calcRem(13.33px);
            width: calcRem(7.33px);
        }

        @include media-breakpoint-down(sm) {
            margin: calcRem(16px) 0 calcRem(25px);
        }
    }

    .slick-list {
        margin: 0 calcRem(-15px);

        @include media-breakpoint-down(sm) {
            padding: 0 17% 0 0;
            margin: 0 calcRem(-20px);

            &--single-slide {
                padding: 0;
                margin: 0;
            }
        }
    }

    .slick-track {
        display: flex;
    }

    .slick-slide {
        display: flex;
        height: auto;
        margin: 0 calcRem(15px);

        @media screen and (min-width: 992px) and (max-width: 1199px) {
            margin: 0 calcRem(10px);
        }

        @include media-breakpoint-down(sm) {
            margin: 0 calcRem(20px);

            &--single-slide {
                margin-left: 0;
            }
        }
    }

    .slick-arrow,
    .slick-dots li button {
        &:before {
            content: none;
        }
    }

    .slick-arrow {
        border-top: calcRem(15px) solid transparent;
        border-bottom: calcRem(15px) solid transparent;
        transform: translateY(-222.5%);

        @include media-breakpoint-down(lg) {
            display: none !important;
        }
    }

    .slick-prev {
        border-right: calcRem(15px) solid $steel;
        left: calcRem(-40px);

        @media screen and (min-width: 1360px) and (max-width: 1439px) {
            left: calcRem(-60px);
        }

        @media screen and (min-width: 1440px) {
            left: calcRem(-80px);
        }

        &.slick-disabled {
            border-right: calcRem(15px) solid $light-dusk-2;
        }
    }

    .slick-next {
        border-left: calcRem(15px) solid $steel;
        right: calcRem(-40px);

        @media screen and (min-width: 1360px) and (max-width: 1439px) {
            right: calcRem(-60px);
        }

        @media screen and (min-width: 1440px) {
            right: calcRem(-80px);
        }

        &.slick-disabled {
            border-left: calcRem(15px) solid $light-dusk-2;
        }
    }

    .slick-dots {
        position: relative;
        bottom: 0;
        margin-top: calcRem(30px);

        @include media-breakpoint-down(sm) {
            margin-top: calcRem(38px);
        }

        li {
            background-color: $light-dusk-2;
            border-radius: 50%;
            height: calcRem(15px);
            margin: 0 calcRem(24px);
            width: calcRem(15px);

            @include media-breakpoint-down(sm) {
                height: calcRem(10px);
                margin: 0 calcRem(16px);
                width: calcRem(10px);
            }

            &:only-child {
                display: none;
            }

            &.slick-active {
                background-color: $medium-dusk;
            }

            button:before {
                content: none;
            }
        }
    }
}
