<div class="cmp-accordion--expand-collapse">
    <div id="cmp-accordion-container-accordion_container" class="cmp-accordion-container">
        <h2 class="cmp-accordion-container__heading">
            Fixed Income
        </h2>
        <div class="accordion">
            <div class="cmp-accordion">
                <div class="cmp-accordion__header cmp-accordion__header--nonexpand" data-toggle="collapse"
                    data-target="#cmp-accordion-516681562_8" aria-expanded="true"
                    aria-controls="cmp-accordion-516681562_8" href="cmp-accordion-516681562_8"
                    id="cmp-accordion--516681562_8">
                    <button class="card-title">
                        Investment Grade
                    </button>
                </div>
                <div id="cmp-accordion-516681562_8" class="cmp-accordion__content--wrapper collapse show"
                    aria-labelledby="cmp-accordion-516681562_8" style="">
                    <div class="cmp-accordion__content">
                        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                            <div class="link-list cmp-link-list--striped-bg aem-GridColumn aem-GridColumn--default--12">
                                <div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
                                    <ul class="show collapsed" id="cmp-linkList--2015207516_9">
                                        <li>
                                            <a href="/" title="NYL Investment Grade Component Strategy"
                                                target="_self">NYL Investment Grade Component Strategy</a>
                                        </li>
                                        <li>
                                            <a href="/content/core-components-examples/library"
                                                title="NYL Investment Core Fixed Strategy" target="_self">NYL Investment
                                                Core Fixed Strategy</a>
                                        </li>
                                        <li>
                                            <a href="/" title="NYL Investment Grade Bond Index" target="_self">NYL
                                                Investment Grade Bond Index</a>
                                        </li>
                                        <li>
                                            <a href="/content/dam/wknd-events" title="NYL Investment Grade Bond Index"
                                                target="_self">NYL Investment Grade Bond Index</a>
                                        </li>
                                        <li>
                                            <a href="/content/ventures/us" title="NYL Investment Grade Bond Index"
                                                target="_self">NYL Investment Grade Bond Index</a>
                                        </li>
                                        <li>
                                            <a href="/" title="IQ short Duration Enhanced Score" target="_self">IQ short
                                                Duration Enhanced Score</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmp-accordion__header--expanded" data-toggle="collapse"
                    data-target="#cmp-accordion-516681562_8" aria-expanded="true"
                    aria-controls="cmp-accordion-516681562_8" href="cmp-accordion-516681562_8"
                    id="cmp-accordion--516681562_8">
                    <button class="card-title">
                        <span class="show-more">Investment Grade</span><span class="show-less">Section Title
                            Expanded</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="accordion">
            <div class="cmp-accordion">
                <div class="cmp-accordion__header cmp-accordion__header--nonexpand collapsed" data-toggle="collapse"
                    data-target="#cmp-accordion--582024902_10" aria-expanded="false"
                    aria-controls="cmp-accordion--582024902_10" href="cmp-accordion--582024902_10"
                    id="cmp-accordion---582024902_10">
                    <button class="card-title">
                        Muncipal Bonds
                    </button>
                </div>
                <div id="cmp-accordion--582024902_10" class="collapse cmp-accordion__content--wrapper"
                    aria-labelledby="cmp-accordion--582024902_10"
                    data-parent="#cmp-accordion-container-accordion_container">
                    <div class="cmp-accordion__content">
                        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                            <div class="link-list cmp-link-list--striped-bg aem-GridColumn aem-GridColumn--default--12">
                                <div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
                                    <ul class="show collapsed" id="cmp-linkList-288930180_11">
                                        <li>
                                            <a href="/" title="NYL Investment Grade Component Strategy"
                                                target="_self">NYL Investment Grade Component Strategy</a>
                                        </li>
                                        <li>
                                            <a href="/content/core-components-examples/library"
                                                title="NYL Investment Core Fixed Strategy" target="_self">NYL Investment
                                                Core Fixed Strategy</a>
                                        </li>
                                        <li>
                                            <a href="/" title="NYL Investment Grade Bond Index" target="_self">NYL
                                                Investment Grade Bond Index</a>
                                        </li>
                                        <li>
                                            <a href="/content/dam/wknd-events" title="NYL Investment Grade Bond Index"
                                                target="_self">NYL Investment Grade Bond Index</a>
                                        </li>
                                        <li>
                                            <a href="/content/ventures/us" title="NYL Investment Grade Bond Index"
                                                target="_self">NYL Investment Grade Bond Index</a>
                                        </li>
                                        <li>
                                            <a href="/" title="IQ short Duration Enhanced Score" target="_self">IQ short
                                                Duration Enhanced Score</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmp-accordion__header--expanded collapsed" data-toggle="collapse"
                    data-target="#cmp-accordion--582024902_10" aria-expanded="true"
                    aria-controls="cmp-accordion--582024902_10" href="cmp-accordion--582024902_10"
                    id="cmp-accordion---582024902_10">
                    <button class="card-title">
                        <span class="show-more">Muncipal Bonds</span><span class="show-less">Muncipal Bonds</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
