<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.targetResponseToken, classAppend='cmp-dropdown-targeting-placeholder'}" />
<div data-sly-use.linkRewriteModel="${'com.nyl.foundation.models.LinkRewriteModel' @ path=resource.path}"
    class="cmp-dropdown-targeting" data-sly-use.identifier="${'com.nyl.foundation.models.IdGeneratorModel'}">
    <form id="ltc-form-${identifier.id}" data-sly-list.children="${resource.listChildren}" data-id="${identifier.id}"
        data-target-token="${properties.targetResponseToken}"
        data-ltc="${linkRewriteModel.rewriteUrlWithoutExtension}.targeting">
        <label for="ltc-option-${identifier.id}">${'nyl.dropdownTargeting.stateOfResidence' @ i18n}</label> <select
            id="ltc-option-${identifier.id}" class="cmp-dropdown-targeting__select" data-id="${identifier.id}"
            data-ltc-dropdown="${properties.dropDownSelectKey}" data-sly-list="${children.listChildren}">
            <option data-sly-test="${item.value}" data-sly-test="${item.label}" value="${item.value}">${item.label}</option>
        </select>
    </form>
    <div id="ltc-main-xf-${identifier.id}"></div>
</div>
