.cmp-email-subscribe {
    margin-top: 24px;
    &__eyebrow {
        @include font-size-line-height(14px, 16px);
        margin-bottom: 16px;
        letter-spacing: 2px;
        color: $grey-dark;
        @extend %font-weight-medium;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        border: 1px solid $grey-medium;
        flex-direction: row;
        align-items: stretch;
        min-height: 220px;
        @include media-breakpoint-up(lg) {
            min-height: 228px;
        }
    }
    &__content {
        padding: 24px;
        width: 100%;
    }
    &__title {
        @include font-size-line-height(20px, 24px);
        @include media-breakpoint-up(lg) {
            @include font-size-line-height(24px, 28px);
        }
        font-family: $font-family-effra-pro;
        @extend %font-weight-medium;
        margin-top: 0;
        margin-bottom: 8px;
        color: $cool-black;
    }
    &__description {
        p {
            @include font-size-line-height(18px, 24px);
            margin: 0;
        }
        font-weight: normal;
        margin: 0;
        color: $grey-dark;
    }
    &__checkbox-area {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 24px 0 24px 0;
    }
    &__success {
        display: none;
        align-items: center;
        padding-left: 24px;
        width: 100%;
        &--icon {
            margin-right: 10px;
            margin-bottom: 5px;
            height: 26px;
            width: 26px;
            @include media-breakpoint-up(lg) {
                height: 40px;
                width: 40px;
            }
        }
        p {
            @include font-size-line-height(20px, 24px);
            @extend %font-weight-medium;
            @include media-breakpoint-up(lg) {
                @include font-size-line-height(24px, 28px);
            }
        }
    }
    &__image {
        .mw-100 {
            max-width: 224px;
            @include media-breakpoint-up(lg) {
                max-width: 302px;
            }
            object-fit: cover;
            object-position: right;
            height: 100%;
        }
    }
    &__input--label {
        display: block;
        @include font-size-line-height(16px, 24px);
        color: $grey-dark;
        margin-top: 16px;
    }
    &__error-area {
        visibility: hidden;
        min-height: 28px;
    }
    &__button {
        &--checkbox {
            width: 50%;
            display: flex;
            margin-bottom: 8px;
            &:last-of-type {
                display: none;
            }
            label {
                @include font-size-line-height(16px, 24px);
                color: $grey-dark;
            }
        }
        &--checkbox-input {
            height: 18px;
            width: 18px;
            margin: 0 8px 0 0;
        }
        &--input-area {
            position: relative;
            margin-top: 4px;
            min-height: 48px;
        }
        &--input {
            padding: 12px 0 12px 12px;
            border-radius: 4px 0px 0px 4px;
            @include font-size-line-height(18px, 24px);
            width: calc(100% - 48px);
            height: 48px;
            border: 1px solid $grey-border;
            border-right: none;
            float: left;
            box-sizing: border-box;
            background: $white;
            outline: none;
        }
        &--arrow {
            position: absolute;
            right: 0;
            top: 0;
            box-sizing: border-box;
            float: left;
            padding: 10px;
            background: $brand-blue;
            min-width: 48px;
            min-height: 48px;
            border: 1px solid transparent;
            border-left: none;
            border-top-right-radius: 4px;
            cursor: pointer;
            border-bottom-right-radius: 4px;
            &:hover {
                background: $blue-light;
            }
        }
        &-icon-spinner {
            display: none;
            width: 25px;
            height: 25px;
        }
    }

    @include media-breakpoint-down(xs) {
        &__image {
            display: none;
        }
        &__checkbox-area {
            width: 100%;
        }
        &__button {
            &--checkbox {
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }
    &__invalid {
        display: none;
        @include font-size-line-height(14px, 16px);
        color: $red-error;
        margin: 4px 0px;
        position: relative;
        padding-left: 25px;
        padding-top: 4px;
        &:before {
            content: '';
            background: url('../resources/images/icon-error.svg') no-repeat center/contain;
            display: inline-block;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
            background-size: 20px 20px;
        }
    }
    &-hide {
        display: none;
    }
    &-show {
        display: block;
    }
    &-show-flex {
        display: flex;
    }
    &-show-inline {
        display: inline-block;
    }
    &-disable {
        border: 2px solid $red-error;
    }
    &-visible {
        visibility: visible;
    }
}

.cmp-email-subscribe--disable-border {
    .cmp-email-subscribe {
        &__container {
            border: none;
        }
    }
}
