<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.title, classAppend='cmp-social-follow-placeholder'}" />
<div class="cmp-social-follow">
    <h6 data-sly-test="${properties.title}">${properties.title}</h6>
    <sly data-sly-list.parentNode="${resource.listChildren}">
        <sly data-sly-test="${parentNode.name == 'socialFollow'}"
            data-sly-list.socialFollow="${parentNode.listChildren}">
            <sly data-sly-test="${socialFollow.imageUrl}"
                data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ linkUrl=socialFollow.ctaLinkUrl}"
                data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @ imagePath=socialFollow.imageUrl, imageAltText=socialFollow.imageAltText}">
                <a class="cmp-social-follow__social-icon" href="${linkModel.linkUrl}"
                    onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                    target="${socialFollow.ctaLinkBehavior}" title="${socialFollow.ctaLinkTitle}"> <img
                        src="${socialFollow.imageUrl}" data-aem-asset-id="${imageModel.imageId}"
                        data-trackable="${imageModel.imageId? 'true' : ''}" alt="${imageModel.altText}" height="50"
                        width="50" />
                </a> </sly>
        </sly>
    </sly>
</div>
