// global margin override
@include marginOverride('cmp-footer', 0, 0, 0, 0);

.cmp-footer {
    .cmp-footer--secondary-on {
        display: flex;
        flex-direction: column;
        background-color: $steel;
        color: $white;
        @extend %full-width;
        padding: 0;

        .cmp-disclosures {
            &__disclosures--basic {
                p {
                    @include font-size(11px);
                    @include line-height(14px);
                    letter-spacing: calcRem(0.25px);
                    @include media-breakpoint-down(sm) {
                        @include font-size(12px);
                        @include line-height(18px);
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                a {
                    color: $white;
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .cmp-link-list > h6,
        .cmp-social-follow > h6 {
            @include font-size(14px);
            font-weight: $font-weight-bold;
            @include line-height(24px);
            margin-bottom: 1rem;
            text-decoration: none;
            > a {
                letter-spacing: normal;
                @include line-height(16px);
                text-decoration: none;
                color: $white;
                @include font-size(14px);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__primary,
    &__secondary,
    &__copyright ul {
        padding-left: calcRem(15px);
        padding-right: calcRem(15px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
            padding-right: calcRem(20px);
        }
    }
    &__primary {
        @include font-size(14px);
        display: flex;
        padding-top: calcRem(75px);
        padding-bottom: calcRem(50px);
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
            padding-bottom: calcRem(40px);
        }
        .xfpage.page.basicpage {
            width: 100%;
        }
        h6 {
            margin-bottom: 0.25rem;
            font-weight: $font-weight-bold;
            @include font-size(14px);
            text-transform: uppercase;
            letter-spacing: normal;
        }
        p {
            padding-bottom: 10px;
        }
        .link-list {
            flex: 2;
        }
        .social-follow {
            flex: 1;
            @include media-breakpoint-down(sm) {
                margin-top: 2rem;
                flex: none;
                width: 100%;
            }
            .cmp-social-follow {
                display: block;
                @include media-breakpoint-down(sm) {
                    margin-left: 0;
                }
            }
            h6 {
                width: 100%;
            }
        }

        .email-subscribe {
            flex: 2;
            @include media-breakpoint-down(sm) {
                margin-top: 2rem;
                flex: 1;
                width: 100%;
            }
            .cmp-email-subscribe {
                margin-top: 4px !important;
                @include media-breakpoint-down(md) {
                    margin-top: 0 !important;
                }
                &__title {
                    width: 100%;
                    h2 {
                        margin-bottom: 2rem;
                        font-family: $font-family-helvetica-neue;
                        font-weight: $font-weight-bold;
                        @include font-size(14px);
                        text-transform: uppercase;
                        text-align: left;
                        line-height: normal;
                    }
                }
                &__subtitle {
                    color: $white;
                    text-align: left;
                    line-height: normal;
                }
                &__button {
                    padding-bottom: 0;
                    margin: 0 auto;
                    @include media-breakpoint-down(sm) {
                        padding-bottom: 0;
                    }
                    .form-control {
                        color: $steel;
                        font-family: $font-family-alda;
                        @include font-size(14px);
                        letter-spacing: normal;
                        @include line-height(23px);
                        font-style: italic;

                        background-color: $light-steel-2;
                    }
                    .input-group-append > .btn {
                        border: 0px;
                        border-radius: 0px;
                        background-color: $light-steel-2;
                    }
                    &--input {
                        margin-top: 0px !important;
                    }
                }
                &__image,
                &__success-panel,
                &__loading-icon,
                &__submit-icon img {
                    display: none;
                }
                &__submit-icon:after {
                    content: '';
                    display: inline-block;
                    width: 18px;
                    height: 14px;
                    background: url('../resources/images/icon-cta-arrow--steel.svg') no-repeat center/contain;
                }
            }
        }
    }
    &__secondary {
        order: 3;
        @include font-size(11px);
        font-family: $font-family-helvetica-neue;
        color: $white;
        padding-top: calcRem(40px);
        padding-bottom: calcRem(75px);
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
            padding-bottom: calcRem(40px);
        }
    }

    &__copyright {
        order: 2;
        border: calcRem(1px) solid $dark-steel;
        border-left: 0;
        border-right: 0;
        color: $white;
        padding-top: calcRem(26px) !important;
        padding-bottom: calcRem(26px) !important;
        @include line-height(13px);
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(32px) !important;
            padding-bottom: calcRem(32px) !important;
        }
        ul {
            margin-bottom: 0;
            display: flex;
            @include font-size(12px);

            @include media-breakpoint-down(md) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
            }

            li {
                display: inline-block;
                color: $white;
                padding: 0;
                white-space: nowrap;
                @include media-breakpoint-down(md) {
                    display: inline;
                    margin-bottom: calcRem(16px);
                }
                &:first-child {
                    list-style-type: none;
                    padding: 0;
                    margin-right: calcRem(10px);
                    white-space: normal;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                        margin-top: calcRem(16px);
                        margin-bottom: 0;
                        text-align: center;
                        order: 6;
                    }
                    &:after {
                        content: '';
                        padding: 0;
                    }
                }
                &:nth-child(2) {
                    @include media-breakpoint-up(lg) {
                        margin-left: auto;
                    }
                }

                a {
                    @include line-height(13px);
                    color: $white;
                    text-decoration: underline;
                }
                &:after {
                    content: '\2022';
                    padding: 0 calcRem(12px);
                    color: $white;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
                margin: 0;
                text-align: center;
            }
        }
    }
    .cmp-disclosures {
        margin-top: calcRem(0px) !important;
        margin-bottom: calcRem(0px) !important;
    }

    .cmp-link-list {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.xf-web-container {
    .cmp-footer {        
        .cmp-social-follow {        
            h6 {
                color: $white;
            }
        }
        .cmp-link-list {
            h6 {
                color: $white;
            }
            ul li a {
                color: $white;
            }
        }
    }
}

