// bootstrap override
.card {
    border: 0;
}

.cmp-card {
    background-color: transparent;
    @include media-breakpoint-down(sm) {
        padding-top: calcRem(20px);
        padding-bottom: calcRem(20px);
    }

    &__eyebrow {
        display: none;
    }
    &__feature-card-column,
    &__image--non-feature {
        max-width: 33%;
        max-height: calcRem(230px);
        padding: 0;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
            max-height: unset;
            order: 1;
        }
        img,
        svg {
            max-height: calcRem(230px);
            width: 100%;
            object-fit: cover;
        }
        img {
            @include media-breakpoint-down(sm) {
                max-height: unset;
            }
        }
    }
    &__feature-card-column {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
    &__image--non-feature {
        a {
            display: block;
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__content {
        &-wrapper {
            flex: auto;
            flex-direction: row;
            height: 100%;
            position: relative;

            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }

        flex: auto;
        justify-content: center;
        margin-left: calcRem(56px);
        padding: 0;
        max-width: 45%;
        position: static;
        @include media-breakpoint-down(sm) {
            margin-left: 0;
            max-width: 100%;
            position: relative;
        }
        .text__medium {
            @extend %alt-font;
            @include font-size(38px);
            @include line-height(46px);
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                @include font-size(20px);
                @include line-height(26px);
                padding-top: calcRem(18px);
            }
        }
        .text__body {
            p {
                margin-bottom: 0;
            }
            @include media-breakpoint-down(sm) {
                padding-top: calcRem(10px);
                p {
                    @include font-size(14px);
                    @include line-height(20px);
                }
            }
        }
    }
    &__icon-arrow {
        &:after {
            content: '';
            display: inline-block;
            width: calcRem(15px);
            height: calcRem(27px);
            margin: calcRem(2.5px) calcRem(8.5px);
            background: url('../resources/images/icon-arrow-2--steel.svg') no-repeat center/contain;
            transform: rotate(180deg);
            @include media-breakpoint-down(sm) {
                width: calcRem(11px);
                height: calcRem(20px);
                margin: calcRem(2px) calcRem(6.5px);
            }
        }
    }
    &__link {
        position: absolute;
        right: 40px;
        top: calc(50% - 16px);
        margin: auto;
        cursor: default;
        & > span,
        & > span:hover,
        &:hover,
        &:hover > div {
            color: transparent;
            text-decoration: none;
            background: transparent;
        }
        span {
            padding: 0;
            height: auto;
        }
        i:hover {
            cursor: pointer;
        }
        @include media-breakpoint-down(sm) {
            right: 7px;
            top: 20px;
        }
    }
    &__feature-link {
        display: none;
    }

    &--light-steel-3 {
        .cmp-card {
            background-color: $light-steel-3;
            @include media-breakpoint-down(sm) {
                margin-left: calcRem(-20px);
                margin-right: calcRem(-20px);
                > div {
                    margin-left: calcRem(20px);
                    margin-right: calcRem(20px);
                }
            }
        }
    }

    &__social-button-drawer {
        overflow: hidden;
        position: relative;
        float: left;
        display: flex;

        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
            @include transition(all 0.35s ease-in-out);
            white-space: nowrap;
            left: 0;
            position: relative;

            li {
                margin: 0;
                display: inline-block;
                .cmp-card__social-button {
                    padding: 0 calcRem(5px);
                    img {
                        background-color: $light-rain-2;
                    }
                }
                &:nth-of-type(5) {
                    display: none;
                }
            }
        }
    }
    &__social-button {
        &:hover {
            text-decoration: none;
        }
        img {
            display: inline-flex;
            border-radius: 50%;
            width: calcRem(30px);
            height: calcRem(30px);
            padding: calcRem(7px);
            background-color: $light-steel-3;

            &:after {
                content: '';
                display: inline-block;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &__cta {
        display: none;
        float: right;
        margin-right: calcRem(11px);
        padding-bottom: calcRem(51px);
        font-size: calcRem(14px);
        font-weight: bold;
        letter-spacing: calcRem(0.2px);
        line-height: calcRem(17px);
    }
    &__social-links {
        display: none;
    }
    &--top-margin {
        &-none {
            .cmp-card {
                margin-top: 0 !important;
            }
        }
        &-small {
            .cmp-card {
                margin-top: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-card {
                margin-top: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-card {
                margin-top: calcRem(30px) !important;
            }
        }
    }
    &--bottom-margin {
        &-none {
            .cmp-card {
                margin-bottom: 0 !important;
            }
        }
        &-small {
            .cmp-card {
                margin-bottom: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-card {
                margin-bottom: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-card {
                margin-bottom: calcRem(30px) !important;
            }
        }
    }
}

@include edgeonly {
    .cmp-card__image--non-feature svg {
        width: 100px;
        margin: auto;
    }
}
