.cmp-top-holdings {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: calcRem(24px);

        @include media-breakpoint-down(sm) {
            padding: 0 calcRem(24px);
        }
    }

    &__title-date,
    &__delay-unaudited-date {
        width: 50%;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__link-text,
    &__title,
    &__date {
        @include font-size(12px);
        color: $steel;
        display: inline-block;
        font-family: $font-family-helvetica-neue;
    }

    &__link {
        margin-left: auto;
        order: -1;
        text-align: right;
        width: 100%;

        @include media-breakpoint-down(sm) {
            margin-left: 0;
            order: 1;
            text-align: left;
        }
    }

    &__link-icon {
        margin-right: calc-rem(4px);
        &:after {
            background: url('../resources/images/icon-system-file.svg') no-repeat center/contain;
            content: '';
            display: inline-block;
            height: calcRem(14px);
            width: calcRem(14px);
        }
    }

    &__link-text {
        text-decoration: underline;
    }

    &__link-text,
    &__title {
        @include font-size(14px);
    }

    &__title {
        @include line-height(17px);
        font-weight: $font-weight-bold;
    }

    &__date {
        @include line-height(13px);
    }

    &__delay-unaudited-date {
        text-align: right;

        @include media-breakpoint-down(sm) {
            order: 2;
            text-align: left;
        }
    }

    &__table {
        display: flex;
        justify-content: flex-start;

        @include media-breakpoint-down(sm) {
            display: block;
        }
    }

    &__left-holding-column {
        margin-right: calcRem(30px);

        @include media-breakpoint-down(md) {
            margin-right: calcRem(10px);
        }

        @include media-breakpoint-down(sm) {
            margin: 0 0 calcRem(34px) 0;
        }
    }

    &__left-holding-column,
    &__right-holding-column {
        width: 50%;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__long,
    &__short {
        @include font-size(14px);
        @include line-height(17px);
        color: $steel;
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-bold;
        height: calcRem(31px);
    }

    &__holding {
        align-items: center;
        background-color: $white;
        display: flex;
        margin-bottom: calcRem(2px);
        min-height: calcRem(78px);
        padding: calcRem(12px) calcRem(24px);
        height: calcRem(64px);
        &:hover {
            background-color: $rain-tint !important;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-down(md) {
            min-height: calcRem(96px);
        }

        @include media-breakpoint-down(sm) {
            min-height: calcRem(64px);
            height: calcRem(64px);
            padding: calcRem(14px) calcRem(20px);
        }
    }

    &__left-holding-column &__holding {
        @include media-breakpoint-down(sm) {
            &:last-child {
                margin-bottom: calcRem(2px);
            }
        }
    }

    &__company,
    &__value {
        @include font-size(14px);
        align-items: center;
        color: $steel;
        display: flex;
        font-family: $font-family-helvetica-neue;
        height: 100%;
        line-height: calcRem(18px);
    }
    @include ie11only {
        &__company {
            max-width: 100%;
        }
        &__value {
            flex-direction: row-reverse;
        }
    }
    &__value {
        @include font-size(16px);
        @include line-height(19px);
        font-weight: $font-weight-bold;
        margin-left: auto;
        padding-left: 15px;

        @include media-breakpoint-down(sm) {
            @include font-size(14px);
            @include line-height(17px);
        }
    }
    &--top-margin {
        &-none {
            .cmp-top-holdings {
                margin-top: 0 !important;
            }
        }
        &-small {
            .cmp-top-holdings {
                margin-top: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-top-holdings {
                margin-top: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-top-holdings {
                margin-top: calcRem(30px) !important;
            }
        }
    }
    &--bottom-margin {
        &-none {
            .cmp-top-holdings {
                margin-bottom: 0 !important;
            }
        }
        &-small {
            .cmp-top-holdings {
                margin-bottom: calcRem(6px) !important;
            }
        }
        &-medium {
            .cmp-top-holdings {
                margin-bottom: calcRem(15px) !important;
            }
        }
        &-large {
            .cmp-top-holdings {
                margin-bottom: calcRem(30px) !important;
            }
        }
    }
}

.full-width {
    .cmp-top-holdings {
        @include media-breakpoint-down(sm) {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    }
}

.cmp-anchor-link-container__style-top-anchor-link {
    .cmp-anchor-link-section__accordion-content {
        .cmp-top-holdings {
            @include media-breakpoint-down(sm) {
                margin-right: -20px;
                margin-left: -18px;
            }
        }
    }
}
.cmp-anchor-link-container__style-top-anchor-link-accordion {
    .cmp-anchor-link-section__accordion-content {
        .cmp-top-holdings {
            @include media-breakpoint-down(sm) {
                margin-right: -20px;
                margin-left: -20px;
            }
        }
    }
}
