.cmp-unclaimed-funds {
    .cmp-unclaimed-funds__form {
        &--unsuccessful-error {
            display: none;
            margin-bottom: calcRem(20px);
        }

        .nyl-button {
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }

        .is-invalid {
            box-shadow: 0 0 0 0.1875rem #DB2313;
            border-color: #DB2313;

            ~.invalid-feedback {
                display: block;
            }
        }
    }

    .--loading-indicator {
        width: 100%;
        min-height: 100px;
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: center;
        background-image: url('../resources/images/icon-spinner.svg');
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }

    &__state-link-wrapper {
        display: none;
    }

    .invalid-feedback {
        color: #DB2313;
        display: none;
    }

    .cmp-unclaimed-funds-result {
        display: none;

        .cmp-unclaimed-funds-result-nodatafound {
            display: none;
        }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}
