<sly data-sly-use.goPartnerListModel="${'com.nyl.nylcom.models.agentweb.GoPartnerListModel'}" />
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !goPartnerListModel.partners, classAppend='cmp-go-partner-list-placeholder'}" />

<div class="cmp-go-partner-list" data-sly-test="${goPartnerListModel.partners}">
    <ul class="d-flex flex-row row" data-sly-list.partner="${goPartnerListModel.partners}">
        <li class="cmp-go-partner-list__partner col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-go-partner-list__partner--image float-left"
                data-sly-use.model="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.fallbackProfileImage}">
                <a href="${partner.profileURL}"
                    onclick="${model.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                    title="${'nyl.agent.dbaButtonTitleAttribute' @i18n} ${partner.fullName}"
                    data-sly-unwrap="${!partner.profileURL}"> <img width="65" height="65"
                        alt="${partner.fullName} ${partner.title}"
                        src="${partner.profileImage ? partner.profileImage : properties.fallbackProfileImage}"
                        data-aem-asset-id="${model.imageId}" data-trackable="${model.imageId? 'true' : ''}">
                </a>
            </div>
            <div class="cmp-go-partner-list__partner--info">
                <div class="cmp-go-partner-list__partner--name">
                    <a href="${partner.profileURL}"
                        title="${'nyl.agent.dbaButtonTitleAttribute' @i18n} ${partner.fullName}"
                        data-sly-unwrap="${!partner.profileURL}"> ${partner.fullName} </a>
                </div>
                <p class="cmp-go-partner-list__partner--title">${partner.title}</p>
            </div>
        </li>
    </ul>
    <div class="cmp-go-partner-list__view-more text-center">
        <button type="button" class="nyl-button button--secondary"
            aria-label="${properties.viewMoreLabel}">${properties.viewMoreLabel}</button>
    </div>
</div>
