<div class="cmp-agent-directory" data-total-results="24" data-producer-type="01" data-producer-state="NY"
    data-producer-city="NEW YORK">
    <h3 class="cmp-agent-directory__title">sectionTitle <span class="cmp-agent-directory__address">DUBLIN, OH</span>
    </h3>
    <ul class="d-flex flex-row row">
        <li class="cmp-agent-directory__agent col-lg-4 col-md-6 col-sm-12">
            <div class="cmp-agent-directory__agent--image float-left">
                <a href="#"><img alt="image" src="s.hdnux.com/photos/01/00/06/67/16805365/3/920x920.jpg" width="65"
                        height="65"></a>
            </div>
            <div class="cmp-agent-directory__agent--info">
                <p class="cmp-agent-directory__agent--name">
                    <a href="#">Dennis Fitzgerald</a>
                </p>
                <p class="cmp-agent-directory__agent--title">Associate Partner</p>
            </div>
        </li>
    </ul>
    <nav class="cmp-agent-directory__pagination nyl-pagination d-none align-items-stretch justify-content-center m-auto"
        aria-label="Agent Directory Results">
        <p class="text__xSmall">Page&nbsp;<span class="nyl-pagination__current sr-only"></span></p>
        <a href="#" class="nyl-pagination__previous nyl-button button--disabled" aria-label="Previous">
            <i class="icon-caret--white" aria-hidden="true">{% include "global/icons/icon-caret.svg" %}</i>
            <span class="sr-only">Previous</span>
        </a>
        <div class="nyl-pagination__input">
            <label class="sr-only" for="nyl-pagination__input">Page</label>
            <input id="nyl-pagination__input" type="text" value="1" maxlength="3">
        </div>

        <p>of&nbsp;<span class="nyl-pagination__last"></span></p>
        <a href="#" class="nyl-pagination__next nyl-button" aria-label="Next">
            <i class="icon-caret--white" aria-hidden="true">{% include "global/icons/icon-caret.svg" %}</i>
            <span class="sr-only">Next</span>
        </a>
        <div class="d-none">
            <div class="cmp-agent-directory__label--agent-url" data-agent-url="Learn more about "></div>
            <div class="cmp-agent-directory__label--image" data-image-fallback="fallback.jpg"></div>
            <div class="cmp-agent-directory__label--title" data-title-agent="Insurance Agent"
                data-title-recruiter="New York Life Partner" data-title-dba="Insurance Agent"
                data-title-eagle="Financial Advisor" data-title-nyl="New York Life"></div>
        </div>
    </nav>
</div>