.cmp-product-finder-search {
    margin-bottom: calcRem(41px);
    @include media-breakpoint-down(sm) {
        margin-bottom: calcRem(21px);
    }
    &__container {
        display: flex;
    }
    &__text {
        background-color: $white;
        width: calcRem(350px);
        padding-left: calcRem(22px);
        height: calcRem(56px);
        display: inline-block;
        @include media-breakpoint-down(sm) {
            width: auto;
            min-width: calcRem(238px);
            max-width: calcRem(276px);
        }
        &--search-text {
            border: none;
            outline-width: 0;
            font-size: calcRem(16px);
            line-height: calcRem(18px);
            width: calcRem(286px);
            height: calcRem(56px);
            padding-top: calcRem(19px);
            padding-bottom: calcRem(19px);
            padding-right: calcRem(22px);
            text-align: left;
            color: $steel;
            padding-left: 0px;
            @include media-breakpoint-down(sm) {
                line-height: calcRem(16px);
                padding-top: calcRem(21px);
                padding-right: calcRem(5px);
                width: auto;
                max-width: calcRem(178px);
            }

            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
            &:focus::-moz-placeholder {
                color: transparent;
            }
        }

        &--close {
            width: calcRem(20px);
            height: calcRem(20px);
            padding-top: calcRem(18px);
            padding-bottom: calcRem(18px);
            padding-right: calcRem(20px);
        }

        ::-ms-clear {
            display: none;
        }

        ::placeholder {
            font-family: $font-family-alda;
            font-style: italic;
            text-align: left;
            color: $steel;
            opacity: 0.65;
        }
    }
    &__icon {
        display: inline-block;
        width: calcRem(56px);
        height: calcRem(56px);
        background: $steel;
        text-align: center;
        padding: calcRem(15px);

        &--search {
            display: inline-block;
            vertical-align: sub;
            width: calcRem(26px);
            height: calcRem(26px);
            background: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/search-icon.svg') no-repeat
                center/contain;
        }
        img {
            width: calcRem(26px);
            height: calcRem(26px);
        }
    }
    &__options {
        overflow-y: auto;
        height: calcRem(144px);
        width: calcRem(545px);
        box-shadow: -3px 14px 20px 2px rgba(0, 0, 0, 0.1);
        padding: calcRem(9px) 0 calcRem(38px) 0;
        position: absolute;
        background-color: $white;
        z-index: 1001;

        @include media-breakpoint-down(sm) {
            position: relative;
            height: calcRem(150px);
            padding-bottom: calcRem(30px);
            padding-top: calcRem(10px);
            margin-bottom: calcRem(25px);
            margin-top: calcRem(2px);
            width: auto;
            min-width: calcRem(280px);
            max-width: calcRem(334px);
            z-index: 1;
        }
        ul {
            list-style-type: none;
            padding-left: 0px;
            li {
                padding-left: calcRem(30px);
                padding-right: calcRem(72px);
                line-height: calcRem(18px);
                height: calcRem(36px);
                display: flex;
                align-items: center;
                font-size: calcRem(16px);
                @include media-breakpoint-down(sm) {
                    font-size: calcRem(14px);
                    padding-left: calcRem(22px);
                    padding-right: 0px;
                }
            }
        }
    }
    &__label {
        display: none;
    }

    .active {
        background: $light-steel-3;
    }
}
