$teaser-background-colors: (
    'blue-light': $blue-light,
    'blue-medium': $blue-medium,
    'blue-dark': $blue-dark,
    'blue-extra-dark': $blue-extra-dark
);
.teaser {
    @include media-breakpoint-up(sm) {
        min-height: 200px;
    }
    @include media-breakpoint-up(lg) {
        min-height: 320px;
    }
    .cmp-teaser {
        display: flex;
        align-items: center;
        background-color: $white;
        border-top: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;
        flex-direction: column;
        margin: 24px (-$content-padding-sm) 0;
        @include media-breakpoint-up(sm) {
            flex-direction: row;
            align-items: stretch;
        }
        @include media-breakpoint-up(lg) {
            margin: 24px (-$content-padding-lg) 0;
        }
        &__content {
            padding: 40px 24px 56px 24px;
            margin: 0 auto;
            @include media-breakpoint-up(sm) {
                width: 100%;
            }
            @include media-breakpoint-up(lg) {
                padding: 72px 0 96px 0;
                width: 66.66666667%;
            }
        }
        &__title {
            font-family: $font-family-alda-pro;
            font-weight: normal;
            @include font-size-line-height(30px, 38px);
            text-align: left;
            margin: 0;
            margin-bottom: 16px;
            @include media-breakpoint-up(lg) {
                @include font-size-line-height(42px, 48px);
                margin-bottom: 24px;
            }
        }
        &__description {
            font-family: $font-family-effra-pro;
            @include font-size-line-height(18px, 24px);
            font-weight: normal;
            margin: 0;
            margin-bottom: 24px;
            @include media-breakpoint-up(lg) {
                @include font-size-line-height(22px, 28px);
                margin-bottom: 40px;
            }
            p,
            ul,
            ol {
                font-family: $font-family-effra-pro;
                @include font-size-line-height(18px, 24px);
                font-weight: normal;
                @include media-breakpoint-up(lg) {
                    @include font-size-line-height(22px, 28px);
                }
            }
        }
        &__title,
        &__description {
            max-width: 100%;
        }
        &__action-link {
            display: inline-block;
            font-family: $font-family-effra-pro;
            @include font-size-line-height(18px, 24px);
            font-weight: 500;
            position: relative;
            @include default-button-state-text-style(transparent, transparent, $brand-blue);
            @include media-breakpoint-up(lg) {
                @include font-size-line-height(22px, 28px);
            }
        }
        &__image {
            width: 100%;
            vertical-align: middle;
            text-align: center;
            line-height: 0;
            @include media-breakpoint-up(sm) {
                width: 33.33333333%;
            }
            img {
                max-width: 100%;
            }
            &.has-svg {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            svg {
                fill: $blue-light;
                margin: 24px 24px 0;
                @include media-breakpoint-up(sm) {
                    margin: 24px 0 24px 24px;
                    max-width: calc(100% - 24px);
                }
                @include media-breakpoint-up(lg) {
                    margin: 32px 0 32px 80px;
                    max-width: calc(100% - 80px);
                }
            }
            .mw-100 {
                object-fit: cover;
                min-height: 100%;
                object-position: center;
            }
        }
    }
    &.cmp-teaser__image--right {
        .cmp-teaser {
            @include media-breakpoint-up(sm) {
                flex-direction: row-reverse;
            }
            &__image {
                svg {
                    @include media-breakpoint-up(sm) {
                        margin: 24px 24px 24px 0;
                    }
                    @include media-breakpoint-up(lg) {
                        margin: 32px 80px 32px 0;
                    }
                }
            }
            &__content {
                padding: 40px 24px 56px 24px;
                @include media-breakpoint-up(lg) {
                    padding: 72px 0 96px 0;
                }
            }
        }
    }
    &.cmp-teaser__image--focus-left {
        .cmp-teaser {
            &__image {
                .mw-100 {
                    object-position: left;
                }
            }
        }
    }
    &.cmp-teaser__image--focus-right {
        .cmp-teaser {
            &__image {
                .mw-100 {
                    object-position: right;
                }
            }
        }
    }
    &.cmp-teaser {
        &__cool-grey-light {
            .cmp-teaser {
                background-color: $grey-light;
                border: 0;
                &__image {
                    @include fill-svg($blue-light);
                }
                &__action-link {
                    @include default-focus-state($cool-black);
                    @include default-button-state-text-style(transparent, transparent, $cool-black);
                    @include text-button-default-state-arrow-style($cool-black);
                    &:hover {
                        @include default-button-state-text-style(transparent, transparent, $black-light);
                        @include text-button-state-arrow-style($black-light);
                    }
                    &:active {
                        @include default-button-state-text-style(transparent, transparent, $cool-black);
                        &:focus {
                            @include text-button-state-arrow-style($cool-black);
                        }
                    }
                }
            }
        }
        &__blue-light,
        &__blue-medium,
        &__blue-dark,
        &__blue-extra-dark {
            .cmp-teaser {
                border: 0;
                &__image {
                    @include fill-svg($grey-light);
                }
                &__title,
                &__description {
                    color: $white;
                }
                &__action-link {
                    @include default-focus-state($white);
                    @include text-button-default-state-arrow-style($white);
                    @include default-button-state-text-style(transparent, transparent, $white);
                    &:hover {
                        @include default-button-state-text-style(transparent, transparent, $grey-medium);
                        @include text-button-state-arrow-style($grey-medium);
                    }
                    &:active {
                        @include default-button-state-text-style(transparent, transparent, $white);
                        @include text-button-state-arrow-style($white);
                        &:focus {
                            @include text-button-state-arrow-style($white);
                        }
                    }
                }
            }
        }
        @each $color-name, $background-color in $teaser-background-colors {
            &__#{$color-name} .cmp-teaser {
                background-color: $background-color;
            }
        }
    }

    &.cmp-teaser__case-study,
    &.cmp-teaser__case-study-quote {
        .cmp-teaser {
            @include grid-1280();
            &__content {
                padding: 48px;
                @include media-breakpoint-up(sm) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
            }
            &__title {
                @include font-size-line-height(22px, 32px);
                @include media-breakpoint-up(sm) {
                    @include font-size-line-height(30px, 40px);
                }
                @include media-breakpoint-up(lg) {
                    @include font-size-line-height(36px, 48px);
                }
            }
            &__image {
                @include col-width(12);
                @include media-breakpoint-up(sm) {
                    @include col-width(6);
                }
                @include media-breakpoint-down(xs) {
                    img {
                        width: 100%;
                    }
                }
            }
            &__description {
                margin-bottom: 0;
                p {
                    @include font-size-line-height(18px, 24px);
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &__action-container {
                margin-top: 24px;
            }
        }
        .cmp-teaser__image + .cmp-teaser__content {
            padding: 48px;
            width: calc(100% - 96px);
            @include media-breakpoint-up(sm) {
                width: calc(50% - 96px);
            }
        }
    }
    &.cmp-teaser__case-study-quote {
        .cmp-teaser {
            &__title {
                padding-top: 45px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url('../resources/images/icon-quotation.svg');
                    background-size: 44px 32px;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 44px;
                    height: 32px;
                    top: 0;
                    margin-bottom: 24px;
                    @include media-breakpoint-down(xs) {
                        margin-bottom: 16px;
                    }
                }
                @include media-breakpoint-down(xs) {
                    padding-top: 38px;
                }
            }
        }
    }
}
.cmp-teaser {
    &__image + &__content {
        padding: 40px 24px 56px 24px;
        width: calc(100% - 48px);
        @include media-breakpoint-up(sm) {
            width: 66.66666667%;
        }
        @include media-breakpoint-up(lg) {
            padding: 72px 80px 96px 48px;
        }
    }
}
.cmp-teaser__image--right .cmp-teaser__image + .cmp-teaser__content {
    @include media-breakpoint-up(lg) {
        padding: 72px 48px 96px 80px;
    }
}
