.cmp-footer {
    border-top: calcRem(1px) solid $medium-gray;

    > div {
        max-width: 100%;
    }

    .cmp-link-list li {
        padding: calcRem(7px) 0;
    }

    p {
        @include font-size($font-size-xx-small);
        color: $dark-gray;
    }

    &--secondary-off {
        .cmp-footer__secondary {
            display: none;
        }
    }

    &__primary {
        background-color: white;

        h6 {
            @include font-size($font-size-xx-small);
            margin-bottom: 0.25rem;
            font-weight: $font-weight-bold;
        }
    }

    &__secondary {
        background-color: $light-gray;
        h6 {
            letter-spacing: calcRem(3px);
            font-weight: $font-weight-bold;
        }
        .cmp-parsys2 {
            .col:last-child {
                @include media-breakpoint-up(md) {
                    border-left: 1px solid $medium-gray;
                }
            }
        }
    }

    &__copyright {
        background-color: $light-gray;
        border-top: calcRem(1px) solid $medium-gray;
        p {
            margin-bottom: 0;
            @include font-size($font-size-x-small);
        }

        text-align: center;

        ul {
            padding-left: 0;
            margin-bottom: 0;
            display: inline-block;

            @include media-breakpoint-up(lg) {
                margin: 0 auto;
            }

            li {
                display: inline-block;
                padding: 0;
                color: $dark-gray;

                &:first-child {
                    list-style-type: none;
                    padding: 0;
                    margin-left: 0;
                    &:before {
                        content: '';
                        padding: 0;
                    }
                }

                a {
                    @include line-height($font-size-xx-small, 1.5);
                }
                &:before {
                    content: '\2022';
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }

            @include media-breakpoint-down(sm) {
                width: 70%;
                margin: 20px 0 0;
                text-align: center;
            }
        }

        .cmp-link-list li {
            padding: 0;
        }
    }

    .cmp-parsys1,
    .cmp-parsys2 {
        margin: auto;
        max-width: $max-grid-width;
        padding-bottom: 60px;
        padding-top: 60px;
        width: 100%;
    }

    .cmp-parsys1 {
        flex-wrap: wrap;
        width: 100%;
        > div {
            width: 50%;
            padding: calcRem(10px);
            @extend .cmp-link-list;
            @include font-size(16px);
        }
        @include media-breakpoint-up(md) {
            > div {
                &:last-child {
                    margin-right: auto;
                }
                &:first-child:nth-last-child(n + 3),
                &:first-child:nth-last-child(n + 3) ~ div {
                    max-width: 33%;
                    min-width: 33%;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            > div {
                // this is the AEM decorator wrapper
                min-width: 194px;
                flex-basis: 0;
                flex-grow: 1;
                &:first-child:nth-last-child(n + 5),
                &:first-child:nth-last-child(n + 5) ~ div {
                    max-width: 20%;
                    min-width: 20%;
                }
            }
        }
    }

    .cmp-parsys2 {
        .col {
            flex: 0 0 100%;
            justify-content: space-between;

            > div {
                width: 50%;
                padding: calcRem(10px);
                @extend .cmp-link-list;
                @include font-size(16px);
                @extend .cmp-social;
            }

            &:first-child {
                flex-flow: row wrap;
                @include media-breakpoint-up(md) {
                    flex: 2;
                    > div {
                        &:last-child {
                            margin-right: auto;
                        }
                        &:first-child:nth-last-child(n + 3),
                        &:first-child:nth-last-child(n + 3) ~ div {
                            max-width: 33%;
                            min-width: 33%;
                        }
                    }
                }
                @include media-breakpoint-up(lg) {
                    > div {
                        // this is the AEM decorator wrapper
                        min-width: 194px;
                        flex-basis: 0;
                        flex-grow: 1;
                        &:first-child:nth-last-child(n + 4),
                        &:first-child:nth-last-child(n + 4) ~ div {
                            max-width: 25%;
                            min-width: 25%;
                        }
                    }
                }
            }

            &:last-child {
                flex: 1;
                flex-wrap: wrap;

                > * {
                    width: 100%;
                }
            }
        }
    }
    .cmp-rte {
        p {
            @include font-size(16px);
            line-height: 20px;
            a {
                @include font-size(14px);
                font-weight: $font-weight-bold;
                letter-spacing: calcRem(3px);
                line-height: 16px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
                .text__xxSmall--header {
                    @include font-size(14px);
                }
            }
            .text__xxSmall--header {
                @include font-size(16px);
                font-weight: $font-weight-bold;
                line-height: 24px;
                color: $black;
                > a {
                    @include font-size(14px);
                    letter-spacing: calcRem(3px);
                    line-height: 16px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .link-list .cmp-link-list h6,
    .cmp-social h6,
    .cmp-parsys2 .col .link-list .cmp-link-list > h6,
    .cmp-parsys1 .col .link-list .cmp-link-list > h6,
    .cmp-parsys2 .col .cmp-social > h6{
        @include font-size(16px);
        font-weight: $font-weight-bold;
        line-height: 24px;
        margin-bottom: 1rem;
        text-decoration: none;
        > a {
            @include font-size(14px);
            letter-spacing: calcRem(3px);
            line-height: 16px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
