<div class="login">
    <div class="cmp-login">
        <h3>MyNYL</h3>
        Don't have and account? <a href="/VSCRegWebApp/registration/full" title="Sign Up">Sign Up</a>
        <form name="nyllogin" action="/VSCRegWebApp/securelogin" method="post">
            <fieldset>
                <legend>Login</legend>
                <label class="login-label" for="myNylUserName">Username</label> <input id="myNylUserName" class="mr-4"
                    type="text" name="myNylUserName" placeholder="Username" aria-label="Username" maxlength="50"> <label
                    class="login-label" for="myNylPassword">Password</label> <input id="myNylPassword" type="password"
                    name="myNylPassword" placeholder="Password" aria-label="Password" maxlength="100"> <input
                    id="RememberUserName" class="mr-2 remember-me" aria-label="Remember Me" type="checkbox"
                    name="RememberUserName"> <label for="RememberUserName">Remember Me</label> <a
                    href="/VSCRegWebApp/passwordReset" title="Can't access your account?">Can't access your account?</a>
                <button type="submit" value="Log In" name="Login" aria-label="Log In"
                    class="cmp-login-panel--button nyl-button" data-original-title="" title="">Log
                    In</button>
            </fieldset>
        </form>
    </div>
</div>