@mixin button-arrow() {
    display: inline-block;
    margin-left: 8px;
    width: 24px;
    max-width: 24px;
    cursor: pointer;
    vertical-align: middle;
}
@mixin button-arrow-icon() {
    border-radius: 5px;
    height: 3px;
    background-color: $brand-blue;
    animation: arrow 700ms linear infinite;
    width: 24px;
    transition: width 0.3s ease;
    position: relative;
    &::after,
    &::before {
        content: '';
        border-radius: 5px;
        position: absolute;
        width: 12px;
        height: 3px;
        right: -3px;
        background-color: $brand-blue;
    }
    &::after {
        top: -3px;
        transform: rotate(45deg);
    }
    &::before {
        top: 3px;
        transform: rotate(-45deg);
    }
}
.button {
    .cmp-button {
        margin-top: calcRem(24px);
    }
    @include default-button-state-style($brand-blue, $brand-blue, $white);
    .cmp-button--wrapper,
    .button--wrapper {
        font-family: $font-family-effra-pro;
        font-size: calcRem(18px);
        line-height: calcRem(24px);
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        padding: calcRem(10px) calcRem(30px) calcRem(8px);
        border-radius: calcRem(4px);
        text-align: center;
        max-width: 100%;
        display: block;
        .cmp-button--arrow-icon,
        .button--arrow-icon {
            display: none;
        }
    }
    &.button-white {
        @include default-button-state-style($white, $white, $brand-blue);
    }
    &-transparent {
        @include default-button-state-style(transparent, $brand-blue, $brand-blue);
    }
    &-transparent.button-white {
        @include default-button-state-style(transparent, $white, $white);
    }
    &-text {
        .cmp-button {
            display: inline-block;
        }
        @include default-button-state-text-style(transparent, transparent, $brand-blue);
        .cmp-button--wrapper,
        .button--wrapper {
            padding: 12px 0 12px;
            text-align: left;
            .cmp-button--arrow-icon,
            .button--arrow-icon {
                display: inline-block;
            }
        }
    }
    &-text.button-white {
        @include default-button-state-text-style(transparent, transparent, $white);
    }
}
.cmp-button--arrow,
.button--arrow {
    @include button-arrow();
    &-icon {
        @include button-arrow-icon();
    }
}
