@mixin default-focus-state($border-color) {
    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px $border-color;
    }
}
@mixin default-button-state-style($bg-color, $border-color, $text-color) {
    .cmp-button--wrapper,
    .button--wrapper {
        background-color: $bg-color;
        border: 2px solid $border-color;
        color: $text-color;
    }
}
@mixin default-button-state-text-style($bg-color, $border-color, $text-color) {
    .cmp-button--wrapper,
    .button--wrapper {
        background-color: $bg-color;
        border: 0 solid $border-color;
        color: $text-color;
    }
}
@mixin text-button-state-arrow-style($bg-color) {
    .cmp-button--arrow,
    .button--arrow {
        padding-right: 18px;
        &-icon {
            width: 40px;
            background-color: $bg-color;
            &:after,
            &:before {
                background-color: $bg-color;
            }
        }
    }
}
@mixin text-button-default-state-arrow-style($bg-color) {
    .cmp-button--arrow,
    .button--arrow {
        transition: all 0.3s ease;
        &-icon {
            background-color: $bg-color;
            &:after,
            &:before {
                background-color: $bg-color;
            }
        }
    }
}
@mixin default-anchor-border-style($border-color) {
    border: 2px solid $border-color;
}
.button {
    a {
        display: block;
        border-radius: 4px;
        @include default-anchor-border-style(transparent);
        @include default-focus-state($brand-blue);
        &:hover {
            @include default-anchor-border-style($blue-light);
            @include default-button-state-style($blue-light, $blue-light, $grey-light);
            .cmp-button--wrapper,
            .button--wrapper {
                border-radius: 0;
            }
        }
        &:active {
            @include default-button-state-style($blue-dark, $blue-dark, $grey-medium);
        }
        .cmp-button--arrow,
        .button--arrow {
            vertical-align: text-bottom;
        }
    }
    &-transparent {
        a {
            &:hover {
                @include default-anchor-border-style($blue-light);
                @include default-button-state-style(transparent, transparent, $blue-light);
            }
            &:active {
                @include default-button-state-style(transparent, $blue-dark, $blue-dark);
            }
        }
    }
    &.button-white {
        a {
            @include default-focus-state($white);
            &:hover {
                @include default-anchor-border-style($white);
                @include default-button-state-style($white, $white, $blue-light);
            }
            &:active {
                @include default-button-state-style($grey-light, $grey-light, $blue-dark);
            }
        }
    }
    &-transparent.button-white {
        a {
            @include default-focus-state($white);
            &:hover {
                @include default-anchor-border-style($grey-light);
                @include default-button-state-style(transparent, transparent, $grey-light);
            }
            &:active {
                @include default-button-state-style(transparent, $grey-medium, $grey-medium);
            }
        }
    }
    &-text {
        a,
        .cmp-teaser__action-link {
            background-color: transparent;
            color: $brand-blue;
            @include default-anchor-border-style(transparent);
            .cmp-button--arrow,
            .button--arrow {
                transition: all 0.3s ease;
                &-icon {
                    background-color: $brand-blue;
                    &:after,
                    &:before {
                        background-color: $brand-blue;
                    }
                }
            }
            &:hover {
                @include default-anchor-border-style(transparent);
                .cmp-button--wrapper,
                .button--wrapper {
                    color: $blue-light;
                    border: 0;
                }
                .cmp-button--arrow-icon,
                .button--arrow-icon {
                    width: 40px;
                    background-color: $blue-light;
                    &:after,
                    &:before {
                        background-color: $blue-light;
                    }
                }
                &:focus {
                    @include text-button-state-arrow-style($blue-light);
                }
            }
            &:active {
                .cmp-button--wrapper,
                .button--wrapper {
                    color: $blue-dark;
                    border: 0;
                }
                @include text-button-state-arrow-style($blue-dark);
                &:focus {
                    @include text-button-state-arrow-style($blue-dark);
                }
            }
        }
    }
    &-text.button-white {
        a {
            background-color: transparent;
            color: $brand-blue;
            @include default-anchor-border-style(transparent);
            .cmp-button--arrow,
            .button--arrow {
                transition: all 0.3s ease;
                &-icon {
                    background-color: $white;
                    &:after,
                    &:before {
                        background-color: $white;
                    }
                }
            }
            &:hover {
                @include default-anchor-border-style(transparent);
                .cmp-button--wrapper,
                .button--wrapper {
                    color: $grey-medium;
                    border: 0;
                }
                @include text-button-state-arrow-style($grey-medium);
            }
            &:active {
                .cmp-button--wrapper,
                .button--wrapper {
                    color: $white;
                    background-color: transparent;
                    border: 0;
                }
                @include text-button-state-arrow-style($white);
                &:focus {
                    @include text-button-state-arrow-style($white);
                }
            }
        }
    }
}
