.cmp-anchor-link-section {
    @include media-breakpoint-down(sm) {
        padding: 0;
        overflow: hidden;
    }
    &__title-accordion {
        display: none;
    }
    .cmp-rte {
        background-color: inherit;
    }
}

.anchor-link-section {
    &__hide-title-desktop {
        @include media-breakpoint-up(md) {
            .cmp-anchor-link-section__title {
                display: none;
            }
        }
    }
    &__hide-title-mobile {
        @include media-breakpoint-down(sm) {
            .cmp-anchor-link-section__title {
                display: none;
            }
        }
    }
    &__hide-title-desktop-mobile {
        .cmp-anchor-link-section__title {
            display: none;
        }
    }
    // Background & Font color and Color Bar style for anchor link section
    &--steel {
        background-color: $steel;
        color: $white;
    }
    &--light {
        // background color
        &-salmon {
            background-color: $light-salmon-5;
            color: $dark-salmon;
        }
        &-twilight {
            background-color: $light-twilight-5;
            color: $dark-twilight;
        }
        &-dusk {
            background-color: $light-dusk-5;
            color: $dark-dusk;
        }
        &-rain {
            background-color: $light-rain-5;
            color: $dark-rain;
        }
        &-palm {
            background-color: $light-palm-5;
            color: $dark-palm;
        }
        &-gold {
            background-color: $light-gold-5;
            color: $dark-gold;
        }
        &-sunset {
            background-color: $light-sunset-5;
            color: $dark-sunset;
        }
        &-steel-three {
            background-color: $light-steel-3;
            color: $steel;
        }
        &-steel-five {
            background-color: $light-steel-5;
            color: $steel;
        }

        // Color Bar
        &-medium-salmon {
            > div.cmp-anchor-link-section__colorbar {
                background-color: $medium-salmon;
            }
        }
        &-medium-twilight {
            > div.cmp-anchor-link-section__colorbar {
                background-color: $medium-twilight;
            }
        }
        &-medium-dusk {
            > div.cmp-anchor-link-section__colorbar {
                background-color: $medium-dusk;
            }
        }
        &-medium-rain {
            > div.cmp-anchor-link-section__colorbar {
                background-color: $medium-rain;
            }
        }
        &-medium-palm {
            > div.cmp-anchor-link-section__colorbar {
                background-color: $medium-palm;
            }
        }
        &-medium-gold {
            > div.cmp-anchor-link-section__colorbar {
                background-color: $medium-gold;
            }
        }
        &-medium-sunset {
            > div.cmp-anchor-link-section__colorbar {
                background-color: $medium-sunset;
            }
        }
    }
}

// authoring dialog
.aem-AuthorLayer-Edit {
    .cmp-anchor-link-section__title {
        display: block;
        font-size: calcRem(24px);
    }
}
