<div class="fund-id global-data-attribute" data-fundId="F_MTF">
</div>
<div class="cmp-average-expenses">
    <div class="cmp-average-expenses__container-div">
        <div class="row cmp-average-expenses__main-container-row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 cmp-average-expenses__main-section">
                <div class="cmp-average-expenses__section-heading">
                    <span
                        class="cmp-average-expenses__all-share-classes cmp-average-expenses__section-heading-text"></span>
                    <span class="cmp-average-expenses__as-of-date as-of"></span>
                    <span class="cmp-average-expenses__as-of-date as-of-value"></span>
                </div>
                <ul class="cmp-average-expenses__list-container-styling cmp-average-expenses__second-list-container">
                    <li class="management-fee__container">
                        <div class="row cmp-average-expenses__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7 cmp-average-expenses__labels">
                                <span class="cmp-average-expenses__labels-text management-fee"></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-average-expenses__values">
                                <span class="cmp-average-expenses__values-text management-fee-value"></span>
                            </div>
                        </div>
                    </li>
                    <li class="acquired-fund-fees__container">
                        <div class="row cmp-average-expenses__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7 cmp-average-expenses__labels">
                                <span class=" cmp-average-expenses__labels-text acquired-fund-fees"></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-average-expenses__values">
                                <span class="cmp-average-expenses__values-text acquired-fund-fees-value"></span>
                            </div>
                        </div>
                    </li>
                    <li class="total-annual-fund-expenses__container">
                        <div class="row cmp-average-expenses__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7 cmp-average-expenses__labels">
                                <span class=" cmp-average-expenses__labels-text total-annual-fund-expenses"></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-average-expenses__values">
                                <span class="cmp-average-expenses__values-text total-annual-fund-expenses-value"></span>
                            </div>
                        </div>
                    </li>
                    <li class="expense-waiver__container">
                        <div class="row cmp-average-expenses__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7 cmp-average-expenses__labels">
                                <span class=" cmp-average-expenses__labels-text expense-waiver"></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-average-expenses__values">
                                <span class="cmp-average-expenses__values-text expense-waiver-value"></span>
                            </div>
                        </div>
                    </li>
                    <li class="total-annual-fund-expenses-after-waiver__container">
                        <div class="row cmp-average-expenses__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7 cmp-average-expenses__labels">
                                <span
                                    class=" cmp-average-expenses__labels-text total-annual-fund-expenses-after-waiver"></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-average-expenses__values">
                                <span
                                    class="cmp-average-expenses__values-text total-annual-fund-expenses-after-waiver-value"></span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
