<div class="fund-id" class="fund-id" data-fundId="F_MTF">
</div>
<div class="cmp-statistics">
    <div class="container cmp-statistics__container-div">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__main-section">
                <div class="cmp-statistics__section-heading">
                    <span class="cmp-statistics__statistics-text cmp-statistics__section-heading-text"></span>
                    <span class="cmp-statistics__as-of-date as-of"></span>
                    <span class="cmp-statistics__as-of-date as-of-value"></span>
                </div>
            </div>
        </div>
        <div class="row cmp-statistics__main-container-row cmp-statistics__mutualfund">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__mf-main-section">
                <ul class="cmp-statistics__list-container-styling cmp-statistics-mf">
                    <li class="cmp-statistics__header">
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <span class=""></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__header-label">
                                <span class="cmp-statistics__values-text fund-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__header-label">
                                <span class="cmp-statistics__values-text bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text average-loan-size"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text average-loan-size-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text average-loan-size-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text average-loan-size-tna"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text average-loan-size-t-n-a-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text average-loan-size-t-n-a-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text average-price"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text average-price-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text average-price-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text avg-wt-time-to-reset"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text avg-wt-time-to-reset-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text avg-wt-time-to-reset-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text effective-duration"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text effective-duration-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text effective-duration-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text effective-maturity"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text effective-maturity-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text effective-maturity-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text final-maturity"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text final-maturity-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text final-maturity-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text median-mkt-cap"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text median-mkt-cap-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text median-mkt-cap-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text modified-duration"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text modified-duration-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text modified-duration-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text modified-duration-to-worst"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text modified-duration-to-worst-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text modified-duration-to-worst-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text wal"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text wal-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text wal-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text wam"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text wam-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text wam-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class="cmp-statistics__labels-text weighted-avg-mkt-cap"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text weighted-avg-mkt-cap-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text weighted-avg-mkt-cap-bench-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__mf-main-section">
                <ul
                    class="cmp-statistics__list-container-styling cmp-statistics__second-list-container cmp-statistics-mf">
                    <li class="cmp-statistics__header hidden-xs">
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <span class=" "></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__header-label">
                                <span class="cmp-statistics__values-text fund-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__header-label">
                                <span class="cmp-statistics__values-text bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class=" cmp-statistics__labels-text alpha"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text alpha-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text alpha-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class=" cmp-statistics__labels-text avg-duration"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text avg-duration-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text avg-duration-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class=" cmp-statistics__labels-text beta"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text beta-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text beta-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class=" cmp-statistics__labels-text r-squared"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text r-squared-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text r-squared-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class=" cmp-statistics__labels-text sharpe-ratio"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text sharpe-ratio-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text sharpe-ratio-bench-value"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row cmp-statistics__main-row">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 cmp-statistics__labels">
                                <span class=" cmp-statistics__labels-text standard-deviation"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text standard-deviation-value"></span>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 cmp-statistics__values">
                                <span class="cmp-statistics__values-text standard-deviation-bench-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ETF DATA -->
        <div class="row cmp-statistics__main-container-row cmp-statistics__product">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__main-section">
                <ul
                    class="cmp-statistics__list-container-styling cmp-statistics-product cmp-statistics__product-superset">
                    <li class="cmp-statistics__header">
                        <div class="row cmp-statistics__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                                <span class=""></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-statistics__header-label">
                                <span class="cmp-statistics__values-text bench-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-statistics__main-section">
                <ul
                    class="cmp-statistics__list-container-styling cmp-statistics-product cmp-statistics__product-subset">
                    <li class="cmp-statistics__header">
                        <div class="row cmp-statistics__main-row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                                <span class=""></span>
                            </div>
                            <div class="col-5 col-sm-5 col-md-5 col-lg-5 cmp-statistics__header-label">
                                <span class="cmp-statistics__values-text fund-value"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
