<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-top-countries-or-states-placeholder'}" />
<figure class="cmp-top-countries-or-states">
    <div class="cmp-top-countries-or-states__heading">
        <span class="cmp-top-countries-or-states__heading-part-one"></span>
        <span class="cmp-top-countries-or-states__heading-part-two"></span>
        <span class="cmp-top-countries-or-states__heading-part-three"></span>
    </div>
    <div class="cmp-top-countries-or-states__showChart">
    </div>
</figure>
