<div class="cmp-email-subscribe">
    <h4 class="cmp-email-subscribe__title" data-sly-test="${properties.title}">${properties.title}</h4>
    <div class="cmp-email-subscribe__description" data-sly-test="${properties.description}">${properties.description}
    </div>
    <sly data-sly-include="email-subscribe.eloqua.html"></sly>
</div>
