<sly data-sly-use.roleContainerModel="com.nyl.nylim.models.RoleContainerModel"
    data-sly-use.canonicalUrlModel="com.nyl.foundation.models.CanonicalUrlModel" data-sly-use.requestAttributeModel="${'com.nyl.foundation.models.RequestAttributeModel' 
    @ setComponentName = 'eloqua'}"
    data-sly-use.linkRewriteModel="${'com.nyl.foundation.models.LinkRewriteModel' @ path=properties.redirectUrl}"
    data-sly-use.identifierModel="${'com.nyl.foundation.models.IdGeneratorModel'}">
    <form method="post" name="EmailSubscribe_Form_MAR2020" action="https://s2108552627.t.eloqua.com/e/f2"
        class="elq-form eloqua-email-subscribe">
        <input value="EmailSubscribe_Form_MAR2020" type="hidden" name="elqFormName">
        <input value="2108552627" type="hidden" name="elqSiteId">
        <input name="elqCampaignId" type="hidden">
        <div class="layout container-fluid">
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div class="elq-field-style form-element-layout row">
                            <div style="text-align: left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label" for="email-${identifierModel.id}">Email Address <span
                                        class="elq-required">*</span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" id="email-${identifierModel.id}" class="elq-item-input"
                                                placeholder="email@example.com" name="C_EmailAddress" value=""
                                                style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div>
                                            <label class="elq-label" for="submit-${identifierModel.id}">Submit
                                                Button</label>
                                            <input type="Submit" class="submit-button-style"
                                                id="submit-${identifierModel.id}" value="Subscribe">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="C_UserRole" value="${roleContainerModel.activeUser}">
            <input type="hidden" name="componentId" value="email-subscribe-${identifierModel.id}">
            <input type="hidden" name="elqCampaignId" value="">
            <input type="hidden" name="redirectURL" value="${linkRewriteModel.publishUrl}">
            <input type="hidden" name="cmpid" class="compId" value="">
            <input type="hidden" name="pageURL" value="${canonicalUrlModel.canonicalUrl}">
            <input type="hidden" name="elqCustomerGUID" value=""> <input type="hidden" name="elqCookieWrite" value="0">
        </div>
    </form>
</sly>
