<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.image, classAppend='cmp-image-placeholder'}" />

<!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->

<div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
        style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
            <tr>
                <td
                    style="border-left:30px solid ${properties.colorScheme ? properties.colorScheme : '#E0EDF3'  @context='styleToken'};border-right:30px solid ${properties.colorScheme ? properties.colorScheme : '#E0EDF3'  @context='styleToken'};direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
                    <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">

        <tr>

            <td
               align="center" class="" style="vertical-align:top;width:540px;"
            >
          <![endif]-->

                    <div class="mj-column-per-100 mj-outlook-group-fix"
                        style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                                <tr>
                                    <td style="vertical-align:top;padding:10px 10px;">

                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" 
                                            width="100%">

                                            <tr>
                                                <td align="center"
                                                    style="font-size:0px;padding:0 10px;word-break:break-word;">

                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation"
                                                        style="border-collapse:collapse;border-spacing:0px;"
                                                        data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='email-image', imagePath=properties.imagePath, aspectRatio=properties.imageAspectRatio, imageAltText=properties.imageAltText, ctaLinkUrl=properties.imageLinkUrl}">

                                                        <tbody>
                                                            <tr>
                                                                <td style="width:500px;">

                                                                    <a href="${imageModel.ctaLinkUrl}"
                                                                        title="${properties.imageLinkTitle}"
                                                                        target="_blank">

                                                                        <img height="auto"
                                                                            src="${imageModel.renditions['small'].imageUrl}"
                                                                            alt="${imageModel.altText}"
                                                                            style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;"
                                                                            width="500" />

                                                                    </a>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>

                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <!--[if mso | IE]>
            </td>

        </tr>

                  </table>
                <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>

</div>


<!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->
