@include marginOverride('cmp-anchor-link-container', 30, 15, 0, 0);

.cmp-anchor-link-container {
    .overflow-visible {
        @include media-breakpoint-up(md) {
            overflow: visible !important;
        }
    }
    &__style-nested {
        width: 100% !important;
        right: 0px !important;
        margin: 0px !important;
        left: 0px !important;
    }
    &__style-default {
        display: none;
        .cmp-anchor-link-section {
            .cmp-banner--section-header {
                .cmp-banner {
                    .cmp-banner__image-container {
                        min-height: 100px;
                        @include media-breakpoint-down(sm) {
                            min-height: 50px;
                        }
                    }
                    @include media-breakpoint-up(md) {
                        margin: auto;
                        width: 100%;
                        left: unset;
                        right: unset;
                        @include ie11only {
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
            &__accordion-content {
                @include media-breakpoint-down(sm) {
                    padding-right: calcRem(20px);
                    padding-left: calcRem(18px);
                }
                .cmp-accordion__content {
                    .cmp-rte {
                        padding-right: calcRem(24px) !important;
                        padding-left: calcRem(24px) !important;
                        margin-top: 30px !important;
                        @include media-breakpoint-down(sm) {
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                            margin-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
    &__section-list-inner {
        margin-top: calcRem(8px);
        position: relative;
        top: 0;
        transition: top 0.25s ease, margin-top 0.25s ease;
        z-index: 998;
        &.sticky-shown {
            position: fixed;
            width: inherit;
            max-width: inherit;
            padding-right: 30px;
            @include media-breakpoint-up(lg) {
                max-width: 330px;
            }
            @include media-breakpoint-up(xl) {
                max-width: 380px;
            }
            @include media-breakpoint-down(md) {
                max-width: 256px;
            }
        }
        @include media-breakpoint-down(sm) {
            position: static;
            &.sticky-shown {
                position: static;
            }
        }

        &--item {
            font-family: $font-family-helvetica-neue;
            font-weight: $font-weight-bold;
            @include font-size(14px);
            @include line-height(17px);
            letter-spacing: calcRem(1px);
            text-transform: uppercase;
            color: $steel;
            padding: calcRem(19px) calcRem(24px) calcRem(19.6px) calcRem(24px);
        }
        .list-group-item {
            background-color: transparent;
            border: none;
        }
        .list-group-item:first-child,
        .list-group-item:last-child {
            border-radius: calcRem(0px);
        }
        .list-group-item.active,
        .list-group-item.active:hover {
            background-color: $light-steel-1;
            border-color: none;
            color: $steel;
        }
        .list-group-item-action:active,
        .list-group-item-action:focus {
            color: $steel;
        }
        .list-group-item-action:hover {
            background-color: transparent;
            color: $steel;
        }
    }

    @include media-breakpoint-up(md) {
        &__jump-title {
            display: none;
        }

        .cmp-anchor-link-section {
            margin-bottom: calcRem(40px);
        }
    }
    @include media-breakpoint-down(sm) {
        &__section-list-inner {
            &--item {
                font-family: $font-family-helvetica-neue;
                font-weight: $font-weight-regular;
                @include font-size(16px);
                @include line-height(40px);
                letter-spacing: unset;
                text-transform: unset;
                color: $steel;
                padding: calcRem(5px) calcRem(0px);
            }
            .list-group-item.active {
                background-color: transparent;
            }
        }

        &__jump-title {
            font-family: $font-family-helvetica-neue;
            font-weight: $font-weight-bold;
            display: block;
            @include font-size(14px);
            @include line-height(19px);
            padding: calcRem(19px) calcRem(0px) calcRem(0px) calcRem(0px);
            color: $steel;
            margin: 0;
        }
        &__section {
            padding: calcRem(0px);
        }
        &__section-list {
            padding: calcRem(0px) calcRem(20px);
        }
    }
    // Style Top Anchor LINK
    &__style-top-anchor-link {
        display: none;
        .cmp-anchor-link-section {
            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
            &__accordion-content {
                @include media-breakpoint-down(sm) {
                    padding-right: calcRem(20px);
                    padding-left: calcRem(18px);
                    .cmp-literature__table--btngroup {
                        width: 110%;
                    }
                }
                .cmp-accordion__content {
                    .cmp-rte {
                        padding-left: 24px !important;
                        padding-right: 24px !important;
                    }
                }
            }
            &__title {
                @include font-size(36px);
                @include line-height(44px);
                font-family: $font-family-helvetica-neue;
                font-weight: $font-weight-bold;
                padding-top: calcRem(60px);
                @include media-breakpoint-down(sm) {
                    font-family: $font-family-alda;
                    font-weight: $font-weight-regular;
                    @include font-size(20px);
                    @include line-height(26px);
                }
            }

            &__colorbar {
                display: block;
                height: calcRem(8px);
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
        }
        &__left-gradient {
            display: none;
            @include media-breakpoint-down(md) {
                position: absolute;
                display: block;
                opacity: 0.8;
                background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
                z-index: 999;
                left: 0;
                height: calcRem(60px);
                width: calcRem(36px) !important;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
            }
            @media print {
                display: none !important;
            }
        }
        &__right-gradient {
            display: none;
            @include media-breakpoint-down(md) {
                position: absolute;
                display: block;
                opacity: 0.8;
                background: -webkit-gradient(
                    linear,
                    left top,
                    right top,
                    from(rgba(129, 199, 255, 0)),
                    to(rgba(6, 58, 82, 0.31))
                );
                background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
                z-index: 999;
                right: 0;
                height: calcRem(60px);
                width: calcRem(36px) !important;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
            }
            @media print {
                display: none !important;
            }
        }
        &__header {
            margin-top: calcRem(0px);
            @extend %full-width;
            height: calcRem(60px);
            background-color: $light-steel-3;
            position: relative;
            top: 0;
            transition: top 0.25s ease, margin-top 0.25s ease;
            z-index: 1000;
            &.sticky-shown {
                position: fixed;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
            }
            .cmp-anchor-link-container__jump-title {
                margin-left: calcRem(20px);
            }
        }
        .cmp-anchor-link-container__section {
            &-list {
                overflow-y: hidden;
                overflow-x: auto;
                @include media-breakpoint-down(md) {
                    padding: 0;
                }
            }

            &-list-inner {
                margin-top: 0;
                background: $light-steel-3;
            }

            &-list-inner--item.active,
            &-list-inner--item.active:hover {
                background-color: $medium-dusk;
                border-color: none;
                color: $white;
                text-decoration: none;
                font-weight: $font-weight-bold;
            }
            &-list-inner--item {
                font-family: $font-family-helvetica-neue;
                @include font-size(14px);
                @include line-height(0px);
                letter-spacing: 0.44px;
                font-weight: $font-weight-regular;
                padding: calcRem(0px) calcRem(30px);
                display: table-cell;
                text-transform: none;
                height: calcRem(60px);
                vertical-align: middle;
                @include media-breakpoint-down(sm) {
                    letter-spacing: 0.5px;
                    height: calcRem(56px);
                }
                @media print {
                    text-decoration: none !important;
                }
            }
            &-list-inner--item:hover {
                text-decoration: none;
            }
            &-list::-webkit-scrollbar {
                width: 1px !important;
            }
        }

        .cmp-anchor-link-container__style-default {
            .cmp-anchor-link-section__title {
                font-size: calcRem(24px);
                line-height: calcRem(28px);
                padding-top: 0px !important;
            }
            .cmp-anchor-link-section__accordion-content {
                padding: 0px 5px;
            }
            .cmp-anchor-link-section {
                padding-top: 0px;
            }
            .cmp-anchor-link-container__section-list-inner {
                background: transparent;
                z-index: 997;
                &.sticky-shown {
                    z-index: 997;
                    width: 25%;
                    max-width: 380px;
                }
                @include media-breakpoint-down(sm) {
                    position: static;
                    &.sticky-shown {
                        width: 100%;
                        position: static;
                    }
                }

                &--item {
                    font-weight: $font-weight-bold;
                    font-size: calcRem(14px);
                    line-height: calcRem(17px);
                    letter-spacing: calcRem(1px);
                    text-transform: uppercase;
                    padding: calcRem(19px) calcRem(24px) calcRem(19.6px) calcRem(24px);
                    height: 100%;
                }

                .list-group-item {
                    background-color: transparent;
                    border: none;
                }
                .list-group-item:first-child,
                .list-group-item:last-child {
                    border-radius: calcRem(0px);
                }
                .list-group-item.active,
                .list-group-item.active:hover {
                    background-color: $light-steel-1;
                    border-color: none;
                    color: $steel;
                }
                .list-group-item-action:active,
                .list-group-item-action:focus {
                    color: $steel;
                }
                .list-group-item-action:hover {
                    background-color: transparent;
                    color: $steel;
                }
            }
            @include media-breakpoint-down(sm) {
                .cmp-anchor-link-container__section-list-inner {
                    &--item {
                        font-weight: $font-weight-regular;
                        @include font-size(16px);
                        @include line-height(40px);
                        letter-spacing: unset;
                        text-transform: unset;
                        color: $steel;
                        padding: calcRem(5px) calcRem(0px);
                        height: 100%;
                        text-align: left;
                    }
                    .list-group-item.active {
                        background-color: transparent;
                    }
                }
                .cmp-anchor-link-container__section {
                    padding: calcRem(0px);
                }
                .cmp-anchor-link-container__section-list {
                    padding: calcRem(0px) calcRem(20px);
                }
            }
        }

        .add-ellipsis-in-anchor-links {
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    // Top anchor links Accordion style
    &__style-top-anchor-link-accordion {
        display: none;
        @extend %mobile-full-width;
        @include media-breakpoint-up(md) {
            .cmp-anchor-link-section {
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-down(sm) {
            .cmp-anchor-link-section {
                min-height: auto;
                &__title-accordion {
                    display: block;
                    cursor: pointer;
                    padding: calcRem(16px) calcRem(20px);
                    background: $medium-dusk;
                    color: $white;
                    height: calcRem(64px);
                    margin-bottom: 0;
                    font-family: $font-family-alda;
                    @include font-size(20px);
                    @include line-height(32px);
                    font-weight: $font-weight-regular;
                    letter-spacing: normal;
                }
                &__accordion {
                    float: left;
                    display: block;
                    width: 100%;
                }
                .close-accordion .cmp-anchor-link-section__title-accordion {
                    border-bottom: 2px solid $steel;
                    background-color: $white;
                    color: $steel;
                    &:after {
                        content: '';
                        width: calcRem(16px);
                        height: calcRem(16px);
                        float: right;
                        margin: calcRem(4.5px) calcRem(2px);
                        background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
                        flex-shrink: 0;
                    }
                }
                .open-accordion .cmp-anchor-link-section__title-accordion {
                    &:after {
                        @include transform(rotate(180deg));
                        content: '';
                        width: calcRem(16px);
                        height: calcRem(16px);
                        float: right;
                        margin: calcRem(4.5px) calcRem(2px);
                        background: url('../resources/images/icon-arrow-3--white.svg') no-repeat center/contain;
                        flex-shrink: 0;
                    }
                }
                .close-accordion .cmp-anchor-link-section__accordion-content {
                    height: 0;
                    transition: height 1s ease-out;
                    transform: scaleY(0);
                    float: left;
                    display: block;
                }
                .open-accordion .cmp-anchor-link-section__accordion-content {
                    padding: 0 calcRem(20px) calcRem(20px) calcRem(20px);
                }
                .open-accordion {
                    width: 100%;
                    transform: scaleY(1);
                    transform-origin: top;
                    transition: transform 0.4s ease;
                }
                .cmp-color-container {
                    .cmp-literature__table--count {
                        padding-left: calcRem(20px) !important;
                    }
                    .cmp-literature-filters {
                        padding-left: calcRem(20px) !important;
                    }
                    .cmp-literature__table .ngx-datatable {
                        width: 100% !important;
                        margin-left: 0px !important;
                    }
                    .cmp-literature__search--text {
                        margin-left: 20px !important;
                    }
                    .cmp-literature__table--btngroup {
                        height: calcRem(147px);
                        max-width: 100%;
                        margin-left: 0px !important;
                        @media (orientation: portrait) {
                            position: fixed !important;
                        }
                    }
                }
                .cmp-literature__table--btngroup {
                    width: 105%;
                    @media (orientation: portrait) {
                        max-width: 110%;
                        position: fixed !important;
                    }
                }
                .cmp-literature__table .ngx-datatable {
                    margin-left: -15px !important;
                    @include media-breakpoint-down(sm) {
                        margin-left: calcRem(-20px) !important;
                        margin-right: calcRem(0px) !important;
                        max-width: 105%;
                        @media (orientation: portrait) {
                            max-width: 110%;
                        }
                    }
                }
                .cmp-literature__search--text {
                    @media (min-width: 320px) and (max-width: 340px) {
                        min-width: 200px;
                        padding-top: 0px;
                    }
                }
            }
        }
    }
    .cmp-key-facts {
        .cmp-key-facts__container-div {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    }
    .container-md {
        @media print {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.anchor-link-container {
    .cmp-anchor-link-container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
@include media-breakpoint-only(md) {
    .cmp-anchor-link-container {
        .container-md {
            max-width: 60pc !important;
        }
        .cmp-anchor-link-container {
            .container-md {
                margin-right: auto !important;
                margin-left: auto !important;
            }
        }
    }
}

@include media-breakpoint-only(lg) {
    .cmp-anchor-link-container {
        .container-md {
            max-width: 855pt !important;
        }
        .cmp-anchor-link-container {
            .container-md {
                margin-right: auto !important;
                margin-left: auto !important;
            }
        }
    }
}

.responsivegrid {
    &.page {
        .cmp-anchor-link-container {
            .cmp-color-container {
                .aem-GridColumn {
                    .cmp-rte {
                        padding-right: calcRem(24px) !important;
                        padding-left: calcRem(24px) !important;
                        margin-top: 30px !important;
                        @include media-breakpoint-down(sm) {
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                            margin-top: 15px !important;
                        }
                    }
                    > div[class^='cmp-']:not(.cmp-key-facts):not(.cmp-calendar-year-returns):not(.cmp-average-returns):not(.cmp-money-market-yields):not(.cmp-link-list):not(.cmp-email-subscribe):not(.cmp-literature):not(.cmp-rte) {
                        padding-right: calcRem(15px) !important;
                        padding-left: calcRem(15px) !important;
                    }
                    > figure[class='cmp-credit-quality'] {
                        padding-right: calcRem(15px) !important;
                        padding-left: calcRem(15px) !important;
                    }
                    > div[class='cmp-literature'] {
                        padding-right: calcRem(15px) !important;
                        padding-left: calcRem(15px) !important;
                        @include media-breakpoint-down(sm) {
                            padding-right: 0px !important;
                            padding-left: 0px !important;
                        }
                    }
                }
            }
            .aem-GridColumn {
                > .cmp-rte {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    @include media-breakpoint-down(sm) {
                        padding-right: calcRem(20px) !important;
                        padding-left: calcRem(20px) !important;
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }
                .cmp-accordion__content {
                    .cmp-rte {
                        padding-right: calcRem(24px) !important;
                        padding-left: calcRem(24px) !important;
                        margin-top: 30px !important;
                        @include media-breakpoint-down(sm) {
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                            margin-top: 15px !important;
                        }
                    }
                }
                > .cmp-banner,
                > .cmp-link-list {
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                    @include media-breakpoint-down(sm) {
                        margin-top: 0px !important;
                        margin-bottom: 0px !important;
                    }
                }
                > .cmp-card-container,
                > .cmp-top-holdings,
                > .cmp-disclosures,
                > .cmp-card,
                > .cmp-button,
                > .cmp-accordion,
                > .cmp-link-list {
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    @include media-breakpoint-down(sm) {
                        padding-right: 0 !important;
                        padding-left: 0 !important;
                    }
                }
            }
            .cmp-anchor-link-container__style-default {
                .aem-GridColumn {
                    > div[class^='cmp-']:not(.cmp-accordion):not(.cmp-rte) {
                        margin-top: 0px !important;
                        margin-bottom: 0px !important;
                        @include media-breakpoint-down(sm) {
                            margin-top: 0px !important;
                            margin-bottom: 0px !important;
                        }
                    }
                }
            }
        }
    }
}
