<div class="cmp-auv id-1" data-fund-code="v3a" data-id="1">
    <div class="cmp-auv__component-wrapper id-1">
        <div class="cmp-auv__left id-1"></div>
        <div class="cmp-auv__right cmp-auv__right-gradient id-1"></div>
        <div class="cmp-auv__table-parent-div id-1">
            <div class="col-12 cmp-auv__table-wrapper id-1">
                <table class="cmp-auv__table id-1">
                    <caption class="cmp-auv__table-caption"></caption>
                    <tr class="tableHeader">
                        <th scope="col"></th>
                        <th scope="col">
                            <span class="cmp-auv__current-auv-date id-1 cmp-auv__header-date">

                            </span>
                        </th>
                        <th scope="col">
                            <span class="cmp-auv__prior-auv-date id-1 cmp-auv__header-date">

                            </span>
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
