<div class="cmp-auv" data-fund-code="VUL">
    <div class="nyl-datatable table-responsive">
        <table id="auv" class="table table-striped">
            <caption class="d-none">Fund Values Table</caption>
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-4 d-flex align-items-end">Fund</th>
                    <th scope="col" class="col d-flex align-items-end">As of</th>
                    <th scope="col" class="col d-flex align-items-end">Change from</th>
                    <th scope="col" class="col d-flex align-items-end">% Change</th>
                    <th scope="col" class="col d-flex align-items-end">% Change YTD</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="col-4"></td>
                    <td class="col"></td>
                    <td class="col"></td>
                    <td class="col"></td>
                    <td class="col"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="d-flex">
                    <th scope="col" class="col-4 d-flex align-items-end">
                        <input type="text" class="form-control" aria-label="Fund Search Input">
                    </th>
                    <th scope="col" class="col d-flex align-items-end">
                        <input type="text" class="form-control" aria-label="As of Search Input">
                    </th>
                    <th scope="col" class="col d-flex align-items-end">
                        <input type="text" class="form-control" aria-label="Change from Search Input">
                    </th>
                    <th scope="col" class="col d-flex align-items-end">
                        <input type="text" class="form-control" aria-label="% Change from Search Input">
                    </th>
                    <th scope="col" class="col d-flex align-items-end">
                        <input type="text" class="form-control" aria-label="% Change YTD Search Input">
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div id="fundValuesErrorMessage" class="d-none">
    <p>Fund Value Error Message</p>
</div>
<div id="icon-caret">
    <i class="icon-caret--white ml-2" aria-hidden="true"> <svg width="20" height="11"
            xmlns="http://www.w3.org/2000/svg">
            <path class="icon-caret" d="M1.515 1L10 9.485 18.485 1" stroke="#171717" stroke-width="2" fill="none" />
        </svg></i>
</div>
<div class="nyl-datatable__label" data-filter-by="Filter By" data-sort-ascending="Sort Ascending"
    data-sort-descending="Sort Descending">
</div>
