<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-breadcrumb-placeholder'}" />
<div class="cmp-breadcrumb" data-sly-use.breadcrumb="com.nyl.foundation.models.BreadcrumbModel"
    data-sly-test="${breadcrumb.items.size > 0}">
    <div class="container">
        <ul>
            <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg"
                class="icon-caret d-inline-block d-md-none" alt="">
            <sly data-sly-list.navItem="${breadcrumb.items}">
                <li><a data-sly-unwrap="${navItemList.last}" href="${navItem.url}"
                        title="${navItem.title}">${navItem.title}</a>
                </li>
            </sly>
        </ul>
    </div>
</div>
