<div class="cmp-form-range-slider" data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
    <div class="cmp-form-range-slider__wrapper" data-id="cmp-form-range-slider--1" data-display="percentage"
        data-authored-values='{
            "defaultValue": "20",
            "minValue": "10",
            "maxValue": "100"
        }'>
        <div class="d-flex cmp-form-range-slider__text-field-container">
            <p class="cmp-form-range-slider__text-field-text">Hwo much do you save<span data-toggle="popover"
                    data-content="Hello" class="tooltipColor"><img
                        src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/tool-tip-question-mark-icon.svg"
                        class="icon-tool-tip" alt=""></span></p>
            <div class="cmp-form-range-slider__value-container">
                <input type="textbox" class="cmp-form-range-slider__value" data-id="cmp-form-range-slider--1" />
            </div>
        </div>
        <div class="cmp-form-range-slider__container" data-id="cmp-form-range-slider--1">
            <output class="cmp-form-range-slider__bubble" data-id="cmp-form-range-slider--1"></output>
            <input type="range" class="cmp-form-range-slider__type" data-id="cmp-form-range-slider--1" value="0" min="0"
                max="100" />
        </div>
        <div class="cmp-form-range-slider__values-container d-flex">
            <span>0</span>
            <span>100</span>
        </div>
    </div>
</div>
