.cmp-statistics {
    background-color: transparent;
    @extend %mobile-full-width;
    margin-top: 0px !important;
    margin-bottom: 78px !important;
    @include media-breakpoint-down(sm) {
        margin-bottom: 40px !important;
    }
    @include media-breakpoint-only(md) {
        padding-left: calcRem(15px);
        padding-right: calcRem(15px);
    }
    &__section-heading {
        padding-top: calcRem(84px);
        padding-bottom: calcRem(24px);
        color: $steel;
        @include media-breakpoint-down(sm) {
            padding-top: calcRem(40px);
            padding-left: calcRem(20px);
        }
    }
    &__header {
        background: transparent !important;
        height: calcRem(26px) !important;
        margin-bottom: calcRem(13px) !important;
        font-family: $font-family-alda;
    }
    &__hidden-sm {
        @include media-breakpoint-down(sm) {
            display: none !important;
        }
    }
    &__list-container-styling {
        list-style: none;
        padding: 0px;
        margin-bottom: calcRem(78px);
        @include media-breakpoint-down(sm) {
            margin-bottom: 0px;
        }
        li {
            height: calcRem(64px);
            background: $white;
            margin-bottom: calcRem(2px);
            &:hover {
                background: $rain-tint;
            }
            @include media-breakpoint-down(sm) {
                height: calcRem(56px);
                margin-bottom: calcRem(2px);
            }
        }
    }
    &__labels {
        @include font-size(14px);
        @include line-height(18px);
        font-family: $font-family-helvetica-neue;
        font-weight: $font-weight-regular;
        height: calcRem(64px);
        display: flex;
        align-items: center;
        color: $steel;
        padding-left: calcRem(24px);
        padding-right: 0px;
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            display: flex;
            align-items: center;
            padding-left: calcRem(20px);
            padding-right: 0px;
        }
    }
    &__values {
        text-align: right;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        @include line-height(19px);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: calcRem(64px);
        padding-right: calcRem(24px);
        padding-left: 0px;
        @include media-breakpoint-down(sm) {
            height: calcRem(56px);
            @include font-size(14px);
            @include line-height(17px);
            padding-right: calcRem(20px);
            padding-left: 0px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
    }

    &__header-label {
        text-align: left;
        color: $steel;
        font-family: $font-family-alda;
        font-style: $font-style-italic;
        @include font-size(16px);
        letter-spacing: 0;
        @include line-height(18px);
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: calcRem(26px);
        padding-right: calcRem(24px);
        padding-left: 0px;
        @include media-breakpoint-down(sm) {
            height: calcRem(24px);
            @include font-size(16px);
            @include line-height(18px);
            padding-right: calcRem(20px);
            padding-left: 0px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
    }

    &__heading-row {
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(0px);
            margin-right: calcRem(0px);
        }
    }

    &__as-of-date {
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(12px);
        letter-spacing: 0;
        @include line-height(13px);
    }

    &__section-heading-text {
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: calcRem(1px);
        @include line-height(17px);
    }
    &__second-list-container {
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(40px);
        }
    }
    &__container-div {
        @include media-breakpoint-down(sm) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    &__main-row {
        margin-left: 0px;
        margin-right: 0px;
    }
    &__main-container-row {
        display: none;
        @include media-breakpoint-down(sm) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    &__mf-main-section {
        display: none;
        @include media-breakpoint-down(sm) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    &__main-section {
        @include media-breakpoint-down(sm) {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}

.cmp-statistics--light-gray {
    .cmp-statistics {
        background: $white;
    }
    li {
        background: $light-steel-3;
    }
}

.cmp-anchor-link-container {
    .cmp-color-container {
        .cmp-statistics {
            &__heading-row {
                @include media-breakpoint-down(sm) {
                    margin-left: calcRem(15px);
                    margin-right: calcRem(15px);
                }
            }
            &__main-container-row {
                @include media-breakpoint-down(sm) {
                    margin-left: calcRem(15px);
                    margin-right: calcRem(15px);
                }
            }
        }
    }
}
