.role-selection {
    &.cmp-header {
        @include media-breakpoint-up(lg) {
            margin-top: calcRem(42px);
        }
    }
}
.cmp-role-selection {
    &__toggle {
        @include media-breakpoint-down(md) {
            display: none;
        }
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            width: 100%;
            max-width: $max-grid-width;
            left: 50%;
            @include transform(translateX(-50%));
            text-align: right;
            padding: 0 calcRem(15px);
            z-index: 1001;
        }
        &--button {
            .nyl-button {
                background-color: $light-steel-3;
                color: $steel;
                height: calcRem(42px);
                width: 25%;
                justify-content: center;
                @include font-size(13px);
                @include line-height(15px);
                @extend %font-weight-regular;
                letter-spacing: 0.46px;
                &:hover {
                    background-color: $light-steel-3;
                    color: $steel;
                }
            }
        }
        &--icon {
            margin-left: calcRem(24px);
            &:after {
                content: '';
                display: inline-block;
                width: calcRem(12px);
                height: calcRem(7px);
                background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;

                @include media-breakpoint-down(md) {
                    width: calcRem(18px);
                    height: calcRem(18px);
                }
            }
        }
        .dropdown.show {
            .cmp-role-selection__toggle--icon:after {
                @include transform(rotate(180deg));
            }
            .dropdown-menu {
                display: block;
            }
        }
        .dropdown-menu {
            width: 25%;
            border-color: $light-palm-2;
            border-radius: 0;
            padding: calcRem(2px);
            position: absolute;
            margin-left: auto;
            margin-top: 0;
            right: 0;
            ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding-left: 0;
                li {
                    cursor: pointer;
                    height: calcRem(36px);
                    padding: calcRem(6px) calcRem(16px);
                    &:hover {
                        background-color: $light-steel-3;
                    }
                    &[data-selected='true'] {
                        background-color: $light-steel-3;
                    }
                    a {
                        color: $steel;
                        @include font-size(14px);
                    }
                }
            }
        }
        .cmp-header & {
            display: none;
            @include media-breakpoint-down(md) {
                display: block;
                padding-top: calcRem(20px);
                font-style: normal;
                font-family: $font-family-helvetica-neue;
                &--button {
                    .nyl-button {
                        background: $white;
                        width: 100%;
                        height: calcRem(50px);
                        padding: 0 calcRem(16px);
                        justify-content: space-between;
                        @include font-size(14px);
                        @include line-height(18px);
                        letter-spacing: normal;
                    }
                }
                .dropdown-menu {
                    width: 100%;
                    margin-top: 0;
                }
            }
            @include media-breakpoint-down(md) {
                width: 100%;
                &--button {
                    .nyl-button {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    &__modal {
        .modal {
            &-dialog {
                max-width: $max-grid-width;
                @include media-breakpoint-down(sm) {
                    margin: calcRem(20px);
                }
            }
            &-content {
                border-radius: 0;
                background: $light-steel-3;
                @include media-breakpoint-up(md) {
                    @include make-col(10);
                    @include make-col-offset(1);
                }
            }
            &-header,
            &-footer {
                border: 0;
                border-radius: 0;
                justify-content: center;
            }
            &-header {
                padding: calcRem(69px) 10% calcRem(19px);
                @include media-breakpoint-down(sm) {
                    padding: calcRem(35px) calcRem(20px) calcRem(24px);
                }
                button {
                    padding: 0;
                    margin: 0;
                    border: 0;
                    opacity: 1;
                    position: absolute;
                    top: 30px;
                    right: 58px;
                    .cmp-role-selection__close {
                        &:after {
                            content: '';
                            width: calcRem(28px);
                            height: calcRem(28px);
                            position: absolute;
                            background: url('../resources/images/icon-close--steel.svg') no-repeat center/contain;
                        }
                    }
                    @include media-breakpoint-down(sm) {
                        top: 20px;
                        right: 40px;
                        .cmp-role-selection__close {
                            &:after {
                                width: calcRem(20px);
                                height: calcRem(20px);
                            }
                        }
                    }
                }
            }
            &-footer {
                padding: calcRem(63px) 10% calcRem(61px);
                > * {
                    margin: 0;
                }
                a {
                    @extend .button--secondary;
                    cursor: pointer;
                }
                @include media-breakpoint-down(sm) {
                    padding: calcRem(27px) calcRem(20px) calcRem(38px);
                }
            }
            &-title {
                @include font-size(34px);
                @include line-height(54px);
                font-weight: 400;
                text-align: center;
                @include media-breakpoint-down(sm) {
                    @include font-size(24px);
                    @include line-height(38px);
                }
            }
            &-body {
                width: 80%;
                margin: auto;
                padding: 0;
                p {
                    margin: 0;
                    @include font-size(18px);
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    padding: 0 calcRem(20px);
                    p {
                        @include font-size(14px);
                    }
                }
            }
        }
        &--audience {
            .modal-body {
                text-align: center;
            }
            .modal-footer {
                ul {
                    display: flex;
                    justify-content: center;
                    list-style-type: none;
                    width: 100%;
                    padding: 0;
                    margin: calcRem(-15px);
                    li {
                        cursor: pointer;
                        width: 20%;
                        height: calcRem(144px);
                        background: $white;
                        margin-left: calcRem(15px);
                        margin-right: calcRem(15px);
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: calcRem(10px);
                        @include font-size(18px);
                        @include line-height(23px);
                        @extend %font-weight-medium;
                        &:hover {
                            &:after {
                                content: '';
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                height: calcRem(8px);
                                background: $medium-dusk;
                                @include media-breakpoint-down(sm) {
                                    height: calcRem(6px);
                                }
                            }
                        }
                    }
                    @include media-breakpoint-down(sm) {
                        @include make-col(8);
                        flex-direction: column;
                        li {
                            height: calcRem(64px);
                            width: 100%;
                            margin-left: 0;
                            margin-right: 0;
                            @include font-size(16px);
                            @include line-height(19px);
                            &:not(:first-child) {
                                margin-top: calcRem(12px);
                            }
                        }
                    }
                    @include media-breakpoint-down(xs) {
                        @include make-col(9);
                    }
                }
            }
        }
    }
}
