<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-search-result-placeholder'}" />
<div class="cmp-search-result">
    <div class="cmp-search-result__empty">
        <div class="cmp-search-result__empty-results">
            <div class="row">
                <div class="col-lg-12">
                    <p data-sly-test="${properties.noResultText}"
                        class="cmp-search-result__empty-results__no-result-text">
                        <span class="font-weight-bold">
                            ${properties.noResultText}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2 data-sly-test="${properties.suggestedResultsText}" class="base-font font-weight-regular">
                    ${properties.suggestedResultsText}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 cmp-search-result__empty--wrap">
                <div class="card cmp-search-result__empty--card" data-sly-test="${properties.firstResultTitle
                     || properties.firstResultDescription }">
                    <div class="card-body">
                        <h3 class="card-title">${properties.firstResultTitle}</h3>
                        <p class="card-text">${properties.firstResultDescription}</p>
                        <a data-sly-use.link="${'com.nyl.foundation.models.LinkModel' @ prefix='firstResultCta'}"
                            href="${link.url}" title="${link.title}" target="${link.behavior}"> <span
                                data-sly-test="${link.url && link.text}" class="nyl-button button--transparent">
                                ${link.text}
                                <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="card cmp-search-result__empty--card"
                    data-sly-test="${properties.secondResultTitle || properties.secondResultDescription}">
                    <div class="card-body">
                        <h3 class="card-title">${properties.secondResultTitle}</h3>
                        <p class="card-text">${properties.secondResultDescription}</p>
                        <a data-sly-use.secondLink="${'com.nyl.foundation.models.LinkModel' @ prefix='secondResultCta'}"
                            href="${secondLink.url}" title="${secondLink.title}" target="${secondLink.behavior}"> <span
                                data-sly-test="${secondLink.url && secondLink.text}"
                                class="nyl-button button--transparent">
                                ${secondLink.text}
                                <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="card cmp-search-result__empty--card"
                    data-sly-test="${properties.thirdResultTitle || properties.thirdResultDescription}">
                    <div class="card-body">
                        <h3 class="card-title">${properties.thirdResultTitle}</h3>
                        <p class="card-text">${properties.thirdResultDescription}</p>
                        <a data-sly-use.thirdLink="${'com.nyl.foundation.models.LinkModel' @ prefix='thirdResultCta'}"
                            href="${thirdLink.url}" title="${thirdLink.title}" target="${thirdLink.behavior}"> <span
                                data-sly-test="${thirdLink.url && thirdLink.text}"
                                class="nyl-button button--transparent">
                                ${thirdLink.text}
                                <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cmp-search-result__facets" data-sly-use.facetData="com.nyl.foundation.models.SearchFacetModel"
        data-facets="${facetData.searchFacets}" data-facets-enabled="1">
        <div class="row d-xl-none d-lg-none">
            <div class="offset-xl-6 offset-lg-6 offset-md-6 col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <button type="button" class="cmp-search-result__facets--med-vw-btn">
                    <span class="cmp-search-result__facets__label--filters">${'foundation.search.filtersAppliedText'
                        @i18n} </span> <span class="cmp-search-result__facets--filter-chevron-r"></span>
                </button>
            </div>
        </div>
        <div class="d-xl-block d-lg-block d-md-none d-sm-none d-none cmp-search-result__facets--applied">
            <div class="row">
                <div class="col-lg-12 ">
                    <span
                        class="cmp-search-result__facets__label--filters d-none">${'foundation.search.filtersAppliedText'
                        @i18n} </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 cmp-search-result__facets__desktop-applied-filters d-none">
                    <button class="cmp-search-result__facets--clear-facets">${'foundation.search.clearFacets'
                        @ i18n}</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-sly-test="${!properties.disableFacets}"
                class="col-xl-4 d-xl-block col-lg-4 d-lg-block d-md-none d-sm-none d-none cmp-search-result__facets--wrap">
                <div class="row d-xl-none d-lg-none">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <button class="cmp-search-result__facets--back-btn">
                            <span class="cmp-search-result__facets--filter-chevron-l"></span>
                            ${'foundation.search.backButton' @ i18n}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6">
                        <h2
                            class="cmp-search-result__facets--sm-heading cmp-search-result__facets__refine-results-heading d-none">
                            ${'foundation.search.facetTitle' @ i18n}</h2>
                    </div>
                    <div
                        class="d-xl-none d-lg-none col-xl-12 col-lg-12 col-md-6 col-sm-6 col-6 text-left text-md-right text-sm-right">
                        <button class="cmp-search-result__facets--clear-facets">${'foundation.search.clearFacets'
                            @ i18n}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="accordion cmp-search-result__facets--accordion"
                            id="cmp-search-result__facets--accordion"></div>
                    </div>
                </div>
            </div>
            <div data-sly-test="${properties.loadMore || properties.noOfResults}"
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cmp-search-result__facets__search-results">
                <div class="cmp-search-result__promoted">
                    <div class="row ">
                        <div class="col-lg-12 col-md-12">
                            <h2 class="cmp-search-result__facets--sm-heading cmp-search-result--heading d-none">
                                ${'foundation.search.promotedSearchHeading' @ i18n}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 cmp-search-result__promoted--wrap"></div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <h1 class="cmp-search-result__facets--sm-heading cmp-search-result--heading d-none">
                            ${'foundation.search.searchResultTitle' @ i18n}</h1>
                    </div>
                </div>
                <div class="cmp-search-result--results-wrapper">
                    <div class="cmp-search-result--result"></div>
                </div>
                <div class="row cmp-search-result--load-more">
                    <div class="col-lg-12 col-sm-12 text-center">
                        <button data-sly-test="${properties.noOfResults}" type="button"
                            class="nyl-button button--primary cmp-search-result__load-more"
                            id="cmp-search-result__load-more" data-hits="${properties.noOfResults}"
                            data-search-url="/bin/nyl/api.search.json">
                            <div data-sly-test="${properties.loadMore}" class="cmp-search-result__not-loading">
                                ${properties.loadMore}</div>
                            <div class="cmp-search-result__loading-icon">
                                <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif"
                                    alt="${'foundation.loadingAltText' @ i18n}" width="38" height="38" />
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="btnLabel" data-attribute="${'foundation.search.promotedSearchCTA' @ i18n}"></span>
</div>
