<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.productUnitValueCode, classAppend='cmp-auv-placeholder'}" />
<div data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel" class="cmp-auv id-${identifier.id}"
    data-fund-code="${properties.productUnitValueCode}" data-id="${identifier.id}"
    data-show-discontinued-products="${properties.productNoLongerSold?'true':'false'}">
    <div class="cmp-auv__component-wrapper id-${identifier.id}">
        <div class="cmp-auv__left id-${identifier.id}"></div>
        <div class="cmp-auv__right cmp-auv__right-gradient id-${identifier.id}"></div>
        <div class="cmp-auv__table-parent-div id-${identifier.id}">
            <div class="col-12 cmp-auv__table-wrapper id-${identifier.id}">
                <table class="cmp-auv__table id-${identifier.id}">
                    <caption class="cmp-auv__table-caption"></caption>
                    <tr class="tableHeader">
                        <th scope="col">${'annuities.auv.fundName' @i18n}</th>
                        <th scope="col">${'annuities.auv.currentAUV' @i18n}
                            <span class="cmp-auv__current-auv-date id-${identifier.id} cmp-auv__header-date"></span>
                        </th>
                        <th scope="col">${'annuities.auv.priorAUV' @i18n}
                            <span class="cmp-auv__prior-auv-date id-${identifier.id} cmp-auv__header-date"></span>
                        </th>
                        <th scope="col">${'annuities.auv.auvChange' @i18n}</th>
                        <th scope="col">${'annuities.auv.percentChange' @i18n}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="cmp-auv__loading-text id-${identifier.id}">
        <span>${'annuities.loading' @i18n}</span>
    </div>
    <div class="cmp-auv__error-message id-${identifier.id}">
        <span>${'annuities.auv.errorMessage' @i18n}</span>
    </div>
</div>
