.cmp-featured-carousel {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    visibility: hidden;
    height: 1px;
    overflow: hidden;
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: calcRem(24px);
        width: 100%;
        &-title {
            color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(16px);
            font-weight: bold;
            letter-spacing: calcRem(1px);
            line-height: calcRem(20px);
            margin: 0;
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
                font-size: calcRem(14px);
                line-height: calcRem(18px);
            }
        }
        &__header-link {
            color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(18px);
            line-height: calcRem(32px);
            @include media-breakpoint-down(sm) {
                line-height: calcRem(20px);
                font-size: calcRem(14px);
            }
        }
    }
    &__tiles,
    &__tiles-dynamic {
        left: -1px;
        width: calc(100% + 28px);
        @include media-breakpoint-down(sm) {
            left: 3px;
            width: calc(100% + 35px);
        }
    }
    &__tile {
        box-sizing: border-box;
        margin: 0 calcRem(15px);
    }
    &__tile-template-wrapper {
        display: none;
    }
    &__thumbnail-image {
        &-wrapper {
            display: block;
            height: calcRem(212px);
            overflow: hidden;
            position: relative;
            width: 100%;
            &:before,
            &:after {
                content: '';
                height: calcRem(12px);
                left: 0;
                position: absolute;
                right: 0;
                z-index: 3;
            }
            &:before {
                bottom: calcRem(12px);
                opacity: 0.5;
            }
            &:after {
                bottom: 0;
            }
            .vjs-play-progress,
            .vjs-volume-level {
                background: $dark-blue--08;
            }
            .vjs-poster {
                display: none;
            }
            .vjs-has-started .vjs-big-play-button {
                display: none;
            }
            .vjs-has-started .vjs-control-bar {
                display: flex !important;
            }
            .vjs-big-play-button {
                display: block;
                background: url('../resources/images/icon-system-video.svg') center/ contain no-repeat;
                box-sizing: border-box;
                height: calcRem(66px);
                margin: 0;
                transform: translate(-50%, -50%);
                width: calcRem(66px);
                z-index: 3;
                &:focus {
                    background: none;
                }
                .vjs-icon-placeholder {
                    background: none;
                    &::before {
                        content: '';
                    }
                }
                @include media-breakpoint-down(sm) {
                    top: calcRem(106px);
                }
            }
            @include media-breakpoint-down(sm) {
                .video-js {
                    align-items: center;
                    background-color: $black;
                    display: flex;
                    max-height: calcRem(212px);
                    padding-top: calcRem(212px);
                }
                video {
                    max-height: calcRem(212px);
                }
            }
            .video-js:hover {
                .vjs-big-play-button {
                    background: url('../resources/images/icon-system-video-hover.svg') center/ contain no-repeat;
                    .vjs-icon-placeholder {
                        background: none;
                        &::before {
                            content: '';
                        }
                    }
                }
            }
        }
        &-label {
            background-color: $white;
            color: $steel;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(11px);
            letter-spacing: calcRem(0.25px);
            line-height: calcRem(14px);
            padding: calcRem(5px) calcRem(12px) calcRem(5px) calcRem(10px);
            position: absolute;
            right: calcRem(6px);
            text-transform: uppercase;
            top: calcRem(6px);
            z-index: 3;
        }
        &-picture {
            position: absolute;
            z-index: 2;
        }
        &-picture,
        &-img {
            height: 100%;
            width: 100%;
        }
        &-img {
            object-fit: cover;
        }
        &-wrapper.playing &-picture,
        &-wrapper.playing &-label,
        &-wrapper.playing::before,
        &-wrapper.playing::after {
            display: none;
        }
    }
    &__tile.medium-salmon &__thumbnail-image-wrapper::before,
    &__tile.medium-salmon &__thumbnail-image-wrapper::after {
        background-color: $medium-salmon;
    }
    &__tile.medium-twilight &__thumbnail-image-wrapper::before,
    &__tile.medium-twilight &__thumbnail-image-wrapper::after {
        background-color: $medium-twilight;
    }
    &__tile.medium-dusk &__thumbnail-image-wrapper::before,
    &__tile.medium-dusk &__thumbnail-image-wrapper::after {
        background-color: $medium-dusk;
    }
    &__tile.medium-rain &__thumbnail-image-wrapper::before,
    &__tile.medium-rain &__thumbnail-image-wrapper::after {
        background-color: $medium-rain;
    }
    &__tile.medium-palm &__thumbnail-image-wrapper::before,
    &__tile.medium-palm &__thumbnail-image-wrapper::after {
        background-color: $medium-palm;
    }
    &__tile.medium-gold &__thumbnail-image-wrapper::before,
    &__tile.medium-gold &__thumbnail-image-wrapper::after {
        background-color: $medium-gold;
    }
    &__tile.medium-sunset &__thumbnail-image-wrapper::before,
    &__tile.medium-sunset &__thumbnail-image-wrapper::after {
        background-color: $medium-sunset;
    }
    &__tags,
    &__additional-label {
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(11px);
        letter-spacing: calcRem(0.25px);
        line-height: calcRem(14px);
        opacity: 0.9;
        text-transform: uppercase;
    }
    &__tags + &__additional-label::before {
        content: ' • ';
    }
    &__tags-wrapper {
        margin: calcRem(17px) 0 calcRem(8px) 0;
    }
    &__title {
        color: $steel;
        font-family: $font-family-alda;
        font-size: calcRem(22px);
        line-height: calcRem(30px);
        margin: 0;
        @include media-breakpoint-down(sm) {
            font-size: calcRem(20px);
            line-height: calcRem(26px);
        }
        &-link {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__title + &__description {
        margin-top: calcRem(17px);
    }

    &__description,
    &__description p {
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(14px);
        line-height: calcRem(22px);
    }
    &__description + &__footer {
        margin-top: calcRem(10px);
    }
    &__description {
        height: calcRem(66px);
        max-height: calcRem(66px);
        @include media-breakpoint-down(sm) {
            height: calcRem(60px);
            max-height: calcRem(60px);
            line-height: calcRem(20px) !important;
        }
    }
    &__footer {
        .nyl-button {
            padding-left: 0;
        }
        > .nyl-button:hover {
            font-weight: $font-weight-regular;
        }
        &-link:not([href]) {
            span.nyl-button:hover {
                font-weight: $font-weight-regular;
            }
        }
    }
    .slick-list {
        @include media-breakpoint-down(sm) {
            padding: 0 10% 0 0 !important;
        }
    }
    .slick-track {
        margin-left: 0;
    }
    .slick-arrow {
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        @include media-breakpoint-down(lg) {
            display: none !important;
        }
    }
    .slick-next {
        border-left: 13px solid $steel;
        &.slick-disabled {
            border-left: 13px solid $light-dusk-2;
        }
        &:before {
            content: none;
        }
    }
    .slick-prev {
        border-right: 13px solid $steel;
        &.slick-disabled {
            border-right: 13px solid $light-dusk-2;
        }
        &:before {
            content: none;
        }
    }
    .slick-dots li {
        background-color: $light-dusk-2;
        border-radius: 50%;
        height: calcRem(15px);
        margin: 0 calcRem(12px);
        width: calcRem(15px);
        @include media-breakpoint-down(sm) {
            height: calcRem(10px);
            margin: 0 calcRem(8px);
            width: calcRem(10px);
        }
        &:only-child {
            display: none;
        }
        &.slick-active {
            background-color: $medium-dusk;
        }
        button:before {
            content: none;
        }
    }
    .nyl-button--link-text {
        @include media-breakpoint-down(sm) {
            font-size: calcRem(16px) !important;
        }
    }
}

@media screen and (min-width: 1360px) and (max-width: 1439px) {
    .cmp-featured-carousel .slick-next {
        right: calcRem(-45px);
    }
    .cmp-featured-carousel .slick-prev {
        left: calcRem(-45px);
    }
}

@media screen and (min-width: 1440px) {
    .cmp-featured-carousel .slick-next {
        right: calcRem(-65px);
    }
    .cmp-featured-carousel .slick-prev {
        left: calcRem(-65px);
    }
}

.cmp-featured-carousel__header-link {
    color: $steel;
    font-family: $font-family-helvetica-neue;
    font-size: calcRem(18px) !important;
    line-height: calcRem(32px) !important;
    @include media-breakpoint-down(sm) {
        line-height: calcRem(20px) !important;
        font-size: calcRem(14px) !important;
    }
}
