.cmp-literature-filters {
    float: left;
    margin-right: 15px;
    width: 175px;
    @extend %font-weight-regular;
    @include line-height(18px);
    @include font-size(14px);
    @include media-breakpoint-down(sm) {
        float: none;
        width: 100%;
        max-width: 334px;
    }
    .btn-clear:focus,
    .btn:focus {
        border: none;
        transition: initial;
        box-shadow: none;
    }
    .list-group-item {
        border-radius: 0px;
        border-bottom: 0.6px solid rgba(0, 0, 0, 0.125);
    }
    .selected-filter {
        background-color: $header-color;
        color: $white !important;
        opacity: 1 !important;
    }
    .list-group {
        @include media-breakpoint-down(sm) {
            margin-bottom: 0px;
        }
    }
    &--title {
        font-family: $font-family-alda;
        font-style: italic;
        @include line-height(18px);
        @include font-size(16px);
        padding: 0px 15px 13px 0px;

        @include media-breakpoint-down(sm) {
            @include line-height(23px);
            @include font-size(14px);
            padding: 0px 15px 12px 0px;
        }
    }
    &--list {
        @include media-breakpoint-down(sm) {
            display: flex;
            max-width: 334px;
            flex-wrap: wrap;
        }
        &-item {
            margin-bottom: 2px;
            .collapsed {
                img {
                    @include transform(rotate(90deg));
                }
            }
            @include media-breakpoint-down(sm) {
                width: 50%;
                max-width: 165px;
                min-width: 116px;
                .left-btn {
                    margin-right: 2px;
                }
                .right-btn {
                    margin-left: 2px;
                }
            }
            &-title {
                @include media-breakpoint-down(sm) {
                    max-width: 165px;
                    width: 100%;
                    border-radius: 0px;
                    margin-bottom: 4px;
                    text-align: left;
                    @include line-height(16px);
                    @include font-size(14px);
                    padding: 16px 12px;
                    :hover {
                        color: $white !important;
                    }
                }
                background-color: $medium-dusk;
                color: $white;
                height: 48px;
                padding: 15px 12px;
                :hover {
                    color: $white !important;
                }
                &-icon {
                    float: right;
                    img {
                        width: 10px;
                        height: 10px;
                        @include transform(rotate(270deg));
                        opacity: 0.6;
                    }
                }
            }
            .filter-item {
                min-height: 40px;
                padding: 11px 12px;
                border: none;
                margin-bottom: 2px;
                opacity: 0.75;
                cursor: pointer;
            }
            .filter-item:last-child {
                margin-bottom: 0 !important;
            }
            .disabled-item {
                pointer-events: none;
            }
        }
        .item-value {
            width: 175px;
            height: 40px;
            color: $header-color;
            background-color: $white;
        }
        .selected-filter {
            background-color: $header-color;
            color: $white !important;
            opacity: 1 !important;
        }
        .count-display {
            float: right;
            @extend %font-weight-regular;
            @include line-height(16px);
            @include font-size(14px);
        }
    }
    .modal {
        z-index: 10002;
        padding-right: 0px;
    }

    .modal-dialog {
        margin: 10px 20px;
    }
    .modal-content {
        background-color: $mobile-row;
        border-radius: 0px;
        border: 0px;
        .modal-header {
            @extend %font-weight-bold;
            @include line-height(17px);
            @include font-size(14px);
            border-bottom: 0px;
            padding: 20px 20px 0px 20px;
        }
        .modal-body {
            padding: 20px;
            .list-group-item {
                height: 44px;
                border: 0px;
                margin-bottom: 2px;
                padding: 13px 12px;
                opacity: 0.75;
            }
        }
        .modal-footer {
            border-top: 0px;
            padding: 0px 20px 20px 20px;
            .footer-btn {
                width: 100%;
                margin: 0px;
                &--cancel {
                    padding: 0px 4.5px 0px 0px;
                    text-align: center;
                }
            }
            .btn-cancel {
                width: 100%;
                height: 50px;
                @extend %font-weight-regular;
                @include line-height(18px);
                @include font-size(16px);
                color: $header-color;
                background-color: $light-rain-2;
                border-radius: 0px;
            }
        }
    }
}
button.btn.cmp-literature-filters--list-item-title:hover {
    color: $white !important;
}
.no-data-filter {
    margin-bottom: 4px;
}
.cmp-literature-applied-filters {
    width: 100%;
    margin-bottom: 45px;
    @include media-breakpoint-down(sm) {
        max-width: 335px;
        margin-bottom: 0 !important;
    }
    &__title {
        font-family: $font-family-alda;
        font-style: italic;

        @include line-height(18px);
        @include font-size(16px);
        padding: 0px 0px 14px 0px;
        @include media-breakpoint-down(sm) {
            @include line-height(23px);
            @include font-size(14px);
            margin-top: 23px;
            padding: 0px 0px 13px 0px;
        }
    }
    .btn-clear:focus,
    .btn:focus {
        border: none;
        transition: initial;
        box-shadow: none;
    }
    .btn-clear {
        @extend %font-weight-regular;
        @include line-height(16px);
        @include font-size(14px);
        width: 125px;
        height: 36px;
        margin-left: 0 !important;
        border-radius: 0px;
        background-color: $light-steel-1;
        text-align: center;
        color: $header-color;
        margin-right: 3px;
        margin-bottom: 4px;
        padding: 10px 13px;
        @include media-breakpoint-down(sm) {
            width: 115px !important;
        }
    }
    &--btn-group {
        &-title {
            @include line-height(16px);
            @include media-breakpoint-down(sm) {
                @include line-height(18px);
            }
            &-icon {
                float: right;
                img {
                    width: 13px;
                    height: 13px;
                }
                @include media-breakpoint-down(sm) {
                    margin-left: 15px;
                }
            }
        }
        .btn {
            @extend %font-weight-regular;
            @include line-height(16px);
            @include font-size(14px);
            min-width: 154px;
            width: auto;
            height: 36px;
            border-radius: 0px;
            background-color: $header-color;
            text-align: left;
            color: $white;
            margin-right: 3px;
            margin-bottom: 4px;
            padding: 10px 12px;
            @include media-breakpoint-down(sm) {
                min-width: 125px !important;
                @include line-height(18px);
                padding: 9px 12px;
            }
        }
    }
}
