<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.resourceModel="${'com.nyl.foundation.models.ResourceModel' @ appendPath='strategyItems'}"
    data-sly-call="${templates.placeholder @ isEmpty = !resourceModel.children, classAppend='cmp-strategies-list-placeholder'}" />

<div data-sly-test.strategyResources="${resourceModel.children}" class="cmp-strategies-list">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div data-sly-list.strategyResource="${strategyResources}" class="cmp-strategies-list__container">
            <div data-sly-test="${strategyResource.strategyCtaLinkUrl}"
                data-sly-use.strategiesListModel="${'com.nyl.nylim.models.StrategiesListModel' @ strategyPagePath=strategyResource.strategyCtaLinkUrl}"
                class="row cmp-strategies-list__row ${strategyResource.itemColor}">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 cmp-strategies-list__blockFirst">
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 cmp-strategies-list__image-block">
                        <sly data-sly-test="${strategyResource.imageReference}"
                            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                            data-sly-call="${image.imageTemplate @ componentName='strategies-list', imagePath=strategyResource.imageReference, imgClass='cmp-strategies-list__image'}">
                        </sly>
                    </div>
                    <div data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @linkUrl=strategyResource.strategyCtaLinkUrl }"
                        class="col-11 cmp-strategies-list__blockSecond">
                        <div class="col-12 col-md-5 col-lg-5 cmp-strategies-list__col cmp-strategies-list__title-block">
                            <div class="cmp-strategies-list__product-info">
                                <div class="cmp-strategies-list__title">
                                    <span>
                                        <a data-sly-test="${strategyResource.strategyCtaLinkText && linkModel.getLinkUrl}"
                                            href="${linkModel.getLinkUrl}"
                                            title="${strategyResource.strategyCtaLinkTitle}"
                                            target="${strategyResource.strategyCtaLinkBehavior}">${strategyResource.strategyCtaLinkText}</a></span>
                                    <span class="cmp-strategies-list__na"></span>
                                </div>
                            </div>
                            <div class="cmp-strategies-list__product-info"
                                data-sly-use.ctaResourceModel="${'com.nyl.foundation.models.ResourceModel' @ appendPath='ctaButtons'}">
                                <div class="cmp-strategies-list__type"
                                    data-sly-list.ctaResource="${ctaResourceModel.children}">
                                    <span class="cmp-strategies-list__db"
                                        data-sly-test="${ctaResource.ctaLinkUrl && ctaResource.ctaLinkText }">
                                        <a data-sly-use.ctaLinkModel="${'com.nyl.foundation.models.LinkModel' @linkUrl=ctaResource.ctaLinkUrl }"
                                            data-sly-set.strategyParam="${ctaLinkModel.getLinkUrl}?strategy=${strategiesListModel.getStrategyTagTitle}"
                                            href="${strategiesListModel.getStrategyTagTitle ? strategyParam : ctaLinkModel.getLinkUrl}"
                                            title="${ctaResource.ctaLinkTitle}"
                                            target="${ctaResource.ctaLinkBehavior}">${ctaResource.ctaLinkText}</a>
                                    </span>
                                    <span class="cmp-strategies-list__na"></span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-12 col-md-7 col-lg-7 cmp-strategies-list__col cmp-strategies-list__description-block">
                            <div data-sly-test="${strategyResource.description && linkModel.getLinkUrl}"
                                class="cmp-strategies-list__description">
                                <a href="${linkModel.getLinkUrl}" title="${strategyResource.strategyCtaLinkTitle}"
                                    target="${strategyResource.strategyCtaLinkBehavior}"> ${strategyResource.description
                                    @ context='html'}</a>
                            </div>
                            <a data-sly-test="${linkModel.getLinkUrl}" href="${linkModel.getLinkUrl}"
                                title="${strategyResource.strategyCtaLinkTitle}"
                                target="${strategyResource.strategyCtaLinkBehavior}">
                                <div class="cmp-strategies-list__next">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" width="15" height="15" viewBox="0 0 40 40">
                                        <defs>
                                            <path id="A"
                                                d="M28.333 6.313l-2.78-2.98L10 20l15.553 16.667 2.78-2.98L15.56 20z" />
                                        </defs>
                                        <use fill="#0a3c53" xlink:href="#A" fill-rule="evenodd" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
