.cmp-morningstar-tools {
    &--light-steel &__tabs {
        background: $light-steel-3;
    }

    &__tabs-container {
        display: none;
        position: relative;
    }

    &__tabs {
        align-items: center;
        display: flex;
        height: calcRem(64px);
        list-style-type: none;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 calcRem(20px);
        width: 100%;
    }

    &__tab,
    &__tab--active {
        box-sizing: content-box;
        color: $steel;
        display: block;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(18px);
        height: calcRem(24px);
        letter-spacing: calcRem(0.56px);
        line-height: calcRem(24px);
        margin-left: calcRem(30px);
        padding: calcRem(20px) calcRem(15px) !important;
        position: relative;
        white-space: nowrap;

        &--active {
            font-weight: $font-weight-bold;

            &:after {
                background: $medium-dusk;
                bottom: 0;
                content: '';
                display: block;
                height: calcRem(8px);
                left: 0;
                position: absolute;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    height: calcRem(4px);
                }
            }
        }

        &:first-child {
            margin-left: 0;

            &--active:after {
                left: -15px;
                width: calc(100% + 15px);
            }
        }

        @media (hover: hover), (-ms-high-contrast: none) {
            &:hover {
                cursor: pointer;

                &:after {
                    background: $light-steel-1;
                    bottom: 0;
                    content: '';
                    display: block;
                    height: calcRem(8px);
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            margin-left: calcRem(33px);
            padding: calcRem(20px) calcRem(22px) !important;
        }
    }

    &__tabs-shade--left,
    &__tabs-shade--right {
        display: none;
        height: 100%;
        padding: 0;
        position: absolute;
        top: 0;
        width: calcRem(24px);
    }

    &__tabs-shade--left {
        left: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0, rgba(10, 60, 83, 0.2) 100%);
    }

    &__tabs-shade--right {
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(10, 60, 83, 0.2) 100%);
    }

    &__compare-products,
    &__model-hypotheticals,
    &__analyze-portfolios {
        margin-top: calcRem(38px);

        @include media-breakpoint-down(sm) {
            margin-top: calcRem(20px);
        }
    }

    &__model-hypotheticals,
    &__analyze-portfolios {
        display: none;
    }

    .cmp-analyze-portfolio,
    .cmp-model-hypotheticals {
        .ec-autocomplete {
            width: initial;
        }

        .ec-autocomplete-search {
            width: 100%;
        }
    }
}
