<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-daily-statistics-placeholder'}" />
<div class="cmp-daily-statistics">
    <div class="container">
        <div class="row cmp-daily-statistics__main-heading">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-daily-statistics__first-heading">
                <div><span class="cmp-daily-statistics__daily-statistics-text"></span></div>
                <div><span class="cmp-daily-statistics__trailing-six-months-text"></span></div>
            </div>
        </div>
        <div class="cmp-daily-statistics__left"></div>
        <div class="cmp-daily-statistics__right cmp-daily-statistics__right-gradient"></div>
        <div class="row cmp-daily-statistics__daily-stats-table-parent-div">
            <div class="col-12 cmp-daily-statistics__daily-stats-table-wrapper ">
                <table class="cmp-daily-statistics__daily-stats-table" id="cmp-daily-stats__table">
                    <caption class="cmp-daily-statistics__table-caption"></caption>
                    <tr class="tableHeader">
                        <th scope="col" class="cmp-daily-statistics__label-text cmp-daily-statistics__date-label"></th>
                        <th scope="col"
                            class="cmp-daily-statistics__label-text cmp-daily-statistics__fund-net-flow-label"></th>
                        <th scope="col"
                            class="cmp-daily-statistics__label-text cmp-daily-statistics__fund-daily-liquid-assets-label">
                        </th>
                        <th scope="col"
                            class="cmp-daily-statistics__label-text cmp-daily-statistics__fund-weekly-liquid-assets-label">
                        </th>
                        <th scope="col"
                            class="cmp-daily-statistics__label-text cmp-daily-statistics__nav-amortized-cost-label">
                        </th>
                        <th scope="col"
                            class="cmp-daily-statistics__label-text cmp-daily-statistics__market-based-nav-label"></th>
                    </tr>
                </table>
            </div>
        </div>
        <nav aria-label="${'nylim.pageNavigation' @ i18n}">
            <ul class="pagination justify-content-end cmp-daily-statistics__pagination">
                <li class="cmp-daily-statistics__page-item page-item cmp-daily-statistics__pagination-text">
                </li>
                <li class="cmp-daily-statistics__page-item">
                    <div class="dropdown">
                        <button type="button"
                            class="btn-outline-dark  cmp-daily-statistics__dropdown-toggle  dropdown-toggle"
                            data-toggle="dropdown">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"></a>
                        </div>
                    </div>
                </li>
                <li class="cmp-daily-statistics__page-item">
                    <span class="cmp-daily-statistics__pagination-current-index"></span>
                    <span class="cmp-daily-statistics__of-label"></span>
                    <span class="cmp-daily-statistics__pagination-total-length"></span>
                </li>
                <li class="cmp-daily-statistics__page-item cmp-daily-statistics__previous"
                    title="${'nylim.previous' @ i18n}" aria-label="${'nylim.previous' @ i18n}">
                </li>
                <li class="cmp-daily-statistics__page-item cmp-daily-statistics__next" title="${'nylim.next' @ i18n}"
                    aria-label="${'nylim.next' @ i18n}">
                </li>
            </ul>
        </nav>
    </div>
</div>
