<div class="cmp-indexes__table" (scroll)="onScroll();setSymbolHeadingPosition()">
    <div class="gradient-display" [ngClass]="{'left-gradient': leftGradient }"></div>
    <div class="gradient-display" [ngClass]="{'right-gradient': rightGradient }"></div>
    <div class="cmp-indexes__table-data-as-of" *ngIf="showAsOfData">
        <span class="cmp-indexes__table-data-as-of-date" [innerText]="asOfDate"></span>
    </div>

    <ngx-datatable [reorderable]="false" [count]="rows" [rows]="rows" [scrollbarH]="true" [scrollbarV]="false"
        [headerHeight]="86" [rowHeight]="80" [messages]="messages"
        (scroll)="onChange($event);setSymbolHeadingPosition()" [columns]="columnsDetails" (sort)="onSort()"
        (activate)="displayProductDetail($event)">

        <ngx-datatable-column *ngFor="let col of columnsDetails;" [prop]="col.prop" [name]="col.name" [resizeable]=false
            [sortable]=true [width]="col.width" [minWidth]="50" [cellClass]="getIndexesCellClass"
            [headerClass]="dataTableService.kebab('cmp-indexes__table--'+col.prop)">

            <ng-template ngx-datatable-header-template>
                <span class="cmp-indexes__table--avg-annual" *ngIf="col.prop === 'ret1yr'">
                    <span class="cmp-indexes__table--avg-annual-total"
                        [innerText]="columnHeaders.labels['nylim.avgAnnualTotalReturn']"></span>

                </span>
                <span [class]="dataTableService.kebab('heading-'+col.prop)" [innerText]="col.name"></span>
                {{setSymbolHeadingPosition()}}
            </ng-template>

            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span *ngIf="col.prop !== classInceptionDate  && value !== nullData && col.prop !== 'assetClass'"
                    [innerText]="value"></span>

                <ng-template [ngIf]="col.prop === 'assetClass'">
                    <span *ngIf="columnHeaders.labels['nylim.assetClass.'+camel(value)+'.rowLabel']"
                        [innerText]="columnHeaders.labels['nylim.assetClass.'+camel(value)+'.rowLabel']"></span>
                    <span
                        *ngIf="camel(value) === 'convertibles' || camel(value) === 'multiAsset' || camel(value) === 'allocation'"
                        [innerText]="columnHeaders.labels['nylim.assetClass.multiasset.rowLabel']"></span>
                </ng-template>
                <span *ngIf="col.prop === classInceptionDate && value !== naCompare"
                    [innerHTML]="value | date: 'MM/dd/yyyy'"></span>
                <span *ngIf="col.prop === classInceptionDate && value === naCompare" [innerHTML]="nullData"></span>
                <span *ngIf="value === nullData" [innerHTML]="naCompare"></span>
            </ng-template>

        </ngx-datatable-column>
    </ngx-datatable>
    <div class="cmp-indexes__table--symbol-header" ng-init="setSymbolHeadingPosition()"></div>
</div>
