<div class="cmp-unclaimed-funds">
    <form class="cmp-unclaimed-funds__form" id="unclaimed-funds-form" novalidate>
        <h3 class="cmp-unclaimed-funds__form--unsuccessful-error">${'foundation.unclaimedFunds.generalError' @ i18n}
        </h3>
        <div class="mb-3">
            <label class="cmp-unclaimed-funds__label" for="unclaimed-last-name">${'foundation.unclaimedFunds.lastName' @
                i18n}</label> <input type="text" name="lastName" id="unclaimed-last-name"
                class="form-control form-control-lg">
            <div class="invalid-feedback">${'foundation.unclaimedFunds.validCombinationMessage' @ i18n}</div>
        </div>
        <div class="mb-3">
            <label class="cmp-unclaimed-funds__label" for="unclaimed-city">${'foundation.unclaimedFunds.city' @
                i18n}</label> <input type="text" name="city" id="unclaimed-city" class="form-control form-control-lg">
            <div class="invalid-feedback">${'foundation.unclaimedFunds.validCombinationMessage' @ i18n}</div>
        </div>
        <div class="mb-3">
            <label class="cmp-unclaimed-funds__label" for="unclaimed-zip">${'foundaton.unclaimedFunds.zip' @
                i18n}</label> <input type="tel" name="zip" id="unclaimed-zip" class="form-control form-control-lg"
                maxlength="5">
            <div class="invalid-feedback">${'foundation.unclaimedFunds.validCombinationMessage' @ i18n}</div>
        </div>
        <div class="mb-3">
            <label class="cmp-unclaimed-funds__label" for="unclaimed-state">${'foundation.unclaimedFunds.state' @
                i18n}</label> <select id="unclaimed-state" name="state" class="form-control form-control-lg">
                <option selected="" value="">${'foundation.unclaimedFunds.selectState' @ i18n}</option>
                <sly data-sly-use.model="${'com.nyl.foundation.models.CommonValuesModel' @ property='usStatesProspectus'}"
                    data-sly-list.states="${model.keyValues}">
                    <option value="${states.key}">${states.value}</option>
                </sly>
            </select>
            <div class="invalid-feedback">${'foundation.unclaimedFunds.validCombinationMessage' @ i18n}</div>
        </div>
        <button type="submit" name="submit" value="search" class="cmp-unclaimed-funds__button nyl-button mt-4 mb-2">
            ${'foundation.unclaimedFunds.submit' @ i18n} <img
                src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--white.svg"
                class="icon-cta-arrow" alt="">
        </button>
    </form>
    <div class="my-3 cmp-unclaimed-funds-result ">
        <h3>${'foundation.unclaimedFunds.resultsHeading' @ i18n}</h3>
        <div class="cmp-unclaimed-funds-result-data --loading-indicator py-3">
            <div class="cmp-unclaimed-funds-result-nodatafound">${'foundation.unclaimedFunds.noResults' @ i18n}</div>
        </div>
    </div>
    <div class="my-3">
        <label class="cmp-unclaimed-funds__label" for="unclaimed-state-link">${properties.stateSelectorIntro}</label>
        <select id="unclaimed-state-link" class="form-control form-control-lg">
            <sly data-sly-list.parentNode="${resource.listChildren}">
                <sly data-sly-list.statesList="${parentNode.listChildren}">
                    <sly data-sly-use.model="${'com.nyl.foundation.models.LinkModel'  @ linkUrl=statesList.stateUrl}">
                        <option value="${model.linkUrl}">${statesList.stateName}</option>
                    </sly>
                </sly>
            </sly>
        </select>
    </div>
    <div class="cmp-unclaimed-funds__state-link-wrapper my-3">
        <p>${properties.stateLinkIntro}</p>
        <a target="_blank"> <span class="cmp-unclaimed-funds__button nyl-button"> ${properties.ctaText} <img
                    src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--white.svg"
                    class="icon-cta-arrow" alt="">
            </span>
        </a>
    </div>
</div>
