<div class="global-data-attribute" data-fundId="F_MDT">
</div>

<div class="cmp-cef-daily-pricing-since-inception">
    <div class="cmp-cef-daily-pricing-since-inception__container-div">
        <div class="row cmp-cef-daily-pricing-since-inception__main-container-row">
            <div class="col-12 cmp-cef-daily-pricing-since-inception__heading-section">
                <span class="cmp-cef-daily-pricing-since-inception__heading-text heading-text"></span>
            </div>
        </div>
        <div class="col-12 cmp-cef-daily-pricing-since-inception__wrapper">
            <div class="cmp-cef-daily-pricing-since-inception__left"></div>
            <div
                class="cmp-cef-daily-pricing-since-inception__right cmp-cef-daily-pricing-since-inception__right-gradient">
            </div>
            <div class="col-12  cmp-cef-daily-pricing-since-inception__table">
                <ul class="cmp-cef-daily-pricing-since-inception__list-container closed-end-type-tables">
                    <li>
                        <div
                            class="row cmp-cef-daily-pricing-since-inception__main-row cmp-cef-daily-pricing-since-inception__table-header-row">
                            <div class="col-3 cmp-cef-daily-pricing-since-inception__header-item">
                                <span class="cmp-cef-daily-pricing-since-inception__table-item-text">Date</span>
                            </div>
                            <div class="col-3 cmp-cef-daily-pricing-since-inception__header-item">
                                <span class="cmp-cef-daily-pricing-since-inception__table-item-text">Closing
                                    Price</span>
                            </div>
                            <div class="col-3 cmp-cef-daily-pricing-since-inception__header-item">
                                <span class="cmp-cef-daily-pricing-since-inception__table-item-text">NAV</span>
                            </div>
                            <div class="col-3 cmp-cef-daily-pricing-since-inception__header-item">
                                <span
                                    class="cmp-cef-daily-pricing-since-inception__table-item-text">Premium/Discount</span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="cmp-cef-daily-pricing-since-inception__pagination">
                <div class="cmp-cef-daily-pricing-since-inception__page-item">
                    <span class="cmp-cef-daily-pricing-since-inception__pagination-current-index"></span>
                    <span class="cmp-cef-daily-pricing-since-inception__of-label"></span>
                    <span class="cmp-cef-daily-pricing-since-inception__pagination-total-length"></span>
                    <button
                        class="cmp-cef-daily-pricing-since-inception__page-item cmp-cef-daily-pricing-since-inception__previous"
                        title="${'nylim.previous' @ i18n}" aria-label="${'nylim.previous' @ i18n}"></button>
                    <button
                        class="cmp-cef-daily-pricing-since-inception__page-item cmp-cef-daily-pricing-since-inception__next"
                        title="${'nylim.next' @ i18n}" aria-label="${'nylim.next' @ i18n}">
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
