.cmp-search-result {
    &__facets {
        h2,
        h3 {
            @extend .base-font;
            font-size: calcRem(18px);
            line-height: 24px;
        }

        &--sm-heading {
            font-size: calcRem(18px);
            line-height: calcRem(22px);
            margin: 0;
            padding: 0;
            font-weight: normal;
            margin-bottom: calcRem(16px);
            margin-top: calcRem(43px);
        }

        &--filters-label {
            display: inline-block;
            font-size: calcRem(18px);
            line-height: 24px;
            margin-bottom: calcRem(8px);
        }
        &--accordion {
            .card-header {
                color: $white;
                background-color: $light-gray;
                font-size: calcRem(18px);
                padding-bottom: calcRem(19px);
                padding-left: calcRem(19px);
                padding-top: calcRem(14px);
                margin-bottom: 9px !important;
                border-bottom: none;
                .btn {
                    padding: 0;
                }
                .btn-link {
                    @extend .font-weight-medium;
                    color: $black;
                    text-decoration: none;
                }
            }

            .card-body {
                padding-top: 0;
                padding-left: 0;
            }
        }
        .card-header button {
            width: 100%;
            overflow: hidden;
            text-align: left;
        }

        &--filter-btn {
            display: inline-block;
            position: relative;
            border-radius: calcRem(4px);
            color: $white;
            font-family: $font-family-effra-pro;
            font-size: calcRem(18px);
            margin-right: calcRem(8px);
            margin-bottom: calcRem(9px);
            text-align: center;
            padding-left: calcRem(20px);
            padding-right: calcRem(20px);
            padding-top: calcRem(6px);
            padding-bottom: calcRem(6px);
            border: calcRem(1px) solid $medium-gray;
        }
        &--filter-btn[data-selected='true'] {
            background-color: $brand-blue;
            border: none;
            span {
                display: inline-block;
            }
        }
        &--filter-btn[data-selected='false'] {
            color: $black;
            background-color: $white;
            span {
                display: none;
            }
        }

        &--filter-btn-close {
            display: inline-block;
            overflow: visible;
            position: relative;
            right: calcRem(0px);
            margin-left: calcRem(15px);
            background-image: url('../resources/images/icon-close--white.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 12px 12px;
            height: 12px;
            width: 12px;
        }

        &--filter-chevron-d,
        &--filter-chevron-u,
        &--filter-chevron-l,
        &--filter-chevron-r {
            display: inline-block;
            background-image: url('../resources/images/icon-caret--black.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            height: calcRem(22px);
            width: calcRem(22px);
        }

        &--filter-chevron-u {
            transform: rotate(180deg);
        }

        &--filter-chevron-l {
            width: 16px;
            transform: rotate(90deg);
        }

        &--filter-chevron-r {
            width: 16px;
            transform: rotate(270deg);
        }

        &--collapse-btn {
            position: relative;
            h3 {
                padding-right: calcRem(28px);
                white-space: normal;
            }
            span {
                position: absolute;
                top: 0;
                right: 0;
                margin-left: calcRem(16px);
            }
        }

        &--med-vw-btn {
            width: 100%;
            border: none;
            text-align: left;
            background-color: $light-gray;
            padding-top: calcRem(12px);
            padding-bottom: calcRem(10px);
            padding-left: calcRem(19px);

            span.cmp-search-result__facets--filters-label {
                margin-left: calcRem(19px);
            }
            span.cmp-search-result__facets--filter-chevron-r {
                position: absolute;
                right: calcRem(35px);
                bottom: 16px;
            }
        }

        &--clear-facets {
            font-size: calcRem(18px);
            text-decoration: underline;
            color: $black;
            background-color: transparent;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 0;
        }

        &--facets-disabled {
            display: none !important;
        }

        @include media-breakpoint-down(md) {
            &--clear-facets {
                font-size: calcRem(18px);
                line-height: calcRem(22px);
                margin: 0;
                padding: 0;
                font-weight: normal;
                margin-bottom: calcRem(16px);
                margin-top: calcRem(43px);
                margin-right: 20px;
            }
            &--back-btn {
                background-color: transparent;
                border: none;
                font-size: calcRem(18px);
                padding: 0;
                position: relative;
                padding-left: 25px;

                span {
                    position: absolute;
                    left: 0;
                    top: 3px;
                }
            }
            &--collapse-btn:hover {
                text-decoration: none;
            }
            &--wrap {
                background-color: $white;
                border-color: $medium-gray $medium-gray $medium-gray $medium-gray;
                border-radius: 4px 0 0 4px;
                border-style: solid solid solid solid;
                border-width: 1px 0px 1px 1px;
                margin-right: 0;
                padding-left: calcRem(10px);
                padding-right: calcRem(2px);
                padding-top: calcRem(20px);
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                width: 75%;
                z-index: 1;
            }
        }
    }
}
