// Search Result Component
.cmp-search-result {
    &--hide-loading-indicator {
        width: 100%;
        min-height: 100px;
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: center;
        background-image: url('../resources/images/icon-spinner.svg');
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }

    #cmp-search-result__load-more {
        display: none;
    }

    &--result {
        @extend .base-font;

        .highlight {
            font-weight: $font-weight-bold;
        }

        h2 {
            @extend .base-font;
            font-weight: $font-weight-medium;
            text-decoration: underline;
            line-height: 24px;
        }
    }

    h1 {
        @extend .base-font;
        font-size: calcRem(18px);
    }

    &--load-more {
        margin-bottom: 0.9375rem;
    }

    &__load-more {
        display: none;
    }

    &__not-loading {
        display: none;
    }

    &__loading-icon {
        display: none;
    }

    &__loading-indicator {
        width: 100px;
        height: 100px;
        position: relative;
        left: 50%;
        top: 50%;
    }

    &__sm-h1 {
        appearance: none;
        font-size: calcRem(18px);
    }

    // Search Recommended
    &__empty {
        display: none;
        flex-direction: column;

        h2 {
            font-size: calcRem(18px);
        }

        &--wrap {
            display: flex;
            flex-flow: nowrap;

            @include media-breakpoint-down(sm) {
                flex-flow: wrap;
            }

            :last-child {
                margin-right: 0;
            }
        }

        &--card {
            background-color: #f0f4fb;
            border-radius: calcRem(5px);
            border: none;
            margin-right: calcRem(11px);

            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }

            padding: calcRem(22px) calcRem(30) calcRem(22px) calcRem(30);
            flex-basis: 100%;

            .card-body {
                display: flex;
                flex-direction: column;
                overflow: hidden;
            }

            a {
                margin-top: auto;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: calcRem(10px);
                .card-body {
                    padding: 0;
                }
            }
        }

        .nyl-button {
            padding-left: 0px;
            i {
                background-image: url('../resources/images/icon-cta-arrow--black.svg');
            }
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        position: relative;

        @include media-breakpoint-down(sm) {
            a {
                font-size: 0;
            }

            a:after {
                content: '.';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    // Search  Promoted
    &__promoted {
        flex-direction: column;
        &--wrap {
            display: flex;
            flex-flow: nowrap;

            @include media-breakpoint-down(sm) {
                flex-flow: wrap;
            }

            :last-child {
                margin-right: 0;
            }
        }

        &--card {
            background-color: #f0f4fb;
            border-radius: calcRem(5px);
            border: none;
            margin-right: calcRem(11px);
            padding: calcRem(22px) calcRem(30) calcRem(22px) calcRem(30);
            flex-basis: 33%;
            @include media-breakpoint-down(sm) {
                margin-right: 0;
                flex-basis: 100%;
            }

            .card-body {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                padding: 0;

                h3 {
                    font-size: calcRem(24px);
                    line-height: calcRem(32px);
                    @include media-breakpoint-down(sm) {
                        font-size: calcRem(22px);
                        line-height: calcRem(33px);
                    }
                }
            }

            a {
                margin-top: auto;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: calcRem(10px);
            }

            .card-text {
                max-height: calc(1.6875rem * 4);
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .nyl-button {
            padding-left: 0px;
            i {
                display: inline-block;
                width: 18px;
                height: 14px;
                background-image: url('../resources/images/icon-cta-arrow--black.svg');
                background-repeat: no-repeat;
            }
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        position: relative;

        @include media-breakpoint-down(sm) {
            a {
                font-size: 0;
            }

            a:after {
                content: '.';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
