<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.searchPageLinkUrl, classAppend='cmp-tag-cloud-placeholder'}" />
<div class="cmp-tag-cloud" data-sly-use.tagCloud="com.nyl.foundation.models.TagCloudModel"
    data-sly-test="${properties.searchPageLinkUrl}">
    <div class="cmp-tag-cloud__title">${'foundation.search.tagLabel' @ i18n}</div>
    <sly data-sly-list.facet="${tagCloud.tagList}"> <a
            href='${properties.searchPageLinkUrl}.html?q=*&q.filter=AND(${facet.filterName}:"${facet.title}")'
            title="${facet.title}"> ${facet.title} </a> </sly>
</div>
