.cmp-rates {
    background-color: transparent;
    @extend %mobile-full-width;
    margin-top: calcRem(0px) !important;
    margin-bottom: calcRem(30px);
    @include media-breakpoint-up(md) {
        width: 100%;
    }
    &__error-message {
        display: none;
    }
    &__rates-table {
        width: 100%;
        border-spacing: 0px 2px;
        border-collapse: separate;
        @include media-breakpoint-down(md) {
            min-width: calcRem(943px);
        }
    }
    &__rates-table tr:first-child {
        height: calcRem(40px);
        background: $steel;
    }
    &__rates-table tr th:first-child {
        padding-left: calcRem(20px);
    }
    &__table-caption {
        padding-bottom: calcRem(0px);
        padding-top: calcRem(0px);
    }
    &__rates-table th {
        color: $white;
        font-family: $font-family-helvetica-neue;
        padding-right: calcRem(20px);
        & p {
            margin-bottom: calcRem(0px);
            @include font-size(14px);
            letter-spacing: 0;
            font-weight: normal;
            @include line-height(18px);
        }
    }
    &__rates-table tr:not(:first-child) {
        background: $light-steel-3;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        height: calcRem(50px);
        margin-bottom: calcRem(2px);
        & td:first-child {
            white-space: nowrap;
        }
    }
    &__rates-table tr td {
        padding-right: calcRem(20px);
    }
    &__rates-table tr:not(:first-child) td:first-child.mergedCell {
        padding-left: calcRem(20px);
        border-right: solid 2px $white;
    }
    &__rates-table.h-merge tr:not(:first-child) td:first-child {
        padding-left: calcRem(20px);
    }
    &__rates-table.grid-nine tr:not(:first-child) td:first-child {
        font-weight: bold;
    }
    &__rates-table:not(.h-merge) tr:first-child th:nth-child(2) {
        padding-left: calcRem(20px);
    }
    &__rates-table:not(.h-merge) {
        & tr.span-row td:nth-child(2) {
            padding-left: calcRem(20px);
        }
        & tr:not(.span-row) td:nth-child(1) {
            padding-left: calcRem(20px);
        }
    }

    &__table-name.name p {
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: calcRem(1.12px);
        @include line-height(18px);
        margin-bottom: calcRem(20px);
        color: $steel;
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__rates-table-wrapper {
        padding-left: calcRem(0px);
        padding-right: calcRem(0px);
    }
    &__left {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    &__right {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: 0;
        }
        @media print {
            display: none !important;
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
        }
        @media print {
            display: none !important;
        }
    }
    .container {
        @include media-breakpoint-down(md) {
            max-width: none;
        }
    }
    &__rates-table-parent-div {
        overflow-x: auto;
    }
}

.cmp-product {
    &--dark-salmon {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $dark-salmon;
            }
        }
    }
    &--medium-salmon {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $medium-salmon;
            }
        }
    }
    &--dark-twilight {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $dark-twilight;
            }
        }
    }
    &--medium-twilight {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $medium-twilight;
            }
        }
    }
    &--dark-dusk {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $dark-dusk;
            }
        }
    }
    &--medium-dusk {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $medium-dusk;
            }
        }
    }
    &--dark-rain {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $dark-rain;
            }
        }
    }
    &--medium-rain {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $medium-rain;
            }
        }
    }
    &--dark-palm {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $dark-palm;
            }
        }
    }
    &--medium-palm {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $medium-palm;
            }
        }
    }
    &--dark-gold {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $dark-gold;
            }
        }
    }
    &--medium-gold {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $medium-gold;
            }
        }
    }
    &--dark-sunset {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $dark-sunset;
            }
        }
    }
    &--medium-sunset {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $medium-sunset;
            }
        }
    }
    &--dark-steel {
        & .cmp-rates {
            &__rates-table tr:first-child {
                background: $dark-steel;
            }
        }
    }
}
.cmp-rates--margin-left {
    .cmp-rates {
        @include media-breakpoint-up(lg) {
            padding-left: calcRem(7.5px);
        }
    }
}

.cmp-rates--margin-right {
    .cmp-rates {
        @include media-breakpoint-up(lg) {
            padding-right: calcRem(7.5px);
        }
    }
}
