.cmp-table-container {
    &__cell {
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            background-color: #0a3c53 !important;
        }
    }
}
