$hero-background-colors: (
    'blue-light': $blue-light,
    'blue-medium': $blue-medium,
    'blue-dark': $blue-dark,
    'blue-extra-dark': $blue-extra-dark,
);
%description-style {
    color: $grey-dark;
    font-family: $font-family-effra-pro;
    @include font-size-line-height(calcRem(18px), calcRem(24px));
    font-weight: normal;
    margin: 0;
    @include media-breakpoint-up(lg) {
        @include font-size-line-height(calcRem(22px), calcRem(28px));
    }
}
.cmp-hero {
    background-color: $white;
    margin-top: 24px;
    margin-left: -12px;
    margin-right: -12px;
    @include media-breakpoint-up(sm) {
        min-height: calc(400px);
        display: flex;
    }
    @include media-breakpoint-up(lg) {
        min-height: calc(600px);
        margin-top: 24px;
        margin-left: -68px;
        margin-right: -68px;
    }
    &__image {
        @include col-width(12);
        display: block;
        line-height: 0;
        flex-direction: column;
        justify-content: center;
        img {
            max-width: 100%;
            width: 100%;
        }
        @include media-breakpoint-up(md) {
            img {
                object-position: right;
                object-fit: cover;
                min-height: 100%;
            }
        }
        @include media-breakpoint-up(sm) {
            @include col-width(6);
            order: 2;
        }
        + .cmp-hero__container {
            width: 50%;
            @include media-breakpoint-down(sm) {
                @include col-width(12);
            }
        }
    }
    &__container {
        @include col-width(12);
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: calc(40px) calc(24px) calc(56px);
        @include media-breakpoint-up(sm) {
            padding: calc(40px) calc(24px) calc(56px);
        }
        @include media-breakpoint-up(lg) {
            padding: calc(72px) calc(48px) calc(96px) calc(80px);
        }
    }
    &__pretitle {
        color: $grey-dark;
        @include font-size-line-height(calcRem(14px), calcRem(16px));
        font-family: $font-family-effra-pro;
        font-weight: 500;
        letter-spacing: calc(2px);
        margin-bottom: calc(8px);
        text-transform: uppercase;
    }
    &__title {
        font-family: $font-family-alda-pro;
        color: $cool-black;
        margin: 0;
        text-transform: none;
        letter-spacing: normal;
        @include font-size-line-height(calcRem(38px), calcRem(46px));
        font-weight: normal;
        margin-bottom: calc(16px);
        @include media-breakpoint-up(lg) {
            @include font-size-line-height(calcRem(58px), calcRem(64px));
            margin-bottom: calc(24px);
        }
        a {
            color: $cool-black;
        }
    }
    &__description {
        margin-bottom: calc(24px);
        @include media-breakpoint-up(lg) {
            margin-bottom: calc(40px);
        }
        @extend %description-style;
        p {
            @extend %description-style;
        }
    }
    &__cta {
        display: flex;
        flex-flow: column;
        @include media-breakpoint-up(lg) {
            flex-flow: row;
        }
        div {
            margin-bottom: calc(24px);
            @include media-breakpoint-up(lg) {
                margin-bottom: calc(0);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            font-family: $font-family-effra-pro;
            @include font-size-line-height(calcRem(18px), calcRem(24px));
            font-weight: 500;
            text-decoration: none;
            text-align: center;
        }
        div + div {
            @include media-breakpoint-up(lg) {
                margin-left: calc(24px);
            }
        }
    }
    .no-image {
        padding: calc(40px) calc(24px) calc(56px);
        @include media-breakpoint-up(sm) {
            @include col-width(10);
        }
        @include media-breakpoint-up(lg) {
            @include col-width(8);
            padding: calc(72px) calc(48px) calc(96px) calc(80px);
        }
        .cmp-hero {
            &__cta {
                display: flex;
                flex-flow: column;
                @include media-breakpoint-up(sm) {
                    flex-flow: row;
                }
                a {
                    @include media-breakpoint-up(sm) {
                        flex-flow: row;
                        margin-bottom: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                div + div {
                    @include media-breakpoint-up(sm) {
                        margin-left: calc(24px);
                    }
                }
            }
        }
    }
    &__billboard {
        .cmp-hero {
            &__pretitle {
                display: none;
            }
            &__image {
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $jet-black;
                    opacity: 0.2;
                    z-index: 1;
                }
                + .cmp-hero__container {
                    width: 100%;
                }
            }
            &__content {
                background-color: $white;
            }

            @include media-breakpoint-up(md) {
                margin-left: calc(-50vw) !important;
                margin-right: calc(-50vw) !important;
                width: calc(100vw);
                left: 50%;
                right: 50%;
                position: relative;
                background-color: transparent;
                overflow: hidden;
                &__image {
                    width: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: block;
                }
                &__container {
                    z-index: 0;
                    width: 100%;
                    max-width: 1280px;
                    margin: 72px auto 96px;
                }
                &__content {
                    position: relative;
                    z-index: 1;
                    max-width: 560px;
                    padding: 24px 40px 40px;
                }
                &__description {
                    margin-bottom: 24px;
                }
            }
            @include media-breakpoint-up(lg) {
                &__container {
                    padding-left: 68px;
                    padding-right: 68px;
                }
            }
            @include media-breakpoint-down(md) {
                min-height: calc(500px);
                &__container {
                    margin: 40px 0 56px;
                }
                &__content {
                    padding: 24px 32px 32px;
                    max-width: 296px;
                    margin-left: 12px;
                }
                &__title {
                    margin-bottom: 16px;
                }
                &__description {
                    margin-bottom: 16px;
                }
            }
            @include media-breakpoint-down(sm) {
                margin-top: 24px;
                margin-left: -16px;
                margin-right: -16px;
                min-height: auto;
                &__title {
                    margin-bottom: 32px;
                }
                &__container {
                    padding: 0;
                    max-width: unset;
                    width: 100%;
                    margin: 0;
                }
                &__content {
                    padding: 24px;
                    max-width: unset;
                    min-height: auto;
                    margin-left: 0;
                }
                &__description {
                    display: none;
                }
                &__image {
                    overflow: hidden;
                    position: relative;
                }
            }
        }
    }
    @each $color-name, $background-color in $hero-background-colors {
        &__#{$color-name} .cmp-hero {
            background-color: $background-color;
            &__content {
                background-color: $background-color;
            }
            &__pretitle,
            &__title,
            &__title a {
                color: $white;
            }
            &__description,
            &__description p {
                color: $grey-medium;
            }
            &__cta {
                .button a {
                    @include default-focus-state($white);
                    @include default-anchor-border-style(transparent);
                    @include default-button-state-style($white, $white, $brand-blue);
                    &:hover {
                        @include default-anchor-border-style($white);
                        @include default-button-state-style($white, $white, $blue-light);
                    }
                    &:active {
                        @include default-button-state-style($grey-light, $grey-light, $blue-dark);
                    }
                }
                .button-transparent a {
                    @include default-button-state-style(transparent, $white, $white);
                    &:hover {
                        @include default-anchor-border-style($grey-light);
                        @include default-button-state-style(transparent, transparent, $grey-light);
                    }
                    &:active {
                        @include default-button-state-style(transparent, $grey-medium, $grey-medium);
                    }
                }
            }
        }
    }
}
