<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-schema-markup-placeholder'}" />
<sly data-sly-use.articleSchemaModel="${'com.nyl.foundation.models.ArticleSchemaModel' @componentName='schema-markup'}">
    <script type="application/ld+json">
        ${articleSchemaModel.articleSchema @ context='unsafe'}
    </script>
</sly>
