<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = !properties.title}" />
<div class="cmp-product cmp-rte" data-sly-use.link="${'com.nyl.foundation.models.LinkModel' @ prefix='linkCta'}"
    data-product-navigation-name="${properties.productNavigationName}"
    data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel">
    <div class="cmp-product__accordion-item">
        <h2 class="cmp-product__accordion-item--heading heading-text cmp-rte"
            data-leftnav="${properties.productNavigationName}">
            <em class="icon-caret"></em>${properties.productName @context='html'}
            <sly data-sly-test="${properties.imagePath}"
                data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html" data-sly-call="${image.imageTemplate @componentName='product', 
            imagePath=properties.imagePath, imgClass='parallax'}">
            </sly>
        </h2>
        <div class="${(wcmmode.edit || wcmmode.preview) ? '' : 'cmp-product__accordion-item--content'}">
            <div class="cmp-product-intro cmp-rte" data-sly-test="${properties.introText}">${properties.introText
                @context='html'}</div>
            <sly data-sly-resource="${'section' @resourceType='wcm/foundation/components/responsivegrid'}"></sly>
            <div data-sly-test="${properties.description} cmp-rte" class="cmp-product__description-text description">
                ${properties.description @context='html'}
            </div>
            <div data-sly-test="${link.text && link.url}" class="cmp-product__accordion-item--content-link">
                <a class="anchor-link" href="${link.url}" title="${link.title}" target="${link.behavior}">
                    <em class="icon-pdf"></em>${link.text}</a>
            </div>
            <div class="product-disclosures ${identifier.id} cmp-rte" data-id="${identifier.id}"
                data-sly-test="${properties.disclosures}">
                ${properties.disclosures
                @context='html'}</div>
            <div class="i18-label">${'annuities.rates.standardDisclousure' @i18n}</div>
        </div>
    </div>
</div>
