<div data-edit-mode="false" class="cmp-calculator-container" data-calc-type="ret03" data-i18n-labels="{
    'startOverButton': 'Start Over',
    'resultViewHeadline': 'Your Results',
    'years': 'years'
}" data-author-values="{
    'errorMessage': 'calc error!!',
    'negativeResult': {
        'headline' : ',
        'description' : ',
        'valueSubtext1' : ',
        'valueSubtext2' : ',
        'valueSubtext3' : ',
        'subHeadline1' : ',
        'subHeadline2' : ',
        'subHeadline3' : ',
        'disclaimer' : ',
        'connectDescription' : ',
        'CtaLinkUrl' : ',
        'CtaLinkBehaviour': '_self',
        'CtaLinkText': ',
        'CtaLinkTitle': '
    },
    'result': {
        'headline' : ',
        'description' : ',
        'valueSubtext1' : ',
        'valueSubtext2' : ',
        'valueSubtext3' : ',
        'subHeadline1' : ',
        'subHeadline2' : ',
        'disclaimer' : ',
        'connectDescription' : ',
        'CtaLinkUrl' : ',
        'CtaLinkBehaviour': '_self',
        'CtaLinkText': ',
        'CtaLinkTitle': '
    }
}">
    <div class="cmp-calculator-container__landing-view" style="display: none;">
        <button class="cmp-calculator-container__landing-button nyl-button button--primary">Get started</button>
    </div>
    <div class="cmp-calculator-container__main-view" style="display: flex;">
        <div class="col-12 col-md-4 cmp-calculator-container__table-of-contents">
            <h4 class="cmp-calculator-container__table-of-contents__headline">test calc
            </h4>
            <p class="cmp-calculator-container__steps"> Step <span class="cmp-calculator-container__current-step">1</span> of 2 </p>
            <ul class="cmp-calculator-container__table-of-contents-list">
                <li class="col-4 col-md-12 active"><span class="cmp-calculator-container_step">1</span> <span>section 1 title</span> </li>
                <li class="col-4 col-md-12"><span class="cmp-calculator-container_step">2</span> <span>section 2 title</span> </li>
            </ul>
        </div>
        <div class=" col-12 col-md-8 cmp-calculator-container__calculator">
            <div class="cmp-calculator-container__calculator-form">
                <form>
                    <div>
                        <section class="cmp-calculator-container__calculator-block active">
                            <h3 class="cmp-calculator-container__section-headline">
                                section 1 headline</h3>
                            <p class="cmp-calculator-container__section-info"> section 1 description</p>
                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                <div class="form-text-field aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-form-text-field">
                                        <label for="cmp-form-text-field--173740963_14" class="cmp-form-text-field__label"> question 1 </label>
                                        <input class="cmp-form-text-field__input" type="text" data-id="cmp-form-text-field--173740963_14" masking-type="default" max-length="100" min-length="0" id="cmp-form-text-field--173740963_14" name="question 1" aria-invalid="false" aria-describedby="cmp-form-text-field--173740963_14" required-type="false"> <span class="cmp-form-text-field__error-msg" data-id="cmp-form-text-field--173740963_14" id="cmp-form-text-field--173740963_14">q1 error</span> </div>
                                </div>
                                <div class="form-radio-button aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-form-radio-button">
                                        <div class="cmp-form-radio-button__wrapper" data-input-type="radio-group" required-type="false">
                                            <p class="cmp-form-radio-button__question"> question 2 </p>
                                            <div class="cmp-form-radio-button__container">
                                                <input type="radio" class="cmp-form-radio-button__circle" id="cmp-form-radio-button__id-question 2-option 1" name="question 2" value="option 1">
                                                <label class="cmp-form-radio-button__label" for="cmp-form-radio-button__id-question 2-option 1"><span></span>option 1</label>
                                            </div>
                                            <div class="cmp-form-radio-button__container">
                                                <input type="radio" class="cmp-form-radio-button__circle" id="cmp-form-radio-button__id-question 2-option 2" name="question 2" value="option 2">
                                                <label class="cmp-form-radio-button__label" for="cmp-form-radio-button__id-question 2-option 2"><span></span>option 2</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-range-slider aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-form-range-slider">
                                        <div class="cmp-form-range-slider__wrapper" data-id="question 3-2030291870_15" data-display="default" data-authored-values="{
            'defaultValue': ',
            'minValue': '0',
            'maxValue': '10'
        }" required-type="false">
                                            <div class="row cmp-form-range-slider__text-field-container">
                                                <div class="col-12 col-md-9">
                                                    <label for="range-value-textbox--2030291870_15" id="form-range-slider--2030291870_15" class="cmp-form-range-slider__text-field-text">question 3</label>
                                                </div>
                                                <div class="col-12 col-md-3 cmp-form-range-slider__value-container">
                                                    <input type="textbox" class="cmp-form-range-slider__value" data-id="question 3-2030291870_15" id="range-value-textbox--2030291870_15" name="question 3"> </div>
                                            </div>
                                            <div class="cmp-form-range-slider__container" data-id="question 3-2030291870_15"> <span for="range-slider--2030291870_15" class="cmp-form-range-slider__bubble" data-id="question 3-2030291870_15" style="left: calc(5.5px);">0</span> <span class="cmp-form-range-slider__error">q3 error</span>
                                                <input type="range" class="cmp-form-range-slider__type" data-id="question 3-2030291870_15" value="" min="0" max="10" step="1" aria-labelledby="form-range-slider--2030291870_15" style="background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(32, 95, 124)), from(rgb(233, 232, 232)));"> </div>
                                            <div class="cmp-form-range-slider__values-container d-flex"> <span> 0 </span> <span> 10</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="cmp-calculator-container__calculator-block">
                            <h3 class="cmp-calculator-container__section-headline">
                                section 2 headline</h3>
                            <p class="cmp-calculator-container__section-info"> section 2 description goes here</p>
                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                <div class="form-radio-button aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-form-radio-button">
                                        <div class="cmp-form-radio-button__wrapper" data-input-type="radio-group" required-type="false">
                                            <p class="cmp-form-radio-button__question"> question 2 </p>
                                            <div class="cmp-form-radio-button__container">
                                                <input type="radio" class="cmp-form-radio-button__circle" id="cmp-form-radio-button__id-question 2-option 1" name="question 2" value="option 1">
                                                <label class="cmp-form-radio-button__label" for="cmp-form-radio-button__id-question 2-option 1"><span></span>option 1</label>
                                            </div>
                                            <div class="cmp-form-radio-button__container">
                                                <input type="radio" class="cmp-form-radio-button__circle" id="cmp-form-radio-button__id-question 2-option 2" name="question 2" value="option 2">
                                                <label class="cmp-form-radio-button__label" for="cmp-form-radio-button__id-question 2-option 2"><span></span>option 2</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-text-field aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-form-text-field">
                                        <label for="cmp-form-text-field--1152245040_16" class="cmp-form-text-field__label"> question 1 </label>
                                        <input class="cmp-form-text-field__input" type="text" data-id="cmp-form-text-field--1152245040_16" masking-type="default" max-length="100" min-length="0" id="cmp-form-text-field--1152245040_16" name="question 1" aria-invalid="false" aria-describedby="cmp-form-text-field--1152245040_16" required-type="false"> <span class="cmp-form-text-field__error-msg" data-id="cmp-form-text-field--1152245040_16" id="cmp-form-text-field--1152245040_16">q1 error</span> </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="d-flex cmp-calculator-container__button-container">
                        <button class="cmp-calculator-container__back-button nyl-button button--secondary" type="button" style="display: none;">Back</button>
                        <button class="cmp-calculator-container__next-button nyl-button button--primary" type="button" style="display: block;">Next</button>
                        <button class="cmp-calculator-container__submit-button nyl-button button--primary" type="submit" style="display: none;"> <span><img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-spinner.gif" alt="" style="display: none;">Results
                            </span> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="cmp-calculator-container__success result-error" style="display: none;">
        <div class="cmp-calculator-container__success--container">
            <p class="cmp-calculator-container__success--pagetitle"></p>
            <h2 class="cmp-calculator-container__success--title"></h2>
            <p class="cmp-calculator-container__success--description">calc error!!</p>
            <div class="cmp-calculator-container__success--age--more d-flex flex-column flex-md-row flex-wrap justify-content-between"></div>
            <div class="cmp-calculator-container__success--chart"> <img src="" alt=""> </div>
            <div class="cmp-calculator-container__success--disclaimer" style="display: none;"></div>
            <hr class="cmp-calculator-container__success--divider">
            <div class="cmp-calculator-container__success--note"></div>
            <div class="d-flex justify-content-around">
                <div class="text-center cmp-calculator-container__start-over-container">
                    <button class="cmp-calculator-container__start-over-btn" type="button">Start Over</button>
                </div>
                <div class="text-center cmp-calculator-container__success--cta-btn-container">
                    <a href="" class="nyl-button button--primary" target=""> <span class="cmp-agent-presence-in-page__data-connect"></span> <i class="nyl-button--icon-arrow" aria-hidden="true"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>
