<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-table-container-placeholder'}" />
<div class="cmp-table-container">
    <div class="cmp-table-container__table">
        <div
            data-sly-use.tableContainerResource="${'com.nyl.foundation.models.ResourceModel' @resourcePath=resource.path, appendPath='tableColumn'}">
            <div class="cmp-table-container__cell cmp-table-container--spacer"></div>
            <sly data-sly-list.tablecolumn="${tableContainerResource.children}">
                <div class="cmp-table-container__cell">
                    <div class="cmp-table-container__cell-heading-wrapper">
                        <div data-sly-use.iconModel="${'com.nyl.foundation.models.ImageModel' @imagePath=tablecolumn.valueMap.iconUrl}"
                            class="cmp-table-container__cell-ico">
                            <img src="${tablecolumn.valueMap.iconUrl}" data-aem-asset-id="${iconModel.imageId}"
                                data-trackable="${iconModel.imageId? 'true' : ''}" alt="${iconModel.altText}"
                                height="68" width="89" />
                        </div>
                        <div class="cmp-table-container__cell__txt text__medium">${tablecolumn.columnHeader}</div>
                    </div>
                </div>
            </sly>
        </div>
        <sly data-sly-resource="${'par' @resourceType='wcm/foundation/components/parsys'}"></sly>
        <div>
            <div class="cmp-table-row__cell cmp-table-row--hide-sm"></div>
            <sly data-sly-use.model="${'com.nyl.foundation.models.LinkListModel' @child='tableColumn'}"
                data-sly-list.tablecolumn="${model.links}">
                <div class="cmp-table-row__cell cmp-table-row--full-cell-sm">
                    <a href="${tablecolumn.url}" target="${tablecolumn.behavior}" title="${tablecolumn.title}"
                        class="cmp-table-row__btn"> <span class="nyl-button button--secondary">
                            ${tablecolumn.text}
                        </span>
                    </a>
                </div>
            </sly>
        </div>
    </div>
</div>
