<div class="cmp-analyze-portfolio" data-portfolio-label="Your Sample Portfolio">
    <div class="cmp-analyze-portfolio__graph xray-container">
    </div>
    <div class="cmp-analyze-portfolio__rotate">
        <p class="cmp-analyze-portfolio__rotate-title">
            This is Mobile Title
        </p>
        <p class="cmp-analyze-portfolio__rotate-description">
            This is Mobile Description
        </p>
    </div>
</div>
