<sly data-sly-use.agentProfileModel="${'com.nyl.nylcom.models.agentweb.AgentProfileModel' @componentName='agent-profile'}" />
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !agentProfileModel.agentProfileInformation, classAppend='cmp-agent-profile-placeholder'}" />

<div class="cmp-agent-profile" data-marketer-number="${agentProfileModel.marketerNumber}"
    data-sly-test="${agentProfileModel.agentProfileInformation}">
    <div class="full-width cmp-agent-profile__details">
        <div class="cmp-agent-profile__details--category d-flex flex-column flex-md-row-reverse col">
            <div class="cmp-agent-profile__details--image-container"
                data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.profileImageFallback}">
                <img src="${agentProfileModel.agentProfileInformation.profileImage ? agentProfileModel.agentProfileInformation.profileImage : properties.profileImageFallback}"
                    data-aem-asset-id="${imageModel.imageId}" data-trackable="${imageModel.imageId? 'true' : ''}"
                    alt="${agentProfileModel.agentProfileInformation.fullName}  ${agentProfileModel.agentProfileInformation.title}" />
            </div>
            <div class="cmp-agent-profile__main flex-column">
                <div class="cmp-agent-profile__details--title--layout">
                    <div class="cmp-agent-profile__details--title">
                        <h1><span class="cmp-agent-profile__details--title--eyebrow">
                                ${agentProfileModel.agentProfileInformation.title}
                            </span>
                            ${agentProfileModel.agentProfileInformation.fullName}</h1>
                    </div>
                    <div class="cmp-agent-profile__details--address">
                        <p class="home">${agentProfileModel.agentProfileInformation.fullAddress}</p>
                        <p class="cmp-agent-profile__details--address--strong">
                            <sly data-sly-test="${agentProfileModel.agentProfileInformation.businessPhoneNumber}">
                                <sly
                                    data-sly-use.businessPhone="${'com.nyl.foundation.models.FormatterModel' @ input=agentProfileModel.agentProfileInformation.businessPhoneNumber}">
                                    <span
                                        class="cmp-agent-profile__details--address--strong">${'foundation.businessPhoneLabel'
                                        @ i18n}:</span>
                                    <span class="office">${businessPhone.phoneNumber}</span>
                                </sly>
                            </sly>
                            <sly data-sly-test="${agentProfileModel.agentProfileInformation.preferredPhoneNumber}">
                                <sly
                                    data-sly-use.preferredPhone="${'com.nyl.foundation.models.FormatterModel' @ input=agentProfileModel.agentProfileInformation.preferredPhoneNumber}">
                                    <span class="cmp-agent-profile__details--divider"><br></span>
                                    <span class="cmp-agent-profile__details--seperator"
                                        data-sly-test="${agentProfileModel.agentProfileInformation.businessPhoneNumber}">|</span>
                                    <span class="cmp-agent-profile__details--address--strong">
                                        ${'foundation.preferredPhoneLabel' @ i18n}:
                                    </span>
                                    <span class="office">${preferredPhone.phoneNumber}</span> </sly>
                            </sly>
                            <sly data-sly-test="${agentProfileModel.agentProfileInformation.faxPhoneNumber}">
                                <sly
                                    data-sly-use.faxPhone="${'com.nyl.foundation.models.FormatterModel' @ input=agentProfileModel.agentProfileInformation.faxPhoneNumber}">
                                    <span class="cmp-agent-profile__details--divider"><br></span>
                                    <span class="cmp-agent-profile__details--seperator"
                                        data-sly-test="${agentProfileModel.agentProfileInformation.preferredPhoneNumber || agentProfileModel.agentProfileInformation.businessPhoneNumber}">|</span>
                                    <span class="cmp-agent-profile__details--address--strong">
                                        ${'foundation.faxPhoneLabel' @ i18n}:
                                    </span><span class="office">${faxPhone.phoneNumber}</span> </sly>
                            </sly>
                        </p>
                        <sly data-sly-test="${agentProfileModel.agentProfileInformation.emailAddress}">
                            <p class="email">
                                <span class="cmp-agent-profile__details--address--strong">${'nyl.socialShare.email' @
                                    i18n}:</span> <a
                                    href="mailto: ${agentProfileModel.agentProfileInformation.emailAddress}">${agentProfileModel.agentProfileInformation.emailAddress}</a>
                            </p>
                        </sly>
                    </div>

                    <a title="${properties.linkTitle}" href="${properties.linkUrl}" target="_blank">
                        <span class="nyl-button"> ${properties.linkText} <img
                                src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--white.svg"
                                class="icon-cta-arrow" alt="">
                        </span>
                    </a>

                </div>
                <div class="cmp-breaker--white">
                    <hr class="cmp-breaker d-none d-md-block" />
                </div>
                <div class="cmp-agent-profile__details--description-section">
                    <h3>${properties.aboutMeTitle}</h3>
                    <p
                        data-sly-test.aboutMeDescription="${agentProfileModel.eagleAgent ? properties.aboutMeEagleDescription : properties.aboutMeDescription}">
                        ${aboutMeDescription @ context='html'}</p>
                </div>
                <div class="cmp-agent-profile__details--social--section"
                    data-sly-test="${agentProfileModel.agentProfileInformation.facebookLink || agentProfileModel.agentProfileInformation.twitterLink || agentProfileModel.agentProfileInformation.linkedInLink || agentProfileModel.agentProfileInformation.businessWebsiteLink}">
                    <h5>${properties.socialMediaTitle}</h5>
                    <a data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.facebookIcon}"
                        x-cq-linkchecker="skip"
                        data-sly-test="${agentProfileModel.agentProfileInformation.facebookLink}"
                        onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                        target="_blank" href="${agentProfileModel.agentProfileInformation.facebookLink}"
                        title="${agentProfileModel.agentProfileInformation.facebookIconTitle}"> <img
                            src="${properties.facebookIcon}" data-aem-asset-id="${imageModel.imageId}"
                            data-trackable="${imageModel.imageId? 'true' : ''}"
                            alt="${agentProfileModel.agentProfileInformation.facebookIconTitle}">
                    </a>
                    <a data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.linkedInIcon}"
                        x-cq-linkchecker="skip"
                        data-sly-test="${agentProfileModel.agentProfileInformation.linkedInLink}"
                        onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                        target="_blank" href="${agentProfileModel.agentProfileInformation.linkedInLink}"
                        title="${agentProfileModel.agentProfileInformation.linkedInIconTitle}"> <img
                            src="${properties.linkedInIcon}" data-aem-asset-id="${imageModel.imageId}"
                            data-trackable="${imageModel.imageId? 'true' : ''}"
                            alt="${agentProfileModel.agentProfileInformation.linkedInIconTitle}">
                    </a>
                    <a data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.twitterIcon}"
                        x-cq-linkchecker="skip" data-sly-test="${agentProfileModel.agentProfileInformation.twitterLink}"
                        onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                        target="_blank" href="${agentProfileModel.agentProfileInformation.twitterLink}"
                        title="${agentProfileModel.agentProfileInformation.twitterIconTitle}"> <img
                            src="${properties.twitterIcon}" data-aem-asset-id="${imageModel.imageId}"
                            data-trackable="${imageModel.imageId? 'true' : ''}"
                            alt="${agentProfileModel.agentProfileInformation.twitterIconTitle}">
                    </a>
                    <a data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @imagePath=properties.businessWebsiteIcon}"
                        x-cq-linkchecker="skip"
                        data-sly-test="${agentProfileModel.agentProfileInformation.businessWebsiteLink}"
                        onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                        target="_blank" href="${agentProfileModel.agentProfileInformation.businessWebsiteLink}"
                        title="${agentProfileModel.agentProfileInformation.businessWebsiteIconTitle}"> <img
                            src="${properties.businessWebsiteIcon}" data-aem-asset-id="${imageModel.imageId}"
                            data-trackable="${imageModel.imageId? 'true' : ''}"
                            alt="${agentProfileModel.agentProfileInformation.businessWebsiteIconTitle}">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="full-width cmp-agent-profile__dba-section"
        data-sly-test="${agentProfileModel.dbaIndicator && agentProfileModel.dbaName && agentProfileModel.dbaWebAddress}">
        <div
            class="cmp-agent-profile__dba-section--container d-flex align-items-center flex-column-reverse flex-md-row justify-content-between col">
            <div class="cmp-agent-profile__dba-section--logo order-1" data-sly-test="${agentProfileModel.dbaLogo}">
                <img alt="${agentProfileModel.dbaName} logo ${agentProfileModel.city}, ${agentProfileModel.state}"
                    src="${agentProfileModel.dbaLogo}"> </div>

            <div class="cmp-agent-profile__dba-section--details">
                <h2 class="cmp-agent-profile__dba-section-title">
                    <span class="cmp-agent-profile__dba-section-eyebrow">${properties.eyebrow}</span>
                    ${agentProfileModel.dbaName}
                </h2>
                <h5 class="cmp-agent-profile__dba-section-description">${properties.dbaDescription @ context='html'}
                </h5>
                <a x-cq-linkchecker="skip" href="${agentProfileModel.dbaWebAddress}"
                    title="${'nyl.agent.dbaButtonTitleAttribute' @ i18n} ${agentProfileModel.dbaName}" target="_blank">
                    <span class="nyl-button button--secondary">
                        ${'nyl.agent.dbaButtonText' @ i18n}
                        <img src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-cta-arrow--black.svg"
                            class="icon-cta-arrow" alt="">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
