<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-compare-products-placeholder'}" />
<div class="cmp-compare-products"
    data-sly-use.requestAttributeModel="${'com.nyl.foundation.models.RequestAttributeModel' @setComponentName='morningstar'}">
    <div class="cmp-compare-products__graph compare-products-container"></div>
    <div class="cmp-compare-products__rotate">
        <sly data-sly-use.xfIncludeTemplate="/apps/nyl-foundation/components/common/templates/xfinclude.html"
            data-sly-call="${xfIncludeTemplate.include @ path=properties.mobileRotateXf}"></sly>
        <p data-sly-test="${properties.mobileTitle}" class="cmp-compare-products__rotate-title">
            ${properties.mobileTitle}</p>
        <p data-sly-test="${properties.mobileDescription}" class="cmp-compare-products__rotate-description">
            ${properties.mobileDescription}</p>
    </div>
</div>
