.cmp-indexes__table {
    position: relative;
    padding-bottom: calcRem(72px);
    .datatable-row-wrapper:nth-child(1) {
        position: relative;
    }

    .datatable-row-wrapper .cmp-indexes__table--cell-symbol {
        position: sticky;
        top: 0;
        left: 0;
    }

    &--symbol-header {
        display: none;
        @include media-breakpoint-down(lg) {
            display: inline;
            @include font-size(13px);
            @include line-height(14px);
            background-color: $header-color;
            color: $white;
            line-height: 14px;
            padding-left: 12px;
            padding-top: 50px;
            z-index: 997;
            position: absolute;
            top: 0;
            &.sticky-shown {
                position: fixed;
                z-index: 997;
            }

            .sort-btn {
                content: '';
                border: 4px solid transparent;
                height: 18px;
                width: 13px;
                position: absolute;
                background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
                background-repeat: no-repeat;
                opacity: 0.3;
                @include transform(rotate(90deg));
                &::before {
                    transform: rotate(180deg);

                    content: '';
                    border: 4px solid transparent;
                    display: block;
                    height: 18px;
                    width: 13px;
                    z-index: 999;
                    position: absolute;
                    background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
                    background-repeat: no-repeat;
                    bottom: -6px;
                    right: 5px;
                }
            }
        }
    }
    .ngx-datatable {
        @extend %mobile-full-width;
        -webkit-transform: none;
        .empty-row {
            text-align: center;
            margin-top: 150px;
            width: 1110px !important;
            @include line-height(25px);
            @include font-size(15px);
            @extend %font-weight-bold;
        }
        .datatable-scroll {
            width: 100% !important;
            display: block !important;
        }
        .datatable-header {
            color: $white;
            background-color: $header-color;
            min-height: 86px;
            height: 86px;
            width: auto;
            max-width: 1110px;
            max-height: 86px;
            @include font-size(13px);
            @include line-height(14px);
            position: relative;
            top: 0;
            transition: top 0.25s ease, margin-top 0.25s ease;
            &.sticky-shown {
                position: fixed;
                z-index: 997;
            }
        }
        .datatable-header-cell {
            height: 86px;
            max-height: 86px;
            width: 34px;
            color: $white;
            @extend %font-weight-regular;
            letter-spacing: 0;
            @include line-height(14px);
            padding: 0 0 0 12px !important;
            background-color: #0a3c53;

            .datatable-header-cell-template-wrap {
                padding-top: 50px;
            }
        }
        .datatable-row-even {
            background-color: $white;
        }
        .sortable .sort-btn {
            content: '';
            border: 4px solid transparent;
            height: 18px;
            width: 13px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(270deg));
            bottom: 20px;
            display: inline-flex;
            opacity: 0.3;
            margin-left: 2px;
            margin-bottom: 5px;
        }
        .sortable .sort-btn:before {
            content: '';
            border: 4px solid transparent;
            display: block;
            height: 18px;
            width: 13px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(180deg));
            bottom: -6px;
            right: 5px;
        }
        .sortable .sort-btn.datatable-icon-up:before {
            content: '';
            border: 4px solid transparent;
            display: block;
            height: 18px;
            width: 13px;
            z-index: 999;
            position: absolute;
            background-image: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/icon-play--steel.svg');
            background-repeat: no-repeat;
            @include transform(rotate(180deg));
            bottom: -6px;
            right: 5px;
        }

        //color for rows even/odd
        .datatable-body {
            overflow-y: hidden;
            background-color: $white;
            .datatable-row-wrapper {
                :hover {
                    .cmp-indexes__table--cell-indexName {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    .cmp-indexes__table--cell-symbol.is-frozen,
                    .cmp-indexes__table--cell-ret1yr,
                    .cmp-indexes__table--cell-ret3yr,
                    .cmp-indexes__table--cell-ret5yr,
                    .cmp-indexes__table--cell-ret10yr,
                    .cmp-indexes__table--cell-retSi {
                        background-color: $even-row !important;
                    }
                    background-color: $even-row !important;
                }
            }
            .datatable-body-row.datatable-row-even {
                background-color: $white;
                border-top: none;
                width: 1110px !important;
                .datatable-body-cell {
                    @include font-size(14px);
                    @include line-height(18px);
                    display: flex !important;
                    align-items: center !important;
                    padding-left: 12px;
                    letter-spacing: 0;
                }
                .datatable-body-cell.is-frozen {
                    background-color: $white;
                }
            }
            .datatable-body-row.datatable-row-odd {
                background-color: $mobile-row;
                border-top: none;
                width: 1110px !important;
                .cmp-indexes__table--cell-ret1yr,
                .cmp-indexes__table--cell-ret3yr,
                .cmp-indexes__table--cell-ret5yr,
                .cmp-indexes__table--cell-ret10yr,
                .cmp-indexes__table--cell-retSi {
                    background-color: $light-steel-2;
                }
                .datatable-body-cell {
                    @include font-size(14px);
                    @include line-height(18px);
                    display: flex !important;
                    align-items: center !important;
                    padding-left: 12px;
                    letter-spacing: 0;
                }
                .datatable-body-cell.is-frozen {
                    background-color: $mobile-row;
                }
            }
        }
    }
    //col span class
    .datatable-header-cell.cmp-indexes__table--ret1yr {
        overflow: visible !important;
        .datatable-header-cell-template-wrap .sort-btn {
            margin-left: 20px;
        }
    }

    &--avg-annual {
        overflow: visible;
        position: absolute;
        z-index: 1;
        display: block;
        top: 11px;
        &-total {
            @include font-size(13px);
            @include line-height(14px);
        }
        &-asof {
            @include font-size(10px);
            @include line-height(14px);
        }
        span {
            display: block;
        }
    }
    .heading-ret1yr {
        display: block;
    }

    &--symbol {
        .heading-symbol {
            background-color: $header-color;
            @include line-height(14px);
            @include font-size(13px);
        }
    }
    &--inceptionDate {
        span {
            word-spacing: 70px;
            white-space: pre-wrap;
            @include line-height(15px);
            @include font-size(13px);
        }
        .datatable-header-cell-template-wrap {
            padding-top: 40px !important;
            .sort-btn {
                margin-left: 14px !important;
            }
        }
    }
    &--ret1M,
    &--ret3M {
        span {
            @include line-height(15px);
            @include font-size(13px);
        }
    }
    &--assetClass {
        span {
            @include line-height(15px);
            @include font-size(13px);
        }
    }

    &--ret1yr {
        background-color: rgba(0, 0, 0, 0.25) !important;
        .heading-ret1yr {
            @include font-size(13px);
            @include line-height(14px);
        }
    }
    &--ret3yr {
        background-color: rgba(0, 0, 0, 0.25) !important;
        .heading-ret3yr {
            @include font-size(13px);
            @include line-height(14px);
        }
    }
    &--ret5yr {
        background-color: rgba(0, 0, 0, 0.25) !important;
        .heading-ret5yr {
            @include font-size(13px);
            @include line-height(14px);
        }
    }
    &--ret10yr {
        background-color: rgba(0, 0, 0, 0.25) !important;
        .heading-ret10yr {
            @include font-size(13px);
            @include line-height(14px);
        }
    }
    &--retSi {
        background-color: rgba(0, 0, 0, 0.25) !important;
        .heading-retSi {
            @include font-size(13px);
            @include line-height(15px);
        }
    }
    // Cell data classes
    &--cell-symbol {
        @include font-size(12px);
        @include line-height(15px);
        @extend %font-weight-bold;
        white-space: normal !important;
        span {
            @include font-size(12px);
            @include line-height(15px);
            word-break: break-word;
        }
    }
    &--cell-indexName,
    &--cell-productType {
        @include font-size(14px);
        white-space: normal !important;
    }

    &--cell-assetClass,
    &--cell-ret1M,
    &--cell-ret3M {
        @include font-size(14px);
        white-space: normal !important;
    }

    &--cell-ret1yr,
    &--cell-ret3yr,
    &--cell-ret5yr,
    &--cell-ret10yr,
    &--cell-retSi {
        background-color: $mobile-row;
        word-break: break-all;
        @include font-size(14px);
        white-space: normal !important;
    }
    .gradient-display {
        display: none;
    }
    @include media-breakpoint-down(sm) {
        .right-gradient,
        .left-gradient {
            display: block;
            position: absolute;
            width: 30px;
            opacity: 0.8;
            z-index: 999;
        }
        .right-gradient {
            background: linear-gradient(90deg, rgba(129, 199, 255, 0) 0%, rgba(6, 58, 82, 0.31) 100%);
            right: -20px;
        }
        .left-gradient {
            background: linear-gradient(270deg, rgba(129, 199, 255, 0) 0%, rgba(6, 58, 82, 0.31) 100%);
            left: 55px;
        }
        .datatable-row-left {
            box-shadow: 9px 11px 18px -5px rgba(6, 58, 82, 0.31);
        }

        .datatable-body {
            .datatable-body-cell {
                @include font-size(14px);
                @include line-height(18px);
            }
            .datatable-row-odd {
                background-color: $mobile-row !important;
                .datatable-body-cell.is-frozen {
                    background-color: $mobile-row !important;
                }
            }
        }

        &--cell-symbol {
            text-decoration: underline;
            @include font-size(12px);
            @include line-height(14px);

            span {
                font-weight: 400;
                @include font-size(12px);
                @include line-height(14px);
                word-break: break-word;
            }
        }

        &--cell-indexName {
            span {
                font-weight: 700;
                @include font-size(14px);
                @include line-height(18px);
            }
        }

        &--count {
            &-number {
                @include line-height(28px);
                @include font-size(18px);
            }
            &-results {
                @include line-height(28px);
                @include font-size(18px);
            }
        }
    }

    .cmp-indexes__table-data-as-of {
        .cmp-indexes__table-data-as-of-date {
            @include font-size(14px);
            @include line-height(24px);
            @extend %font-weight-regular;
            @include media-breakpoint-down(sm) {
                @include font-size(12px);
                @include line-height(18px);
            }
        }
    }
}
