<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.buttonLinkText, classAppend='cmp-button-placeholder'}" />
<div class="cmp-button" data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ prefix='button'}"
    data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @ imagePath=properties.buttonIconPath}">
    <a data-sly-unwrap="${!(linkModel.url && linkModel.title)}" href="${linkModel.url}" title="${linkModel.title}"
        target="${linkModel.behavior}">
        <span data-sly-test="${linkModel.text}" class="nyl-button">
            <i data-sly-test="${imageModel.svg}" class="nyl-button--icon-prepend" aria-hidden="true">
                ${imageModel.svgSource @ context='unsafe'}
            </i>
            <span class="nyl-button--link-text">${linkModel.text}</span>
            <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
        </span>
    </a>
</div>
