<div class="disclosures aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-disclosures">
        <div class="cmp-disclosures__toggle d-flex justify-content-end" aria-expanded="false">
            <span class="cmp-disclosures__toggle--more">See More</span>
            <span class="cmp-disclosures__toggle--less">See Less</span>
        </div>
    </div>
</div>
