.cmp-daily-statistics--steel {
    .cmp-daily-statistics {
        background-color: $light-steel-3;
        &__daily-statistics-text {
            color: $steel;
        }
        &__trailing-six-months-text {
            color: $steel;
        }
        &__daily-stats-table tr:first-child {
            color: $steel;
        }
        &__pagination {
            color: $steel;
        }
        &__next {
            &:after {
                background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
            }
        }
        &__previous {
            &:after {
                background: url('../resources/images/icon-arrow-3--steel.svg') no-repeat center/contain;
            }
        }
    }
}
.cmp-daily-statistics {
    background-color: $steel;
    margin-top: 0px !important;
    padding-bottom: calcRem(72px) !important;
    @extend %full-width;
    &__daily-statistics-text {
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        @include line-height(17px);
        text-transform: uppercase;
    }
    &__trailing-six-months-text {
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(16px);
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        @include line-height(15px);
    }
    &__selected {
        font-weight: $font-weight-bold;
    }
    &__daily-stats-table {
        min-width: calcRem(1110px);
        border-spacing: 0px calcRem(2px);
        border-collapse: separate;
        padding-bottom: calcRem(24px);
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(20px);
            min-width: 200%;
        }
    }
    &__daily-stats-table tr:first-child {
        height: calcRem(48px);
        color: $white;
    }
    &__table-caption {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    &__daily-stats-table tr th:first-child {
        padding-left: calcRem(23px);
        text-align: left;
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
        }
    }
    &__daily-stats-table tr th:last-child {
        padding-right: calcRem(24px);
        @include media-breakpoint-down(sm) {
            padding-right: calcRem(20px);
        }
    }
    &__daily-stats-table th {
        width: 16.67% !important;
        font-family: $font-family-helvetica-neue;
        font-weight: 400;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        text-align: right;
        padding-right: calcRem(20px);
    }
    &__daily-stats-table tr:not(:first-child) {
        background: $white;
        color: $steel;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        height: calcRem(74px);
        margin-bottom: calcRem(2px);
        &:hover {
            background: $rain-tint;
        }
    }
    &__daily-stats-table tr:not(:first-child) td:first-child {
        padding-left: calcRem(23px);
        text-align: left;
    }
    &__daily-stats-table tr:not(:first-child) td:last-child {
        padding-right: calcRem(24px);
    }
    &__daily-stats-table tr:not(:first-child) td {
        text-align: right;
        padding-right: calcRem(20px);
    }

    &__daily-stats-table-wrapper {
        @include media-breakpoint-down(sm) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    &__left {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    &__right {
        display: none;
        @include media-breakpoint-down(md) {
            display: block;
        }
    }
    &__left-gradient {
        display: none;
        width: calcRem(30px);
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: 0px;
        }
    }
    &__right-gradient {
        display: none;
        width: calcRem(30px);
        @include media-breakpoint-down(md) {
            position: absolute;
            display: block;
            width: calcRem(30px);
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: 0px;
        }
    }
    .container {
        @include media-breakpoint-down(md) {
            max-width: none;
        }
    }
    &__main-heading {
        padding-top: calcRem(72px);
        padding-bottom: calcRem(30px);
        display: flex;
        align-items: center;
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px);
            padding-bottom: calcRem(12px);
            padding-top: calcRem(40px);
            padding-right: calcRem(20px) !important;
        }
    }
    &__first-heading {
        @include media-breakpoint-down(sm) {
            padding-bottom: calcRem(24px);
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    &__daily-stats-table-parent-div {
        overflow-x: auto;
    }
    &__page-item {
        margin-right: calcRem(24px);
        margin-bottom: auto;
        margin-top: auto;
        font-size: calcRem(16px);
        line-height: calcRem(24px);
        @include media-breakpoint-down(sm) {
            font-size: calcRem(14px);
            margin-right: calcRem(10px);
        }
    }
    &__dropdown-toggle {
        width: calcRem(83px);
        height: calcRem(40px);
        border: solid calcRem(1px);
        padding-top: calcRem(5px);
        font-size: calcRem(16px);
        background-color: $white;
        &:after {
            margin-left: calcRem(24px);
            vertical-align: calcRem(3px);
        }
        @include media-breakpoint-down(sm) {
            width: calcRem(50px);
            height: calcRem(33px);
            font-size: calcRem(14px);
            &:after {
                margin-left: calcRem(6px);
            }
        }
    }
    &__next {
        margin-right: 0px;
        &:after {
            @include transform(rotate(270deg));
            content: '';
            width: calcRem(16px);
            height: calcRem(16px);
            float: right;
            background: url('../resources/images/icon-arrow-3--white.svg') no-repeat center/contain;
            flex-shrink: 0;
        }
    }
    &__previous {
        margin-left: calcRem(16px);
        margin-right: calcRem(40px);
        visibility: hidden;
        &:after {
            @include transform(rotate(90deg));
            content: '';
            width: calcRem(16px);
            height: calcRem(16px);
            float: right;
            background: url('../resources/images/icon-arrow-3--white.svg') no-repeat center/contain;
            flex-shrink: 0;
        }
        @include media-breakpoint-down(sm) {
            margin-right: calcRem(10px);
        }
    }
    &__pagination {
        color: $white;
    }
}

.cmp-daily-statistics--light-gray {
    tr:not(:first-child) {
        background: $light-steel-3;
    }
}
