<div class="header">
    <div class="cmp-first-test">
        <h6>
            Basic Test, Link List
        </h6>
        <ul>
            <li><a id="comp1anchor" href="/learn-and-compare/compare-products" title="Compare products"
                    target="_self">Compare Products</a></li>
            <li><a href="/learn-and-compare/learn-the-basics" title="Learn the basics" target="_self">Learn the
                    Basics</a></li>
            <li><a href="/resources" title="Financial Resources &amp; Solutions" target="_self">Financial Resources
                    &amp; Solutions</a></li>
        </ul>
    </div>
    <div data-analytics-link-selector="p" class="cmp-second-test">
        <h1>Closest Heading Element</h1>
        <h2>Comp 2 sub heading</h2>
        <div class="row">
            <h1>Comp 2 heading row</h1>
            <h2>Comp 2 sub heading row</h2>
            <p>Paragraph Used as Heading</p>
            <a id="comp2anchor" href="#">comp 2 cta text</a>
        </div>
    </div>
    <div data-analytics-cta-value-selector="h2" class="cmp-third-test">
        <h1>Comp 3 heading</h1>
        <h2>Component Third Sub Head</h2>
        <a id="comp3anchor" href="#">Link Text Third Test</a>
    </div>
    <div data-analytics-cta-value-selector="h1" class="cmp-fourth-test">
        <h1>Comp 4 heading</h1>
        <h2>Component Third Sub Head</h2>
        <a id="comp4anchor" href="#">Link Text Third/Fourth Test</a>
    </div>
</div>
<div class="footer">
    <div class="cmp-fifth-test">
        <h1>Comp 5 heading</h1>
        <h2>Comp 5 sub heading</h2>
        <a id="comp5anchor" href="#">Fifth Link Text</a>
    </div>
    <div class="cmp-sixth-test">
        <h1><span>Comp 6a heading</span><span class="specific-class-target">Comp 6b heading</span><span>Comp 6c
                heading</span></h1>
        <a id="comp6anchor" data-analytics-cta-value-selector=".specific-class-target" href="#">Sixth Link Text</a>
    </div>
</div>
