.cmp-dynamic-card {
    margin-bottom: calcRem(20px);
    &__container {
        margin-bottom: calcRem(60px);
        list-style-type: none;
        padding-top: 0;
        @include media-breakpoint-down(md) {
            margin-bottom: calcRem(40px);
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(30px);
        }
        &--image {
            min-height: 200px;
            @include media-breakpoint-down(md) {
                min-height: 180px;
            }
            @include media-breakpoint-down(sm) {
                min-height: auto;
            }
            img {
                width: 100%;
                @include ie11only {
                    &:not([src]) {
                        max-height: 200px;
                    }
                }
            }
        }
        &--headline {
            margin-top: calcRem(10px);
            margin-bottom: calcRem(5px);
            @include media-breakpoint-down(md) {
                margin-top: calcRem(12px);
            }
            text-decoration: underline;
            font-size: calcRem(18px);
            line-height: calcRem(24px);
            font-weight: $font-weight-bold;
        }
        &--description {
            font-size: calcRem(18px);
            line-height: calcRem(27px);
            color: $black;
            margin-bottom: 0;
        }

        &--author {
            display: flex;
            margin-top: calcRem(20px);
            @include media-breakpoint-down(md) {
                margin-top: calcRem(19px);
            }
            &--dp {
                display: none;
            }

            &--desc {
                &--name {
                    display: none;
                }
                &--info span {
                    font-size: $font-size-xx-small;
                    line-height: calcRem(21px);
                    margin-bottom: 0;
                    color: $dark-gray;
                }
                &--info--dot {
                    vertical-align: middle;
                    padding: 0 5px;
                }
            }
        }

        a {
            &:hover {
                .cmp-dynamic-card__container--headline {
                    display: inline-block;
                    text-decoration: none !important;
                }
            }
        }
    }
    &-conributor {
        .cmp-dynamic-card__container {
            &--author {
                &--dp {
                    display: block;
                    float: left;
                    margin-right: calcRem(15px);
                    img {
                        width: calcRem(42px);
                        height: calcRem(43px);
                        border-radius: calcRem(20px);
                        margin-left: calcRem(9px);
                        margin-right: calcRem(11px);
                    }
                }
                &--desc {
                    &--name {
                        display: block;
                        margin-bottom: calcRem(1px);
                        text-decoration: underline;
                        text-transform: uppercase;
                        font-size: calcRem(18px);
                        line-height: calcRem(24px);
                        font-weight: $font-weight-bold;
                        color: $dark-black;
                    }
                }
            }
        }
    }
    &-minimal {
        .cmp-dynamic-card__container {
            &--author {
                display: none;
            }
            &--description {
                display: none;
            }
        }
    }
}
