<div class="cmp-email-subscribe" id="emailWrapper">
    <form method="post" name="EmailSubscribe_Form_MAR2020" action="https://s2108552627.t.eloqua.com/e/f2"
        class="elq-form eloqua-email-subscribe">
        <input value="EmailSubscribe_Form_MAR2020" type="hidden" name="elqFormName">
        <input value="2108552627" type="hidden" name="elqSiteId">
        <input name="elqCampaignId" type="hidden">
        <div class="layout container-fluid">
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div class="elq-field-style form-element-layout row">
                            <div style="text-align: left;" class="col-sm-12 col-xs-12">
                                <label class="elq-label" for="fe189">Email Address <span class="elq-required">*</span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="field-control-wrapper">
                                            <input type="text" class="elq-item-input" placeholder="email@example.com"
                                                name="C_EmailAddress" value="" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid-layout-col">
                    <div class="layout-col col-sm-12 col-xs-12">
                        <div class="elq-field-style form-element-layout row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div>
                                            <input type="Submit" class="submit-button-style" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="C_UserRole" value="userrole">
            <input type="hidden" name="componentId" value="componentid">
            <input type="hidden" name="elqCampaignId" value="">
            <input type="hidden" name="redirectURL" value="redirecturl">
            <input type="hidden" name="cmpid" class="compId" value="">
            <input type="hidden" name="pageURL" value="pageurl">
            <input type="hidden" name="elqCustomerGUID" value=""> <input type="hidden" name="elqCookieWrite" value="0">
        </div>
    </form>
</div>
