<div class="fund-id" data-fundId="TMHFXI">
</div>
<div class="global-data-attribute" data-audience-selector="individual">
</div>
<div class="cmp-product-profile">
    <div class="cmp-product-profile__paralax-image">
        <picture>
            <img src="/content/dam/nyl/photos/GettyImages-520945900_super.jpg" alt="alt" />
        </picture>
        <div class="cmp-product-profile__manual-author">
            <a class="cmp-product-profile__link-morningstar" href="https://www.google.com" target="_self"> <span
                    class="nyl-button">
                    morningstar cta link text
                    <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="cmp-product-profile__container">
        <div class="cmp-product-profile__scroll-section">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-10">
                    <div class="row cmp-product-profile__product-info">
                        <div class="col-md-12 col-lg-12 col-10">
                            <div class="cmp-product-profile__ticker">
                                <span class="cmp-product-profile__db tickerNameScroll">Demo</span> <span
                                    class="cmp-product-profile__na"></span>
                            </div>
                            <div class="cmp-product-profile__share-dropdown 
                         cmp-product-profile__dropdown-wrapper-scroll">
                                <span class="cmp-product-profile__db"></span> <span
                                    class="cmp-product-profile__na"></span>
                                <ul class="cmp-product-profile__dropdown cmp-product-profile__db">
                                </ul>
                            </div>
                            <div class="cmp-product-profile__fund-name">Product Name</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-2 cmp-product-profile__contactus-section">
                    <div class="cmp-product-profile__btn-morning-star">
                        <a href="https://www.google.com" class="cmp-product-profile__contactus" target=" 
                      "> Contact Us</a>
                        <a href="https://www.google.com" class="cmp-product-profile__contacticon"> <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-product-profile__document-section">
            <ul>
                <li><a href="https://www.google.com" target="_blank">document name</a>
                </li>
            </ul>
        </div>
        <div class="cmp-product-profile__primary">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="cmp-product-profile__product-info d-flex">
                        <div class="cmp-product-profile__type assetClass">
                            <span class="cmp-product-profile__db">asset class</span> <span
                                class="cmp-product-profile__na"></span>
                        </div>
                        <div class="cmp-product-profile__eyebrow">.</div>
                        <div class="cmp-product-profile__type productType">
                            <span class="cmp-product-profile__db">product type</span> <span
                                class="cmp-product-profile__na"></span>
                        </div>
                    </div>
                    <div class="cmp-product-profile__product-info">
                        <div class="row">
                            <div class="col-lg-4 col-md-3 col-sm-12 cmp-product-profile__ticker">
                                <span class="cmp-product-profile__db tickerName">Demo</span> <span
                                    class="cmp-product-profile__na"></span>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-12 cmp-product-profile__fund-name">
                                <span class="cmp-product-profile__db fundName"></span> <span
                                    class="cmp-product-profile__na"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cmp-product-profile__dd-width 
                         cmp-product-profile__share-dropdown cmp-product-profile__dropdown-wrapper">
                                <span class="cmp-product-profile__share-dropdown__span cmp-product-profile__db"></span>
                                <span class="cmp-product-profile__na"></span>
                                <ul class="cmp-product-profile__dropdown cmp-product-profile__db">
                                </ul>
                            </div>
                        </div>
                        <div class="row cmp-product-profile__manual-fund-name">
                            <div class="col-lg-5 col-md-5 col-sm-12">Product Name</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="cmp-product-profile__btn-morningstar">
                        <a class="cmp-product-profile__link-morningstar" href="https://www.google.com" target="_self">
                            <span class="nyl-button"> morningstar cta link
                                text <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-product-profile__secondary">
            <div class="cmp-product-profile__product-details">
                <div class="row">
                    <div class="col-lg-2 col-md-2 cmp-product-profile__content">
                        <div class="cmp-product-profile__label-text text-uppercase currentNavLabel"></div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db currentNav"></div>
                            <div class="cmp-product-profile__na"></div>
                        </div>
                        <div class="cmp-product-profile__hint-text">
                            <span class="hintLabel"></span> <span class="cmp-product-profile__db effectiveDate"></span>
                            <span class="cmp-product-profile__na"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 cmp-product-profile__content">
                        <div class="cmp-product-profile__label-text dayChangeLabel"></div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db">
                                <span
                                    class="cmp-product-profile__icon-downred cmp-product-profile__icon-downgreen changeNavIndicator"></span>
                                <span class="changeNav"></span>
                                <span class="cmp-product-profile__dayChangeValue perChangeNav"></span>
                            </div>
                            <div class="cmp-product-profile__na"></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 cmp-product-profile__content salesChargesSection">
                        <div class="cmp-product-profile__label-text salesChargeLabel"></div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db">
                                <span class="salesCharges"></span>
                            </div>
                            <div class="cmp-product-profile__na"></div>
                        </div>
                    </div>
                    <div
                        class="col-lg-2 col-md-2 cmp-product-profile__content cmp-product-profile__marginTop ytdSection">
                        <div class="cmp-product-profile__label-text  text-uppercase ytdLabel"></div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db">
                                <span
                                    class="cmp-product-profile__icon-downred cmp-product-profile__icon-downgreen ytdIndicator"></span>
                                <span class="ytd"></span>
                            </div>
                            <div class="cmp-product-profile__na"></div>
                        </div>
                    </div>
                    <div
                        class="col-lg-2 col-md-2 cmp-product-profile__content cmp-product-profile__pad-left morningStars">
                        <div class="cmp-product-profile__label-text ratingLabel"></div>
                        <div class="cmp-product-profile__value-text">
                            <div class="cmp-product-profile__db cmp-product-profile__icon-star">
                            </div>
                            <div class=" cmp-product-profile__na "></div>
                        </div>
                        <div class="cmp-product-profile__hint-text ">
                            <span class="disclaimerLabel"></span>
                            <span class="cmp-product-profile__db funds"></span>
                            <span class="cmp-product-profile__na "></span>
                            <span class="cmp-product-profile__db category"></span>
                            <span class="cmp-product-profile__na "></span><span class="disclaimerSecondaryLabel"></span>
                            <span class="cmp-product-profile__db date"></span>
                        </div>
                        <span class="cmp-product-profile__na "></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
