<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.filterPath, classAppend='cmp-dynamic-card-placeholder'}" />
<div data-sly-test="${properties.filterPath}" class="cmp-dynamic-card"
    data-sly-use.model="com.nyl.foundation.models.DynamicCardModel">
    <sly data-sly-test="${(wcmmode.edit || wcmmode.preview) && !model.dynamicCards}">${'core.noResultsFound' @
        i18n} </sly>
    <ul class="d-flex flex-row row p-0" data-sly-list.card="${model.dynamicCards}">
        <li class="cmp-dynamic-card__container col-lg-4 col-md-6 col-sm-12"
            data-sly-use.contributorResource="${'com.nyl.foundation.models.ResourceModel' @resourcePath= card.contributorContentFragmentPath,  appendPath='jcr:content/data/master'}"
            data-sly-set.contributorDetails="${contributorResource.properties}"
            data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @componentName='dynamic-card', imagePath=card.imagePath}">
            <a data-sly-unwrap="${!card.linkUrl}"
                onclick="${imageModel.imageId? 'assetAnalytics.core.assetClicked(this)' : '' @context='html'}"
                href="${card.linkUrl}" title="${'core.linkTitleLabel' @ i18n} ${card.headline}">
                <div class="cmp-dynamic-card__container--image">
                    <sly data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                        data-sly-call="${image.pictureTemplate @ imageModel=imageModel}">
                    </sly>
                </div>
                <div class="cmp-dynamic-card__container--info">
                    <p class="cmp-dynamic-card__container--headline">${card.headline}</p>
                    <p class="cmp-dynamic-card__container--description">${card.description}</p>
                </div>
                <div class="cmp-dynamic-card__container--author">
                    <div class="cmp-dynamic-card__container--author--dp">
                        <sly data-sly-test="${contributorDetails.image}"
                            data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                            data-sly-call="${image.imageTemplate @ componentName='contributor', imagePath=contributorDetails.image, imageAltText=contributorImage.altText,imgClass='cmp-contributor__container--image'}">
                        </sly>
                    </div>
                    <div class="cmp-dynamic-card__container--author--desc">
                        <p class="cmp-dynamic-card__container--author--desc--name">${contributorDetails.firstName}
                            ${contributorDetails.lastName}</p>
                        <p class="cmp-dynamic-card__container--author--desc--info">
                            <span data-sly-test="${card.publishDate}">${card.publishDate}</span> <span
                                data-sly-test="${card.timeToRead}"><span
                                    class="cmp-dynamic-card__container--author--desc--info--dot"
                                    data-sly-test="${card.publishDate}">.</span> ${card.timeToRead}
                                ${'core.dynamicCard.timeToRead' @ i18n}</span>
                        </p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
