<div class="cmp-header">
    <div id="header" class="disable-header"></div>
</div>

<div class="anchor-link-container aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-anchor-link-container" id="cmp-anchor-link-container--1051343438_1">
        <div class="cmp-anchor-link-container__style-default" style="display: block;">
            <div class="row">
                <div class="col-md-4 cmp-anchor-link-container__section-list">
                    <div id="cmpAnchorLinkScroll--1051343438_1"
                        class="cmp-anchor-link-container__section-list-inner list-group">
                        <a class="list-group-item list-group-item-action cmp-anchor-link-container__section-list-inner--item"
                            href="#section-11-friendly">

                            Section 1 Title
                        </a>
                    </div>
                </div>
                <div class="col-md-8 cmp-anchor-link-container__section col-sm-12">
                </div>
            </div>
        </div>
        <div class="cmp-anchor-link-container__section-content">
            <div class="anchor-link-section">
                <div class="cmp-anchor-link-section" id="section-11-friendly">
                    <h2 class="cmp-anchor-link-section__title">
                        Section 5</h2>
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="rte aem-GridColumn aem-GridColumn--default--12">
                            <div class="cmp-rte">
                                <p>Ullamcorper eget nulla facilisi etiam dignissim diam quis enim.
                                    Adipiscing enim eu turpis egestas pretium aenean pharetra magna. Ornare
                                    lectus sit amet est placerat in egestas erat. Iaculis nunc sed augue
                                    lacus. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec.
                                    Tristique et egestas quis ipsum suspendisse. Ac auctor augue mauris
                                    augue neque gravida in fermentum. Tempus urna et pharetra pharetra massa
                                    massa. Posuere urna nec tincidunt praesent semper. Mauris augue neque
                                    gravida in fermentum et sollicitudin ac. Amet tellus cras adipiscing
                                    enim eu turpis egestas pretium aenean. Nibh mauris cursus mattis
                                    molestie a. Arcu felis bibendum ut tristique et. Odio facilisis mauris
                                    sit amet massa vitae tortor. Scelerisque eu ultrices vitae auctor eu.
                                    Arcu dictum varius duis at consectetur lorem donec. Id eu nisl nunc mi
                                    ipsum faucibus vitae. Vitae turpis massa sed elementum. Duis at tellus
                                    at urna condimentum mattis pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="anchor-link-container anchor-link-container__top-anchor-links aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-anchor-link-container" id="cmp-anchor-link-container--105143438_1">
        <div class="cmp-anchor-link-container__style-top-anchor-link" style="display: block;">
            <div class="cmp-anchor-link-container__style-top-anchor-link__header sticky-shown">
                <div class="cmp-anchor-link-container__section-list container">
                    <div class="cmp-anchor-link-container__style-top-anchor-link__left">
                    </div>
                    <div
                        class="cmp-anchor-link-container__style-top-anchor-link__right cmp-anchor-link-container__style-top-anchor-link__right-gradient">
                    </div>
                    <div id="cmpAnchorLinkScroll--539252888_2" class="cmp-anchor-link-container__section-list-inner">
                        <a class="cmp-anchor-link-container__section-list-inner--item addElpsisInAnchorLinks"
                            href="#a1234">
                            First One
                        </a>
                    </div>
                </div>
            </div>
            <div class="cmp-anchor-link-container__section col-xs-12">
                <div class="anchor-link-section anchor-link-section-light-medium-palm">
                    <div class="cmp-anchor-link-section container-md" id="a1234">
                        <div class="cmp-anchor-link-section__accordion">
                            <h2 class="cmp-anchor-link-section__title-accordion">
                                First One</h2>
                            <div class="cmp-anchor-link-section__accordion-content">
                                <h2 class="cmp-anchor-link-section__title">
                                    First One</h2>
                                <div>
                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                        <div class="rte aem-GridColumn aem-GridColumn--default--12">
                                            <div class="cmp-rte">
                                                <p>iuewy ui iweu yuieuwi iuwey iuyu uiewuy iweu ieuw&nbsp;iuewy
                                                    ui iweu yuieuwi iuwey iuyu uiewuy iweu ieuwiuewy ui iweu
                                                    yuieuwi iuwey iuyu uiewuy iweu ieuwiuewy ui iweu yuieuwi
                                                    iuwey iuyu uiewuy iweu ieuwiuewy ui iweu yuieuwi iuwey iuyu
                                                    uiewuy iweu ieuwiuewy ui iweu yuieuwi iuwey iuyu uiewuy iweu
                                                    ieuwiuewy ui iweu yuieuwi iuwey iuyu uiewuy iweu ieuwiuewy
                                                    uiewuy iweu ieuw</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-anchor-link-section__colorbar"></div>
                </div>
            </div>
        </div>
        <div class="cmp-anchor-link-container__section-content">
            Loreum ipsum Loreum ipsumLoreum ipsumLoreum ipsumLoreum ipsumLoreum ipsum
        </div>
    </div>
</div>
<div
    class="anchor-link-container anchor-link-container__top-anchor-links-with-accordion aem-GridColumn aem-GridColumn--default--12">
    <div class="cmp-anchor-link-container" id="cmp-anchor-link-container--1533315442_3">
        <div class="cmp-anchor-link-container__style-top-anchor-link-accordion" style="display: block;">
            <div class="cmp-anchor-link-container__section col-xs-12">
                <div class="anchor-link-section">
                    <div class="cmp-anchor-link-section container-md" id="af1">
                        <div class="cmp-anchor-link-section__accordion open-accordion">
                            <h2 class="cmp-anchor-link-section__title-accordion">
                                First</h2>
                            <div class="cmp-anchor-link-section__accordion-content">
                                <h2 class="cmp-anchor-link-section__title">
                                    First</h2>
                                <div>
                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                        <div class="color-container aem-GridColumn aem-GridColumn--default--12">
                                            <div class="full-width cmp-color-container">
                                                <div class="cmp-color-container__container">
                                                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                        <div class="rte aem-GridColumn aem-GridColumn--default--12">
                                                            <div class="cmp-rte">
                                                                <p>Author and view the Anchor Link Container
                                                                    component
                                                                    with a Banner component above</p>
                                                                <p>Author a color container component (with a
                                                                    component
                                                                    inside it like RTE) within the Anchor Link
                                                                    Section
                                                                </p>
                                                                <p><u>Actual:</u> additional white space is seen
                                                                    above&nbsp;the component, and the text
                                                                    within the
                                                                    Anchor Link looks like is more aligned to
                                                                    the top.
                                                                    The Color Container is not full width</p>
                                                                <p><u>Expected:</u> no white space should be
                                                                    displayed
                                                                    above the component, and the text within the
                                                                    Anchor
                                                                    Link should be vertically centered.&nbsp;The
                                                                    Color
                                                                    Container should be full width</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-anchor-link-section__colorbar"></div>
                </div>
            </div>
        </div>
        <div class="cmp-anchor-link-container__section-content">
            Loreum ipsum Loreum ipsumLoreum ipsumLoreum ipsumLoreum ipsumLoreum ipsum
        </div>
    </div>
    <div class="cmp-product-profile__scroll-section sticky-shown"></div>
    <div class="cmp-anchor-link-container__style-top-anchor-link__header sticky-shown"></div>
</div>
