.cmp-cost-of-ltc {
    padding: 60px 0;
    text-align: center;
    @include media-breakpoint-down(md) {
        margin: 0 10px;
    }
    &__heading {
        display: none;
        margin: 0 0 30px 0px;
        font-family: $font-family-effra-pro;
        font-size: 30px;
        font-weight: $font-weight-medium;
        line-height: 1.2;
        color: $black;
        @include media-breakpoint-down(sm) {
            text-align: center;
            margin-bottom: 10px;
        }
        &::before {
            content: url('../resources/images/chart_icon.svg');
            width: 30px;
            height: 30px;
            margin: 3px 10px 3px 0;
            @include media-breakpoint-down(sm) {
                display: block;
                margin: 3px auto 10px;
            }
        }
    }
    &__form {
        @include media-breakpoint-down(sm) {
            text-align: center;
            margin-bottom: 25px;
        }
    }
    &__listcontainer {
        display: block;
        overflow: hidden;
        margin-bottom: 0px;
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: center;
        }
        &--label-top {
            margin: 0 0px 20px 0px;
            font-family: $font-family-effra-pro;
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
            color: $black;
            display: block;
            @include media-breakpoint-down(lg) {
                font-size: 26px;
                line-height: 1.38;
            }
            @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: 1.5;
            }
            &::before {
                content: url('../resources/images/house_icon.svg');
                width: 29px;
                height: 26px;
                margin: 3px 10px 3px 0;
                @include media-breakpoint-down(sm) {
                    display: block;
                    margin: 3px auto 10px;
                }
            }
        }

        &--label-state {
            display: none;
            margin-bottom: 10px;
            font-family: $font-family-effra-pro;
            font-size: 18px;
            font-weight: $font-weight-medium;
            line-height: 2;
            color: $black;
            &:before {
                content: url('../resources/images/location_icon.svg');
                width: 29px;
                height: 26px;
                margin: 3px 10px 3px 0;               
            }
            @include media-breakpoint-down(sm) {
                text-align: left;
                margin-top: 40px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        &--label-rate {
            margin-bottom: 10px;
            font-family: $font-family-effra-pro;
            font-size: 18px;
            font-weight: $font-weight-medium;
            line-height: 2;
            color: $black;
            display: block;
            &::before {
                content: url('../resources/images/rate_icon.svg');
                width: 15px;
                height: 15px;
                margin: 10px 10px 21px 0;
                position: relative;
                top: 3px;
            }
            @include media-breakpoint-down(sm) {
                text-align: left;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        &--list {
            display: inline-block;
            width: 100%;
            height: 60px;
            font-family: $font-family-effra-pro;
            font-size: 18px;
            text-align: center;
            text-align-last: center;
            -ms-text-align-last: center;
            -moz-text-align-last: center;
            color: $black;
            padding-right: 30px !important;
            border-color: #e9e8e8;
            @include media-breakpoint-up(md) {
                max-width: 250px;
            }
            @include media-breakpoint-down(sm) {
                width: 100%;
                margin: 10px 0;
            }
            &:disabled {
                background-color: transparent;
            }
            &.cmp-cost-of-ltc__state-selector {
                background: url('../resources/images/Chevron-Down-Default.svg') no-repeat;
                background-position: right 20px top 53%,0,0;
                background-size: 14px auto,100%;
            }
            &.cmp-cost-of-ltc__region-selector {
                margin-right: 0px;
                background: url('../resources/images/Chevron-Down-Default.svg') no-repeat;
                background-position: right 20px top 53%,0,0;
                background-size: 14px auto,100%;
            }
        }
        &--filters {
            display: none;
            @include media-breakpoint-down(md) {
                margin-top: 20px;
            }
            &--duration {
                width: 115px;
                max-width: 100%;
                height: 60px;
                padding: 19px 20px;
                border-radius: 5px;
                border: solid 1px #e9e8e8;
                background-color: $white;
                font-size: 18px;
                line-height: 22px;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin: 15px 0;
                    &.daily {
                        margin-right: 0;
                    }
                }
                &.yearly {
                    margin-right: 0;
                }
                &.active {
                    color: #0079c2;
                    border: 1px solid #0079c2;
                }
                &:disabled {
                    color: $black;
                }
                &:focus{
                    outline-color:#0079c2;
                    border: 1px solid #0079c2;
                    color: #0079c2;
                }
            }
        }
        &--modifyinfo {
            display: none;
            text-decoration: underline;
            font-family: $font-family-effra-pro;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #0079c2 !important;
            &:hover {
                text-decoration: underline;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                background: url('../resources/images/icon-caret--ltc--blue.svg') center no-repeat;
                background-size: contain;
                width: 15px;
                height: 10px;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            &.collapsed span {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }
    }
    &__ltcapply {
        display: none;
    }
    &__ltcsubmit,
    &__ltcapply {
        width: 230px;
        line-height: normal;
        padding: 10px 15px 7px;
        margin-top: 20px;
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
        @include media-breakpoint-up(md) {
            margin-top: 50px;
        }
        &:disabled {
            background: #cdcdcd;
            border: 4px solid #cdcdcd;
        }
    }

    @include media-breakpoint-up(md) {
        &__region-select-wrapper {
            text-align: left;
        }
        &__state-select-wrapper {
            text-align: right;
        }
    }

    @include media-breakpoint-only(md) {
        .cmp-cost-of-ltc__rates-btn-wrapper {
            width: auto;
            flex: none;
        }
    }
    &__spinner {
        width: 30px;
        height: 30px;
        position: absolute;
        left: calc(50% - 15px);
        top: calc(50% - 15px);
        -webkit-animation: rotating 1s linear infinite;
        -moz-animation: rotating 1s linear infinite;
        -ms-animation: rotating 1s linear infinite;
        -o-animation: rotating 1s linear infinite;
        animation: rotating 1s linear infinite;
    }
    &__card {
        height: 100%;
        min-height: 388px;
        padding: 30px 20px 20px;
        border-radius: 5px;
        box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.1);
        background-color: $white;
        position: relative;
        @include media-breakpoint-down(md) {
            width: 100%;
            margin: 0 0 30px 0;
        }
        &--container {
            display: none;
            align-items: stretch;
        }
        &--wrapper {
            margin: 40px 0;
            @include media-breakpoint-down(md) {
                margin: 15px 0;
            }
        }
        hr {
            display: none;
        }
        &.fetch-success {
            hr {
                display: block;
            }
            .cmp-cost-of-ltc__spinner {
                display: none;
            }
            .cmp-cost-of-ltc__card {
                &--description,
                &--heading,
                &--table {
                    display: block;
                }
            }
            
        }
        &--heading {
            font-family: $font-family-effra-pro;
            font-size: $font-size-medium;
            font-weight: $font-weight-medium;
            line-height: 1.5;
            letter-spacing: normal;
            color: $twilight-blue;
            display: none;
        }
        &--description {
            margin: 5px 0 20px;
            font-family: $font-family-effra-pro;
            font-size: $font-size-x-small;
            line-height: 1.25;
            color: $dark-gray;
            display: none;
        }
        &--info-icon {
            width: 30px;
            height: 30px;
            background: url("../resources/images/info_icon.svg") no-repeat;
            margin: 40px auto 10px;
            text-align: center;
            display: block;
            .icon-search {
                stroke: $black;
                width: 30px;
                height: 30px;
            }
        }
        &--info-desc {
            margin: 10px 0 0;
            font-family: $font-family-effra-pro;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            color: $dark-gray;
        }
        &--table {
            text-align: left;
            display: none;
            &-unit {
                margin: 4px 0 20px 0;
                font-size: $font-size-x-small;
                font-weight: $font-weight-bold;
                line-height: 1.5;
                color: $black;
            }
            &-month {
                margin: 4px 0px 0px 0;
                font-size: $font-size-x-small;
                font-weight: $font-weight-bold;
                line-height: 1.5;
                color: $black;
            }
            &-unit, &-month {
                text-transform: uppercase;
            }
            &-month, &-rate {
                @include media-breakpoint-up(lg) {
                    padding: 0;
                }
            }
            &-room {
                margin: 0px 0px 0px 0;
                font-size: 18px;
                line-height: 1.5;
                color: $black;
            }
            &-rate {
                margin: 0px 0px 0px 0px;
                font-size: 18px;
                font-weight: $font-weight-bold;
                line-height: 1.33;
                color: $twilight-blue;
            }
            &-room-avg {
                color: $black;
                font-size: 14px;
                line-height: 1.5;
                font-weight: $font-weight-regular;
                margin-bottom: 12px;
            }
            &-rate-avg {
                color: $twilight-blue;
                font-size: 14px;
                line-height: 1.5;
                font-weight: $font-weight-regular;
                margin-bottom: 12px;
            }
        }
        @include media-breakpoint-only(md) {
            min-height: 368px;
        }
        @include media-breakpoint-down(sm) {
            min-height: 306px;
        }
    }
    &__card:last-child {
        margin-right: 0;
    }
    &__disclaimer{
        margin: 40px 0 0;
        font-family: $font-family-effra-pro;
        font-size: $font-size-xx-small;
        font-weight: $font-weight-regular;
        line-height: 1.5;
        color: $dark-gray;
    }
    &__footnote{
        margin: 40px 0 0;
        font-family: $font-family-effra-pro;
        font-size: $font-size-xx-small;
        font-weight: $font-weight-regular;
        line-height: 1.5;
        color: $dark-gray;
    }

    &.result-view {
        text-align: left;
        .cmp-cost-of-ltc {
            &__heading {
                display: block;
            }
            &__listcontainer--label-top {
                display: none;
            }
            &__listcontainer {
                .cmp-cost-of-ltc {
                    @include media-breakpoint-only(md) {
                        &__region-select-wrapper,
                        &__state-select-wrapper {
                            width: auto;
                            flex: none;
                            text-align: left;
                        }
                    }
                }
                &.contleft {
                    @include media-breakpoint-up(lg) {
                        display: flex;
                        justify-content: left;
                    }
                    .cmp-cost-of-ltc {
                        @include media-breakpoint-only(md) {
                            &__region-select-wrapper,
                            &__state-select-wrapper {
                                width: auto;
                                flex: none;
                                text-align: left;
                            }
                        }
                    }
                    .cmp-cost-of-ltc__listcontainer {
                        &--label-state {
                            @include media-breakpoint-down(sm) {
                                text-align: left;
                                margin: 0;
                            }
                            &::before {
                                @include media-breakpoint-down(md) {
                                    display: inline-block;
                                    width: 20px;
                                    height: 18px;
                                    margin: 0;
                                    margin-right: 10px;
                                }
                            }
                        }
                        &--label-rate {
                            @include media-breakpoint-down(sm) {
                                text-align: left;
                                margin: 0;
                            }
                            &::before {
                                display: inline-block;
                                width: 15px;
                                height: 16px;
                                margin: 0;
                                margin-right: 10px;
                            }
                        }
                    }
                }
                &--filters {
                    display: block;
                }
                &--label-state {
                    display: block;
                }
                &--modifyinfo {
                    display: block;
                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                }
                &--list {
                    @include media-breakpoint-up(md) {
                        width: 250px;
                    }
                }
            }
            &__ltcsubmit {
                display: none;
            }
            &__card--container {
                display: flex;
            }
            &__ltcapply {
                @include media-breakpoint-down(sm) {
                    display: block;
                }
            }
        }
    }

    &__error {
        display: none;
        text-align: left;
        font-size: 14px;
        color: $error-red;
        line-height: normal;
    }
    &.error-state {
        min-height: 500px;
        height: 500px;
        .cmp-cost-of-ltc {
            &__error {
                display: block;
            }
            &__card--container,
            &__heading,
            &__disclaimer,
            &__footnote,
            &__form {
                display: none;
            }
        }
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
