.cmp-credit-quality {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .highcharts {
        &-color {
            &-0 {
                fill: $steel;
                stroke: $steel;
            }
            &-1 {
                fill: $medium-gold;
                stroke: $medium-gold;
            }
            &-2 {
                fill: $medium-palm;
                stroke: $medium-palm;
            }
            &-3 {
                fill: $medium-rain;
                stroke: $medium-rain;
            }
            &-4 {
                fill: $dark-twilight;
                stroke: $dark-twilight;
            }
            &-5 {
                fill: $dark-gold;
                stroke: $dark-gold;
            }
            &-6 {
                fill: $dark-rain;
                stroke: $dark-rain;
            }
            &-7 {
                fill: $dark-sunset;
                stroke: $dark-sunset;
            }
            &-8 {
                fill: $medium-twilight;
                stroke: $medium-twilight;
            }
            &-9 {
                fill: $dark-palm;
                stroke: $dark-palm;
            }
            &-10 {
                fill: $dark-dusk;
                stroke: $dark-dusk;
            }
            &-11 {
                fill: $dark-salmon;
                stroke: $dark-salmon;
            }
        }
        &-tooltip {
            &-box {
                fill: $white;
                stroke: none;
            }
            text {
                color: $steel;
                font-family: $font-family-helvetica-neue;
                stroke: none;
            }
        }
        &-credits {
            display: none;
        }
    }
    @import './../../../../global/scss/global/pie-chart-with-data-points.scss';
    @include media-breakpoint-up(md) {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
    }
}
