<div class="cmp-banner-article">
    <div class="cmp-banner-article__image-container">
        <picture>
            <source media="(max-width: 575px)"
                srcset="/content/dam/nylim/us/en/qa/workflow-test/Nylim%20Approver%20Starts%20Workflow">
            <source media="(max-width: 767px)"
                srcset="/content/dam/nylim/us/en/qa/workflow-test/Nylim%20Approver%20Starts%20Workflow">
            <source media="(max-width: 991px)"
                srcset="/content/dam/nylim/us/en/qa/workflow-test/Nylim%20Approver%20Starts%20Workflow">
            <source media="(max-width: 1199px)"
                srcset="/content/dam/nylim/us/en/qa/workflow-test/Nylim%20Approver%20Starts%20Workflow">
            <img src="/content/dam/nylim/us/en/qa/workflow-test/Nylim%20Approver%20Starts%20Workflow" class="parallax"
                alt="NylimApproverStartsWorkflow" style="transform: translate(-50%, -28.105%);">
        </picture>
        <div class="cmp-banner-article__color-overlay" data-color-overlay-opacity="70" style="opacity: 0.7;">
            <div class="cmp-banner-article__rule"></div>
        </div>
    </div>
    <div class="cmp-banner-article__wrapper row">
        <div class="col-lg-1 col-md-1 display-fullwidth"></div>
        <div class="col-12 col-lg-10 col-md-10 dialog-box">
            <ul class="cmp-banner-article__tags display-fullwidth">

                <li class="cmp-banner-article__tags-tag ">
                    <div class="cmp-banner-article__tags-tag--style cmp-banner-article--dark-salmon "><a
                            href="/content/nylim/us/en/qa/calendar-year-return?strategy=Longevity%20and%20Growth"
                            title="Longevity and Growth" target="_blank">
                            Longevity and Growth</a></div>
                </li>



                <li class="cmp-banner-article__tags-tag ">
                    <div class="cmp-banner-article__tags-tag--style cmp-banner-article--steel "><a
                            href="/content/nylim/us/en/qa/calendar-year-return?asset-class=Equities" title="Equities"
                            target="_blank">
                            Equities</a></div>
                </li>



                <li class="cmp-banner-article__tags-tag ">
                    <div class="cmp-banner-article__tags-tag--style cmp-banner-article--dark-twilight "><a
                            href="/content/nylim/us/en/qa/calendar-year-return?strategy=Combating%20Inflation"
                            title="Combating Inflation" target="_blank">
                            Combating Inflation</a></div>
                </li>

            </ul>
            <ul class="cmp-banner-article__eyebrow">
                <li class="cmp-banner-article__eyebrow-value">Thought Leadership</li>

                <li class="cmp-banner-article__eyebrow-value">8th SEP 2020</li>

                <li class="cmp-banner-article__eyebrow-value">8 MIN Read</li>
            </ul>
            <h1 class="cmp-banner-article__headline">This is Banner Headline</h1>
            <div class="cmp-banner-article__description">
                <p>This is banner description&nbsp;This is banner description&nbsp;This is banner description&nbsp;This
                    is banner description&nbsp;This is banner description&nbsp;This is banner description&nbsp;This is
                    banner description&nbsp;This is banner description&nbsp;This is banner description&nbsp;This is
                    banner descriptionThis is banner description</p>
            </div>
            <div class="cmp-banner-article__button">

                <a href="/content/nylim/us/en/qa/cta-content-link.html" title="Link Title" target="_self">
                    By Link Text
                </a>
            </div>
            <div class="cmp-banner-article__social-share">
                <div class="socialshare social-share">


                    <div class="cmp-social-share">
                        <p class="h4">Share</p>

                        <div class="cmp-social-share__button-drawer">
                            <ul>
                                <li>
                                    <a href="#" target="_blank" class="cmp-social-share__button --facebook"
                                        title="Facebook">
                                        <i class="cmp-social-share__icon--facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="cmp-social-share__button --linkedin"
                                        title="LinkedIn">
                                        <i class="cmp-social-share__icon--linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="cmp-social-share__button --twitter"
                                        title="Twitter">
                                        <i class="cmp-social-share__icon--twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="cmp-social-share__button --email" title="Email">
                                        <i class="cmp-social-share__icon--email" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="cmp-social-share__button --copy" title="Copy to clipboard">
                                        <i class="cmp-social-share__icon--copy" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="cmp-social-share__clipboard-message">
                            Copied to clipboard</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 display-fullwidth"></div>
        <ul class="cmp-banner-article__tags display-mobile">

            <li class="cmp-banner-article__tags-tag ">
                <div class="cmp-banner-article__tags-tag--style cmp-banner-article--dark-salmon "><a
                        href="/content/nylim/us/en/qa/calendar-year-return?strategy=Longevity%20and%20Growth"
                        target="_blank">
                        Longevity and Growth</a></div>
            </li>



            <li class="cmp-banner-article__tags-tag ">
                <div class="cmp-banner-article__tags-tag--style cmp-banner-article--steel "><a
                        href="/content/nylim/us/en/qa/calendar-year-return?asset-class=Equities" target="_blank">
                        Equities</a></div>
            </li>



            <li class="cmp-banner-article__tags-tag ">
                <div class="cmp-banner-article__tags-tag--style cmp-banner-article--dark-twilight "><a
                        href="/content/nylim/us/en/qa/calendar-year-return?strategy=Combating%20Inflation"
                        target="_blank">
                        Combating Inflation</a></div>
            </li>

        </ul>
    </div>
</div>
