/* Primary */
$brand-blue: #0079c2;
$white: #fff;
$black: #171717;
$jet-black: #000000;
$grey: #e7ecef;

/* Function: Cool Greys */
$grey-light: #f5f8fa;
$grey-medium: #dae1e5;
$grey-dark: #58656d;
$grey-border: #a8b1b7;
$cool-black: #243641;
$black-light: #3e4d57;

/* Secondary Blue Shades */
$blue-light: #23648c;
$blue-medium: #1d5273;
$blue-dark: #0d3c59;
$blue-extra-dark: #002840;

/*Function: Success, Error, Visited */
$green-success: #24882d;
$red-error: #c02321;
$purple-visited: #5c4c79;

/* brand colors */
$medium-quartz: #e9e8e8;
$dark-quartz: #0a3c53;

/* Form greys */
$interactive-light-grey: #a8b1b7;
$interactive-dark-grey: #6c787f;
