$default-column-size: 12;
@mixin font-size-line-height($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

// REM conversions
@function calcRem($num) {
    $stripped: $num / ($num * 0 + 1);
    $rems: $stripped / 16;
    @return #{$rems}rem;
}

@mixin fill-svg($fill-color) {
    svg,
    svg path {
        fill: $fill-color;
    }
}

@mixin col-width($size) {
    width: percentage($size / $default-column-size);
}

@mixin ie11only {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin grid-1280() {
    margin-left: $component-gutter-margin-xs;
    margin-right: $component-gutter-margin-xs;
    max-width: 100%;
    width: auto;
    @include media-breakpoint-up(sm) {
        margin-left: $component-gutter-margin-sm;
        margin-right: $component-gutter-margin-sm;
    }
}
