<div class="cmp-model-hypotheticals" data-version="growthHypothetical" data-benchmark="XIUSA0010V"
    data-portfolio-label="Your Sample Portfolio">
    <div class="cmp-model-hypotheticals__graph"></div>
    <div class="cmp-model-hypotheticals__rotate">
        <p class="cmp-model-hypotheticals__rotate-title">
            This is Mobile Title
        </p>
        <p class="cmp-model-hypotheticals__rotate-description">
            This is Mobile Description
        </p>
    </div>
</div>
