.cmp-literature__search {
    margin-bottom: calcRem(42px);
    @include media-breakpoint-down(sm) {
        margin-bottom: calcRem(48px);
    }
    &--container {
        display: flex;
    }
    &--text {
        background-color: $white;
        width: calcRem(350px);
        height: calcRem(56px);
        display: inline-block;
        padding-left: calcRem(22px);
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(20px) !important;
            width: auto;
            min-width: calcRem(264px);
            max-width: calcRem(278px);
        }
        &-search-text {
            border: none;
            color: $steel;
            outline-width: 0;
            font-size: calcRem(16px);
            line-height: calcRem(18px);
            text-align: left;
            width: calcRem(288px);
            padding-top: calcRem(19px);
            padding-bottom: calcRem(19px);
            @include media-breakpoint-down(sm) {
                font-size: calcRem(14px);
                line-height: calcRem(16px);
                padding-top: calcRem(21px);
                width: auto;
                min-width: calcRem(204px);
                max-width: calcRem(218px);
            }
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
            &:focus::-moz-placeholder {
                color: transparent;
            }
        }

        &-close {
            width: calcRem(20px);
            height: calcRem(20px);
            padding: 18px 20px 18px 0;
        }

        ::-ms-clear {
            display: none;
        }

        ::placeholder {
            color: $steel;
            font-family: $font-family-alda;
            font-style: italic;
            opacity: 0.65;
            letter-spacing: 0;
            @include media-breakpoint-down(sm) {
                width: calcRem(258px) !important;
            }
        }
    }
    &--icon {
        display: inline-block;
        width: calcRem(56px);
        height: calcRem(56px);
        background: $steel;
        text-align: center;
        padding: calcRem(15px);

        &-search {
            display: inline-block;
            vertical-align: sub;
            width: calcRem(26px);
            height: calcRem(26px);
            background: url('/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/search-icon.svg') no-repeat
                center/contain;
        }

        img {
            width: calcRem(26px);
            height: calcRem(26px);
        }
    }
    &--options {
        overflow-y: auto;
        height: calcRem(144px);
        width: calcRem(545px);
        box-shadow: -3px 14px 20px 2px rgba(0, 0, 0, 0.1);
        padding: calcRem(9px) 0 calcRem(38px) 0;
        position: absolute;
        background-color: $white;
        z-index: 999;
        @include media-breakpoint-down(sm) {
            position: relative;
            width: calcRem(334px);
            height: calcRem(184px);
            padding: calcRem(10px) 0 calcRem(30px) 0;
        }
        ul {
            list-style-type: none;
            padding-left: 0px;
            li {
                padding-left: calcRem(30px);
                line-height: calcRem(36px);
                font-size: calcRem(16px);
                @include media-breakpoint-down(sm) {
                    font-size: calcRem(14px);
                    padding-left: calcRem(22px);
                }

                &:hover {
                    background-color: $light-steel-3;
                }
            }
        }
    }

    .active {
        background: $light-steel-3;
    }
}
