<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.title, classAppend='cmp-featured-carousel-placeholder'}" />

<div class="cmp-featured-carousel" data-sly-use.featuredCarouselModel="com.nyl.nylim.models.FeaturedCarouselModel"
    data-sly-use.requestAttributeModel="${'com.nyl.foundation.models.RequestAttributeModel' @setComponentName='video'}"
    data-sly-use.mediaPlayerModel="com.nyl.foundation.models.MediaPlayerModel"
    data-sly-set.mediaDetails="${mediaPlayerModel.mediaPlayer}" data-account="${mediaDetails.accountId}"
    data-player-id="${mediaDetails.singlePlayerId}" data-dynamic-mode="${properties.enableDynamicFunctionality}">
    <div data-sly-test="${properties.title}" class="cmp-featured-carousel__header">
        <h4 data-sly-element="${properties.headingElement @ context='elementName'}" data-sly-test="${properties.title}"
            class="cmp-featured-carousel__header-title">
            ${properties.title}
        </h4>
        <a data-sly-use.linkModel="com.nyl.foundation.models.LinkModel"
            data-sly-test="${linkModel.text && linkModel.url}"
            href="${linkModel.url}${featuredCarouselModel.linkParameters}" class="cmp-featured-carousel__header-link"
            target="${linkModel.behavior}" title="${linkModel.title}">
            ${linkModel.text}
        </a>
    </div>
    <div data-sly-test="${properties.enableDynamicFunctionality}" class="cmp-featured-carousel__tiles-dynamic">
    </div>
    <div data-sly-use.imageLinkModel="com.nyl.foundation.models.ImageLinkModel" data-sly-test="${!properties.enableDynamicFunctionality && featuredCarouselModel.featuredCarouselList}"
        data-sly-list.featuredCarouselItem="${featuredCarouselModel.featuredCarouselList}"
        class="cmp-featured-carousel__tiles">
        <div data-sly-set.imagePath="${featuredCarouselItem.thumbnailImagePath? featuredCarouselItem.thumbnailImagePath : properties.defaultThumbnailImagePath}"
            class="cmp-featured-carousel__tile">

            <div class="cmp-featured-carousel__thumbnail-image-wrapper"
                data-sly-unwrap="${featuredCarouselItem.urlType!='audio-video'}">
                <a href="${featuredCarouselItem.imageLinkModel.url}"
                    target="${featuredCarouselItem.urlType=='document'?'_blank':featuredCarouselItem.imageLinkModel.behavior}"
                    class="cmp-featured-carousel__thumbnail-image-wrapper"
                    data-sly-unwrap="${featuredCarouselItem.urlType=='audio-video'}">
                    <sly data-sly-test="${imagePath}"
                        data-sly-set.imageAltText="${featuredCarouselItem.thumbnailImagePath? featuredCarouselItem.thumbnailAltText : properties.defaultThumbnailImageAltText}"
                        data-sly-use.image="/apps/nyl-foundation/components/common/templates/image.html"
                        data-sly-call="${image.imageTemplate @ componentName='data-feed', imagePath=imagePath, imageAltText=imageAltText,pictureClass='cmp-featured-carousel__thumbnail-image-picture',imgClass='cmp-featured-carousel__thumbnail-image-img polyfill-object-fit-ie'}">
                    </sly>
                    <video-js data-sly-test="${featuredCarouselItem.urlType=='audio-video'}"
                        data-sly-use.mediaPlayerModel="${'com.nyl.foundation.models.MediaPlayerModel' @videoAudioCfPath= featuredCarouselItem.imageLinkModel.url}"
                        data-sly-test.mediaDetails="${mediaPlayerModel.mediaPlayer}"
                        data-sly-use.identifierModel="com.nyl.foundation.models.IdGeneratorModel"
                        id="video-${identifierModel.id}" data-account="${mediaDetails.accountId}"
                        data-player="${mediaDetails.singlePlayerId}" data-video-id="${mediaDetails.mediaId}"
                        data-playlist-id="" data-embed="default" data-application-id="" preload="metadata" controls
                        class="vjs-fluid"
                        style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                    </video-js>

                    <span data-sly-test="${featuredCarouselItem.label}"
                        class="cmp-featured-carousel__thumbnail-image-label">
                        ${featuredCarouselItem.label}
                    </span>
                </a>
            </div>

            <div class="cmp-featured-carousel__tags-wrapper">
                <span data-sly-test="${featuredCarouselItem.tags}" data-sly-list.tag="${featuredCarouselItem.tags}"
                    class="cmp-featured-carousel__tags">
                    ${tag}
                </span>
                <span data-sly-test="${featuredCarouselItem.additionalLabel}"
                    class="cmp-featured-carousel__additional-label">
                    ${featuredCarouselItem.additionalLabel}
                </span>
            </div>
            <h5 data-sly-test="${featuredCarouselItem.title}" class="cmp-featured-carousel__title">
                <a href="${featuredCarouselItem.titleLinkUrl}" class="cmp-featured-carousel__title-link"
                    target="${featuredCarouselItem.urlType=='document'?'_blank':featuredCarouselItem.imageLinkModel.behavior}"
                    data-sly-unwrap="${!featuredCarouselItem.titleLinkUrl}">
                    ${featuredCarouselItem.title}
                </a>
            </h5>
            <div data-sly-test="${featuredCarouselItem.description}" class="cmp-featured-carousel__description">
                ${featuredCarouselItem.description}
            </div>
            <div class="cmp-featured-carousel__footer button button--link-style">
                <a data-sly-test="${featuredCarouselItem.imageLinkModel.text}" href="${featuredCarouselItem.titleLinkUrl}"
                    target="${featuredCarouselItem.imageLinkModel.behavior}" title="${featuredCarouselItem.imageLinkModel.title}"
                    data-sly-unwrap="${!featuredCarouselItem.titleLinkUrl}">
                    <span class="nyl-button">
                        <span class="nyl-button--link-text">
                            ${featuredCarouselItem.imageLinkModel.text}
                        </span>
                        <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="cmp-featured-carousel__tile-template-wrapper"
        data-filter="${featuredCarouselModel.featuredCarouselJson}" data-link-target="${properties.dynamicLinkBehavior}"
        data-link-title="${properties.dynamicLinkTitle?properties.dynamicLinkTitle :' '}"
        data-link-text="${properties.dynamicLinkText?properties.dynamicLinkText :' '}"
        data-sly-test="${properties.enableDynamicFunctionality}">
        <div class="cmp-featured-carousel__tile">
            <div class="cmp-featured-carousel__thumbnail-image-wrapper">
                <sly data-sly-call="${featuredCarouselTemplate}">
                </sly>
                <video-js id="" data-account="" data-player="" data-video-id="" data-playlist-id="" data-embed="default"
                    data-application-id="" preload="metadata" controls class="cmp-featured-carousel__video-js vjs-fluid"
                    style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;">
                </video-js>
                <span class="cmp-featured-carousel__thumbnail-image-label">
                </span>
            </div>
            <a href="" class="cmp-featured-carousel__thumbnail-image-wrapper">
                <sly data-sly-call="${featuredCarouselTemplate}">
                </sly>
                <span class="cmp-featured-carousel__thumbnail-image-label">
                </span>
            </a>

            <div class="cmp-featured-carousel__tags-wrapper">
                <span class="cmp-featured-carousel__tags">
                </span>
                <span class="cmp-featured-carousel__additional-label">
                </span>
            </div>
            <h5 class="cmp-featured-carousel__title">
                <a href="" class="cmp-featured-carousel__title-link">
                </a>
            </h5>
            <div class="cmp-featured-carousel__description">
            </div>
            <div class="cmp-featured-carousel__footer button button--link-style">
                <a class="cmp-featured-carousel__footer-link">
                    <span class="nyl-button">
                        <span class="nyl-button--link-text">
                        </span>
                        <i class="nyl-button--icon-arrow" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<template data-sly-template.featuredCarouselTemplate>
    <picture class="cmp-featured-carousel__thumbnail-image-picture">
        <source class="cmp-featured-carousel__thumbnail-image-source-xs" media="(max-width: 576px)" srcset="" />
        <source class="cmp-featured-carousel__thumbnail-image-source-sm" media="(max-width: 768px)" srcset="" />
        <source class="cmp-featured-carousel__thumbnail-image-source-md" media="(max-width: 992px)" srcset="" />
        <source class="cmp-featured-carousel__thumbnail-image-source-lg" media="(max-width: 1200px)" srcset="" />
        <img class="cmp-featured-carousel__thumbnail-image-img polyfill-object-fit-ie" src="" alt="" title="">
    </picture>
</template>
