.cmp-money-market-yields {
    @extend %full-width;
    @include media-breakpoint-down(sm) {
        padding-left: calcRem(0px) !important;
        padding-right: calcRem(0px) !important;
    }
    &__heading-div {
        padding-bottom: calcRem(15px);
    }
    &__wrapper {
        overflow-x: auto;
    }
    &__container-row {
        @include media-breakpoint-down(sm) {
            padding-left: calcRem(0px);
            padding-right: calcRem(0px);
        }
    }
    &__title {
        display: inline;
        height: calcRem(17px);
        color: $white;
        font-family: $font-family-helvetica-neue;
        font-size: calcRem(14px);
        font-weight: bold;
        letter-spacing: calcRem(1px);
        line-height: calcRem(17px);
        text-transform: uppercase;
        @include media-breakpoint-down(sm) {
            margin-left: calcRem(24px) !important;
        }

        &--asOfDate {
            height: calcRem(13px);
            width: calcRem(91px);
            color: $white;
            font-family: $font-family-helvetica-neue;
            font-size: calcRem(12px);
            letter-spacing: 0;
            line-height: calcRem(13px);
            &-value {
                height: calcRem(13px);
                width: calcRem(91px);
                color: $white;
                font-family: $font-family-helvetica-neue;
                font-size: calcRem(12px);
                letter-spacing: 0;
                line-height: calcRem(13px);
            }
        }
    }
    &__table {
        margin-top: calcRem(30px) !important;
        @include media-breakpoint-down(sm) {
            width: 134%;
            overflow-x: scroll;
        }
        caption {
            display: none;
        }
        thead {
            tr {
                th {
                    height: calcRem(18px);
                    padding-bottom: calcRem(17px);
                    width: calcRem(123px);
                    color: $white;
                    font-family: $font-family-helvetica-neue;
                    font-size: calcRem(14px);
                    letter-spacing: 0;
                    line-height: calcRem(18px);
                    padding-left: calcRem(24px);
                    font-weight: normal;

                    &:first-child {
                        text-align: left;
                        padding-left: calcRem(24px);
                    }
                    &:not(:first-child) {
                        text-align: right;
                    }
                    &:not(:first-child):last-child {
                        padding-right: calcRem(24px);
                    }
                }
            }
        }
        &--tbody {
            tr {
                height: calcRem(74px);
                width: calcRem(1110px);
                background-color: $white;
                color: $steel;
                font-family: $font-family-helvetica-neue;
                font-size: calcRem(14px);
                letter-spacing: 0;
                line-height: calcRem(18px);
            }
            td {
                padding-left: calcRem(24px);
                width: 25%;
                &:first-child {
                    text-align: left;
                    padding-left: calcRem(24px);
                }
                &:not(:first-child) {
                    text-align: right;
                }
                &:not(:first-child):last-child {
                    padding-right: calcRem(24px);
                }
            }
        }
    }

    &--white-rows {
        .cmp-money-market-yields {
            &__wrapper {
                .cmp-money-market-yields {
                    &__table {
                        tbody {
                            tr {
                                background-color: $white;
                                color: $steel;
                            }
                        }
                    }
                }
            }
        }
    }

    &--lightgray-rows {
        .cmp-money-market-yields {
            &__wrapper {
                .cmp-money-market-yields {
                    &__table {
                        tbody {
                            tr {
                                background-color: $light-steel-3;
                                color: $steel;
                            }
                        }
                    }
                }
            }
        }
    }

    &--steel-text {
        .cmp-money-market-yields {
            &__title {
                color: $steel;
                &--asOfDate {
                    color: $steel;
                    &-value {
                        color: $steel;
                    }
                }
            }
            &__wrapper {
                .cmp-money-market-yields {
                    &__table {
                        thead {
                            tr {
                                th {
                                    color: $steel;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &--white-text {
        .cmp-money-market-yields {
            &__title {
                color: $white;
                &--asOfDate {
                    color: $white;
                    &-value {
                        color: $white;
                    }
                }
            }
            &__wrapper {
                .cmp-money-market-yields {
                    &__table {
                        thead {
                            tr {
                                th {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__left {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
    &__right {
        display: none;
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
    &__left-gradient {
        display: none;
        @include media-breakpoint-down(sm) {
            position: absolute;
            display: block;
            width: calcRem(30px) !important;
            opacity: 0.8;
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(10, 60, 80, 0.4) 100%);
            z-index: 999;
            left: calcRem(0px);
        }
    }
    &__right-gradient {
        display: none;
        @include media-breakpoint-down(sm) {
            position: absolute;
            display: block;
            width: calcRem(30px) !important;
            opacity: 0.8;
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(129, 199, 255, 0)),
                to(rgba(6, 58, 82, 0.31))
            );
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(10, 60, 80, 0.4));
            z-index: 999;
            right: calcRem(0px);
        }
    }
}
