<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = true, classAppend='cmp-icon-list-placeholder'}" />

<sly data-sly-test.salmon="${properties.colorScheme == 'salmon'}">
    <sly data-sly-set.backGroundColor="#F6E8EC" />
    <sly data-sly-set.fontColor="#985570" />
</sly>

<sly data-sly-test.twilight="${properties.colorScheme == 'twilight'}">
    <sly data-sly-set.backGroundColor="#EBE7F2" />
    <sly data-sly-set.fontColor="#5C4C79" />
</sly>

<sly data-sly-test.dusk="${properties.colorScheme == 'dusk'}">
    <sly data-sly-set.backGroundColor="#E6E9F0" />
    <sly data-sly-set.fontColor="#424B6C" />
</sly>

<sly data-sly-test.rain="${properties.colorScheme == 'rain'}">
    <sly data-sly-set.backGroundColor="#E0EDF3" />
    <sly data-sly-set.fontColor="#205F7C" />
</sly>

<sly data-sly-test.palm="${properties.colorScheme == 'palm'}">
    <sly data-sly-set.backGroundColor="#EBF0EA" />
    <sly data-sly-set.fontColor="#466E5A" />
</sly>

<sly data-sly-test.gold="${properties.colorScheme == 'gold'}">
    <sly data-sly-set.backGroundColor="#FBF0E7" />
    <sly data-sly-set.fontColor="#A76936" />
</sly>

<sly data-sly-test.sunset="${properties.colorScheme == 'sunset'}">
    <sly data-sly-set.backGroundColor="#F8E8E2" />
    <sly data-sly-set.fontColor="#745342" />
</sly>

<sly data-sly-test.quartz="${properties.colorScheme == 'quartz'}">
    <sly data-sly-set.backGroundColor="#E9E8E8" />
    <sly data-sly-set.fontColor="#0A3C53" />
</sly>

<div data-sly-test="${resource.listChildren || properties.title}"
    style="background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};margin:0px auto;max-width:600px;">
    <table align="center" border="0" width="600" cellpadding="0" cellspacing="0" role="presentation"
        style="background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};width:100% !important;max-width:600px;">
        <tbody>
            <tr>
                <td>


                    <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->


                    <div style="margin:0px auto;max-width:600px;">

                        <table align="center" border="0" cellpadding="0" bgcolor="#ffffff" cellspacing="0"
                            role="presentation" style="width:100% !important; background:#ffffff">
                            <tbody>
                                <tr>
                                    <td
                                        style="border-left:30px solid ${backGroundColor @context='styleToken'};border-right:30px solid ${backGroundColor @context='styleToken'};direction:ltr;font-size:0px;padding:15px 0 30px 14px;text-align:left;">
                                        <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr>

            <td
               class="" style="vertical-align:top;width:540px;"
            >
          <![endif]-->

                                        <div class="mj-column-per-100 mj-outlook-group-fix"
                                            style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100% !important;">

                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                style="vertical-align:top;" width="100%">

                                                <tr>
                                                    <td align="left" class="icon-list__headline"
                                                        style="font-size:0px;word-break:break-word;">

                                                        <div
                                                            style="font-family:'effra',sans-serif;font-size:24px;font-style:normal;font-weight:500;letter-spacing:normal;line-height:1;text-align:left;color:${fontColor @ context='styleToken'}">
                                                            ${properties.title}</div>

                                                    </td>
                                                </tr>

                                            </table>

                                        </div>

                                        <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                    <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->


                </td>
            </tr>
        </tbody>
    </table>

    <sly data-sly-list.parentNode="${resource.listChildren}">
        <sly data-sly-test="${parentNode.name == 'links'}" data-sly-list.iconResource="${parentNode.listChildren}">
            <sly data-sly-use.linkModel="${'com.nyl.foundation.models.LinkModel' @ linkUrl=iconResource.ctaLinkUrl}"
                data-sly-use.imageModel="${'com.nyl.foundation.models.ImageModel' @ componentName='email-icon-list', imagePath=iconResource.imagePath, imageAltText=iconResource.imageAltText}">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                    style="width:100% !important;">

                    <tbody>
                        <tr>
                            <td>


                                <!--[if mso | IE]>
      <table
         align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:600px;" width="600" style="background:${backGroundColor  @context='styleToken'};background-color:${backGroundColor  @context='styleToken'};"
      >
        <tr>
          <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
      <![endif]-->


                                <div style="margin:0px auto;max-width:600px;">

                                    <table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                                        role="presentation" style="width:100% !important;background:#ffffff;">
                                        <tbody>
                                            <tr>
                                                <td
                                                    style="border-left:30px solid ${backGroundColor @context='styleToken'};border-right:30px solid ${backGroundColor @context='styleToken'};direction:ltr;font-size:0px;padding:0 0 30px 14px;text-align:left;">
                                                    <!--[if mso | IE]>
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                
        <tr> <![endif]-->
                                                    <sly data-sly-test="${imageModel.renditions['small'].imageUrl}">
                                                        <!--[if mso | IE]>
      
            <td
               class="" style="vertical-align:top;width:54px;"
            >
          <![endif]-->

                                                        <div class="mj-outlook-group-fix"
                                                            style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;margin-right: 34px;">

                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                role="presentation" style="vertical-align:top;"
                                                                width="100%">

                                                                <tr>
                                                                    <td align="center" class="icon-list__image"
                                                                        style="font-size: 0px; padding: 0 0px 10px 0px; word-break: break-word; width: 30px;"
                                                                        width="30">

                                                                        <table border="0" cellpadding="0"
                                                                            cellspacing="0" role="presentation"
                                                                            style="border-collapse:collapse;border-spacing:0px;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>

                                                                                        <img height="30"
                                                                                            src="${imageModel.renditions['small'].imageUrl}"
                                                                                            alt="${imageModel.altText}"
                                                                                            style="border:0;display:block;outline:none;text-decoration:none;width:30px;height:30px;font-size:13px;"
                                                                                            width="30">

                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>

                                                            </table>

                                                        </div>

                                                        <!--[if mso | IE]>
            </td> 
                     <![endif]-->
                                                    </sly>
                                                    <!--[if mso | IE]>
          
            <td
               class="" style="vertical-align:top;width:486px;"
            >
          <![endif]-->

          <sly data-sly-test="${!imageModel.renditions['small'].imageUrl}">
           <!--[if mso | IE]>                                     
           <table class="only-outlook" border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top; width:540px !important;" width="540">                             <![endif]-->  
           </sly>


                                                    <div class="mj-column-per-80  mj-outlook-group-fix"
                                                        style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;">

                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            role="presentation" style="vertical-align:top;"
                                                            width="100%">

                                                            <tr>
                                                                <td align="center" vertical-align="middle"
                                                                    class="icon-171717"
                                                                    style="font-size:18px;text-align:left;word-break:break-word;">

                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        role="presentation"
                                                                        style="border-collapse:separate;line-height:100%;">
                                                                        <tr>
                                                                            <td align="center" role="presentation"
                                                                                style="border:none;border-radius:3px;cursor:auto;font-style:normal;line-height:1.5;mso-padding-alt:0 34px 10px 0;text-align:left;padding:0 34px 10px 0;font-weight:500;font-family:'effra',sans-serif;font-size:18px;"
                                                                                valign="middle">
                                                                                <a data-sly-unwrap="${!linkModel.linkUrl}"
                                                                                    title="${iconResource.ctaLinkTitle}"
                                                                                    href="${linkModel.linkUrl}"
                                                                                    style="display:inline-block;text-decoration:underline;margin:0;text-transform:none;mso-padding-alt:0px;border-radius:3px;color:#171717"
                                                                                    target="_blank">
                                                                                    ${iconResource.ctaLinkText}
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>

                                                                </td>
                                                            </tr>

                                                        </table>

                                                    </div>

                                                    <!--[if mso | IE]>
            </td>
          
        </tr>
      
                  </table>
                <![endif]-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>


                                <!--[if mso | IE]>
          </td>
        </tr>
      </table>
      <![endif]-->



                            </td>
                        </tr>
                    </tbody>
                </table>

            </sly>
        </sly>
    </sly>
    <!-- icon-list Component Ends -->
</div>
