<style type="text/css">
    #outlook a {
        padding: 0;
    }

    p {
        margin: 13px 0;
    }

    @media only screen and (min-width:480px) {
        .mj-column-per-100 {
            width: 100% !important;
            max-width: 100%;
        }

        .mj-column-per-10 {
            width: 10% !important;
            max-width: 10%;
        }

        .mj-column-per-80 {
            width: 80% !important;
            max-width: 80%;
        }
    }

    @media only screen and (max-width:480px) {
        table.mj-full-width-mobile {
            width: 100% !important;
        }

        td.mj-full-width-mobile {
            width: auto !important;
        }

        .mj-column-per-10 {
            width: 10% !important;
            max-width: 10%;
        }

        .mj-column-per-80 {
            width: 70% !important;
            max-width: calc(100% - 64px);
        }
    }
</style>
<!--[if mso]>
        <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
<!--[if lte mso 11]>
        <style type="text/css">
          .mj-outlook-group-fix { width:100% !important; }
        </style>
        <![endif]-->
