<div class="cmp-literature__search">
    <div class="cmp-literature__search--container">
        <div class="cmp-literature__search--text">
            <label for="literatureSearch"></label>
            <input id="literatureSearch" class="cmp-literature__search--text-search-text" [(ngModel)]="searchText"
                placeholder="{{ searchMessages?.placeholder }}" (keyup)="dataTableService.isTypeAhead ? updateText($event) : updateTextAnnuities($event)" />
            <span *ngIf="searchText?.length>0" class="cmp-literature__search--text-close" (click)="clearSearch($event)" (keypress)="clearSearch($event)"
                (keypress)="clearSearch()">
                <img src="/etc.clientlibs/nylim/clientlibs/datatable/resources/icons/close-icon--steel.svg"
                    title="{{ searchMessages?.clear }}" alt="{{ searchMessages?.clear }}" />
            </span>
        </div>
        <div class="cmp-literature__search--icon" (click)="!dataTableService.isTypeAhead ? searchData() : ''" (keypress)="!dataTableService.isTypeAhead ? searchData() : ''">
            <i class="cmp-literature__search--icon-search" aria-hidden="true"></i>
        </div>
    </div>


    <div *ngIf="searchText?.length > 2 && allSearchData && allSearchData.length > 0"
        class="cmp-literature__search--options">
        <ul>
            <ng-container *ngFor="let c of allSearchData; let i = index">
                <li *ngIf="c!=-1" (keypress)="sendSelectedText($event)" (click)="sendSelectedText($event)">{{c?.label}}
                </li>
                <li *ngIf="c==-1">{{searchMessages.emptySearch}}</li>
            </ng-container>

        </ul>
    </div>
</div>
