<form class="cmp-policy-check" id="policy-number-check" novalidate="">
    <div class="mb-3">
        <label for="policy1">Test Policy Number Check #1</label> <input type="text" id="policy1"
            class="form-control form-control-lg is-invalid" maxlength="15">
        <div class="invalid-feedback">Please enter a valid policy number of at least 8 characters.</div>
        <div class="valid-feedback"></div>
    </div>
    <div class="mb-3">
        <label for="policy2">Test Policy Number Check #2</label> <input type="text" id="policy2"
            class="form-control form-control-lg" maxlength="15">
        <div class="invalid-feedback"></div>
        <div class="valid-feedback"></div>
    </div>
    <div class="mb-3">
        <label for="policy3">Test Policy Number Check #3</label> <input type="text" id="policy3"
            class="form-control form-control-lg" maxlength="15">
        <div class="invalid-feedback"></div>
        <div class="valid-feedback"></div>
    </div>
    <button type="submit" class="nyl-button">
        Click Here <i class="icon-cta-arrow--white" aria-hidden="true"> <svg xmlns="http://www.w3.org/2000/svg"
                width="18" height="14">
                <g class="icon-cta-arrow" fill="none">
                    <path fill="#FFF" d="M0 6h17v2H0z"></path>
                    <path stroke="#FFF" stroke-width="2" d="M11 1.343L16.657 7 11 12.657"></path>
                </g>
            </svg> </i>
    </button>
</form>