.cmp-separator hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid $steel;
    border-left : none;
    border-right: none;
    border-bottom: none;
    height: 2px;
}

@each $separator-color-name, $separator-color in $steel-colors {
    .cmp-separator--#{$separator-color-name} {
        .cmp-separator hr {
            border-top: 1px solid $separator-color;
        }
    }
}

.cmp-separator--white {
    .cmp-separator hr {
        border-top: 1px solid $white;
    }
}
