<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder @ isEmpty = !properties.sectionHeadingLinkText, 
 classAppend='cmp-link-list-placeholder'}" />
<div class="cmp-link-list" data-analytics-cta-value-selector=".js-analytics-title">
    <sly data-sly-use.linkList="com.nyl.foundation.models.LinkListModel"
        data-sly-use.heading="${'com.nyl.foundation.models.LinkModel' @ prefix='sectionHeading'}"
        data-sly-use.identifier="${'com.nyl.foundation.models.IdGeneratorModel'}" data-sly-set.id="${identifier.id}">
        <h6 data-sly-test="${heading.text}">
            <span class="navbar-notoggle js-analytics-title"> <a data-sly-unwrap="${!(heading.url && heading.title)}"
                    href="${heading.url}" title="${heading.title}" target="${heading.behavior}">${heading.text}</a>
            </span> <span data-sly-test="${!wcmmode.edit}" class="navbar-toggler"> <a class="navbar-toggler collapsed"
                    data-toggle="collapse" data-target="#cmp-linkList-${id}" aria-expanded="true" href="${heading.url}"
                    title="${heading.title}" target="${heading.behavior}">${heading.text} <img
                        src="/etc.clientlibs/nyl-foundation/clientlibs/global/resources/images/icon-caret--black.svg"
                        class="icon-caret d-inline-block" alt="">
                </a>
            </span>
        </h6>
        <div class="cmp-link-list__secondary-title" data-sly-test="${properties.secondaryTitle}">
            ${properties.secondaryTitle}</div>
        <ul class="${!heading.text?'show collapsed':'collapsed' }" id="cmp-linkList-${id}"
            data-sly-list.link="${linkList.links}">
            <li data-sly-set.pagePath="${currentPage.path}.html" data-sly-test="${link.url && link.title}">
                <a class="${link.url==pagePath?'active':'' }" href="${link.url}" title="${link.title}"
                    target="${link.behavior}">${link.text}</a>
                <span class="row"
                    data-sly-test="${link.properties.secondaryLinkLabel}">${link.properties.secondaryLinkLabel}</span>
            </li>
        </ul>
    </sly>
</div>
