<div class="cmp-aem-form-container" data-referrer="current" data-thankyou="/content/nyl/us/en/thankyou.html">
    <div class="aemformcontainer" data-form-page-path="/content/forms/af/nyl-foundation/report-a-death">
        <form id="guideContainerForm" autocomplete="off" data-replaceable-tag="guideContainerForm"
            data-iframe-height="">
            <div class="row">
                <button class="button-default button-medium submit" type="submit"
                    id="guideContainer-rootPanel-submit___widget" name="guideContainer-rootPanel-submit___jqName"
                    style="position: relative;" tabindex="0" aria-label="Submit" placeholder="" data-original-title=""
                    title="">
                    <span class="iconButton-icon"></span>
                    <span class="iconButton-label" data-guide-button-label="true" style="">Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>