<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${templates.placeholder @ isEmpty = !properties.jumpToTitle, classAppend='cmp-anchor-link-container-placeholder'}" />
<sly data-sly-use.identifier="com.nyl.foundation.models.IdGeneratorModel" />
<div class="cmp-anchor-link-container" id="cmp-anchor-link-container-${identifier.id}">
    <div class="cmp-anchor-link-container__style-default">
        <div class="row">

            <div class="col-md-4 cmp-anchor-link-container__section-list col-sm-12">
                <h2 data-sly-test="${properties.jumpToTitle}" class="cmp-anchor-link-container__jump-title">
                    ${properties.jumpToTitle}</h2>
                <div id="cmpAnchorLinkScroll-${identifier.id}"
                    class="cmp-anchor-link-container__section-list-inner list-group">
                </div>
            </div>

            <div class="col-md-8 cmp-anchor-link-container__section col-sm-12">
            </div>
        </div>
    </div>

    <div class="cmp-anchor-link-container__style-top-anchor-link">
        <div class="cmp-anchor-link-container__style-top-anchor-link__header">
            <div class="cmp-anchor-link-container__section-list container">
                <h2 data-sly-test="${properties.jumpToTitle}" class="cmp-anchor-link-container__jump-title">
                    ${properties.jumpToTitle}</h2>
                <div class="cmp-anchor-link-container__style-top-anchor-link__left"></div>
                <div class="cmp-anchor-link-container__style-top-anchor-link__right 
                    cmp-anchor-link-container__style-top-anchor-link__right-gradient"></div>
                <div id="cmpAnchorLinkScroll-${identifier.id}" class="cmp-anchor-link-container__section-list-inner">
                </div>
            </div>
        </div>
        <div class="cmp-anchor-link-container__section col-xs-12">
        </div>
    </div>

    <div class="cmp-anchor-link-container__style-top-anchor-link-accordion">
        <div class="cmp-anchor-link-container__section col-xs-12">
        </div>
    </div>
    <div class="cmp-anchor-link-container__section-content">
        <sly data-sly-resource="${'anchor-section-parsys' @resourceType='wcm/foundation/components/parsys'}" />
    </div>
</div>
