.image + .email-subscribe {
    .cmp-email-subscribe {
        @include media-breakpoint-down(sm) {
            margin-top: calcRem(0px) !important;
        }
    }
}
.cmp-email-subscribe {
    .container-fluid > .row,
    .container-fluid > .row + .row {
        float: left;
        display: block;
    }
    .container-fluid > .row {
        width: 100%;
        margin: 0;
    }
    .container-fluid > .row + .row {
        width: auto;
        margin-left: -15px;
        margin-right: -15px;
    }
    .container-fluid .row .col-xs-12 {
        width: 100%;
    }
    .layout.container-fluid {
        padding: 0;
    }
    &__title {
        color: $white;
        font-family: $font-family-helvetica-neue;
        font-weight: bold;
        letter-spacing: calcRem(1px);
        margin-bottom: calcRem(24px);
        @include font-size(14px);
        @include line-height(17px);
        @include media-breakpoint-down(sm) {
            margin-bottom: calcRem(16px);
        }
    }
    .elq-label {
        display: none;
    }
    &__description {
        color: $white;
        font-family: $font-family-helvetica-neue;
        @include font-size(14px);
        letter-spacing: 0;
        @include line-height(18px);
        margin-bottom: calcRem(12px);
    }
    input[type='text'].elq-item-input {
        height: calcRem(48px) !important;
        width: 100% !important;
        padding: calcRem(14px) calcRem(56px) calcRem(14px) calcRem(16px);
        background-color: $light-steel-2;
        color: $steel;
        font-family: $font-family-alda;
        font-size: calcRem(14px);
        font-style: italic;
        letter-spacing: 0;
        @include line-height(23px);
        border: none;
        text-overflow: ellipsis;
        @include media-breakpoint-down(sm) {
            height: calcRem(40px) !important;
            width: 100% !important;
            padding: calcRem(10px) calcRem(53.49px) calcRem(10px) calcRem(16px);
        }
        &::-ms-clear {
            display: none;
        }
        &:focus::placeholder,
        &:focus::-webkit-input-placeholder,
        &:focus:-ms-input-placeholder,
        &:focus::-moz-placeholder,
        &:focus:-moz-placeholder {
            color: transparent;
        }
    }
    input:-ms-input-placeholder,
    input::placeholder,
    input::-webkit-input-placeholder {
        opacity: 0.65 !important;
    }
    input[type='submit'] {
        height: calcRem(48px);
        width: calcRem(47px);
        padding-left: calcRem(47px);
        color: transparent;
        background: url('../resources/images/icon-cta-arrow--dark-quartz.svg') no-repeat;
        background-position-x: calcRem(25px);
        background-position-y: calcRem(19px);
        margin-left: calcRem(-40px);
        border: 0;
        overflow: hidden;
        cursor: pointer;
        @include media-breakpoint-down(sm) {
            background-position-y: calcRem(14px);
        }
    }
    .LV_validation_message {
        @include font-size(12px);
        @include line-height(24px);
        display: block;
        text-align: left;
        &.LV_invalid {
            color: $error;
        }
        &.LV_valid {
            display: none;
        }
    }
    input[type='text'].LV_invalid_field {
        border: $error 1px solid;
    }
    &--no-title {
        .cmp-email-subscribe {
            display: inline-block;
            background-color: $light-steel-3;
            padding: calcRem(56px) calcRem(24px) calcRem(69px) calcRem(24px) !important;
            width: 100%;
            @include media-breakpoint-down(sm) {
                padding: calcRem(27px) calcRem(16px) calcRem(40px) calcRem(16px) !important;
                width: 100%;
            }
            .LV_validation_message {
                @include font-size(12px);
                @include line-height(24px);
                display: block;
                text-align: left;
                &.LV_invalid {
                    color: $error;
                }
                &.LV_valid {
                    display: none;
                }
            }
            input[type='text'].LV_invalid_field {
                border: $error 1px solid;
            }
            .container-fluid > .row {
                width: 96.8%;
                margin-left: calcRem(-15px);
                margin-right: calcRem(-15px);
                @include media-breakpoint-down(sm) {
                    width: 97.7%;
                }
            }
            .layout.container-fluid {
                padding: 0px calcRem(15px);
                display: inline-flex;
            }
            .container-fluid > .row + .row {
                width: auto;
            }
            .elq-label {
                display: none;
            }
            &__title {
                display: none;
            }
            &__description {
                color: $steel;
                font-family: $font-family-helvetica-neue;
                @include font-size(18px);
                @include line-height(22px);
                @extend %font-weight-bold;
                letter-spacing: 0;
                margin-bottom: calcRem(21px);
                @include media-breakpoint-down(sm) {
                    @include font-size(16px);
                    @include line-height(20px);
                }
            }
        }
        input[type='text'].elq-item-input {
            height: calcRem(40px) !important;
            width: 100% !important;
            background-color: $white;
            color: $steel;
            padding: calcRem(10px) calcRem(16px);
            font-family: $font-family-alda;
            @include font-size(14px);
            @include line-height(23px);
            font-style: italic;
            letter-spacing: 0;
            border: none;
            text-overflow: ellipsis;
            @include media-breakpoint-down(sm) {
                width: 100% !important;
            }
            &::-ms-clear {
                display: none;
            }
            &:focus::placeholder,
            &:focus::-webkit-input-placeholder,
            &:focus:-ms-input-placeholder,
            &:focus::-moz-placeholder,
            &:focus:-moz-placeholder {
                color: transparent;
            }
        }
        input:-ms-input-placeholder,
        input::placeholder,
        input::-webkit-input-placeholder {
            opacity: 0.65 !important;
        }
        input[type='submit'] {
            height: calcRem(40px);
            width: calcRem(40px);
            background: $steel url('../resources/images/icon-cta-arrow--white.svg') no-repeat !important;
            margin-left: calcRem(30px);
            margin-top: calcRem(1px);
            color: transparent !important;
            background-position-x: calcRem(11px) !important;
            background-position-y: calcRem(13px) !important;
            border: none;
            padding: 0;
            overflow: hidden;
            cursor: pointer;
            &:hover {
                background-color: $dark-steel-2 !important;
            }
            @include media-breakpoint-down(sm) {
                width: calcRem(35px);
                background-position-x: calcRem(7px) !important;
            }
        }
    }
}
