.cmp-breadcrumb {
    position: absolute;
    z-index: 1;
    width: 100%;

    .container {
        @include media-breakpoint-down(lg) {
            max-width: none;
        }
    }
    ul {
        list-style: none;
        display: block;
        margin-top: calcRem(30px);
        padding-left: 0;
        margin-left: 10px;

        @include media-breakpoint-down(lg) {
            margin-left: 0;
        }

        li {
            display: inline;
            color: $black;
            @include font-size($font-size-xx-small);
            @include line-height($font-size-xx-small, 2.572);

            a {
                display: inline-block;
                @include font-size($font-size-xx-small);
                @include line-height($font-size-xx-small, 2.572);
            }
        }

        li + li:before {
            padding: 4px;
            content: '/\00a0';
            font-weight: normal;
        }

        li:first-child {
            padding-top: 5px;
        }

        li:last-child {
            font-weight: bold;
            pointer-events: none;
        }

        @include media-breakpoint-down(sm) {
            .icon-caret {
                margin-left: -5px;
                @include transform(rotate(90deg) scale(0.7));
            }

            li {
                display: none;
            }

            li:nth-last-child(2) {
                display: inline-block;
            }

            li + li:before {
                content: none;
            }
        }
    }
}

.breadcrumb {
    // bootstrap override
    display: block;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: $white;
    border-radius: 0;

    // style system options
    &.cmp-breadcrumb--light {
        li,
        a {
            color: $white;
        }

        a {
            &:hover {
                color: $brand-blue;
            }
        }
        .icon-caret {
            stroke: $white;
        }
    }

    &.cmp-breadcrumb--block {
        .cmp-breadcrumb {
            position: static;
        }
    }
}
