<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.disclosuresModel="${'com.nyl.foundation.models.DisclosuresModel'}" data-sly-call="${templates.placeholder @ isEmpty = !disclosuresModel.disclosuresList,
    classAppend='cmp-disclosures-placeholder'}" />
<div class="cmp-disclosures noindex">
    <h6 data-sly-test="${properties.title}">${properties.title}</h6>
    <div class="cmp-disclosures__disclosures--basic" data-sly-list.disclosures="${disclosuresModel.disclosuresList}">
        <br data-sly-test="${disclosures.id=='true'}">
        ${disclosures.content @ context='html'}
    </div>
    <div class="cmp-disclosures__disclosures--see-more"
        data-sly-list.seeMoreDisclosures="${disclosuresModel.seeMoreDisclosuresList}">
        <br data-sly-test="${seeMoreDisclosures.id=='true'}">
        ${seeMoreDisclosures.content @ context='html'}
    </div>
    <div data-sly-test="${disclosuresModel.seeMoreDisclosuresList}"
        class="cmp-disclosures__toggle d-flex justify-content-end" aria-expanded="false">
        <span class="cmp-disclosures__toggle--more">${'foundation.disclosure.seemore' @ i18n}</span>
        <span class="cmp-disclosures__toggle--less">${'foundation.disclosure.seeless' @ i18n}</span>
    </div>
</div>
