<div class="cmp-morningstar-tools--light-steel">
    <div class="cmp-morningstar-tools" data-edit-mode="false">
        <div class="cmp-morningstar-tools__tabs-container">
            <ul class="cmp-morningstar-tools__tabs">
                <li class="cmp-morningstar-tools__tab--active" name="compare-products">Compare Products</li>
                <li class="cmp-morningstar-tools__tab" name="model-hypotheticals">Model Hypotheticals</li>
                <li class="cmp-morningstar-tools__tab" name="analyze-portfolios">Analyze Portfolios</li>
            </ul>
            <div class="cmp-morningstar-tools__tabs-shade--left"></div>
            <div class="cmp-morningstar-tools__tabs-shade--right"></div>
        </div>

        <div class="cmp-morningstar-tools__compare-products" name="compare-products">
            <div class="cmp-compare-products">
                <div class="cmp-compare-products__graph compare-products-container"></div>
                <div class="cmp-compare-products__rotate">
                    <p class="cmp-compare-products__rotate-title">
                        This is Mobile Title
                    </p>
                    <p class="cmp-compare-products__rotate-description">
                        This is Mobile Description
                    </p>
                </div>
            </div>
        </div>

        <div class="cmp-morningstar-tools__model-hypotheticals" name="model-hypotheticals">
            <div class="cmp-model-hypotheticals" data-version="modelHypothetical"
                data-portfolio-label="Your Sample Portfolio">
                <div class="cmp-model-hypotheticals__graph"></div>
                <div class="cmp-model-hypotheticals__rotate">
                    <p class="cmp-model-hypotheticals__rotate-title">
                        This is Mobile Title
                    </p>
                    <p class="cmp-model-hypotheticals__rotate-description">
                        This is Mobile Description
                    </p>
                </div>
            </div>
        </div>

        <div class="cmp-morningstar-tools__analyze-portfolios" name="analyze-portfolios">
            <div class="cmp-analyze-portfolio" data-portfolio-label="Your Sample Portfolio">
                <div class="cmp-analyze-portfolio__graph xray-container">
                </div>
                <div class="cmp-analyze-portfolio__rotate">
                    <p class="cmp-analyze-portfolio__rotate-title">
                        This is Mobile Title
                    </p>
                    <p class="cmp-analyze-portfolio__rotate-description">
                        This is Mobile Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
