<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.stateDirectoryModel="${'com.nyl.nylcom.models.agentweb.StateDirectoryModel'}"
    data-sly-call="${templates.placeholder @ isEmpty = !stateDirectoryModel.states, classAppend='cmp-state-directory-placeholder'}" />
<div class="cmp-state-directory" data-sly-test="${stateDirectoryModel.states}">
    <ul class="cmp-state-directory__container d-flex flex-column flex-wrap col"
        data-sly-list.state="${stateDirectoryModel.states}">
        <li class="cmp-state-directory__state"
            data-sly-test.linkTitle="${stateDirectoryModel.recruiter ? 'nyl.agent.findARecruiter' : 'nyl.agent.findAnAgent' @i18n}">
            <a href="${stateDirectoryModel.redirectLink}${state.stateNameUrl}"
            title="${linkTitle} ${state.stateName}" data-sly-test="${!state.disable}">${state.stateName}</a>
            <p data-sly-test="${state.disable}">${state.stateName}</p>
        </li>
    </ul>
</div>
