.cmp-city-directory {
    margin-top: calcRem(30px);
    margin-bottom: calcRem(30px);
    
    &__city {
        margin-bottom: calcRem(50px);
        list-style-type: none;
        padding: 0;
    }
    &__title{
        margin-bottom:calcRem(9px);
        font-size: calcRem(24px);
        line-height: calcRem(24px);
        font-weight: 500;
    }
    
    &__link{
        font-size: calcRem(16px);
        line-height: calcRem(24px);
        list-style-type: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: underline;
        padding-right:20px;
    }  
    
    @include media-breakpoint-down(sm){
        margin-top: calcRem(15px);
        margin-bottom: calcRem(15px);
    }
}
