.cmp-infographic {
    &__modal {
        position: relative;
        width: fit-content;
        &-expand {
            @include media-breakpoint-up(md) {
                pointer-events: none;
                margin-top: 0px;
            }
            cursor: pointer;
            margin-top: 30px;
            position: relative;
            &--icon {
                @include media-breakpoint-up(md) {
                    display: none;
                }
                &:after {
                    content: '';
                    width: calcRem(27px);
                    height: calcRem(27px);
                    display: inline-block;

                    background-color: $light-steel-2;
                    background-image: url('../resources/images/icon-expand--steel.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    position: absolute;
                    right: 0px;
                }
            }
        }
    }
    &__modal-close {
        &:after {
            content: '';
            width: calcRem(48px);
            height: calcRem(48px);
            right: calcRem(15px);
            position: fixed;
            background: url('../resources/images/icon-close--white.svg') no-repeat center/contain;
        }
    }

    .modal {
        background-color: $dark-steel;
        overflow-x: auto !important;
        overflow-y: auto !important;
        .close {
            position: absolute;
            color: $white;
            top: calcRem(15px);
            right: calcRem(60px);
            z-index: 999;
        }
        .modal-dialog {
            margin: 0;
            .modal-content {
                border: none;
                .modal-body {
                    padding: 0 !important;
                    img {
                        height: 100%;
                        margin: calcRem(78px) 0;
                    }
                }
                width: auto;
                background-color: $dark-steel;
            }
        }
    }
}
