<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='nyl-foundation.formautopattern'}" />
</sly>

<div data-sly-use.thankyouPage="${'com.nyl.foundation.models.LinkRewriteModel' @ path=properties.thankyouPage}"
    class="cmp-aem-form-container" data-referrer="${properties.referringUrl}"
    data-tracker-provided="${properties.trackerId != null}" data-thankyou="${thankyouPage.rewriteUrl}">
    <sly data-sly-include="aemform.html"></sly>
</div>