.cmp-tag-cloud {
    &__title {
        @include font-size(18px);
        margin-bottom:15px;
        line-height: calcRem(27px); 
        width:100%;  
    }
    a {
        display: inline-block;
        margin-right:20px;
        margin-bottom:20px;
        background: $medium-rain;
        border-radius: calcRem(4px);
        color: $black;
        @include font-size(18px);     
        padding:6px 20px;
        line-height: calcRem(24px);   
       &:last-child {
           margin-right: 0;
       }
    }
}
