// Search Input
.cmp-search-input {
    &__search-btn {
        border-radius: 0 4px 4px 0;
        height: 100%;
        min-height: 100%;
        padding: 0;
        width: calcRem(70px);
        .icon-search {
            margin-left: 0;
        }
    }
    &__search-input {
        border: 1px solid #cdcdcd;
        border-right: none;
        border-radius: 4px 0 0 4px;
        padding: 1.5rem;
        @include font-size(18px);
        width: 100%;
        height: calcRem(70px);
    }
    h1 {
        @extend .base-font;
        font-size: calcRem(18px);
    }
    
    legend {
        display:none;
    }
}
