.cmp-social-follow {
    display: inline-block;
    &__social-icon {
        margin: 11px 16px 11px auto;
        display: inline-block;
    }
    h6 {
        margin: 0px;
        height: 17px;
        width: 149px;
        color: $white;
        font-family: $font-family-helvetica-neue;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 17px;
    }
}
.xf-web-container {
    .cmp-social-follow {
        h6 {
            color: $steel;
        }
    }
}
