<div data-audience-selector="individual" data-audience-title="Individual Investor"
    class="fund-id global-data-attribute"></div>

<div class="cmp-insights" data-default-image-xs="https://bit.ly/38pPNWA" data-default-image-s="https://bit.ly/38pPNWA"
    data-default-image-m="https://bit.ly/38pPNWA" data-default-image-l="https://bit.ly/38pPNWA"
    data-default-image-xl="https://bit.ly/38pPNWA" data-default-image-alt-text="Default Img Alt Text"
    data-default-accountId="70943156001" data-default-playerId="HGO4GsYLns">
    <div class="cmp-insights__header">
        <span class="cmp-insights__title">
            Show Insights About:
        </span>
        <div class="cmp-insights__dropdowns">
            <div class="cmp-custom-dropdown-container">
                <select class="cmp-insights__assets-dropdown cmp-insights__dropdown" aria-label="Assets Dropdown">
                    <option value="selected"></option>
                    <option value="All Assets Classes" selected>All Assets Classes</option>
                </select>
            </div>
            <div class="cmp-custom-dropdown-container">
                <select class="cmp-insights__strategies-dropdown cmp-insights__dropdown"
                    aria-label="Strategies Dropdown">
                    <option value="selected"></option>
                    <option value="All Strategies" selected>All Strategies</option>
                </select>
            </div>
        </div>
        <div class="cmp-insights__tabs-container">
            <ul class="cmp-insights__tabs">
                <li class="cmp-insights__tab cmp-insights__tab--default cmp-insights__tab--active">Latest
                </li>
                <li class="cmp-insights__tab">Thought Leadership</li>
                <li class="cmp-insights__tab">Events & Webcasts</li>
                <li class="cmp-insights__tab">Education</li>
            </ul>
            <div class="cmp-insights__tabs-shade--left"></div>
            <div class="cmp-insights__tabs-shade--right"></div>
        </div>
    </div>
    <div class="cmp-insights__contents"></div>
    <div class="cmp-insights__loading-state">Loading...</div>
    <div class="cmp-insights__no-result-state">No matching result found</div>
    <div class="cmp-insights__error-state">No results are available at this time</div>
    <a class="cmp-insights__load-more">
        <span class="nyl-button">Load More</span>
    </a>
</div>
