.cmp-accordion {
    margin-top: 24px;
    &__header {
        button {
            background-color: transparent;
            padding: 16px 32px 16px 0;
            margin: 0;
            border: 0;
            border-top: 1px solid $grey-medium;
            position: relative;
            cursor: pointer;
            &:focus,
            &:active,
            &:visited {
                outline: none;
            }
        }
        .cmp-accordion {
            &__title {
                font-family: $font-family-effra-pro;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 24px;
                letter-spacing: normal;
                text-align: left;
                color: $cool-black;
            }
            &__icon {
                background-image: url('../resources/images/icon-caret-down.svg');
                background-repeat: no-repeat;
                background-size: 16px 16px;
                width: 16px;
                height: 16px;
                content: '';
                position: absolute;
                right: 0;
                margin: 0;
                top: 21px;
            }
        }
        button[aria-expanded='true'] {
            .cmp-accordion__icon {
                transform: rotate(180deg);
            }
        }
    }
    &__panel {
        background-color: $grey-light;
        padding: 24px;
        border-bottom: 1px solid $grey-medium;
        > *,
        p,
        span {
            font-family: $font-family-effra-pro;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 24px;
            letter-spacing: normal;
            text-align: left;
            margin: 0;
        }
    }
}
