<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-call="${templates.placeholder 
    @ isEmpty = true, classAppend='cmp-key-facts-placeholder'}" />

<div class="cmp-key-facts">
    <div class="cmp-key-facts__container-div container">
        <div class="row cmp-key-facts__main-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-key-facts__main-section">
                <div class="cmp-key-facts__left-section-heading">
                    <span class="cmp-key-facts__key-facts-text cmp-key-facts__section-heading-text"></span>
                    <span class="cmp-key-facts__as-of-date as-of"></span>
                    <span class="cmp-key-facts__as-of-date as-of-value"></span>
                    <div>
                        <span class="cmp-key-facts__fund-details-text"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-key-facts__main-section">
                <div class="cmp-key-facts__right-section-heading">
                    <span
                        class="cmp-key-facts__key-facts-text cmp-key-facts__all-share-classes cmp-key-facts__section-heading-text"></span>
                    <span class="cmp-key-facts__as-of-date as-of"></span>
                    <span class="cmp-key-facts__as-of-date as-of-value"></span>
                    <div>
                        <span class="cmp-key-facts__fund-details-text"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-key-facts__main-section">
                <ul class="cmp-key-facts__list-container-styling cmp-key-facts__left-list-container">
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-key-facts__main-section">
                <div class="cmp-key-facts__mf-right-section-heading">
                    <span
                        class="cmp-key-facts__key-facts-text cmp-key-facts__all-share-classes cmp-key-facts__section-heading-text"></span>
                    <span class="cmp-key-facts__as-of-date as-of"></span>
                    <span class="cmp-key-facts__as-of-date as-of-value"></span>
                    <div>
                        <span class="cmp-key-facts__fund-details-text"></span>
                    </div>
                </div>
                <ul class="cmp-key-facts__list-container-styling cmp-key-facts__right-list-container">
                </ul>
            </div>
        </div>
        <div class="row cmp-key-facts__sub-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-key-facts__main-section">
                <div class="cmp-key-facts__bottom-section-heading">
                    <span class="cmp-key-facts__index-text cmp-key-facts__section-heading-text"></span>
                </div>
                <ul class="cmp-key-facts__list-container-styling cmp-key-facts__index-left-list-container">
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 cmp-key-facts__main-section">
                <div class="cmp-key-facts__bottom-section-heading cmp-key-facts__bottom-right-section-heading">
                    <span class="cmp-key-facts__index-text cmp-key-facts__section-heading-text"></span>
                </div>
                <ul class="cmp-key-facts__list-container-styling cmp-key-facts__index-right-list-container">
                </ul>
            </div>
        </div>
    </div>
</div>
