// DEFAULT STYLE
.cmp-color-container {
    background: $light-steel-3;

    .cmp-rte {
        @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
