<nav class="mega-nav navbar-nav" id="mega-nav">
    <div class="nav-item d-flex justify-content-between align-items-center collapsed" data-toggle="collapse"
        data-target="#megamenu-0" aria-expanded="true">
        <a class="h4">Who We Are</a>
        <div class="-icon d-lg-none">
            <i class="icon-plus--black" aria-hidden="true"><svg width="18" height="18"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.9 8.1h7.2a.9.9 0 0 1 0 1.8H9.9v7.2a.9.9 0 0 1-1.8 0V9.9H.9a.9.9 0 0 1 0-1.8h7.2V.9a.9.9 0 0 1 1.8 0v7.2z"
                        fill="#171717"></path>
                </svg></i>
        </div>
        <div class="-icon d-none d-lg-none">
            <i class="icon-minus--black" aria-hidden="true"><svg width="18" height="2"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="347" y="13" width="18" height="2" rx="1" transform="translate(-347 -13)" fill="#171717">
                    </rect>
                </svg></i>
        </div>
    </div>
</nav>